[2019-08-07 23:01] yurishkuro opened #1718 "Jaeger In-depth security"
In the [2019-05-04 Jaeger security audit](https://github.com/jaegertracing/security-audits/blob/master/SECURITY_AUDIT_2019_05_04.pdf), the auditors wrote:

However, the auditors were concerned with the lack of the actual security mechanisms:

This issue is a checklist of the existing security mechanisms in Jaeger, and any remaining gaps. It is broken into pairwise connections between Jaeger compon

[2019-08-08 00:46] Sasasu commented on #1696
I believe `WriteBatch([]*model.Span, BatchWriteOption)` is batter, if the Writer interface has an options parameter, I can add more meta information to customer storage without modifying the Writer interface.
Also for the queue in collector.
Also for grpc storage plugin, use reserved keywords to tell others which field can be used.

[2019-08-08 08:49] chandresh-pancholi commented on #1596
We can figure out Protocols by reading bytes. Below is the code.
In the binary protocol, I am reading the first 4 bytes which are significant to understand the protocol.
In compact, first byte is good enough to figure out the protocol.

[code]

[2019-08-08 11:11] burmanm opened #1719 "Badger index merge is working incorrectly"
## Problem - what in Jaeger blocks you from solving the requirement?

While doing some additional tests, I managed to create a case where the end result that used multiple index queries was not correct.

Merge-join processing has bugs.

* Missing one advance in the equality compare
* Input for the next round should be the output of previous invocation (in same sorted order)

## Proposal - what do

[2019-08-08 12:46] jpkrohling opened #1722 "gRPC batch without service name crashes the collector"
When developing the Jaeger Span Exporter via gRPC for OpenTelemetry, I got into a situation where I have a batch, but no `Process` object. Sending such a batch to the collector via gRPC results in the server crashing, due to:

[code]

Of course my OpenTelemetry code has to be fixed, but the collector should never crash because of bad data.

[2019-08-08 13:05] jpkrohling commented on #1722
Once that one is fixed, this one fails:

[code]

[2019-08-08 13:13] pavolloffay commented on #1722
Maybe the process struct should never be `nil`.

[2019-08-08 15:01] roippi opened #1724 "add UI ability to collapse spans below threshold"
## Requirement

When I view a trace, I would like the option to collapse all parent spans with duration less than some configurable threshold.

## Problem

The default trace view expands all spans by default.

https://github.com/jaegertracing/jaeger/issues/1552 proposed dropping spans below some threshold.  This is not what I want - I do like that these small spans are there; they just take up a l

[2019-08-08 15:55] yurishkuro commented on #1722
the business rule we need to enforce is either spans have individual Process entries, or the batch has one they can fall back to. Both being null is invalid input.

[2019-08-08 16:04] roippi commented on #1724
Realized this belongs in the [UI repo](https://github.com/jaegertracing/jaeger-ui).  I'll close and reopen over there.  Thanks.

[2019-08-08 16:04] #1724 closed

[2019-08-08 18:29] guanw commented on #1664
Similar issues exist in jaeger-client-go `sampler.go`. See screenshot for details:
![image](https://user-images.githubusercontent.com/7311035/62728110-eb22fa00-b9e8-11e9-89d7-f51861a44e08.png)

[2019-08-08 18:46] Abhi-khandelwal commented on #1300
Hi @black-adder, I'm new to this community, can I work on this issue ?

[2019-08-08 19:23] yurishkuro commented on #1300
@Abhi-khandelwal by all means, but not that at this point it's a documentation task, not coding.

[2019-08-08 21:55] radekg opened #1725 "Elasticsearch docker images build failure"
I was building fresh images using the 1.13.1 release. While building docker images for elasticsearch (`make docker-images-elastic`), I experienced the following error:

[code]

I believe this is because the pip dependencies are not pinned. When I change in both docker files under `plugin/storage/es`:

[code]

to

[code]

the error disappears. The most recent curator version `5.7.6` does not appear

[2019-08-08 22:47] amanikmss opened #1726 "Receiving error - Updating sampler failed"
## Requirement - what kind of business use case are you trying to solve?
I have the Jaeger deployed as a container in ECS and I am trying to send traces to it (using C# Jaeger client) over HTTP from a Lambda web app (.NET Core). I have setup the environment variables (shown below) and am getting the Tracer using these environment variables.

`                Environment.SetEnvironmentVariable(Jaeg

[2019-08-09 02:48] yurishkuro commented on #1726
connecting sampler to remote collector is currently not supported, samplers can only talk to an http endpoint implemented by jaeger-agent.

[2019-08-09 02:53] yurishkuro commented on #1725
would like like to create a pull request?  Dockerfiles are in plugin/storage/es

[2019-08-09 03:48] yurishkuro commented on #365
@lookfwd great proposal! We're actively discussing it right now for an internal project. One major issue we bumped into with it is this: when possible strategies are represented as a list and need to be matched one by one for a given span, it works pretty well if the match process runs only once. But in your proposal there's no specific demarcation event that tells the tracer "do it now", instead

[2019-08-09 04:11] yurishkuro commented on #1596
Did you check if we're using "strict writes" in binary? because in non-strict mode binary writes struct name without any prefix.

If strict write is confirmed, then the check seems to be even simpler, binary starts with 0x80 (first byte of `VERSION_1 = 0x80010000`), compact with 0x82 (`COMPACT_PROTOCOL_ID`).

[2019-08-09 04:28] Abhi-khandelwal commented on #1300
Ohk @yurishkuro , I'll try to fix some other beginner coding issues. :)

[2019-08-10 16:36] p0larstern commented on #1566
Hey, I would like to help if no one has planned to take this up, but I am new to this community and might need guidance at some points.

[2019-08-10 16:45] yurishkuro commented on #1566
I am going to close this, there are too many changes for very little benefit.

[code]

[2019-08-10 16:45] #1566 closed

[2019-08-10 20:12] #1722 closed

[2019-08-11 11:08] p0larstern commented on #1462
I would like to help with this issue since it is for beginners, I am new to contributing and might need some help.

[2019-08-12 06:13] GuardMoony commented on #1474
@pavolloffay can you check if everything is working now? olivere/elastic#1146 issue has been fixed and released.

[2019-08-12 08:53] pavolloffay commented on #1474
Yes I am reviewing #1690

[2019-08-12 10:55] GuardMoony commented on #1474
thx for the update

[2019-08-12 11:48] pavolloffay commented on #1494
It does not seem to fix the problem

Now it fails with
[code]

[2019-08-13 15:19] yurishkuro opened #1729 "Adaptive sampling should preserve accumulated rate limiter balances"
## Requirement - what kind of business use case are you trying to solve?

Dynamically update lower-bound rate limiter settings in adaptive sampling.

## Problem - what in Jaeger blocks you from solving the requirement?

Many Jaeger clients implement this by completely replacing rate limiters with a new object, discarding the current accumulated balance of the existing rate limiter.

## Proposal -

[2019-08-14 12:18] pavolloffay commented on #1297
done in #1677

[2019-08-14 12:18] #1297 closed

[2019-08-14 14:13] jpkrohling commented on #993
I'm removing the `outreachy` label, as I think the research is done.

[2019-08-14 14:40] vprithvi opened #1731 "Firehose mode - skip indexing"
## Requirement - what kind of business use case are you trying to solve?
Certain applications in our organization have their own discovery mechanisms for traceIDs, and would like to depend on Jaeger only for retrieving traces by traceID.

## Problem - what in Jaeger blocks you from solving the requirement?
Jaeger provides no mechanism for differentiating traces that do not require search and index

[2019-08-14 14:58] pavolloffay opened #1732 "Release 1.14.0"
It has been over one month since the last release. I am creating this to track release 1.14.0

Date: week 19-23 September or later date if dependent PRs will not bemerged

@jaegertracing/jaeger-maintainers please link pending issues or PR which should be included in the release.

@tiffon or jaeger-ui maintainers could you please cut a new UI release?

## Missing documentation

- [x]  ES7 support a

[2019-08-14 15:23] pavolloffay commented on #1732
I would like to get in:

* ES7 support https://github.com/jaegertracing/jaeger/pull/1690
* Zipkin protobuf over HTTP https://github.com/jaegertracing/jaeger/pull/1695

[2019-08-15 17:38] zheyiyi opened #1734 "where is the code of jaeger-ingester"
Can I ask where is the code of jaeger-ingester? Do you put it on github?

[2019-08-15 17:42] yurishkuro commented on #1734
https://github.com/jaegertracing/jaeger/tree/master/cmd/ingester

You can use github search in the future.

[2019-08-15 17:42] #1734 closed

[2019-08-15 18:39] vprithvi opened #1735 "Support serving Tracer configuration to clients"
## Requirement - what kind of business use case are you trying to solve?
Related to #1731

Add the ability to remotely turn on firehose mode for a given service

## Problem - what in Jaeger blocks you from solving the requirement?
Currently, Tracer configuration needs to be available locally when creating the Tracer.

## Proposal - what do you suggest to solve the problem or improve the existing s

[2019-08-16 00:42] FYfirst opened #1736 "Can I configure a sampling rate?"
I used jaeger-collector --sampling.strategies-file=/home/sakura/Desktop/jaeger-1.13.0-linux-amd64/strategies.json ,it worked but no effective.
Then,Running the test file strategy_store_test.go,I can see it loaded the sample configuration and I changed the sample.type to remote,it didn't work.

cfg := jaegerCfg.Configuration{
		Sampler: &jaegerCfg.SamplerConfig{
			Type:  "remote",
		},
		Reporter:

[2019-08-16 07:31] yevgenypats opened #1737 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-16 09:48] #1586 closed

[2019-08-17 14:04] guanw commented on #1736
Hi, You will have to pass a sampling strategy file as parameter when starting collector as now it only supports reading from static file.
See `plugin/sampling/strategystore/static/factory_test.go` for an example. Let me know if there's anything unclear to you

[2019-08-19 00:28] FYfirst commented on #1736
Thanks,I write the strategies.json like this,is right?
{
  "service_strategies": [
    {
      "service": "ContextMakeHappyEnding",
      "type": "probabilistic",
      "param": 1,
      "operation_strategies": [
        {
          "operation": "transporter",
          "type": "probabilistic",
          "param": 0.2
        },
        {
          "operation": "op2",
          "type": "probabilist

[2019-08-19 07:49] #1719 closed

[2019-08-19 10:14] pavolloffay opened #1739 "Elasticsearch query with large number of spans can miss spans or produce duplicates"
ES query uses a sorted query with `search_after` parameter with `timeStamp` field. However if there are multiple same timestamps the query can produce duplicate or missing results.

* https://www.elastic.co/guide/en/elasticsearch/reference/5.2/search-request-search-after.html#search-request-search-after
* https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html#requ

[2019-08-19 13:55] guanw commented on #1736
If I'm not mistaken, it should already be overridden by `defaultSamplingRefreshInterval`() which is one minute. Could you elaborate what you mean by `param=1 it can't report to the collector`? maybe a screenshot would be helpful?

[2019-08-19 20:47] sergiimk opened #1741 "Handling of expected error codes coming from grpc storage plugins"
## Requirement - what kind of business use case are you trying to solve?

We are implementing a custom gRPC-based storage plugin as per [this doc](https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/grpc/README.md).

## Problem - what in Jaeger blocks you from solving the requirement?

When searching in jaeger UI for a **non-existing** trace ID the `GetTrace` function in the storage

[2019-08-19 23:30] sergiimk opened #1742 "gRPC plugin framework should be able to recover from panics"
## Requirement - what kind of business use case are you trying to solve?

We are implementing a custom gRPC-based storage plugin as per [this doc](https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/grpc/README.md).

## Problem - what in Jaeger blocks you from solving the requirement?

There are two related problems:
* When gRPC plugin panics the reason for panic is not shown in Jae

[2019-08-19 23:50] yurishkuro commented on #1742
Plugin framework is just https://github.com/hashicorp/go-plugin

I don't know if it supports recovery from plug-in crashes.

[2019-08-19 23:53] sergiimk opened #1743 "Add generic caching logic for storage plugins"
## Requirement - what kind of business use case are you trying to solve?

We are implementing a custom gRPC-based storage plugin as per [this doc](https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/grpc/README.md).

## Problem - what in Jaeger blocks you from solving the requirement?

The gRPC storage plugin is currently called upon every single UI interaction. For example refreshi

[2019-08-20 02:48] yurishkuro commented on #1743
Agreed. In our internal build we're wrapping the storage in an `autoRefreshCache` that returns service  and operation names from cache and periodically refreshes it from real storage in the background. It's been working pretty well. I can commit that code to github if someone is willing to work on adding a CLI flag for it (the refresh interval) and wiring the cache in the query-service main().

[2019-08-20 03:38] FYfirst commented on #1736
If i use defaultSamplingRefreshInterval ,I found that it wasn't get the Sampling config immediately.After 1 min,it will get config from sever,so it cound't update Samplie.param immediately.Although it gets the config after 1min,it cound't update Samplie.param too.Why?What should i do?

[2019-08-20 07:18] burmanm commented on #1743
Badger storage loads GetOperations & GetServices only during startup and then updates it rest of the time in the memory (with TTL purging happen during reads).

Generic caching approach would probably return stale replies in this case and perform a bit worse. I would assume something like Kafka / Badger could use subscription based caching (DB writes are automatically refreshing the cache's data),

[2019-08-20 09:51] gongbo2018 opened #1744 "run go get -v github.com/jaegertracing/jaeger/examples/hotrod/cmd have some errors"
**go env**

run `go get -v github.com/jaegertracing/jaeger/examples/hotrod/cmd`   have some errors

**error message:**

[2019-08-20 11:29] roinou opened #1746 "Badger storage still does not start in Docker"
I've read about issue #1543 but I still have an issue. Starting **Jaeger 1.13** with badger in ephemeral mode on works OK. but when deactivating the mode and try to pass local folders for the key and the data, here is what I get:

[code]

I tried changing folder location, putting both DATA and KEY in the same folder etc. without success. I'm running Docker on windows 10. My command:
`docker run
-p

[2019-08-20 11:44] roinou commented on #1746
OK, that was quick, we can close this one. Using a *named volume* rather than a direct volume mount solved the issue.

[2019-08-20 11:44] #1746 closed

[2019-08-20 13:06] chandresh-pancholi commented on #1596
Yes, Jaeger uses `<thrift.NewTBinaryProtocolFactoryDefault()>` which default sets strictWrite  true

builder.go #64
[code]
[code]

[2019-08-20 13:37] yurishkuro commented on #1743
The caching would be optional. And it only makes sense in installations that have a lot of services and operations. In our case we have thousands of services and 10s of thousands of operations. However, that data is pretty static.

An up to date remote cache shared between collectors and query services feels like an overkill.

[2019-08-20 13:40] yurishkuro commented on #1744
The readme explains how to run HotRod from source.

https://github.com/jaegertracing/jaeger/blob/master/examples/hotrod/README.md

[2019-08-20 17:19] guanw commented on #1736
What does your strategy json file look like? Take a look at `fixtures/strategies.json` and keep in mind that it's required to have a field `default_strategy` set there.(This is the default strategy if somehow adaptive sampling doesn't compute probability for your service/operationName) Maybe you are missing this field?

[2019-08-20 18:41] rutgerbrf opened #1748 "Allow default per-operation sampling strategies"
## Requirement - what kind of business use case are you trying to solve?

The `/health` and `/metrics` endpoint make other traces hard to find.

## Problem - what in Jaeger blocks you from solving the requirement?

These traces can be ignored with the fix of #814. This fix allows to set operation strategies on a per-service basis, but with a lot of services it can quickly become unmaintainable to

[2019-08-20 23:25] sergiimk opened #1750 "Unexpected rounding of string span tags containing big integers"
## Requirement - what kind of business use case are you trying to solve?

We are implementing a custom gRPC-based storage plugin as per [this doc](https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/grpc/README.md).

## Problem - what in Jaeger blocks you from solving the requirement?

The data that our plugin puts into Span tags can include big integer IDs (uint64). Since many lang

[2019-08-21 03:09] yurishkuro commented on #1750
I think it has been fixed in https://github.com/jaegertracing/jaeger-ui/pull/436.

Will be available in the next release.

[2019-08-21 05:22] FYfirst commented on #1736
I found the client need a ticker to get strategies.json.It means I will get the config after 1 min.So I changed the code in client,So when I craete a new tracer,I will getthe config immediately,I will updata my Samplie.param immediately.
[code]

[2019-08-21 11:01] jpkrohling commented on #1737
I think we could give it a try, but I'm trying to figure out one thing first: do contributors have to sign up for fuzzit in order to view the reports? I'd rather not force that upon our contributors.

[2019-08-21 11:34] yevgenypats commented on #1737
@jpkrohling So good question, it depends on what is your security policy.

The regression tests are run locally in the CI (Travis) and if there are any crashes the contributors will see it in the CI log and there is no need to sign-up for fuzzit.

The fuzzing which is essentially an infinite job that runs on fuzzit and alerts only when crashes are found. The most common use-case is to alert the se

[2019-08-21 11:42] jpkrohling commented on #1737
Thanks for your clarification.

Are you aware of GitHub Security Advisories? Perhaps they expose an API, allowing your tool to create one such advisory:

https://github.com/jaegertracing/jaeger/security/advisories

This will be visible only to project maintainers.

I think it makes sense, you have my +1.

[2019-08-21 13:10] yevgenypats commented on #1737
Yes, I'm aware of the github security advisories. currently they don't provide an API afaik but once they do we will for sure integrate.

Sounds good, we will look into the PR soon. will keep you posted once we have a draft PR.

[2019-08-21 17:58] jvans1 opened #1752 "Cannot page queries with both ORDER BY and a IN restriction"
## Requirement - what kind of business use case are you trying to solve?

Connecting Jaeger to CosmosDB backend with the Cassandra API

## Problem - what in Jaeger blocks you from solving the requirement?

I built binaries from the latest master and have a jaeger collector successfully writing to the cosmosdb cassandra API backend. When I run jaeger-query for a specific operation it works:

![Scre

[2019-08-21 23:59] sergiimk commented on #1750
Oh, I didn't think about submodules when testing against master. Can confirm the issue is fixed in latest `jaeger-ui`.

Thanks a lot for a quick response!

[2019-08-21 23:59] #1750 closed

[2019-08-22 12:01] pavolloffay commented on #1474
@jaegertracing/elasticsearch the `latest` images now support ES7. Enjoy! And thanks to @gregoryfranklin!!!

[2019-08-22 12:36] Abhi-khandelwal commented on #1741
Hi @yurishkuro , Can I work on this issue ?

[2019-08-22 14:43] yurishkuro opened #1754 "Cannot connect to query-service via gRPC"
Reported by @32leaves on Gitter.

## Requirement - what kind of business use case are you trying to solve?

Programmatically retrieve traces via gRPC endpoint on all-in-one.

## Problem - what in Jaeger blocks you from solving the requirement?

https://gist.github.com/32leaves/8d422784ad7cb105ff4b1a36e8726222

gRPC client cannot complete the handshake with the server.

## Proposal - what do you su

[2019-08-22 15:08] yurishkuro commented on #1741
@Abhi-khandelwal by all means

[2019-08-22 17:44] prana24 opened #1755 "Way to identify tenant info in each span"
## Requirement - what kind of business use case are you trying to solve?
Our jaeger tracing set up are used by multiple client  from different  kubernetes cluster , Is there a way we can identify spans   on the basis of cluster  and client ?  Something  in setting  or  at the agent level ?

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to s

[2019-08-23 07:35] jpkrohling commented on #1755
You can make use of the `--jaeger.tags` CLI option for the agent:

From the Agent's `--help` switch:
[code]

Most clients also have something similar that can be specified via the env var `JAEGER_TAGS`:
https://www.jaegertracing.io/docs/1.13/client-features/

Note, however, that you shouldn't trust this if your clients can't be trusted, as they can also set a value for a tag with the same name, co

[2019-08-23 09:52] kiddo3 commented on #1474
Any way to make it work with jaeger-operator? Bacause the image used is 1.13.1.

[2019-08-23 10:37] pavolloffay commented on #1474
Yes, you can override collector and query images to `latest` in the CR.

[2019-08-23 14:58] prana24 commented on #1755
cool ,  i assume   `jaeger.tags `   should work with kubernetes deployment of  jaeger agent as well right  ?

[2019-08-23 15:06] pavolloffay commented on #1732
We are also waiting for https://github.com/jaegertracing/jaeger/pull/1756

[2019-08-23 15:10] jpkrohling commented on #1755
Yes, just set that via `options`. We do plan to automatically inject the `namespace` and `name` via the jaeger-operator.

[2019-08-23 19:44] yurishkuro commented on #1752
This sounds more like an incompatibility of CosmosDB features with what Cassandra supports.

[2019-08-26 07:33] annanay25 commented on #1333
@Abhi-khandelwal - would you like to give this a shot?

expvar is an interface which helps to instrument and expose metrics from a golang application, you can read more about it here - https://sysdig.com/blog/golang-expvar-custom-metrics/

[2019-08-26 09:19] pavolloffay commented on #1732
@yurishkuro @everett980 the UI hasn't been released. @everett980 I have seen you have done the last two releases. Could you please cut the next release?

[2019-08-26 09:30] Abhi-khandelwal commented on #1333
@annanay25, yeah sure.

[2019-08-26 13:30] EaconTang commented on #207
Q: If applicable, what company/organization do you represent? How many software engineers?
A: Tencent TEG Infosec Department, about 300+ engineers.

Q: How are you using Jaeger?
A: Full production deployment.

Q: How long have you been using Jaeger?
A: Since May in 2019, has been about 4 months.

Q: If you are not using Jaeger but chose another tracing system, what were the reasons?
A: We are usin

[2019-08-26 15:04] d-ulyanov commented on #207
Q: If applicable, what company/organization do you represent? How many software engineers?
A: Ozon (e-commerce, marketplace), about 500 engineers.

Q: How are you using Jaeger?
A: Full production deployment (either for Kubernetes + legacy non-Kubernetes services).
Our setup of Jaeger is strongly modified and most of the components have been rewritten (except for UI, see details below)

Q: How long

[2019-08-26 18:04] backjo opened #1760 "Jaeger Agent container should trust certificates from public CAs by default"
## Requirement - what kind of business use case are you trying to solve?
We use public certificates to secure our gRPC communicates on the Jaeger collector. These are signed by trusted Certificate Authorities, so the expectation is that the agent would trust them by default.  However, these are not trusted today by the Jaeger agent.

## Problem - what in Jaeger blocks you from solving the requirem

[2019-08-26 19:52] ScottKaye opened #1761 "Why is Elasticsearch's ignore_above mapping explicitly set to 256?"
## Requirement - what kind of business use case are you trying to solve?

I'm attempting to store stacktraces in my traces.  I log the full exception, which is very often over 256 bytes.  Since this value is greater than 256 bytes, I can't run aggregations (or even query for it at all) since it is ignored by Elasticsearch.

Here's an example of one of my logs:

[code]

## Problem - what in Jaeger

[2019-08-26 22:10] yurishkuro opened #1762 "Run client crossdock integration tests with all-in-one instead of Cassandra"
Client crossdock integration tests often fail because we have to wait too long for Cassandra, while specifically having a persistent storage is not relevant for those tests.

@Falco20019 wrote an awesome fix in jaegertracing/jaeger-client-csharp#152 to use all-in-one for all Jaeger backend components, which makes the test run much faster and hopefully more reliably. I've already applied that fix t

[2019-08-27 00:19] sergiimk opened #1763 "Concurrency model of gRPC plugins"
## Requirement - what kind of business use case are you trying to solve?

We are implementing a custom gRPC-based storage plugin as per [this doc](https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/grpc/README.md).

## Problem - what in Jaeger blocks you from solving the requirement?

Could you please clarify what is the concurrency model of a gRPC plugin in Jaeger. I'm getting fol

[2019-08-27 08:46] #1760 closed

[2019-08-27 09:22] pavolloffay commented on #1761
`ignore_above` does not seem to be removed/deprecated in 7.x https://www.elastic.co/guide/en/elasticsearch/reference/7.2/ignore-above.html. Could you provide pointer to docs whether it is used or not?

I think this would not be used by jaeger query. If that affects performance it might not be well suited for all users. As you mentioned there is a possibility to change the mapping for users who nee

[2019-08-27 13:16] objectiser commented on #1732
Would it be worth adding https://github.com/jaegertracing/jaeger/pull/1733?

[2019-08-29 06:24] zhaopangithub opened #1765 "Ingester docs port is deprecated"
https://www.jaegertracing.io/docs/1.13/deployment/#ingester
ingester Health check at / and Metrics endpoint port should is 14270 port ?

![image](https://user-images.githubusercontent.com/16744923/63915449-b5fa4c80-ca68-11e9-9b58-cdf69fe29248.png)

[2019-08-29 14:46] zoidbergwill commented on #513
I managed to fix it by altering the keyspace, in test mode though.

[code]

[2019-08-29 16:12] forestsword commented on #1752
For others... I attempted to try and see if I could fix this. I discovered paging is _already_ disabled for this query:

https://github.com/jaegertracing/jaeger/blob/67243904eebe9ac8ef3b9183c8715f55d075644a/plugin/storage/cassandra/spanstore/reader.go#L390-L402

I've tried a few other things like disabling paging on the session itself and changing the query but with no luck. It looks as though Cos

[2019-08-30 03:37] yurishkuro commented on #1765
I think you're correct, metrics and admin ports have been merged into one in 1.12, e.g. this line https://github.com/jaegertracing/jaeger/pull/1442/files#diff-ee491227a60cb5a536f2b62154bfc0baL63

[2019-08-31 19:43] yurishkuro commented on #1732
Joe released the UI: https://github.com/jaegertracing/jaeger-ui/releases/tag/v1.4.0

[2019-08-31 19:47] tiffon commented on #1732
Re the CHANGELOG, I generally derive it from pull-requests, not the commit log. The [script mentioned in the RELEASE doc](https://github.com/jaegertracing/jaeger-ui/blame/6f78c8d70714887ef4ba93c22219a3f783c12b63/RELEASE.md#L11) outputs markdown of the merged PRs, sorted by the date they were merged. They just need to be filtered and polished.

E.g. from the project root:

[code]

[2019-09-02 10:32] #1754 closed

[2019-09-02 10:40] pavolloffay commented on #1755
It seems like the question has been answered, I am closing this in favor of https://github.com/jaegertracing/jaeger-operator/issues/632

[2019-09-02 10:40] #1755 closed

[2019-09-02 10:42] pavolloffay commented on #1744
I am closing this, we do not support `go get` as an installation way for hot rod.

[2019-09-02 10:42] #1744 closed

[2019-09-02 10:46] pavolloffay commented on #1725
Was fixed in https://github.com/jaegertracing/jaeger/pull/1495

[2019-09-02 10:46] #1725 closed

[2019-09-02 10:48] pavolloffay commented on #1732
Thanks for the release @tiffon

[2019-09-02 10:59] pavolloffay commented on #1731
@yurishkuro is this done?

[2019-09-02 12:19] gongbo2018 commented on #1744
OK, I know.   Thank you!!!

[2019-09-02 15:21] #1732 closed

[2019-09-02 16:13] yurishkuro commented on #1731
not quite

[2019-09-03 07:59] vijaybirru commented on #1435
@PruthviKumarBK @yurishkuro @jpkrohling
Even am facing same issue unable to get the traces in Jaeger UI , Application is running in container properly
can you please help me, i need to implement this Jaeger on total project (Microservices in docker)
vijaykumar.birru@gmail.com

[2019-09-03 16:35] zheyiyi opened #1770 "how to add value into process of Jaeger UI"
I use opencensus to create spans.

span.putAttribute(key,value)-----> jaeger UI's  tags
span.annotation---->jaeger UI's logs

My question is that on Jaeger Ui, How to add things into process?

![image](https://user-images.githubusercontent.com/12801407/64191761-2f1de900-ce47-11e9-8dd1-42b78429e7bb.png)

[2019-09-03 17:57] yurishkuro commented on #1770
I am not sure how you can add them with OpenCensus. Jaeger libraries support the notion of "tracer tags" that are added to Process. Similarly, Jaeger agent supports "agent tags" that are also added to the Process. If you are only using OpenCensus library & agent before sending data to Jaeger, then you  should open a ticket with them asking about it.

[2019-09-04 06:58] luoyu2015 opened #1772 "jaeger collector drop spans while queue is not full"
## Requirement - what kind of business use case are you trying to solve?
We use jaeger 1.13(collector version) for distributed tracing in our production envrionment

## Problem - what in Jaeger blocks you from solving the requirement?
I noticed that jaeger collector dropped spans even when the queue is not full, but from what I saw in source code, spans are only dropped when the queue is full or s

[2019-09-04 07:13] jpkrohling commented on #1770
Just to complement @yurishkuro's answer, the "agent tags" can be set by passing a comma-separated list of key=value pairs via the flag `--jaeger-tags`. Tracer tags can be passed using the same notation via the `JAEGER_TAGS` env var.

[2019-09-04 07:18] jpkrohling commented on #1772
Prometheus scrapes the metrics endpoint from time to time. It is possible that the queue got full for a short period of time causing spans to drop but when the metrics got scraped, the queue has been drained up a bit already.

Do you have enough resources for your collector, to increase the queue size to, say, 4000?

[2019-09-04 08:15] luoyu2015 commented on #1772
It seems that the number of dropped spans decreased rapidly after I increase the queue size to 4000, thank you very much
![image](https://user-images.githubusercontent.com/16425114/64237118-4b488580-cf2e-11e9-8be3-eff5d566dca6.png)

Btw, the annotation in https://github.com/jaegertracing/jaeger/blob/master/pkg/queue/bounded_queue.go
says `if it fills up due to slow consumers, the new items written

[2019-09-04 08:53] jpkrohling commented on #1772
I actually tested this when writing the blog post on [performance tuning](https://medium.com/jaegertracing/tuning-jaegers-performance-7a60864cf3b1), and it is indeed the oldest item that is getting dropped :-)

[2019-09-04 08:59] luoyu2015 commented on #1772
Ok, I get it, thank you so much.

[2019-09-04 08:59] #1772 closed

[2019-09-04 18:32] tommy20061222 commented on #1435
Any updates on this issue? I did add JAEGER_AGENT_HOST, and JAEGER_AGENT_PORT to my docker-compose file, and when the application start, i can see on my application container console Jaeger.Reporter has been printed out, but under Jaeger UI, under serivices, i can only see Jaeger-query, but unable to see the service i specified in the code. Please help!!!!

[2019-09-05 04:40] yurishkuro commented on #1435
Folks,

make sure you can run the HotROD example in your setup first. It comes with its own compose file `./examples/hotrod/docker-compose.yml`. Then try swapping hotrod for your application. If it's in another language, check the client features matrix in the docs if client in your language supports the same env variables (if not, you can always configure it programmatically).

[2019-09-05 07:00] vijaybirru commented on #1435
@yurishkuro
cat docker-compose.yml
version: '3.3'
services:
 jaeger:
   image: jaegertracing/all-in-one:latest
   ports:
     - "6831:6831/udp"
     - "80:16686"
   networks:
     - jaeger-example
 hotrod:
   image: jaegertracing/example-hotrod:latest
   ports:
     - "8080:8080"
   command: ["all"]
   environment:
     - JAEGER_AGENT_HOST=jaeger
     - JAEGER_AGENT_PORT=6831
   networks:
     - j

[2019-09-05 08:42] jpkrohling commented on #1435
Please, follow the [troubleshooting guide](https://www.jaegertracing.io/docs/1.14/troubleshooting/) and try it out first without Docker Compose, to make sure it's not a problem in your Docker networking setup. If you still have problems, leave a comment with your findings from the troubleshooting guide (log messages, commands you executed, ...).

[2019-09-05 12:22] tommy20061222 commented on #1435
Ok, i figure it out, at least in my case.  It turns out when i initialize the jaeger reporter, i need to specifiy the sender, in this case, is the docker container named "jaeger", so here is the code:

`  var reporterConfiguration = new Configuration.ReporterConfiguration(loggerFactory)
                .WithLogSpans(true)
                .WithSender(new Configuration.SenderConfiguration(loggerFact

[2019-09-05 13:32] ScottKaye commented on #1761
I have solved my requirement with the new index template option in #1627.  This is likely the best solution for anybody else facing this.  Thank you!

[2019-09-05 13:32] #1761 closed

[2019-09-05 14:57] Sasasu opened #1773 "want to add time_bucket on every Cassandra index table"
## Requirement - what kind of business use case are you trying to solve?
We use Cassandra as storage backend and find two bad indexes: `service_operation_index` and `tag_index`
these indexes will create a very very long row on the Cassandra node, which significantly increases the load of the nodes.

https://github.com/jaegertracing/jaeger/blob/fb5505005a21f007792dedbcd2ad49484d1d587e/plugin/storag

[2019-09-06 03:42] panjunDev opened #1774 "jaeger-ingester consumer error"
![image](https://user-images.githubusercontent.com/16041012/64399534-510fa980-d09b-11e9-9377-0d972318c3f7.png)

[2019-09-06 06:13] panjunDev commented on #1774
When ingester has more than one instance,it will display those messages.

[2019-09-06 08:52] chopper-poet opened #1775 "Jeger log output to file"
if there a way to output log to a logfile and carve up by date,like this '2019-09-06.log'

[2019-09-06 12:00] guanw commented on #1774
There is not enough info, could you dump the entire log to a file maybe?

[2019-09-06 12:09] vprithvi commented on #1774
All of these messages are logged at `INFO`, and is part of normal operations.

[2019-09-06 12:43] jpkrohling opened #1776 "Panic when jaeger-tags value is set to env var without default value"
When using the `--jaeger-tags` flag with a value being set by env vars, the agent crashes when no default value is specified. Example:

[code]

The Jaeger Agent will crash when parsing the value for `envKey3`, as it expects a default value to exist:

[code]

[2019-09-06 13:10] jpkrohling opened #1778 "Allow de-duplicating Span.Process, agent, and collector tags"
## Problem - what in Jaeger blocks you from solving the requirement?

When using `--jaeger-tags` in the Agent, and the same tags as `JAEGER_TAGS` on a client such as the Java client, the tags are being duplicated:

![image](https://user-images.githubusercontent.com/13387/64429976-8a561280-d0b7-11e9-8cf0-121968880d4c.png)

This is probably the relevant code:
https://github.com/jaegertracing/jaeger/

[2019-09-06 13:11] jpkrohling commented on #1776
A workaround is to simply add `:` to the notation, like: `${envKey3:}`, instead of `${envKey3}`

[2019-09-06 13:14] lookfwd commented on #365
@yurishkuro - sorry, I missed it. The points when one needs to know if sampling is true or false, is when the context is about to be injected to a carrier or when one is about to finish the Span. If those are used as "apply sampling rules now" trigger(s) i.e. lazily evaluating `should_sample()` when one needs it, should give good full or partial traces as far as I can see.

More specifically I wou

[2019-09-06 13:39] mariusoe opened #1779 "[Question] Additional analysis view for detailed trace overview and span statistics"
Hi,

me and my team at Novatec and the [inspectIT project](https://inspectit.rocks) are currently working on a new section for Jaeger's "trace view" (actually most of the work is done by @fylip97) which can be used to analyse spans contained in a trace and to display - in an aggregated way - statistics based on them. Basically, it is a different view of a trace. It's a table showing different stat

[2019-09-06 13:56] reinpold commented on #576
@simonpierreroy1 Thank you for sharing this, it's very useful. Do I understand correctly that your client does not provide the functionality to [inject a SpanContext into a carrier](https://github.com/opentracing/specification/blob/master/specification.md#inject-a-spancontext-into-a-carrier) using [Jaeger's propagation format](https://www.jaegertracing.io/docs/1.14/client-libraries/#propagation-fo

[2019-09-06 15:03] guanw commented on #1775
@panjunDev Does [this](https://github.com/jaegertracing/jaeger/pull/1587/files) help?

[2019-09-07 01:19] bookmoons commented on #1737
https://github.com/jaegertracing/jaeger/compare/fb5505005a21f007792dedbcd2ad49484d1d587e...bookmoons:4260d517b9cfb1eb381c9669c692936664245fce has something toward this. It targets:
* Thrift deserialization.
* JSON deserialization.
* Requests to an agent.

If there are other bits that deserve fuzzing I can look into it. Will be prepping a PR for this soon.

[2019-09-07 04:29] yurishkuro opened #1781 "Unpin gRPC"
For some reason #1492 pinned gRPC to a specific release, we need to unpin it. It will require resolving these issues:
[code]

[2019-09-07 10:22] panjunDev commented on #1774
When ingester has more than one instance,it will display those messages.

[2019-09-07 10:22] panjunDev commented on #1775
yes.

[2019-09-07 14:26] #1776 closed

[2019-09-07 14:44] yurishkuro commented on #1779
Hi @mariusoe,

it looks useful, thanks for posting. I have a few questions:
  * Could you explain what the columns mean, specifically "Exc"?
  * How do you interpret the first column? It looks like you group by the span name and then by service name, which feels kind of odd because aggregating endpoints across different services, even if the endpoints are named the same, is kind of meaningless
  *

[2019-09-07 14:47] yurishkuro commented on #365
@lookfwd you might be interested in these two PRs (https://github.com/jaegertracing/jaeger-client-node/pull/377, https://github.com/jaegertracing/jaeger-client-node/pull/380), which introduce a shared sampling state for spans in-process and allow delaying sampling decision.

[2019-09-07 17:37] vijaybirru commented on #1435
@jpkrohling
i followed this **https://github.com/TheManawaha/opentracing_demo.git** github page and modified my code as per it,now am able to see docker application traces in Jaeger UI
this is the docker-compose.yml
version: '2'

services:
        jaeger:
                image: jaegertracing/all-in-one:latest
                ports:
                        - "5775:5775/udp"

[2019-09-07 23:16] yurishkuro opened #1782 "[elasticsearch] Jaeger Collector goes down frequently with error "panic: runtime error: invalid memory address or nil pointer dereference""
Reported through the mailing list https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/jaeger-tracing/g9uVCUL28Ls/8SeJy8-ZAQAJ

[code]

[2019-09-07 23:16] yurishkuro commented on #1782
@pavolloffay this sounds like a potential bug in olivere/elastic, since I don't recall us interacting with any channels.

[2019-09-08 07:42] jan25 commented on #1600
Looks like either you can use `lookback` or `startTime` param. If you provide `lookback`, its indirectly converted to `startTime = endTime - lookback`. So, if i understand the [logic](https://github.com/jaegertracing/jaeger/blob/master/cmd/query/app/query_parser.go#L150) correctly, you can either drop the `startTime` param or set it to `''` empty string

[2019-09-08 12:20] Sasasu commented on #1600
why not just search `error=true`

[2019-09-08 12:40] Sasasu commented on #1779
I think "Exc" means the time spent on this service. total time = exc time + other time not in my code

but I still have the question about the first column. Maybe shared the topology can let me understand.

[2019-09-08 13:22] guanw commented on #1781
@yurishkuro I can work on this?

[2019-09-08 14:31] guanw commented on #1781
`WithDefaultServiceConfig` introduces a json string `serviceConfig` that looks like [this](https://github.com/grpc/grpc/blob/master/doc/service_config.md), should we also introduce a flag for this which defaults to `{"loadBalancingPolicy":"round_robin"}`

[2019-09-08 14:37] guanw commented on #1781
Also when I comment out `override` section for `google.golang.org/grpc` in toml file and do `dep ensure -update google.golang.org/grpc`, the following error shows (incomplete log):
![image](https://user-images.githubusercontent.com/7311035/64489715-564c3000-d224-11e9-82aa-47f581b96286.png)

Looks like @objectiser introduces the revision. Any idea we are pinning `jaeger-client-go` to `6733ee486c780

[2019-09-08 15:55] yurishkuro commented on #1781
I already have a PR to remove client pin: #1780

[2019-09-08 15:58] yurishkuro commented on #1781
I assume json is an option, not a requirement, i.e. do we still have programmatic way to configure? I prefer we fix the main issue first, not introduce new configuration options.

[2019-09-08 16:06] yurishkuro commented on #1516
Perhaps an even better way would be to change the tests from using `integration` build tag to have specific tag for each storage type, so that we don't even run irrelevant tests.

[2019-09-08 16:08] yurishkuro opened #1784 "[elasticsearch] Integration tests started taking too long"
I've noticed that ES integration tests started taking over 15min, making it the longest running matrix step. Not sure what's responsible for that, but one issue is that the tests seems to be running three times, e.g. `TestElasticsearchStorage/GetDependencies` in https://travis-ci.org/jaegertracing/jaeger/jobs/582349875

cc @pavolloffay

[2019-09-08 17:40] annanay25 commented on #1770
@zheyiyi - We used [this sheet](https://docs.google.com/spreadsheets/d/1I-rP_H9UtgqwRM863hVMTHH6AEsJbPCPXWPRy8lVzzw/edit?usp=sharing) as reference while writing the OC proto -> Jaeger proto translation.

There was no direct mapping from OC proto for the `Process` field, but it should be populated when `StackTrace` is populated in the OC span.

Hope this helps.

[2019-09-08 19:59] yurishkuro commented on #1773
When we extended our retention window we also starting to get Cassandra errors 'partition too large'. I haven't thought much about using time buckets for these indices, it could be reasonable, but it does explode the number of queries, which could have the opposite effect of what you're trying to do (not to mention that you will need to dedupe the results). So far the approach we mainly used was t

[2019-09-09 05:37] AlexanderWert commented on #1779
Hi @yurishkuro , Hi @Sasasu ,

thanks for your feedback and questions!

1. Exc. Time means exclusive time. Exc. Time = Total Time - Sum(Total time of all blocking, directly called child spans). This of course ist only applicable on synchronous / blocking span execution. However, in this case from our customer experience is a very helpful metric to quickly identify hot spots on the critical paths.

[2019-09-09 07:03] bookmoons commented on #1737
https://github.com/jaegertracing/jaeger/compare/c30f242328b588f48f2b103b2735c9657c63f4e6...bookmoons:11b1e8ec4bfca40bcae357631c1919322c9d6e3f has this PR prepped. There's a successful test build. I see fuzzing happening in the Fuzzit queue.
https://travis-ci.org/bookmoons/jaeger/builds/582532787

@dominikh Built this integration on your fuzzer work. jaeger has a commit signing requirement. Would y

[2019-09-09 07:18] pavolloffay commented on #1782
Yes it looks like from ES bulk processor.  I remember there was a fix which added nil checks to prevent similar errors hence we should find out what version of Jaeger they are running.

[2019-09-09 07:20] pavolloffay commented on #1782
This is the PR with nill checks https://github.com/jaegertracing/jaeger/pull/1467

[2019-09-09 08:04] dominikh commented on #1737
@bookmoons done.

[2019-09-09 08:10] jpkrohling commented on #1435
Sorry, I'm not familiar with Docker Swarm, but the idea is the same: if the agent is in the same network as the nodes, just adjust the `JAEGER_AGENT_HOST` (and related env vars) to point to the agent's address.

[2019-09-09 16:01] fmhwong opened #1785 "Client and Jaeger backend compatibility"
Do we have a table mapping which versions of jaeger-client are compatible to which versions of Jaeger backend in dockerhub?

[2019-09-09 16:09] pavolloffay commented on #1785
I don't think we have a compatibility table but I would assume a client is compatible with Jaeger backend if the Jaeger backed exposes port which is supported by the client.

In other words we don't break wire formats between client collector.

[2019-09-09 16:19] pavolloffay commented on #1784
The elasticsearch test now runs 3 times: ES 5.x, 6.x and 7.x. It was more efficient to run all 3 in the same job as opposed to spin up 3 due to limited number of jobs.

We can reconsider and run those tests in 3 separate jobs one per ES version.

[2019-09-09 16:27] pavolloffay commented on #1775
I was about to close this, however zap supports logging to a file https://github.com/uber-go/zap/issues/294. We could have a switch with paths to log files.

[2019-09-09 16:54] guanw commented on #1781
@yurishkuro See https://github.com/grpc/grpc-go/issues/3003, looks like that's the only recommended way. We can put a `const serviceConfig = <service config json string>` for now to avoid setting flags.

[2019-09-09 18:17] fmhwong commented on #1785
Thank you

[2019-09-09 18:17] #1785 closed

[2019-09-09 22:16] yurishkuro commented on #1775
I would not recommend it. There are some scenarios where zap is not yet initialized and we write to stdout/err. And in general, knowing what to do with logs is the business of the orchestration system, not the application. If we start writing to files, we need to rotate them, that's additional configuration, etc.

[2019-09-10 00:14] bookmoons commented on #1737
Thanks a lot @dominikh.

[2019-09-10 02:28] yurishkuro commented on #1784
Maybe there is a way to parallelize some of steps?

Might be worth running as 3 separate Travis jobs, since each would be around 5-6min, still not the shortest among all jobs.

[2019-09-10 04:12] annanay25 commented on #1778
Aha, good catch!

I'd vote for the second option (prevent agent from adding tag if it already exists), because I can't think of a scenario where agent would have a more accurate value for a tag than a client.

P.S: This can also be marked "good first issue"!

[2019-09-10 05:42] #1435 closed

[2019-09-10 07:43] objectiser commented on #1778
The counter argument is that you want the agent to enforce an official/authoritative value and prevent the client from being able to override it.

Possibly we need a mechanism to enable the agent to know which action to take when a duplicate is found.

[2019-09-10 07:49] jpkrohling commented on #1778
So:

1. provide a flag `--duplicate-tags`, with the possible values `client` (keep client's value), `agent` (keep agent's value), and `duplicate` (the current behavior).
1. by default, `client` is used (or `duplicate`, if we want to be extra careful in case someone depends on the current behavior)

[2019-09-10 08:04] objectiser commented on #1778
Sounds good as long as we believe all tags are to be treated the same.

[2019-09-10 08:07] jpkrohling commented on #1778
Marking this as "good first issue". I'll implement this in a couple of weeks if we don't get volunteers :)

[2019-09-10 10:41] Pothulapati commented on #1778
I can take this issue :D

[2019-09-10 11:21] dm03514 commented on #1778
If something comes up @Pothulapati , I’d be happy to take it too :)

[2019-09-10 11:27] jpkrohling commented on #1778
@dm03514 we have plenty of good first issues. How about this one? https://github.com/jaegertracing/jaeger-operator/issues/654

[2019-09-10 14:50] vprithvi commented on #1774
This is normal operation, these messages would be displayed on every Kafka rebalance.

[2019-09-10 14:50] #1774 closed

[2019-09-10 21:24] eroji opened #1790 "Ingester performance impact vs direct collector/elasticsearch"
I am trying to deploy a Jaeger CR using the operator in Kubernetes, which is using Kafka based streaming strategy and the storage backend is Elasticsearch. The problem I am experiencing is that, when dealing with large amount of incoming traces, by using streaming strategy, the ingester seems to handle them in batches. This causes the amount of messages being temporarily stored in Kafka to pile up

[2019-09-11 00:07] yurishkuro commented on #1790
Are you monitoring ingester metrics for storage errors &retries?

Have you tried increasing the number of partitions on the Kafka topic?

[2019-09-11 00:27] eroji commented on #1790
Any documentation on how to do this?

No but I can certainly try

[2019-09-11 00:48] eroji commented on #1790
I increased the partition to 5 (from 1) matching the number of injester pods. I see that each of the injesters starts up with a respective Kafka topic partition assigned. Currently there is a low amount of traces flowing through so Jaeger is able to keep up. However, the batch behavior still seems to be present. There is about a 5-7 min delay until another batch of traces are processed and made av

[2019-09-11 02:11] chopper-poet opened #1791 "jaeger-ingester high availability"
Whether horizontal scaling is supported?

I start 2 ingester instances,it will intermittent display those messages.
![image](https://user-images.githubusercontent.com/16041012/64662804-44fd6080-d47c-11e9-9c79-3b75186519f6.png)

[2019-09-11 08:33] pavolloffay commented on #1775
Let's close this then. We don't want to pull in more logic for log management.

Users can redirect stdout/stderr to a file and rotate it by an external utility like `logrotate`  - https://linux.die.net/man/8/logrotate

[2019-09-11 08:33] #1775 closed

[2019-09-11 09:23] pavolloffay commented on #1784
Before splitting to 3 jobs I would wait for confirmation from CNCF that we are granted more jobs.

The single ES integration test takes about 7 minutes https://travis-ci.org/jaegertracing/jaeger/jobs/566691615.

[2019-09-11 09:57] jpkrohling commented on #1784
Are more jobs _required_ for this, or _desirable_? I understood that if we trigger 15 jobs, 5 might get queued and will be promptly executed once an worker is available.

What we could attempt to do is to better group the tests in stages, so that the quick jobs are executed first, providing quick feedback in case something basic is broken. Like:

[code]

And then:

[code]

Once the storage-related

[2019-09-11 14:15] pavolloffay commented on #1782
Closing done in #1467

[2019-09-11 14:15] #1782 closed

[2019-09-11 20:47] yurishkuro commented on #1713
Another recent failure https://travis-ci.org/jaegertracing/jaeger/jobs/582922510

@guanw had a potential explanation in https://github.com/jaegertracing/jaeger/pull/1786#issuecomment-529948361

[2019-09-12 07:28] Kyle-sandeman-mrdfood opened #1794 "All-in-one docker container shows confusing logs"
## Requirement - what kind of business use case are you trying to solve?
The all-in-one image seems to start with an error, causing confusion

## Problem - what in Jaeger blocks you from solving the requirement?

The error seems to be gRPC never announcing it comes back online after transient failure
## Proposal - what do you suggest to solve the problem or improve the existing situation?

If the

[2019-09-12 07:29] Kyle-sandeman-mrdfood commented on #1794
cc @jpkrohling

[2019-09-12 07:45] jpkrohling commented on #1794
For the `all-in-one` (which is the case here), we should be able to get around this by making sure things start in the right order.

[2019-09-12 15:13] skwiffhub opened #1796 "v1.14 all-in-one memory leak"
## Requirement - what kind of business use case are you trying to solve?

Testing using the Jaeger client and all-in-one, with the all-in-one receiving span reports from the client and also functioning as the sampling server.

## Problem - what in Jaeger blocks you from solving the requirement?

Running under Ubuntu 16.04 (`uname -a` output: `Linux myhost 4.4.0-159-generic #187-Ubuntu SMP Thu Aug

[2019-09-12 15:45] #1796 closed, assigned to nobody

[2019-09-13 07:40] jpkrohling commented on #1796
The getting started does include this:

I might be too used to Jaeger, but when I think about the fact that it has in-memory storage, it's clear to me that memory will grow in the same rate as the span ingestion. We could perhaps add an explicit call out to the `--max-traces` flag in that doc, though.

I'm open to discuss your point 1 (I think others are open too), but I'm against points 2 and 3:

[2019-09-13 08:23] pavolloffay commented on #1790
The write to Elasticsearch is done in batches. It can be controlled by the following flags:
[code]

[2019-09-13 14:44] chandresh-pancholi commented on #1741
@sergiimk I will be picking this up as there is no activity on this thread.

[2019-09-13 17:35] vprithvi commented on #1779
@AlexanderWert I'm curious - it seems like this table is a proxy for identifying spans that are in the critical path of requests; are the aggregate latency numbers useful on their own, or are they useful mainly to provide ordering?

Could visualizing the critical path in the trace view be better for your use case?

For e.g., see the following screenshot with the critical path highlighted in an ugl

[2019-09-13 17:55] yurishkuro commented on #1779
I find the numerical view also useful, especially in a large trace where visualizing critical path might be difficult, while the table can be easily sorted by the maximum impact of self time.

[2019-09-13 19:08] everett980 commented on #1779
The trace graph is still in an "Experimental" state, but does support coloring based on self time. Refactoring that or adding a button to color based on self/total time as a percentage of parent time may be an intuitive way to surface the critical path.

[2019-09-15 06:09] Sasasu commented on #1773
a const number can not guarantee this primary key is on different Cassandra node.
I will do some experiment and benchmark.

[2019-09-15 13:28] annanay25 commented on #239
This can now be revisited

[2019-09-15 15:35] chandresh-pancholi commented on #1741
@sergiimk Could you please help me out here with the reproduction of this issue?

[2019-09-15 20:39] jmichalek132 commented on #1369
any progress on this?

[2019-09-16 07:59] jpkrohling commented on #1369
We talked a bit about it during the [last bi-weekly meeting](https://docs.google.com/document/d/1ZuBAwTJvQN7xkWVvEFXj5WU9_JmS5TPiNbxCJSvPqX0). People also mentioned AppVeyor and CircleCI, but we were running short of time and kinda skipped a conclusion.

We are currently using GitHub Workflow in the Jaeger Operator, and I'm quite happy with it, apart from a few annoying bugs (actions/checkout#23,

[2019-09-16 13:06] chandresh-pancholi commented on #1596
@yurishkuro Could you suggest a way for going forward? We can use the above logic to run it on 1 port. We can deduce the protocol type if run it in single port (e.g. 6831).

What do you think?

[2019-09-16 17:27] yurishkuro commented on #1596
Yes, it looks like we can do that. Do you want to create a pull request?

We already integration-test clients with the backend:

https://github.com/jaegertracing/jaeger/blob/6cb35708ca5fe04e32f7a5ea1493760fa0dfdcb8/crossdock/docker-compose.yml#L8-L12

[2019-09-16 19:10] jmichalek132 commented on #1369
So no gitlab than?

[2019-09-16 19:14] vprithvi commented on #1369
I'm curious - what specific issues are you running into with the current setup?

[2019-09-17 03:15] sergiimk commented on #1741
@chandresh-pancholi you can reproduce this by compiling the [memstore-plugin](https://github.com/jaegertracing/jaeger/tree/master/examples/memstore-plugin) and running Jaeger with it as described [here](https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/grpc/README.md#running-with-a-plugin). Searching for a random traceID in the UI will then return an ugly-looking HTTP error.

The

[2019-09-17 07:28] jpkrohling commented on #1369
No GitLab. I think @kevinearls did some tests with GitLab when we thought about moving off of Travis some months ago for the Jaeger Operator, but decided it was better to stay with Travis for the moment (back then). Perhaps he can add more details, in case you are interested.

[2019-09-17 07:56] ali-1024 opened #1801 "kafka: client has run out of available brokers to talk to (Is your cluster reachable?)"
This error has been made, kafka is deployed at a single point, local can link to kafka

![image](https://user-images.githubusercontent.com/39354350/65021923-3de1c100-d95a-11e9-982e-fcd6232bd16d.png)

After Google, the kafka configuration is wrong, but the modification is useless.

![image](https://user-images.githubusercontent.com/39354350/65022388-18a18280-d95b-11e9-83a0-6ab83b5a3ba8.png)

I can'

[2019-09-17 10:34] ali-1024 commented on #1801
This issue has been resolved because KAFKA_BROKERS is outdated
But there are other problems
If there's no news in kafka for a long time
It will stop on its own
[图片]

[2019-09-17 10:34] ali-1024 commented on #1801
This issue has been resolved because KAFKA_BROKERS is outdated
But there are other problems
If there's no news in kafka for a long time
It will stop on its own

![R~P)O _ELIHR1H T~RC9Q6](https://user-images.githubusercontent.com/39354350/65034527-6b863480-d971-11e9-9c1f-41a0e38b2936.png)

[2019-09-17 10:56] pavolloffay commented on #1631
Another use-case is to show failed transactions per service https://github.com/jaegertracing/spark-dependencies/issues/77.

This could be represented by aggregated error-tag with a number of instances.

[2019-09-17 11:11] objectiser commented on #1801
Have you looked at the `ingester.deadlockInterval` option:

from https://www.jaegertracing.io/docs/1.14/cli/#jaeger-ingester

[2019-09-18 01:22] ali-1024 commented on #1801
Wow, that's true. I'm sorry I checked the help but didn't see it. Thank you for the problem

[2019-09-18 01:23] ali-1024 commented on #1801
Wow, that's true. I'm sorry I checked the help but didn't see it. Thank you for the problem

[2019-09-18 01:23] ali-1024 commented on #1801
Wow, that's true. I'm sorry I checked the help but didn't see it. Thank you for the problem

[2019-09-18 01:23] #1801 closed

[2019-09-18 07:58] chandresh-pancholi commented on #1741
@sergiimk Thanks, I am able to reproduce it. I will try to publish the PR as early as possible.

[2019-09-18 08:33] ybychenok opened #1804 "Strange indices names in ES"
I have a strange situation with my Jaeger Elasticsearch setup. After listing all ES indexes I see next picture:
[code]
So there are a lot of such indexes with a very small size, near 1-50 KBs and the amount of them is very big (~1000-10000). It's critical for Elasticsearch's health to have such many indexes. I suppose that only one correct name of such indexes is `jaeger-span-YY-MM-DD`.

Maybe I a

[2019-09-18 08:39] pavolloffay commented on #1804
The date in indices is  span start time from incoming data. So it seems you the instrumentation is submitting data with a wrong timestamps, perhaps the time on your machines is not correctly configured.

The related issue is https://github.com/jaegertracing/jaeger/issues/841

[2019-09-18 09:30] ybychenok commented on #1804
@pavolloffay thanks. At least I know why that occurs.

[2019-09-18 09:43] pavolloffay commented on #1804
it would be great to hear why it happens in your system. If it is by accident or you have to use different times.

I will close this issue as it is a duplicate of #841. Feel free to continue commenting.

[2019-09-18 09:43] #1804 closed

[2019-09-18 20:47] zheyiyi opened #1805 "fail to initiate jeager with es 7"
I follow the link to initiate all jaeger compose.
https://github.com/PacktPublishing/Mastering-Distributed-Tracing/blob/master/Chapter12/docker-compose.yml

 I just use es 7 image and new jaeger 1.14 and it doesn't work. Does jaeger 1.14 image is incompatible with kafka?

jaeger docker 1.8.2 works but jaeger docker image 1.14 doesn't work. Can anyone fix the bug?

version: '3.5'

services:

  elas

[2019-09-19 08:44] pavolloffay commented on #1805
nit learn how to format code in github issues:

[code]

Jaeger 1.14 is compatible with ES 7.x. `docker.elastic.co/elasticsearch/elasticsearch:7.3.2` enables security xpack which is probably causing failures in your case . I would recommend using oss flavor or disabling xpack.

[2019-09-19 08:44] #1805 closed

[2019-09-19 10:45] viveksinghggits commented on #1672
hi @jkandasa
can you please share how can we know the fields/attributes that are supported for `.storage.options.es`. For example `index-prefix` add something at the start of the index that will be created by jaeger. What I want to do is to give an index so that jaeger will not not create the index and use an already created index.

[2019-09-19 11:25] pavolloffay commented on #1672
Jaeger with default configuration will always use the following indices:
* jaeger-[span|service|dependencies]-yyyy-mm-dd

only index prefix can be configured which is appended in front of the index name

[2019-09-19 20:25] #1791 closed

[2019-09-20 06:04] ali-1024 opened #1806 "I got the message in kafka."
I want to get some information to do statistics and so on, but I just can't get the right information, what should I do

![~}@~RC243CE54BW3FCBYPKL](https://user-images.githubusercontent.com/39354350/65303415-31eb3e80-dba8-11e9-9a5d-803538fce3dc.png)

flink version 1.9.0
jaeger-collector: 1.7
kafka version ：2.11-2.3.0

[2019-09-20 13:37] vikrambe opened #1807 "Support --es.num-shards-span-index and --es.num-shards-service-index. As spans need more shards and service needs less shards."
## Requirement - what kind of business use case are you trying to solve?

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questions to address

[2019-09-20 13:54] pavolloffay commented on #1807
As of Jaeger 1.14.0 you can create index templates manually and set shards and replicas you require.

[2019-09-20 13:54] #1807 closed

[2019-09-20 14:13] yurishkuro commented on #1806
If you want people to help you, please take time to explain the problem in details. Your question has absolutely nothing to go on. What is "right information"? What are you even trying to do?

[2019-09-20 14:45] ali-1024 commented on #1806
Sorry, I want to get jaeger-collector information from kafka, just like Ingester gets Kafka information and stores it in cassandra, but the information I get is a mess.

[2019-09-20 14:52] yurishkuro commented on #1806
You need to deserialize it from Protobuf. There's a Java example in my book: https://github.com/PacktPublishing/Mastering-Distributed-Tracing/blob/master/Chapter12/src/main/java/model/ProtoUnmarshaler.java

[2019-09-20 15:29] ali-1024 commented on #1806
Thank you very much. I'll go back and study it.

[2019-09-20 15:30] #1806 closed

[2019-09-20 16:47] ecourreges-orange commented on #832
The agent proxies the config request to the collector through which connection? The TChannel or gRPC, whichever one is connected?
These docs don't really explain where the sampling config is sent through:
https://www.jaegertracing.io/docs/1.14/getting-started/#all-in-one
https://www.jaegertracing.io/docs/1.14/deployment/#collectors
Also it would be a nice improvement to know which are encryptable

[2019-09-20 16:55] yurishkuro commented on #458
replaced by #1718

[2019-09-20 16:55] #458 closed

[2019-09-20 16:59] yurishkuro commented on #832
whichever one you configure on the agent. We recommend gRPC.

See #1718

Can you elaborate what can be improved in the docs? If you're using `remote` sampler, then the sampling configuration is defined in the collectors, and is pulled by the clients periodically `client<-agent<-collector`

[2019-09-20 17:26] ecourreges-orange commented on #832
Thanks, now it's all coming together through different info from the different refered github issues.

For improvements to the doc, here are ideas:
-  add something like a column or an additionnal comment about TLS/encryption support on the port/protocol/function tables of the getting started and deployment (all-in-one and collector)
- add in these tables the fact that jaeger-agent doesn't just se

[2019-09-20 19:45] jmichalek132 commented on #1369
I am I don't have that much experience with travis and I am currently writing gitlab pipeline to build jaeger.

[2019-09-21 03:57] chopper-poet commented on #1774
@vprithvi @yurishkuro
i think is not a normal operation,the num of jaeger-ingester always 2,but those message continual,maybe a bug.

Here are env info:
ingester:1.14.0
kafka:2.3

Here are error msgs:
====ingester====
2019/09/21 10:42:18 maxprocs: Leaving GOMAXPROCS=1: CPU quota undefined
WARNING: found deprecated command line option --span-storage.type=elasticsearch, please use environment variab

[2019-09-22 00:07] zerda opened #1808 "Tag Search is working incorrectly with badger"
## Problem - what in Jaeger blocks you from solving the requirement?
I'm using nginx ingress controller integrated with Jaeger (badger storage).

When searching with `http.request_id` tag, the result is incorrectly empty.

Here is an unit test to reproduce this issue.
[code]

And here are the traces produced by nginx. [nginx-traces.zip](https://github.com/jaegertracing/jaeger/files/3639200/nginx-t

[2019-09-22 00:09] zerda commented on #1808
@burmanm Any thoughts?

[2019-09-22 08:03] burmanm commented on #1808
@zerda It's not actually in the mergeJoinIds, but the index seek code. TraceIDs are correctly sorted, however the actual data is stored as sorted by timestamp first and not TraceID which causes this error.

And none of the unit tests catched this as they had time in the same order as ids (in tests that mattered). The index seek logging reveals this:

scanIndexKeys result:
[code]

Parsed traceIDs:

[2019-09-22 08:04] burmanm commented on #1808
Thanks for catching this, I'll fix it tomorrow.

[2019-09-22 18:56] annanay25 commented on #1639
After a discussion with Pavol, we have decided to work top-down by first compiling a list of high level objectives that we want to achieve using the AI/ML analysis. We could then gauge interest in the community about the most helpful features, and prioritise accordingly.

Once our targets are clear, not only will it help us define a clear path for development but also encourage contribution from f

[2019-09-23 05:50] #1484 closed

[2019-09-23 07:28] kevinearls commented on #1369
Sorry for the delay but I was on vacation.  The advantage of Travis and GitHub Workflow is that we can start multiple instances of minikube to run e2e tests in parallel, which means we can validate PRs in a reasonable amount of time.

I can't find my notes on this at the moment, but if I remember correctly Gitlab says it has great integration with Kubernetes instances that you own on GCE/GKE, but

[2019-09-23 13:19] pavolloffay commented on #1639
Anybody is welcome to propose/upvote any feature which would help us with this initiative.

The objectives from the initial comments still hold. First we would like to build a community of people who would like to contribute (models, integrations), validate models. Secondly provide AI/ML integration as part of the upstream project. This should ultimately result in new features added to Jaeger main

[2019-09-23 13:24] pavolloffay commented on #1639
@yurishkuro also proposed to create graph query language (similar to canopy's capabilities) which would allow defining graph related queries.

![Uploading Screenshot of Jaeger Project Bi-Weekly Call - Google Docs.png…]()

https://research.fb.com/publications/canopy-end-to-end-performance-tracing-at-scale

[2019-09-23 15:01] pavolloffay commented on #1639
I would like to hear @jaegertracing/data-analytics opinion on which language they would like to use for data analytics with  Jaeger. Would it be Java or python?

[2019-09-23 15:34] yurishkuro commented on #1639
I would start with Python, it is the de-facto DS/ML language. We can later extend it to Java if necessary.

[2019-09-23 16:04] Talina06 commented on #1639
I prefer Python because it's easier to get off the ground, also as @yurishkuro mentioned, it provides good libraries for DS/ML purpose.

I would be interested in starting with the Jupyter integration with Jaeger. Maybe once we have this in place, gathering requirements for building models could be easier. What do you suggest @pavolloffay?

[2019-09-23 16:17] pavolloffay commented on #1639
Ack for python, so let's start this :).

@Talina06 this is great. I will try to summarize requirements I can think of:
1. run the jupyter/jupyterlab as docker cotainer
2. have a notebook file with basic connector to the storage - e.g. Elasticsearch or do streaming with Kafka.

2. the connector might depend on the framework we choose - we could start with spark or flink (both support python).  I wo

[2019-09-23 17:09] Talina06 commented on #1639
Sounds good. Let me get started with Spark in the meantime and share an update here.

[2019-09-23 17:29] VishvendraRana commented on #1639
@pavolloffay IMO, we should start working on connector for spark. Spark has a large community base and is most widely used tool for data analysis..

[2019-09-23 19:54] yurishkuro commented on #1639
I would say we should start with the library/DSL for writing query and analysis, not with Spark integration. A library is useful on its own as there could be many different sources of traces it would work with in Jupyter, like loading from a file.

[2019-09-24 09:06] pavolloffay opened #1811 "Define DSL for analysis and query span data"
Created based on https://github.com/jaegertracing/jaeger/issues/1639#issuecomment-534097232.

Define domain-specific language (DSL) for analysis and query Span data. An example from Facebook's canopy system:

![65429369-5a787000-de16-11e9-8ace-b9b25bfb1f61](https://user-images.githubusercontent.com/5618424/65497573-c14f6500-deba-11e9-80c1-f3409adba03a.png)

The library should be able to connect to

[2019-09-24 09:09] jpkrohling commented on #1811
Would it make sense to start by implementing GraphQL (#169)?

[2019-09-24 09:17] pavolloffay commented on #1811
@yurishkuro I am wondering do we want to make the library to work in a distributed way (like spark RDD)?

In the previous discussions, we have also mentioned that we could reuse existing graph traversal frameworks e.g. Gremlin. I am not sure if GraphQL #169  provides the same capabilities or it is used only for UI integrations.

[2019-09-24 09:57] pavolloffay commented on #1811
We should also think about use cases this feature would solve:
* users could ask the system more complicated questions e.g. - test a hypothesis
* the query could be periodically run and invoke an action (alert) if conditions are met

[2019-09-24 11:35] hyhanyan opened #1812 "jaeger-UI's tag-value according to not complete，"
## Requirement - what kind of business use case are you trying to solve?

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questions to address

[2019-09-24 11:54] pavolloffay opened #1813 "Jypyterlab/Jupyter notebook integration"
Created from https://github.com/jaegertracing/jaeger/issues/1639#issuecomment-534172957

cc) @jaegertracing/data-analytics

[2019-09-24 12:01] pavolloffay commented on #1813
hi @Talina06 I have assigned it to you feel free to unassing or ask for any help.

I have tried to run jupyterlab with java kernel:
[code]
The docker image with Java kernel is not maintained by jupyter project, but there is this https://github.com/jbindinga/java-notebook (https://github.com/SpencerPark/IJava/issues/69).

[2019-09-24 12:01] pavolloffay commented on #1639
We can start simultaneously with both. Both could be useful for different use-cases.

I have created a separate issue for DSL https://github.com/jaegertracing/jaeger/issues/1811.

Issue for jupyter notebook https://github.com/jaegertracing/jaeger/issues/1813 - cc) @Talina06

[2019-09-24 12:53] chandresh-pancholi commented on #1741
PR Raised. Please review.

[2019-09-24 14:00] pavolloffay commented on #1812
Please more information. Based on the information provided in the issue it's not possible to understand what the issue is about.

[2019-09-24 14:44] pavolloffay commented on #1811
There are two popular graph query languages - Gremlin (https://tinkerpop.apache.org/gremlin.html) and Cypher (https://neo4j.com/developer/cypher-basics-i/)

## Gremlin
* supports multiple languages: groovy, java, python
* integrated with Apache Spark - http://tinkerpop.apache.org/docs/current/reference/#spark-plugin (java), python?
* Apache Flink integration with Gelly https://flink.apache.org/new

[2019-09-24 19:02] annanay25 commented on #1811
Would it be easier if we could curate traces from a (relatively) complex system that someone in the community is running in production and would volunteer to publish? It would move focus from data collection to actual analysis and it would also help different teams collate and confirm results while working on the same data-set.

Didn't dig very deep but seem relevant - https://github.com/google/cl

[2019-09-25 02:04] hyhanyan commented on #1812
I've found the answer， answer's addr is here https://github.com/jaegertracing/jaeger-client-go/pull/318)， Thank you for your reply

[2019-09-25 04:15] #1812 closed

[2019-09-25 04:38] yurishkuro commented on #1811
@pavolloffay there are several parts to the DSL/library:

###  1. a way to define a stream of traces

This may include:
    * loading traces from files
    * loading traces from a Kafka topic (e.g. start 10,000 messages back) that contains spans.

In case of a source providing just spans, there needs to be a pre-aggregation step that assembles them into traces. This creates interesting challenges

[2019-09-25 04:41] yurishkuro commented on #1639
I replied in https://github.com/jaegertracing/jaeger/issues/1811#issuecomment-534848073

We don't need a full blown DSL, just a data model of a trace as a graph. Once we have that, people can start writing jupyter scripts.

[2019-09-26 03:45] chopper-poet opened #1819 "ingester's compatibility with kafka 2.3"
When ingester has more than one instance,it will continuous display those messages.
![image](https://user-images.githubusercontent.com/16041012/65656602-04444080-e053-11e9-8a41-ce1c18efb6aa.png)

Here are env info:
ingester:1.14.0
kafka:2.3

Here are error msgs:
====ingester====
2019/09/21 10:42:18 maxprocs: Leaving GOMAXPROCS=1: CPU quota undefined
WARNING: found deprecated command line option --

[2019-09-26 14:55] FelixRodriguezJara opened #1820 "Jaeger with Pub/Sub on GCP"
## Requirement - what kind of business use case are you trying to solve?

Implement tracing with Jaeger using Pub/Sub instead of Kafka on Google Cloud Platform.

## Problem - what in Jaeger blocks you from solving the requirement?

Collector, Ingester and Spark modules need to be modified in order to produce and consume messages from Pub/Sub instead of kafka when using the "streaming" mode.

## Pr

[2019-09-26 15:16] pavolloffay commented on #1811
I have started defining DSL with gremlin in  https://github.com/pavolloffay/jaeger-tracedsl

Here is an example from app class https://github.com/pavolloffay/jaeger-tracedsl/blob/master/src/main/java/io/jaegertracing/dsl/gremlin/App.java

[code]

You can see how the filtering and extraction look like. The API allows to use trace DSL but also core gremlin API at the same time. This is a simple exam

[2019-09-26 19:28] annanay25 commented on #1811
@yurishkuro - Is this aggregator component available in open source?

[2019-09-27 15:20] yurishkuro commented on #1369
Interesting bit from [Linkerd Community Meeting notes](https://docs.google.com/document/d/1OvXYL5Q53klQFZPokQJas72YqkWXplkPQUguFbRW7Wo/edit#):

[2019-09-28 19:46] radekg opened #1821 "gRPC plugin framework does not respect --query.bearer-token-propagation flag"
## Requirement - what kind of business use case are you trying to solve?

I am trying to run elastic search storage back end via GRPC plugin and have the bearer token forwarded to the GRPC plugin server.

## Problem - what in Jaeger blocks you from solving the requirement?

Query UI has an option to forward Bearer token to the storage back end using `--query.bearer-token-propagation=true` flag. Ho

[2019-09-29 10:11] zziawan opened #1823 "build on arm computer error !"
## Requirement - what kind of business use case are you trying to solve?

use V1.8.1  build offline on arm computer ,when i got all the dependencies . make  can not success. some error raised, no error message.  can some help ？
=== RUN   TestParseStrategy
=== RUN   TestParseStrategy/#00
=== RUN   TestParseStrategy/#01
--- PASS: TestParseStrategy (0.00s)
    --- PASS: TestParseStrategy/#00 (0.00s)

[2019-09-29 10:23] zziawan commented on #1823
after glide install  still no dependencies was found  when to make,why?

[2019-09-29 15:08] radekg commented on #1820
This would be a perfect candidate for a gRPC storage plugin.

[2019-09-29 20:41] yurishkuro commented on #1820
The project's preference is to avoid implementations that depend on proprietary technologies like Google Cloud. Instead, we developed the gRPC plugin framework that can be used to implement other types of backends.

However, the storage plugin currently only supports the actual storage API. You could still use it to implement support for PubSub on the producer side (i.e. collector), but the ingest

[2019-09-29 20:47] yurishkuro commented on #1811
@annanay25 there's not much to it: https://github.com/PacktPublishing/Mastering-Distributed-Tracing/blob/master/Chapter12/src/main/java/tracefeatures/SpanCountJob.java#L55

[2019-09-30 10:26] svenwltr opened #1824 "esCleaner occasionally fails with KeyError"
## Requirement - what kind of business use case are you trying to solve?

We want to remove old indices from ElasticSearch.

## Problem - what in Jaeger blocks you from solving the requirement?

Cleaning itself works, but occasionally it fails and needs a restart. This produces noise in our alerting system. We can silence the alert for this, but then we would not notice actual failures.

The proce

[2019-09-30 17:36] j771 commented on #1718
Is there any documentation/tutorials on this?
I am trying to secure connection between the Collector and Cassandra storage but have have not been able to successfully implement it.

[2019-10-01 02:32] yurishkuro commented on #1821
Out of curiosity, which storage backend are you using via grpc plugin that requires bearer token?

[2019-10-01 06:50] radekg commented on #1821
At Klarrio, we are using Jaeger for multi-tenant KPN Data Services Hub. Here's a talk from Kafka Summit London: https://www.confluent.io/kafka-summit-lon19/talking-traffic-data-in-the-drivers-seat.
We have traces shared between tenants and we want to make sure that the tenants can see only the spans which are relevant to them, without having to deploy a UI for each tenant. We do this with ES stora

[2019-10-01 09:46] annanay25 commented on #1447
I will pick this up.

[2019-10-01 12:43] jpkrohling commented on #1823
It does sound like a real compilation problem, but just to confirm: are you able to build Jaeger on a non-ARM machine? If you get similar problems, you might be missing some of the steps listed in the [CONTRIBUTING.md](https://github.com/jaegertracing/jaeger/blob/master/CONTRIBUTING.md).

In any case, I would also like to try it out myself: are you aware of any online resources where I could get a

[2019-10-01 12:49] namaiiee2222 opened #1826 "Jaeger agent wont connect to collector"
I'm build jaeger query and collector with docker and trying to connect agent from another server to collector.

The agent connect to collector with ip and port but it can not connect with domain name and port.

./jaeger-agent  --reporter.grpc.host-port=xx.xx.yy.zz:14250 -> this work

 ./jaeger-agent  --reporter.grpc.host-port=dns:///example.com:80 -> wont work

any solution?

[2019-10-01 12:54] jpkrohling commented on #1820
Just to brainstorm: what if we just provide a minimal set of tools for people to build their own "collector-like" components? The current ingester could be refactored to make use of this new framework.

[2019-10-01 12:56] jpkrohling commented on #1447
@annanay25 could you also check the consistency of the port numbers? Like, is the gRPC port the same for the `all-in-one` and `collector`? How about the `monitoring`, `admin` and `http` ports?

[2019-10-01 13:15] jpkrohling commented on #1718
@rubenvp8510 is the bearer token propagation working already? I thought it hasn't been merged yet.

[2019-10-01 13:50] yurishkuro commented on #1820
Technically, we already have that, since this is how Uber builds internal binaries. However, at Uber we're willing to keep up with breaking changes in the component APIs. To support such mode officially we'd need to be much more restrictive with API changes, which will hamper velocity. This is why I prefer the plugin approach as it does provide a stable API surface, which is much more narrow than

[2019-10-01 13:53] yurishkuro commented on #1447
The ports are consistent because they are all consolidated in a single constants file.

[2019-10-01 14:07] radekg commented on #1820
The collector technically does this already. With a gRPC storage back end, one can build a *sink* and write spans to wherever via the https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/grpc/shared/interface.go#L45.

Where I can see the problem with how it is done currently, is that when one implements a storage plugin, one has to implement reader, writer and dependency reader. I th

[2019-10-01 14:13] jpkrohling commented on #1820
Interesting, didn't know that Zipkin had that in the past. You are probably right about the support burden, but I do see this framework as something very restricted. We'd only provide one method, to register a `SpanProcessor`, and perhaps some plumbing with stuff similar to what we have in our `main.go` files. It's perhaps worth the experiment?

[2019-10-01 14:15] jpkrohling commented on #1820
Yeah, I was trying to avoid requiring folks to dig into Jaeger's source code to understand how things fit together. But I like your idea about splitting the concerns into separate plugins.

[2019-10-01 14:18] jpkrohling commented on #1447
I'd need to check further, but I think the admin port isn't consistent overall.

[2019-10-01 14:20] radekg commented on #1820
@jpkrohling is it okay to reach via email?

[2019-10-01 14:25] jpkrohling commented on #1820
Gitter is preferable, especially the open [community channel](https://gitter.im/jaegertracing/Lobby) :)

[2019-10-01 17:15] pavolloffay commented on #1821
@radekg we (@jpkrohling ) would like to follow up on the multitenancy and ES storage. Feel free to ping me on IRC or via email or just comment here. Is the plugin published somewhere?

[2019-10-02 09:35] jpkrohling commented on #1718
Thanks for the info, @rubenvp8510. I changed the description to strike through the "bearer token propagation" in the Cassandra item (cc @j771).

[2019-10-02 14:29] annanay25 commented on #1447
Admin ports are different for each service but still consolidated in one file -
[code]

[2019-10-02 15:05] objectiser commented on #1447
Wouldn't it be better to just have the single admin port regardless of executable - if yes, then would suggest 14269, as also used in `all-in-one`.

[2019-10-02 15:49] yurishkuro commented on #1447
It would probably be better, but not backwards compatible.

[2019-10-02 16:17] objectiser commented on #1447
Yeah, we would need to deprecate the other ports.

[2019-10-02 21:25] yurishkuro commented on #1821
@radekg maybe you want to add your company to ADOPTERS.md and comment on #207?

[2019-10-03 08:09] pavolloffay commented on #1824
@svenwltr any idea what the error means? Is there any way to reproduce it on a demo setup?

[2019-10-03 15:22] liorco3000 opened #1828 "jaegertracing/spark-dependencies only using tag: latest"
jaegertracing/spark-dependencies only using tag: latest

Hi can jaegertracing/spark-dependencies be tagged with some kind of tag besides latest ?

Please tag your builds

Also why do we need to use this in production,
What does this spark job actually do ?

[2019-10-03 15:41] pavolloffay commented on #1828
Duplicate of https://github.com/jaegertracing/spark-dependencies/issues/64

[2019-10-03 15:41] #1828 closed

[2019-10-03 15:42] pavolloffay commented on #1828
It calculates dependencies between services. It's needed if you use real storage - kafka, Elasticsearch.

[2019-10-03 17:25] yurishkuro commented on #1762
It seems C++ client does not currently use crossdock, so this can be closed.

[2019-10-03 17:25] #1762 closed

[2019-10-04 00:25] yurishkuro commented on #1713
This test does appear to be time-sensitive: https://travis-ci.org/jaegertracing/jaeger/jobs/593308117

[2019-10-04 00:27] yurishkuro commented on #1713
@pavolloffay #1703 didn't fit it. The fix was to be less sensitive to the order, but it seems like the issue is with 1 or 2 spans being created, due to the time of day when the test runs and ES queries 1 or 2 daily indices
[code]

[2019-10-04 00:28] yurishkuro commented on #1713
One way to fix it is to pass a "clock" to ES which would always return the same time of day in the test, instead of using time.now()

[2019-10-04 07:16] pavolloffay commented on #1713
I will have a look at this one again

[2019-10-04 15:02] zheyiyi opened #1830 "how to remove internal.span.format="jaeger""
In the jaeger Ui, the tag include  internal.span.format ="jaeger", is it possible to remove it? Where is the place it is added

[2019-10-04 15:09] vprithvi commented on #1830
What issue is this tag causing for you?

[2019-10-04 17:21] zheyiyi commented on #1830
No issue.  just want to remove it from tag. it is useless for my appliction

Prithvi Raj <notifications@github.com> 于2019年10月4日周五 上午11:09写道：

[2019-10-04 23:44] Marusyk commented on #1044
still no implemented???

[2019-10-05 10:09] ont opened #1832 "Collector with badger storage failed to start after crash"
## Requirement
Stable recovering of jaeger docker container `all-in-one` with `badger` storage backend after crash or OOM kill.

## Problem
Jaeger docker container (`all-in-one`) failed to start. Following error occurs:
[code]

## Proposal
Provide option for enabling truncate in badger. See: https://github.com/dgraph-io/badger/issues/744

[2019-10-05 12:36] naseemkullah opened #1833 "Q: multi cluster?"
## Requirement - what kind of business use case are you trying to solve?

Application is spread out across multiple clusters and traffic is routed to a cluster based on client location. How to have one Jaeger UI to see traces in all the clusters?

Is it possible to have collector,db,query and ui all in one cluster where all agents running in multiple clusters send their traces to? And if so is the

[2019-10-05 17:31] bhavin192 commented on #1221
I think this can be closed as https://github.com/jaegertracing/jaeger/issues/1762 is fixed.

[2019-10-05 19:28] rneha725 opened #1834 "CONTRIBUTING.md file is not very clear. Steps are mentioned but no explanation."
## Requirement - what kind of business use case are you trying to solve?

Making CONTRIBUTING.md more understatable. Presently, it straightforwardly tells the steps without explaining why it is being done.
## Problem - what in Jaeger blocks you from solving the requirement?

This will make a good impression on a newbie.
## Proposal - what do you suggest to solve the problem or improve the existing

[2019-10-06 02:29] yurishkuro commented on #1834
Feel free to propose a PR with changes.

[2019-10-06 04:06] yurishkuro commented on #1221
No, #1762 was about crossdock tests in the _client repos_, and they now use all-in-one. For end-to-end tests we want to use separately built components (mirroring prod deployment).

[2019-10-06 04:11] #858 closed

[2019-10-06 04:16] yurishkuro commented on #1833
I am tagging this as a documentation request.

We don't have good support for multi-region setup yet, unless you're willing to ship all data in a single region.

For multi-zone setup within a single region, it is possible to run agents in all zones and instruct them to forward traces to collectors running elsewhere (we use this configuration at Uber). You can even run collectors in multiple zones,

[2019-10-06 13:57] naseemkullah commented on #1833
Thanks @yurishkuro

[2019-10-06 13:58] naseemkullah commented on #1833
Thanks @yurishkuro, could you in the documentation mention any caveats of a multi-region setup where all data is shipped to a single region?

[2019-10-06 19:46] yurishkuro commented on #1833
The main caveats are:
  - bandwidth between regions is usually more expensive than between zones
  - if all trace data is shipped to a single region and it has an outage then you lose visibility into the other regions

If you architecture generally does not have cross-region calls, then it's better to run separate Jaeger installations per region. That's what we do at Uber. In our case we do have s

[2019-10-06 21:41] yurishkuro opened #1837 "Refactor TLS flags & logic into a shared module"
https://github.com/jaegertracing/jaeger/pull/1414#issuecomment-534340973

[2019-10-06 21:45] #1401 closed

[2019-10-06 23:12] naseemkullah commented on #1833
Thanks for explaining that @yurishkuro
Finally, as for accessing the various UIs, what do you think is better, or what is used at Uber?

1.
`jaeger-us-east.uber.com`
`jaeger-us-west.uber.com`

2.
`jaeger.uber.com/us-east`
`jaeger.uber.cim/us-west`

[2019-10-06 23:18] yurishkuro commented on #1833
I don't think there's much difference, it's more about how your infra is configured.

[2019-10-07 01:38] surendarchandra commented on #1058
This seems like a extremely useful feature to inject on-the-fly sampling of specific span operators. How else do y'all achieve it? Thanks

[2019-10-07 05:58] doctorpangloss commented on #1474
@pavolloffay I'm using the latest images, but I still get:

[code]

[2019-10-07 06:10] yurishkuro commented on #1058
NB: hot reload of UI config has been implemented in #1688.  We need to generalize that to also support reloading of sampling strategies.

[2019-10-07 07:54] jpkrohling commented on #1044
@Marusyk : looks like jaegertracing/jaeger-client-go#436 (which was a pre-requisite) has been merged. As you need this feature, do you want to give a shot at this one here?

[2019-10-07 08:12] rneha725 opened #1841 "CONTRIBUTING.md not updated according to location of static assets"
## Requirement - what kind of business use case are you trying to solve?

Installation steps of jaeger-ui, while running inside jaeger.
## Problem - what in Jaeger blocks you from solving the requirement?

Command mentioned in CONTRIBUTING.md is not updated.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

In [CONTRIBUTING.md](https://github.com/jaegertra

[2019-10-07 08:13] svenwltr commented on #1824
@pavolloffay I just took a quick look into the code of the `curator` lib. To me it looks like it happens when one of the requests to Elasticsearch fails, as it [catches an specific kind of exceptions](https://github.com/elastic/curator/blob/master/curator/indexlist.py#L141-L149), but continues anyway.

Probably our ES cluster is just responding too slow. I did not manage to reproduce it yet.

[2019-10-07 08:14] rneha725 commented on #1834
Sure.

[2019-10-07 09:48] objectiser commented on #1832
cc @burmanm

[2019-10-07 15:48] jpkrohling commented on #1830
Would it be sufficient to suppress the UI from displaying it, or are you looking to avoid even adding this tag to the span being reported?

[2019-10-07 15:48] jpkrohling commented on #1830
(btw, I'm quite sure this is added in the backend...)

[2019-10-08 01:50] zziawan commented on #1823
sorry, no online ARM machine.  i do follow CONTRIBUTING.md to  compile  version 1.8 source code  on non-ARM machine   after  command glide install successful , make still can not found dependencies . i copy all the cache dependencies to the go-path , compile successful, but no  go binary files  and images  found .  can i only run go build in all-in-one directory to build a go binary file?  thinks!

[2019-10-08 06:35] yurishkuro commented on #1841
I do not believe it is necessary. `make build-ui` command packages UI assets into Go binary directly

[2019-10-08 07:59] jpkrohling commented on #1823
It's still not clear to me whether you are having a setup issue, or something more complex. I can't test on ARM myself, so, I would like to ask you to:

1. compile the latest version from master (Jaeger 1.8 is old at this point)
1. compile using the same go version that we use in the CI (1.12.1)

If you still have problems, then try it on a regular x86_64. If you are having a setup issue, it's lik

[2019-10-08 08:27] burmanm commented on #1823
Does it really matter if something doesn't compile on 32-bit ARMv5? Processors with that architecture are not going to run Jaeger.

[2019-10-08 08:44] jpkrohling commented on #1823
Not sure. If there's something easy we can do to at least compile, we should do. But it might indeed not matter in the end.

For the record, the same happens for v7:

[code]

`GOARCH=arm64` succeeds though.

[2019-10-08 08:52] jpkrohling commented on #1823
By the way, just saw this: https://blog.travis-ci.com/2019-10-07-multi-cpu-architecture-support

[2019-10-08 10:06] zziawan commented on #1823
think you for you supporting, finally i  build without ui successfully(change the makefile, using " make build-binaries-linux"), and run it successfully. thanks!

[2019-10-08 10:06] #1823 closed

[2019-10-08 16:16] rneha725 commented on #1841
Sorry, issue was in my go installation. I did not set the path for `$GOPATH/bin`. Also, this step is not mentioned in steps, should I add?

[2019-10-08 16:35] rneha725 commented on #1841
I have some changes for the above and opened a pull request for the corresponding [issue](https://github.com/jaegertracing/jaeger/issues/1834)

[2019-10-09 09:47] pavolloffay commented on #1474
@doctorpangloss what is the issue? I do not understand you?

The `latest` jaeger images do not work with ES7 while 1.14.0 work? Could you please be more specific?

[2019-10-09 11:05] pavolloffay commented on #1826
Perhaps your DNS is not working properly.

It does not seem like a problem in jaeger, therefore I am closing this. Feel free to reopen or comment if there is anything more we can do.

[2019-10-09 11:05] #1826 closed

[2019-10-09 11:10] jpkrohling commented on #1826
Note that the port in the second example has to be 14250 as well.

[2019-10-09 11:12] pavolloffay commented on #1137
This seems related to instrumentation or tracer configuration in k8s and not directly to Jaeger.

I am closing this as it is one-year-old question issue with no interaction.

[2019-10-09 11:12] #1137 closed

[2019-10-09 11:20] pavolloffay opened #1844 "Suport for collector level tags"
Similar to agent tags https://github.com/jaegertracing/jaeger/issues/833
Related to removing duplicated tags in collector https://github.com/jaegertracing/jaeger/issues/1778

Add the ability to the collector to add a set of tags to incoming spans.

The agent supports `JAEGER_TAGS` for adding tags, however if we support the same env var in collector the same set of tags could be added twice - altho

[2019-10-09 11:24] pavolloffay commented on #1821
done in #1822

[2019-10-09 11:24] #1821 closed

[2019-10-09 11:47] pavolloffay commented on #1833
Should we move this to documentation repository?

[2019-10-09 11:55] somnathnitb opened #1845 "Support for SASL PLAIN authentication for Collector Kafka Storage Backend"
Kafka supports different types of authentication mechanisms. As of today collector for Kafka storage backend only supports SASL GSSPI (Kerberos) and certificate-based authentication (mutual TLS). However, not all Kafka deployments support this authentication mechanism.
In our case, we have a Kafka cluster deployed with TLS transport for communication however our authentication is set up to use SAS

[2019-10-09 12:23] pavolloffay commented on #1830
It is added in Jaeger collector `https://github.com/pavolloffay/jaeger/blob/343fcc6ddd3bdb94dec864bddc2ff8794d6666a8/cmd/collector/app/span_processor.go#L160. `

If there is no valid use case to hide it or remove it we will probably close this ticket. Other Jaeger components can rely on this tag while doing another processing. It was added as https://github.com/jaegertracing/jaeger/issues/1490.

[2019-10-09 12:29] triniti69 opened #1846 "<spam>"
## Requirement - what kind of business use case are you trying to solve?

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questions to address

[2019-10-09 12:38] #1846 closed

[2019-10-09 12:40] jpkrohling commented on #1845
Yes, if it's only adding a new auth mechanism to an existing storage backend, it will certainly be accepted! Check [CONTRIBUTING.md](https://github.com/jaegertracing/jaeger/blob/master/CONTRIBUTING.md) for more info on what's expected from your PR.

[2019-10-09 15:24] doctorpangloss commented on #1474
Yes, the image hash I specified, the current hash for `latest`, broke 7.x support while 1.14 does work.

Reading this thread in GitHub, we’re instructed to use `latest`, and I think I was just unlucky enough to use it on the day it breaks.

[2019-10-09 17:41] surendarchandra opened #1848 "all-in-one with badger crashes with nil pointer"
## Requirement - what kind of business use case are you trying to solve?

Use all-in-one and badger until we deploy more robust storage backends

## Problem - what in Jaeger blocks you from solving the requirement?
Frequently, I get these traces (I suspect when someone views a span with many children, say 30,000):
2019/10/09 09:21:21 http: superfluous response.WriteHeader call from github.com/jaeg

[2019-10-09 18:06] #1713 closed

[2019-10-09 18:33] #1808 closed

[2019-10-09 18:57] yurishkuro commented on #1833
I'd keep it here for better discoverability. But no strong opinion.

[2019-10-09 18:58] yurishkuro commented on #1844
if we do this, let's make sure we reuse the code from the agent

[2019-10-09 19:26] radekg commented on #1844
@yurishkuro, would the referenced commit be close to what you'd imagine such a feature to look like? It would obviously require tests. For clarity, this is not a PR yet.

[2019-10-09 22:17] yurishkuro opened #1849 "Converge on JAEGER_SAMPLING_ENDPOINT env variable for client's sampling"
## Update 2020-02-07

per discussion https://github.com/jaegertracing/jaeger/issues/1971#issuecomment-570631770, we settled on the name `JAEGER_SAMPLING_ENDPOINT`. I'm adding the tracking:

* [x] Go client https://github.com/jaegertracing/jaeger-client-go/pull/511
* [ ] Java client
* [ ] Node client
* [ ] Python client
* [x] C# client https://github.com/jaegertracing/jaeger-client-csharp/pull/165

[2019-10-09 22:17] yurishkuro commented on #1849
cc @jpkrohling @pavolloffay

[2019-10-09 22:22] yurishkuro commented on #1844
@radekg not quite, because it adds the tags unconditionally, and there's a requirement to fix that (e.g. #1788)

[2019-10-10 00:07] chandresh-pancholi commented on #1741
PR #1814 merged. please close this issue.

[2019-10-10 03:45] rubenvp8510 opened #1851 "Query service cannot start when token propagation is enabled and ES version is not specified."
## Requirement - what kind of business use case are you trying to solve?

Tried to start query service using ES storage and token propagation (`--query.bearer-token-propagation=true`) , it won't start due an error like this:

`"Failed to init storage factory","error":"failed to create primary Elasticsearch client: invalid character 'A' looking for beginning of value","errorVerbose":"invalid charac

[2019-10-10 03:56] yurishkuro commented on #1741
Thanks for the ping. Closing.

In the future, put the word "Resolves" before the issue number in the PR description, so that GitHub can auto-close the ticket.

[2019-10-10 03:56] #1741 closed

[2019-10-10 07:30] jpkrohling commented on #1849
I'm in favor of having a configuration option that accepts a URL, which contains all the components required to derive the actual endpoint value (protocol, host, port, base path).

The other obvious name for the property would be `JAEGER_CONFIG_URL`, but it has the same drawback as `JAEGER_CONFIG_ENDPOINT`, as it's not a complete URL (lacks the actual path). `JAEGER_CONFIG_BASE_URL` would be bette

[2019-10-10 08:05] pavolloffay commented on #1851
Could be Elasticsearch configured to use token auth but disable it for ping endpoint?

[2019-10-10 09:20] pavolloffay commented on #1849
`JAEGER_CONFIG_ENDPOINT`  is fine. First I didn't consider http/https problem.

Do we expect people using different endpoints? If no we could require specifying just the root path and set the base in the implementation to make it easier for users.

[2019-10-10 13:53] pavolloffay commented on #1851
Do you think we can return a more descriptive error when ping fails? Would you like to submit a PR?

[2019-10-10 14:23] pavolloffay commented on #1770
I am closing this as it is a question.

The tracer library/agent/collector you are using should support adding process level tags. In OpenTelemetry Java Jaeger exporter adds tags https://github.com/open-telemetry/opentelemetry-java/blob/ba1819996f07554df2cd3795f27f62edc84cb340/exporters/jaeger/src/main/java/io/opentelemetry/exporters/jaeger/JaegerGrpcSpanExporter.java#L86. For example resource obj

[2019-10-10 14:23] #1770 closed

[2019-10-10 14:23] rubenvp8510 commented on #1851
Yes, I will do :)

[2019-10-10 14:27] pavolloffay commented on #1264
See https://github.com/jaegertracing/jaeger/pull/1263#issuecomment-540613574

[2019-10-10 14:27] #1264 closed

[2019-10-10 14:31] pavolloffay commented on #1213
So once gogoproto IDL is included generation to other languages work?

[2019-10-10 14:40] pavolloffay commented on #1639
We should move our protos to ild repository and allow building to other languages:https://github.com/jaegertracing/jaeger/issues/1213. That will be required to consume data from Kafka.

[2019-10-10 14:42] pavolloffay commented on #1639
It would also help if the compiled model classes were published as artifacts. Now if somebody wants to consume data from kafka it requires a lot of additional work to be done.

[2019-10-10 15:43] yurishkuro commented on #1213
I think so.

[2019-10-10 16:31] yurishkuro commented on #1849
Conclusion: go with `JAEGER_CONFIG_ENDPOINT`, but make it explicit in the description that this is a "base URL".

Agreed?

[2019-10-10 17:59] radekg commented on #1844
@yurishkuro I've opened the PR so the work can be tracked. I'll add tests in the next couple of days. Regarding #1788, I wonder what's the best way to proceed. Probably wait for that to be merged first and then adapt my PR?

[2019-10-10 20:22] burmanm commented on #1848
There's nothing in that stacktrace indicating the badger backend causes the nil pointer though (it's not anywhere in that path).

[2019-10-10 20:35] burmanm commented on #1848
What version are you running? In any case, it looks like in the span_deduper the returned span is without traces:

[code]

because that line causes the issue. So the d.trace.Spans == nil (which isn't checked..)

[2019-10-10 20:45] yurishkuro commented on #1844
Yes, you're probably right, we can merge #1854 first, and then add the deduping policy as a separate ticket.

[2019-10-10 23:47] somnathnitb commented on #1845
@jpkrohling how can I get contributor access here so that I can push my branch and raise PR?

[2019-10-11 01:18] yurishkuro commented on #1845
Please fork this repo, create a branch in the fork, and then you'll be able to create a pull request from that branch. See https://help.github.com/en/articles/about-pull-requests

[2019-10-11 07:11] #1247 closed

[2019-10-11 14:06] pavolloffay commented on #1811
It would be great if somebody could help with moving protos to IDL and make configure build process to different languages https://github.com/jaegertracing/jaeger/issues/1213.

[2019-10-11 14:15] chandresh-pancholi commented on #633
@jpkrohling I would like to pick up. Could you please give some pointers?

[2019-10-11 21:13] doctorpangloss commented on #1474
@pavolloffay Just to follow up, it looks like https://hub.docker.com/u/wjang deleted that particular image, because it was almost certainly built wrong, from docker, and then rebuilt latest, but I wouldn't be able to tell you if it works.

[2019-10-13 11:05] chopper-poet commented on #1819
@yurishkuro @pavolloffay
please give it a little attention,thks.

[2019-10-13 12:42] ADDale opened #1856 "Getting Java AbstractMethodError for TracerSpanBuilder.startActive()"
Hi Team,

I am new to Jaeger and trying simple Kafka producer tracing. However I am getting an error.

I have attached the snapshot of code/error and gradle dependencies.

Can someone please help with this?
![Code](https://user-images.githubusercontent.com/46351937/66715767-c7af6d80-ede4-11e9-95bd-7d53a95c8945.jpg)
![Error](https://user-images.githubusercontent.com/46351937/66715768-c7af6d80-ede4-

[2019-10-13 19:46] yurishkuro commented on #1856
I suggest you start with upgrading to the latest versions. OpenTracing 0.22 is 2.5yrs old

[2019-10-14 08:31] jpkrohling commented on #633
@chandresh-pancholi take a look at the [`healthcheck` package](https://github.com/jaegertracing/jaeger/tree/master/pkg/healthcheck) and get familiar with how it works. After that, you'll need to find a way to propagate the information from the storage level up to the health check handler. I think we might have discussed this in the past, so, do a quick search for "health check" in our issues, or i

[2019-10-14 08:35] jpkrohling commented on #1856
And `com.uber.jaeger` is not being used anymore. Which tutorial are you following?

[2019-10-14 08:40] pavolloffay commented on #1474
We run tests against ES 5.x, 6.x and 7.x for every build on Jaeger so if something is failing it is most likely related to a wrong configuration or using non-standard ES images.

[2019-10-14 09:17] dcelasun opened #1858 "Problems upgrading to ES7 (AWS)"
## Requirement - what kind of business use case are you trying to solve?

I'm trying to follow [the documentation](https://www.jaegertracing.io/docs/1.14/deployment/#upgrade-to-elasticsearch-7-x) on upgrading to ES7.

## Problem - what in Jaeger blocks you from solving the requirement?

According to the docs, I should be able the start the collector in ES7 mode while connecting to ES 6.8.

However

[2019-10-14 09:21] pavolloffay commented on #1858
Could you please paste the response of ES ping endpoint? `http://es:9200/`

[2019-10-14 10:23] pavolloffay commented on #1858
It seems like a bug I was able to reproduce via docker and OSS ES 6.8.0.

[2019-10-14 14:27] yurishkuro commented on #633
I'd like to understand if this is really the behavior we want. If collector starts returning errors from the health check then the orchestration system can quite possibly restart it. Killing a service because its downstream is unavailable sounds counter intuitive to me.

[2019-10-14 14:38] yurishkuro commented on #633
But I think that was the original intention of the ticket. What is that "other" status code that could be used? What will react to it and how?

[2019-10-14 14:52] jpkrohling commented on #633
Any 2xx/3xx can be used except perhaps for 204 (No Content) and 200 (OK). Kubernetes will accept anything higher or equal to 200 and lower than 400 as success.

At least at the beginning, we shouldn't be returning anything that would cause instances to be automatically killed. The monitoring tools used by our users should be the ones taking this decision, possibly by looking into the response's co

[2019-10-14 15:14] yurishkuro commented on #633
If it's not a response that orchestration would do something about, then why bother surfacing this via health check?  I would rather steer people to use proper telemetry, there are bunch of metrics about Cassandra usage, including failures to write.

[2019-10-14 15:31] jpkrohling commented on #633
The health checks aren't only for the orchestration layer. In @ledor473's specific case, we should track what exactly is wrong and what we can do inside Jaeger (or operator) to solve that problem automatically. While this is not fixed in the code, a monitoring solution (or script?) can exist somewhere, checking the HTTP status code and/or the payload, and restart the process in case that specific

[2019-10-14 15:41] vprithvi commented on #1819
This is a duplicate of https://github.com/jaegertracing/jaeger/issues/1774

[2019-10-14 15:42] vprithvi commented on #1819
Apart from the logs(which look normal), what user facing issue does this cause?

[2019-10-14 16:06] yurishkuro commented on #633
That's a tall order. In @ledor473's specific case, re-initializing Cassandra sessions would've probably fixed the issue - that would be useful behavior to support. Aside from that, I don't see what other useful things we are able to detect that are not already included in the metrics we emit. Transforming those metrics into the details of the healthcheck output doesn't strike me as a particularly

[2019-10-14 16:59] pavolloffay commented on #1858
I think we have to include `_doc` type into our ES7 indices in order to support smooth migration. At some point it was present in https://github.com/jaegertracing/jaeger/pull/1690 when I tested it, but it was removed in later commits.

Adding liks for docs:
https://www.elastic.co/guide/en/elasticsearch/reference/current/removal-of-types.html
https://www.elastic.co/guide/en/elasticsearch/reference/

[2019-10-14 21:20] yurishkuro opened #1861 "[tracking] Delayed sampling"
## Requirement - what kind of business use case are you trying to solve?

Have the ability to delay sampling decision when more data is available about the trace. For example, the root service may retrieve additional information about the request, for example whether the current user is admin or not, and set it as a tag on the span sometime after the span has been already started (or on a child sp

[2019-10-14 21:23] yurishkuro opened #1862 "Rethink client metrics for sampled/unsampled spans/traces"
## Requirement - what kind of business use case are you trying to solve?

As we're gradually introducing delayed sampling into clients (#1861), our current `started_spans`/`started_traces` metrics become less meaningful and do not reflect what happens.

## Problem - what in Jaeger blocks you from solving the requirement?

Metrics are currently annotated with a `sampled` label (yes/no), but when sa

[2019-10-15 00:49] ledor473 commented on #633
We are not using Cassandra for Jaeger anymore, it's hard for me to provide any additional context.

[2019-10-15 07:48] samudurand opened #1863 "Documentation for using AWS Elasticsearch"
## Requirement - what kind of business use case are you trying to solve?

Using Jaeger tracing with AWS Elasticsearch

## Problem - what in Jaeger blocks you from solving the requirement?

The issue https://github.com/jaegertracing/jaeger/issues/678 mentions the need for a way to provide AWS ES certificates, and there is even a PR https://github.com/jaegertracing/jaeger/pull/1139 for it that seem

[2019-10-15 07:55] packyzbq opened #1864 "Jaeger in istio"
Hey, I want to deploy  jaeger in the production environment of istio. And in my understanding the istio sidecar will send tracing data to Jaeger collector, so it is not necessery to deploy the Jaeger agent, right? I did deploy the Jaeger collector and query, using ES as the storage backend. However there is nothing in the UI and ES.  All installation steps are referenced from https://github.com/ja

[2019-10-15 08:09] jpkrohling commented on #1864
Istio will create spans related to its own components, such as Proxy (ingress/egress) and Mixer checks. To be able to have a *distrubuted* trace, you'll need to at least propagate the context by relaying some HTTP headers from the incoming request to the outgoing request. See https://istio.io/docs/tasks/telemetry/distributed-tracing/overview/ .

In your case, you should at least be seeing the ingr

[2019-10-15 08:15] objectiser commented on #1864
@packyzbq Have you checked the Istio docs related to Jaeger: https://istio.io/docs/tasks/telemetry/distributed-tracing/jaeger/#before-you-begin - option B describes how to setup Istio to use an external (production) configuration - although note there is a mistake, the port should be `9411` instead of `16686`, I will create a PR to fix that.

[2019-10-15 08:22] packyzbq commented on #1864
@objectiser Thanks for your reply. I'm using  https://raw.githubusercontent.com/jaegertracing/jaeger-kubernetes/master/jaeger-production-template.yml to deploy jaeger, just delete the jaeger agent daemonSet.

I don't want to use Jaeger Operator because I need to deploy Jaeger on the  mips arch node and it is not support Jaeger Operator.

[2019-10-15 08:27] packyzbq commented on #1864
@objectiser I refered this link, and I'm using 9411 port. Is this problem likely to be related to the jaeger sampling strategy?

[2019-10-15 08:34] pavolloffay commented on #1863
For client certificates you have to use flags `--es.tls.*` https://www.jaegertracing.io/docs/1.14/cli/.

Could you please share your AWS Elasticserch configuration, based on that we can improve the docs for https://github.com/jaegertracing/documentation/issues/161

[2019-10-15 08:38] samudurand commented on #1863
Ah I completely missed that, thanks ! Closing the issue since that should be enough

[2019-10-15 08:38] #1863 closed

[2019-10-15 08:38] danielmbarlow commented on #268
For info I use [opencensus-ruby](https://github.com/census-instrumentation/opencensus-ruby/) in production to communicate with Jaeger via [opencensus-ruby-exporter-jaeger](https://github.com/Thinkei/opencensus-ruby-exporter-jaeger) and I'm pretty happy with it.

Notes:
* OpenTracing and OpenCensus [are merging into OpenTelemetry](https://medium.com/opentracing/a-roadmap-to-convergence-b074e5815289

[2019-10-15 08:43] objectiser commented on #1864
@packyzbq No, Istio controls the sampling decision in this situation. As mentioned in the section I referenced:

So you need to set the `pilot.traceSampling` parameter to 100.

[2019-10-15 08:50] packyzbq commented on #1864
@objectiser  I set the `pilot.traceSampling` parameter to 100 and it works! Thank you!

[2019-10-15 08:52] #1864 closed

[2019-10-15 08:53] pavolloffay commented on #1863
Could you please go back to this issue or https://github.com/jaegertracing/documentation/issues/161 and describe what did you have to configure?

[2019-10-15 09:17] objectiser commented on #1861
Equally I guess if the sampling decision is changed, after the context has been injected into an outbound request, that will not be propagated - thus leading to fragmented traces.

[2019-10-16 11:22] #1832 closed

[2019-10-16 11:47] chandresh-pancholi commented on #1858
@pavolloffay shall I pick it up.

[2019-10-16 12:10] pavolloffay commented on #1858
@chandresh-pancholi feel free to do so. I have submitted a PR #1866 however the way forward is still not clear to me. See the comments in the PR.

[2019-10-17 01:23] chopper-poet commented on #1819
The rebalance is too frequently too Unbelievable.

[2019-10-17 04:31] yurishkuro commented on #1819
it looks to me that rebalances are initiated by the Kafka server. The only condition that I know of when the  ingester would cause a rebalance is if its deadlock detector kicks in and closes a partition due to inactivity, but I don't see those logs in the output.

[2019-10-17 04:32] yurishkuro commented on #1819
I wonder if newer Kafka implements some heartbeat to the consumers which is not supported by sarama driver, and that might cause the server to rebalance consumers.

[2019-10-17 07:24] samudurand commented on #1863
I will do so once I have successfully configured my app, at the moment I haven't tried those options yet

[2019-10-17 10:16] vprithvi commented on #1819
Also, it would be useful to have the following information

1. How frequently do you see these rebalances?
2. What is the read throughput?
3. What is the resource utilization on your containers? Are they oversubscribed?
4. What is the topic configuration?

[2019-10-17 11:10] chopper-poet commented on #1819
A1:3s
A2-4:container load is normal

[2019-10-18 15:37] pavolloffay opened #1867 "Change ingester deadlock interval to inf (0)"
https://github.com/jaegertracing/jaeger/pull/1134 introduced

 @yurishkuro why the default is 1 minute? Could it be changed to `0`? The problem is that people usually deploy Jaeger and do not immediately start sending data. With the current default value the ingester dies and it is restarted with exponential backoff (in k8s) which is not ideal.

[2019-10-18 15:40] yurishkuro commented on #1867
Yes, seems reasonable not to make this the default behavior.

[2019-10-18 15:40] vprithvi commented on #1867
I think this is a reasonable change - there is no good reason to have the default be 1 minute

[2019-10-19 00:45] #1867 closed

[2019-10-19 21:20] zoidbergwill commented on #1213
While testing a Docker image to solve https://github.com/jaegertracing/jaeger-idl/issues/55, it definitely seems so.

[2019-10-20 21:26] surendarchandra opened #1869 "all-in-one with badger crashes often and never recovers"
## Requirement - what kind of business use case are you trying to solve?

A temporary storage backend while we investigate other options.

## Problem - what in Jaeger blocks you from solving the requirement?
With the badger in non-ephemeral mode, it runs for a bit and right about 90M mark, it crashes and then never recovers. CPU load is maxed out and it seems to be doing something while
the system

[2019-10-21 07:35] jpkrohling commented on #1869
What is the error message that you get once it crashes? Where are you running it (bare metal, Kubernetes, ...), and how's the resource allocation for the process?

@jkandasa, how hard would it be to change the performance tests to use badger instead of ES?

[2019-10-21 07:38] zhouxiaodiu opened #1870 "trace-without-root-span What's the reason????"
## Requirement - what kind of business use case are you trying to solve?

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questions to address

[2019-10-21 07:39] surendarchandra commented on #1869
Bare metal, I had given the VM 4 CPUs. Unfortunately didn't capture the error messages during crash.

Switched to Cassandra and that seems much better.

[2019-10-21 07:40] zhouxiaodiu commented on #1870
![1571643592(1)](https://user-images.githubusercontent.com/38526309/67185742-14183000-f419-11e9-9855-f8e42f8f109b.png)

[2019-10-21 07:40] zhouxiaodiu commented on #1870
![1571643592(1)](https://user-images.githubusercontent.com/38526309/67185764-22664c00-f419-11e9-9118-cc7745fb7c52.png)

[2019-10-21 07:41] #1870 closed

[2019-10-21 09:04] jpkrohling commented on #1869
If you could try it out and send us an error message, we'd have a starting point to investigate this. Otherwise, we'll depend on our own tests, which might not yield the same problem.

[2019-10-21 10:07] objectiser opened #1873 "[tracking] Add ALLOW_TRACE_JOIN option to tracers"
## Requirement - what kind of business use case are you trying to solve?

Be able to create a new trace with references to spans belonging to multiple trace instances.

## Problem - what in Jaeger blocks you from solving the requirement?

Currently the default behaviour is: if the references don't include a "child of" type, then the first reference will be selected as the parent.

## Proposal - wh

[2019-10-21 17:37] zdicesare opened #1874 "Collectors silently stopped at midnight"
## Requirement - what kind of business use case are you trying to solve?

Collector uptime and normal operation

## Problem - what in Jaeger blocks you from solving the requirement?

We have the Jaeger infrastructure (still on Jaeger 1.11) deployed in AWS, using AWS hosted ES and Jaeger collectors + agents running in ECS. We noticed that we had no recent trace data and that new requests were not g

[2019-10-22 08:47] jpkrohling commented on #1874
Did it happen at exactly midnight? How is your collector configured, especially related to the ES flags? Were you grabbing metrics from the collector, like:

`jaeger_collector_spans_dropped_total`, which would indicate that spans accumulated in the internal queue and were eventually dropped, in favor of newer spans
`jaeger_collector_spans_received_total, which would indicate whether spans were sti

[2019-10-22 12:20] zdicesare commented on #1874
Incoming requests to ES did reach 0 at exactly midnight.

The collector is instantiated with:

[code]

As well as environment variables for elasticsearch span storage type, and a single ES server specified in `ES_SERVER_URLS` and `ES_ARCHIVE_SERVER_URLS`.

We have the collector deployed as a docker container running in ECS as a service, there are 2 collectors running at any given time. No Kubernet

[2019-10-23 11:50] bzon commented on #1438
Is anyone working on this? I or my team can maybe give a shot at this.

[2019-10-23 11:51] Slach commented on #1438
as i now noone working on this

[2019-10-23 11:52] Slach commented on #1438
@bzon i can join you as tester

[2019-10-23 11:53] bzon commented on #1438
Sure!

[2019-10-23 11:58] sboisson commented on #1438
Happy to see someone working on this :)
Might be able to join as tester

[2019-10-23 13:10] yurishkuro commented on #1438
@bzon would be good if you post an architecture here, specifically how you would lay out the data, ingestion, etc. To my knowledge, clickhouse requires batched writes, and it may even be up to you to decide which node to send the writes to, so there are many questions. It may require some benchmarking to find the optimal design.

[2019-10-23 14:01] prana24 opened #1875 "duplication of jaeger.tags in child span"
## Requirement - what kind of business use case are you trying to solve?

Trying to add jaeger.tags  as an argument  to jaeger-agent  just to identify  client in multi tenant architecture

## Problem - what in Jaeger blocks you from solving the requirement?

We see for traces with multiple child span duplicates   tags coming

## Proposal - what do you suggest to solve the problem or improve the ex

[2019-10-23 14:07] prana24 commented on #1875
We are using  jaeger  1.14.1   and grpc    just to add...

[2019-10-23 18:23] bzon commented on #1438
@yurishkuro at the moment, we have zero knowledge with the internals of jaeger. I think that benchmarking should be the first step to see if this integration is feasible. And with that said, the first requirement should be creating the right table schema.

[2019-10-23 22:14] zoidbergwill commented on #1875
Sounds like a duplicate of https://github.com/jaegertracing/jaeger/issues/1778

[2019-10-24 07:50] #1875 closed

[2019-10-24 10:43] jinxiao opened #1876 "jaeger cassandra authentica"
## Requirement - what kind of business use case are you trying to solve?

use cassandra as data store

## Problem - what in Jaeger blocks you from solving the requirement?

jaeger all in one showed unexpected authenticator of cassandra:

[code]

This is my docker run script
[code]

Then , what is the problem
## Proposal - what do you suggest to solve the problem or improve the existing situation?

[2019-10-24 14:15] yurishkuro commented on #1876
From the error message it looks like your Cassandra is configured with a custom authenticator not recognized by the gocql driver.

[2019-10-24 22:41] bplotnick commented on #1731
This is cool that you're doing firehose mode! Looks like the main difference from the Zipkin impl is that it propagates the firehose mode in-band rather than configuring through an out-of-band mechanism.

Would be cool to compare notes to see what lessons we can share (and maybe take those lessons to Open{Tracing,Telemetry,whatever})

CC: @drolando @adriancole

[2019-10-25 01:40] adriancole commented on #1731
feel free to have folks look at this. I'm not arguing with OT people anymore. it is always uphill and futile https://github.com/openzipkin-contrib/zipkin-secondary-sampling/blob/master/docs/design.md

[2019-10-25 01:47] bplotnick commented on #1731
I was actually referencing https://cwiki.apache.org/confluence/display/ZIPKIN/Firehose+mode which is what we implemented in [py_zipkin](https://github.com/Yelp/py_zipkin#firehose-mode-experimental). I think that's closer to what this issue is tracking. Anyway, was just hoping to connect threads, wasn't trying to force anything :)

[2019-10-25 01:54] adriancole commented on #1731
fyi links change, we just didn't tear down that site yet https://github.com/openzipkin/openzipkin.github.io/wiki/Designs

I didn't preface the link about secondary sampling and why it is relevant here. What's described here is a subset of functionality possible with secondary sampling, except here it is combining a specific rule of non-indexing with a propagated header. The secondary sampling aspe

[2019-10-25 02:06] yurishkuro commented on #1731
I've been following the secondary sampling work, it's an interesting approach (reminds me of Pivot tracing).

The firehose in Jaeger is currently purely about disabling indexing, which increases the backend's capacity, especially with Cassandra storage (which tends to have 10x writes for indices compared to span writes). Firehose currently can be triggered by "tag matching" sampling (tracked in #1

[2019-10-25 02:13] adriancole commented on #1731
cool I have confidence @yurishkuro knows the differences here, so that's good for all the things you were interested in @bplotnick.

Probably the only thing is that in b3 we can't change flags as it would break everyone. Instead, someone could make a propagated state like: 'sampling: firehose' and do the similar thing. There is a work-in-progress api similar to tags to allow code to do this. It wo

[2019-10-25 07:44] pavolloffay opened #1877 "Release 1.15.0"
Tracking issue for release 1.15.0. The last release (1.14.0) was done on 2nd September.

We will need UI release (1.5.0). @everett980 could you please release it?

@jaegertracing/jaeger-maintainers please comment which PRs/issues should be resolved before releasing the new version.

It would be nice to get it following PRs:
- [ ] Common TLS config https://github.com/jaegertracing/jaeger/pull/1838

[2019-10-25 17:08] everett980 commented on #1877
@pavolloffay I intend on releasing 1.5.0 of the UI next week. I'm hoping to fit in one more Google Analytics metric and then dog food it internally for a day or two in case of explosions.

[2019-10-26 10:47] HaojunRen opened #1879 "Feature enhancements for support to dislay customer info in Dependencies graph"
## Requirement - Feature enhancements for support to dislay customer info in Dependencies graph

In my micro-services, the invoking chain is
[code]
The A services have two versions : v1.0 and v2.0, the same to B services, so the chain may be
[code]
I will put version info with tag from Opentracing just like
[code]
The same as Region attribute

I suggest two features can be supported
- It is gray-r

[2019-10-26 10:57] preslavmihaylov commented on #771
We can mark jaeger-client-javascript as resolved after #6

[2019-10-28 00:28] MichaelErmer commented on #1044
would be cool to have an option to provide the agent host+port as cmd arg or env variable +1

[2019-10-28 05:46] hitesh1907nayyar opened #1881 "Jaeger problem with sending traces for python script"
Hi All,

While creating a sample script for python (as below) i am not able to find the traces of the service even though i have used jaeger client libraries for python. I am only seeing jaeger-query service. Can somebody please help

[code]

I am running the below command to make jaeger run as container.
sudo docker run   --rm   --name jaeger   -p6831:6831/udp   -p16686:16686   jaegertracing/all-

[2019-10-28 15:04] jpkrohling commented on #1881
Have you followed the troubleshooting guide?
https://www.jaegertracing.io/docs/1.14/troubleshooting/

[2019-10-28 15:05] jpkrohling commented on #1044
@MichaelErmer would you like to give it a try?

[2019-10-28 15:24] yurishkuro commented on #1044
we need to release a new Go client version, which is currently blocked by a couple of PRs

[2019-10-28 16:04] jpkrohling commented on #1044
The development of this feature on this side can happen in parallel, no?

[2019-10-28 17:58] yurishkuro commented on #1044
yes it can, by temporarily depending on the master branch of the client

[2019-10-28 22:50] aachinfiev opened #1882 "Tag based search in Jaeger UI is not finding spans when Badger storage is used."
## Requirement - what kind of business use case are you trying to solve?

Tag based search in Jaeger UI is not finding spans when Badger storage is used.

## Problem - what in Jaeger blocks you from solving the requirement?

Tag search in Jaeger UI not finding spans based on tags when badger plugin is used for storage across given time range. I have a series of traces recorded for different hosts

[2019-10-29 09:18] objectiser commented on #1882
@aachinfiev Thanks for reporting the issue - I've moved it to the main jaeger repo as it is more related to the backend than the UI. What version are you using? How are you deploying the backend?

@burmanm Any thoughts on what might be happening?

[2019-10-29 10:42] burmanm commented on #1882
Version of jaeger? What kind of tags are not found? "but it doesn't find anything that was done earlier in the day."

How long back did you search and how far is the TTL? If the tags finding works for short period of time, then probably either one of those is in error.

[2019-10-29 13:57] allen13 opened #1883 "Elasticsearch Cross Cluster Query"
Would like to add the ability to use the elasticsearch cross cluster query api to query spans across multiple AZs.

I already have some general idea on how to do it but wanted to check here before spending the time working on an MR.

Initial design:

`--es.remote-read-clusters=local,cluster_one,cluster_two`

This will result in the search query GET /jaeger-span-2019-10-28,cluster_one:jaeger-span-2

[2019-10-29 14:16] weeco opened #1885 "Debugging Jaeger Query (missing traces)"
## Any open questions to address

I have deployed Jaeger 1.14 (Agents, Collector and Query ui as separate services) and use Elasticsearch (7.4) as backend. I ensured that Jaeger traces and spans land in Elasticsearch and I can also query them in Kibana.

Unfortunately I can not see any services/spans in the Jaeger Query ui, nor do I see any error/warn/debug log messages in the query service which

[2019-10-29 14:20] jpkrohling commented on #1885
Please, check the troubleshooting guide:
https://www.jaegertracing.io/docs/1.14/troubleshooting/

[2019-10-29 14:24] weeco commented on #1885
Well there's nothing related to debugging the Query UI which cannot find these spans and traces in Elasticsearch. Most of the guide focuses on the write path, which however works for me.

[2019-10-29 14:35] jpkrohling commented on #1885
Sorry, looks like I read your question a bit too fast. To be honest, I have not seen this before. The only thing I could offer right now is to double-check your connection settings, comparing the one from Query with the one from the Collector.

You could also post the logs from your collector and query, perhaps we can spot something that you haven't...

[2019-10-29 16:04] weeco commented on #1885
I believe the elasticsearch configuration is fine and it can also connect to Elasticsearch. When I use a wrong config the query service does log that on startup like this:

[code]

With the correct ElasticSearch settings the log looks fine:

[code]

I tend to believe that the query UI is for some reason not able to see/query the data in Elasticsearch (maybe because I am using ES v7?).

Collector l

[2019-10-29 16:54] saulshanabrook opened #1887 "Cannot build binaries"
I am trying to follow the CONTRIBUTING.md to build the binaries, in order to contribute them to conda forge https://github.com/conda-forge/staged-recipes/pull/9945

However, when I run `build-binaries-darwin` (I am on a mac), I get:

[code]

Any ideas?

[2019-10-29 19:10] yurishkuro commented on #1887
did you run this first?
[code]

[2019-10-29 19:56] saulshanabrook commented on #1887
Yes

[2019-10-29 20:05] yurishkuro commented on #1887
you also need to `make build-ui`

[2019-10-30 11:48] JoseAlban commented on #1848
I'm on jaeger-collector 1.14.0 and got similar problem on the same line:

[code]

[2019-10-30 12:15] arugifa opened #1888 "Why my Collectors ingest rate is higher than my Agents ingest rate?"
I recently started to monitor my Jaeger installation with Prometheus, and noticed something a bit strange: my collectors seem to ingest more spans than what my agents are effectively sending (around 20% more). To be more precise, `jaeger_collector_spans_received_total` returns a number higher than `jaeger_agent_reporter_spans_submitted_total`.

I'm not sure I am using the right metrics here, so pl

[2019-10-30 13:12] hyhanyan opened #1889 "Jaeger Tag value No longer than a certain length， maxTagValueLength is 1G, but this tag no display"
![image](https://user-images.githubusercontent.com/11550403/67860742-8aeab280-fb16-11e9-8e4a-09430ea52eae.png)
![image](https://user-images.githubusercontent.com/11550403/67860769-a3f36380-fb16-11e9-84c3-dc87b7aa2601.png)
when tagSize is 57883， max span tag no display

![image](https://user-images.githubusercontent.com/11550403/67860824-d0a77b00-fb16-11e9-877c-81049332f2df.png)
when tagSize is 220

[2019-10-30 13:13] hyhanyan commented on #1889
![image](https://user-images.githubusercontent.com/11550403/67860938-1401e980-fb17-11e9-97d5-248e6fc232a8.png)

[2019-10-30 13:33] saulshanabrook commented on #1887
@yurishkuro Thanks, that fixed it.

[2019-10-30 13:33] #1887 closed

[2019-10-30 18:51] kjetijor commented on #1819
We noticed the same with multiple instances of jaeger-ingester consuming from kafka. Partition ownership seems to cycle through being owned by the individual ingesters, this may happen before offsets have been committed, which may lead to "some amount" of re-consumption of the same messages. For us - dropping down to single ingester consuming from kafka seems to have mostly solved this for us.

Al

[2019-10-30 20:13] aachinfiev commented on #1882
Thank you guys for a quick response.

I am running jaeger all-in-one binary version 1.13 on windows server 2016. Badger is configured using

[code]

Tag types: I tried using custom tags (e.g. build.info) as well as tags using Process area (e.g. hostname). Hostname doesn't seem to filter by at all. Not sure if that's supported.

I reran my search and saw that anything longer than about 2.5 hours it

[2019-10-30 20:29] burmanm commented on #1882
Would it be possible to update to 1.14 and see if that still happens?

[2019-10-30 20:59] aachinfiev commented on #1882
I just updated to 1.14, removed the whole previous storage I had and started new service.

Now I am seeing index problems even for something that completed 4min ago. I did a trace and then tried to find it by tag or process. I had 4 traces within 5min interval.  Some spans get located with hostname filter, others do not. No spans were located by tag value. I tired again after another 10min and sti

[2019-10-30 21:07] aachinfiev commented on #1882
Here is log output during startup phase

[code]

[2019-10-30 21:08] aachinfiev commented on #1882
Here is output from startup phase:

[code]

[2019-10-30 21:18] aachinfiev commented on #1882
After a few more traces I see *.sst file in the key folder. Seems like index is being built but not consistently. Some spans are found using tags and other are not.

[2019-10-31 08:11] jpkrohling commented on #1885
@kevinearls, @pavolloffay, does it ring a bell?

[2019-10-31 08:19] kevinearls commented on #1885
@jpkrohling Not that I've seen, sorry.  I haven't ever used ES v7 though, so maybe that has something to do with it.

[2019-10-31 08:26] pavolloffay commented on #1885
If the Jaeger services started well it prooves the connection to Elasticsearch is fine.

The issue seems to be in reporting spans.

@weeco how do you report spans to Jaeger?

[2019-10-31 08:30] jpkrohling commented on #1888
It does sound strange, but I can think of a few situations where the collector would show a number higher than the agent:

1. Clients talking directly to the collector, bypassing the agent
1. Pods being restarted, causing the agent's metrics to be restarted
1. The UI also generates spans, but you probably are accounting for that already (and it shouldn't matter much if you have quite a few spans b

[2019-10-31 08:30] #1888 closed

[2019-10-31 09:22] burmanm commented on #1882
.sst files are generated when memtable flush or compaction happens. The data is first written to memory and the WAL log, so this sounds normal.

I haven't been able to replicate your disappearing issue yet though. Any chance you could provide examples (query + spans) ?

[2019-10-31 11:30] pavolloffay commented on #1885
It indeed seems like a problem on the query side.

I have tried ES 7.4 with all-in-one 1.14 and I was able to see traces from jaeger-query (it traces itself).

[code]
You can also try to get a trace from query REST API e.g. `http://<HOST>:16686/api/traces/566ee6fdd7645562`

[2019-10-31 12:07] weeco commented on #1885
I picked a traceId from Kibana tried a REST call on the querier and it returned 404:

http://localhost:16686/api/traces/369af4970a2ad8fd
[code]

[2019-10-31 12:15] ArturBhasker opened #1890 "Jaeger agent as windows service"
## Requirement - what kind of business use case are you trying to solve?

Run jaeger-agent on machine as windows service.
## Problem - what in Jaeger blocks you from solving the requirement?
There are no any possible way to run jaeger-agent as windows service. Jaeger agent could run as console application or docker. I can use 3rd party utils to run as service, but it hasn't track jaeger-agent appl

[2019-10-31 12:21] pavolloffay commented on #1885
Could you please paste here indices?

[2019-10-31 12:36] weeco commented on #1885
![Screenshot 2019-10-31 at 13 34 47](https://user-images.githubusercontent.com/23424570/67947139-3a8d5680-fbe3-11e9-8e57-149e10b76402.png)

jaeger-span-write settings:

[code]

jaeger-service-write settings
[code]

[2019-10-31 12:48] pavolloffay commented on #1885
Your collector is probably configured to use rollover `--es.use-aliases=true`. Whereas query is looking for daily indices. You have to either use daily indices or rollover in both components.

Note that running rollover indices requires cronjob and an initialization step to use it properly.

[2019-10-31 12:50] jpkrohling commented on #1890
I have no idea what it would involve to have a proper Windows service. What kind of changes are required? If it's not too invasive, we could certainly consider incorporating support for it.

[2019-10-31 12:58] weeco commented on #1885
@pavolloffay You were absolutely right, I am sorry for wasting your time. That was not very clear for me though, hopefully not too many users will run into the same issue.

[2019-10-31 12:58] #1885 closed

[2019-10-31 13:06] pavolloffay commented on #1885
You can refer to this blog post to configure it properly https://medium.com/jaegertracing/using-elasticsearch-rollover-to-manage-indices-8b3d0c77915d

[2019-10-31 13:39] hyhanyan commented on #1889
Thanks Krohling.
Yes. When we set a tag which has big value, the whole span can't be displayed on UI.
Actually, our span may have some tags. Some times, even each tag had less than 20000, we still can't see the span.

[2019-10-31 13:48] pavolloffay commented on #1883
I do not have much experience with cross cluster queries. Can anybody from @jaegertracing/elasticsearch have a look?

@allen13 the feature could be easily added if it is not breaking and it is properly handled for all supported ES versions - 5.x, 6.x and 7.x. It shouldn't also break the rollover aliases support  https://medium.com/jaegertracing/using-elasticsearch-rollover-to-manage-indices-8b3d0c

[2019-10-31 14:01] pavolloffay commented on #1881
This is issue with your configuration of python tracer and not Jaeger server.

The python client supports only UDP sender see https://www.jaegertracing.io/docs/1.14/client-features/ and https://github.com/jaegertracing/jaeger-client-python#getting-started.

You have incorrectly configured python tracer. The jaeger host is localhost - you expose UDP port 6830 to your host OS.

[2019-10-31 14:01] #1881 closed

[2019-10-31 14:27] ArturBhasker commented on #1890
I want to launch jaeger-agent in windows sc. Something like

   sc create jaegerService binpath= "C:\jaeger-agent.exe --reporter.grpc.host-port=somehost:14267"

Is there any way to do it?

[2019-10-31 14:58] aachinfiev commented on #1882
I created a sample test:

Recorded couple spans:

![image](https://user-images.githubusercontent.com/3087437/67957829-939dc000-fbcc-11e9-8fc3-4636bd3203ff.png)

Viewed top span to make sure it has a tag

![image](https://user-images.githubusercontent.com/3087437/67957871-a2847280-fbcc-11e9-8f79-734acd0bdba9.png)

Then tried to search spans using the tag while all operation was selected

![image](h

[2019-10-31 15:05] aachinfiev commented on #1882
Here is a sample program I ran in LinqPad. I left minimal details in it:

[code]

I tested build.version and build.name tags (int, string) and it wasn't finding those either.

[2019-10-31 15:11] jpkrohling commented on #1890
I'm not aware of any maintainer who develops on Windows, but speaking only for myself, the answer is: I don't know. If it's not working as a regular service, then we'd need more information and a volunteer to fix whatever is broken.

[2019-10-31 15:57] pavolloffay commented on #1890
Is the problem with passing the flags? If so did you try this https://stackoverflow.com/a/10472078/4158442?

[2019-10-31 17:23] bocharovf commented on #1890
Seems like to be a "windows service" application should respond to special commands from Windows. If we use sc util with jaeger agent it could not be started at all.

There is "svc" package in Go to build windows services:
https://godoc.org/golang.org/x/sys/windows/svc
https://github.com/golang/sys/tree/master/windows/svc/example

Maybe we could use "svc" package and introduce addtitional "windows

[2019-10-31 19:22] yurishkuro commented on #1890
Sounds reasonable. I would put it behind a build tag so that this doesn't even come up for non-Windows builds.

[2019-11-01 01:38] chopper-poet commented on #1819
@yurishkuro @vprithvi
please notice it.

[2019-11-01 11:10] hyhanyan commented on #1889
Today we looked at the database that jaeger connected to，It was found that the "max value" was not written to the es data

[2019-11-01 12:18] vkadiwala opened #1891 "Does Jager support connecting Jaeger-collector to the Elastic Search hosted as a PaaS service?"
## Requirement - what kind of business use case are you trying to solve?
Connecting to Jaeger-collector and jaeger-query service to Elastic search hosted as a PaaS service.

## Problem - what in Jaeger blocks you from solving the requirement?

![image](https://user-images.githubusercontent.com/46812966/68024318-c4b2e900-fccf-11e9-9d28-da3e8d50d005.png)

## Proposal - what do you suggest to solve t

[2019-11-01 12:34] hyhanyan commented on #1889
@jpkrohling  how is this going?

[2019-11-01 13:12] allen13 commented on #1883
Submitted PR here https://github.com/jaegertracing/jaeger/pull/1892

[2019-11-01 13:15] jpkrohling commented on #1891
Could you please share the jaeger-collector and jaeger-query logs?

[2019-11-01 13:17] jpkrohling commented on #1889
@hyhanyan if you can send a PR with a test case + bug fix, it would certainly expedite. So far, I imagine that neither @rubenvp8510 nor @jkandasa had time to try it out.

[2019-11-01 14:24] ScottKaye commented on #1890
I'm using [NSSM](https://nssm.cc/) to run Jaeger instances, which works quite well already.  It just wraps the agent (or any executable) and handles the windows service stuff for you.

[code]

[2019-11-01 15:12] pavolloffay commented on #1877
I would like to block the release until https://github.com/jaegertracing/jaeger/issues/1858 is fixed.

[2019-11-01 15:17] jpkrohling commented on #1890
@ScottKaye would you be open to contribute that to our docs? It could either belong to the main ["Deployment"](https://github.com/jaegertracing/documentation/blob/master/content/docs/next-release/deployment.md) page, or to a new page sibling to ["Kubernetes"](https://github.com/jaegertracing/documentation/blob/master/content/docs/next-release/operator.md)

[2019-11-01 18:57] The-Alchemist commented on #1882
I can confirm I'm also seeing this issue with v1.14.

[code]

It's strangely inconsistent: sometimes searching by tag works, sometimes it doesn't.  Trying to get a consistent test case to reproduce, and I'll report back.

P.S. Jaeger is using Badger 1.5.3.  Perhaps it's worth upgrading to 1.5.5?  I realize upgrading to 1.6.0 is a no-go because of #1884 .

[2019-11-01 19:15] The-Alchemist commented on #1882
UPDATE: Steps to reproduce:

1. Create a span with a tag like `alice=1`
     `span->SetTag("alice", 1); `
2. Search `alice=1` works.
3. Create a span with a tag like `alice=11`
     `span->SetTag("alice", 11); `
4. Span will NOT be found

Based on this scenario, the issue might be the way that tags are marshaled and then queried.

* Code that marshals the spans: https://github.com/jaegertracing/ja

[2019-11-01 20:30] burmanm commented on #1882
I wonder if this is some sort of Windows issue. I tried this with a unit test (as described in your comment):

[code]

But it finds it correctly?

[2019-11-01 20:31] burmanm commented on #1882
Alternative (instead of Windows issue, it's a C# client difference somehow?)

[2019-11-01 21:11] The-Alchemist commented on #1882
@burmanm : Very interesting...  I'm on a Mac,  `jaeger/all-in-one` was run via Docker, and my client is C++.

It might be worth noting that the spans _are_ there in Badger, even if the search-via-tag-value comes up empty.

i.e., I verify my C++ client is working properly it by manually finding the span via the UI.

Would a screencast be helpful?

[2019-11-01 21:27] aloeankh commented on #1300
@jpkrohling I'm coming from Outreachy, am interested in data tracing research, and would enjoy solving this documentation issue. Would you recommend any other tasks I could complete in order to exemplify my skills?

[2019-11-01 21:28] burmanm commented on #1882
Ah, alright. This is odd then, I guess it would be interesting to see the raw-data of those keys in the badger - is something wrong stored there or is the service name somehow differently encoded.

Screens might hide these if they do some UTF-8 <-> UTF-16 conversion for example.

[2019-11-01 21:34] aachinfiev commented on #1882
Are there tools to be able to inspect what's in badger stored? At least to figure out if it's a storage or query issue.

[2019-11-01 21:34] The-Alchemist commented on #1882
@burmanm

Hmm... I can ZIP up my Badger directory after creating the spans, if that would help.  (I haven't had a lot of luck using the badger CLI tools to inspect the keys/values because they're all in binary.)

[2019-11-01 21:42] The-Alchemist commented on #1882
@aachinfiev:

Yes, I've been using a fork of https://github.com/nak3/badger-cli that works against Badger 1.5.3 (the version that Jaeger uses).  I can push up that fork or just the binary if that helps.

If someone can point me to some nice functions that can unmarshall the keys and values, I can add that in.

[2019-11-01 21:51] burmanm commented on #1882
Those index queries don't use values, so keys (and their bytes) are quite enough.

[2019-11-01 22:10] The-Alchemist commented on #1882
@burmanm :

[code]

NOTE: I'm excluding the keys pertaining to jaeger-query.

[2019-11-01 22:21] aloeankh commented on #1834
I'm a Jaeger newbie from Outreachy, and can agree with your perspective of the contributing.md file. However, if the community maintains an exclusive front in order to bar clutter, I suppose this depends on how accessible GitHub is meant to be for fresh faces.

While it's appeal to simplicity may sit well with more experienced coders and frequents on this forum, I'd suggest the inclusion of links

[2019-11-01 22:22] The-Alchemist commented on #1882
I have another dump to show.  Here, I have three spans with different tag values:
* `alice=2`
* `alice=22`
* `alice=222`

The Jaeger UI finds `alice=2` and `alice=22`, but not `alice=222`.

[code]

Maybe it's a URL-encoding thing?

* `alice=2`: http://localhost:16686/api/traces?end=1572646909226000&limit=20&lookback=1h&maxDuration&minDuration&service=example-service&start=1572643309226000&tags=%7B

[2019-11-02 02:37] vkadiwala commented on #1891
Thanks for your help, we identified that using Elastic search version 7.x has introduced this issue. Once we downgraded Elastic search to 6.8.x, Jaeger is working without any issue and able collect and display Traces.

[2019-11-02 08:09] surendarchandra opened #1893 "How to dynamically change sampler?"
## Requirement - what kind of business use case are you trying to solve?

How do I change remote sampler strategy? I'd rather not restart collector so that it can read the sampling file. I was wondering if there was a way to directly inject the sampler into the Trace or
configure my own web server that services the agent /sampling query. The sampling API implementation on the agent server seems si

[2019-11-02 09:50] burmanm commented on #1882
All those keys look correct, they have one additional byte ``32`` for each ASCII "2". As for parsing, those look correct on my machine as well (printing trace.QueryParameters):

[code]

And I hope despite the output the times are actually internally in the UTC for every case.

[2019-11-02 11:19] burmanm commented on #1882
Windows Firefox + Linux all-in-one combo works at least fine. So it's not a browser thing either it appears. Byte dumps look correct also:

[code]

(the part until 00 05 which is timestamp) and index seek looks to be hit the correct one also:

[code]

The fact that the last tag in this order on your env can't be found is troubling. The first two seeks find always min 2 keys, (alice=2, alice=22, re

[2019-11-02 19:14] yurishkuro commented on #994
The TOC has voted in favor of Jaeger graduation! 🎉 🎉 🎉 🎈🎈🎈

https://www.cncf.io/announcement/2019/10/31/cloud-native-computing-foundation-announces-jaeger-graduation/

[2019-11-02 19:14] #994 closed

[2019-11-02 19:24] yurishkuro commented on #1275
Closing stale issue. We have no plans to consolidate all ports into one just to support this limitation of PCF.

[2019-11-02 19:24] #1275 closed

[2019-11-02 19:28] yurishkuro commented on #1559
NB: there is a docker-compose file for running HotROD (added in #1579)

[2019-11-02 20:02] yurishkuro commented on #1841
@meha725 I am not seeing a pull request, only some commits referencing the issue.

The step of adding `$GOPATH/bin` to PATH is part of standard Go toolchain installation. But I have no objections mentioning it in the instructions.

I am going to close this as it's mostly a duplicate of #1834. If you find omissions in the instructions, I recommend (a) making a note in a comment to #1834, and (b) op

[2019-11-02 20:02] #1841 closed

[2019-11-03 12:44] fanadol commented on #1532
Hi, how do you solve this problem ? i got the same error when trying to access jaeger all in one (running in container) from my app container.

[2019-11-03 13:26] ArturBhasker commented on #1890
Yeah! We can use nssm, but as I say below, it woldn't save log in windows event journal and service wouldn't monitor the work of jaeger-agent console

[2019-11-03 16:13] anayrat opened #1895 "PostgreSQL sgRPC torage plugin"
Hello,

Thanks to SQL analytics capabilities, PostgreSQL can be a good candidate as a storage backend. It allows to perform statistics computation, for example, average duration for a given operation, compare it with current day and yesterday...

I didn't start to write code. I just spent some time do study the model and how gRPC works. I first thought to add a storage backend, then i discovered g

[2019-11-03 21:35] yurishkuro commented on #1893
It is currently not implemented. Duplicate of #1058

[2019-11-03 21:35] #1893 closed

[2019-11-03 21:36] yurishkuro commented on #1891
@pavolloffay I thought we support ES 7.x

[2019-11-03 21:53] yurishkuro commented on #1819
Once again, the rebalance of partitions is initiated by the Kafka brokers. Broker logs don't show why it might be happening, so we cannot diagnose it. It could be the driver issue (sarama-cluster), or the fact that ingesters do not commit offsets immediately (we have outstanding ticket #1109 to look into that).

Upgrading to the latest sarama might help, if someone wants to give it a try.

[2019-11-04 07:21] surendarchandra opened #1896 "How to reduce tracing overhead when sampler not tracing"
## Requirement - what kind of business use case are you trying to solve?

I'd like to leave tracing ON at all times and then use the remoteSampler to collect a few traces (or more on demand). If I never create a Tracer, then the overhead with the noop trace is about 400 nsec. However, even if I set the sampling probability to 0, I still pay an over head of 1200 nsec (which remains the same even if

[2019-11-04 11:36] objectiser commented on #1896
Although this would apply to all tracer languages, are you using a particular language for testing performance?

Usually the generation of ids can take time - so it would be good to avoid generating the unique span ids if we know the trace isn't being sampled. However some samplers use the trace id to determine if should be sampled - so would atleast (currently) still need to generate the trace id

[2019-11-04 15:22] pavolloffay commented on #1858
@dcelasun our docs were misleading. You should be able to start Jaeger with ES6 by using data created by ES5. Then wait until ES5 indices are removed or reindex data manually.

The new docs will be added here https://github.com/jaegertracing/documentation/pull/319

[2019-11-04 15:40] The-Alchemist commented on #1882
@burmanm : I'm on a Mac (10.14.6 (18G1012)), but I've been running jaeger through Docker for Mac (2.1.0.4 (39773)).

Unfortunately, I don't have a dev environment set up to debug this (any easy tips?), but it's very easy to reproduce:

1. Unzip [badger-issue.1882.zip](https://github.com/jaegertracing/jaeger/files/3804719/badger-issue.1882.zip)
2. Run the following from the same directory
[code]

3

[2019-11-04 15:56] pavolloffay commented on #1889
@hyhanyan what storage are you using? Is it Elasticserach?

[2019-11-04 16:12] dcelasun commented on #1858
Did you mean ES6 instead of ES5? I've never mentioned ES5.

Looking at that PR and assuming you've meant ES6, I can upgrade to ES7 (with ES6 created data) and everything should just work. Does that sound correct?

[2019-11-04 16:21] pavolloffay commented on #1889
If the tag/span is not in the storage and there are not logs in Jaeger server. The data most likely wasn't sent from the tracer. This might be go client issue and not server.

[2019-11-04 16:25] pavolloffay commented on #1858
No I meant ES 5.

Correct. Could you please review  https://github.com/jaegertracing/documentation/pull/319 and comment if it is not clear enough?

[2019-11-04 16:37] pavolloffay commented on #1891
We do support ES7 since Jaeger 1.14. What version of Jaeger are you using?

Jaeger binaries should show log `"Elasticsearch detected"` with correct ES version at startup. You can force the version by `--es.version=`.

[2019-11-04 16:44] burmanm commented on #1882
It finds the result for me (although I did use the master-version for this one as my docker is somehow not responding at all):

![Screenshot from 2019-11-04 18-45-07](https://user-images.githubusercontent.com/562574/68139558-f8da1400-ff32-11e9-821f-e0871388220f.png)

[2019-11-04 16:53] burmanm commented on #1882
I'll create a docker image for you tomorrow that logs all the relevant info when processing.. Lets see if we can find out the reason.

[2019-11-04 16:55] The-Alchemist commented on #1882
@burmanm : Fascinating!  I think we nailed this one!

I tried `jaegertracing/all-in-one:latest` (pushed two days ago) and `jaegertracing/all-in-one:1.14` (pushed two months ago), and the issue is gone!

i.e.,

This works:

[code]

This will result in this issue:

[code]

I'm guessing something changed in the past two months.

P.S. It might be worth noting that although `jaeger:all-in-one` has been

[2019-11-04 17:03] burmanm commented on #1882
Good to hear, thanks for helping. I don't think there's 1.15 tag yet, that's why there's no such version.

[2019-11-04 17:13] joe-elliott commented on #197
To add a datapoint:  I have just setup jaeger 1.14.0 using scylla 3.1.1 as a backend without issue.  We are currently ingesting ~5k spans a second but want to up that.

If I do run across any problems I will report them here.

[2019-11-04 18:09] aachinfiev commented on #1882
Great to hear that this was already fixed. Is there a way to get windows binaries? I tried building on windows but got stuck with some tools missing. Thank you both for troubleshooting.

[2019-11-04 18:15] allen13 commented on #1883
Cross-cluster query support was added in Elasticserch 5.4. https://www.elastic.co/guide/en/elasticsearch/reference/5.5/modules-cross-cluster-search.html

As long as the flag isn't used it shouldn't break prior versions.

[2019-11-04 21:32] ScottKaye commented on #1890
@jpkrohling Created jaegertracing/documentation#320.  This is my first pull request in a very long time!

@ArturBhasker It looks like NSSM does write to the event log on process failure, at least for me.  In my example I'm also redirecting stdout and stderr to a file, which can be read/streamed for monitoring if required.

[2019-11-05 00:05] #1890 closed

[2019-11-05 02:11] hyhanyan commented on #1889
@pavolloffay Yes ，is  Elasticserach , 5,6,8.

[2019-11-05 02:21] hyhanyan commented on #1889
I was looking for this problem yesterday, and I found that it was because the maxSpanBytes value was too small, is (65000-30)
![image](https://user-images.githubusercontent.com/11550403/68173173-0a8edc00-ff72-11e9-9887-8f65fbf494c5.png)
![image](https://user-images.githubusercontent.com/11550403/68173187-137fad80-ff72-11e9-8c3c-56cb5f5c3168.png)
![image](https://user-images.githubusercontent.com/1

[2019-11-05 02:25] hyhanyan commented on #1889
We haven't found a good way to solve it at present

[2019-11-05 03:29] yurishkuro commented on #1889
You cannot report spans larger than 65k bytes over UDP. But you can use a different reporter/sender, e.g. Thrift over HTTP, which does not have these limitations.

Note that if you're using ingester with Kafka, there's also Kafka message size limit.

[2019-11-05 06:34] hyhanyan commented on #1889
@yurishkuro Thanks ，I can use HTTP，The data is displayed in the UI

[2019-11-05 06:36] hyhanyan commented on #1889
Will the way to use udp be improved, like HTTP

[2019-11-05 10:39] pavolloffay commented on #1858
Done in https://github.com/jaegertracing/documentation/pull/319

[2019-11-05 10:39] #1858 closed

[2019-11-05 10:54] pavolloffay commented on #1889
I think that is limitation of UDP packet size.

This is already documented https://www.jaegertracing.io/docs/1.14/client-libraries/#emsgsize-and-udp-buffer-limits

[2019-11-05 10:54] #1889 closed

[2019-11-05 12:11] pavolloffay commented on #1813
@Talina06 do you have any updates?

[2019-11-05 12:44] burmanm commented on #1882
You can compile the Windows binaries in Linux.

[2019-11-05 17:02] weeco opened #1898 "Add SSL verification mode parameter for rollover script"
## Problem - what in Jaeger blocks you from solving the requirement?

Currently it is possible to specify TLS certificates, but it isn't possible to specify the verification mode for Elasticsearch here: https://github.com/jaegertracing/jaeger/blob/d85776db9cce72ae714da89dbd09e5dcea9eddb4/plugin/storage/es/esRollover.py

Since I only want to run this once, I'd usually go ahead and port forward one

[2019-11-05 21:05] yurishkuro commented on #1877
@pavolloffay @objectiser @jpkrohling I think we should introduce the process of using Milestones to track issues for the release instead of a tracking ticket, because otherwise when someone looks at a closed PR/issue, it's difficult to say if it has been released or not. A part of the release process would be to go through all issues listed in the changelog for the release and attach them to the c

[2019-11-06 02:13] hyhanyan commented on #1889
Ok， thanks

[2019-11-06 02:34] Sasasu opened #1899 "Add flag allow disable gzip encoding on jaeger-query"
### Problem
Some HTTP client cannot process gzip encoding automatically

I can't change the HTTP client behavior

### Proposal

Add a flag, allow disable gzip encoding

[code]

[2019-11-06 08:07] objectiser commented on #1877
Sounds good - if we also categorise them at the same time, bug, feature request, breaking change, etc we might be able to auto-generate a more accurate changelog?

[2019-11-06 09:10] pavolloffay commented on #1877
I find it useful what you are proposing but it adds burden. Do you want to label PRs and issues? This could have been done at merge time, alongside with polishing PR title and commit message.

I believe most people look at the changelog when trying to figure out what PRs made it in.

We could also add this link to each version to show which commits made it in. It's easy to add and maintain. https:

[2019-11-06 16:02] pavolloffay commented on #1410
There are many alternative json libraries. However the benchmark results they show are contradicting between each other. Also this blog post shows that some of the libraries might not be more performant than stdlib and the results might depends also on go version  https://medium.com/a-journey-with-go/go-is-the-encoding-json-package-really-slow-62b64d54b148. Therefore before going forward we should

[2019-11-06 21:15] joe-elliott opened #1901 "Allow configuration of Cassandra tag indexing"
## Requirement - what kind of business use case are you trying to solve?

Our Jaeger installation is currently constrained by the number of tag indexes written into Cassandra/Scylla.  We are ingesting ~7.5k spans/second and ~75k tag indexes/second.

We would like a central place to control/reduce the number of tags we index.  This would allow us to increase our sampling rate and capture more spans

[2019-11-06 21:16] joe-elliott commented on #1901
Given how simple this is I'm working on a PR now for it as it's written.  I'd be glad to make adjustments as necessary or drop it if it's not desired.

[2019-11-06 21:16] yurishkuro commented on #1901
+1. At Uber we also disabled log indexing altogether, so we're only indexing select tags.

[2019-11-06 21:25] joe-elliott commented on #1901
@yurishkuro Feel free to assign to me.  I should have a PR together soon.

[2019-11-06 21:52] aachinfiev commented on #1882
I tried building windows binaries on linux (ubuntu distro) on both Windows Subsystem and docker image and in both cases I couldn't get past step `make install-tools` due to blackfriday v2.0 dependency issue. In Gopkg.toml there is a comment that suppose to fix it by keeping version ^1 but that doesn't seem to work. I get error:

[code]

Gopkg.toml has

[code]

I followed install steps from Jager C

[2019-11-07 02:22] yurishkuro commented on #1899
Compression is only applied if the client indicates that it wants it in the `Accept-Encoding` header.

[2019-11-07 02:29] yurishkuro commented on #1882
could you try with GO111MODULE=off ?

[2019-11-07 13:21] flixr commented on #1882
For me it is now working with the latest all-in-one docker image, but was not working with 1.14...
Probably fixed with #1809

[2019-11-07 13:26] chandresh-pancholi commented on #1869
@surendarchandra Could you help me out here on how can I reproduce this issue?

[2019-11-07 14:30] flixr commented on #961
I'm also running into this problem...
Is there any way to turn off the adjustment globally?

[2019-11-07 14:43] dhulchuk commented on #961
We use next workaround for this problem:
You can set ip param in all traces to constant, so clock adjustment will be ignored for all new traces.

[2019-11-07 14:49] dhulchuk commented on #961
<img width="1102" alt="Screen Shot 2019-11-07 at 16 46 07" src="https://user-images.githubusercontent.com/46413718/68399060-72b20d80-017e-11ea-8a49-8117950b8f7b.png">

[2019-11-07 18:23] aachinfiev commented on #1882
I was able to get past make install-tools but when trying to do `make build-binaries-windows` I ran into the same issue on linux as on windows:

[code]

Any idea what could be wrong? Do I have to downgrade/upgrade something?

I am using `go version go1.13.4 linux/amd64`

[2019-11-07 19:55] joe-elliott opened #1905 "Allow disabling of log indexing"
## Requirement - what kind of business use case are you trying to solve?

In order to increase spans throughput to Cassandra we need more control over what is indexed.  Currently all logs are being indexed.  Once https://github.com/jaegertracing/jaeger/issues/1904 is merged we will have more control, but it would be nice to just disable log indexing all together.

## Problem - what in Jaeger block

[2019-11-07 19:57] joe-elliott commented on #1905
I would be glad to begin working on this as soon as https://github.com/jaegertracing/jaeger/issues/1901 is merged.  The changes touch some of the same areas.

[2019-11-07 20:49] yurishkuro commented on #1877
Issue: new prometheus client not building on windows, need to investigate

https://travis-ci.org/jaegertracing/jaeger/jobs/608904003

[code]

[2019-11-07 20:58] yurishkuro commented on #1877
prometheus client seems to depend on a later version of x/sys than Jaeger, trying to upgrade Jaeger

[2019-11-07 21:25] yurishkuro opened #1906 "Master does not build on Windows"
prometheus client not building on windows: https://travis-ci.org/jaegertracing/jaeger/jobs/608904003

[code]

[2019-11-07 22:31] yurishkuro opened #1908 "Optimize all-in-one and Docker CI steps"
One of the longest parts of all-in-one and Docker steps is building the UI, which is now repeated (after #1909).

We can either combine these two steps, or fix the scripts to skip building the UI when on a PR build.

[2019-11-07 22:39] yurishkuro commented on #1877
We already book these tracking issues for releases, is it really much more burden?

I would only tag PRs, not issues, e.g. once the changelog is prepared, go through all PRs and attach them to the milestone (usually it's not that many). Perhaps we could even have a bot that would do that automatically.

I agree that you could get the same information from commit history, but it's much more of a ha

[2019-11-07 22:42] yurishkuro commented on #1877
Just did it for last release, it took about 3min to tag the PRs.

https://github.com/jaegertracing/jaeger/milestone/7

[2019-11-07 22:49] yurishkuro commented on #1882
@aachinfiev this was a new issue that our CI did not catch. I just fixed it in #1907.

Make sure to rerun `dep ensure --vendor-only` first.

[2019-11-07 23:10] yurishkuro commented on #1737
I would like to revisit this. How much value are we going to get from fuzzing?  It is quite expensive to run and adds almost 17min to CI becoming green (example: https://travis-ci.org/jaegertracing/jaeger/builds/608901821)

[2019-11-07 23:59] aachinfiev commented on #1882
I got the latest and tried to build:

[code]

and getting

[code]

[2019-11-08 00:03] yurishkuro commented on #1882
that's expected, you need to `build-ui` first before `build-binaries-windows`

[2019-11-08 00:47] aachinfiev commented on #1882
@yurishkuro I saw that you updated it to build binaries as part of CI and released 1.15.1. Thank you very much for that update. I was able to get that binary and confirm that this issue is fixed and search is working properly with badger running on windows.

Thanks everyone for helping out.

[2019-11-08 00:47] #1882 closed

[2019-11-08 02:20] joe-elliott commented on #197
We continue to see success with Scylla.  I will warn anyone interested in using Jaeger with Scylla of this issue:  https://github.com/scylladb/scylla/issues/5168.  Jaeger uses TTL expiry and a TimeWindowCompactionStrategy as reported in the issue.

It is not impacting us in 3.1.1, but it appears to impact versions at least as new as 3.0.10.

[2019-11-08 03:46] yurishkuro commented on #1905
NB: while the CLI flag could be "positive" ("enable"), the struct field should be negative (DisableLogIndexing) so that the default behavior of the storage doesn't change.

[2019-11-08 04:54] Talina06 commented on #1813
@pavolloffay Extremely sorry that I haven't been able to work on this dedicatedly. I will unassign myself in case someone else wants to pick this up. Meanwhile, I will post an update whenever I have a proof of concept. Hope that sounds good? Thank you.

[2019-11-08 08:30] pavolloffay commented on #1813
sounds great, keep us posted.

[2019-11-08 15:22] pavolloffay commented on #1410
I have written and run benchmarks for stdlib, gojay, fastjson, jsoniter using our ES span model.

The repository with results is here https://github.com/pavolloffay/golang-json-benchmark. There is also CI which runs benchmarks (Github actions).

I am copying here results and conclusions:

## Conclusions

* Fastjson does not provide a way to unmarshal `interface{}` in tag map, therefore it should n

[2019-11-08 15:26] pavolloffay commented on #1410
Based on the results above there is no clear winner. Gojay seems to be a bit faster but not dramatically in normal use-case. It only outperforms when using tag map (tags for kibana). The memory wise it is worse than stdlib.

[2019-11-08 15:59] pavolloffay commented on #1877
The issues listed in the release tracing ticket like this one are just a subset of issues in a release. These issues are listed here to block the release.

I am fine with using the milestones we just need to document it. Note that 1.15 was not a big release so doing it at release time wasn't that painful.

[2019-11-08 15:59] #1877 closed

[2019-11-08 17:50] flixr commented on #1882
With 1.15.1 the tag search now works, but I only see traces having an ID starting with `f`. Going back to 1.14 I see all traces again (but the the tag search is not working anymore).
I'm using badger and receiving zipkin json traces/spans.

[2019-11-08 19:10] The-Alchemist commented on #1882
@flixr :

I think you should create a new issue for this, and provide a ZIP of your badger directory and Docker command.  I'm not using the Zipkin  format, but everything seems good w/ 1.15.1 (I see all traces, not just ones starting with `f`).

[2019-11-09 03:49] #1901 closed

[2019-11-09 04:28] The-Alchemist opened #1912 "support NATS.io as additional backend?"
NATS is a "simple, secure and performant communications system for digital systems, services and devices," and it's part of the CNCF and written in Go, just like jaeger itself.  For many use cases, it can replace Kafka.

Jaeger supports Kafka OOTB, but not any other messaging platforms.  NATS support in Jaeger would allow Jaeger deployments with much lower resource requirements than Kafka while st

[2019-11-09 12:40] flixr opened #1913 "showing latest traces not working properly using all-in-one with badger"
## Requirement - what kind of business use case are you trying to solve?

Seeing the latest traces while limiting the number of results.

## Problem - what in Jaeger blocks you from solving the requirement?

With all-in-one 1.15.1 I don't get the latest X traces anymore, but it seems rather the traces with highest trace ID first.
With 1.14 I correctly get the _latest_ X number of traces, regardles

[2019-11-09 12:44] flixr commented on #1882
See #1913

[2019-11-09 13:07] burmanm commented on #1913
Yep, this limit ordering was broken by the PR #1809

[2019-11-09 16:13] linkingli opened #1914 "how to clean jaeger history data in istio"
hello,how to clean jaeger history data? i deploy a application in istio,but when i update service,there still some old version history,so i have to delete jaeger pod,:(.
like following, there are same old versions about the same service,but i only want the "eshop" service
![image](https://user-images.githubusercontent.com/28832157/68531558-857b3c80-034e-11ea-9c6f-5579738aa6e1.png)

so i have to de

[2019-11-09 16:30] linkingli commented on #1914
forget the following information
[code]

[2019-11-10 03:29] yurishkuro commented on #1914
Deleting data is not supported by any Jaeger storage implementations, but many of them do support TTL.

[2019-11-10 03:29] #1914 closed

[2019-11-10 03:31] yurishkuro commented on #1913
@burmanm is this a bug that needs to be fixed?

[2019-11-11 05:16] VishvendraRana commented on #1813
Hello @Talina06, If you are not able to work on this then I can take this up.

[2019-11-11 05:32] Talina06 commented on #1813
Sure @VishvendraRana, sounds good. unassigning myself so you can take it up.

[2019-11-11 13:58] emailtovamos opened #1916 "Badger not cleaning data in expected manner"
I'm using `all-in-one` with badger storage in google Kubernetes.
My file is:

[code]

This means I expect the old traces to be deleted in 24 hours. I searched for the old traces, I couldn't find them which is the expected behaviour. So far all good.

But the thing I am worried about is the constant increase of the disk space. I was expecting it to stay around the level which it reached at the end

[2019-11-11 14:14] pavolloffay commented on #1916
cc @burmanm

[2019-11-11 18:30] VishvendraRana commented on #1813
Hello @pavolloffay ,
I have created two sample notebooks one in python and another is in scala. The sample notebooks can be found [here](https://github.com/VishvendraRana/jupyter_notebooks). I have used spark platform with elastic search as backend storage. It can be used with kafka streaming too.
Let me know what're our further plans and how can I help?

[2019-11-11 21:57] #1905 closed

[2019-11-12 09:47] pavolloffay commented on #1813
Great work @VishvendraRana! I had a quick look. Am I right that those notebooks do not consume Jaeger data? They just define a general connection to the storage.

As in Jaeger there are multiple storages it might be better to get a trace from Jaeger query endpoint or alternatively consume a stream from Kafka.

So we need:
* a way to consume a trace from Jaeger query, or just paste the JSON into th

[2019-11-12 13:39] kkaczkowski commented on #1895
Can you tell when this functionality will be ready?

[2019-11-12 14:39] pavolloffay opened #1917 "Log error when building docker image for Elasticsearch python scripts"
[code]

The error is just logged it does not break the build.

[2019-11-12 15:28] joe-elliott commented on #747
I'm currently seeing this issue on jaeger-query 1.14 in k8s.

[code]

And then seeing a similar error log as the above:

[code]

[2019-11-12 15:48] VishvendraRana commented on #1813
Yes @pavolloffay , current notebooks don't consume jaegar data. I will update those to consume traces from jaegar.

[2019-11-12 22:40] #747 closed

[2019-11-12 23:44] guo0693 opened #1920 "Support optional query param "spanKind" when get operations for given service"
## Requirement - what kind of business use case are you trying to solve?

We want to filter the operations of a service by span kind, those filtered operations can be used for features e.g. get dependencies graph for service:operation pair from server side (spanKind == "server")

## Problem - what in Jaeger blocks you from solving the requirement?

Currently we only save operations indexed by serv

[2019-11-13 00:09] guo0693 opened #1921 "Cassandra & memory storage update: query service to support spanKind when retrieve operations for a given service."
## Requirement - what kind of business use case are you trying to solve?
Related to #1920

- Cassandra & memory storage update: query service to support spanKind when retrieve operations for a given service.

- Update query service so that the restful & grpc endpoints satisfy requirement in #1920.

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you sugg

[2019-11-13 00:11] guo0693 opened #1922 "Badger storage update: query service to support spanKind when retrieve operations for a given service."
## Requirement - what kind of business use case are you trying to solve?

Related to #1920

Update badger reader and writer such that we can retrieve operations by service name and span kind

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questions to address

[2019-11-13 00:13] guo0693 opened #1923 "ES storage plugin: query service to support spanKind when retrieve operations for a given service"
## Requirement - what kind of business use case are you trying to solve?

Related to #1920

Update ElasticSearch reader and writer such that we can retrieve operations by service name and span kind

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questions to address

[2019-11-13 08:27] burmanm commented on #1916
Hi,

I don't know what the "expected manner" is in this case, but perhaps something more aggressive than what the badger currently does? To verify the behavior, I wrote a small test:

[code]

And then started to monitor the disk usage and reclaim process, here are some parts of the log:

[code]

From that it looks like the diskspace is correctly reclaimed, however I wonder if your expectation was

[2019-11-13 08:34] burmanm commented on #1920
Couple of questions:

* What happens to old data? It can't be queried this way if the information doesn't exist.
* What defines the kind? The writing client? I don't see any links to the client changes, so is this something coming from for example OpenTelemetry?
* Why not just a tag?

And of course tasteful thing, but "spanKind" inside Process doesn't really feel descriptive to me. Also, what is a

[2019-11-13 09:48] objectiser commented on #1920
@guo0693 Agree with @burmanm - why just restrict to `spanKind`, when can support a list of tags, of which `span.kind` could be one that is queried?

[2019-11-13 10:27] flixr commented on #1913
For us this bug makes jaeger even less usable than without a working tag search, so we had to go back to 1.14 until this is fixed.

[2019-11-13 12:31] jpkrohling commented on #1912
As much as I love NATS, every new storage backend that is added to the core comes with a cost, especially on maintenance. As such, I'd suggest implementing this first as a storage plugin using the mechanism we have in place already.

[2019-11-13 12:33] anayrat commented on #1895
Sure, I did not start to work on this (I do this on my free time).

[2019-11-13 12:38] jpkrohling commented on #1895
@anayrat I think it's a great idea. More and more concrete storage providers are compatible with PostgreSQL's wire format, so, adding support for this will automatically add support for a bunch of other solutions, like CockroachDB.

Once you have a proof of concept ready, or even the final code, let us know and we can add a link to it from our documentation.

[2019-11-13 12:45] jpkrohling commented on #1300
@aloeankh sorry, I just saw your message. The application phase for Outreachy is over (or almost), but if you'd still like to contribute, the right place for this would probably be in the Cassandra-specific documentation, here:

https://www.jaegertracing.io/docs/1.14/deployment/#cassandra
(source: https://github.com/jaegertracing/documentation/blob/master/content/docs/next-release/deployment.md#ca

[2019-11-13 12:55] jpkrohling commented on #1899
@Sasasu are you facing a specific problem with that? Are you able to provide a reproducer? As @yurishkuro mentioned, the regular content negotiation should be skipping the gzip compression if the client doesn't support it, but we might have a bug somewhere.

[2019-11-13 12:57] jpkrohling commented on #1899
From https://github.com/jaegertracing/jaeger/pull/1900#issuecomment-550940480:

[2019-11-13 13:02] jpkrohling commented on #1737
You sure it's being caused by the fuzzing job? I see the ES tests taking about 18 minutes, with the two fuzz jobs taking 11m and 4m each. I have to admit though that I haven't even looked at the results of a single job yet, so, it's not really adding much value *to me*.

![image](https://user-images.githubusercontent.com/13387/68765908-2d7a5980-061e-11ea-8db5-b2ea0dc33d94.png)

[2019-11-13 15:15] The-Alchemist commented on #1912
Thanks, @jpkrohling.  When you say "storage plugin", do you mean gRPC plugin?  I'm having trouble finding the relevant code.

[2019-11-13 15:22] jpkrohling commented on #1912
Yes, that's what I mean. Here's some doc about it:
https://github.com/jaegertracing/jaeger/tree/master/plugin/storage/grpc

[2019-11-13 15:43] yurishkuro commented on #1912
It won’t work as a storage plugin today,  because only the write path (publishing) can be implemented as storage, but the subscription part in the ingester is (a) not abstracted away from Kafka, and (b) does not have an equivalent grpc plugin framework in place.

[2019-11-13 15:51] jpkrohling commented on #1912
True. We did discuss about splitting the plugin, didn't we?

[2019-11-13 16:29] guo0693 commented on #1920
- For existing data, spanKind will be empty and should be queried by "GET /api/operations?service={service}". If necessary, we can create migration script for specific storage plugin to manually add "" spanKind for each operation. We use cassandra at our company and when we update table schema to add a new column, no extra action needs to be taken.
- span writer will get spanKind from "span.kind"

[2019-11-13 17:52] objectiser commented on #1920
@guo0693 Yes I think it would be better (more general) if was a tag at least (maybe not list for now) - rather than just implementing something for this specific use case.

[2019-11-13 20:09] yurishkuro commented on #1920
There are certain arguments in favor of doing this as a general extension with arbitrary tags, but there are also a lot of arguments against that:
  1. Do we know of any real use cases when tags other than spanKind would be useful? Remember that this specific API is primarily used to populate the list of operations for a given service. We don't have any plans to support any search capabilities ove

[2019-11-13 20:54] burmanm commented on #1920
Based on the support tickets for badger backend, a lot of them have been about tags searching. Sadly most of them have included censored tags, so the actual names are not known. But they have included multi-tags searching. Also, why wouldn't ``error=true`` not make sense? I think it sounds like a great filtering when you're interested in traces that end up in failure.

To me this ticket sounds lik

[2019-11-13 21:09] guo0693 commented on #1920
To query `traces` that end up in failure is a valid query, which I believe currently searching traces by tags is already supported.

But this issue is searching `operations` based on service and spanKind. We have an ask from UI to only return service-operations from server spans so that when user select a service from the DDG page the operations dropdown list only shows server operations.

[2019-11-13 22:18] burmanm commented on #1920
Is this more related to the dependency structure then? Or what's the point
of searching only the operations without traces?

On Wed, Nov 13, 2019, 23:10 Jun Guo <notifications@github.com> wrote:

[2019-11-13 22:34] yurishkuro commented on #1920
@burmanm I cannot find this ticket now, but it's somewhere in this repo or the UI where people complained "why do you I see all those weird span names in the Operations dropdown on the Search page?  I only want to see the _endpoints_ of my service, not all the internal / client span names". That's what this feature is fixing - to be able to separate operations into "endpoints" vs. "the rest".

[2019-11-14 01:46] yurishkuro commented on #1737
Sure, ES step is long, but it runs in parallel with the others, while fuzzing is almost doubling the total wait time (and uses available compute, blocking other jobs). It feels like a solution in search of a problem.

[2019-11-14 06:30] yevgenypats commented on #1737
Hey team, saw that you are having issues with the fuzzing jobs latency.

Looks like the fuzzing regression is slow due to slow input for one of the fuzz targets. I can suggest a couple of solutions:

1) See why the fuzz target is slow and fix if possible
2) Remove the fuzz regression step completely. Fuzzit will still run regression in the cloud it just won't run them on pull-request so there migh

[2019-11-14 08:45] objectiser commented on #1920
My main objection was related to API design/consistency and mapping onto the model - service, operation and tags are first class concepts, whereas `span.kind` is not (i.e. it is a specific type of tag).

However given the transition to OpenTelemetry, and that span kind is a top level span field now (instead of an attribute/tag), I am ok with the approach.

[2019-11-14 11:33] pavolloffay commented on #1737
The fuzz regression takes about 50 minutes and it's run only after all test jobs passed.

![Screenshot of Build #6241 - jaegertracing_jaeger - Travis CI](https://user-images.githubusercontent.com/5618424/68853684-da1a1100-06da-11ea-9110-5c13ee564074.png)

 On top of that the fuzz regression seems to be flaky on travis due to:

https://travis-ci.org/jaegertracing/jaeger/builds/611282090?utm_source=

[2019-11-14 11:36] pavolloffay commented on #1737
The fuzzit badge in our readme requires to log in https://app.fuzzit.dev/orgs/jaeger/dashboard. Even after the login I wasn't able to find the results.

[2019-11-14 11:41] yevgenypats commented on #1737
@pavolloffay I've add you to jaeger organisation and you have access now to https://app.fuzzit.dev/orgs/jaeger/dashboard . You and @jpkrohling are now both admin of this organisation.

[2019-11-14 11:43] pavolloffay commented on #1737
The link https://app.fuzzit.dev/orgs/jaeger/dashboard should be public if we want to have it in the readme.

[2019-11-14 11:45] yevgenypats commented on #1737
Public dashboard is on our roadmap as most users usually want this private not to expose crashes before they are fixed. But this is a valid feature request and we are working on it.

[2019-11-14 12:20] emailtovamos commented on #1916
Thanks @burmanm for the detailed test.
Does it mean the data should never go beyond certain limit?
In my case even though the deletion happen the overall disk usage of the jaeger pod keeps increasing. By "**expected manner**" I meant that the **disk usage** should have an **upper limit**. This doesnt happen for me currently. Which means I will have to replace my PVC which I give as part of badger

[2019-11-14 12:36] burmanm commented on #1916
It should reach equilibrium at some point, where deletes are done at the same rate as inserts. There is no set upper limit when this would occur, it depends on the compaction rate and how the levels are built on the LSM tree.

Are the .SST files taking most space in your use or the .vlog files? I could add some more configuration parameters to allow you to get the deletes coming in faster (with th

[2019-11-14 12:45] pavolloffay commented on #1874
@zdicesare any updated on the metrics? Were you able to resolve this?

[2019-11-14 12:47] pavolloffay commented on #1898
done in #1918

[2019-11-14 12:47] #1898 closed

[2019-11-14 12:51] pavolloffay commented on #1869
@burmanm did we solve this with truncate flag?

[2019-11-14 12:54] pavolloffay commented on #422
@yurishkuro can we close this one?

[2019-11-14 12:55] pavolloffay commented on #1365
We don't have plans to support this at the moment. This could be done externally with a storage plugin https://github.com/jaegertracing/jaeger/issues/638

[2019-11-14 13:18] pavolloffay commented on #1410
I have reported the issue in `encoding/json` https://github.com/golang/go/issues/35585 to improve `map[string]interface` marshaling.

[2019-11-14 13:20] burmanm commented on #1869
I think this might be related to mmap issues in the container. That is, the container doesn't allow allocating enough blocks to the memory and that then potentially corrupts the disk space. This is kinda machine / installation specific issue unfortunately. But certainly something that could be investigated (by limiting the amount of virtual memory & blocks and see if this reoccurs) and then a set

[2019-11-14 18:29] emailtovamos commented on #1916
Since the pod is already running with the assigned PVC, I am not sure how to get data from the underlying PV WHILE the pod is still running.
And Kubernetes/GKE doesn't have an easy way to look into a PV to know if the .SST files are taking more space or the .vlog files.

[2019-11-14 23:48] davidmichaelkarr commented on #1578
I just noticed this thread, because I think I'm running into this problem in our enterprise.  Assuming this is the same problem I'm seeing, this issue is not a cosmetic issue.  It appears that we are generating logs between different services that sometimes have the leading zero, and sometimes do not.  When we searched for a particular trace-id in our Splunk instance, we found log entries associat

[2019-11-15 02:44] Sasasu commented on #1899
I think this is RestTemplate's bug.

The HTTP client supports gzip encoding, but `RestTemplate` uses some `readRawBody` method then tries to deserialize the HTTP body to Java class.

The code is
[code]
`this.restTemplate` was initialized by spring.

The HTTP client does send `Accept-Encoding: gzip`.
The HTTP client support decodes gzip by using some `readBody` method.
But RestTemplate does not use

[2019-11-15 04:22] yurishkuro commented on #1899
Please open a ticket with Spring to fix it. Closing this ticket.

[2019-11-15 04:22] #1899 closed

[2019-11-15 11:13] hyhanyan opened #1926 "Converting JSONSpan to domain Span failed: encoding/hex: invalid byte: U+002E '.'"
## Requirement - what kind of business use case are you trying to solve?

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questions to address

[2019-11-15 11:14] hyhanyan commented on #1926
use jaeger-ui ,
![image](https://user-images.githubusercontent.com/11550403/68939703-22980400-0799-11ea-9d76-a2578723625c.png)

[2019-11-15 14:43] mooperd opened #1927 "Upstream connect error or disconnect/reset before headers. reset reason: connection termination"
Hi,

When I try and expose Jaeger via Istio ingress gateway I get the following problem - I thought someone watching here would have an explanation. It's sure confusing the hell outta me!

https://discuss.istio.io/t/upstream-connect-error-or-disconnect-reset-before-headers-reset-reason-connection-termination/4434

Cheers,

Andrew

[2019-11-15 17:32] teivah commented on #1488
@yurishkuro Just an additional question, please. So why do we need to specify the collector endpoint in each client? I mean if the traffic is client -> agent -> collector, why should a client be aware of the collector endpoint?
Thanks

[2019-11-15 19:07] yurishkuro commented on #1488
you don't need to specify collector endpoint. If you do, the client will talk directly to collector, bypassing the agent.

[2019-11-15 19:30] yurishkuro commented on #1926
I am assuming you're using Elasticsearch?  Since it's the only storage that uses JSON as representation.

There may be data corruption in the storage, or a bug in the write path. I'd recommend looking in the storage for what kind of data is stored. Hex encoding would be used for trace/span IDs.

[2019-11-15 19:30] yurishkuro commented on #1926
cc @pavolloffay

[2019-11-15 20:01] #422 closed

[2019-11-15 22:20] yurishkuro commented on #1877
Documentation released.

[2019-11-16 09:45] amirbagh75 opened #1928 "K8S Operator yaml file broken! - jaegertracing_v1_jaeger_crd"
this [link](https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/crds/jaegertracing_v1_jaeger_crd.yaml) on this [page](https://www.jaegertracing.io/docs/1.15/operator/#installing-the-operator-on-kubernetes) return 404.
---
please change it to this link: [https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/crds/jaegertracing.io_jaegers_crd.yaml](ht

[2019-11-16 10:21] objectiser commented on #1928
Thanks for reporting this issue - I am going to move it to the doc repo.

[2019-11-17 17:14] lazyf0z commented on #705
I'm taking this issue up, if no one else is taking this. :pray:

[2019-11-17 23:19] burmanm commented on #1922
I'll add notes here so that I don't forget (or if someone else is implementing):

* A single index key is enough for serviceName, operationName + span.Kind indexing

Thus, replace the following code from reader:

[code]

Instead, write a single key with operationIndexKey and in the form of ``query.ServiceName+query.OperationName+tags.span.kind``. Then, in the reader scanning, take into account the

[2019-11-18 02:59] hyhanyan commented on #1926
@yurishkuro Thanks, I will try it

[2019-11-18 02:59] hyhanyan commented on #1926
@yurishkuro Thanks, I will try it

[2019-11-19 08:38] BEvgeniyS commented on #1824
Experiencing the same with Amazon's ES and Jaeger operator 1.14

[2019-11-19 12:03] xvdy opened #1932 "Is `:` forbidden in service name?"
## Requirement - what kind of business use case are you trying to solve?

jaeger-1.14.0-linux-amd64, es 7.4 as storage.
## Problem - what in Jaeger blocks you from solving the requirement?

If service name includes  `:`  , the service could not be search from /api/services.
I try to use `.`, `#`, `/` as a part of service name, all works well.
Is `:` forbidden in service name?
## Proposal - what do

[2019-11-19 17:33] yurishkuro opened #1935 "Use "jaegerbot" Docker Hub credentials to upload Docker images"
Currently we're getting this:

![image](https://user-images.githubusercontent.com/3523016/69170858-af033900-0aaf-11ea-973b-b9101d8a4de8.png)

[2019-11-19 17:43] yurishkuro commented on #1932
I don't think anything in Jaeger explicitly prohibits it, but it may be the side effect of Elastic query language.

cc @pavolloffay

[2019-11-19 19:33] zheyiyi opened #1936 "Can you told me where is the code about kafka client in jaeger collector"
I check collector but I haven't found any code about kafka producer send spans to kafka in collector
https://github.com/jaegertracing/jaeger/tree/master/cmd/collector.
 Can you tell me where it is?

[
![image](https://user-images.githubusercontent.com/12801407/69179441-8abc5200-0ad9-11ea-87d2-9045657f692c.png)
](url)

[2019-11-20 01:25] xvdy commented on #1932
New findings. If I use jaeger agent to receive spans, the service name including `:` also works well. When I send spans directly to collector by http, the things go wrong. Service name including `:` couldn't be sent to collector directly by http.

[2019-11-20 08:59] burmanm commented on #1916
I'm not entirely sure if this is going to answer your question, but if you fetch the badger metrics, then there's ``badger_lsm_size_bytes`` and ``badger_vlog_size_bytes``. If both datas aren't stored in the same directory that is. Although I think 1.5.3 has a bug that it always reports the same number for both metrics (it's been fixed upstream, but I don't remember the version).

[2019-11-20 09:00] burmanm commented on #1916
But you can of course subtract the other if you have the total.

[2019-11-20 09:08] jpkrohling commented on #1932
Looks like it might indeed be a problem with ES, as I got a simple example to work with in-memory:

![image](https://user-images.githubusercontent.com/13387/69224892-9b260880-0b7d-11ea-8d1e-f590c044ce80.png)

@xvdy, are you using Elasticsearch as the storage? Are you able to the in-memory storage instead, just to check whether it's storage-related?

[2019-11-20 09:37] jpkrohling commented on #1936
Kafka is set as a storage backend, and the code is mainly here:
https://github.com/jaegertracing/jaeger/tree/master/plugin/storage/kafka

The consumer side is the "ingester" component: https://github.com/jaegertracing/jaeger/tree/master/cmd/ingester

The official documentation is here:
https://www.jaegertracing.io/docs/1.15/deployment/#kafka

And here:
https://www.jaegertracing.io/docs/1.15/deploy