[2019-11-20 09:37] #1936 closed

[2019-11-20 10:25] pujunYang commented on #1678
i have the same problem!!!
##error is
 root@ubuntu-165:~/jaeger# kubectl logs productpage-v1-787bcf4b68-j88qj jaeger-agent | grep addrConn.createTransport
{"level":"info","ts":1574242860.4926956,"caller":"grpc/clientconn.go:1191","msg":"grpc: addrConn.createTransport failed to connect to {10.33.36.204:14250 0  <nil>}. Err :connection error: desc = \"transport: Error while dialing dial tcp 10.33.36

[2019-11-20 10:28] jpkrohling commented on #1678
@pujunYang could you please share what's your `my-jaeger-collector-headless` definition? `kubectl get service my-jaeger-collector-headless -o yaml` should do the trick. How are you setting it up? Is it via the Operator?

[2019-11-20 10:35] pujunYang commented on #1678
@jpkrohling yes
  use Operator start jaeger,

`kubectl get service my-jaeger-collector-headless -n kube-system  -o yaml `
apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/scrape: "false"
  creationTimestamp: "2019-11-20T09:40:13Z"
  labels:
    app: jaeger
    app.kubernetes.io/component: service-collector
    app.kubernetes.io/instance: my-jaeger
    app.kubernetes.io/manag

[2019-11-20 10:41] pujunYang commented on #1678
@jpkrohling  it is was Jaeger.yaml

 _**apiVersion: jaegertracing.io/v1
kind: Jaeger
metadata:
  name: my-jaeger
  namespace: kube-system
spec:
  strategy: production # <1>
  allInOne:
    image: jaegertracing/all-in-one:latest # <2>
    options: # <3>
      log-level: debug # <4>
  storage:
    type: elasticsearch # <5>
    options: # <6>
      es: # <7>
        server-urls: http://elasticsearch-

[2019-11-20 12:36] xvdy commented on #1932
When I use es as backend storage and send spans to local jaeger agent, It works well.
When I use es as backend storage and send spans to collector by http directly, It went wrong.

[2019-11-20 13:27] jpkrohling commented on #1932
Works for me with the Java client and Elasticsearch 6.8.4 and 7.4.2:

[code]

On the [client side](https://github.com/jpkrohling/devoxx19-demo/tree/master/service-mesh-order) (`JAEGER_ENDPOINT="http://127.0.0.1:14268/api/traces" JAEGER_SERVICE_NAME="myservice:name" mvn quarkus:dev`):
[code]

![image](https://user-images.githubusercontent.com/13387/69242449-28c71f80-0ba1-11ea-95a0-953132c42786.png)

[2019-11-20 14:58] kvaidas opened #1938 "Release with fix in issue #747"
## Requirement - what kind of business use case are you trying to solve?

Configuring jaeger-query to report its spans over http to a collector instance.

## Problem - what in Jaeger blocks you from solving the requirement?

The configuration does not work since the envvars are not respected for jaeger-query.

## Proposal - what do you suggest to solve the problem or improve the existing situation

[2019-11-20 18:46] yurishkuro commented on #1938
It will be included in the next release, sometime in December.

[2019-11-20 18:46] #1938 closed

[2019-11-21 04:36] yurishkuro commented on #1921
this ticket is redundant, it's sufficient to have #1920

[2019-11-21 04:42] yurishkuro commented on #1920
@guo0693 I don't think we addressed one design point, I thought I raised it somewhere in the comments.

Do we really need to support query by kind in the storage? Yes, storage needs to return the spanKind, but why can't it just return ALL operations for a service? If we did not have this requirement, then the gRPC API change could be 100% backwards compatible, the existing storage plugins would re

[2019-11-21 20:28] zdicesare commented on #1874
This has only happened the one time, so we are still waiting for it to recur. If we want to close this, I can reopen with additional metrics if it reoccurs

[2019-11-22 00:11] devinbost opened #1940 "Error reading dependencies from storage: unconfigured table dependencies"
## Requirement
We're attempting to view Dependencies in Jaeger UI. Our Jaeger cluster was configured to integrate with Dgraph with the Cassandra Jaeger backend. The script used to provision the Jaeger keyspace is provided below.

## Problem

We get this error message when we click on the "Dependencies" tab in the UI:
![image](https://user-images.githubusercontent.com/7418031/69386885-2b00ab00-0c81

[2019-11-22 00:28] yurishkuro commented on #1940
iirc `v002.cql.tmpl` introduced a new table `dependencies_v2`. You must be running the old version of Jaeger that looks for `dependencies` table only.

[2019-11-22 09:35] pujunYang opened #1941 "jaeger-agent which inject in apps can not report data to jaeger-collector"
### env
host: ubuntu16.04
k8s-version: hyperkubev1.14
Jaeger-operator:1.15
Jaeger-store-typle: ES

**error is**
when i deploy Jager-operator, Jaeger, istio, then deploy bookinfo as example.
i can see jaeger-agent has been inject into productpage pod ,but use ES can not search data,
so look at logs ,find jaeger-agent can not communicate with agent-collector use grpc,
but  CRD Jaeger deploy daemonSe

[2019-11-23 05:29] devinbost commented on #1940
I'm running:

- jaeger-agent:1.14
- jaeger-collector:1.14
- jaeger-query:1.14

from the available docker containers.
Are these old versions?

[2019-11-24 03:10] yurishkuro commented on #1940
dependencies_v2 was made the default in v1.11 (#1344). But  the code should still work wit  v1. Please get a more detailed exception from the query service logs.

[2019-11-25 14:19] boekkooi-fresh commented on #477
In regard to `Processor failed","error":"*jaeger.Batch error reading struct: *jaeger.Span error reading struct: *jaeger.Tag error reading struct: error reading field 3: Invalid data length`
When I have encountered this it has been a issue with a tag value (span attribute value) being to large. I assume this causes the maximum UDP packet size to be hit but I maybe wrong.

[2019-11-25 17:37] devinbost commented on #1940
I wasn't seeing logs, so I restarted the docker container for the jaeger-query service and tried to reproduce the issue, and this is what I got:
![image](https://user-images.githubusercontent.com/7418031/69563994-634d0580-0f6f-11ea-9069-cf63a819a70e.png)

I'm not sure what was different from the first case, but it's still concerning that I can't see the dependency graph. Here's what I'm seeing in

[2019-11-25 18:37] yurishkuro commented on #1940
are you running the Spark job to generate the dependencies?

[2019-11-26 08:02] jpkrohling commented on #1941
Could you please show the YAML that you get from the daemonset, as well as the YAML from your productpage, especially the part with the jaeger-agent container? Please provide as well the first log entries from the agent injected into the "productpage" pod (the first minute or so)?

[2019-11-26 08:27] #1913 closed

[2019-11-27 09:45] pujunYang commented on #1941
### jager-agent pods yaml come from  daemonset yaml
[code]
### log of jaeger-agent pods
[code]
### jage-agent-yaml   come from  pods productpage-yaml
[code]
### log of jager-agent in  "productpage" pod
[code]

[2019-11-27 09:55] jpkrohling commented on #1941
As you are using the `jaeger-agent` as a sidecar for the `productpage` pod, the daemonset isn't part of the equation.

In any case, your sidecar agent seems to be connecting fine to the collector:

[code]

The error it shows before is a transient failure that is later recovered. You shouldn't be missing any spans from it.

I see also that you have Istio's sidecar injected. As far as I remember, th

[2019-11-27 09:55] #1941 closed

[2019-11-27 11:37] Jamlee opened #1944 "Support mysql as backend ?"
Cloud consider Support mysql as backend ?

[2019-11-27 13:01] emailtovamos commented on #1916
[code]

[2019-11-27 13:03] emailtovamos commented on #1916
I sshed and got info about the SST and VLOG files as shown above. Below is the disk usage.
[code]
As you can see both of them have significant usage. SST files account for 27.8GB and VLOG files are 19GB. The combined volume has been increasing for the past 3 weeks with no signs to plateau.
So maybe some of the older files are not getting deleted?

[2019-11-27 14:44] ScottKaye commented on #1944
MySQL isn't really intended for the significantly high volume, high frequency reads and writes that OpenTracing involves.  Spans are stored denormalized already, which would not make any use of MySQL's relational structure.

Maybe there is an existing solution for loading MySQL from [Kafka](https://www.jaegertracing.io/docs/1.15/deployment/#kafka)?

[2019-11-27 17:19] librannk commented on #1927
any fixes on the same?

[2019-11-27 17:49] mooperd commented on #1927
@librannk https://github.com/istio/istio/issues/19040

[2019-11-27 20:36] devinbost commented on #1940
I'm not... I just ran the Cassandra script to create the Keyspace. Do we need to run a Spark job too?

[2019-11-27 20:38] yurishkuro commented on #1940
Yes. https://www.jaegertracing.io/docs/1.15/deployment/#aggregation-jobs-for-service-dependencies

Still weird that you got that error message, since Spark job doesn't create tables, it only populates the data.

[2019-11-27 21:01] devinbost opened #1945 "Need guidance for creating message-based tracing system using Apache Pulsar"
## Requirement - Integrating Jaeger into Apache Pulsar for message-based tracing

Apache Pulsar is like a next-generation Kafka that supports functions.
Tracing integrations have already been built for Kafka. They have not yet been built for Pulsar.
Moreover, we wish to build a message-based implementation, which is a little different from other architectures that we've seen so far.

## Problem -

[2019-11-28 01:59] pujunYang commented on #1941
@jpkrohling  i have check  service mesh configure. it still has same problem
###it is my  service mesh configure
[code]

[2019-11-28 02:10] Jamlee commented on #1944
mysql is lite and easy to use.  The In-memory database maybe not safe to use. perfmance is not the first to consider if i use php swoole, just want a safe and easy way to use jaeger. ^_^

[2019-11-28 02:45] Sasasu commented on #1944
`s/mysql/tidb/`

 Maybe tidb worth a try.

[2019-11-28 03:14] pujunYang commented on #1941
@jpkrohling  you could see this issue [the same to me issue ](https://github.com/istio/istio/issues/11340#5288l)

[2019-11-28 10:06] jpkrohling opened #1947 "BoundedQueue is dropping new items instead of discarding old ones"
When writing the performance tuning guide, I got the impression that the internal queues would drop older spans in favor of new spans and documented that in the guide:

When working on #943 however, I noticed that this is wrong and that newer items are discarded:

https://github.com/jaegertracing/jaeger/blob/9cd7a7ec1aa43b24a8a970eb5b393ca2ffd98a5d/pkg/queue/bounded_queue.go#L76-L92

The struct do

[2019-11-28 12:01] objectiser commented on #1945
@devinbost Sorry it is not clear to me.

This seems to imply that the output of `function1` is `message2` which is then input into `function2`, etc. Is that correct?

If so then why would you want a single span to represent all three messages, rather than having a span per function call?

[2019-11-28 12:41] LeBW opened #1948 "A small bug when the time on my server is not accurate"
## Requirement - what kind of business use case are you trying to solve?
I am a college student, and I'm learning the basics of Jaeger now.

## Problem - what in Jaeger blocks you from solving the requirement?
It's about a small bug.

I can't get any traces by default even if I configure everything right as in `Get Started`.  It upset me for a long time and  I finally found out that it's because t

[2019-11-28 16:48] objectiser commented on #1941
@pujunYang Have you checked the FAQ, e.g. https://istio.io/faq/distributed-tracing/#no-tracing (check sampling rate) and https://www.jaegertracing.io/docs/1.15/troubleshooting/ (increasing logging and checking metrics)?

[2019-11-28 17:28] alex-borkun opened #1950 "es/Readme.md: ES 7 support"
## Requirement - what kind of business use case are you trying to solve?

I suggest documentation improvement.

## Problem - what in Jaeger blocks you from solving the requirement?
The Elasticsearch 7 support was added in https://github.com/jaegertracing/jaeger/issues/1474

But it is still not mentioned in [Jaeger's README.md](https://github.com/jaegertracing/jaeger/blob/632379e062474f65c77ca1616c

[2019-11-28 18:40] #1950 closed

[2019-11-28 19:07] yurishkuro commented on #1948
why do you call it "a bug"?  It sounds like Jaeger is behaving as expected. I am not sure it's worth it for Jaeger to try to deal with massive clock skews between the browser and the servers that generate the spans.

[2019-11-29 01:36] pujunYang commented on #1941
@objectiser
. i have set  sampling rate to 100
. i see the troubleshooting, not find my situation

[2019-11-29 01:53] LeBW commented on #1948
Sorry but I finally got that the time we use to search depends on our browsers. Thanks.

[2019-11-29 01:53] #1948 closed

[2019-11-29 10:44] haljin commented on #1578
I'm pretty sure this is also what I am seeing. I take the trace id and convert it to a hex string in my logs and then also send data to Jaeger using Thrift. I cannot match the trace ids at all. Except sometimes I can

For example:
I get `0e7b69838055876fdf8b7ee0ecfc276a` in my logs and `e7b69838055876fa074811f1303d895` in Jaeger.

if you look at the binary representation of the upper half of the i

[2019-11-29 11:05] haljin opened #1951 "Jaeger mangles (?) Trace IDs sent with Thrift"
## Requirement - what kind of business use case are you trying to solve?

Match Trace IDs output to logs to those in Jaeger

## Problem - what in Jaeger blocks you from solving the requirement?

Jaeger interprets Trace IDs in a mysterious way that makes the hexed ID completely different

I have an application that uses OpenCensus to generate spans and traces and then sends those to Jaeger using th

[2019-11-29 16:11] pavolloffay commented on #1932
@xvdy It seems that @jpkrohling wasn't able to reproduce your issue.

Maybe you didn't configure Jaeger HTTP URL in the client correctly?

Anyways I will close this issue. If you have still have the problem please comment here. It would laso help if you could provide jaeger tracer configuration and the exact string of the service name.

[2019-11-29 16:11] #1932 closed

[2019-11-29 16:14] pavolloffay commented on #1824
Would anybody of you be able to catch the error type?

[2019-11-29 17:05] pavolloffay opened #1952 "Publishing latest image is broken"
Publishing latest image on merge to master is broken https://hub.docker.com/repository/docker/jaegertracing/jaeger-collector

Also we do not publish the image per commit to snapshot repository https://hub.docker.com/repository/docker/jaegertracing/jaeger-collector-snapshot

[2019-11-29 17:06] yurishkuro commented on #1951
It is more likely that the library you're using to generate the messages is doing something different. I think Jaeger internally is pretty consistent, and we have integration tests in different languages that validate string representation (aside from the 0 padding issue, which is not addressed in all clients, but that doesn't seem to be the main problem in your case).

Internally Jaeger always re

[2019-11-29 17:10] pavolloffay commented on #1952
It was broken probably here https://github.com/jaegertracing/jaeger/pull/1909/files#diff-aeee4566b9eb012ce98bd3578f7740a3L26

[2019-11-29 17:23] pavolloffay commented on #1927
It seems like a bug in envoy https://discuss.istio.io/t/upstream-connect-error-or-disconnect-reset-before-headers-reset-reason-connection-termination/4434/4.

I will close this as we cannot do anything to fix it here.

[2019-11-29 17:39] pavolloffay commented on #1926
@hyhanyan could you please provide a reproducer?

The best would be to read the data from ES index directly e.g. `curl http://localhost:9200/jaeger-span*/_search?`

and try to post here segment which is causing the issue.

[2019-11-29 20:19] yurishkuro commented on #1952
Looks like it.

#1953 might fix it.

[2019-11-30 12:58] haljin commented on #1951
I was suspecting that but I still cannot figure out what is wrong. In example 1 above the trace id generated by the application was `19249984526203758347956588965281933162`.

The exporter deals with it using https://github.com/opencensus-beam/opencensus-jaeger/blob/master/src/oc_reporter_jaeger.erl :

[code]

Running that gives me:
[code]

Everything looks fine here - the first byte is 0e and that

[2019-11-30 13:05] aclowkey commented on #649
Is this similar to how StackDriver traces shows trace spans with logs?

[2019-11-30 14:13] naseemkullah opened #1954 "Average response time"
Individual traces are great to have but is it possible to sort transactions by slowest average response time (firstly, is average response time calculated?), or highest throughput?

FWI I am not currently using spark/flink jobs, would these be necessary? If so how to then add average response time per operation in the UI?

[2019-11-30 15:11] naseemkullah opened #1955 "Alerting"
Can jaeger integrate with an alerting system such as AlertManager or is alerting outside the scope of jaeger?

[2019-11-30 19:30] yurishkuro commented on #1951
[code]

When you say "in Jaeger", what do you mean exactly? In the UI?

It seems we never fixed #1578 on the backend, let's see if #1956 works.

[2019-11-30 20:09] yurishkuro commented on #1952
@pavolloffay I think this is fixed, but it seems that in the main repo in Docker Hub the `latest` tag is applied to the latest commit on master. This feels rather dangerous, we already have snapshots for unreleased builds, I would expect in the main repos the `latest` to refer to the latest official release, i.e. `1.15.1` right now.

[2019-11-30 20:11] yurishkuro opened #1957 "Remove model.converter.json.FromDomainEmbedProcess"
It does not appear to be used, and similar code has been moved into es/spanstore/dbmodel.

[2019-11-30 23:01] naseemkullah opened #1958 "[cassandra-schema] Make schema job run migration if TTL value changed"
## Requirement - what kind of business use case are you trying to solve?

I would like to like to adjust trace data TTL on the fly. While initially setting it with the schema job to say `60`, I would like to run the schema job again and have it changed to `2400` for example.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Have the schema job perform a mi

[2019-12-01 00:17] yurishkuro commented on #1958
You can simply run `ALTER TABLE` against the relevant tables in your database and change the TTLs .

I don't feel that it's worth the trouble of maintaining yet another script.

[2019-12-01 01:57] naseemkullah commented on #1958
Fair enough! Thanks.

[2019-12-01 01:57] #1958 closed

[2019-12-01 15:39] naseemkullah commented on #1954
Ideally, the average response time panel would be a stacked graph where each layer of the stack represents a trace in the span a la New Relic (and probably other vendors).

[2019-12-02 03:18] naseemkullah commented on #1088
Does this work today? And can we guess that two clients are talking to the same db if the client spans' share `db.instance`, `peer.address` and/or `peer.hostname`?

[2019-12-02 07:53] haljin commented on #1951
Yes, I mean in the UI. :)

[2019-12-02 08:46] jpkrohling commented on #1955
It is outside of the scope, although we certainly appreciate when people tell us how they are using Jaeger data to extend their monitoring capabilities, such as by integrating it with an alerting solution.

[2019-12-02 08:46] #1955 closed

[2019-12-02 11:17] yyyogev commented on #1529
I want to help with this one. As I see it there are two ways to do this
- add a boolean CLI flag like `--grpc-storage-plugin.propagate-log-level` which will determine if the grpc logger will have the same level as the logger of the grpc factory.
- add a CLI flag `--grpc-storage-plugin.log-level` to set what level the grpc plugin will omit.

I think the first option is better only if it will be `tr

[2019-12-02 15:27] yurishkuro commented on #1529
I think option 2 allows for better control. If you are debugging plugin issues you may not need all debug logs from Jaeger.

I'm not clear if this will address the startup logs issue.

[2019-12-02 16:13] guo0693 commented on #1921
Done

[2019-12-02 16:13] #1921 closed

[2019-12-02 16:16] guo0693 commented on #1922
Not familiar with badger, but should the key be query.ServiceName+tags.span.kind+query.OperationName because we want to get a list of operation names given the service name & span.kind?

[2019-12-02 16:24] guo0693 commented on #1920
As of now, cassandra implementation did the filtering in storage layer using [cql](https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/cassandra/spanstore/operation_names.go#L193) . If badger & ES does not support filtering in db query, we can put the filtering logic in a util class and retrieve operations of all span.kind from db and apply the filtering

[2019-12-02 16:29] burmanm commented on #1922
It slightly depends. There's two different use-cases for that information, fetching the list of operations vs fetching the list of traces. For traces, is the span.kind used or not? You should optimize for that use-case and then the "list of operations" for UI purposes is done with the cache.go and a table scan of possible pairs of span.kind + operations meaning it doesn't really matter in which or

[2019-12-02 16:32] guo0693 commented on #1922
Make sense. I didn't know it's also used for fetching traces.

[2019-12-02 17:59] devinbost commented on #1945
Sorry, I misspoke. We want a single _trace_ to represent all three messages. We want a span for each function call. In the diagram below, in the Jaeger Sink, it may be more correct to represent the parent span as a trace.

![image](https://user-images.githubusercontent.com/7418031/69982854-a6205780-14f2-11ea-8e4e-36f348016d76.png)

Since we're dealing with a distributed messaging system, we don't

[2019-12-02 19:51] devinbost commented on #1945
I think this is actually related to this issue: https://github.com/opentracing/specification/issues/81

[2019-12-02 20:14] yurishkuro commented on #1920
Please add a ticket & coordinate making the UI change to use the new endpoint on the Search screen and display the span kind. I recommend adding it as a prefix, e.g. `(server) getUser`, and ordering the entries in the dropdown so that `server` and `consumer` spans are shown first.

Also add a ticket to remove the old endpoint once the UI is upgraded.

[2019-12-02 20:51] maestr0 commented on #1718
How to configure the Agent container to use TLS with client cert authentication? I'm running the Collector with mTLS. How do I tell the agent to use the client certs?

[2019-12-02 20:57] yurishkuro commented on #1718
Aren't these flags what you need?
[code]

[2019-12-03 10:10] objectiser commented on #1945
@devinbost Can't the tap function extract the span context, create the span and then inject the new context back into the message?

[2019-12-03 10:15] pavolloffay commented on #649
Somehow, the idea is to query log storage and attach logs containing traceid/spanid to the spans showed in jaeger UI.

[2019-12-03 10:19] pavolloffay commented on #1952
Note that before we were publishing `latest` as really the latest code in master. The snapshot repository does not have latest tag, one has to always use the commit SHA as the tag.

People should not depend in `latest` anyway, but it is a great way to share latest changes if one wants to use them.

[2019-12-03 10:48] massimopacini opened #1960 "HTTP Error: Converting JSONSpan to domain Span failed"
Hello,
Sometimes on some span the ui is replying with a status 500 error

Status | 500
-- | --
Status text | Internal Server Error
URL | /api/traces
Query | end=1575368774721000&limit=20&lookback=1h&maxDuration&minDuration&service=**********&start=1575365174721000
Response body | {   "data": null,   "total": 0,   "limit": 0,   "offset": 0,   "errors": [     {       "code": 500,       "msg": "Conve

[2019-12-03 13:54] raz08 opened #1959 "Does Jaeger collector creates jaeger-service* index in elastic everyday?"
## Requirement - what kind of business use case are you trying to solve?
Need to clean older indexes and spans from elastic.

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questions to address
If yes, then why it is configured for 1 day?

[2019-12-03 15:41] yurishkuro commented on #1952
My proposal is to have `latest` in both repos:
  * in the main repo it points to the latest released version
  * in the snapshop repo it points to the latest commit on master

This provides both better safety and flexibility.

[2019-12-03 15:44] yurishkuro commented on #1960
This is a backend issue. Can you try to load the spans for this trace directly from ES and attach JSON?

[2019-12-03 16:31] pavolloffay commented on #1952
Sounds fine to me, although to be consistent with the operator repo I would prefer to have `master` tag as part of the main repository. It also easier for users to change.

The main motivation is also to get people using latest features before they are released to have more stable releases. Using a nonstandard tag name might cause less adoption.

We should also document this in https://www.jaegert

[2019-12-04 09:32] pavolloffay commented on #1960
This seems to be a duplicate of https://github.com/jaegertracing/jaeger/issues/1926.

@massimopacini JSON will help us to resolve this issue.

[2019-12-04 09:48] massimopacini commented on #1960
This is the log from the console from jaeger-query: v1.14.0

{"level":"error","ts":1575368745.5988796,"caller":"app/http_handler.go:410","msg":"HTTP handler, Internal Server Error","error":"Converting JSONSpan to domain Span failed: encoding/hex: invalid byte: U+002E '.'","errorVerbose":"encoding/hex: invalid byte: U+002E '.'\nConverting JSONSpan to domain Span failed\ngithub.com/jaegertracing/jae

[2019-12-04 09:54] pavolloffay commented on #1960
@massimopacini we need span JSON stored in Elasticsearch. The logs do not show the data causing the issue.

You can get the data by querying elasticsearch https://github.com/jaegertracing/jaeger/issues/1926#issuecomment-559852808

[2019-12-04 09:55] massimopacini commented on #1960
I'm trying to find the segment causing the issue as traceID is not refered in the log

[2019-12-04 10:01] pavolloffay commented on #1960
From the log `Converting JSONSpan to domain Span failed: encoding/hex:`it seems that the problematic part is either tag or log with binary type
https://github.com/jaegertracing/jaeger/blob/343fcc6ddd3bdb94dec864bddc2ff8794d6666a8/plugin/storage/es/spanstore/dbmodel/to_domain.go#L229 (hex lib is used only for binary annotation)

You should be able to find that tag in Elasticsearch. The type will be

[2019-12-04 10:02] pavolloffay commented on #1960
Alternativey if the instrumentation is small try to find where you use binary tag and get the value from there.

[2019-12-04 10:11] massimopacini commented on #1960
Yes I found it ;)

`{
  "_index": "jaeger-span-2019-12-03",
  "_type": "span",
  "_id": "chw2y24B83Q9Z-Nk8mv3",
  "_version": 1,
  "_score": 0,
  "_source": {
    "traceID": "f30e6283a8829f8b",
    "spanID": "c6a389b7beecb804",
    "flags": 1,
    "operationName": "/*****/***",
    "references": [
      {
        "refType": "CHILD_OF",
        "traceID": "f30e6283a8829f8b",
        "spanID": "7a5f

[2019-12-04 10:25] pavolloffay commented on #1960
Did you cut the end? Because there are `...` at the end.

[2019-12-04 10:27] pavolloffay commented on #1960
How do you add the value of `requestedBody` field?

[2019-12-04 10:47] massimopacini commented on #1960
@pavolloffay no I haven't touch that one it was already like that maybe somewhere cut by node libs.

for that I'm doing a

span.log({
                    'requestedBody': req.body
                });

Body is coming from Restify and it could be a bin

[2019-12-04 13:43] pavolloffay commented on #1960
Alright, I found the issue.

If the length of binary array is longer than 256, the array is stripped and added `...` at the end. This is stored to ES and at query time `hex.DecodeString` fails because of the dots.

@yurishkuro why the binary array is stripped?

Cassandra uses correct value https://github.com/jaegertracing/jaeger/blob/343fcc6ddd3bdb94dec864bddc2ff8794d6666a8/plugin/storage/cassandr

[2019-12-04 13:44] pavolloffay commented on #1926
Closing in favor of #1960

[2019-12-04 13:44] #1926 closed

[2019-12-04 16:35] yurishkuro commented on #1960
Do we know where this happens?  Typically tag value trimming happened in the clients.

[2019-12-04 16:49] pavolloffay commented on #1960
@massimopacini is using jaeger node client. Not sure if he disabled trimming or it's not applied by default.

[2019-12-04 21:13] #1578 closed

[2019-12-04 21:15] yurishkuro commented on #1951
@haljin can you try with latest master?

[2019-12-05 06:08] yurishkuro commented on #1960
I don't believe Node client has any truncation logic.

[2019-12-05 06:11] #1529 closed

[2019-12-05 08:38] haljin commented on #1951
I assume the `jaegertracing/all-in-one:latest` docker image contain the latest master?

It seems the problems still persist, although there it seems it matches more often now.

E.g;
`af02d2d55b9ade8536a7750ab74511ac` in Jaeger UI
`d0fd2d2aa465217a36a7750ab74511ac` in the log

Note that the lower half matches

`7adc1410ac412c95b2e1f3f88477f8dd` in the Jaeger UI
`7adc1410ac412c95cd1e0c077b880722` in

[2019-12-05 09:41] #1844 closed

[2019-12-05 14:21] yurishkuro commented on #1951
Can you post your Elixir marshalling/unmarshalling code?

[2019-12-05 14:42] pavolloffay commented on #1489
We can only change the separator e.g. `-` to no separator or the order of day, month and year.

This change would have to be coordinated between storage impl, python scripts, spark dependency job and Kubernetes operator.

[2019-12-05 14:43] pavolloffay commented on #841
Just adding a note this behavior is not present when using rollover aliases `--es.use-aliases` flag.

[2019-12-05 14:47] pavolloffay commented on #1891
@vkadiwala I am closing this as there is not enough information about the problem - jaeger version, logs...

Please reopen the issue if the problem still happens and provide more information

[2019-12-05 14:47] #1891 closed

[2019-12-05 15:27] #1917 closed

[2019-12-05 16:15] pavolloffay commented on #1361
There are a couple of inconsistencies in our read implementation regarding the time range of queries.

* `GetTrace`, `GetServices` and `GetOperatios` uses `--es.max-span-age` to compose list of histical indices for the query.
* `FidTraceIDs` and `FindTraces` uses times from query parameters to compose the list of historical indices.

In the past I have seen people complying why get trace cannot fi

[2019-12-05 16:20] pavolloffay commented on #1361
@yurishkuro is Cassandra reader returning all services and operations in the storage or it is somehow controlled via a flag?

[2019-12-05 18:54] yurishkuro commented on #1361
Cassandra returns all names, but they are written with the same TTL as the spans, so generally there are no mismatches as far as storing the data. However, sometimes people do get confused when they see OpName in the dropdown but no traces are found because the default time range is just 1hr and the endpoint may not have seen any activity in that period.

[2019-12-06 03:22] devinbost commented on #1945
We decided to do something similar. We ended up using Flink to join the messages.

[2019-12-06 03:22] #1945 closed

[2019-12-06 05:16] vipinvkmenon opened #1966 "Configure Jager Collector to work with Kafka With Basic Authentication"
## Requirement -
Looking to integrate with Kafka which is provided by a platform Service. However, the kafka service provided by the platform only supports basic authentication

## Problem -
The jager documentation or options did not indicate support for Kafka basic authentication

As a result, we would not be able to integrate our Jaeger solution with existing Kafka Services provided with our pla

[2019-12-06 05:21] yurishkuro commented on #1966
Wouldn't basic auth be sent in clear text? I can see how it can be useful with HTTPS, but without TLS is sounds like an anti-pattern.

But, if the sarama driver supports it, it is fairly easy to add.

[2019-12-06 05:35] vipinvkmenon commented on #1966
@yurishkuro
Thank you for your quick reply. Also Loved your book :)
In this case, the Kafka service provides IPs that can only be accessed within the boun application
IE The IP cannot be externally accessed and only the service/app (Jaeger Collector/Jaeger Ingestor) bound to the Kafka service would have access to the network which has Kafka in it.

[2019-12-06 16:53] albertteoh opened #1967 "Enable multiplexing of "/api/traces" endpoint"
## Requirement - what kind of business use case are you trying to solve?

`cmd/collector/app/http_handler.go` defines the `/api/traces` HTTP endpoint allowing callers to save spans.

The current use of this endpoint is for external AWS authenticated callers. However, there is a requirement now for services within the organization's internal network to make direct calls to the collector to save spa

[2019-12-06 17:29] haljin commented on #1951
The Thrift code is what I posted above, it's an Erlang library: https://github.com/opencensus-beam/opencensus-jaeger/blob/master/src/oc_reporter_jaeger.erl

[code]

The code for the logger is here: https://github.com/opencensus-beam/opencensus_elixir/blob/master/lib/opencensus/span_context.ex

[code]

[2019-12-06 17:41] yurishkuro commented on #1967
sgtm

[2019-12-08 15:27] cbrgm commented on #1564
I'd be interested in this option too. Anyone knows wether it's possible to extract traces stored by Jaeger via the api?

[2019-12-08 17:06] yurishkuro commented on #1564
The trace screen has a button to view/download trace JSON. The search screen has a panel to upload this JSON to the UI.

[2019-12-09 01:09] yurishkuro commented on #1951
What does this mean?
[code]

Is the `trace_id` field represented as 128bit number? How does it get split into two 64bit parts?

[2019-12-09 08:44] #1489 closed

[2019-12-09 08:47] code98 commented on #1489
ok, thank you for your reply!

[2019-12-09 11:26] pavolloffay commented on #1361
This would be the same with Elasticsearch. Service names from the same time period will be removed with spans.

Should we start thinking about changing the reader/writer interface to include timestamp?

[2019-12-09 14:22] haljin commented on #1951
It encodes the number on 128 bits and then takes the first 64 bits and puts them as an integer on the first half and the second 64 bits as an integer as the second half.

[code]

[2019-12-09 16:08] #1967 closed

[2019-12-09 22:35] yurishkuro commented on #1361
You mean changing the contents of Services drop-down depending on the selected time range?  Feels a bit overkill.

Could we just make the error message a bit more informative? Ie suggest the user to try a longer time range.

[2019-12-10 03:43] yurishkuro opened #1971 "Replicate /sampling endpoint from agent in the collector"
## Requirement - what kind of business use case are you trying to solve?

When using HTTP reporters in the clients to export tracing data directly to the collectors, users still want to be able to use remote sampler that loads centrally managed sampling strategies.

## Problem - what in Jaeger blocks you from solving the requirement?

The `/sampling` endpoint is only implemented in the agent today

[2019-12-10 04:49] yurishkuro commented on #1971
When this is done, update FAQ docs, cf. https://github.com/jaegertracing/documentation/pull/335

[2019-12-10 05:43] yurishkuro commented on #1951
These numbers look ok to me:
[code]

However, you cannot assign 16108107996734433130 to the field in Thrift as is, because it's too large for int64, you need to convert it to a negative complement. See how this is done in jaeger-client-python:

https://github.com/jaegertracing/jaeger-client-python/blob/51d9027c3e0b87f6721dd14e7bc2b3303ce682c2/jaeger_client/thrift.py#L50

[code]

[2019-12-10 16:35] objectiser opened #1972 "Update thrift to 0.13"
## Requirement - what kind of business use case are you trying to solve?

Use the most recent thrift 0.13 dependency to overcome CVEs.

## Problem - what in Jaeger blocks you from solving the requirement?

uber/tchannel-go dependency is currently using thrift 0.9.3.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Either:
1) Update tchannel-go to use thri

[2019-12-10 22:31] jishminor opened #1973 "Travis CI arm64 support"
## Requirement - what kind of business use case are you trying to solve?

Run and test all Jaeger components on arm64.

## Problem - what in Jaeger blocks you from solving the requirement?

No existing infrastructure to build and test Jaeger components on arm64.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Travis CI can now run multiarch builds out of

[2019-12-11 04:35] yurishkuro commented on #1973
I'd be concerned with how much extra load it would add to our CI jobs, which already take quite a while to run for each PR.

[2019-12-11 08:07] jpkrohling commented on #1973
I think we could consider adding it at least for the unit tests. I think it would cover most of the arch-related issues that we might face.

[2019-12-11 09:37] #1960 closed

[2019-12-11 14:59] zheyiyi opened #1974 "logs problem in the jaeger UI"
What I found that the maximum of logs in each span is 32 which showing in jaeger UI. Is it possible to adjust it?

![image](https://user-images.githubusercontent.com/12801407/70632517-f8e9c580-1bfc-11ea-849a-eb6d414447e6.png)

[2019-12-11 15:02] yurishkuro commented on #1974
Are you using opencensus client, by chance? IIRC it has this limit.

[2019-12-11 15:14] zheyiyi commented on #1974
Yes, I use opencensus.  I will look whether it can be config or not. Thanks.

Yuri Shkuro <notifications@github.com> 于2019年12月11日周三 上午10:02写道：

[2019-12-11 15:20] #1974 closed

[2019-12-11 17:01] jishminor commented on #1973
Pushing the arm64 docker images to dockerhub would also be a great addition.

[2019-12-11 20:48] radekg commented on #1742
I'd like to pick this one up. I have some experience with this.

[2019-12-12 08:59] jpkrohling commented on #1973
@jishminor are you able to commit to support this when it needs maintenance? If so, send a PR with your proposal and let's see how the CI gets affected.

[2019-12-12 11:16] knabben commented on #698
should this be implemented in the lib side? does not seems the server receive an UDP package on close() in these cases.

[2019-12-12 20:37] jishminor commented on #1973
I have only so far been using an arm64 jaeger agent, which speaks to a x86 jaeger collector. I still need to fully familiarize myself with your build and test infrastructure before I can give my commitment for maintenance support for arm64. Let me do some experimenting and get back to you. I don't for-see many things breaking when swapping out the x86 go runtime for the arm64, besides any OS level

[2019-12-13 07:48] jpkrohling commented on #1973
Let us know if you hit any roadblocks!

[2019-12-13 15:19] pavolloffay commented on #1044
Done in https://github.com/jaegertracing/jaeger/pull/1919

[2019-12-13 15:19] #1044 closed

[2019-12-13 15:52] pavolloffay commented on #1883
Anybody from @jaegertracing/elasticsearch interested in Elasticsearch Cross Cluster Query?

[2019-12-13 18:39] scottrigby opened #1976 "Move Helm chart to new jaegertracing/helm-charts"
## Requirement - what kind of business use case are you trying to solve?

Keeping Jaeger Helm charts accessible for end users, and also improving maintainability of the chart(s) moving forward.

## Problem - what in Jaeger blocks you from solving the requirement?

The `stable` and `incubator` Helm chart repositories, currently listed on the [Helm Hub](https://hub.helm.sh/), have begun a 1 year dep

[2019-12-14 01:31] pavelnikolov commented on #1976
I support this change 👍

[2019-12-15 02:55] yurishkuro commented on #1976
@scottrigby repository created https://github.com/jaegertracing/helm-charts. I made you an admin for now, created a team @jaegertracing/helm-charts-maintainers , and invited the people you mentioned to this team. Please do the remaining setup, ping here if you need other setup functions.

[2019-12-16 16:06] #1340 closed

[2019-12-16 18:30] scottrigby commented on #1976
@yurishkuro I have pushed the changes I can to a branch on that repo, and am just blocked (on actions administration, github token/user creation, and `master` branch protection) due to the admin role not being a full admin of that repo. I added more details in Jaeger Gitter - please let me know there which of the options you prefer. Will update status here once we have it up and running 😄

[2019-12-16 20:42] yurishkuro commented on #1976
@scottrigby you're listed as admin, but that you have not accepted the invitation. Please visit the following link if you did not get an email: https://github.com/jaegertracing/helm-charts/invitations

[2019-12-17 04:15] scottrigby commented on #1976
OK, the repo itself should be all set up ✅

Master branch is pushed. The Helm repo automated releaser is working. Someone may want to test this.

I have also opened two PRs (just README updates), after the existing versions of the Jaeger charts from github.com/helm/charts (untouched) had been added to the new jaegertracing/helm-charts chart repo. These are actually necessary PRs (pointing readmes

[2019-12-17 05:05] yurishkuro commented on #1976
Is there some additional setup missing?  I did this per README, but nothing useful was shown:
[code]

[2019-12-17 05:15] naseemkullah commented on #1976
If using helm 3, try `helm search repo jaegertracing`

[2019-12-17 06:22] yurishkuro commented on #1976
Thanks. I fixed the README.

[2019-12-17 12:32] naseemkullah commented on #1976
@scottrigby How should we handle PRs currently open in the original repos?

[2019-12-17 12:35] pavelnikolov commented on #1976
I'd tell the authors to send them to this repo.

[2019-12-17 12:46] cpanato commented on #1976
yep, I'm waiting for the deprecation get merged then i will go for all PRs in helm for jaeger* and point to here

[2019-12-17 15:18] scottrigby commented on #1976
OK also please hang tight – the CI needs to be fixed. I mentioned in the call you'll be an early adopter of the new Helm GH actions 😄 I see now we had not fully sorted out the actions for charts with dependencies - working with @unguiculus on fixing those now. Can we please hold off on merging PRs in that new charts repo for just a short time while this gets fixed?

[2019-12-17 22:21] scottrigby commented on #1976
OK I believe we are up and running. Thanks for patience!

[2019-12-18 04:29] Sasasu opened #1981 "1.16.0 Cassandra add +x to V002toV003.sh"
### Problem - what in Jaeger blocks you from solving the requirement?
V002toV003.sh should be executable like others

![image](https://user-images.githubusercontent.com/12945182/71055721-a3c82980-2191-11ea-840a-59da428d8090.png)

### Proposal - what do you suggest to solve the problem?
`chmod +x V002toV003.sh`

[2019-12-18 05:18] #1981 closed

[2019-12-18 09:14] jpkrohling commented on #1981
@Sasasu have you used this script to migrate your data? How was the procedure? We just released the Jaeger Operator v1.16.0 and decided to not apply the migration automatically, as we thought that it would be better for a human operator to be involved, as it probably requires a downtime on the collector.

Your experience might either validate our decision or help us change our minds :-)

[2019-12-18 10:03] chandresh-pancholi commented on #1966
I am picking it up if anyone haven't started.

[2019-12-19 11:24] liuzijuan123 opened #1984 "A lot of trace without root warning both elasticsearch and cassandra storage backend"
when the amount of span is low there are no spans lost, but when the amount of span is about 250k per minute, about 80% span data lost, I also set the ndex.translog.durability to async , it doesn't work,What other methods I can try.
Thank you very much

[2019-12-19 12:00] jpkrohling commented on #1984
Please, check the performance tuning guide: https://www.jaegertracing.io/docs/1.16/performance-tuning/

[2019-12-19 16:49] sboisson commented on #1438
This webinar could be interesting: [A Practical Introduction to Handling Log Data in ClickHouse](https://www.altinity.com/webinarspage/2019/12/17/a-practical-introduction-to-handling-log-data-in-clickhouse)

[2019-12-19 22:19] naseemkullah opened #1986 "1.16 docker: query's JAEGER_AGENT_PORT"
## Requirement - what kind of business use case are you trying to solve?

Query outputs:
"error":"cannot obtain reporter config from env: cannot parse env var JAEGER_AGENT_PORT=udp://10.90.32.41:5775

## Problem - what in Jaeger blocks you from solving the requirement?

on a docker environment, or Kubernetes
there's an unfortunate clash in the names: Kubernetes/Docker populates some env vars autom

[2019-12-20 07:09] ChenZheOnePiece opened #1987 "IF"
## Requirement - what kind of business use case are you trying to solve?

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questions to address

[2019-12-20 07:11] ChenZheOnePiece opened #1988 "if i want to integration Spring Cloud ,What should I do?"

[2019-12-20 07:12] #1987 closed

[2019-12-20 08:05] namratachaudhary commented on #1971
Hi
If this is still open, I can take it up.

[2019-12-20 09:24] jpkrohling commented on #1986
Note that this happens only when the Jaeger instance is called `jaeger`, which is arguably a very common name for the Jaeger instance:

- grafana/loki#480
- observatorium/configuration#127

One possible solution is to ignore the env var value if the value is not an integer, without breaking the agent because of it.

[2019-12-20 09:30] jpkrohling commented on #1988
Jaeger does not provide an instrumentation API, and as such, doesn't provide integration with Spring Cloud. You might want to look at https://github.com/opentracing-contrib/java-spring-cloud .

[2019-12-20 09:30] #1988 closed

[2019-12-20 09:32] jpkrohling commented on #1971
It's yours.

[2019-12-20 11:07] pavolloffay commented on #1639
I have moved my POC with trace DSL using gremlin and packaged in jupyter notebook to https://github.com/jaegertracing/jaeger-analytics-java.

[2019-12-20 13:11] awesomeinsight opened #1989 "Connect/Integrate jaeger-ingest and jaeger-collector with a Kafka-Enabled Azure Event Hub"
## Requirement - what kind of business use case are you trying to solve?

Connect/Integrate jaeger-ingest and jaeger-collector with a Kafka-Enabled Azure Event Hub which is provided by a PaaS. However, the kafka service provided by the platform only supports SASL authentication with e.g. the following settings:

sasl.mechanism=PLAIN
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.comm

[2019-12-20 16:31] naseemkullah commented on #1986
Sorry I'm unclear if using opentelemetry SDK, will this issue persist or not if addressed in Jaeger Go Client?

[2019-12-20 16:33] naseemkullah commented on #1986
Sounds good, will query eventually use opentelemetry client? If so I imagine the fix would be passed on.

[2019-12-21 00:13] RickyRajinder commented on #1971
Hi @namratachaudhary I have already submitted a PR for this issue.

[2019-12-26 17:04] yurishkuro commented on #1575
@chvck any news on this?

[2019-12-27 10:13] chvck commented on #1575
@yurishkuro unfortunately very similar status to before. We have released a docker image of the Jaeger all in one plus the plugin although it's currently under my personal account. We also have a docker composer file that runs Couchbase, Jaeger and the plugin together to try make evaluation as easy as possible.

Do you have any ideas on how we can improve visibility and uptake to help drive the de

[2019-12-27 11:16] lwenbin opened #1992 "jaeger-service* index can not be created"
In my test project , I find jaeger-service* index can not be auto-created,it is accidental. it can be auto-created by accident. only jaeger-span* can be auto-created always . the same happens when I clean older indexes and spans from elastic.

here is  some elasticsearch log:
[code]
Jaeger version: Release 1.16.0

[2019-12-27 17:26] yurishkuro commented on #1575
I think you need to have a business case for why this backend is needed. Certainly some people are more familiar with some databases than others, but that is not a strong reason to maintain a dozen implementations, same efforts would be better spent on making fewer implementations better. However, some DBs may present features that provide a unique edge in either functionality or performance. If t

[2019-12-29 20:07] #1748 closed

[2019-12-30 11:44] piyush-pruthi opened #1993 "Support for HTTP/1 agent reporter for communication with Collector"
## Requirement - what kind of business use case are you trying to solve?

If some platforms do not support either TCP or HTTP/2, will need a HTTP/1 Agent Reporter.

## Problem - what in Jaeger blocks you from solving the requirement?

Currently, communication between Agent and Collector can be achieved only via TChannel or grpc.

## Proposal - what do you suggest to solve the problem or improve th

[2019-12-31 05:17] yurishkuro commented on #1993
Please elaborate why your environment cannot support http/2.

[2019-12-31 06:20] piyush-pruthi commented on #1993
@yurishkuro
We have a PAAS environment in which we use Cloud Foundry and gorouter for routing purposes.
gorouter currently doesn't support HTTP/2 packets.

https://github.com/cloudfoundry/gorouter/issues/195

So, if anyone wants to run jaeger on current CF installations, a HTTP/1 based reporter will help.

[2019-12-31 06:56] yurishkuro commented on #1993
There is still an option to use HTTP directly from Jaeger clients to collector. Or using Envoy instead of gorouter. It feels unwise developing new feature in Jaeger to support clearly legacy issue in CF.

Did you already make the change? How big is it? How much does it reuse existing code?

[2019-12-31 11:16] Alexc0007 opened #1995 "jaeger agents unable to send data to collectors"
## Requirement - what kind of business use case are you trying to solve?
Hi Everyone , im trying to setup jaeger to trace networking on my kubernetes cluster.
my cluster is an EKS(AWS) managed by Ocean(Spotinst)
i installed jaeger as production build and agents are installed in daemonset strategy
from helm: https://jaegertracing.github.io/helm-charts/

the issue im facing is that my agents are una

[2019-12-31 11:38] piyush-pruthi commented on #1993
Here are the changes @yurishkuro

https://github.com/jaegertracing/jaeger/compare/master...piyush-pruthi:agent-reporter-http-support?expand=1
This pretty much aligns with existing reporters design and http client from jaeger-client-go.

[2019-12-31 16:09] yurishkuro commented on #1993
The problem is that strategically we want to have fewer comms method, not more. We want to converge all comms to grpc and decomm tchannel; this change would take us in the opposite direction, supporting flexibility for transports where we don't want it.

[2019-12-31 19:19] yurishkuro opened #1997 "Unstable test pkg/queue/TestResizeOldQueueIsDrained"
cc @jpkrohling

[code]

[2019-12-31 20:05] #1966 closed

[2020-01-01 18:45] yurishkuro commented on #1971
Open question: can clients be configured with a different sampling URL?

[2020-01-01 19:03] yurishkuro commented on #1971
Clients support the following config options:
  * JAEGER_ENDPOINT, e.g. `http(s)://collector:port/api/traces`
  * JAEGER_SAMPLER_MANAGER_HOST_PORT - name implies no part is allowed

Possible solutions:
  * We could introduce JAEGER_SAMPLING_ENDPOINT, but that still leaves out other configurations like baggage restrictions.
  * We could introduce JAEGER_CONFIG_ENDPOINT, but that wouldn't be a real

[2020-01-02 05:01] piyush-pruthi commented on #1993
Sure..
Having a single communication channel makes sense.
We will try to explore some other things then for old CF installations.

Thanks

[2020-01-03 01:47] cuiyuan opened #1998 "examples/hotrod can't compile"
~/Projects/gocode/jaeger/examples/hotrod on git:master x [9:46:48]
$ go build

go: github.com/gocql/gocql@v0.0.0-20180506184654-181004e14a3f: parsing go.mod: go.mod:6: invalid module: gopkg.in/inf.v0 should be .v0, not v1 (v1.9.1-gopkgin-v0.9.1)
go: error loading module requirements

[2020-01-03 01:58] yurishkuro commented on #1998
Jaeger does not use go modules yet. See instructions in https://github.com/jaegertracing/jaeger/blob/master/CONTRIBUTING.md#getting-started

[2020-01-03 01:58] #1998 closed

[2020-01-03 07:35] uckyk opened #2001 "How to use jaeger's UI to read data from the elasticsearch written by zipkin."
We currently use zipkin to collect data (jaeger does not support Dubbo). ES stores zipkin data. I know that zipkin and jaeger have different data formats. Maybe I need to set up a query service and then go to ES to query. (I don't know how to build it)
I would like to know if jaeger provides such tools for data conversion between zipkin and jaeger.

I am a beginner, thank you very much！！！

[2020-01-03 10:44] objectiser commented on #2001
You can use zipkin tracer in the client, but report the data to the Jaeger collector which provides a zipkin compatible http port (9411). This way, Jaeger will convert the zipkin format data into its own format and then store in Elasticsearch - and allow the traces to be queried using the Jaeger UI.

I'll close - if you have any further questions feel free to reopen.

[2020-01-03 10:44] #2001 closed

[2020-01-03 11:04] pavolloffay commented on #1992
by design collector caches service names(service name with operation name). If the service index is deleted collector will not recreate the index (and store the data). The cache expiration is set to 48h.

Make sure you do not delete all service indices and also keep at least 2 days of historical data.

[2020-01-03 11:04] #1992 closed

[2020-01-03 11:10] pavolloffay commented on #1971
I would lean towards the consistency and require configuring the full URL. It's more flexible and one could deploy it on different path.

[2020-01-03 16:58] yurishkuro commented on #1971
@pavolloffay so you'd vote for JAEGER_SAMPLING_ENDPOINT?

[2020-01-05 21:11] chandresh-pancholi commented on #1333
I am picking it up.

[2020-01-05 21:16] chandresh-pancholi commented on #1989
I am picking it up next.

[2020-01-06 07:50] uckyk commented on #2001
HTTP is not allowed in our company

According to what you said, I use Zipkin client to send the data to Kafka (), consume Kafka data through Jaeger server, and then store it in ES. Finally, use the Jaeger UI to show it. Is this solution OK?

Is there another better solution? Thank you very much.

[2020-01-06 09:03] objectiser commented on #2001
@uckyk Unfortunately the ingester only accepts jaeger format trace data from kafka. Zipkin format is only supported via http currently. If you are interested in this approach, then I would suggesting creating a feature request (issue) where the idea can be evaluated.

[2020-01-06 09:16] uckyk commented on #2001
Is the format of the data reported to Kafka different from that reported by HTTP? Isn't the last data format stored the same? The problem is a little idiotic. Sorry...

Is the final stored data area is Clinet or  collecotor. I messed up......

[2020-01-06 09:59] objectiser commented on #2001
Jaeger in general only deals with its own format, whether received via http, grpc or kafka. In addition, the jaeger-collector accepts zipkin format via http (on a different port from jaeger's http port) - but currently not via any other protocols.

[2020-01-06 10:22] jpkrohling commented on #1997
Oops. I'm on it.

[2020-01-06 10:24] jpkrohling commented on #1986
It might, but we haven't talked about it yet.

[2020-01-06 10:40] pavolloffay commented on #2001
Jaeger ingester is able to consume data in `zipkin-thrift` encoding. (the ingester is a component which reads data from kafka and writes them to storage {cassandra, es...}).

[code]

[2020-01-06 10:43] uckyk commented on #2001
I understand that Jaeger only accepts his own data. Jaeger can use HTTP to be compatible with Zipkin data. The reason is Jaeger's transformation of Zipkin HTTP data transmission. Am I right?

[2020-01-06 10:45] jpkrohling commented on #1995
Could you try to qualify the Jaeger Collector's hostname with the namespace it's deployed on? Like, `jaeger-collector.default:14250`. Ideally, you'd use the DNS protocol + headless service, so that your agent connections get load balanced across the collectors: `dns:///jaeger-collector-headless.default:14250`

[2020-01-06 10:46] uckyk commented on #2001
yes, thats mean, i can use  jaeger ingester to consume data from kafka then  storege to es, and use jaegerUI to view it.

[2020-01-06 16:32] jpkrohling opened #2004 "Should the dyn queue size reset the counters after a resize?"
Context: https://github.com/jaegertracing/jaeger/pull/1985/files#r360514330 , we should consider whether the "bytes processed" and "number of spans" should be reset when a resize is triggered. Things to consider:

1. the effects of this as a metric (increase, increase, reset, increase, ...)
2. desirable/undesirable effects on quick bursts -- the way we have, quick bursts won't cause unnecessary re

[2020-01-06 19:34] yurishkuro opened #2005 "Reporting client data loss stats to Jaeger backend"
## Requirement - what kind of business use case are you trying to solve?

We want to have accurate global measurements of the potential data loss in Jaeger clients.

## Problem - what in Jaeger blocks you from solving the requirement?

Although Jaeger clients internally support integrations with metrics backends, not all users actually configure those, and even if they do, the metrics are often na

[2020-01-06 21:30] vprithvi opened #2006 "Add context to spanstore.Writer interface"
## Problem - what in Jaeger blocks you from solving the requirement?
https://github.com/jaegertracing/jaeger/blob/009b7f57fe54b54696a05fdd28cb445c597ca146/storage/spanstore/interface.go#L27-L29

The `spanstore.Writer` interface does not propagate context.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Add a new `WriteSpanWithContext(ctx context.Context,

[2020-01-06 21:36] yurishkuro commented on #2006
I would vote for simply changing the signature to `WriteSpan(ctx context.Context, *model.Span) error`. We did the same for the Reader interface in #1038.

[2020-01-07 15:46] yurishkuro commented on #2005
@jpkrohling @pavolloffay fyi

[2020-01-07 15:58] jpkrohling commented on #2005
I wouldn't expect that extracting metrics from clients is difficult, especially because applications *should* be exposing their own metrics anyway. Once metrics are collected, it should also be easy to get aggregated values with or without service names using any reasonably modern metrics backend, like Prometheus.

But if you do need this internally, this might be a good indication that other peop

[2020-01-07 16:08] yurishkuro commented on #2005
We indeed found this quite challenging, given how heterogeneous Uber's ecosystem is. Some apps, for example, are still using statsd-style metrics that don't even support tags, a lot more apps simply do not configure Jaeger clients with a metrics client, because they are not interested in those metrics. So we want to have a more guaranteed way of collecting critical metrics like data loss (I don't

[2020-01-07 16:56] #1997 closed

[2020-01-08 08:36] Alexc0007 commented on #1995
hi , thank u for trying to help!
ill try that and update whats happening

[2020-01-08 09:07] jpkrohling commented on #2005
I can see that, but aren't you then forcing the application into doing something it doesn't want, assuming this would be on by default?

Before merging the PRs for the clients, can we get an experimental version of the agent (draft PR would be fine), with a concrete example?

[2020-01-08 15:32] yurishkuro commented on #2005
I don't plan on merging any PRs until I have an end to end solution working.

[2020-01-09 02:27] floatliang opened #2011 "Every 10 minutes agent grpc disconnected from collector"
## Requirement - what kind of business use case are you trying to solve?

Tracing http calls of my microservice

## Problem - what in Jaeger blocks you from solving the requirement?

I launched agent and collector 1.14 in docker.
Recently i checked agent logs with docker container logs agent and find that:

`{"level":"info","ts":1578533821.070084,"caller":"base/balancer.go:140","msg":"base.baseBal

[2020-01-09 09:38] jpkrohling commented on #2011
This should *not* be happening. Are you running those images locally, or are you deploying them in some infra provider, like AWS? I remember reports about something similar happening on an AWS setup.

[2020-01-09 18:09] yurishkuro commented on #2005
@jpkrohling fyi #2010

[2020-01-10 02:31] floatliang commented on #2011
@jpkrohling  I deployed one agent image and two collector images locally， all in one physical machine.
Actually i have also deployed nginx between agent and collector, could it cause this problem?
Here is my nginx config:
[code]
Does this problem has any effect of the tracing service? actually it seems works fine under my monitor:
![image](https://user-images.githubusercontent.com/33773361/7212082

[2020-01-10 08:51] jpkrohling commented on #2011
TIL that NGINX has native options for gRPC, that sounds really cool :-) In any case, I would try to keep NGINX out of the setup for a while, to check whether that's the component closing the connections.

[2020-01-10 09:30] floatliang commented on #2011
@jpkrohling  Ahh, i also learned it from my colleagues. I'll try deploy agent and collector without nginx later, if there are any results i'll let you know : )

[2020-01-10 10:02] jpkrohling commented on #2005
I left a review already. As it's marked as WIP, not sure you want another one already.

[2020-01-10 12:44] jpkrohling commented on #562
Is this something we'd like to pursue? The same pattern is repeated across all storage mechanisms (kafka,es).

[2020-01-11 03:00] yurishkuro commented on #562
Internally we implemented a "lazy session" for Cassandra that defers the actual session creation until a real query is invoked. If creation fails, a dummy session and other entities (like Query) are provided that return errors, but on the top-level query method a new attempt will be made.

@vprithvi were there any issues with this that? If not, we can open source that.

[2020-01-13 12:05] awesomeinsight commented on #1989
Sounds great! If you have any questions regarding the kafka enabled Azure Event Hub please don't hestitate to ask - also if I can help/assist you in any other direction.

[2020-01-14 12:13] MrCSJ opened #2014 "cpu limit for jaeger-agent"
Is jaeger agent support to limit cpu?
I deploy agent on host，how to decrease the risk of jaeger-agent steal cpu or memory？

[2020-01-14 12:59] trondhindenes opened #2015 "Support url for sampling.strategies file"
## Requirement - what kind of business use case are you trying to solve?
We'd like to allow dev teams to control sampling strategies. This currently is quite involved since jaeger relies on a filesystem-file. In kubernetes this typically means a configMap volume, which requires us to restart all jaeger collector pods when the file is updated. Quite cumbersome.

I'd like Jaeger to support a `sampli

[2020-01-14 16:48] yurishkuro commented on #2014
Agent does not have any internal throttling. To protect the host you can limit how much resources are given to a container, and if the agent is running hotter/hungrier than those limits it will be dropping data (e.g. it won't be able to process all UDP packets).

[2020-01-15 04:20] sandeepopenstack opened #2016 "Jaeger all-in-one windows executable - Unable to send spans to Agent"
## Requirement - what kind of business use case are you trying to solve?

Run Jaeger all-in-one executable on Windows VM, and be able to receive, store, and visualize spans/traces

## Problem - what in Jaeger blocks you from solving the requirement?

I have run the all-in-one windows executable, and after sending spans to Jaeger, Jaeger UI not able to show traces/spans. Not sure about how to use f

[2020-01-15 04:29] yurishkuro commented on #2016
try with a colon:

`--processor.jaeger-compact.server-host-port :6831`

[2020-01-15 04:44] sandeepopenstack commented on #2016
Thank you Sir for your quick response. It did work; however, when I run netstat -a -b command, I still do not see port 6831 in LISTENING mode? Is this expected behavior?

Is it correct to assume that all-in-one windows executable already has configured 6831 by default?

Where can I see all parameters that are configured by default in the all-in-one executable? Any configuration file in the all-in-

[2020-01-15 05:38] yurishkuro commented on #2016
When you run a binary with `help` command it prints all config options with the defaults.

It is  possible that your netstat does not show UDP ports as "listened to".

Note tat all-in-one has self-tracing enabled, if you refresh the search  screen a few times the query-service  should be detected.

[2020-01-15 07:06] MrCSJ opened #2017 "Agent use slb for collectors setting"
-- set paramter for reporter.tchannel.host-port
Does agent support set the collector list with SLB(ServerLoadBalancer), I use a slb instead two collectors address, actually collector-1 and collector-2 has a different flow to receive spans?
the version i use is 14.0

[2020-01-15 07:11] MrCSJ commented on #2017
i didn't use service discovery，i want to user a address instead of list of address to set for agent，is there any advise?

[2020-01-15 10:22] #2014 closed

[2020-01-15 13:45] jpkrohling commented on #2017
Not quite sure what you mean, but you should certainly be able to place a load balancer between your agent and your collectors, as long as your load balancer won't kill the long-lived tchannel connections. Same for gRPC.

[2020-01-15 13:45] #2017 closed

[2020-01-15 16:36] sandeepopenstack commented on #2016
Hi - You can close this, as I got it working...Thank you!

[2020-01-15 16:36] #2016 closed

[2020-01-16 08:20] kylesliu opened #2019 "Switch to go mod"
## Requirement - what kind of business use case are you trying to solve?

Hello everyone, I'm a gopher from China. When using jaeger, I found that there is no go mod . go mod can provide great help to developers in China.

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open ques

[2020-01-16 12:02] MrCSJ opened #2021 "Grace stop agent"
I execute jaeger-agent on CentOS (use command like this : nohup ./jaeger-agent --reporter.tchannel.host-port=ip:14267 --log-level=debug >jaeger-agent.log 2>&1 &
 )，what should i do to stop jaeger-agent graceful，current i user kill -9 pid。But i doubt this can discard some spans。By the way，the same question for collector、query and ingester

[2020-01-16 13:12] jpkrohling commented on #2021
You might want to take a look at this for a better way to start/manage the processes:

https://medium.com/jaegertracing/running-jaeger-agent-on-bare-metal-d1fc47d31fab

Right now, I don't think the agent can be stopped gracefully, but sending a SIGTERM is the appropriate way to stop the process. We do plan to handle graceful shutdown in the future. See #295 for more info on that.

[2020-01-16 13:12] #2021 closed

[2020-01-16 14:17] jpkrohling opened #2023 "Client stats recording the wrong cause of failures"
## Problem - what in Jaeger blocks you from solving the requirement?

When testing `tracegen` (see jaegertracing/jaeger-client-go#486), I noticed that the client stats are a bit off. Quite a few batches failed due to the message shown in jaegertracing/jaeger-client-go#486, but the client stats shows "0" for the number of batches failed due to `cause="too-large"`:

[code]

Stats:
[code]

[2020-01-16 15:08] yurishkuro commented on #2023
I think the issue is on the client side, backend does not do the classification, only recording.

[2020-01-16 15:17] Alexc0007 commented on #1995
@jpkrohling , i followed your advice and added the namespace of the collector to the deployment...
the errors seem to have stopped...
however, the only traces i still see from jaeger are from the service jaeger-query
why dont i see traces of other services?
what am i missing here?

[2020-01-16 15:36] jpkrohling commented on #1995
Hard to say without further information. Have you checked the troubleshooting guide? https://www.jaegertracing.io/docs/1.16/troubleshooting/

[2020-01-16 16:09] annanay25 opened #2024 "Support 'env' in sampling strategies file for remote sampling"
## Requirement - what kind of business use case are you trying to solve?

Support different sampling rates for the same endpoints in different environments (dev/staging/prod).

## Problem - what in Jaeger blocks you from solving the requirement?

The sampling strategies config does not have a top level `env` construct. Ideally, we would like to do -
```curl http://jaeger-agent:5778/sampling?env='d

[2020-01-16 21:35] cyriltovena commented on #2024
Yes please ! I use jaeger every day and to be honest this is difficult to work around when you have one environment with huge throughput, but you still want your dev workload to be 100% sampled.

We may want to make this more generalized and support tags overall.

[2020-01-17 09:01] MrCSJ opened #2026 "How to control the balance above lists of collectors for agent"
I have three collectors to receive spans from agent。I use agent with command like this “nohup ./jaeger-agent --reporter.tchannel.host-port=ip1:14267,ip2:14267,ip3:14267 --log-level=debug >jaeger-agent.log 2>&1 &”。But i found the flow of collectors is not average。So how to loadbalance for this situation。

[2020-01-17 09:09] jpkrohling commented on #2026
Use the gRPC reporter instead, which provides a client-side load balancing.

https://www.jaegertracing.io/docs/1.13/deployment/#discovery-system-integration

[2020-01-17 09:09] #2026 closed

[2020-01-17 12:10] jkandasa opened #2027 "query service "search" api 'limit', 'total' and 'offset' fields are not supplied on response"
# Requirement - what kind of business use case are you trying to solve?
set of fields are not supplied on the query service search response

Service: jaeger query
API: `/apt/traces`
Current response:
[code]
Response struct: https://github.com/jaegertracing/jaeger/blob/886b96574253a005ee7ebe74140098f3fe183606/cmd/query/app/http_handler.go#L56
Response part: https://github.com/jaegertracing/jaeger/b

[2020-01-17 13:39] yurishkuro commented on #2027
Thet are not supported by the backend, and pagination is also not supported. There's no benefit in returning them in the current state.

[2020-01-17 16:01] ScottKaye commented on #2024
Are you using the same jaeger-agent for dev/staging/prod?

[2020-01-17 16:22] joe-elliott commented on #2024
No, but we are using the same collectors/backend for dev/staging/prod and AFAIK the jaeger agent just proxies the remote sampling query back to the collectors.

[2020-01-19 12:17] mindw opened #2029 "Agent's gRPC client should disable TXT DNS record lookup for nonexistent gRPC service configuration"
## Requirement - what kind of business use case are you trying to solve?
jaeger (1.16.0) deployed in k8s 1.16 (observed at least since jaeger 1.14 and k8s 1.14).

## Problem - what in Jaeger blocks you from solving the requirement?
When jaeger-agent uses its gRPC client, it issues TXT DNS queries against the in-cluster DNS pods (CoreDNS in my case), repeatedly looking up these records to find serv

[2020-01-20 12:59] jpkrohling commented on #2029
Would you like to give it a try? The tricky part is that we want to disable this when Jaeger is running in Kubernetes, but we probably still want this enabled for other cases.

My personal preference would be to keep this as it is, and just suppress the message. Not sure this alone deserves a new flag...

[2020-01-21 10:13] Alexc0007 commented on #1995
Hi,
the troubleshooting guide isnt informative enough...
when i look at my agent logs, they dont seem to write anything...
so as the collector logs...

this is all the info i see on the agent's log:
[code]
the only traces i do see on the query are traces of jaeger-query...
it seems like there is a sidecar agent running in the jaeger-query pod...

i also tried to copy this sidecar agent to a differ

[2020-01-21 10:15] Quang-OLLI commented on #1989
`"Unable to create consumer","error":"invalid version `SASL_SSL`"` I got this error while connecting to kafka. Any idea how to fix this one ?

[2020-01-21 12:06] mindw commented on #2029
@jpkrohling Thanks for looking at this!
Alas by golang skills are non existent - but maybe common sense and some trial and error will be enough 🤔

[2020-01-21 13:05] joe-elliott commented on #2024
@jpkrohling No, that's a good point.  It would not be too difficult to partition our collectors by env and have the agents reporting to only a subset of the collectors.

[2020-01-21 13:09] jpkrohling commented on #1995
on its logs, i see the same output as i reported above.

How are your applications instrumented? Can you turn on the client logs as well (see "Use the logging reporter" in the troubleshooting guide)? If you can't see spans being reported by your application, that might explain why the agent isn't logging the span batches its receiving ;-)

[2020-01-21 16:10] owenhaynes commented on #1242
Is ILM  now not a basic feature of elastic 7+ now?

[2020-01-22 07:46] Alexc0007 commented on #1995
after reading a bit more about jaeger, ill ask just to be sure...
the clients have to be implemented inside my applications?
cant the agents just collect data?
if this is the case, then i have no clients.... only agents deployed...

another question in case the above is true, even if an agent is deployed as a sidecar, it cant serve as a client?

[2020-01-22 08:57] jpkrohling commented on #1995
You might want to check the [OpenTracing tutorial](https://github.com/yurishkuro/opentracing-tutorial) to have a better understanding of how it all fits together. The same basic principles apply to most of the modern distributed tracing tools, including Jaeger.

Typically, yes. You'd instrument your code with an API like OpenTracing, and plug a concrete client (aka tracer), which will send this da

[2020-01-22 14:17] pavolloffay commented on #1242
Yes, It seems no longer be listed under x-pack https://www.elastic.co/guide/en/elasticsearch/reference/7.x/index-lifecycle-management-api.html

[2020-01-23 09:36] ChadiEM commented on #2019
@kylesliu is probably talking about [Go Modules](https://github.com/golang/go/wiki/Modules).

[2020-01-23 09:37] #943 closed

[2020-01-24 17:37] Nick-Anderssohn commented on #1824
This is effecting me too.

[2020-01-24 22:50] apm-opentt opened #2037 "Expose Samara Kafka producer/consumer configurations to command line."
## Requirement - what kind of business use case are you trying to solve?

We are using Jaeger with Ingester.  On Collector, we are setting SPAN_STORAGE_TYPE=kafka.  We would like to tune Kafka configurations for performance.  The default Kafka Samara config is resulting in over 150% CPU usage on Kafka broker for just 40k spans per minute.

## Problem - what in Jaeger blocks you from solving the re

[2020-01-25 00:39] yurishkuro commented on #2037
Sounds reasonable. Would you like to create a pull request?

I would also be interested to hear what performance improvements you will realize by using these new settings. Perhaps they should go into documentation / guidelines for the collector.

[2020-01-25 08:57] nadilas opened #2038 "Clarification in docs"
Hi everyone,

This line cost me 1 day 😄  ...

https://github.com/jaegertracing/jaeger/blob/4b58b94ed93c994f65882e256251943cc08b99a2/pkg/es/config/config.go#L294

Maybe you could update to docs to be more specific in saying `--es.tls` ignores `--es.tls.ca`? Or is it just me who got this wrong? 😊

[2020-01-25 17:31] EranOfer opened #2039 "Add CORS handling to query API"
## Requirement - what kind of business use case are you trying to solve?

I love jaeger I think it's a great tool,

I want to use jaeger data with [Costume UI](https://github.com/SAP/Tracer).
I think the best approach for me is to use [HTTP JSON (internal) API](https://www.jaegertracing.io/docs/1.13/apis/#http-json-internal)

## Problem - what in Jaeger blocks you from solving the requirement?

Wi

[2020-01-25 22:12] yurishkuro commented on #2039
More generally, we should support a config file for the UI that enables various site-specific headers. For example, in our internal build of the UI we're mounting middleware that adds `Content-Security-Policy` header, to allow embedding Jaeger UI views into other web tools.

[2020-01-26 04:08] yurishkuro commented on #2038
It should not ignore CA, what makes you think it does?

Meanwhile, this code will change with #1838

[2020-01-26 14:10] nadilas commented on #2038
@yurishkuro well, when setting —es.tls I don’t see this line in that if path of the code:
https://github.com/jaegertracing/jaeger/blob/4b58b94ed93c994f65882e256251943cc08b99a2/pkg/es/config/config.go#L308

But that’s only after I always had a “no such file or directory” - yes without a file oath - error on startup. Removing the —es.tls flag, leaving behind the —es.tls.ca flag fixed the issue. So I

[2020-01-27 09:35] jpkrohling commented on #2038
The code does look strange and I think it could have a few comments, but when the CA path is set, both code branches will attempt to read the file.

https://github.com/jaegertracing/jaeger/blob/4b58b94ed93c994f65882e256251943cc08b99a2/pkg/es/config/config.go#L308-L315

and

https://github.com/jaegertracing/jaeger/blob/4b58b94ed93c994f65882e256251943cc08b99a2/pkg/es/config/config.go#L344-L360

[2020-01-27 10:57] nadilas commented on #2038
@jpkrohling got it. It does make sense, although the `createTLSConfig` is actually a `createTLSConfigWithClientCertificate` implementation.

https://github.com/jaegertracing/jaeger/blob/4b58b94ed93c994f65882e256251943cc08b99a2/pkg/es/config/config.go#L308-L315

Then my issue was definitely not having `CertPath` and `KeyPath` set as I was using password authentication. Sorry for the misinterpretati

[2020-01-27 10:57] #2038 closed

[2020-01-27 14:20] pavolloffay opened #2041 "Too many logs: The dynamic queue size warmup"
I get the following log even when Jaeger-collector is not receiving any data:

[code]

[2020-01-27 14:20] pavolloffay commented on #2041
cc) @jpkrohling

[2020-01-27 15:55] gouthamve opened #2042 "Dropping small amount of spans on master"
## Requirement - what kind of business use case are you trying to solve?

Trying to run master and checking if everything works.

## Problem - what in Jaeger blocks you from solving the requirement?

Dropping a small number of spans

## Any open questions to address

Here's more info:
We are currently running Jaeger with about 10K spans/sec on a host. But we noticed that `rate(jaeger_collector_spa

[2020-01-27 16:06] joe-elliott commented on #2042
Is there a race condition here:
[code]
If the goroutine is swapped off the thread between these lines and then another goroutine consumes the the queue item it could subtract before it adds.
[code]
Is this a correct analysis?

[2020-01-27 16:07] jpkrohling commented on #2042
I talked with @gouthamve on Gitter about this. We definitely need some protection to never go negative, but he's going to do some debugging to try to find out why it's going negative.

[2020-01-27 16:08] jpkrohling commented on #2042
@joe-elliott : thanks for the hint! It might be, as you have both the code and the situation, would you be able to give it a try and validate the theory?

[2020-01-27 17:32] joe-elliott commented on #2042
@jpkrohling submitted a fix that's working in our environment #2044

Let me know if you'd rather approach it a different way.

[2020-01-27 18:21] Moes81 commented on #993
So, is there any way to prevent the id collision?

[2020-01-27 19:27] trogo commented on #622
@pavolloffay
I'm running into this issue.   i do have 1.14 and later but i'm using jaeger-ingester to write to ES.
Does the fix also need to go in there ?

[2020-01-27 21:17] apm-opentt commented on #2037
I can create a pull request but I need to get approval from my management first.

[2020-01-28 00:38] yurishkuro commented on #2042
What is actually going negative, the queue size gauge? (a) I wouldn't worry about it, or (b) just fix where gauge value is recorded to clamp negative values to zero. That gauge is only important when it's a very large number, minor fluctuations are irrelevant and mostly random due to an arbitrary reporting interval.

[2020-01-28 01:05] #1837 closed

[2020-01-28 09:39] primeroz commented on #1242
@pavolloffay

I have been trying to find more info about that comment, were you able to confirm how this `optimizations` work ?

[2020-01-28 09:45] pavolloffay commented on #1242
Actually I wasn't able to find any concrete docs. There is a PR that implements wildcard index for query - depending only on time range. https://github.com/jaegertracing/jaeger/pull/1969

Our (for now) internal results show that it is slower than providing a complied list of indices to query.

[2020-01-28 09:54] jpkrohling commented on #2042
Yes, the queue size gauge (`*uatomic.Uint32`) is going negative, but I think it's a simpler bug rather than a concurrency data race. If @joe-elliott and @gouthamve have high confidence that this works in their highly concurrent environment, I think the linked PR is the right solution and we won't require a special safe check for negative values.

[2020-01-28 09:57] jpkrohling commented on #993
@Moes81 if you can come up with a PR that improves it, chances are very high that we can merge it.

[2020-01-28 10:24] gouthamve commented on #2042
This works at 10K spans/sec on a single collector :)

[2020-01-28 10:27] #2042 closed

[2020-01-28 15:15] Sentorio opened #2045 "Generated gRPC server for storage plugin is fail/ unable to build"
## Requirement -
I've generate a gRPC server in go lang using storage.proto file located in `plugin/storage/grpc/proto/`. Now I'am unable to build the binary for that server. I receive the following log when I try to build the binary with `go build -o ~/out_binary proto-gen/storage_v1/storage.pb.go` command.

[code]

I'am using go 1.13.5.
Can you please have a look on this?

[2020-01-28 16:28] TheDavidKruse opened #2046 "Kafka connection using SCRAM authentication"
## Requirement - what kind of business use case are you trying to solve?

In our current architecture, we secure our connection to our Kafka pipelines using the SCRAM authentication method. We would like to use Go as our Jaeger collector for ease of use in microservices and to replace our current Java implementation.

## Problem - what in Jaeger blocks you from solving the requirement?

The curren

[2020-01-28 18:28] yurishkuro commented on #2046
Maybe this should be solved in Shopify/sarama?  Jaeger simply uses what sarama provides, we don't build additional mechanisms which are not part of the driver.

[2020-01-28 18:48] yurishkuro commented on #2045
Sound a bit like a mismatch between runtime and generator versions.

I suggest you take a look at influxdb plugin repository, how they build it.

[2020-01-28 20:08] TheDavidKruse commented on #2046
That makes sense, let me head over there and see what kind of trouble I can stir up.

Thanks @yurishkuro

[2020-01-28 21:03] TheDavidKruse commented on #2046
As it turns out, the way we have implemented it comes directly from the way they have in their  (Sarama's) [example](https://github.com/Shopify/sarama/tree/master/examples/sasl_scram_client).

However, with the example from their repo they do not take into account using Jaeger with Kafka as they have a custom consumer and producer loop. I find that the overlap between what they have implemented in

[2020-01-29 06:00] markosiira-arm opened #2048 "Support for Elasticsearch ILM policies"
## Requirement - what kind of business use case are you trying to solve?

I want to define index lifecycle policy to manage jaeger indicies in Elasticsearch. Purpose for me is to set policy that will delete outdated indices. There may be other use-cases as well.

## Problem - what in Jaeger blocks you from solving the requirement?

Index templates used by jaeger are not easily modifiable. We would

[2020-01-29 10:39] pavolloffay commented on #1361
Perf results in https://github.com/jaegertracing/jaeger/pull/1969 showed that using wildcard in idex name with time range on timestamp significantly increases query time. Therefore I am closing this.

[2020-01-29 10:39] #1361 closed

[2020-01-29 13:01] pavolloffay commented on #2048
@markosiira-arm could you please point us to ES docs regarding what features you want to use? Is it this one https://www.elastic.co/guide/en/elasticsearch/reference/master/index-lifecycle-management.html? Note that we cannot use x-pack or any other non OSS Elasticsearch extensions.

Templates are here https://github.com/jaegertracing/jaeger/tree/master/plugin/storage/es/mappings. You can modify th

[2020-01-29 14:26] zenobiuszeto commented on #2046
@yurishkuro The PR which we are going to raise will enable the support the SCRAM based SASL fro Jaeger collector for Kafka  which uses `Shopify/sarama`.

Today we have the support for TLS and kerberos.

Are you aligned on raising the PR ?

[2020-01-29 14:29] zenobiuszeto commented on #2046
@yurishkuro I did this case during end of last year

is there a plan to enable SCRAM SASL from Jaeger collector side to kafka ?

Juraci Paixão Kröhling @jpkrohling Nov 21 2019 01:06
@zenobiuszeto what does it take to add support for it?
@zenobiuszeto if you can provide a PR, chances are high that we can merge it

[2020-01-29 14:37] markosiira-arm commented on #2048
Thank you for responding quickly to my issue.

ILM docs are at: https://www.elastic.co/guide/en/elasticsearch/reference/current/index-lifecycle-management.html and It seems that feature is marked as x-pack and AFAIK it's available with basic (no-cost) license level.

I have also seen jaeger-dependencies indices, I suppose those are orignated from spark ? That template is not available in the https

[2020-01-29 19:13] yurishkuro commented on #2046
I am still not clear why sarama has this SCRAM client abstraction rather than implementing it directly, I asked on their PR https://github.com/Shopify/sarama/pull/1295#issuecomment-579912397.

[2020-01-29 19:15] joe-elliott commented on #2039
@yurishkuro Can you assign to me?  I'd be glad to give this one a shot.

[2020-01-29 19:17] yurishkuro commented on #2039
Assigned. Please write a proposal for the configuration format first.

[2020-01-29 19:29] chandresh-pancholi commented on #1333
@jpkrohling could you please give me a starting point to work on it?

[2020-01-29 19:30] yurishkuro commented on #2046
@jaegertracing/jaeger-maintainers how do we feel about taking a dependency on https://github.com/xdg-go/scram? That repo hasn't changed in 2yrs, a very straightforward (and the only) PR opened 6mo ago had no maintainer feedback.

[2020-01-29 19:56] joe-elliott commented on #2039
Thanks.   Proposing the ability of the operator to add arbitrary key value pairs under `query.additional-headers`.

Config file:
[code]
CLI:
[code]

These headers would then be added via middleware here
https://github.com/jaegertracing/jaeger/blob/9cd7a7ec1aa43b24a8a970eb5b393ca2ffd98a5d/cmd/query/app/http_handler.go#L123
which should impact all jaeger-query http api endpoints.

[2020-01-29 20:33] yurishkuro commented on #2039
hm, perhaps. When I look at how we're setting "Content-Security-Policy", there are like 10 lines of content for the header, separated with semi-colons. Do you think comma as a separator between different headers is sufficient, if we use a CLI flag?

[2020-01-29 21:04] joe-elliott commented on #2039
CLI would just generally be difficult to configure very complex or large headers regardless of how we structure it.  Certainly for a 10 line header the config file would generally be preferred.

Unfortunately, comma is a valid character in an HTTP header value.  Another option would be to do this:
[code]
It's a little more verbose but would be parseable without ambiguity.

[2020-01-29 21:52] yurishkuro commented on #2039
I never tried it - does spf13/cobra allow repeating the same flag this way? If it does, then I think it's a better solution than using a separator character.

[2020-01-30 07:46] annanay25 commented on #1213
@yurishkuro - Znly has developed a comprehensive docker image for this use case - https://github.com/znly/docker-protobuf#supported-languages. This has been forked into https://github.com/TheThingsIndustries/docker-protobuf and the developer claims to maintain it and update dependencies bi-weekly.

If we're not okay with using this, we could fork it into `jaegertracing/docker-protobuf` and I could

[2020-01-30 10:36] trondhindenes commented on #1568
@yurishkuro sorry to ping. I just looked up on this. It would be good to get it confirmed that I understand the behavior correctly:

This poses a problem for us, for the reasons I've described. I totally understand that changing the way Jaeger queries data in ES is probably a complex endeavour. We'd probably evaluate Cassandra instead to see if that works better for us. In any case, it would be go

[2020-01-30 16:11] yurishkuro commented on #1568
I am not aware of any client-side filtering, all search params should be sent to ES. What makes you think otherwise?

cc @pavolloffay

[2020-01-30 16:20] yurishkuro commented on #1213
The second repo looks pretty good, but we may need to fork and maintain our own in order to keep the dependencies versions in sync with the main repo.

[2020-01-30 18:48] prana24 opened #2051 "Single Jaeger UI for multiple jaeger environment"
## Requirement - what kind of business use case are you trying to solve?
We are having multiple  jaegr  environment as of now and it is going to increase  with cloud coming into as new environment , we will have even more environment.  So we want to provide same URL to everyone so that  user can get single  UI for all the environment. Can we achieve this ?

## Problem - what in Jaeger blocks you f

[2020-01-30 19:03] annanay25 commented on #1213
We could maintain our version of the `docker build ...` command and continue to use the upstream repository for the Dockerfile.
However, I can already think of improvements, like only loading modules in the Dockerfile that we require.

[2020-01-30 19:45] yurishkuro commented on #1213
Yes, I think that repo loads too many modules.

Also, the build.sh file seems redundant, in znly repo the package versions were defined directly in the Dockerfile (still parameterized in one place).

I haven't looked into why the other repo also has the go.mod file.

[2020-01-30 21:04] joe-elliott commented on #2039
So, technically, this is possible by doing this:
https://stackoverflow.com/questions/28322997/how-to-get-a-list-of-values-into-a-flag-in-golang

Unfortunately all CLI flags are treated as strings
https://github.com/spf13/viper/blob/master/viper.go#L1069-L1089

So in the String() method:
[code]
I would have to return the values delimited by an illegal character in an HTTP header value.  So, a bit g

[2020-01-30 21:58] yurishkuro commented on #2039
https://github.com/spf13/cobra/issues/661 seems like string slice is already supported in pflag.

[2020-01-31 02:00] joe-elliott commented on #2039
It is supported in pflag, but in the initialization code I am given a viper object:
[code]
By debugging into calls likes `v.GetString()` or `v.GetStringSlice()` I can see that internally viper is holding a pFlag object.  However, in that code I linked above it always calls `flag.ValueString()` which drops whatever the internal object type is and always returns its string representation (which is t

[2020-01-31 02:53] yurishkuro commented on #2039
yeah, the abstraction doesn't seem to be there. But it may still work as long as we're ok with comma as a separator, which is not a valid character for an http header _values_, because if it's used it is treated by the HTTP protocol as a separator, equivalent to repeated singe-valued headers. The pflag converts slice into comma-separated list:
[code]
and viper parses it back:
[code]

[2020-01-31 07:22] annanay25 commented on #1213
I agree. I think the build.sh file was setup to integrate with GitHub Actions, but we could do way with that.

`go.mod` is the dependency list for `check-versions.go` - which seems to query the GitHub API and check for the latest release versions of all repositories (protobuf, grpc-ecosystem, etc..)

[2020-01-31 10:14] trondhindenes commented on #1568
as I write further up, I traced the requests sent from Jaeger to ES. It would explain why we didn't get any hits in our `error=true` query which lead me to open this issue in the first place.

[2020-01-31 10:20] pavolloffay commented on #2041
done in #2043

[2020-01-31 10:20] #2041 closed

[2020-01-31 10:38] pavolloffay commented on #1568
I am not aware of any client-side filtering the match for tag key and values is done in the Elasticsearch.

[2020-01-31 10:43] trondhindenes commented on #1568
thanks. I'll re-test my assumptions.

[2020-01-31 13:16] joe-elliott commented on #2039
Ok, I can get that to work.  It does require this:  https://stackoverflow.com/questions/28322997/how-to-get-a-list-of-values-into-a-flag-in-golang.  If I don't use this custom flag var then I simply get the last value specified when calling `GetStringSlice`.

This means that the cli would look like:
[code]

and the yaml:

[code]

[2020-01-31 23:50] #2037 closed

[2020-02-02 05:04] bobrik commented on #961
I opened #2052 to add a warning similar to what you can see in the comment above.

[2020-02-02 15:24] stevejobsmyguru commented on #365
I have some thoughts in high level in the following lines:

At the Collector level, For each Host level, we can run some kind of baseline calculation on key KPIs like # of Error, 90th Response Time or Throughput for every < X> Observation window. This observation interval can be like for every 5 min or every 10 mins or < auto-calculated>.  This Observation window can be auto-calculated from Throug

[2020-02-02 18:12] yurishkuro opened #2053 "Restrict clock skew adjustment to a certain max delta"
Similar to #961, perhaps we should impose a limit on the skew adjustment, e.g. no more than 1s. If the calculated delta exceeds that limit, add a span warning saying that adjustment was not done, and include the proposed delta in the message.

[2020-02-02 22:15] bobrik commented on #961
@yurishkuro, I think you can tick two first boxes in the issue description after #2052.

[2020-02-03 00:16] gouthamve commented on #1519
I wrote up a design doc that puts things in perspective: https://docs.google.com/document/d/1WKT8_PY3FDT3HCzCcXB_W-rYdeMtXPaP7XyPl9SmL8w/edit#

I didn't know this issue existed but it'd be cool to have this use case supported first class.

[2020-02-03 00:40] yurishkuro commented on #1519
please make the doc readable for everyone.

[2020-02-03 10:33] gouthamve commented on #1519
Sorry fixed that now

[2020-02-03 17:09] pavolloffay commented on #414
I am closing this as the path-based dependency diagram has been removed from the roadmap https://github.com/jaegertracing/documentation/pull/337/files#diff-589f45af23c715bf85555e66e549daa0L41.

@yurishkuro can provide more details.

Regarding the data pipeline Jaeger already supports Kafka which can be used as a data source for analytics pipeline. There is also a new project https://github.com/jae

[2020-02-03 17:09] #414 closed

[2020-02-04 12:03] rgl opened #2055 "font artifacts not included in the jaeger-query.exe binary?"
Is there a reason for not including the font static files in the `jaeger-query.exe` binary?

Currently, when I launch jaeger-query in a machine without internet access the fonts are being downloaded from, e.g. `https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.woff`:

![image](https://user-images.githubusercontent.com/43356/73743008-894c0e80-4745-11ea-83e8-a6ed49558ecb.png)

[2020-02-04 15:46] jpkrohling commented on #1333
@chandresh-pancholi take a look at how the components are bootstrapped, like [the collector](https://github.com/jaegertracing/jaeger/blob/master/cmd/collector/main.go). Look for the bootstrap of the Admin HTTP server, as that's where the metrics should be (including the expvars). As @yurishkuro mentioned, you probably want to use [expvars](https://golang.org/pkg/expvar/) directly, but I think we *

[2020-02-04 17:38] joe-elliott commented on #2039
@yurishkuro do you think this is ok to move forward with?

[2020-02-04 17:55] yurishkuro commented on #2039
sgtm

[2020-02-05 06:43] annanay25 commented on #1213
@yurishkuro - Pinging to check if we can go ahead and fork.

[2020-02-05 10:57] jpkrohling commented on #1519
I think the proposal makes sense. Are you able to come up with a PoC? It would also be nice if you could create issues about the two problems you mentioned in the doc (panic + hanging process).

[2020-02-05 12:16] jpkrohling commented on #2051
At the moment, each instance of the Jaeger Query can only talk to a single Jaeger Collector.

[2020-02-05 12:16] #2051 closed

[2020-02-05 12:53] TBBle commented on #1459
After jaegertracing/jaeger-operator#871, we now have a process tag `host.ip` added by Jaeger Operator-injected Agents, which would be a better input for the Clock Skew Adjustor. The process-local `ip` tag added by the Jaeger client is within a kubernetes container, and hence won't match other containers sharing a realtime clock, leading to Clock Skew Adjustor misbehaviour.

So it might be benefici

[2020-02-05 13:04] eikemeier commented on #1459
We keep have comments like “[I spent a few hours trying to figure out ...](https://github.com/jaegertracing/jaeger/pull/2052#issuecomment-581099134)”. The point of this issue is that the default behaviour is unexpected, confusing and harmful.

If anyone wants adjustments, fine. But this should be opt-in and off by default. “Better” unexpected and a little less confusing adjustments are still harmf

[2020-02-05 13:09] pavolloffay commented on #1459
It seems like a controversial feature. We should consider making it configurable.

Would it also help people if we were labeling the spans which are candidates for clock adjusting?

[2020-02-05 13:11] TBBle commented on #1459
I was definitely one of those "I spent a few hours" people. In my case, I *did* have Clock Skew, but lack of an `ip` tag (using the OpenCensus library) meant that instead of seeing the two hosts's spans shift, the whole pile shifted. #787 made this very hard to diagnose, as even the raw data was showing time-travel effects.

I'd very-much like to see it turn off-able, but I don't feel strongly tha

[2020-02-05 13:52] eikemeier commented on #1459
Again, I do not vote for “burning to the ground”. It might help people, and thanks to the guys developing and improving it.

The point i'm trying to make is that a (changing) heuristic how to improve faulty data can be helpful, but should be _off_ by default and opt-in, nothing more.

You have some machines with broken clocks which you can't fix - fine. The problem is that you don't know **how** b

[2020-02-05 14:20] flixr commented on #1459
I also want to add that we ran into this problem, even though all the services were running on the same host (in containers). We initially had the IP field empty and it was adjusted, but using the IP from inside the container also would not have helped. As a workaround we have for now hardcoded spans to all report the same IP.

It seems that in our case the clock skew adjustment happened because:

[2020-02-05 14:31] arruda commented on #1656
Hi there, just a update question:
I've read that recently ubuntu 19.10 is targeting ARM devices such as raspberry pi 4 (arm64).
And that they'll allow microk8 by default, and it appears to have support for Jaeger operator.
Does this implies that jaeger somehow now can run on arm64?
If not, what is the current status of this issue (I couldn't get a clear idea on what state this is from the history

[2020-02-05 14:58] yurishkuro commented on #1213
Go ahead

[2020-02-05 15:12] jpkrohling commented on #1656
@arruda do you have any sources? We do not provide arm64 binaries for the operator (yet?) but I'd be interested in knowing what their plans are.

[2020-02-05 16:29] arruda commented on #1656
@jpkrohling This were the places I've read this (not sure if this implementation indeed have a jaeger operator addon or not, but it sounds like it may have):
https://ubuntu.com/blog/ubuntu-19-10-delivers-kubernetes-at-the-edge-multi-cloud-infrastructure-economics-and-an-integrated-ai-ml-developer-experience

And from another site a bit more detailed on the microk8 having the jaeger addon (just not

[2020-02-05 16:42] jpkrohling commented on #1656
Thanks for the reference! I wasn't aware of it, and it looks like it's indeed using the Jaeger Operator:

https://microk8s.io/docs/addons

As for the status, there is a PR that adds this to our CI, but it hasn't been merged yet: #1973.

[2020-02-05 17:25] bobrik commented on #1459
How about the following?

* If there is no skew detected, do nothing
* If skew is detected, do not adjust it automatically:
  * UI shows a clear warning at the top and in adjustable spans
  * There's a toggle to enable adjustment next to a warning
  * Have an API param to enable adjustments

This way it's a no-op for good spans, and bad ones get the choice, which either points at the issue in thei

[2020-02-05 19:40] annanay25 commented on #1213
Have created https://github.com/jaegertracing/docker-protobuf for this.

Will update the repository with corresponding repository versions in jaeger/master.

[2020-02-06 08:32] pavolloffay opened #2057 "Release 1.17.0"
The tracking issue for release 1.17.0.

@jaegertracing/jaeger-maintainers please add PRs/issues which should go to 1.17 into milestone https://github.com/jaegertracing/jaeger/milestone/9.

Here is diff `1.16-master` https://github.com/jaegertracing/jaeger/compare/v1.16.0...master

@everett980 @rubenvp8510 could you please release jaeger-ui 1.7.0?

[2020-02-06 09:23] jpkrohling commented on #1459
I added this issue as a topic for the next bi-weekly. Perhaps we can move forward while discussing this with everyone in the same "room": https://docs.google.com/document/d/1ZuBAwTJvQN7xkWVvEFXj5WU9_JmS5TPiNbxCJSvPqX0/edit#heading=h.u5x27f1oevg9

[2020-02-06 10:48] dawidskiba opened #2058 "Jaeger Span is not marked as an error when exception is handled by ControllerAdvice"
## Requirement - what kind of business use case are you trying to solve?

I'm using io.opentracing.contrib:opentracing-spring-jaeger-web-starter:2.0.3 in my project.
I've spotted that exceptions that are caught by ExceptionHandlers in ControllerAdvice make Jaeger spans look like there was no error at all.

## Problem - what in Jaeger blocks you from solving the requirement?

Despite that exception

[2020-02-06 12:02] pavolloffay commented on #2058
Please open a ticket in the instrumentation repository. This is not Jaeger issue.

[2020-02-06 12:02] #2058 closed

[2020-02-06 19:09] arruda commented on #1656
@jpkrohling I just tested building the all-in-one for the arm64 using `docker buildx` locally, and indeed it works.
I tested running it in my Raspberry Pi 4 as well, and I built from the release tag `1.16.0`
Thats some great news =D :+1:
I'll just keep using my own built image while the travis CI with the official build is not yet available. Basically I went through all the process in the make bui

[2020-02-06 19:19] jishminor commented on #1656
I had intentions of contributing the arm64 support to travis CI, but still have yet to get around to #1973.

[2020-02-06 20:12] yurishkuro commented on #1459
We're currently limited by front end. A simple temporary solution, for people who are particularly annoyed by the adjustment, is to add a cli flag to permanently disable adjustment, until someone contributes a respective UI change to toggle it on and off.

[2020-02-07 09:08] jpkrohling commented on #1459
Given that this feature breaks most people's expectation, shouldn't it be the other way around, even though it means a change in the current behavior?

[2020-02-07 14:08] yurishkuro commented on #1459
Might be ok too. I think if we go with such change, we need to still run the adjustment logic but only record a warning saying "had the adjustment been enabled, it would've moved the timestamps by (Delta)".

[2020-02-07 16:25] yurishkuro commented on #1459
Upon more thought, we may want three-valued flag: `off` (default), `warn`, `on` (current behavior).

[2020-02-07 17:33] yurishkuro opened #2061 "Replace the use of pkg/errors with native error wrapping"
currently we're using `errors.Wrap`. Since Go 1.13 we can instead use the stdlib
[code]

[2020-02-07 17:37] yurishkuro opened #2062 "Replace the use of FNV hash with maphash"
According to https://speakerdeck.com/campoy/the-state-of-go-2020?slide=31, the new hash is much faster.

[2020-02-07 17:39] yurishkuro opened #2063 "Use `go build -trimpath`"
https://speakerdeck.com/campoy/the-state-of-go-2020?slide=47

It should make stack traces more readable.

[2020-02-08 18:29] #2039 closed

[2020-02-09 14:56] u5surf commented on #2061
@yurishkuro
I'll give you a resolve this issue, I experienced the making a resolution of same  error-wrapping issue (https://github.com/tektoncd/pipeline/pull/808) using `xerrors`.
Of course, I know we can wrap with current `fmt` libraries as you referred.

[2020-02-10 13:12] prana24 opened #2065 "sudden memory increase in jaeger collector"
## Requirement - what kind of business use case are you trying to solve?

We have a jaeger 1.14  set up working since last 3-4 months without any issue which has two collector pod  , with provision of 4GB  memory in  Kubernetes cluster.  Average memory usage  by jaeger collector was around 1GB . Somedays back there was sudden spike in memory and increased till 4GB  for one collector and  another c

[2020-02-10 13:13] prana24 commented on #2065
Any pointer will be appreciated

[2020-02-10 15:48] #2063 closed

[2020-02-10 19:45] TheDavidKruse commented on #2046
Just bumping to see if there were any decisions yet. Thanks!

[2020-02-10 19:55] yurishkuro commented on #2046
I added this to the agenda for the next project status call. Feel free to join. https://docs.google.com/document/d/1ZuBAwTJvQN7xkWVvEFXj5WU9_JmS5TPiNbxCJSvPqX0/edit#

[2020-02-10 19:56] TheDavidKruse commented on #2046
Thank you!

[2020-02-10 20:51] vprithvi commented on #2046
We may also want to consider alternatives like [confluent-kafka-go](https://github.com/confluentinc/confluent-kafka-go) or [confluent-java](https://docs.confluent.io/current/clients/java.html#java-client) (via gRPC plugin framework), which are under active development and seem to support SCRAM.

[2020-02-11 12:01] jpkrohling commented on #2065
Are you also storing metrics from the `/metrics` endpoint? If so, check for the metrics around the queue sizes, as that's the only thing that should impact the memory consumption. It should get stable over time if you have enough throughput in the storage part, though.

[2020-02-11 13:48] prana24 commented on #2065
<img width="953" alt="Capture" src="https://user-images.githubusercontent.com/48326505/74241121-5eb00780-4ca9-11ea-9578-e28260c20efc.PNG">
Attached is the  last 6 hours  collector queue size  and  and  colellector memory graphs
<img width="955" alt="Capture" src="https://user-images.githubusercontent.com/48326505/74242067-3d501b00-4cab-11ea-8eb6-7d011201b497.PNG">  . Do not see that much queue siz

[2020-02-11 14:13] jpkrohling commented on #2065
With the given information, I can't figure out what might be happening. How are you getting the memory stats? Do they match with the metrics reported by the collector, like `go_memstats_alloc_bytes`, `go_memstats_alloc_bytes_total`, `go_memstats_heap_objects`, `process_resident_memory_bytes`, `process_virtual_memory_bytes`?

Do you also see that for new instances? What happens if you scale the col

[2020-02-11 14:17] pavolloffay commented on #2065
@prana24 what storage backed are you using?

[2020-02-11 15:39] prana24 commented on #2065
@jpkrohling  ,   we get memory usage by using  cadvisor   `avg(container_memory_usage_bytes{container_label_io_kubernetes_container_name="jaeger-collector"}) by (pod)`    is the query  being used for the same.
I have not used metrics mentioned by you , will add it ,   I think these are client ( agent ) specific metrics right ?  Does it also co-relate to collector  memory usage ?

[2020-02-11 15:39] prana24 commented on #2065
@pavolloffay   we are using Elastic Search  for backend storage

[2020-02-11 20:53] apm-opentt opened #2067 "tag/span.kind server/client value seems to be reversed when processing Zipkin V1 json"
## Requirement - what kind of business use case are you trying to solve?

I am testing sending Zipkin V1 and V2 span json to Jaeger Collector via http.  Jaeger converts the Zipkin span json to Jaeger format and stores that in Cassandra.  I expected the converted json in Jaeger format to be consistent in meaning for both V1 and V2 Zipkin  json.

## Problem - what in Jaeger blocks you from solving t

[2020-02-11 21:08] karatekidandy opened #2068 "Issues establishing TLS connection to secure Kafka"
## Requirement - what kind of business use case are you trying to solve?

We have a secure Kafka cluster running 5.2.2 (we have also tested on 5.3.2)
and are using the tls settings in Jaeger to connect to the cluster. However, it doesn't appear to be working

## Problem - what in Jaeger blocks you from solving the requirement?

If we set the kafka client authentication parameter to 'Required' from

[2020-02-12 07:51] pavolloffay commented on #2068
@karatekidandy hi, what version of Jaeger are you using? Could you please share Jaeger collector/ingester configuration?

cc @rubenvp8510

[2020-02-12 07:59] pavolloffay commented on #2067
This indeed seems like a bug. I will have a look at it.

[2020-02-12 09:25] pavolloffay commented on #2067
@apm-opentt could you please paste here Zipkin V1 JSON with client and server span which is causing the issue?

[2020-02-12 09:48] pavolloffay commented on #2067
I wasn't able to reproduce this. This is zipkin spans v1:

[spans.txt](https://github.com/jaegertracing/jaeger/files/4191068/spans.txt)

UI spans
[ui-spans.txt](https://github.com/jaegertracing/jaeger/files/4191072/ui-spans.txt)

Data from ES:
[es-spans.txt](https://github.com/jaegertracing/jaeger/files/4191083/es-spans.txt)

[2020-02-12 10:54] jpkrohling commented on #2065
They are all common to all components, so, they exist as well for the collector. Not sure there's a 100% correlation between them and what you see from cadvisor, but I would expect to also see a spike there.

[2020-02-12 11:22] prana24 commented on #2065
@jpkrohling  I see your point , will share the findings with you as soon as i see something

[2020-02-12 11:54] karatekidandy commented on #2068
Collector:
jaeger-collector --collector.zipkin.http-port=9411 --kafka.producer.authentication=tls --kafka.producer.tls.ca=/opt/jaeger/project.crt --kafka.producer.tls.cert=/opt/jaeger/jaeger.crt --kafka.producer.tls.key=/opt/jaeger/jaeger.key --kafka.producer.brokers='${kafka_brokers}' --kafka.producer.topic=jaeger --kafka.producer.encoding=json

Ingester:
jaeger-ingester --ingester.deadlockInterv

[2020-02-12 15:03] apm-opentt commented on #2067
@pavolloffay Thanks for looking into this issue.  I used your spans.txt and I did get the same output as your ui-spans.txt result.  However, if I used this Zipkin V1 json I am getting the span.kind reversed.
input json:
[zipkin-v1-AtoB.txt](https://github.com/jaegertracing/jaeger/files/4192948/zipkin-v1-AtoB.txt)
output json:
[converted-AtoB.txt](https://github.com/jaegertracing/jaeger/files/41929

[2020-02-12 16:15] objectiser opened #2165 "Are the current set of collector metrics adequate?"
Using the following OpenTelemetry collector config (with image built from master):
[code]
and using the [business-application.yaml](https://github.com/open-telemetry/opentelemetry-operator/blob/master/examples/business-application.yaml) to create some test requests, it resulted in the following metrics:
[code]

[2020-02-12 20:27] ManjunathShivakumar opened #2069 "Ingester crashes due to inactivity while reading messages off Kafka"
## Requirement - what kind of business use case are you trying to solve?

Using Ingester 1.15.1 to read messages from Kafka Confluent Platform 5.0.0 and write them to Cassandra test schema.

## Problem - what in Jaeger blocks you from solving the requirement?

Ingester starts up fine. Once I start up the producer which publishes the traces in protobuf format, I can see the ingester reading the mes

[2020-02-12 20:30] yurishkuro commented on #2069
you can disable deadlock detector via CLI flag by giving it 0 as run interval

[2020-02-12 20:34] ManjunathShivakumar commented on #2069
Thanks for the quick response @yurishkuro , I tried this. The basic problem is that the messages are not getting processed properly and not getting written to Cassandra, so if I disable the deadlock detector the process continues, but it does not make any progress. If I check the Prometheus metrics, the failed attempts counter keeps increasing, so there is some underlying problem processing the me

[2020-02-13 15:16] pavolloffay opened #2164 "Use Zipkin sanitizers"
The sanitizers https://github.com/jaegertracing/jaeger/tree/master/cmd/collector/app/sanitizer could be implemented as processors if we think they are optional https://github.com/open-telemetry/opentelemetry-collector#processors

[2020-02-13 19:04] ManjunathShivakumar commented on #2069
Any suggestions how I can get more info about whats going on within the processors? I have enabled debug logs, but no additional information. Also the same behaviour is seen on latest 1.16 version

[2020-02-14 06:47] pawarvijay commented on #1472
Solution -> i used docer compose from this location and every thing worked AWESOME
https://github.com/jaegertracing/jaeger/tree/master/docker-compose

[2020-02-14 07:03] andye2004 commented on #1927
@pavolloffay, I appreciate that this is an envoy issue but there is a workaround that can be easily implemented in jaeger to allow things to work.

As per [this](https://github.com/istio/istio/issues/19040#issuecomment-558834163) comment, if the name of the port on the query service is named as `http-query` as opposed to `query`, as it is now,  then this will work - I can confirm this to be the ca

[2020-02-14 07:54] pavolloffay commented on #1927
I assume you are deploying jaeger via Jaeger operator right?

[2020-02-16 02:30] petermetz opened #2071 "stdout/stderr sync not implemented for gRPC storage plugins"
## Requirement - what kind of business use case are you trying to solve?

Need to propagate logs of a storage plugin gRPC server (implemented not in Go) to the OS stdout+stderr so that logs of the storage plugin can be analyzed.

## Problem - what in Jaeger blocks you from solving the requirement?

`go-plugin` doesn't sync stdout/stderr so there's no way to get the logs of the plugin (logging to f

[2020-02-16 04:25] yurishkuro commented on #2071
I don't think we can build anything special in Jaeger, we're fully delegating to go-plugin to start & manage the child process containing the plugin.

See also https://github.com/hashicorp/go-plugin/pull/113#issuecomment-586667462

[2020-02-17 16:46] yurishkuro commented on #1849
Update: per discussion https://github.com/jaegertracing/jaeger/issues/1971#issuecomment-570631770, we settled on the name `JAEGER_SAMPLING_ENDPOINT`

[2020-02-17 16:51] yurishkuro commented on #1971
This is done.

[2020-02-17 16:51] #1971 closed

[2020-02-17 17:08] #2061 closed

[2020-02-18 09:28] ortiga88 opened #2074 "failed to connect jaeger-collector with kafka"
My docker-compose.yml file is as follows:

[code]

[code]

[2020-02-18 11:07] tiffon opened #2075 "(Time sensitive) - jaeger-ui#523 - Graph arrows are huge on Chrome@next"
Creating this ticket to track jaegertracing/jaeger-ui#523 – Plexus arrows are huge on Chrome Canary (version 81).

PR to resolve the issue is: jaegertracing/jaeger-ui#524.

**Chrome is scheduled to update to 81 on March 17th.**

This affects trace diffs, trace graph and DDG graphs.

[2020-02-19 04:43] hehe717 opened #2078 "Is there any way to collect spans in one line?"
I am implementing jaeger, it really looks nice.
But I got a problem.
I want to collect spans on one line in tracing view, but I cannot find way.

[As-IS]
![image](https://user-images.githubusercontent.com/19582090/74802459-49785000-531d-11ea-9ec7-51e1c30199da.png)

[To-Be]
![image](https://user-images.githubusercontent.com/19582090/74802513-74fb3a80-531d-11ea-8740-4de49b65f546.png)

Maybe I can't

[2020-02-19 05:02] yurishkuro commented on #2078
The flame-graph kind of view is not supported in Jaeger.

[2020-02-19 12:40] karatekidandy commented on #2068
Hi there, did the config help?

[2020-02-19 12:41] annanay25 commented on #2074
Thanks for reporting this. Could you please use the cli flags `--kafka.brokers=kafka:9092` instead of the environment variable `KAFKA_BROKERS`?

I'll add a ticket to correct the documentation.

[2020-02-19 13:45] pavolloffay opened #2162 "Use OTEL batch processor instead of ES bulk processor"
Created from https://github.com/jaegertracing/jaeger-opentelemetry-collector/pull/14#issuecomment-588224890

Elasticsearch bulk processor batches multiple requests into a single request which is sent to ES bulk API.

We could leverage OTEL batch processor https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor/batchprocessor which has similar behavior. The batch processor b

[2020-02-20 09:01] arpitjindal97 opened #2079 "Advantages of Jaeger over APMs (Dynatrace)"
I wanted to know what advantages user will get over Dynatrace using Jaeger.

[Here](https://stackoverflow.com/questions/59597548/advantage-of-opentracing-jaeger-over-apm-tracing-capabilities) is the relavant question asked in StackOverflow

[2020-02-20 14:42] yurishkuro commented on #2079
We're not in the business of doing comparative analysis with commercial products.

[2020-02-20 14:42] #2079 closed

[2020-02-21 10:26] belabartha commented on #412
I'm still seeing this issue on Jaeger 1.16 for some scenarios.

[2020-02-21 16:35] yurishkuro commented on #2046
Decisions from status call:
  * Accept xgd-go/scram for now
  * Defer decision on Confluent until someone has time to test thoroughly

@TheDavidKruse do you want to propose a PR?

[2020-02-21 20:58] apm-opentt commented on #2067
@pavolloffay any updates on this defect?  Thanks.

[2020-02-24 10:16] pawarvijay opened #2083 "jaeger-query - failed to flush Jaeger spans to server: write udp 127.0.0.1:43326->127.0.0.1:6831: write: connection refused"
Thank you for aweomse Jaeger project! 👋🎉

## Problem - jaeger-query logs error on pressing "Find Traces" button from ui
[code]
Is there anything  i am doing?

## Docker-Compose.yml
[code]
This configuration is works properly

[2020-02-24 10:48] pavolloffay commented on #2067
I do not see any error in the data you attached. The `span.kind` is correctly added. The `cs`, `cr` span is `client` and `ss`, `sr` is `server`. Also consider using distinct service names. Both services in your example have the same service name (unless the service is calling itself).

[code]

[2020-02-24 12:06] jpkrohling commented on #412
@belabartha are you able to reproduce it consistently?

[2020-02-24 12:13] annanay25 commented on #2083
Hi @pawarvijay, thanks for reporting this issue.

Jaeger query supports tracing itself, and the spans generated by this service need to be sent to the Jaeger Collector. According to your error message, the query service is trying to flush spans to the collector which it expects to be at `127.0.0.1:6831`. Once you change this to the actual address of the collector it should work as expected.

This

[2020-02-24 12:36] pavolloffay commented on #2083
+1 I will close this. As this is not an issue. It should be also possible to configure the tracer inside jaeger-query to send the data to jaeger-collector by using the HTTP sender.

Here are all the conf options https://www.jaegertracing.io/docs/1.16/client-features/

[2020-02-24 12:36] #2083 closed

[2020-02-24 12:37] pavolloffay commented on #2067
I am closing this as it does not seem to be an issue. Feel free to comment/re-open if there is any other issues.

[2020-02-24 12:37] #2067 closed

[2020-02-24 12:42] belabartha commented on #412
@jpkrohling yes. We have missing data probably, but I'd still expect to have a direction where to fix it. We're using Moleculer framework for our microservices, and using Jaeger for APM.

[2020-02-24 12:48] jpkrohling commented on #412
@belabartha are you able to pin-point it to the request that returns the broken results? An example of the response would also be useful.

[2020-02-24 12:49] belabartha commented on #412
@jpkrohling not yet. I'm trying to get to it; It's buried deeply into about 5th level of spans in a span of 16.

[2020-02-24 12:57] belabartha commented on #412
For now I have this: jaeger.js - line 42:
-  response.url is: http://localhost:16686/api/traces?end=1582300681327000&limit=2
- ...and there I get: {"data":null,"total":0,"limit":0,"offset":0,"errors":[{"code":400,"msg":"parameter 'service' is required"}]}.
I still don't know what is that param. Continuing.

[2020-02-24 13:15] jpkrohling commented on #412
In the first screenshot at this issue, you can see the `service` field in the left-hand side form, first field. Have you selected a service there? If not, the "Find Traces" button should be disabled.

[2020-02-24 13:19] belabartha commented on #412
Yep, service is populated in the left-had side form. Most of the Operations display a properly, but I have a few that don't.

[2020-02-24 13:33] belabartha commented on #412
In case I add the service (&service=whatever) to the response URL I posted about 3 posts ago, I get: `{"data":[],"total":0,"limit":0,"offset":0,"errors":null}`. That seems to be way better.

[2020-02-24 13:36] jpkrohling commented on #412
If you have the field populated, the "Find Traces" button enabled, and still get a request being made without the `service` parameter, then there's definitely a bug in there...

[2020-02-24 14:35] #1984 closed

[2020-02-24 15:15] apm-opentt commented on #2067
@pavolloffay Here is the screen shot on Jaeger UI for the zipkin-v1-AtoB.txt https://github.com/jaegertracing/jaeger/files/4192948/zipkin-v1-AtoB.txt.  It shows the span.kind being reversed.  Can you help take a look?
<img width="1193" alt="SpankindReversed" src="https://user-images.githubusercontent.com/49722990/75163943-0c7dd600-56ee-11ea-99c6-0ea32fe613da.png">

[2020-02-24 15:17] rubenvp8510 commented on #2068
Hi @karatekidandy yes, I was able to reproduce the issue, I'm investigating the root cause, will go back with my findings.

[2020-02-24 18:54] yurishkuro opened #2085 "Flaky test TestGRPCResolverRoundRobin"
[code]

cc @vprithvi

[2020-02-24 20:07] #2057 closed

[2020-02-24 20:10] #2075 closed

[2020-02-24 22:50] TheDavidKruse commented on #2046
@yurishkuro I can do that! Give me a day or two to propose a PR.

[2020-02-24 23:57] yurishkuro commented on #295
#2076 still pending.

[2020-02-25 06:51] pawarvijay commented on #2083
@annanay25
some how `JAEGER_AGENT_HOST & JAEGER_AGENT_PORT` were not showing any effect.
so according to    [jaeger-client-go#environment-variables](https://github.com/jaegertracing/jaeger-client-go#environment-variables)
 i used `JAEGER_ENDPOINT`
and it started working and it does not throws any error

This  is my working  jaeger-query
[code]
And Below image shows Jaeger query option in service d

[2020-02-25 12:30] pavolloffay commented on #1213
@annanay25 can be this closed?

[2020-02-25 13:01] pavolloffay commented on #2019
@yurishkuro are we able to use go mod. I found this PR from the last year https://github.com/jaegertracing/jaeger/pull/1546

[2020-02-25 15:16] yurishkuro commented on #1213
I don’t think so. We need to move the proto files to idl repo and change the build to use the new Docker image.

[2020-02-25 15:41] pavolloffay commented on #1213
I thought there was a different ticket for it and this just deal with gogo annotations to which we agreed to put all dependencies into classpath and use https://github.com/jaegertracing/docker-protobuf

[2020-02-25 15:44] yurishkuro commented on #2019
We can switch this repo to `go mod`, but we will lose the sync of transitive dependencies from jaeger-client-go and jaeger-lib, which are not using `go mod`. Those two are harder to switch because they are not on v1, so would require breaking changes.

[2020-02-25 16:07] pavolloffay commented on #2019
Do we know which transitive deps of `jaeger-lib` and `jaeger-client-go` are not using go modules?

[2020-02-25 16:15] yurishkuro commented on #2019
I don't think anyone did such analysis. But it's not what I meant, I meant dependencies like `jaeger -> jaeger-lib -> X`. If `jaeger` is on `go mod`, but `jaeger-lib` is not, then `X` will only be synced at the time of migrating to `go mod`, and after that we won't see updates to X even if `jaeger-lib` bumps it.

[2020-02-25 17:45] pavolloffay commented on #2019
Why would it be a breaking change? Does switching of dependency management mean breaking change?

[2020-02-25 17:47] vikrambe commented on #425
I think we should allow sampling based on SpanTag and attach a sample %. For example we would want to capture all the traces with error=true 100% and http.status_code 200 10%

[2020-02-25 18:15] yurishkuro commented on #2019
Go mod requires /vN directory for libs that are v2+. Making such change to source code makes the libs incompatible with existing consumers that import from root and use other dep mgrs.

I was originally thinking we could combine switch to go mod in the libs with a move from uber/ to jaegertracing/ path and going back to v1, but that won’t work either because we already have v1 tags in those repos.

[2020-02-25 18:16] Stono commented on #425
Error wouldn’t work at a trace level in a microservice architecture as the spans before your error app will have already been reported to jäger based on their sample rate

[2020-02-25 19:27] apm-opentt commented on #2067
Hi @pavolloffay, did you get a chance to look at the screen capture above ^^.  It looks like a defect to me.   What do you think?  If it is defect, can you reopen this issue?  Thanks.

[2020-02-25 19:56] yurishkuro commented on #2067
It's not a defect in Jaeger, but in whichever instrumentation you're using. Specifically, in your screenshot the parent span ID is `f01c88...`. The JSON for that span has this:
[code]
As you can see, it's reporting itself as a "server" span, via "sr" (Server Receive) annotation. Jaeger is simply translating this into `span.kind=server`.

[2020-02-26 00:03] #295 closed

[2020-02-26 08:17] annanay25 commented on #1213
If someone can take up the migration task https://github.com/jaegertracing/jaeger-idl/issues/55 I can update the build to use the docker image.

[2020-02-26 10:00] satmurat opened #2087 "search.maxLimit not works in UI Release 1.17.0"
I configure search.maxLimit to 2000 and ran jaegertracing/jaeger-query:1.17.0. But in search form input "Limit results" max value is 1500 yet. The UI feature search.maxLimit is included in 1.17.0?

[code]

[2020-02-26 15:01] yurishkuro commented on #1213
I suggest we do the build change first.

[2020-02-26 15:21] karatekidandy commented on #2068
@rubenvp8510 great thank you!

[2020-02-26 15:55] apm-opentt commented on #2067
@yurishkuro, Thanks for helping to look at this issue.  It is fair to question the source and validity of the json I posted to Jaeger collector's http endpoint in my previous comments.  So let me use a json from an authoritative source.  I am now posting the json from Zipkin's official page for V1 data format.  https://zipkin.io/pages/data_model.html.  I simply copied and paste the json in this pa

[2020-02-26 16:17] yurishkuro commented on #2067
The last screenshot looks fine to me, while your red annotations are incorrect (and don’t match your diagram).

[2020-02-26 16:27] pavolloffay commented on #2067
I think it is correcnt because span with `cs`, `cr` have set  `parentSpanId` to a span with `ss` and `sr` annotations.

[2020-02-26 16:30] pavolloffay commented on #2087
@rubenvp8510 is the new UI anyhow limiting the number of results?

I think we haven't changed anything on the backed side.

[2020-02-26 16:36] satmurat commented on #2087
On UI this limit must be configurable (https://github.com/jaegertracing/jaeger-ui/commit/c6cb7adc059519b8a7737ec604db8a7ba16d31ad). But it doesn't work.

[2020-02-26 18:27] apm-opentt commented on #2067
@pavolloffay @yurishkuro Thank you for patiently answering my questions.  This may or may not be an issue, but I would like to understand why the span.kind value is different with different input json.  I was under the impression that the root span should always have tag span.kind=client.  Here I am send the spans.txt from Pavol's comment to this issue https://github.com/jaegertracing/jaeger/issue

[2020-02-26 18:40] yurishkuro commented on #2067
Jaeger does not make decisions which span is client or server, it simply renders what instrumentation reports. The correct value for instrumentation to use depends on the role of the particular span - if you're making an outbound call, the span should be "client" kind. It has no relation to being root or not - root is simply where the trace originates, which can be in either states.

[2020-02-26 18:48] rubenvp8510 commented on #2087
Hi

Yes, this was a feature introduced in 1.17, in the commit pointed by @satmurat,

I tested this on master and it doesn't work for me, for me It simply does not impose any limit. I found the problem and will send a PR.

[2020-02-26 18:53] yurishkuro commented on #2087
move to UI ticket https://github.com/jaegertracing/jaeger-ui/issues/532

[2020-02-26 18:53] #2087 closed

[2020-02-27 08:28] KeaMedes opened #2091 "Reporter without Deserialization/Serialization spans"
# Requirement - what kind of business use case are you trying to solve?

While agent simply being a buffer between app and collector, it conduct unnecessary spans deserialization/serialization. cpu and memory is vastly wasted. hopes for better router-like agent.

## Problem - what in Jaeger blocks you from solving the requirement?

I ran the benchmark and found that with 10000 spans per second, it

[2020-02-27 08:53] ohetrifork commented on #2027
This really makes the API difficult to use. So there is not way to order the search results, and there is no way to use pagination? In effect, you need to query down to eg. second long time intervals if you need to make sure that you pick up all results in an even moderately loaded system.
I would highly recommend introducing time sorting or pagination!

[2020-02-27 09:02] ohetrifork commented on #2027
This really makes the API difficult to use. So there is not way to order the search results, and there is no way to use pagination? In effect, you need to query down to eg. second long time intervals if you need to make sure that you pick up all results in an even moderately loaded system.
I would highly recommend introducing time sorting or pagination

[2020-02-27 15:03] jpkrohling opened #2092 "Breaking change in v1.17.0 when using to Kafka + TLS"
From: https://github.com/jaegertracing/jaeger/pull/1838#discussion_r385020296, decided to create a separate issue to track this and decide what to do.

The PR #1838 introduced a breaking change: previously, there was no `--kafka.consumer.tls` option (or `producer`), and TLS config would be used on whether the `getTLS()` function returned an error or not. Now, even if all the parameters are set, th

[2020-02-27 15:24] yurishkuro commented on #2092
Hm, I do recall commenting on the pr about that. Because we already have a selector for auth scheme, specifying tls.enabled is redundant.

[2020-02-27 15:49] yurishkuro opened #2093 "[tracking] Patch release 1.17.1"
* Kafka TLS (#2092)
* UI may not have been released correctly (https://github.com/jaegertracing/jaeger-ui/issues/532)

[2020-02-27 15:53] jpkrohling opened #2094 "Panic on close of closed channel"
The following happens when stopping the all-in-one when badger is being used as storage, probably related to #2076:

[code]

[2020-02-27 15:53] jpkrohling commented on #2093
Possibly #2094 too?

[2020-02-27 16:06] jpkrohling opened #2095 "Error (logged with the stack) when trace isn't found"
When reloading the Jaeger UI with a trace that has expired (badger, ttl=1m), the following error is recorded in the logs:

[code]

Steps to reproduce:

1. `$ SPAN_STORAGE_TYPE=badger go run -tags ui ./cmd/all-in-one --badger.span-store-ttl=1m`
1. http://localhost:16686, and refresh, so that a trace is available
1. open one of the available traces
1. wait a couple of minutes
1. refresh the screen
1

[2020-02-27 16:26] jpkrohling commented on #2094
Turns out, this is not specific to badger.

[2020-02-27 18:19] #2094 closed

[2020-02-27 20:16] gromovadarya90 opened #2097 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:17] #2097 closed

[2020-02-28 11:10] objectiser opened #2161 "Support injecting span tags from environment: flags, env variable, conf file"

[2020-02-28 11:17] objectiser opened #2160 "Exporter for Badger Storage"

[2020-02-28 11:17] objectiser opened #2159 "Exporter for In-Memory Storage"

[2020-02-28 11:21] objectiser opened #2158 "Exporter for gRPC Storage Plugin"

[2020-02-28 11:48] objectiser opened #2157 "Downsampling - is this required in OTC (or JOTC)?"
We could add a Jaeger specific processor to provide downsampling support in JOTC if not provided in the core OTC project.

Added to acceptance criteria milestone, as intention is to have JOTC as drop in replacement for JC.

[2020-02-28 12:37] objectiser opened #2156 "Review any security implications with OpenTelemetry Collector Jaeger receivers/exporters"
Re: https://github.com/jaegertracing/jaeger/issues/1718

1. Client To Agent
    1. UDP Channels - still no TLS/authentication :+1:
    1. HTTP Config Channel - still no TLS/authentication :+1:
1. Client To Collector
    1. HTTP - still no TLS/authentication :+1:
1. Agent To Collector
    1. gRPC - TLS with client cert authentication: Exporter :+1: Receiver :-1: (see jaegertracing/jaeger-openteleme

[2020-02-28 14:07] medhedho opened #2100 "Jaeger in a dockerized application"
Hello,

I'm trying to trace this Spring Boot application: "https://developer.okta.com/blog/2019/02/28/spring-microservices-docker" with the "all-in-one" Jaeger container.
I added the "opentracing-spring-jaeger-cloud-starter" to every microservice.
When I run these microservices without docker (mvn run), I find my traces in the Jaeger UI. But when I use the attached docker-compose file, I don't fin

[2020-02-28 14:19] objectiser opened #2155 "Setup Crossdock for testing"
We could deploy OTC (as agent and collector) in our CI as a separate crossdock job. The data flow would look like this otel-agent->otel-collector->jaeger-collector->storage.

[2020-02-28 17:22] yurishkuro commented on #2100
When you run application in a container, the default 127.0.0.1 address used to reach Jaeger no longer works, because it points to the app container namespace, while Jaeger is running on a different IP. You can use env variables to point to Jaeger container. See example https://github.com/jaegertracing/jaeger/blob/master/examples/hotrod/docker-compose.yml

[2020-02-28 17:22] #2100 closed

[2020-02-28 22:05] vprithvi opened #2101 "macOS binary release seems to be broken"
The macOS link on https://www.jaegertracing.io/download/ results in an error
[code]

It also appears that the macOS binary is legitimately missing under assets for the release: https://github.com/jaegertracing/jaeger/releases/tag/v1.17.0

## Proposal - what do you suggest to solve the problem or improve the existing situation?

We could fix the release process.

The most recent macOS binary is `ja

[2020-02-29 01:42] yurishkuro commented on #2101
from the build logs:
https://travis-ci.org/jaegertracing/jaeger/jobs/654542767#L2055
[code]

[2020-02-29 02:40] yurishkuro commented on #2101
It's odd. When I quered for assets via API, e.g. `curl -H "Authorization: token $GITHUB_TOKEN" https://api.github.com/repos/jaegertracing/jaeger/releases/23939879/assets`, I saw the darwin tarball in the list, along with the other 3 builds, but the download link fails with `NoSuchKey` error. At the same time, the asset showed 60+ downloads. Something is broken on GitHub, it appears.

I deleted the

[2020-02-29 02:40] #2101 closed

[2020-03-01 14:18] Lovnx opened #2103 "Why is it called jaeger?"

[2020-03-01 15:17] #1213 closed

[2020-03-02 09:16] medhedho commented on #2100
As you see, I'm using env variable JAEGER_ENDPOINT with hostname jaeger. Also, I tried env variables JAEGER_AGENT_HOST and JAEGER_AGENT_PORT, and it doesn't work. Maybe there's an encoding problem : https://www.jaegertracing.io/docs/1.16/apis/#thrift-over-http-stable

[2020-03-02 10:56] #2019 closed

[2020-03-02 11:02] pavolloffay commented on #2103
Some background for the name can be found here https://eng.uber.com/distributed-tracing/. @yurishkuro can provide you more details.

I am closing this as it is a question. Please use our gitter channel for questions.

[2020-03-02 11:02] #2103 closed

[2020-03-02 12:41] pavolloffay commented on #783
It seems it have been fixed in all linked repositories. I will close this.

[2020-03-02 12:41] #783 closed

[2020-03-02 12:43] pavolloffay commented on #1313
I am closing this as it seems outdatted. If there are still issue please re-open or comment.

[2020-03-02 12:43] #1313 closed

[2020-03-02 13:00] pavolloffay opened #2105 "Remove tchannel reporter from agent"
Remove tchannel reporter from agent.

* agent by default uses `grpc` reporter
* `tchannel` reporter was deprecated in 1.16 https://github.com/jaegertracing/jaeger/pull/1975.

TODO:
- [ ] changelog
- [ ] docs
- [ ] remove generated classes

[2020-03-02 13:00] pavolloffay commented on #983
Can this be closed? `tchannel` is going to be removed in https://github.com/jaegertracing/jaeger/issues/2105

[2020-03-02 13:02] pavolloffay commented on #2105
This might also close https://github.com/jaegertracing/jaeger/issues/1193 and #983

[2020-03-02 13:21] medhedho commented on #2100
The problem was in the services. I had to remove this from each Dockerfile:
-Djava.security.egd=file:/dev/./urandom

[2020-03-02 13:31] pavolloffay commented on #2100
thanks for reporting back @medhedho

[2020-03-02 13:44] pavolloffay commented on #2092
I am working on the fix

[2020-03-02 14:07] pavolloffay commented on #2092
Yes @yurishkuro asked about this, but it wasn't applied to the PR https://github.com/jaegertracing/jaeger/pull/1838/files#r338868216.

I think we cannot revert as some might already adopted the change - like jaeger operator.

[2020-03-02 14:19] eundoosong commented on #2105
If it's ok, I'd like to give it a shot

[2020-03-02 14:24] pavolloffay commented on #2105
I have already started working on this one.

[2020-03-02 14:26] pavolloffay commented on #2093
Do we want to release from release branch or master? Since the release we have migrated go modules.

[2020-03-02 15:18] pavolloffay commented on #2105
@yurishkuro any concerns from your side?

[2020-03-02 15:21] yurishkuro commented on #2105
Yes, we’re still using it.

[2020-03-02 15:23] yurishkuro commented on #2093
I prefer to release from master. Go modules is not a breaking change.

[2020-03-02 15:24] pavolloffay commented on #2105
Are there any plans to migrate to gRPC inside Uber?

[2020-03-02 15:42] pavolloffay commented on #2105
Tchannel (14267) is used also to for:
* send span data from agent to collector
* send sampling configuration from collector to agent
* send baggage restriction from collector to agent - however this hasn't been fully open-sourced https://github.com/jaegertracing/jaeger/issues/373

For sampling strategies we have implemented gRPC pipe, but not for baggage restrictions.

Also, the tchannel receiver

[2020-03-02 15:47] pavolloffay opened #2108 "Fix flaky test TestClientMetricsReporter_Expire"
It seems to be touched in https://github.com/jaegertracing/jaeger/pull/2010

[code]

[2020-03-02 15:57] objectiser commented on #2105
This should be removed soon: https://github.com/open-telemetry/opentelemetry-collector/issues/267

[2020-03-02 16:14] yurishkuro commented on #2108
I tried to fix it last week, but the fix didn't take, apparently.

[2020-03-02 17:58] yurishkuro commented on #2105
I don't know how "doable" this is, but if we could refactor all tchannel code into a complete separate location, then we could copy all of it into our internal repo, and then delete from master. My main concern is that it might be complicated to rip it out from Agent's builder.

NB: yes, we do plan to migrate to gRPC internally, but the work hasn't been prioritize yet, there are some dependencies

[2020-03-03 09:01] pavolloffay opened #2111 "Remove deprecated kafka tls.enabled flags"
Kafka TLS is configured by
[code]

Release 1.17.0 (PR https://github.com/jaegertracing/jaeger/pull/1838) refactored Kafka TLS configuration and by mistake added flags `tls.enabled=bool`. Patch release 1.17.1 deprecated these flags.

As there is duplicity between `--kafka.consumer.authentication` and `--kafka.consumer.tls.enabled` the second flag should be removed.

[2020-03-03 12:34] jpkrohling commented on #2111
Note that it's not both ways:

- `authentication=none` + `tls.enabled=true` is a valid scenario (ie, server provides cert, client does not)
- `authentication=tls` + `tls.enabled=false` is not (ie, both sides have to provide a cert)

[2020-03-03 12:57] pavolloffay commented on #2111
The whole motivation is to remove the duplicity between these two flags. TLS will be used only if `authentication=tls` is specified.

[2020-03-03 13:10] jpkrohling commented on #2111
Will people still be able to use auth=none with TLS between client and server?

[2020-03-03 13:16] pavolloffay commented on #2111
I don't think so, flag `.authentication=` is the only way to find out whether TLS should be enabled or not.

[2020-03-03 13:36] jpkrohling commented on #2111
I think this is the root of the confusion: TLS can exist without TLS Authentication. Independent of how the current PRs move, we should aim to eventually support TLS between client and server independent of the authentication mechanism.

[2020-03-03 14:53] pavolloffay commented on #2105
I was able to move all tchannel to a single top level package and then use it in the current build https://github.com/jaegertracing/jaeger/pull/2112.

We could merge that and then in a second PR remove the tchannel from our components.

[2020-03-03 15:02] yurishkuro commented on #2111
then perhaps the flag should remain, but not be required if auth=tls is also already selected?

[2020-03-03 15:09] jpkrohling commented on #2111
The question then is what to do when `enabled=false` and `auth=tls` is used. Should `enabled` be made `true` despite the explicit `false`? Should the process break with an error?

[2020-03-03 15:20] yurishkuro commented on #2111
I think `enabled` should be silently set to `true` in that case. Fortunately, `false` is the default value which is not possible to set via command line (`--kafka.consumer.tls.enabled` is a no-arg switch), so `enabled=false` and `auth=tls` is never an explicit user's choice, just the default.

[2020-03-03 15:57] pavolloffay commented on #2111
Good point @jpkrohling, I haven't thought about this. It's a valid use case, however nobody it so far requested. It's better to keep the tls enabled flag just in case it will be implemented later.

The PR https://github.com/jaegertracing/jaeger/pull/2107 is updated and it reflects the discussion in this thread.

[2020-03-03 19:02] yurishkuro opened #2113 "Tracking and removing deprecated CLI flags"
We've accumulated quite a few deprecated flags over time. We should start removing them. However, we need to define a backwards compatibility policy. I propose the following:
  * if a flag is deprecated in release N, it can be removed in release N+2
  * when adding a `(deprecated)` prefix to the flags, we should also add an indication of when it will b removed. Given the above rule, we could set a

[2020-03-03 19:04] yurishkuro commented on #2113
We can also book tickets for the respective milestone for each deprecated flag, so that we don't forget to remove them in a timely manner.

[2020-03-04 08:16] pavolloffay commented on #2113
It sounds reasonable. Maybe instead of providing users with a date, it would be better to put there release version.

[2020-03-04 08:48] jpkrohling commented on #2113
+1

I'm afraid this will make the help command too verbose, which impacts the readability for the non-deprecated flags as well. Apart from that, I have nothing against it.

One further action we could be taking is to log a message whenever a deprecated flag is being used, increasing the severity for every release:

1.17.0 - `--some-flag` becomes deprecated, log at `INFO` level
1.18.0 - `--some-fla

[2020-03-04 12:57] yurishkuro commented on #2113
I am suggesting both. It might happen that we do two releases in short succession. As an operator I would prefer a fixed length grace period

I a not sure it's that bad, the help is formatted to easily see where next flag description begins, so if a text is longer for some, the eyes just skip to the next one. Plus, it's more incentive for us to remove them in a timely manner.

That feels too much

[2020-03-04 16:31] michaelyefet opened #2114 "Why does that agent must run locally"
## Any open questions to address

I see that in order to send spans to the agent over UDPSender the agent must be on the same machine s my service. Can you explain why that was developed in the matter?
Because udp protocol can communicate between different machines.

[2020-03-04 17:23] jpkrohling commented on #2114
This is not a hard requirement, but rather, a strong recommendation. In fact, most clients have a configuration option allowing you to set the hostname/port of the Jaeger Agent.

Jaeger will send a packet only once, so, a packet loss is data loss. Given that packet losses are less frequent on local networking, we recommend keeping the agent close to your client.

[2020-03-04 17:23] karatekidandy commented on #2068
@rubenvp8510 Hey ruben, any update on the root cause/potential fix? Thanks!

[2020-03-05 07:41] rubenvp8510 commented on #2068
Hi @karatekidandy sorry for late reply

After look this more closely, I wasn't able to reproduce the issue on 1.16,

Those are the configurations, commands for generate certificates and for launch ingester/collector that I used on my tests:

 https://gist.github.com/rubenvp8510/34f7316e1dca6d4e73d654407efb1760

Hope this will help you.

The reason I thought I was able to replicate was because I te

[2020-03-05 11:54] karatekidandy commented on #2068
Thanks @rubenvp8510 will give this a go :) i appreciate your time working on this.

[2020-03-05 12:15] pavolloffay commented on #983
Closing this as tchannel will be removed

[2020-03-05 12:15] #983 closed

[2020-03-05 13:36] jpkrohling opened #2116 "Change base image"
# Requirement - what kind of business use case are you trying to solve?

When an application container has a problem in production, it's often useful to be able to enter the container and execute a few commands, like `curl`, or to copy files from inside the container using commands like `kubectl cp` . Unfortunately, using a scratch image means that there's nothing in the container, breaking the tw

[2020-03-05 15:39] yurishkuro commented on #2116
Adding 90Mb means a 6x increase in the current image size. I would rather publish another group of -dev images.

[2020-03-05 16:02] jpkrohling commented on #2116
It really sounds dramatic when we talk about "6x" increase, but in absolute terms, 90MB isn't even a minute away from most domestic broadband connections, to be shared across all components.

Is there a concrete concern about the image size, other than the time it takes to download it?

[2020-03-05 16:58] joe-elliott commented on #2053
@yurishkuro I'd be glad to look at this:

Add a param to `jaeger-query` that takes a duration: `--query.max-clock-skew-adjust'
Default to unset which would maintain current behavior?

[2020-03-05 17:30] yurishkuro commented on #2053
I would default to something like 1sec, and use zero as "turn it off" equivalent.

[2020-03-05 17:35] joe-elliott commented on #2053
Sounds good.  I'll submit a PR in the next couple days.

[2020-03-05 17:57] yurishkuro commented on #2116
Jaeger has often been praised for being lean, I think our original 10Mb images contributed to it (not they are 20Mb). I also think that having dev tools in the image is something that only a small % of users need, e.g. when setting up Jaeger for the first time, figuring out networking namespaces, etc.

[2020-03-06 09:19] pavolloffay commented on #1972
The thrift 0.13.0 image hasn't been published yet. It depends on this PR https://github.com/ahawkins/docker-thrift/pull/22.

https://hub.docker.com/_/thrift/?tab=description

[2020-03-06 09:38] pavolloffay commented on #2111
I am closing this. The kafka `tls.enabled` will not be removed.

[2020-03-06 09:38] #2111 closed

[2020-03-06 09:41] jpkrohling commented on #2116
"Lean" as in the container image size, or as in *binary* size? The container isn't placed as a whole in memory, just the binary. The process binary is exactly the same no matter the base image, and the RSS is virtually identical:

[code]

I uploaded the three images to my quay namespace, so that you can try it out by yourself :-)

quay.io/jpkroehling/all-in-one:ubi-regular
quay.io/jpkroehling/all-

[2020-03-06 10:29] #2105 closed

[2020-03-06 12:08] objectiser opened #2117 "Can we replace Jaeger's domain model with OTel proto?"
Related to https://github.com/jaegertracing/jaeger-opentelemetry-collector/issues/24#issuecomment-592631487

[2020-03-06 12:09] pavolloffay commented on #2117
I have moved it to the main repo as this should be done regardless of the Jaeger otel collector.

[2020-03-06 12:55] yurishkuro commented on #2117
Well, except that having to go through another data model means another hit to the CPU & gc to do the transformation. Our collectors are already running very hot.

[2020-03-07 08:52] sandyleo26 commented on #2062
happy to tackle this as an entry to jaeger. Could i have some pointers to get me started? thank you.

[2020-03-07 20:44] yurishkuro commented on #2062
These are the examples of FNV hash usage
[code]

[2020-03-09 05:22] #1993 closed

[2020-03-09 10:24] pavolloffay commented on #2093
In master there are couple of breaking changes. We will have to relase from release branch. I have created `release-1.17` after migration to go modules and proto generation refactoring by @annanay25. I have also backported the TLS fix.

https://github.com/jaegertracing/jaeger/commits/release-1.17

Now the UI fix has to be merged and UI released and updated here.

[2020-03-09 13:25] sandyleo26 commented on #2062
hi @yurishkuro , i could be wrong but after a look at the implementation and documentation of `maphash` it seems the `maphash` is not deterministic.

Take `model/hash.go` for example, i need to do something like
[code]

no field of `Hash` is exposed. the only way to set the seed is something like `SetSeed(maphash.MakeSeed())` which is random. This will cause some unit test to fail which expect sam

[2020-03-09 17:48] yurishkuro commented on #2062
The godoc says

In some use cases it's ok, but we're using trace ID hash for downsampling, which needs to be stable across different instances of the service. I am puzzled why stdlib cannot expose a method of defining an explicit seed for maphash. In the current form it is not usable as a replacement.

[2020-03-09 19:32] annanay25 commented on #2062
There is a method to explicitly define a seed - `hasher.SetSeed(s)`

I've written a simple example here - https://gist.github.com/annanay25/fa5af5a2a985d9cd913fc25ed5bad6b7

But then the seed would have to be stored as part of some struct for uniform behaviour which is a little strange

[2020-03-09 19:49] yurishkuro commented on #2062
You can set the seed, but you cannot _create_ consistent seed across processes, because MakeSeed function is random.

[2020-03-10 01:56] galileo-pkm opened #2120 "Bind to IP"
## Requirement - what kind of business use case are you trying to solve?
Good security practice

## Problem - what in Jaeger blocks you from solving the requirement?
Feature not available

AFAIK there is no way to bind various jaeger services to a single address.
There are command line switches that bind certain services to host:port combination but not available for all (UI, collector ...)

## Pr

[2020-03-10 02:07] yurishkuro commented on #2120
We have an open ticket #1447 to support host:port CLI flags instead of just ports. What would `--bind-to-ip` provide in addition to that ticket?

[2020-03-10 02:13] galileo-pkm commented on #2120
I failed to find that issue, I should have posted this as a comment on that one.
--bind-to-ip would set the listening address for all services without specifying the port (keep the default).

[2020-03-10 02:31] yurishkuro commented on #2120
But I think individual `host-port` flags are more flexible, e.g. you can set collector's inbound port on a public IP, while its admin port on internal IP only.

Feel free to comment on #1447.

[2020-03-10 02:31] #2120 closed

[2020-03-10 02:36] galileo-pkm commented on #1447
As discussed in https://github.com/jaegertracing/jaeger/issues/2120
--bind-to-ip flag would be useful in addition to host:port.
With that, one could bind to a list of IPs without changing the default ports.

[2020-03-10 09:16] sandyleo26 commented on #2062
maybe we should close this issue for now?

[2020-03-10 13:35] #2062 closed

[2020-03-10 16:00] jpkrohling commented on #562
I'm starting to play around with this one and I think the lazy loading could be done at the storage factory level, instead of inside individual storage mechanisms. This would also be an opt-in feature, requiring a new flag to be set. How does that sound? This way, we don't break the expectation of current users that are used to getting failures when the backend isn't available.

[2020-03-10 16:25] yurishkuro commented on #562
Good idea. Our Cassandra lazy session (I saved it as [gist][]) had to implement larger API than just the span storage. However, in order to do this at the generic factory level, the concrete factories will need to support some form of health check. E.g. in case of Cassandra, succeeding in creating a session is the health check.

[gist]: https://gist.github.com/yurishkuro/d460a21c293cd02306cc8bc19d

[2020-03-10 16:54] JuniorCtba commented on #1986
Do you have any news about that?

[2020-03-10 17:15] objectiser commented on #2093
@yurishkuro Could we also get https://github.com/jaegertracing/jaeger-ui/pull/542 included in the UI release?

[2020-03-10 21:09] JingangLi opened #2121 "Get error: invalid parent span IDs=30421a83228981a8; skipping clock skew adjustment"
Hi,

I am writing my service by spring boot. Version information:

- Spring cloud version : 2.2.5.RELEASE:Hoxton.SR1
- Opentracing version : opentracing-spring-cloud-starter:0.4.0
- Jaeger web start start version : opentracing-spring-jaeger-web-starter:3.0.0

Jager version 1.17.0 and deployed helm:

I face the problem when there are 166 spans in one trace. It isn't too much.
`invalid parent span I

[2020-03-10 21:38] #2053 closed

[2020-03-10 21:40] yurishkuro commented on #961
I believe this issue is resolved by #2052 and #2119.

[2020-03-10 21:40] #961 closed

[2020-03-10 22:21] flixr commented on #961
Just asking as it was part of the proposed solution: There are no plans anymore to add a toggle to view the unadjusted trace in the UI?

[2020-03-11 02:35] yurishkuro commented on #961
There is still an open ticket https://github.com/jaegertracing/jaeger-ui/issues/197 for that.

[2020-03-11 08:03] #1876 closed

[2020-03-11 08:55] jpkrohling commented on #1986
@JuniorCtba are you facing this problem with a specific client (Java, Go)? If so, a workaround is to explicitly set the env var for the process, as mentioned in the issue description.

But to answer your question: we haven't moved yet but your contribution would be most welcome! For the Go client, here's the relevant code:

https://github.com/jaegertracing/jaeger-client-go/blob/0be28c34dabf7d342aa

[2020-03-11 09:06] pavolloffay commented on #2121
Try to refresh the trace after some time, the warning message can appear if the parent span hasn't been reported yet.

I guess the problem is because the child span is sent to collector before the parent span.

That should not be the problem.

These settings do not have any effect on the issue you are facing.

[2020-03-11 09:12] pavolloffay commented on #2093
All blocking PRs have been merged. We can proceed with the release. We need a patch release of the UI (1.7.1) and bump it here.

[2020-03-11 09:34] JuniorCtba commented on #1986
Thanks @jpkrohling i am using as docker.
It works with the env.

[2020-03-11 09:52] gafoorraja opened #2122 "jaeger collector not working with kerberos based kafka"
## Requirement - what kind of business use case are you trying to solve?

 We are trying to use kafka streaming with jaeger for our heavy work loads specially tracing

## Problem - what in Jaeger blocks you from solving the requirement?

Kerberos based authentication is not working as expected, gone thoroughly to all the packages involved while making this connection. We are able to found the root

[2020-03-11 10:05] pavolloffay commented on #2093
Release UI https://github.com/jaegertracing/jaeger-ui/pull/543

[2020-03-11 10:06] pavolloffay commented on #2093
We should agree and document when the changelog should be updated. I don't find it very useful to update it for patch releases. It adds unnecessary overhead.

[2020-03-11 10:10] objectiser commented on #2093
I think the fixed bugs need to be documented atleast on the GH release page.

[2020-03-11 13:17] frittentheke commented on #2048
@markosiira-arm good spotting about those dependency index templates being missing.
I'd also rather have a single component "prepare" the storage at once (or just have all template JSONs in a single place for me to apply to my ElasticSearch)

[2020-03-11 17:30] yurishkuro commented on #2093
I don't think we should diverge GH releases and the changelog. What's the downside of adding a patch release to the changelog?

[2020-03-11 21:37] JingangLi commented on #2121
Hi @pavolloffay ,

Really thanks for your help. You answers lots of questions from me.

I compare the springboot log output and Jaeger UI's json output of the trace. I found there is a span missed which causes the problem. I put the count of Span's operation name in tables. You can see the operation - collectMbmsStatsuByClusterNodeAsync is missed in Jaeger UI.

The mbmsStatusCollectT invokes Async

[2020-03-12 14:51] objectiser commented on #2117
Comparison of models:

* Batch -> ResourceSpans
  * spans
  * process -> resource  **_- difference is that Jaeger process has tags_**
* Span
  * trace id
  * span id
  *  -> trace state
  * operation name -> name
  *  -> span kind - represented as tag in Jaeger
  * references (traceid, spanid, reftype) -> parent id AND links (traceid, spanid, traceState, attributes)
  * flags
  * start time/durati

[2020-03-12 15:24] pavolloffay commented on #2117
Other things to consider:
* Jaeger proto  is exposed in the collector - this is  used by OTEL collector and SDKs
* Jaeger proto is exposed by query service

To keep the backwards compatibility we will have to convert jaeger model to proto and vice-versa in some situations.

[2020-03-12 19:51] JingangLi commented on #2121
Hi @pavolloffay ,

Could you tell me which funciton can be used to refresh the tracer? I try to look into the doc and code of open tracing spring could and jaeger java client, but I can't find the refresh funtion?

Many thanks.

Rgds,
Jingang Li

[2020-03-12 23:17] naseemkullah opened #2124 "configuration consistency across components (es-index-cleaner)"
https://github.com/jaegertracing/jaeger/blob/32d667ee851c09a32966b4aaca635c741e38e4c3/plugin/storage/es/esCleaner.py#L15

Hello @pavolloffay @yurishkuro @jpkrohling

## Requirement - what kind of business use case are you trying to solve?

Trying to reuse config across various jaeger components. Works quite well except for es-index-cleaner and spark components. This issue addresses es-index-cleane

[2020-03-13 08:55] pavolloffay commented on #2093
Release job https://travis-ci.org/github/jaegertracing/jaeger/builds/661867156?utm_medium=notification&utm_source=github_status

[2020-03-13 08:55] #2093 closed

[2020-03-13 09:20] pavolloffay commented on #2124
`HOSTNAME` is index cleaner and rollover is not env variable. The connection string to ES is added as a parameter e.g. `cleaner 0 http://localhost:9200`.

[2020-03-13 09:22] pavolloffay commented on #2124
I will close this as wont-fix. There is not much-added value and implementing this in a backward-compatible way will add unnecessary complications in several components.

[2020-03-13 09:22] #2124 closed

[2020-03-13 09:42] naseemkullah commented on #2124
OK good point for HOSTNAME and work vs value, also I understand if prefixing with `ES_` might feel redundant but please keep this in mind when adding new configurable options at least.

The helm chart greatly benefits from such consistency:

ES related configurable variables defined once: https://github.com/jaegertracing/helm-charts/blob/fc87249b7f3b8a0a6e5fd891d7a7a52ef6e17cd4/charts/jaeger/templ

[2020-03-13 14:42] yurishkuro commented on #2113
I updated the ticket per discussion. If no objections, I want to add it to the contributing guidelines.

[2020-03-13 15:48] jpkrohling commented on #2116
@yurishkuro, do you have any feedback on the definition of "lean", based on my comment above?

[2020-03-13 16:11] yurishkuro commented on #2116
I'm still not clear why we can't publish both scratch and ubi-minimal. Can we not provide a global config option in the Operator to pick one vs. the other?

If we want a shell & basic tool set, why not use alpine?

[2020-03-13 16:43] joe-elliott opened #2126 "`jaeger_collector_spans_bytes` is always 0"
## Requirement - what kind of business use case are you trying to solve?
Gain information about per span sizes through Jaeger

## Problem - what in Jaeger blocks you from solving the requirement?

Currently `jaeger_collector_spans_bytes` always reports 0.

After upgrading to 1.17 I added `jaeger_collector_spans_bytes` up on a graph to get more information about per span sizing.  Unfortunately the

[2020-03-13 16:58] yurishkuro commented on #2126
yes, at some point this got broken, we need to restore it

[2020-03-13 17:01] jpkrohling commented on #2126
Do you have a number of spans processed?

https://github.com/jaegertracing/jaeger/blob/91c7e69a8aad60910cb299e295601c0ede1c1a4b/cmd/collector/app/span_processor.go#L165-L168

[2020-03-13 17:02] jpkrohling commented on #2126
We might want to run `sp.countSpan` also when the feature isn't enabled

[2020-03-13 17:39] joe-elliott commented on #2126
I see now.  No we do not have the dynamic queue size enabled and this is why it is reporting 0.

Close this issue?  Or perhaps we need to populate this metric even when the dynamic queue size is not enabled?

I would be glad to submit a fix if we would like that.

[2020-03-13 20:17] jpkrohling commented on #2116
We can certainly publish two sets of images, I just don't see the benefits in doing so vs. the maintenance work that it adds (CI, docs, users questions, ...). The only benefit of using scratch vs. ubi-minimal is that disk space per node (not container) would be about 35MB higher.

If we do decide to provide the two base images, the operator can certainly use a new flag to decide which image to use

[2020-03-13 20:20] jpkrohling commented on #2126
This is part of the critical path, which is why I didn't enable it by default. As you have a production environment with a respectable load, do you think you'd be able to move the `countSpan` to the default `processSpanFuncs` and see how it behaves?

[2020-03-13 20:31] yurishkuro commented on #2116
I'd suggest we switch from scratch to alpine, which is 7x smaller than ubi-minimal.

[2020-03-15 09:37] rotemironsrc opened #2127 "jaeger-collector "caller":"kafka/writer.go:58","msg":"circuit breaker is open""
hey,

i am getting lots of

{"level":"error","ts":1584263247.6373,"caller":"kafka/writer.go:58","msg":"circuit breaker is open","stacktrace":"github.com/jaegertracing/jaeger/plugin/storage/kafka.NewSpanWriter.func2\n\tgithub.com/jaegertracing/jaeger/plugin/storage/kafka/writer.go:58"}

my jager-collector uses kafka as a storage
and i have jager-ingester listen to kafka and saves to elastic search

[2020-03-15 15:57] yurishkuro commented on #2127
this is something coming from the sarama kafka driver.

https://github.com/jaegertracing/jaeger/blob/af674a5433ff6bd9cf624dacaa28ec6ebea82c48/plugin/storage/kafka/writer.go#L57-L61

[2020-03-16 08:00] rotemironsrc commented on #2127
I know, but what does it mean and how can i solve that ?
i tried googling the answer, not a lot of results!

[2020-03-16 13:57] joe-elliott commented on #2126
I rebuilt the jaeger collector from the `v1.17.0` tag.  The only change was adding `countSpan` to the `processSpanFuncs`.  Additionally I scaled down to 1 collector to force all spans through the same one.

I can confirm I am now getting the span bytes metric:

![image](https://user-images.githubusercontent.com/2272392/76764923-079bc780-676c-11ea-9001-cd279cc5cc7c.png)

I am seeing a performance c

[2020-03-16 14:35] jpkrohling commented on #2126
That's great info, @joe-elliott! Given this information, do you still think this should be on by default? On one hand, this is a type of information that is valuable to have. On the other hand, the price to pay seems high: increased CPU usage, data loss (spans dropped), ...

[2020-03-16 14:53] yurishkuro commented on #2126
Do you mean the addition was on top of 1.17?

`span.Size()` function computes size recursively through all the fields, so would certainly take up some CPU. But I am surprised by the impact on latency, etc.

[2020-03-16 15:27] joe-elliott commented on #2126
Yup.  I checked out `v1.17.0`,  commented out the if statement surrounding the addition of the `countSpan` processor so it was added unconditionally, ran `make docker-images-only` and used the result jaeger-collector image.

[2020-03-16 18:31] yurishkuro opened #2129 "Remove TChannel from agent->collector path"
@pavolloffay I created a new internal build that uses a local copy of the `/tchannel` packages you created (#2105), and deployed it today. All metrics look good. I think we can start removing the code.

[2020-03-17 08:30] jpkrohling commented on #2116
Sure, I'll try to get a PR ready soon for `alpine`, but I'm still wondering why is "7x smaller" (or rather, one seventh) even relevant when we are talking about such small figures...

[2020-03-17 09:52] #2011 closed

[2020-03-17 12:15] joe-elliott commented on #2126
@jpkrohling

It is valuable information, but it looks to be roughly a ~20% increase in cpu costs.  To me it feels like this should remain configurable behind an option.  Perhaps additional documentation would help clarify that it's only on when dynamic queue sizing is enabled or maybe making these spans stats independently configurable from the dynamic queue size option.

[2020-03-17 14:35] pavolloffay commented on #2121
I am not sure what you mean by refresh the tracer? If your application is running a couple of seconds after the transactions all spans should be reported well.

This looks like an instrumentation issue. Please open the issue in the corresponding instrumentation library.

[2020-03-17 14:35] #2121 closed

[2020-03-17 14:43] pavolloffay commented on #2129
Do you want to submit a PR? If no I can do that.

[2020-03-17 15:04] yurishkuro commented on #2129
Go for it, I won't be able to get to it soon.

One thing I wanted to watch out was making sure we don't leave other dead code around. For example, pkg/discovery may be only used from tchannel.

[2020-03-17 15:50] pavolloffay commented on #2129
I am wondering whether full removal would break OTEL collector they are exposing tchannel exporter.

Afther quick inspection it looks that they are not using tchannel from agent or the new `tchannel` package cc) @objectiser
https://github.com/open-telemetry/opentelemetry-collector/pull/636/files#diff-0e6ca11168918e81d990fd9005b9671cL45

[2020-03-18 08:55] jpkrohling commented on #2126
This is the right solution, IMO.

[2020-03-18 09:40] jpkrohling opened #2130 "Move to badger v2"
When debugging a problem with the badger storage that an internal team at Red Hat was having, I changed our code to use Badger v2 and I have it working on a local branch.

One thing that needs to be decided is about the data migration, as the database from v1 isn't compatible with Badger v2. Should we attempt to provide an automatic migration tool? This can potentially take hours and might require

[2020-03-18 09:43] jpkrohling commented on #2130
In time: we are not sure yet whether Badger v2 is indeed better: I'm currently investigating a problem with a nil pointer and a possible memory leak.

[2020-03-18 14:43] joe-elliott commented on #2126
Yeah, I was looking into `span.Size()` to see if there was an opportunity to optimize it, but unfortunately it's generated proto code.  It basically descends the object tree and calls `.Size()` on everything (logs, tags, ...)

`sp.spansProcessed.Inc()` could be independent but might be confusing.  It might be easier to just say have an `--collector.enable-processed-span-metrics` flag that covers b

[2020-03-18 15:23] pavolloffay opened #2154 "Support sampling strategies flag"
Read the flag value and add it as a default value in Jaeger receiver config.
[code]

[2020-03-19 08:48] pavolloffay commented on #1959
By default jaeger stores data in daily indices. This can be changed by using rollover https://www.jaegertracing.io/docs/1.17/deployment/#elasticsearch-rollover

[2020-03-19 08:48] #1959 closed

[2020-03-20 17:59] rbizzell40 opened #2134 "Crash loop on jaeger tracing pod in Kubernetes"
<!--
MacOs 14.6 Mojave
Minikube version 1.8.2 and 1.8.1
Kubernetes 1.17
Istio 1.5
Go 1.12.9
I am deploying Istio by curling to the latest version and then. executing kubectl apply -f
All pods come up except tracing pod and I receive this error
kubectl logs -f istio-tracing-7f8b785b8c-q7lkt
{"level":"info","ts":1584726980.0993352,"caller":"flags/service.go:113","msg":"Mounting metrics handler on ad

[2020-03-20 18:23] yurishkuro commented on #2134
please provide details (versions, configuration, etc.)

[2020-03-20 18:27] rbizzell40 commented on #2134
MacOs 14.6 Mojave
Minikube version 1.8.2 and 1.8.1
Kubernetes 1.17
Istio 1.5.0
Go 1.12.9
I am deploying Istio by curling to the latest version and then. executing kubectl apply -f
All pods come up except tracing pod and I receive this error
kubectl logs -f istio-tracing-7f8b785b8c-q7lkt
{"level":"info","ts":1584726980.0993352,"caller":"flags/service.go:113","msg":"Mounting metrics handler on admin

[2020-03-20 18:28] rbizzell40 commented on #2134
Is this what you are looking for

[2020-03-20 18:45] yurishkuro commented on #2134
it looks like you have something already listening to `udp [::1]:6831` port

[2020-03-20 19:06] rbizzell40 commented on #2134
That resolved the issue I had another service using that port. Thanks

[2020-03-20 19:06] #2134 closed

[2020-03-21 17:49] andrewbanchich commented on #366
Looks like there is a client for Rust now: https://github.com/sile/rustracing_jaeger

[2020-03-23 20:49] caniszczyk opened #2136 "Create SECURITY.md and a security policy for Jaeger"
See https://github.com/open-policy-agent/opa/blob/master/SECURITY.md as an example

[2020-03-24 08:42] jpkrohling commented on #2136
Some comments about OPA's security document:

1. We do not have (yet) a mailing list for security disclosures. We [currently request people](https://www.jaegertracing.io/report-security-issue/) to send an encrypted message to the regular mailing list using our published key.
1. I wouldn't create the expectation that we'll provide the first feedback within 24h, especially if it's done during the we

[2020-03-24 14:50] fischerman opened #2138 "Elasticsearch alias config requires max-span-age to be configured"
The docs for ES aliases suggest that `es.max-span-age` is not relevant if index aliases are enabled.
[code]
We've noticed that traces, that are older than 72 hours (the default value of max span age) return a 404. Increasing the max span age resolved the problem.

Am I misunderstanding the docs or is this a bug?

Jaeger version 1.17

[2020-03-24 15:50] pavolloffay commented on #2138
Just to confirm is your jaeger query configured with `--es.use-aliases=true`?

[2020-03-24 16:14] fischerman commented on #2138
Yes. To be precise, we use environment variables:
[code]

[2020-03-24 16:17] fischerman commented on #2138
I'm suspecting that this is related to [nextTime](https://github.com/jaegertracing/jaeger/blob/5ed586c114152dfdb9f9643b9303fd40d45cc6e5/plugin/storage/es/spanstore/reader.go#L329).

[2020-03-24 16:19] yurishkuro commented on #2136
Is mailing list an acceptable practice? It seems much easier to deal with than our current process of encrypting the message (and I don't believe all maintainers have access to the private key to decrypt).

I think it's up to us to define the SLAs for disclosure response. Given lower criticality of Jaeger, we could choose 1w instead of 24hr.

For the other repositories, I would create SECURITY.md

[2020-03-24 16:57] jpkrohling commented on #2136
I'm quite sure all maintainers tested the ability to decrypt messages when the key was created, but you are right, perhaps not all current maintainers have access to the decryption key. I would still give the option to send encrypted messages, as not everybody is comfortable in submitting security reports in plain text, especially given that quite a good number of servers still downgrade connectio

[2020-03-25 09:45] pavolloffay commented on #2138
@fischerman you are right it is used in:
https://github.com/jaegertracing/jaeger/blob/e4a6ee614b20e9f9bbf7e96b6187bdd66154e913/plugin/storage/es/spanstore/reader.go#L166.

The `SearchAfter` was used to support scrolling to retrieve large traces (https://github.com/jaegertracing/jaeger/pull/696)

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html#request-body-s

[2020-03-25 16:37] pavolloffay opened #2141 "Migrate ingester to jaeger-opentelemetry-collector"
Provide ingester functionality in Jaeger OTEL collector. The ingester would be implemented as OTEL receiver and deprecate the current ingester binary. The goal is to minimize maintenance burden.

Jaeger OTEL collector is a drop-in replacement for Jaeger collector. Storage is configured via env variable `SPAN_STORAGE_TYPE` and by default Cassandra imlementation is used. When `kafka` is specified it

[2020-03-25 16:41] pavolloffay commented on #2141
cc @jaegertracing/jaeger-maintainers

[2020-03-25 16:57] pavolloffay commented on #1251
We can close this we have migrated to go modules.

[2020-03-25 16:57] #1251 closed

[2020-03-25 16:58] pavolloffay opened #2142 "Support batch of spans in storage writer interface"
`SpanWriter` interface at the moment accepts a single span:
https://github.com/jaegertracing/jaeger/blob/bf64373d1e690594fd8c279720faf32722cf1494/storage/spanstore/interface.go#L28

I would like to propose to change it to work on a batch of spans instead. The reason being OTEL exporter accepts a batch of spans. This change will allow us to reuse batch and retry processor from OTEL collector
https:

[2020-03-25 16:58] pavolloffay commented on #2142
cc @jaegertracing/jaeger-maintainers

[2020-03-25 17:02] yurishkuro commented on #2142
I am not opposed to batch, but we need to define the semantics and the return value.

I assume there may be benefits to some storage implementations to work on batches instead of single spans, do we have concrete examples (Cassandra won't benefit unless spans are for the same trace). If there are no real benefits, then a simpler approach is to create a batched facade used between OTel code and Spa

[2020-03-25 17:06] pavolloffay opened #2153 "Export Jaeger storage metrics as OTEL metrics"
Jaeger storage implementations export various metrics that should be exported as Jaeger OTEL collector metrics.

[2020-03-25 17:51] apm-opentt commented on #2142
@yurishkuro Is it possible to buffer, sort the spans periodically so you can write batch of spans that belong to the same trace?  Currently the performance hit for writing one span at a time to Cassandra is quit big.

[2020-03-25 19:52] pavolloffay commented on #2142
Elasticsearch supports batching (it is called bulk https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html). We are currently using it in Jaeger. We could drop support for it in Jaeger and instead use only OTEL batch processor. Then Elasticsearch writer will just send a bulk request per received bulk. This will have to be tested to assure that these two batch implementations

[2020-03-25 20:06] yurishkuro commented on #2142
@apm-opentt it's possible, but not recommended in the current architecture, because there's no guarantee that the spans for the same trace will be sent to the same instance of the collector/ingester. We're currently implementing aggregating collectors at Uber, which we plan to open source once it's proven in prod, there the batching will be naturally available.

[2020-03-26 08:29] frittentheke opened #2143 "Use single ElasticSearch index to store dependencies"
## Requirement - what kind of business use case are you trying to solve?

Using ElasticSearch as storage, and using it most efficiently.

## Problem - what in Jaeger blocks you from solving the requirement?

Currently the dependencies (_System Architecture_ in die UI) are created "per day" and stored in an dedicated ElasticSearch index per day (see: https://github.com/jaegertracing/spark-dependenc

[2020-03-26 10:58] vielmetti commented on #1973
@jishminor have you had any success here? If you need arm64 infrastructure to test or develop, reach out to the @worksonarm project via opening an issue at https://github.com/worksonarm/cluster/issues .

[2020-03-26 12:45] pavolloffay commented on #2143
This depends on https://github.com/jaegertracing/spark-dependencies/issues/68

[2020-03-26 15:07] pavolloffay commented on #2143
@frittentheke would you like to submit a PR?

[2020-03-27 12:44] frittentheke commented on #2143
@pavolloffay what should that PR contain? The change of the es storage module (https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/es/dependencystore/storage.go) to read and write to that single index
The query already uses the timestamp field (https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/es/dependencystore/storage.go#L111) so that would not even need changing.

[2020-03-27 13:21] pavolloffay commented on #2143
The UI does not have to be changed. We just need to change the writer (the writer is not used though) and reader. The dependency storage impl should use the same index names as span storage impl.:
IIRC it is `jaeger-span-read` and `jaeger-span-write`.

The index cleaner and rollover scripts will have to changed also to support rollover.

Any improvements to ES query from the spark dependencies job

[2020-03-27 14:39] jozef-slezak commented on #1895
Hello, we have implemented this plugin using the design above.

Can we create pull request to this repository?

[2020-03-27 14:55] yurishkuro commented on #1895
The main idea of grpc storage plugins is that they don’t need to be in this repo, but exist as external extensions. We can simply add a link to external repo from documentation. Can you point to where the plugin is currently implemented?

[2020-03-27 21:40] yurishkuro commented on #797
Another alternative by @bogdandrutu (https://github.com/open-telemetry/opentelemetry-collector/issues/671#issuecomment-605212324) is to use https://github.com/ory/go-acc, which also allows cross-package coverage to be included.

[2020-03-28 09:50] Oncilla commented on #1916
I think this is connected to https://github.com/dgraph-io/badger/issues/1228

[2020-03-28 17:12] anayrat commented on #1895
@jozef-slezak great! Where is the repo?

[2020-03-30 12:59] frittentheke commented on #2143
I was actually not suggesting / implying to use rollover for storing dependencies actually but just a single index. There are so few documents to hold dependencies (currently it's one per day) it makes no sense to roll over.

But thinking about it: Using rollover in conjunction with ILM (ElasticSearch Index Lifecycle Policies) might make sense just for the much easier housekeeping. Then no externa

[2020-03-30 14:32] frittentheke commented on #2143
@pavolloffay I just pushed a PR: https://github.com/jaegertracing/jaeger/pull/2144
If you happen to like that one - should I also switch to those aliases for creating dependencies via the Spark job in my PR https://github.com/jaegertracing/spark-dependencies/pull/86 ?

[2020-03-30 15:11] jozef-slezak commented on #1895
Hello, during this week we are cleaning up the code before open sourcing it. After that we will put link paste here the link to the repo.

[2020-03-30 15:20] narsii4u commented on #1989
Any update on this? we also have the same requirement. Thanks.

[2020-03-30 15:33] annanay25 commented on #2113
The trick is to now track these flag deprecations on our end (if we pick time as a factor). 😃

[2020-03-30 16:04] pavolloffay commented on #1895
Feel free to submit a PR to our docs that are hosted at https://www.jaegertracing.io/docs/1.17/deployment/#storage-plugin.

https://github.com/jaegertracing/documentation/blob/master/content/docs/next-release/deployment.md#storage-plugin

[2020-03-30 16:05] pavolloffay commented on #1895
@anayrat I am just curious, are you using the gRPC plugin with all-in-one or with collector and query in separate processes?

[2020-03-30 16:09] anayrat commented on #1895
Hello, I do not use either one. I just thought how we can add postgres support as storage plugin and send the database model. Unfortunately I do not have time to spend on this and I do not use jaeger anymore. I can only help on postgres side.

[2020-03-30 16:10] pavolloffay commented on #2143
Slightly off-topic question is ES ILM free to use? It's marked as x-pack feature which is payed extension: https://www.elastic.co/guide/en/elasticsearch/reference/current/index-lifecycle-management.html

[2020-03-30 16:14] pavolloffay commented on #2143
I am not sure how feasible it would be given the index can last for year(s) and there is no way to remove old documents from it.

[2020-03-30 17:26] yurishkuro commented on #2113
We have a script that dumps all combinations of flags from all binaries into a single file, which we can grep for `deprecated` and filter by dates. So before a release we can go through that and clean-up flags which have passed their TTL.

[2020-03-30 20:41] frittentheke commented on #2143
Yes, but in the free tier (no cost).... see https://www.elastic.co/subscriptions

[2020-03-31 05:53] ubaierbhat commented on #1564
Is there a way to download/export graph under "Trace graph" as svg or pdf?

[2020-03-31 06:30] yurishkuro commented on #1564
@ubaierbhat I don't think so. Feel free to open a ticket in https://github.com/jaegertracing/jaeger-ui with description of the use case / requirements. I think exporting the graph in dot format might be a better option than svg/pdf, since dot file can be trivially converted to those.

[2020-03-31 16:52] yurishkuro opened #2145 "Fix flaky test TestClientMetricsReporter_Expire"
[code]

[2020-03-31 17:20] pavolloffay commented on #2145
It might be a duplicate of https://github.com/jaegertracing/jaeger/issues/2108

[2020-03-31 17:21] #2145 closed

[2020-04-01 08:39] Quang-OLLI commented on #1989
I had to override the report spans function to get it send messages to Kafka instead of jaeger-agent

[2020-04-01 11:32] ArunaKumarik16 commented on #1149
Is it possible to add baggage items to mongoDB operations (insert, aggregate..etc) in java. If it is yes? How?

[2020-04-01 17:04] linjmeyer commented on #207
**If applicable, what company/organization do you represent? How many software engineers?**

[Redbox](https://www.redbox.com/); ~50 Software Engineers, ~5 DevOps/Delivery Engineers

**How are you using Jaeger? E.g. full production deployment, considering, experimenting, or "I am not using Jaeger" etc.**

We are using Jaeger in production for all of our applications on Kubernetes, as well as a sele

[2020-04-02 11:31] narendra0356 opened #2146 "Unable to creates the schema required by the Jaeger components while connect with remote secure cassandra endpoint."
## Requirement - what kind of business use case are you trying to solve?

I would like to create the schema using jaeger-cassandra-schema-job on remote cassandra cluster.
The kubernetes Job that creates the schema required by the Jaeger components.

apiVersion: batch/v1
  kind: Job
  metadata:
    name: jaeger-cassandra-schema-job
    labels:
      app: cassandra-schema
      app.kubernetes.io/nam

[2020-04-02 14:00] mschneider82 commented on #1916
@emailtovamos  can you try this fix?

[code]

[2020-04-02 14:29] pavolloffay commented on #2146
The container invokes this script https://github.com/jaegertracing/jaeger/blob/74856efebf703bd98742b96db48724dca4e9e7fb/plugin/storage/cassandra/schema/docker.sh#L7, so you will have to define `CQLSH_HOST` and maybe other env variables in the schema job to properly configure it for your environment.

[2020-04-02 14:29] #2146 closed

[2020-04-02 14:32] pavolloffay commented on #2143
Scripts `esCleaner.py` and `esRollover.py` are using curator under the hood. But instead of using the curator's configuration files we use the programmatic API. We could not use just the conf files because  we needed to perform more actions which were not possible with the config file.

[2020-04-02 15:07] narsii4u opened #2147 "Jaeger : Reading spans from Jaeger Agent or Jaeger Collector"
## Requirement - what kind of business use case are you trying to solve?
We need to send spans to streaming service which has configuration like
sasl.mechanism=PLAIN
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required

We tried lot of things and we at the end we found an ER https://github.com/jaegertracing/jaeger/issues/1989 , but since its

[2020-04-02 15:09] annanay25 commented on #2146
I think we should reopen this issue and move it to the documentation repo, because docs definitely need enhancement. We should have instructions on how to configure the missing env vars like `CQLSH_HOST`

[2020-04-02 19:59] nehagupta84 commented on #1377
where is this configuration exactly?

[2020-04-02 21:14] yurishkuro commented on #1377
@nehagupta84 this is not the first question you asked about configuration options. They are all explained in the docs (https://www.jaegertracing.io/docs/1.17/cli/), have you looked at those? If you find that the docs are not sufficiently self-explanatory, please open tickets with suggestions how to improve them.

[2020-04-02 21:28] nehagupta84 commented on #1377
if am using jaeger helm deployment then also i can apply these cli options?

On Thu, Apr 2, 2020 at 2:15 PM Yuri Shkuro <notifications@github.com> wrote:

[2020-04-02 21:32] yurishkuro commented on #1377
You should ask that question in the related helm repository, because it's not a Jaeger-specific question.

[2020-04-03 08:12] pavolloffay commented on #2142
Note that Jaeger already uses ES bulk API (batching). However, we do not handle retries if the bulk fails request fails. I mention in the previous comment once we support batch in the writer interface we could use OTEL retry processor, however it retries the whole bulk.

https://github.com/jaegertracing/jaeger/blob/master/pkg/es/config/config.go#L115

[2020-04-03 14:25] pavolloffay opened #2152 "Which processors should be used by default?"
Created from https://github.com/jaegertracing/jaeger/pull/2148#discussion_r402939295

List of OTEL processors https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor

[2020-04-05 11:14] xiaolin8 opened #2151 "How to disable or exclude the trace data of jaeger itself?"
## How to disable or exclude the trace data of jaeger itself ?

[2020-04-06 08:18] pavolloffay opened #2163 "Convert OTEL model to directly to storage model"
Elasticsearch exporter converts OTEL span to Jaeger model and which is passed to `SpanWriter.WriteSpan`. The writer converts the span to ES storage model. We could consider converting the span directly to ES model to save some cycles.

This will require a separate convertor and will have to refactor ES span writer and expose a write method accepting Jaeger ES model.

[2020-04-06 08:32] annanay25 opened #2166 "Add span sanitiser to mask sensitive fields"
From - https://gitter.im/jaegertracing/Lobby?at=5e865f678f149739d32f336d

There is a requirement to mask sensitive fields from span logs, something that can be implemented as a span sanitiser processor as part of the jaeger-otel-collector.

[2020-04-06 09:18] pavolloffay commented on #2151
@xiaolin8 hi, please use our gitter channel to ask questions https://gitter.im/jaegertracing/Lobby.

Have a look at this docs: https://www.jaegertracing.io/docs/1.17/client-features/. It seems `JAEGER_DISABLED` can be used to disable tracer used in Jaeger.

I am moving this issue to the documentation repo. We could document that jaeger traces itself in https://www.jaegertracing.io/docs/1.17/monito

[2020-04-06 09:23] pavolloffay commented on #2166
Can it be done via OTEL's attribute processor https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor#attributes-processor?

[2020-04-06 09:45] pavolloffay commented on #2152
Based on https://github.com/jaegertracing/jaeger/pull/2148#discussion_r403898358. OTEL collector might run without any processor.

[2020-04-06 09:55] objectiser commented on #2152
Use of the `queued_retry` processor may be required if we want a certain set of metrics - I will re-review the metrics again this week following some changes upstream, so we can list which metrics would be dependent upon which particular processors.

[2020-04-06 14:34] albertobeas20 opened #2169 "Hello, during this week we are cleaning up the code before open sourcing it. After that we will put link paste here the link to the repo."
Hello,

It is possible get access to this code even if it is not clean it up?? Because it is necessary that I connect my jaeger architecture with PostgreSQL to solve a problem in my work.

Thank you very mutch.

[2020-04-06 14:35] #2169 closed

[2020-04-06 14:42] albertobeas20 commented on #1895
Hello, it is possible get the code even if this is not cleaning up?? I am working with this integration too and it could be very useful for me to finished and I need to solve it quickly due to it is priority to my architecture. Thank you very much.

[2020-04-06 18:08] #2108 closed

[2020-04-06 18:52] yurishkuro commented on #2156
what is the goal of this ticket vs. #1718?

[2020-04-06 19:18] objectiser commented on #2156
This was moved from the jaeger-opentelemetry-collector repo, so was referring to security implications related to OpenTelemetry Collector receivers/exporters.

[2020-04-06 20:19] ndascanio-asapp opened #2171 "sampler.param shows defaultSamplingProbability instead of samplingRate"
## Apply different probability per service
This issue may be related with [Issue #696](https://github.com/jaegertracing/jaeger-operator/issues/696)

Giving this strategy configuration:

[code]
The client correctly receives this configuration:
[code]

However, the traces for ServiceA have this tag:
[code]

The same happens if I change the strategy of serviceA to ratelimit. I don't know if it's just

[2020-04-07 10:16] floatliang commented on #2011
@jpkrohling sorry for latter reply. recently i tried launching agent and collector images without nginx, and find that it works well, and no more complain about losting connection.
I googled for a while, guess it may caused by nginx periodically  closing connections to grpc server according to the directive [keepalive_timeout], by default it's 65s.
I set this directive to 300s to see what will hap

[2020-04-07 13:55] ndascanio-asapp commented on #2171
ServiceA is in go

This is serviceA:

[code]

This is go.mod:

[code]

strategies is the one in the original question.

I hit endpoints aaa, bbb and ccc 10 times each:
[code]

What I expect: 30 traces, 10 for each service
What I get: 7 traces: 2 for aaa, 2 for bbb and 3 for ccc (it's using the probabilistic 20% instead of the service strategy).

The trace has `sampler.param: 0.2`.

Changing just t

[2020-04-07 17:41] yurishkuro commented on #2171
per-operation strategies do not work with rate limiting, only probabilistic sampling.

[2020-04-07 18:10] jishminor commented on #1973
@vielmetti I have not yet. I have my own repository for the Jaeger Agent on arm64 and arm, but have not gotten around to playing with the build infrastructure in this repo.

[2020-04-07 19:02] prana24 opened #2172 "grpc: Server.Serve failed to create ServerTransport"
## Requirement - what kind of business use case are you trying to solve?

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questions to address

[2020-04-07 19:43] prana24 commented on #2172
We have  jaegertracing 1.14  deployed on  azure kubernetes cluster .   Collector service is defined as loadbalancer  with annotation , external-dns.alpha.kubernetes.io/hostname ,
our agent  connects the collector using the service dns name ,
I see warning   logs in  collector  log , and making me worried  is there anything wrong.   I see  traces and spans coming in to  jaeger back end   , i.e. Ela

[2020-04-08 02:17] hobbytp commented on #1122
+1 :-)

[2020-04-09 07:59] MrXinWang commented on #1973
Hi @jishminor! I am wondering will you propose a PR to add support for arm64? If not, I have a PR to support it :) Can I propose it? or I wait for yours?

[2020-04-09 08:34] pavolloffay commented on #2172
@prana24 could you please update to Jaeger 1.17.1?

[2020-04-09 08:57] pavolloffay opened #2174 "Parse lower and upper bound traces per second in remote sampler"
The remote config impl does not seem to parse lower and upper bound traces per second for per operation sampler.

[code]

[2020-04-09 09:10] MrXinWang commented on #1656
Hi @jishminor! I am wondering will you propose a PR to add support for arm64 binary and container? If not, since I am working on another project which used jaeger tracing, I have a PR to support it :) Can I propose it? or I wait for yours?

[2020-04-09 12:34] pavolloffay commented on #2153
I have created an issue in OTEL to migrate from OC to OTEL API https://github.com/open-telemetry/opentelemetry-collector/issues/816.

[2020-04-09 17:05] jishminor commented on #1656
@MrXinWang If you have a PR ready to go, go ahead and propose it!

[2020-04-09 20:42] huikang opened #2177 "Observing many <trace-without-root-span> with streaming strategy"
I experimented with both the `production` and `streaming` strategy to collect trace from the same application. The `production` strategy works correctly, while there are many `<trace-without-root-span> ` in the query UI under the `streaming` strategy.

Following is the yaml file
[code]

Could anyone help to provide any guidance to fix the issue? Thanks.

[2020-04-10 03:58] MrXinWang commented on #1656
@jishminor Thanks! PR #2176 created.

[2020-04-10 07:46] objectiser commented on #2177
Moved the issue to the main jaeger repo, as it is related to the backend components rather than the operator.

[2020-04-10 14:33] yurishkuro commented on #2177
Look for & compare the dropped spans metric in the collectors. There's no reason  for the two ingestion strategies to be different unless you have some bottleneck that causes load shedding.

[2020-04-10 14:51] huikang commented on #2177
Thanks for your suggestions. Could you provide some guidance about how to find the dropped spans metric in the collector?

The difference between the two deployment strategies is the addition of Kafka and jaeger-ingested in the streaming deployment. So do you mean the bottleneck could be caused by these two?

[2020-04-10 16:22] yurishkuro commented on #2177
https://www.jaegertracing.io/docs/1.17/troubleshooting/#check-the-metrics-endpoint
[code]

[2020-04-12 01:20] huikang commented on #2177
@yurishkuro , thanks for the info, however I could not see any dropped spans.

I observe the following log sequence from the collector:

[code]

The UI shows `invalid parent span IDs=35b599419adf0b69; skipping clock skew adjustment`
for an trace entry `<trace-without-root-span>`.

If I understand correctly, the order of the span written to the es is incorrect. Do you have any idea about how to fix

[2020-04-12 02:52] yurishkuro commented on #2177
The order is irrelevant, the trace is re-assembled at query time. According to the log, the  root span 35b599419adf0b69 is being written successfully. Are you saying it is not being loaded after that by the query service?

[2020-04-12 04:38] huikang commented on #2177
Thanks for your reply. You are right; the order is irrelevant. The <trace-without-root-span> appears because of the query has not picked up all the spans. After some time, the UI displays the trace correctly.

[2020-04-12 04:44] #2177 closed

[2020-04-13 15:14] itisdeep opened #2178 "storage/host requirements for Jaeger"
Hi Team,

I have used Jaeger production templates for Openshift (not all-in-one)  to deploy in our environments and I am not using Jaeger operator. Since our elasticsearch cluster is running externally (not on Openshift), I have tweaked the yamls to point to our elasticsearch cluster. I would like to know, is there scenario that might come up while running Jaeger in production that may need us to

[2020-04-14 07:59] objectiser commented on #2178
@itisdeep All the data is stored in the external Elasticsearch in the scenario you described.

Is there a particular reason you didn't use the Jaeger operator?

[2020-04-14 09:53] itisdeep commented on #2178
@objectiser thanks for the response. There is no particular reason. I found it easy without operators. Is there something I am missing by not using Operators?