[2018-07-17 14:54] isaachier commented on #366
I'll agree that the C based clients are going to be second class, mostly because they aren't languages we ever use. The notable exception here is C# where an external contributor volunteered to maintain it. Among the Jaeger developers at Uber, I don't believe C# is our top priority.

Regarding packaging, people complain about it, but whether you like it or not many libraries rely on C bindings bec

[2018-07-17 15:10] yurishkuro commented on #366
Another major benefit of using wrappers around a C-lib is that those wrappers only need to be implemented once in the OpenTracing community.

[2018-07-17 15:44] jalberto commented on #366
by supporting OT clients I mean, to "ditch" jaeger client in favour of OT client and join the effort there

[2018-07-17 16:02] isaachier commented on #366
@jalberto Jaeger is an implementation of the OT specification. There is no concrete OT client that I know of in open source other than Jaeger. OT is just an interface, not an implementation.

[2018-07-17 16:06] jalberto commented on #366
My mistake, I thought the clients here: http://opentracing.io/ has a different code base.

In that case: https://github.com/derailed/ex_ray

[2018-07-17 16:12] isaachier commented on #366
Feel free to use another client. If you know of others interested in supporting this client please let us know.

[2018-07-18 07:36] Falco20019 commented on #858
Just added configurability in https://github.com/jaegertracing/jaeger-client-csharp/pull/94 by proposing the following changes to the API:

- Added environment variable `JAEGER_TRACEID_128BIT`
- Added `WithTraceId128Bit` method to `Configuration`
- Added `WithTraceId128Bit` method to `Tracer.Builder`
- Adde `UseTraceId128Bit` property to `Tracer`

`Go` and `C++` have done it through their `options

[2018-07-18 10:30] mustafaakin commented on #936
I am working on it @jpkrohling thanks!

[2018-07-18 14:51] yurishkuro commented on #858
I guess we should think about the objective here. Many tracing systems today do 128bit+ IDs by default. I would like Jaeger, in the future, to also default to 128bit, and make the 64it configuration a legacy thing. Given that, should it really be controlled via Configuration class, rather than more verbose/explicit tracer builder?

[2018-07-18 15:15] isaachier commented on #858
I guess I don't mind either way. The issue with the Go/C++ client is that the default is 64 bits and any change to those options might be considered a breaking API change. C# had no option until now, so it should probably hide the option a little better, but defaulting to 64 bit is a requirement until all clients have this support. My crossdock tests broke when I tried to default to 128 bits in C+

[2018-07-18 15:20] yurishkuro commented on #858
Actually, when we create brand new clients it does not have to be. But we we have users already then yes.

[2018-07-18 21:43] AnsQihong opened #939 "HotRod doesn't work properly for me."
I use the plain Jaeger executable without docker on Windows 7 at this moment. I started the Jaeger standalone(all in one) then the hotrod with parameter all. In Jaeger UI, I could see frontend service of hotrod and show it's tracing information.   On the web page of frontend, I could see four buttons representing four customers. But if I clicked it, I only saw something like `Dispatching a car...[

[2018-07-19 03:49] rbtcollins opened #941 "jaeger-query:latest builds broken? Missing static files."
## Problem - what in Jaeger blocks you from solving the requirement?
Jaeger-query:latest fails to start, doing a cp out of the container finds no static files, compared to e.g. 1.2

The error on startup is that the static files can't be found, so I'm presuming this isn't some new include-into-the-binary build technique?

We're still passing --query.static-files explicitly, so if there is a new bui

[2018-07-19 03:53] yurishkuro commented on #941
@rbtcollins sorry, yes, as of 1.6 the assets are no longer included in free form, but packaged inside the binary.

[2018-07-19 03:56] rbtcollins commented on #941
Ok, not sure how I missed that change. Thanks!

[2018-07-19 03:56] #941 closed

[2018-07-19 08:56] jpkrohling opened #943 "Memory-sensitive collector queue size"
## Requirement - what kind of business use case are you trying to solve?
Avoiding dropping of spans on the collector side when the backing storage isn't really fast, but enough memory is available for a bigger buffer on the collector size

## Problem - what in Jaeger blocks you from solving the requirement?
Under stress conditions, the default queue size of 2000 causes spans to be dropped quite fr

[2018-07-19 16:13] yurishkuro commented on #939
`"403 Forbidden"` is quite strange - any more details?  Is your firewall blocking ports?

[2018-07-19 17:41] grounded042 commented on #855
@yurishkuro are we also wanting to support the correlation context headers defined in that repo or just the trace context headers?

[2018-07-19 18:08] vprithvi opened #945 "GoASTScanner/gas has been renamed to gosec"
See https://github.com/securego/gosec/pull/216 for more details.

This breaks our Travis builds because installing `gas` now fails

[code]

Updating our Makefiles to use `gosec` should solve this problem.

[2018-07-19 18:58] #945 closed

[2018-07-19 20:31] yurishkuro commented on #855
Correlation header is currently not finalized as people have disagreements. So I would skip it for now. It means that we still need another way of propagating the baggage.

[2018-07-20 03:11] AnsQihong commented on #939
The plain executable release doesn't include  any configuration file for the hotrod. Is this a problem? I found the default port(8081) of customer server was actually used by the Mcafee virus scanner. This might be the reason of "403 Forbidden".  There might be a pitfall in hotrod. When a port was bind by other program previously, it didn't report an error. I tried to start the customer with -p 80

[2018-07-20 16:24] yurishkuro opened #948 "Support running HotROD as multiple processes"
## Requirement - what kind of business use case are you trying to solve?

As was raised in https://github.com/jaegertracing/jaeger/issues/939#issuecomment-406476388, when one of the ports used by HotROD is already taken on the host, there's no real way to run HotROD from executables (only from Docker image).

## Problem - what in Jaeger blocks you from solving the requirement?

While the HotROD al

[2018-07-20 21:50] AnsQihong commented on #939
Thanks for the response. I had to switch to another machine whose 8081 was not used by any program, then hotrod and jaeger backend worked properly. Since support running hotrod as multiple processes has been created. I'll close this one.

[2018-07-20 21:50] #939 closed

[2018-07-20 22:32] cboornaz17 commented on #948
I'd like to give this one a shot this week. If you could give a little more clarity on exactly how the flags should work that would be great.

[2018-07-21 03:51] eundoosong commented on #850
@yurishkuro  So, above metrics should look like this?
[code]
I think a few lines of codes are required to be changed to fix this.
If it's ok I'll PR.

[2018-07-21 05:09] yurishkuro commented on #850
agreed

[2018-07-24 10:01] ValentinH opened #954 "About sorting logic"
## Requirement - what kind of business use case are you trying to solve?
Easily find the top 10 slowest request on the last hour or last day.

## Problem - what in Jaeger blocks you from solving the requirement?

Right now, when I select the last hour traces, limit them to 20 and sort by "Longest First", I get the longest first among the last 20 traces.

![image](https://www.jaegertracing.io/img/t

[2018-07-24 11:19] jpkrohling commented on #954
Which storage are you using? If you'd be interested in contributing a fix, this would be a good starting point for Elasticsearch (Cassandra's is at a similar place):

https://github.com/jaegertracing/jaeger/blob/df4a5e086adec8d51c6c3dabd9c4eca3967f3a1d/plugin/storage/es/spanstore/reader.go#L193-L205

[2018-07-24 11:56] ValentinH commented on #954
We use ElasticSearch. However, I don't know GoLang so that's pretty hard for me to contribute this feature. 😕

[2018-07-24 12:05] ValentinH commented on #954
I can try to find some colleagues to help on the Go part though.

In addition, there are some changes to be done on the UI part to support sorting on the server-side.

What about something like this?
![image](https://user-images.githubusercontent.com/2678610/43136937-86a4386a-8f4a-11e8-8150-abbef0d5c590.png)

[2018-07-24 14:10] yrsh opened #955 "Kafka configuration example"
As I see, according https://github.com/jaegertracing/jaeger/pull/880 now it is possible to use kafka as storage, but how?

## Requirement - what kind of business use case are you trying to solve?
Use kafka as primary storage.

## Problem - what in Jaeger blocks you from solving the requirement?
There is no docs about it. Only for elastic and cassandra as storage backend here:
https://www.jaegertra

[2018-07-24 14:33] vprithvi commented on #955
It is possible to use Kafka as a write only storage. We expect storage
forwarding to Cassandra/ES and read functionality to be available in the
coming weeks. Documentation for Kafka use is being tracked at
https://github.com/jaegertracing/documentation/issues/90

On Tue, Jul 24, 2018 at 10:10 AM Anton K <notifications@github.com> wrote:

[2018-07-24 21:50] #850 closed

[2018-07-25 12:00] pavolloffay commented on #906
I like @mabn idea https://github.com/jaegertracing/jaeger/issues/906#issuecomment-403040934 but:
* kibana users have to supply the type suffix
* there is still problem with dost in tag keys

Here is an example of zipkin index and data
[code]

[2018-07-26 16:44] karanp24 opened #959 "unknown command "/go/bin/agent-linux" for "jaeger-agent""
I am running jaeger agent,query,collector using docker compose and elasticsearch backend.
Getting error for each component saying the command is unknown. I am using latest images for each of them from docker hub.

Thanks

[2018-07-26 17:18] pavolloffay opened #960 "Search on large number of traces can overload Elasticserch"
## Requirement - what kind of business use case are you trying to solve?

Search a large number of traces via /api/traces. For example limit set to 300k can overload elasticsearch. Resulting in running GC in a loop

[code]

Steps to reproduce:
`docker run -it --rm "ES_JAVA_OPTS=-Xms=2g -Xmx2g" -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" -e "xpack.security.enabled=false" --name=elasti

[2018-07-26 17:49] yurishkuro commented on #959
specifying the command is no longer necessary when running Docker images for Jaeger 1.6

which docker-compose files are you using, your own?

[2018-07-26 18:14] yurishkuro opened #961 "Make clock skew adjustment transparent"
## Requirement - what kind of business use case are you trying to solve?

It is currently not obvious in Jaeger UI is the span timestamps were adjusted for clock skew. @tedsuo wrote:

## Problem - what in Jaeger blocks you from solving the requirement?

Jaeger clock skew adjustment is not recorded anywhere in the adjusted spans. UI does not make it obvious that the timestamps were adjusted.

## Pr

[2018-07-26 18:14] karanp24 commented on #959
No, I followed this blog post, https://cinhtau.net/2018/02/02/jaegertracing-with-elasticsearch/

[2018-07-27 08:43] zplzpl opened #962 "about tracing and log management [not bug]"
I learned that jaeger itself supports printing log content, and uses the log library for zap. Does uber's microservices use jaeger's logging method when printing logs? Or use zap print logs separately, and then use other log management schemes, such as ELK?

I want to use this question to understand, how does uber do tracing and log management, is tracing+log, or independent tracing, independent l

[2018-07-27 09:15] zplzpl commented on #962
I summed up the above, what I actually want to know is: Should a tracing system also manage logging? What is the uber?

[2018-07-27 14:03] yurishkuro commented on #962
We have a separate logging system.

[2018-07-27 16:06] netshade opened #963 "Zipkin HTTP Endpoint Does Not Correctly Parse Content-Type Header"
## Requirement - what kind of business use case are you trying to solve?

Post Zipkin traces from an Android client (okhttp).

## Problem - what in Jaeger blocks you from solving the requirement?

The Zipkin HTTP handler [incorrectly uses the full text of the `Content-Type` header](https://github.com/jaegertracing/jaeger/blob/53955e348810c9d119bda87fc99951dd73603319/cmd/collector/app/zipkin/http_h

[2018-07-27 18:37] yurishkuro commented on #963
we can use https://golang.org/pkg/mime/#ParseMediaType

[2018-07-27 18:49] grounded042 commented on #855
so when we add Jaeger baggage in as long as the other Jaeger clients implement the same propagation method for baggage for W3C we'll be good, but until they finalize the correlation header technically no one else will be able to use that baggage. I'm fine with that - we just have to make sure all the Jaeger clients implement baggage handling for W3C the same.

[2018-07-27 21:59] #963 closed

[2018-07-30 01:35] zplzpl commented on #962
@yurishkuro

1. what is the way the log is output, can you introduce it?
2. is the zap package used?
3. so when is the jaeger log output used?

[2018-07-30 17:00] xihw opened #965 "Is 'jaeger_cassandra_errors' count cumulated ?"
I get jaeger_cassandra_errors{table="traces"} 51000 from /metrics endpoint, is the 51000 cumulated number ? Could you explain a bit how this number is generated ?
Wondering does it make more sense to emit a rate value ?

[2018-07-30 17:11] ledor473 opened #966 "Version incompatibility during upgrade to 1.6"
## Requirement - what kind of business use case are you trying to solve?
Upgrade safely each component from one version to the other.

## Problem - what in Jaeger blocks you from solving the requirement?
Usually upgrading Jaeger is pretty smooth but I had an issue with the latest version (1.6).
We were running version 1.4.1 on Query and Collector. Collector is sending the data to an Elasticsearch

[2018-07-30 17:18] yurishkuro commented on #966
Partial duplicate of https://github.com/jaegertracing/documentation/issues/117

[2018-07-30 18:16] ledor473 commented on #966
@yurishkuro I totally missed that issue because it's in the documentation project.

The error message in this issue might be useful to someone doing the upgrade but I have no objection if we merge this issue with the one you've mentioned.

[2018-07-30 23:26] yurishkuro commented on #962
are you asking about logs produced by Jaeger backend or your own application logs?

[2018-07-31 01:45] zplzpl commented on #962
1. what is the way the log is output, can you introduce it?
2. is the zap package used?
3. so when is the jaeger log output used?

1 and 2 are asking uber's log management.
3 is asking about logs produced by Jaeger backend.

[2018-07-31 02:29] yurishkuro commented on #962
1 and 2 - there are different ways, sometimes it's written to kafka directly, sometimes to local disk and then shipped using logstash.

Not clear what you mean by 3. When do you use, say, logs from Cassandra? It's the same with Jaeger backend.

[2018-07-31 02:33] zplzpl commented on #962
3: Jaeger's span designed the way log output, then when is it used?

[2018-07-31 02:34] zplzpl commented on #962
`spans: [
{
traceID: "69327f3939693126",
spanID: "38f273f050cade5a",
flags: 1,
operationName: "CategoryPathRequest",
references: [],
startTime: 1533004327723671,
duration: 2692,
tags: [],
logs: [],  < -------------------------------- this log
processID: "p1",
warnings: null
}
]`

[2018-07-31 02:35] zplzpl commented on #962
spans: [
	{
		traceID: "69327f3939693126",
		spanID: "38f273f050cade5a",
		flags: 1,
		operationName: "CategoryPathRequest",
		references: [],
		startTime: 1533004327723671,
		duration: 2692,
		tags: [],
		logs: [], <-------------------------------- this logs
		processID: "p1",
		warnings: null
	}
]

when is it used?

[2018-07-31 02:52] yurishkuro commented on #962
I see - it is used to log events that are important for understanding the tracing data. It's OpenTracing concept. You can see examples in my blogs:

https://medium.com/opentracing/tracing-http-request-latency-in-go-with-opentracing-7cc1282a100a
https://medium.com/opentracing/take-opentracing-for-a-hotrod-ride-f6e3141f7941

[2018-07-31 03:37] zplzpl commented on #962
What is the difference between span.logs and logging content?

[2018-07-31 14:05] ledor473 commented on #966
Sounds good! I've renamed the issue so it's more about that specific problem.

The rest can be done in jaegertracing/documentation#117

[2018-07-31 14:05] #966 closed

[2018-07-31 15:19] malkia commented on #207
Q: How are you using Jaeger?
A: I'm doing evaluation of several OpenTracing frameworks for C++. I had successes with both OpenTracing-cpp and OpenCensus-cpp. I still haven't evaluated Jaeger's C++ (todo). While doing this, I realized I needed viewer, and started with Zipkin's UI for the first few hours, though found some limitations, or maybe I'm putting too much information at the app (several th

[2018-07-31 15:29] isaachier commented on #207
@malkia:

[2018-07-31 15:42] malkia commented on #207
I speak only for my team, I don't know whether it's used in other teams/projects across the company, but my team is part of Activision's Central Tech.

[2018-07-31 15:47] isaachier commented on #207
@malkia very cool. Thanks for answering that.

[2018-08-01 01:51] zdicesare commented on #422
@yurishkuro Curious if there's been any new developments here as I am interested in working on a storage plugin. Is harshicorp gRPC still being evaluated?

[2018-08-01 02:39] yurishkuro commented on #422
Now that the Protobuf model has been merged, the development of gRPC-based plugins can go ahead without blocking on the rest of #773. We have not evaluated harshicorp plugins system, however. I am not sure what it provides that's not achieved by plain gRPC.

[2018-08-01 06:39] zplzpl commented on #962
I looked at examples-hotrod and had a question about the spanlogger.go logToSpan method. If the level is ERROR, then the stracktrace information is not recorded to span.logs?

[2018-08-01 14:38] yurishkuro commented on #962
Two things here. 1- Jaeger data model does not have a std structure to capture stack traces. We might add it in the future. 2- Go does not have a standard way of propagating stack traces in errors. It's possible to build special logic for pkg/errors module, but we didn't bother in this example.

These are all implementation details that can be addressed. The main point was that it is possible to i

[2018-08-01 16:43] isaachier commented on #962
I think it might be worth adding occasional/sampled stack traces at some point in the future. pprof made a Protobuf schema to represent stack traces in a language-agnostic way [here](https://github.com/google/pprof/blob/master/proto/profile.proto). We can try using the Protobuf directly or just invent a similar solution and log it into the span.

[2018-08-01 16:46] wy100101 commented on #638
We are looking at using BigQuery as a storage layer. Presumably this could work with a SQL storage option.  SQL can be a generic way to deal with columnar data stores in a generic way. I would complain about a BigQuery specific solution, but I think there is a place for generic SQL interface beyond RDBs.

[2018-08-01 17:48] isaachier commented on #638
Our model is sufficiently simple to warrant looking into using an ORM to support a large number of backends. I'll take a look at what's available.

[2018-08-02 15:40] isaachier commented on #824
I was playing around with the new Protobuf model and realized that porting it to the clients would not make clients simpler. Although they would not need to maintain an explicit parent reference in the span context, the clients still must determine the parent for flags and baggage. Am I correct here or missing something?

[2018-08-02 15:58] yurishkuro commented on #824
yes, clients still need to determine the parent given multiple references, but they don't need to figure out the rules for encoding the parent ID vs. parent reference in the reported span. We've had bugs due to this logic that were causing the same parent reference to be repeated twice.

[2018-08-02 16:04] isaachier commented on #824
OK I understand that. Thanks for the explanation.

[2018-08-02 22:02] yurishkuro commented on #929
I added a couple more tasks

[2018-08-02 22:15] mnovinger commented on #358
@yurishkuro any progress on the histograms? Or is that work available somewhere for contribution?

[2018-08-02 22:25] yurishkuro commented on #929
I created https://hub.docker.com/r/jaegertracing/jaeger-ingester/

[2018-08-03 02:28] #608 closed

[2018-08-03 02:58] yurishkuro commented on #422
I just had a look at [harshicorp/go-plugin](https://github.com/hashicorp/go-plugin). If I understand it correctly, even though it uses gRPC (can also use net/rpc), it spawns the plugin as a child process and uses Unix domain socket as the comms channel. This sounds good for implementing plugins for real storage. It somewhat derails another plan I had to build in-memory storage as a shared gRPC ser

[2018-08-03 13:24] Yisaer opened #970 "How can I mount a json file in all-in-one Image in kubernetes?"
Hi, I'm using istio 1.0 and jaeger. I need to set jaeger using sampling strategies by `--sampling.strategies-file` option.
i deploy an `configmap` with a json file and  i mount this `configmap` in my deployment `istio-tracing.yml` and it start failed by finding `config.json`.
i want to know how can i mount a json file so that the container can start with  `--sampling.strategies-file` option in kub

[2018-08-03 14:57] pavolloffay commented on #970
@Yisaer open k8s related issues in https://github.com/jaegertracing/jaeger-kubernetes

[2018-08-03 14:57] #970 closed

[2018-08-03 15:04] Yisaer opened #971 "How to store data in ES with all-in-one docker image?"
Hi，i'm using `docker.io/jaegertracing/all-in-one:1.5` docker image and I know set `SPAN_STORAGE_TYPE` as `elasticsearch` in `env` but i didn't find how to set `ES_HOSTS`.

Can you tell me how to set `ES Store` with `docker.io/jaegertracing/all-in-one:1.5`  image?

[2018-08-03 15:13] yurishkuro commented on #971
`--es.server-urls` or `ES_SERVER_URLS`

[2018-08-03 15:13] yurishkuro commented on #971
`SPAN_STORAGE_TYPE=elasticsearch go run ./cmd/standalone/main.go help`

[2018-08-03 16:01] pavolloffay commented on #971
@Yisaer you can join https://gitter.im/jaegertracing/Lobby to ask questions.

[2018-08-03 16:01] #971 closed

[2018-08-03 20:48] yurishkuro commented on #358
@mnovinger no, unfortunately. At Uber we're mostly (so far) focused on comprehensive trace analysis rather than individual service optimizations, so histograms are not a high priority (since they are single-service). They can also be obtained from regular per-endpoint metrics (without partitioning by upstream caller as in the link I shared), and once you know a range of latencies that you want to

[2018-08-04 01:58] Yisaer opened #972 "sampling.strategies doesn't work in all-in-one image version 1.6"
Hi, I'm using all-in-one docker image version 1.6 and i want to discard some certain services by setting sampling strategies. Here was my configration and i found that jaeger still tracing istio-mixer and istio-policy services.
https://github.com/jaegertracing/jaeger-kubernetes/issues/101

[code]

[2018-08-04 10:00] felippe-mendonca commented on #961
I had the same problem as exposed [here](https://github.com/jaegertracing/jaeger-client-java/issues/192). It took some time do figure out if the problem was mine or not. Because of that I think that could be interesting to have a mix between the second and third proposal: when displaying adjusted trace, warn the user about that.

[2018-08-04 11:38] objectiser commented on #972
Within istio, envoy controls the sampling strategy if the trace starts with the service mesh. The trace data is reported via a zipkin tracer in the envoy proxy and Jaeger tracer within the mixer (but configured with the zipkin sender).

So Jaeger is not responsible for the sampling decision and so this config does not come into play.

It may be possible to configure envoy to use the Jaeger tracer

[2018-08-06 09:45] jpkrohling commented on #965
@xihw I'm closing this, as I believe this has been answered properly. If you still have questions about this, feel free to reopen.

[2018-08-06 09:45] #965 closed

[2018-08-06 09:47] jpkrohling commented on #972
@Yisaer, I believe this has been answered properly. If you still have questions about this, or if you are able to reproduce the problem with applications using the Jaeger clients, feel free to reopen this.

[2018-08-06 09:47] #972 closed

[2018-08-06 09:47] jpkrohling commented on #962
I'm closing this one, as I think the original question has been answered. If that's not the case, feel free to reopen.

[2018-08-06 09:47] #962 closed

[2018-08-06 14:35] jjcollinge commented on #955
@vprithvi - I had a quick scan of the code. Am I right in thinking you can't currently pass more complex [sarama](https://github.com/Shopify/sarama) configuration through yet such as SASL authentication etc? I'm looking to use this integration with [Azure's Event Hubs Kafka API](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-for-kafka-ecosystem-overview) and require to override some

[2018-08-06 23:52] bruth commented on #638
Giving my two cents.. an ANSI SQL could work for small workloads, so may be useful for lower-throughput applications that still want to benefit from this tool.

I will also throw out there that [Timescale](https://github.com/timescale/timescaledb) (a Postgres extension) may be a good fit for the required high write throughput.

[2018-08-07 09:08] Juhibhadviya19 commented on #588
Hello,
I have this simple python code, which gives below output:
_Initializing Jaeger Tracer with UDP reporter
Using sampler ConstSampler(True)
opentracing.tracer initialized to <jaeger_client.tracer.Tracer object at 0x7f83e7b579d0>[app_name=hello-world]
Hello, Juhi!

How can I see this trace on my UI, currently I can't see any services on Jaeger UI running on Kubernetes cloud.

Thanks a lot in ad

[2018-08-07 12:50] pavolloffay opened #974 "Repeated/unique tag/log fields"
## Requirement - what kind of business use case are you trying to solve?

Support repeated tags/logs keys. The support can be divided into client (e.g. https://github.com/jaegertracing/jaeger-client-java/issues/25) and server side (storage implementation). If we cannot guarantee repeated keys it should be documented somewhere.

## Proposal - what do you suggest to solve the problem or improve the

[2018-08-07 14:47] sergeyklay commented on #365
@black-adder any news?

[2018-08-07 14:53] black-adder commented on #365
sorry all, I just started to move the pieces over, hopefully we'll have the whole thing in OSS this week.

[2018-08-07 16:20] pavolloffay commented on #906
I have been digging into Zipkin impl. From the above output we can see that `tags` are modeled as object but indexing is disabled (`enabled: false`). The query works on `_q` field:

* https://github.com/openzipkin/zipkin/tree/master/zipkin-storage/elasticsearch#query-indexing
* https://github.com/openzipkin/zipkin/blob/master/zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/Elastic

[2018-08-07 16:25] pavolloffay commented on #906
I have also tried https://github.com/ppadovani/KibanaNestedSupportPlugin. For more details see https://github.com/pavolloffay/jaeger-kibana. The issue is that is defines it's own query language. But the search worked.

I think we cannot change `.` to `_`. There are standard tags cotaining `_` e.g. `http.status_code` https://github.com/opentracing/specification/blob/master/semantic_conventions.yaml

[2018-08-07 16:34] pavolloffay commented on #906
Maybe we could use array datatpe https://www.elastic.co/guide/en/elasticsearch/reference/current/array.html to store all tags in

`["http.url=/foo", "error=true"]` The type could be as a suffix added to key or have a second array containing the types.

[2018-08-07 16:38] pavolloffay commented on #974
TODO

- [ ] Add integration test with repeated tags/logs/process tags

[2018-08-07 23:30] yurishkuro commented on #974
why not unique tags instead?

[2018-08-08 08:26] pavolloffay commented on #974
I mean multiple tags with the same key.

[2018-08-08 08:47] objectiser commented on #906
I don't think the array approach is a good idea, as it would affect any processing (e.g. aggregations) of values in ES.

As far as I can tell, the only issue with the ideas mentioned by @Monnoroch and @mabn is the dots in the key. This can simply be resolved by selecting a different character that isn't used by OT standard tags, e.g. colon.

My preference would be @Monnoroch's approach, as it avoi

[2018-08-08 09:27] Monnoroch commented on #906
@objectiser the second issue is the data types that need to be consistent for all spans. However, this is a good practice anyway, so this limitation is not necessarily critical. One can still store heterogeneous data in payload, it's just that it won't be indexed very well.

[2018-08-08 15:28] yurishkuro commented on #974
I know, I'm saying if we want to discuss this, why not consider going in the other direction? Many other systems (zipkin, census, canopy, etc) explicitly restrict tags to single value. Even OpenTracing API sort of implies it by calling methods SetTag. Treating tags as a map affords certain optimizations in some storage backends.

[2018-08-08 15:51] pavolloffay commented on #974
I am fine with that. Although it might be a breaking change for some users. We should know if there are use cases for repeated tags and also what performance improvements can be done by forcing unique keys.

In zipkin I have seen something like `http.path: path1,path2`. I am not sure it's on purpose bc zipkin does not support repeated keys.

[2018-08-08 16:14] pavolloffay commented on #906
Just a documentation:

For mapping: `"tags":{"type":"object"}`  it does blow up if the

[code]
is present in the first span. ES returns
`{"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"mapper [tags.a] of different type, current_type [text], merged_type [boolean]"}],"type":"illegal_argument_exception","reason":"mapper [tags.a] of different type, current_type [text], merged_ty

[2018-08-09 06:41] yancl opened #976 "Spanstore does not support store warnings"
## Requirement - what kind of business use case are you trying to solve?

The jaeger-ui can't fetch warnings from span to promote user something unnormal happens

## Problem - what in Jaeger blocks you from solving the requirement?

the spanstore data model doesn't have `warnings` in its schema, so it ignore the warnings
[dbmodel.Span](https://github.com/jaegertracing/jaeger/blob/master/plugin/sto

[2018-08-09 09:30] lxkaka commented on #521
@roopagowda I have the same problem. I can see all trace in local Jaeger UI, but when I put them into different instance, I cant get any trace and my sampler type is` const` sampler param is` 1`. Do you have any idea about this problem?

[2018-08-09 09:41] jpkrohling commented on #521
@lxkaka we need more information about your environment. Are you running the all-in-one, or each component on its own host? Are you running on bare metal, or Docker? Where's the agent, in relation to the traced application and in relation to the collector?

[2018-08-09 10:03] lxkaka commented on #521
@jpkrohling
This the thing. The jager agent has own machine, collector and ui in the another machine. First I try to connect to es backend , but I cant catch any trace. So I try to use collector with memory backend. In the same situation I cant catch any trace.
Here is my docker compose file:
`version: "3"

services:
  jaeger-collector:
    image: jaegertracing/jaeger-collector
    ports:
      -

[2018-08-09 10:36] Dieterbe commented on #932
:thumbsup:

[2018-08-09 10:43] Dieterbe commented on #929
Hello,
this sounds interesting to me. Since we are looking to process spans with some custom logic and analyze traces to generate reports.
I know we could probably already do something like this using flink, but we're new to that, whereas we're quite familiar with kafka.

so what's the status of this?

[2018-08-09 14:20] phal0r commented on #729
I have implemented the changes and checked it with cassandra and elasticsearch storage.

[2018-08-09 14:52] black-adder commented on #929
If all you care about is reading spans from kafka directly, you can configure the collector to dual write to cassandra and kafka. We need to cut a new release to enable that feature but it should already be available in master.

[2018-08-10 01:05] trtg commented on #359
@snigdhasambitak Basically write a script that starts jaeger-agent in the background before running the process you want to monitor and then call the script in your Dockerfile's ENTRYPOINT or CMD directive. So in a bash script called run_agent_and_process.sh:
./jaeger-agent &
./my_process

If you want all of that to behave nicely with signals you can trap SIGTERM and SIGINT in your script with a f

[2018-08-10 08:46] jpkrohling commented on #359
@trtg would you be interested in writing a blog post about it? Bonus points if you can include the proper traps ;)

[2018-08-10 15:31] black-adder opened #981 "Add authentication to collector HTTP endpoint"
## Requirement - what kind of business use case are you trying to solve?

Unless I'm missing something, it seems like the clients can already add username/passport when reporting spans via http. However, we never open sourced the actual HTTP handler authentication. @vprithvi I remember you added the auth handler internally, did we just forget to move it over?

[2018-08-10 15:46] jpkrohling commented on #981
You are not missing anything. We added this for people who are using auth proxies in front of the collector. See https://medium.com/jaegertracing/protecting-jaeger-ui-with-an-oauth-sidecar-proxy-34205cca4bb1

[2018-08-10 16:54] black-adder commented on #981
ahhh, somehow missed that. Thanks!

[2018-08-10 16:54] #981 closed

[2018-08-11 02:06] trtg commented on #359
@jpkrohling sure, I can take a stab at it, will see if I have time this weekend. Been meaning to write up some stuff relating to aggregate queries about spans in Cassandra too, so might try to do that as well.

[2018-08-13 08:45] kongkong56 commented on #789
how to show jeager tracing info in grafana dashboard?

[2018-08-13 12:34] prune998 commented on #197
Any news ?

[2018-08-13 12:55] facundominguez commented on #456
I'm trying to use the REST API from jaeger-query in regressions tests of a client library for jaeger.

Moreover, I expected using jaeger would give me the ability to automate analysis of the traces. Not having documentation to query the traces poses a difficulty for adoption. Is there another preferred way to do this?

[2018-08-13 13:07] isaachier commented on #197
Unless @jbdalido updates this, no.

[2018-08-13 14:26] black-adder commented on #789
There's also this: https://github.com/tcolgate/jaeger-simplejson

[2018-08-13 14:37] Dieterbe commented on #789
grafana folks have this on the roadmap, tracing viewer and all kinds of integrations between tracing, logs and metrics. but it's going to take them a while to prototype and implement that stuff

[2018-08-13 15:33] black-adder commented on #456
For the time being, here's the relevant query endpoints:

GET `api/traces/:traceID`
GET `api/services`
GET `api/operations?service=:svc`

GET `api/traces`

The relevant params for the `api/traces` endpoint is below:
[code]

The return format is JSON (NOTE we don't actually support pagination at the moment but it is exposed in the response):
[code]

where `data` can be different data types based on

[2018-08-13 17:36] black-adder commented on #976
Hi there,

jaeger will store spans as is without altering them in anyway. Warnings only come into play during reads. Whenever a trace is fetched for reading, we sanitize and massage the trace and add warnings; this means we don't need to persist the warnings.

The reason why warnings are only added during reads is that during ingestion, we store spans as they arrive. We don't have the complete tra

[2018-08-13 18:36] wesleyk commented on #465
Hey folks. I was wondering if IAM-based authn for ES was still something that is on the table for Jaeger. Reading back on this conversation it seemed to take a different direction and focus on signed vs VPC endpoints.

cc @black-adder

[2018-08-13 18:51] yurishkuro opened #983 "Upgrade TChannel"
We're on very old version 1.1.0, the latest is 1.11.0

As a minor point, glide is complaining
[code]
(the latest tchannel is not on master of testify, but on ^1.1)

[2018-08-13 19:10] yurishkuro opened #985 "Make protobuf generation more robust"
In #984 the versions of the dependencies are pinned to restore repeatable code generation. To make the overall process more robust, we need:

* [ ] pin to versions instead of commits (need to find a new compatible set of versions)
* [ ] add a CI step that runs `make proto` and verifies that no code changes are introduced as a result
* [ ] investigate if we can use version ranges (like `^1.1`), but

[2018-08-13 19:38] isaachier commented on #985
Why not vendor the proto files like I did [here](https://github.com/isaachier/jaeger-client-c/tree/master/idl)?

[2018-08-14 00:53] yurishkuro commented on #985
this is not about proto files, but about generated code.

[2018-08-14 01:51] maniaabdi opened #988 "Jaeger-collector Unable to write to cassandra"
hello again every one
it seems that I was able to deploy jaeger
however I keep getting this error
``` {"level":"error","ts":1534210873.243136,"caller":"app/span_processor.go:102","msg":"Failed to save span","error":"Failed to insert span: failed to Exec query '[query statement=\"\\n\\t\\tINSERT\\n\\t\\tINTO traces(trace_id, span_id, span_hash, parent_id, operation_name, flags,\\n\\t\\t\\t\\t start

[2018-08-14 01:55] isaachier commented on #988
Note the error message : `unconfigured table traces`. You need to set up the database using the scripts provided in the scripts directory before you start using the collector. Please look at the docs online for more details.

[2018-08-14 02:04] maniaabdi commented on #988
Thanks alot. I really appreciate your help when I run that script I get

``` <stdin>:54:ConfigurationException: <Error from server: code=2300 [Query invalid because of configuration issue] message="Unable to find compaction strategy class 'org.apache.cassandra.db.compaction.TimeWindowCompactionStrategy'"> ``` and I run the script as

``` MODE=test bash ./plugin/storage/cassandra/schema/create.sh |

[2018-08-14 02:28] isaachier commented on #988
I believe this is a Cassandra issue. See what version you are running. IIRC Jaeger expects Cassandra 3. The error message there should help you find the issue.

[2018-08-14 02:54] yancl commented on #976
Thanks @black-adder , got it, very clear.

BTW, is there any way to tell the jaeger ui to render some span more clearly(the red color, for example) to catch attention when some warning(rpc call timeout, for example) or error happens? after all, there may be hundreds of spans in one trace show.

[2018-08-14 03:07] maniaabdi commented on #988
Thanks alot for your help. I reinstall Cassandra using version 3.11 and everything works fine. Thanks

[2018-08-14 03:26] yurishkuro commented on #976
@yancl Jaeger shows red exclamation point next to the span that contains the error=true tag. If the span is not visible because the parent is collapsed, the exclamation sigh bubbles up to the closest visible parent.

![image](https://user-images.githubusercontent.com/3523016/44070137-2d73fa94-9f50-11e8-82bd-baaadb50fb47.png)

If you would like a different visualization, please open a ticket in the

[2018-08-14 03:26] #976 closed

[2018-08-14 09:29] yancl commented on #976
It looks great to me with the current visualization, thanks.

[2018-08-14 10:06] jpkrohling commented on #988
I'm closing this issue, as it seems it's not a bug.

[2018-08-14 10:06] #988 closed

[2018-08-14 11:42] jpkrohling opened #989 "Performance tests - Collector"
To better understand the performance of the collector, we need a set of performance tests exercising different paths and configuration options.

We can get a good start if we are able to settle on a specific machine-type (bare metal, probably) and change only the options, such as:

* Without any metric backend, with Prometheus as metrics backend and with expvar as metrics backend
* Different `--co

[2018-08-14 11:43] jpkrohling commented on #989
Question: should we create a `/dev/null` storage backend? This would make exercising the individual components more accurate.

[2018-08-14 11:47] jpkrohling opened #990 "Performance tests - storage backends"
As a continuation of #989, we also want to exercise a common set of options against different storage backends:

* Cassandra
* Elasticsearch
* Kafka
* in-memory
* Any other "supported" backend that might be available at the time of the test

In order to get comparable results, everything should remain the same except the backend configuration. A tricky part is factoring out the network latency fro

[2018-08-14 11:54] jpkrohling opened #991 "Performance tests - Span ingestion at the Agent"
Similar to #989, we need a set of performance tests for the Agent, to assess its performance at ingesting spans.

To exercise that, we might just need a Golang application that generates reasonably sized spans and dispatches them to the Agent running at `localhost`. At the end of the test, the metrics endpoint at the agent can be used to query the amount of spans ingested, comparing with the numbe

[2018-08-14 12:04] jpkrohling opened #992 "Performance tests - Soak tests"
To better understand how the agent and collector behave over time, it would be useful to get some soak tests. This test would run for 2, 8, 24 and 72 hours, with a close-to-constant influx of spans.

A variation of the test could be with a client that sends spans directly to the collector.

[2018-08-14 13:04] jpkrohling opened #993 "Android support - Jaeger side"
Prerequisite: https://github.com/opentracing/opentracing-java/issues/296

Once the linked task is done, it would be a good idea to see what's missing on Jaeger's side: plug the Jaeger Client Java into the built app and get spans submitted to a remote collector (removing the agent from the equation). If it just works (I doubt it would), the next step would be to continue working on the OpenTracing

[2018-08-14 15:46] yurishkuro commented on #991
I had this `tracegen` util internally that we used to stress test the agent (it needs a bit of cleanup for metrics to use jaeger-lib):
[code]

[2018-08-14 20:26] yurishkuro opened #994 "Prepare for graduation at CNCF"
We are coming up to the anniversary of Jaeger joining CNCF ([9/13/2017](https://lists.cncf.io/g/cncf-toc/topic/8008347#1209)) at incubation stage, and it seems we're ready for graduation.

From https://github.com/cncf/toc/blob/master/process/graduation_criteria.adoc:

## Have committers from at least two organizations.

✅ We have 2 regular committers from Red Hat and 4 from Uber.

## Have achieved

[2018-08-15 07:32] jpkrohling opened #995 "Minimize third-party dependencies"
See https://github.com/opentracing/opentracing-java/issues/296#issuecomment-413076120

This library depends on some third-party libraries, which might reduce the places where Jaeger would run. Ideally, we would ship only with that is absolutely required.

This task might be done as a standalone task, as part of the Performance tests, or as part of the Android tasks.

[2018-08-15 07:37] jpkrohling commented on #994
About this one, the only item missing IIRC is to document the external interfaces ( #456 ). I think we don't have any public external interfaces, so, it might be OK to set this as "non applicable". It all depends on how do we see the Query endpoints: I've seen comments in a few issues saying that this is internal and might change, but I've also us pointing users to some non-official documentation

[2018-08-15 19:14] yurishkuro commented on #994
I think we do want public API for query service, as it provides better extensibility that external users have asked for, as you mentioned. But according to the tool/badge it's ok not to have this item satisfied and still have a passing grade. I think ultimately it will be up to CNCF TOC.

A fix for FOSSA would also be nice (#854).

[2018-08-15 21:59] maniaabdi opened #997 "[Conceptual question] jarger-agent behavior on out of memory"
Hello every one

I was wondering How jaeger-agent behaves if it runs out of memory. Assumes I only have 100MB of memory and jaeger-agent consumes all of it. How does it behave on upcoming traces? Is it dropping old-traces who has not been sent to collector and make room for new ones? Is it blocking new traces? What is the policy in such situation.

Bests
Mania

[2018-08-15 22:18] isaachier commented on #997
I am not 100% but I believe OOM in a Go program results in a panic. AFAIK, we (perhaps intentionally) do not recover from this panic. Nor would we have a clear idea of how to handle such a panic given that Go's runtime handles memory usage. In Go, I believe this is the standard practice. Please correct me if I am mistaken.

[2018-08-16 07:32] jpkrohling commented on #994
I'll add "not applicable" for now, as I understand that we don't have a supported external interface, but we want one for the future.

[2018-08-16 07:39] jpkrohling commented on #994
Actually, I'll add "met", as most of the interaction we have with application developers is via the OpenTracing API, which is well documented. We also have JavaDocs with explanation on how to extend the client with the available SPIs (Sender/MetricsFactory).

[2018-08-16 09:33] zplzpl commented on #962
@yurishkuro

\github.com\jaegertracing\jaeger\examples\hotrod\pkg\log\spanlogger.go

func (sl spanLogger) Error(msg string, fields ...zapcore.Field) {
	sl.logToSpan("error", msg, fields...)
	sl.logger.Error(msg, fields...)
}

How does ZAP share stack traces with jaeger? Do you have any good ideas?

[2018-08-16 09:47] jjcollinge opened #998 "Flexible storage plugin configurations"
## Requirement
A more flexible way of altering storage plugin client configuration from the current Jaeger configuration and Jaeger defaults.

## Problem - what in Jaeger blocks you from solving the requirement?

I am trying to use the Kafka API on Azure Event Hubs as a Jaeger storage backend with the Kafka storage plugin. I have forked the project (https://github.com/jjcollinge/jaeger) and got a

[2018-08-16 14:39] wesleyk commented on #465
@mabn Any chance you had some thoughts on this based on the previous conversation here? Appreciate any help you can provide!

[2018-08-16 15:18] pavolloffay commented on #906
hi All,

I have submitted https://github.com/jaegertracing/jaeger/pull/980
[code]

Performance test with 300k spans and query
`http://localhost:16686/api/traces?service=perf-test-thread-0&limit=50000&lookback=1h&tags={"fooo.bar*?%http.d6cconald":"hehuhoh$?ij","fooo.ba2sar":"true","fooo.ba4342r":"1","fooo.bar1":"fobarhax*+??","fooo.bar*?%http.do**2nald":"goobarRAXbaz","fooo.bar*?%http.don(a44ld":"g

[2018-08-16 19:59] yurishkuro commented on #962
Please realize that HotROD is just a proof of concept example. It has this half-implemented `fieldAdapter' that maps Zap log fields into OpenTracing log fields.

https://github.com/jaegertracing/jaeger/blob/d7bce6aa19378332046b66b21e86b56074e0b53b/examples/hotrod/pkg/log/spanlogger.go#L64-L72

So in theory if someone logs the error to Zap via `logger.Info("...", zap.Error(err))` this adapter will

[2018-08-16 21:41] black-adder opened #1000 "Casandra SpanReader always defaults to LocalOne consistency"
## Requirement - what kind of business use case are you trying to solve?
We allow cassandra consistency to be customized but the cassandra SpanReader always defaults to LocalOne consistency. We should respect the cassandra configuration passed in by the user.

## Problem - what in Jaeger blocks you from solving the requirement?
Casandra SpanReader always defaults to LocalOne consistency

## Propos

[2018-08-17 01:58] isaachier opened #1002 "MockCollector test bug"
## Requirement - what kind of business use case are you trying to solve?

On my desktop (Arch Linux/Manjaro), I consistently get the following test error:
[code]

## Problem - what in Jaeger blocks you from solving the requirement?

The test expects binding to 127.0.0 to fail. After some digging with strace I discovered that somehow the system extends the supposedly broken address of 127.0.0 to be

[2018-08-17 02:05] yurishkuro commented on #1002
maybe we should bind to a different addressed that is more likely to be invalid. The reason the assertion is there is to have code coverage of the error handling.

[2018-08-17 03:13] zdicesare commented on #636
FWIW, we have Jaeger agents communicating through an NLB and did not run into this issue.

[2018-08-17 03:28] zplzpl commented on #962
@yurishkuro Stacktrace storage costs are expensive, do you agree to add stacktrace information to span.logs?

[2018-08-17 03:49] yurishkuro commented on #962
I suggest you decide that on your own, based on your circumstances and environment.

[2018-08-17 11:00] isaachier commented on #1002
Good idea. An easy choice would be an overflow value like "256.0.0.0" instead.

[2018-08-17 11:03] isaachier commented on #1002
Update:

Related failures.
[code]

[2018-08-17 11:48] pavolloffay commented on #906
@Monnoroch  @mabn @kacper-jackiewicz @yurishkuro could you please have a look at ^^^ I would like to get it done quickly.

[2018-08-17 12:11] pavolloffay commented on #906
Most important piece of my proposal is that only *specified tags would be stored as direct object. Other tags would still be stored as nested object like it is right now.

standard OpenTracing tags https://github.com/opentracing/specification/blob/master/semantic_conventions.yaml#L9 and configured tags.

[2018-08-17 12:14] Monnoroch commented on #906
@pavolloffay can we have an option "I am a good engineer and my tags are typed, please store them all in an object"? :)

[2018-08-17 12:16] pavolloffay commented on #906
@Monnoroch the type is not problematic. There is a limit on unique field keys, please read https://github.com/jaegertracing/jaeger/issues/906#issuecomment-413582617.

[2018-08-17 12:18] Monnoroch commented on #906
@pavolloffay ah! Missed that bit, thanks. Still, would be nice to have a flag for reversing the logic: blacklisting tags instead of whitelisting.

Made some comments in the PR.

[2018-08-17 12:31] pavolloffay commented on #906
We don't know how people are using them. If somebody is over the limit they would not be able to upgrade. The backup logic for figuring out what tag should be stored in different mapping would be very ugly...

[2018-08-17 12:47] Monnoroch commented on #906
Yeah, but nowadays people use more and more gRPC services instead or raw HTTP, and there are other RPC frameworks and the standard will not be able to keep up and the feature will become much less useful. Not to mention that bigger companies have their own mini frameworks with custom tag names.

My feeling is that having a reasonable number of tags is a more reasonable limitation than not being ab

[2018-08-17 15:14] vprithvi opened #1004 "Fix flaky Kafka integration test"
**TestKafkaStorage/GetTrace** fails and causes the build to fail. Update the test to be reliable.

[code]

[2018-08-17 15:43] #1002 closed

[2018-08-17 17:26] ajbouh commented on #649
Any update on this? We've found it valuable to store HTTP headers and body for both requests and responses.

These are certainly larger than 64kb in some cases. We don't mind using Span.log or any other custom reporting logic, as we have complete control over the code doing the request processing.

[2018-08-17 17:42] #1004 closed

[2018-08-17 18:45] yurishkuro commented on #998
The provider approach itself seems reasonable, but I am not sure I fully understand the use case. At first I thought the config providers would be applying some env specific defaults to the standard configuration object (e.g. `sarama.Config`). That would be slightly concerning as it would mean some default for e.g. Azure will be hardcoded in the code. But then you also say you want config provider

[2018-08-17 19:54] jjcollinge commented on #998
So I think my proposal conflates a few ideas I had and I got a little muddled writing them down. What I found was, that in order to work with the Azure Kafka API there were some config value that had to be set to certain values, some that were required and some that might have different defaults to the current implementation. So yes we could just add all the sarama.Config values to the Jaeger conf

[2018-08-17 20:17] yurishkuro commented on #998
My preference is to avoid hardcoding defaults in the code, since it requires a code release to fix anything, instead of the and user just providing a different config value. If it's a question of exposing a particular config knob via main factory or via config provider, I would vote for the former, if only to avoid the possibility of different config providers re-implementing the same config optio

[2018-08-17 20:31] jjcollinge commented on #998
Makes sense, I agree, I think this is probably a premature proposal (and likely overkill for this scenario). I just wanted to open the discussion to get your thoughts. I will probably extend the existing Kafka implementation to expose more config values and write an example config for Azure and PR this. I am on holiday this week so it'll be the first week in September. Thanks for taking the time t

[2018-08-17 20:35] #998 closed

[2018-08-17 20:46] yurishkuro commented on #998
Thanks for bringing it up. I think having recommended configs for cloud providers will be quite useful.

[2018-08-18 03:00] adamfadhil commented on #521
Hi

I think I am having the same issue, i could see that my instrumented applications is reporting the span like these: `2018/08/18 02:50:48 Reporting span 45fddd66abb80684:45fddd66abb80684:0:1`, though I could not see the traces on the jaeger ui.

Here is my current setting of the jeager config:
`SamplerConfig{Type: "const", Param: 1}, ReporterConfig{LogSpans: true}`

Here is how I run my applica

[2018-08-18 16:53] yurishkuro commented on #521
@adamfadhil have you tried without `--net="mynet"`? Another option you can try is configure Jaeger client to use HTTP sender instead of UDP, since HTTP sender will be able to log transmission errors.

[2018-08-18 18:57] #948 closed

[2018-08-19 04:37] adamfadhil commented on #521
Hey thanks for the help @yurishkuro . So i've tried it with the LocalAgentHostPort with the previous setting.

Current config: `SamplerConfig{Type: "const", Param: 1}, ReporterConfig{LogSpans: true, LocalAgentHostPort: "jaeger:14268"}`

Running all in one with `docker run -d --name jaeger \
  -e COLLECTOR_ZIPKIN_HTTP_PORT=9411 \
  -p 5775:5775/udp \
  -p 6831:6831/udp \
  -p 6832:6832/udp \
  -p 5

[2018-08-19 14:28] brodmerkle opened #1006 "Support Customization of Agent to Collector Connection Check Frequency"
## Requirement - what kind of business use case are you trying to solve?

When rolling out Jaeger agents on our VMs (using the standalone binary wrapped in a systemd unit), in some cases we'll either be rolling out agents before a working collector exists for that environment, or the collector might at times be down for planned or unplanned outages. During such events the Jaeger agent logs 3 lines

[2018-08-19 15:58] yurishkuro commented on #521
you don't need the `--net` setting, but you do need to pass `--link jaeger` to the application so that  `jaeger:<port>` can be resolved.

https://github.com/jaegertracing/jaeger/tree/master/examples/hotrod

[2018-08-19 17:03] adamfdl commented on #521
Thanks again for the answer.

This is how I run `myapp` currently: `docker run --link jaeger --env-file=./.env --name myapp -p 0.0.0.0:3009:3009 || docker start -i myapp`. How i ran the jaeger all in one is still the same.

The jaeger UI still does not yet list my `service` on the dropdown list, though the instrumented app is running as expected like before (reporting spans).

I have not updated m

[2018-08-20 07:30] jpkrohling opened #1007 "Provide a positive feedback about client->agent->collector connectivity"
## Problem - what in Jaeger blocks you from solving the requirement?
Right now, it's hard to find out if a span reported by the client will arrive at the UI at all. To figure out if the connectivity is working, we ask users to get the client to talk to the collector directly, via HTTP.

## Proposal - what do you suggest to solve the problem or improve the existing situation?
The agent has a set of

[2018-08-20 07:40] jpkrohling commented on #1006
Sounds reasonable -- would you like to send a PR to support this?

By the way:

This seems like a good candidate for a contribution as well :-) Would you have similar unit files for the collector and query as well? I think we could place them where we place the Dockerfile and distribute those unit files with the Linux binaries.

[2018-08-20 13:40] adamfdl commented on #521
@yurishkuro Thank you for the answer, I have solved it now. I will just put up my configs if anyone faces  the same problem.

How I initiate my jaeger jaeger function:
[code]

How I run `myapp`: `docker run --link jaeger --env-file=./.env --name myapp -p 0.0.0.0:3009:3009 || docker start -i myapp`

How I run jaeger all in one: just follow [here](https://www.jaegertracing.io/docs/getting-started/)

[2018-08-20 13:49] yurishkuro commented on #1007
We could have a flag in the clients to verify availability of the agent, eg its config http port. Alternatively, to avoid changing all clients, we could have the same as a small test utility, a probe, that they can run in the same way as their other applications to check the setup.

[2018-08-20 14:55] jpkrohling commented on #1007
We can have it all: we could change the clients on demand *and* have the utility you described :-)

[2018-08-20 15:53] norbertwnuk commented on #906
@pavolloffay I agree with @Monnoroch - there must be a way to extend standard list of tags (whitelist) to cover businesses related tags / existing conventions in frameworks (e.g. guid:x-request-id from Istio). From that perspective however 'index.mapping.total_fields.limit' is problematic for large multi-tenant installations where even a few custom tags per projects will eventually sum up to that

[2018-08-20 16:08] pavolloffay commented on #906
The model follows OpenTracing API which allows different types for tag values. IIRC tag type is only used in storage integration tests. The other consumer can be post-processing job. @yurishkuro we or at Uber use tag types?

[2018-08-20 16:21] ont opened #1008 "500 error for trace's direct link"
## Requirement - what kind of business use case are you trying to solve?
Direct links to traces from custom admin panel.

## Problem - what in Jaeger blocks you from solving the requirement?
Some of direct links don't work. Result page contains this info:
[code]
**But** search query to `/api/traces/?start=...` is fine. Jaeger's web ui also can find this traces and even open them, but after page re

[2018-08-20 19:38] #384 closed

[2018-08-20 23:06] yurishkuro commented on #659
closing old issue, re-open if still a problem.

[2018-08-20 23:06] #659 closed

[2018-08-20 23:09] yurishkuro opened #1010 "Clients should support `jaeger-baggage` header for ad-hoc baggage"
Go client supports it.

* [x] Python https://github.com/jaegertracing/jaeger-client-python/pull/207
* [x] Java https://github.com/jaegertracing/jaeger-client-java/pull/525
* [ ] Node.js
* [ ] C#
* [ ] C++
* [ ] C

[2018-08-21 07:01] zplzpl commented on #962
@yurishkuro

I use pkg/errors.
When I print the error, I found that errorVerbose and stacktrace are the same. What is the purpose of errorVerbose?

I am here to ask, is the reason why I think you should understand this.

err := errors.New("hahaha")
zapLogger.Error("test", zap.Error(err))

{
"level": "error",
"ts": 1534731035.8522868,
"caller": "log/zap_test.go:35",
"msg": "test",
"error": "hahaha"

[2018-08-21 07:47] zplzpl commented on #962
When using pkg/errors, stacktrace looks a bit redundant.

[2018-08-21 11:54] pavolloffay opened #1011 "Fix Kafka storage tests"
Kafka storage tests randomly fails https://travis-ci.org/jaegertracing/jaeger/jobs/418644623

[code]

[2018-08-21 14:13] vprithvi commented on #1007
I agree that having a feedback loop that provides confidence that the client -> agent -> collector connectivity is important.

I like your idea of having the client verify the availability of the agent by means of a rpc, which would allow service owners to quickly rectify any configuration issues. Another alternative would be to move to a connection based protocol for span submission (which would

[2018-08-21 14:14] vprithvi commented on #1011
Previous discussion: #1004

[2018-08-21 16:09] yurishkuro commented on #906
For the reference, Zipkin and OpenCensus API only support string tags.

OpenTracing supports typed tags, and Jaeger stores them as typed values, but so far we have not built any indexing capability that would make use of the types, such as supporting range queries for http.status_code as integer. However, the big data jobs can indeed use typed values.

[2018-08-22 10:13] #799 closed

[2018-08-22 14:54] yurishkuro commented on #888
Yes the plan is to run grpc-gateway that will expose json API based on proto. The existing json model at that point would not be needed for the UI, so if you want to move it inside ES (plus converters, which is really why it was shared with UI in the first place), then it's fine.

[2018-08-22 15:02] pavolloffay commented on #888
I will create a copy of it to esl package. Once the UI is fixed to use the new model we can remove the duplicate in model package.

[2018-08-22 21:06] vprithvi opened #1013 "Fix jaeger-ingester http metrics reporting"
## Requirement - what kind of business use case are you trying to solve?

Use prometheus/expvar metric reporting

## Problem - what in Jaeger blocks you from solving the requirement?

`jaeger-ingester` does not register the prometheus http handler with a http server

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Register the metrics http handlers with a

[2018-08-22 21:28] vprithvi opened #1014 "jaeger-ingester flags for kafka should have kafka prefix"
## Requirement - what kind of business use case are you trying to solve?

Have a consistent format with jaeger-collector, etc

## Problem - what in Jaeger blocks you from solving the requirement?

[code]

## Proposal - what do you suggest to solve the problem or improve the existing situation?

All kafka related flags should be prefixed with `kafka` instead of `ingester`

`ingester.topic` => `kafk

[2018-08-22 21:28] vprithvi commented on #1013
FYI @davit-y

[2018-08-22 21:29] vprithvi commented on #1014
FYI @davit-y

[2018-08-22 21:48] vprithvi opened #1015 "Search by duration is misleading"
## Requirement - what kind of business use case are you trying to solve?
Find traces that are within a duration range.

## Problem - what in Jaeger blocks you from solving the requirement?
The duration field in the `Find Traces` panel refers to span durations and not trace durations.

This is confusing because the sort options on the results page  eg.  `Sort: Longest First` apply to trace duration

[2018-08-22 21:49] vprithvi commented on #1015
cc @tiffon

[2018-08-23 01:58] wolfelven opened #1016 "How to dynamic set Trace sampling strategy?"
Hello, everyone。 I have a question when I was initialized trace configuration, the sampling strategy type was 'const'. How can I reset sampling strategy in agent or collector?

[2018-08-23 03:35] yurishkuro commented on #1016
If the docs (https://www.jaegertracing.io/docs/sampling/) do not explain, please elaborate what is not clear and we can correct them.

[2018-08-23 03:36] yurishkuro commented on #1016
closing as a duplicate of https://github.com/jaegertracing/documentation/issues/125

[2018-08-23 03:36] #1016 closed

[2018-08-23 09:08] pavolloffay opened #1017 "Use json/dbmodel for ES dependencies"
At the moment ES dependency storage uses `model.Dependencies`. It should use a separate model.

[2018-08-23 11:45] gouthamve commented on #166
Hi, this is causing a lot of inconsistent results, and not giving me what I want. See the behaviour here: https://youtu.be/m7qZJIyCmGY

Essentially, this is giving me only the last 3-4 traces and the inconsistency b/w queries is worrying especially because all the spans might not yet be added to the traces being shown and I'd want to see older traces.

Could we atleast show a warning that the resu

[2018-08-23 15:18] jodh-intel opened #1019 "RFC: vsock / virtio-serial support for agent and collector"
## Requirement - what kind of business use case are you trying to solve?

We are adopting Jaeger for [Kata Containers](https://github.com/kata-containers). Kata Containers integrates with container manager systems like Docker and k8s and allows a workload to run transparently (to the container manager) inside a highly optimised virtual machine (VM).

Architectural overview image:

- https://kataco

[2018-08-23 15:56] nsehgal opened #1020 "Jaeger Traces Not visible in the UI : C#"

[2018-08-23 16:59] #1020 closed

[2018-08-23 17:26] devimc commented on #1019
Hi @black-adder

please take a look https://github.com/kata-containers/kata-containers/issues/27#issuecomment-415443679

[2018-08-23 17:34] vprithvi commented on #1019
Is using TCP an option? The go client supports transporting traces over [HTTP](https://github.com/jaegertracing/jaeger-client-go/blob/09ca803c6696871b17a8c5b965f3c00f504f0691/transport/http.go#L74) to collectors.

[2018-08-24 11:05] jodh-intel commented on #1019
@black-adder - As @devimc has pointed to, the other two options on https://github.com/kata-containers/kata-containers/issues/27 are out of the question I'm afraid as they are not secure enough.

Thanks!

@vprithvi - given the above, no, unfortunately we cannot use TCP.

@jpkrohling - good to know, but our stack is entirely based on golang.

[2018-08-24 16:52] wesleyk commented on #465
@black-adder et al, any chance I could get an update on this subject?

[2018-08-25 02:32] yurishkuro commented on #1016
There is no "collector sampling strategy", collectors simply serve the strategies provided via configuration to the clients remotely.  This allows you to change configs, restart collectors, and thus affect the sampling in the clients. We don't support changing sampling strategy in the collectors dynamically via an API call. We do have adaptive sampling though, which will be open sourced soon.

[2018-08-25 09:44] readwritelearn opened #1021 "Unable to find some services."
Hi all :
        I ' m a new to istio and jaeger.  I have installed the istio(1.0) on minikube and deployed both bookinfo and helloworld sample. However, I can only find the helloworld service on jaeger. Can someone tell me the reason or where should I check.

![image](https://user-images.githubusercontent.com/41249226/44617033-5f26c980-a88e-11e8-96e6-50f0dc4c115c.png)
![image](https://user-images

[2018-08-26 21:40] wesleyk commented on #465
Sounds good, just wanted to check that this (IAM-based authn for ES) is something y'all would like to see. I can take a stab at it; any pointers on where to start?

Also perhaps a better name for the issue would now be: "Support AWS Elasticsearch IAM authentication". Thanks @yurishkuro!

[2018-08-27 08:36] jpkrohling commented on #1021
cc @objectiser

[2018-08-27 15:16] ledor473 opened #1022 "Kafka storage doesn't report any error"
## Requirement - what kind of business use case are you trying to solve?
Operate Jaeger Collector that reports to Elasticsearch and Kafka.

## Problem - what in Jaeger blocks you from solving the requirement?
When there's an error with Kafka (missing topic in my case), there are no errors in the logs (even when the log level is set to debug) to help troubleshoot it.

The only sign of a problem is

[2018-08-27 16:32] wesleyk commented on #465
Fantastic, thank you!

[2018-08-28 07:59] objectiser commented on #1021
@readwritelearn Could you list the pods? Did you use auto or manual injections for the bookinfo example?

[2018-08-28 13:32] jpkrohling commented on #928
I started working on this and the code is located here: https://github.com/jaegertracing/jaeger-operator

It currently supports only the `all-in-one`, but I'd appreciate any feedback on the main design.

[2018-08-28 20:00] #1022 closed

[2018-08-28 20:30] radekg commented on #422
Hi @yurishkuro, is it possible that your in-memory storage issue could be worked around with some sort of lock file? `go-plugin` seems to support reattaching: https://github.com/hashicorp/go-plugin/blob/master/client.go#L117.

We at https://github.com/Klarrio use Jaeger for some of the interesting bits on our platform. We are interested in having storage plugins implemented and we can contribute.

[2018-08-28 21:27] isaachier commented on #422
I don't think lock files are relevant here. If I understand correctly, @yurishkuro means that Hashicorp plugins are always spawned as a subprocess, so cannot be shared among multiple services. Collector and query need to access the same database in order for the tests to succeed.

However, I don't see any problem with implementing a storage plugin interface in plain grpc without Hashicorp plugins.

[2018-08-28 23:13] radekg commented on #422
@isaachier one could write this from scratch but Hashicorp plugins support reattaching, the only inconvenience is that there is a plugin instance starting and stopping immediately due to not being able to bind. Why writing everything from scratch?

[2018-08-29 02:17] yurishkuro commented on #422
Hashicorp plugin framework is perfectly fine for running 3rd party code in Jaeger, e.g. if someone wants to support a new type of storage like DynamoDB which we don't want to support explicitly (and compile) in the main code base. But the issue with in-memory storage is that it needs to run as a standalone process so that collector & query service can both access it. That service would need an ext

[2018-08-29 02:19] yurishkuro commented on #422
FWIW, this issue is no longer blocked, if someone wants to take a stab at the storage layer IDL in protobuf (using the already defined Span model), then it would be possible to implement a plugin.

[2018-08-29 12:39] gouthamve opened #1026 "agent: tchannel timeout should be configurable"
## Requirement - what kind of business use case are you trying to solve?

We run a central jaeger collector and all our different clusters send spans over stunnel to that central collector. Now this means sometimes there are latency blips and it takes more than a second.

## Problem - what in Jaeger blocks you from solving the requirement?

Currently the timeout is hardcoded to `1s` here: https://

[2018-08-29 15:17] gouthamve opened #1027 "Deprecate const sampling in favour of probability = 0/1"
The current `const` sampling is redundant because probabilistic with param: `0/1` does the same.

[2018-08-29 15:21] gouthamve commented on #1026
Umm, @black-adder I found this: https://github.com/jaegertracing/jaeger/issues/927 after opening the issue. I think this is a sub issue in that.

As mentioned there, I'm not sure this is trivial to tackle as it involves some refactoring and without clear instructions and context, new comers don't know what to refactor :) Having said that, if you're open to making just this timeout a flag, I'll tak

[2018-08-29 15:29] gouthamve commented on #1027
From the gitter channel (too bad I can't link the convo :/):

Reasons for keeping `const`:
1. probabilistic sampler calls rand(), which is not needed when you do Always/Never
2. It's more explicit

My usecase was to support `const=1` via the sampler strategies, but because it's not supported, I'm settling for `probabilistic=1`.

Now, point 1 above can be mitigated by adding checks for `param == 1/

[2018-08-29 15:32] black-adder commented on #1026
Good find; on paper looked so innocently simple.

[2018-08-29 15:50] pavolloffay commented on #906
I have submitted https://github.com/jaegertracing/jaeger/pull/1018 as a final PR.

[2018-08-29 16:05] isaachier opened #1028 "Crossdock and Travis are buggy"
## Requirement - what kind of business use case are you trying to solve?

~~Ever since #815, the crossdock tests have been broken.~~ This should have been caught immediately, but an error-handling issues in `.travis.yml` allowed the failed test to be ignored.

## Problem - what in Jaeger blocks you from solving the requirement?

The existing crossdock config and Travis CI setup have multiple issue

[2018-08-29 16:30] isaachier commented on #1027
I don't really believe it makes sense to add a check just in order to delete the const sampler. I like the idea of a simple sampler for testing. To quote something I heard recently "splitters can be lumped more easily than lumpers can be split." ([Wikipedia](https://en.wikipedia.org/wiki/Lumpers_and_splitters)). By lumping both strategies into the probabilistic sampler, we make it harder to split

[2018-08-29 16:47] yurishkuro opened #1030 "Add documentation for Kafka ingestion"
ok if it's going to be incomplete, we can iterate after the release, but we should have at least the way to run the things and maybe an alternative architecture diagram

[2018-08-29 16:48] yurishkuro opened #1031 "Publish binaries for Kafka ingesters"
Docker and raw executables

[2018-08-29 21:00] isaachier commented on #1028
OK I found that the changes in #815 are actually correct. I still see some spurious errors now and then about a missing executable. I believe this is more of a build issue than a Docker syntax issue. We may not be building the images and/or checking that the binary exists. Either way, keeping issue for other docker-compose/Travis issues I saw.

[2018-08-30 13:14] isaachier commented on #1028
Turns out MacBook is buggy, not tooling. My bad here.

[2018-08-30 13:14] #1028 closed

[2018-08-30 13:47] yurishkuro commented on #1028
Please document your findings

[2018-08-30 15:05] wesleyk commented on #465
So I had a misunderstanding above; signing and using IAM based auth are one and the same. Furthermore, this is possible even with VPC-based access to ESS. More details on Amazon's docs here: https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html.

The go elastic search client that jaeger uses has some docs on signing requests that make the integration seem fairly reaso

[2018-08-30 15:33] isaachier commented on #1028
OK here it goes:

- DNS lookup is a real issue for me, but not widespread enough to warrant the fix I proposed.
- bash handles `if`/`then` as you would expect. Proof: `(if true; then cat $PWD; fi) || echo failure` => `failure`.
- Command syntax is correct to drop executable path. Entrypoint is used and arguments are appended to the entrypoint.
- `make build-crossdock` seems to work on Travis, just

[2018-08-30 16:25] yurishkuro opened #1035 "Include new UI in 1.7"
just a bump of a submodule, issue is just for tracking

[2018-08-31 02:17] tiffon commented on #166
@gouthamve, thanks to you and the others on this thread for calling out this issue.

This is definitely a severe issue, and it's great to know the extent it's affecting you.

I'll break the problems described into two broad categories:

1. Challenges with search in Cassandra
1. Challenges with results containing incomplete traces

For # 1, we have two tracks for addressing it. For the longer-term,

[2018-08-31 02:30] rbtcollins commented on #166
Re: 2 - is there a separate ticket for that? I have some thoughts but don't think this is the right ticket.

[2018-08-31 13:41] wesleyk commented on #465
Ah @jmwaniki good idea; in fact I think that could drastically reduce the surface area of AWS-details that are encoded in the configuration API. We would only need to accept a region flag, and if such flag is set then we would provide IAM auth.

A downside there is that an AWS region flag doesn't scream "this enables IAM". We could make that clear in the docs, or maybe we name the flag something l

[2018-08-31 13:45] wesleyk commented on #465
@black-adder with that change, do you feel the API surface area is kept minimal enough? I think we need at least one flag for the client to indicate that they actually do want IAM auth enabled; inferring too much based on what's available in the environment seems potentially troublesome and not backwards compatible with existing clients.

[2018-08-31 13:48] wesleyk commented on #465
Ah, but you can actually specify the region in that config file as well! So really, we can just have one flag that specifies that the client wants IAM auth enabled.

So we could have a `aws.enable_iam`, and then create a session as John described above.

I like that! If that sounds good to y'all I can update the PR with such changes.

cc @black-adder @jmwaniki

[2018-08-31 14:16] jpkrohling commented on #928
We are very close to an initial release of the operator. I'd love feedback from you, @pavelnikolov and @dvonthenen. Of course, I'd also welcome feedback from anyone else interested in trying it out :)

[2018-08-31 14:53] jmwaniki commented on #465
@wesleyk
That sounds good to me, having a flag that specifies client wants IAM auth enabled `aws.enable_iam` and the other flag for specifying the region `.aws.iam_auth_region`.

[2018-08-31 15:00] wesleyk commented on #465
Great! I think we don't even need the region because clients can specify that view a local config file.

[2018-08-31 15:55] tiffon commented on #166
@rbtcollins Great! Currently, we don't have a ticket for issues around incomplete traces. Can you start one to capture your thoughts?

[2018-08-31 17:17] black-adder commented on #465
I'm good with just exposing `aws.enable_iam`, can you make the changes so I can review?

[2018-08-31 18:00] wesleyk commented on #465
@black-adder PR updated!

[2018-08-31 18:35] jmwaniki commented on #465
@wesleyk
Just realized the credentials retrieved from the session have a token, that token might expire eventually. The token however is optional for aws credentials, omitting the token from the credentials and instantiating static credentials might solve this issue.

Similar to what you had before, with values from the session credentials:
`
credsValue, err := sess.Config.Credentials.Get()
creds

[2018-08-31 23:04] jmwaniki commented on #465
@wesleyk
Using session credentials to create static credentials like I commented above fails to connect to elasricsearch. I tried it and the session token is still required to connect to elasticsearch. In any case, wanted to note that session credentials would need to be refreshed eventually.

[2018-08-31 23:36] yurishkuro commented on #422
Mostly it's different because it's data model aware and can answer the query service API calls (in a naive way by scanning through all traces). Doing the same with redis would require retrieving all data into the query service first.

[2018-09-01 08:53] knrt10 commented on #892
@jpkrohling  I would like to work on this issue. I am new to go, would you please guide me to which files should I look into. It would be really helpful 😅.

[2018-09-01 15:35] yurishkuro commented on #422
I am happy to be proven wrong, but afaik harshicorp go-plugin does not give you "the address to connect to", instead you give it a binary and it runs the binary as a child process and communicates to it via unix socket, which is private to the parent process, i.e. cannot be shared with other processes.

[2018-09-01 15:42] yurishkuro commented on #892
I am not clear what this issue is about, it needs more details. It sounds closely related to #166, which is unlikely a "good first issue".

[2018-09-01 15:44] yurishkuro commented on #892
@knrt10 I would recommend picking another ticket among those labeled [good first issue](https://github.com/jaegertracing/jaeger/labels/good%20first%20issue).

[2018-09-01 16:42] knrt10 commented on #892
Ok thanks let me try.

[2018-09-02 21:41] isaachier opened #1039 "Compilation error with Go 1.11"
## Requirement - what kind of business use case are you trying to solve?

A compilation error occurs when running `make` on the main project using Go 1.11.

## Problem - what in Jaeger blocks you from solving the requirement?

The forwarding of vararg arguments to `printf` wrapper functions without explicit conversion to a slice. As the release notes of Go 1.11 point out:

## Proposal - what do yo

[2018-09-03 07:15] jpkrohling commented on #892
@yurishkuro this issue is only about adding a sort clause to the query used by the UI endpoint to list the traces. The in-memory might not be affected, but it would be good to make sure both the Cassandra and ES plugins have such clause in place.

[2018-09-03 07:56] jpkrohling opened #1041 "Build failure on Kafka Ingester"
Seen on the Travis build for #1038.

[code]

[2018-09-03 15:54] #1039 closed

[2018-09-04 09:10] xmm1989218 commented on #197
any updates? @jbdalido

[2018-09-04 10:54] jodh-intel commented on #1019
I've started to have a look at how this might work given the requirement to avoid linking the jaeger client package to the vsock package. I'm still not very familiar with the codebases, but here's what I've found out so far (warning: there may be mistakes herein ;-)...

# Generic tasks

- Create a new `TVSockTransport` Thrift implementation for VSOCK. This would implement `thrift.TTransport`.

- P

[2018-09-04 13:36] black-adder opened #1043 "Enable tracing of ES queries"
## Requirement - what kind of business use case are you trying to solve?
Similar to https://github.com/jaegertracing/jaeger/pull/1038 it'll be nice if we emit spans for ES span reader

## Problem - what in Jaeger blocks you from solving the requirement?
Context is already passed in to ES span reader, all we'd have to do is generate spans.

Could we refactor anything from https://github.com/jaegert

[2018-09-04 14:57] black-adder opened #1044 "Allow configuration of jaeger client in the query service"
## Requirement - what kind of business use case are you trying to solve?
The jaeger query service allows for tracing the query service itself. In the all-in-one container, the [default](https://github.com/jaegertracing/jaeger/blob/master/cmd/query/main.go#L83) initialization of the client works since the agent/collector reside on localhost. However, when the query service is deployed individually,

[2018-09-04 16:10] isaachier opened #1045 "Run gosimple tool to as part of lint task"
## Requirement - what kind of business use case are you trying to solve?

Enforce simple and readable code by running a simplicity checker (gosimple) as part of the lint job.

## Problem - what in Jaeger blocks you from solving the requirement?

gosimple is not used to check for unnecessarily complex code.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

[2018-09-04 16:54] Dean-Coakley commented on #801
@yurishkuro Thinking about picking up this issue. Can you clarify:
You want instructions about how to deploy without docker added to documentation?
Or you want a note added that deploying the binaries is as: running "them in a similar manner as the Docker images."

Do these changes belong in https://github.com/jaegertracing/documentation/blob/master/content/docs/deployment.md ?

Sorry if obvious q

[2018-09-05 03:00] yurishkuro commented on #892
the fundamental issue with Cassandra search may cause different order as well. The UI already has a Sort control, so if that's not helping then the issue is with the backend storage returning non-stable results, and I think it's mostly the problem in #166.

[2018-09-05 03:06] yurishkuro commented on #1019
@jodh-intel fyi #422 and ##927 are sort of pre-requisites to what you're suggesting with the pkg/plugin.

[2018-09-05 11:20] liukai2012 opened #1047 "Unnecessary restriction on tags + min-duration queries"
In query_parse.go:

if minDuration != 0 && len(tags) > 0 {
		// This is because querying for this almost certainly returns no results due to intersections
		return nil, errCannotQueryTagAndDuration
}

I do not understand why minDuration and tags do not appear when query tracing.

Anyone help me?

[2018-09-05 12:11] xmm1989218 commented on #197
I found the new scylladb has been support TimeWindowCompactionStrategy, I use the newest scylladb with --experiment 1, it works well, and the performance is awesome

[2018-09-05 12:11] liukai2012 commented on #690
@rbtcollins Do you know why the limit exists?

[2018-09-05 13:02] yurishkuro commented on #690
this is essentially the same reason as #166

[2018-09-05 13:02] yurishkuro commented on #1047
please see #166

[2018-09-05 13:03] xmm1989218 commented on #197
sorry I found new issue "dependances" page is not support by scylladb, because of cassandra-spark-connector will use "ALLOW FILTERING", for performance reason, scylladb <= 2.3 is not supported, on scylladb offical website say it will support at 2.4.

[2018-09-05 13:08] yurishkuro commented on #197
fyi we plan to remove that part of the schema in `dependencies` and make it compatible with Cassandra <3.4 (no SASI indices)

[2018-09-05 18:08] vprithvi opened #1051 "Jaeger Query can OOM when retrieving large traces"
## Requirement - what kind of business use case are you trying to solve?
- Retrieve large traces
- Be resilient against bad instrumentation using same traceID for all traces

## Problem - what in Jaeger blocks you from solving the requirement?
Jaeger Query OOMs on retrieval of large traces on Cassandra.
If someone is crafty, they can easily create a trace with millions of spans, and attempt to ret

[2018-09-05 19:37] ledor473 commented on #833
I quickly look into implementing this but I couldn't find any easy place to hook into.
Unless I've missed something (totally possible as I've never looked at Thrift), the Agent seems to only forward/proxy what it receives to the Collector (with a buffer).

[2018-09-05 22:49] yurishkuro opened #1052 "Remove dependency on sarama-cluster (Kafka driver)"
* partitions not picked up on rebalance: https://github.com/bsm/sarama-cluster/issues/235
* partitions are can be held even when no work is being done by client: https://github.com/bsm/sarama-cluster/issues/261
* potential deadlock when rebalancing: https://github.com/bsm/sarama-cluster/issues/255#issuecomment-413967695

[2018-09-06 01:57] liukai2012 commented on #690
@yurishkuro if i use es as a backend storage, can I remove the limit

[2018-09-06 02:50] yurishkuro commented on #690
to my knowledge queries in ES should always work

[2018-09-06 03:03] liukai2012 commented on #690
Ok, Thanks

[2018-09-06 07:17] pavolloffay commented on #1051
Related issue to ES, although its related to overloading ES not query https://github.com/jaegertracing/jaeger/issues/960

[2018-09-06 21:26] #1045 closed

[2018-09-07 14:37] vprithvi opened #1054 "Jaeger operational observability"
## Requirement - what kind of business use case are you trying to solve?
Verifying whether all components of Jaeger have been deployed successfully without needing to run special applications, etc.

I would like confirmation of Jaeger agent and client health, version, reachability and it's ability to send spans.

## Problem - what in Jaeger blocks you from solving the requirement?
- none

## Propo

[2018-09-07 14:46] jpkrohling commented on #1054
I think the main source of information should be to the collector. A new module (say, "admin") would then query all known collectors and aggregate this information when needed.

Ideally, this admin module would have an extra management endpoint, to get notified when new collectors are added/removed from the cluster.

[2018-09-07 14:54] pavolloffay commented on #1054
Is it related to https://github.com/jaegertracing/jaeger/issues/789?

[2018-09-10 07:28] NeoCN commented on #414
Is there any update on this issue ?

[2018-09-11 02:24] billowqiu opened #1056 "jaeger-collector signal SIGSEGV"
## Requirement - what kind of business use case are you trying to solve?

jaeger-collector crash

## Problem - what in Jaeger blocks you from solving the requirement?

jaeger-collector crash，the panic message：
`
{"level":"error","ts":1535587411.3183763,"caller":"app/span_processor.go:102","msg":"Failed to save span","error":"Failed to create index: elastic: Error 503 (Service Unavailable): failed

[2018-09-11 02:44] yurishkuro commented on #1056
wtf why is my name in the stacktrace 😄

the error says `"Failed to create index: elastic: Error 503 (Service Unavailable): failed to process cluster event (create-index [jaeger-span-2018-08-30], cause [api])"`. SEGSEGV looks like a red herring.

[2018-09-11 03:28] yurishkuro commented on #1056
it's probably because I had to do a manual release, which was brand new and Travis failed. No harm.

[2018-09-11 03:48] billowqiu commented on #1056
what cause the "panic: runtime error"， i think the "Failed to create index" do not cause this, because the message appear many times early.

[2018-09-11 13:08] yurishkuro commented on #1056
Good find. Do you want you post a fix?

[2018-09-12 01:08] xmm1989218 opened #1057 "tag_index and duration_index's GC is not work fine"
I use scylladb as storage (also test with cassandra simplely), tag_index and duration_index's sstable is not GCd fine. the expired sstables is not GCd. I add a dummy dimension to tag_index nad duration_index's schema. the problem go away. is there any better way to fix it?

http://user.cassandra.apache.narkive.com/MTHPUtGG/ttls-on-tables-with-only-primary-keys

[2018-09-12 03:29] yurishkuro commented on #1057
sounds like we should add a dummy field to these tables

[2018-09-12 03:29] yurishkuro commented on #1057
actually, I don't think we're seeing this issue on C 3.9

[2018-09-12 05:30] #1057 closed

[2018-09-12 13:17] yurishkuro commented on #1057
Have you found the reason why you were seeing this?

[2018-09-12 13:58] isaachier commented on #1057
@xmm198218, could you explain what you saw when texting with Cassandra instead of ScyllaDB? Also, how does the link relate to this issue?

[2018-09-13 02:08] billowqiu commented on #1056
ok，i will give a pr.

[2018-09-13 13:19] maniaabdi commented on #425
Do we have any implemented version of tail sampling with Jaeger?

[2018-09-13 13:26] isaachier commented on #425
Not yet. On our to do list for sure.

[2018-09-14 09:43] gouthamve opened #1058 "collector: reload sampling strategies on file content change"
## Requirement - what kind of business use case are you trying to solve?

It should be possible to change the sampling strategies without restarting the collector.

## Problem - what in Jaeger blocks you from solving the requirement?

I modified the sampling strategies file, only to find that it had no impact.

## Proposal - what do you suggest to solve the problem or improve the existing situatio

[2018-09-14 14:28] jjcollinge commented on #955
I do still intend to finish this (I have the code ready) - I'm just waiting on a bug fix in the service so I can properly test.

[2018-09-14 14:36] jjcollinge commented on #998
I do still intend to finish this (I have the code ready) - I'm just waiting on a bug fix in the service so I can properly test.

[2018-09-14 14:46] black-adder commented on #1058
Ideally, we can use https://github.com/fsnotify/fsnotify and have a separate go routine that watches the file and then updates the strategies [here](https://github.com/jaegertracing/jaeger/blob/master/plugin/sampling/strategystore/static/strategy_store.go#L33) on any updates.

[2018-09-14 14:52] gouthamve commented on #1058
Great! Was just waiting to see if there was interest, I'll work on this this weekend.

So, I come from prometheus, and we make sure that a SIGHUP or a POST request to `/-/reload` is required before we update the config. This is because we don't want to reload a partially written file which could happen if we are using `fsnotify`.

Now the `/-/reload` endpoint is really just there to get around k8s

[2018-09-14 15:42] black-adder commented on #1058
I like the idea of having a `reload` endpoint but it might broaden the scope of this issue and might require an extensive surgery. Can you point me to the code where prometheus receives the `reload` signal and then propagates the signal to all relevant processes?

For now, I'd prefer just using `fsnotify` (if the need is very pressing) but I'm willing to look into adding an endpoint and updating a

[2018-09-14 16:32] srflaxu40 commented on #218
Does Jaeger use react? could we implement something like google or github auth just embedding the react component?

https://github.com/checkr/react-github-login

https://www.npmjs.com/package/react-google-login

[2018-09-14 17:47] gouthamve commented on #1058
This block here does it: https://github.com/prometheus/prometheus/blob/457e4bb58e0fd3c10e16ecaabfeb04fb2c41bac5/cmd/prometheus/main.go#L478-L488

While SIGHUP is registered here: https://github.com/prometheus/prometheus/blob/457e4bb58e0fd3c10e16ecaabfeb04fb2c41bac5/cmd/prometheus/main.go#L469-L470

The webhandler is quite straight-forward. I'll take a stab soon.

[2018-09-18 06:30] wxyu9191 opened #1059 "depoly the collector,elasticsearch and query, but cannot find the data in query ui"
the collector's logs show that the spans are stored successful, but in the query ui I cannot search anything.
And with the some program, in the all-in-one, it can show the traces.So what is the problem?

these my deployed order:
docker run -d --name elasticsearch --restart=always -p 9200:9200 -p 9300:9300 -e ES_JAVA_OPTS="-Xms512m -Xmx512m" elasticsearch:5.6.4

docker run -d --name jaeger-collecto

[2018-09-18 06:56] fredipevcin commented on #1059
Have you tried passing the same values for ES to query?
`-e ES_SERVER_URLS=http://elasticsearch:9200 -e ES_USERNAME=elastic`

Does query logs anything that will give more context?

[2018-09-18 07:27] wxyu9191 commented on #1059
these are all the logs of query:
{"level":"info","ts":1537050099.5767357,"caller":"healthcheck/handler.go:99","msg":"Health Check server started","http-port":16687,"status":"unavailable"}
{"level":"info","ts":1537050129.6174698,"caller":"query/main.go:180","msg":"Archive storage not created","reason":"Archive storage not supported"}
{"level":"info","ts":1537050130.2850518,"caller":"query/main.go:1

[2018-09-18 08:18] fredipevcin commented on #1059
Are you running an agent?

Try with this docker-compose file
[code]

[2018-09-18 09:49] #906 closed

[2018-09-18 10:54] fthiel opened #1063 "Elasticsearch: incomplete first trace in new daily index"
## Requirement - what kind of business use case are you trying to solve?

- using jaeger, elasticsearch with daily automatically created indices and kibana for logging
- java test application that produces one trace with several spans every 5 minutes
- there are some sub spans that are started and closed in parallel threads

## Problem - what in Jaeger blocks you from solving the requirement?

All

[2018-09-18 13:30] jpkrohling commented on #218
Yes, it does use React. You can open an issue on the https://github.com/jaegertracing/jaeger-ui repo about this.

[2018-09-18 14:44] objectiser opened #1065 "Duplicate metric "errors.busy" and "spans.dropped""
## Requirement - what kind of business use case are you trying to solve?
Remove unnecessary duplicate metric.

## Problem - what in Jaeger blocks you from solving the requirement?
It appears that the collector is reporting two different metrics for the same situation.

If a span [cannot be added to the queue](https://github.com/jaegertracing/jaeger/blob/3fd06773acb7d8adc2d1dddda93d8b7b8c6594d1/cmd

[2018-09-18 15:41] #1035 closed

[2018-09-19 02:30] wxyu9191 commented on #1059
No, I pass the data to the collector directly  through the port 14268, that's so strange, I can see the data in the elasticsearch, but the query cannot show them,,,,,,crazy

[2018-09-19 05:59] #932 closed

[2018-09-19 07:34] fthiel commented on #1063
yesterday i manually created the index for today and let the test application run again and no spans got lost, that confirms it has something to do with the automatic creation of a new index

[2018-09-19 08:14] pavolloffay commented on #1063
@fthiel thanks for reporting we will have a look

[2018-09-19 09:49] pavolloffay commented on #1011
I got following error when running locally

[code]

[2018-09-19 09:59] pavolloffay commented on #1011
I don't think that failures are reletad to kafka not being ready. It sometimes fails even when kafka is started a long time before. The test also randomly fails when it's executed multiple times with the same kafka instance.

[2018-09-19 11:14] pavolloffay opened #1069 "Fix deploy process to github"
Deploy process is broken since < 1.6.

1.7 https://travis-ci.org/jaegertracing/jaeger/jobs/430467677#L1621
1.6 https://travis-ci.org/jaegertracing/jaeger/jobs/402292575#L1622

` make build-all-platforms`  is not executed before `package-deploy.sh` which runs in `before_deploy`.

[2018-09-19 11:27] pavolloffay commented on #1069
The problem is that `build-all-platforms` runs on master branch but during the release `$BRANCH` is set to tag name.

This is for a not release commit https://travis-ci.org/jaegertracing/jaeger/jobs/430463086#L1410

[2018-09-19 14:07] pavolloffay opened #1071 "Print all open ports"
## Requirement - what kind of business use case are you trying to solve?

Every binary should print all open ports on startup. This makes it easy to find the port and connect. The log message should contain info about the port - e.g. what it is used for.

[2018-09-19 14:08] pavolloffay commented on #1071
For example collector does not say anything about opening `14267` for jaeger agent.

[code]

[2018-09-19 15:53] yurishkuro commented on #1071
+1

[2018-09-19 21:06] vprithvi opened #1072 "Report Kafka Offset lag in seconds"
## Requirement - what kind of business use case are you trying to solve?

Currently, offset lag is reported in number of messages which is difficult to contextualize without also looking at number of incoming messages and rate of processing

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Compute offset lag in minutes and emit metric

## Any open question

[2018-09-20 13:49] #1069 closed

[2018-09-20 17:55] pavolloffay commented on #1011
I could not reproduce error ^^^. After merge https://github.com/jaegertracing/jaeger/pull/1068. I often get

[code]

I have tried chaning `partitionIDToState` to `sync.Map` in consumer but it didn't help.

I will revert #1068

[2018-09-21 12:12] pavolloffay commented on #707
I have started looking into this. Here is some start https://github.com/jaegertracing/jaeger/compare/master...pavolloffay:use-stages?expand=1

[2018-09-21 21:03] isaachier opened #1078 "Debug span throttling"
## Requirement - what kind of business use case are you trying to solve?

Limit the amount of debug spans per service so the Jaeger backend cannot be flooded by debug traces.

## Problem - what in Jaeger blocks you from solving the requirement?

As of now, Jaeger allows any service to emit debug spans for debugging traces in production. However, this feature can be abused, causing slowdowns in the

[2018-09-24 21:35] vprithvi commented on #1072
@yurishkuro Indeed! I'll have a diff up in a day or so. Sadly, we can't benefit from this internally yet.

[2018-09-25 14:28] pavolloffay opened #1083 "Elasticsearch Error 411 (Length Required)"
jaeger-query shows `HTTP Error: elastic: Error 411 (Length Required)`

![screencapture-localhost-16686-search-2018-09-24-15_52_10 1](https://user-images.githubusercontent.com/5618424/46020990-eb234f80-c0df-11e8-8b2d-e1dc7db26d62.png)

cc @tovin07

Deployment:
[code]

[2018-09-25 14:37] pavolloffay commented on #1083
@tovin07 I wasn't able to reproduce this with ES 6.4. Could you please download jaeger indexes and post them here?

Or post here a sample span which is causing this error.

[2018-09-25 18:27] vprithvi opened #1085 "Deprecate custom retry logic"
## Requirement - what kind of business use case are you trying to solve?
The ingester uses custom retry logic here to retry failing requests
https://github.com/jaegertracing/jaeger/blob/933efb3a52b0acd513a11e1d6711f3cf6578d8e0/cmd/ingester/app/processor/decorator/retry.go#L92-L94

## Proposal - what do you suggest to solve the problem or improve the existing situation?
Deprecate this retry logic,

[2018-09-25 21:49] dragoscirjan commented on #211
Hello! How's the status on this one? Did anyone complete anything?

[2018-09-26 07:09] asp24 commented on #211
All packages in code-tool org which contains "jaeger" in the name -- stable and works for a long time in production. So from my point of view, it's completed

[2018-09-26 07:57] dragoscirjan commented on #211
@asp24 I'm not sure I understand your answer. If there is an official PHP jaeger client, I'm not sure where I could find it (if not on this project page). Furthermore, I see both major developers from the discussion above @jukylin and @jonahgeorge continue to develop on their own.

So my question still stands.

[2018-09-26 16:08] yurishkuro commented on #211
@dragoscirjan we have had a similar situation with the C# client, where a couple of different repositories existed implementing the client, but their authors agreed to join the efforts, which resulted in an official client under the jaegertracing org maintained by the original authors. Something similar needs to happen here; we as core maintainers cannot make the call on which project is a better

[2018-09-26 16:30] jonahgeorge commented on #211
If we can get @jukylin's repo accepted into the jaegertracing org, I'm happy to sunset mine

[2018-09-27 08:14] pavolloffay commented on #1041
I haven't seen this for a while I will close, please reopen if it still happens

[2018-09-27 08:14] #1041 closed

[2018-09-27 12:29] malaymatwankar opened #1088 "Having database calls visualized in the dependency graph"
In tracing a request coming from client, I can easily see a flow from `service-1` to `service-4 `via two more services `service-2` and `service-3`. So this will give me a nice dependency graph which is all good and pretty helpful to get an overview of how the system flow goes. What I find missing is that my `Service-2` makes a small db call to save some data, now in the dependency graph I can not

[2018-09-27 13:43] vprithvi commented on #1014
@pavolloffay This is still valid, I agree that it's ok to make this breaking change.

[2018-09-27 15:07] ledor473 opened #1089 "Consider UPX to reduce binary size"
## Requirement - what kind of business use case are you trying to solve?
Not really a requirement, but smaller binaries are always welcome

## Problem - what in Jaeger blocks you from solving the requirement?
None

## Proposal - what do you suggest to solve the problem or improve the existing situation?
Internally, we use [UPX](https://upx.github.io/) to reduce the size of the Jaeger binaries.
Her

[2018-09-27 15:29] vprithvi opened #1090 "Remove dependency on sarama-cluster"
Use high level consumer groups from https://github.com/Shopify/sarama/pull/1099 instead of sarama-cluster.

This is a rewrite of high level consumer functionality and can side step the issues described in https://github.com/jaegertracing/jaeger/issues/1052

[2018-09-28 04:59] malaymatwankar commented on #1088
This just seems like a far fetched idea but can we get the details of instance every time the db call responds back, if that happens then a comparison can be made whether both services called same instance or not, but for that every db will have to return a metadata which is not in control of Jaeger.

[2018-09-28 06:30] #1031 closed

[2018-09-28 06:31] pavolloffay commented on #929
The last missing part is documentation. Which is tracked separately #1030

[2018-09-28 06:31] #929 closed

[2018-09-28 14:34] yurishkuro commented on #1088
In both cases we're at the mercy of the instrumentation. I don't know if such response details protocol exists in any DBs.

To clarify, by "nstance" I did not mean which specific node of the db cluster served the request. I think if the database has such complexity where it's relevant, like in Cassandra, then the db should support tracing internally. What I meant was more the logical cluster name,

[2018-09-28 14:48] ledor473 opened #1093 "Ingester default healthcheck port"
## Requirement - what kind of business use case are you trying to solve?
Run the jaeger-ingester with sane defaults easily

## Problem - what in Jaeger blocks you from solving the requirement?
[code]

## Proposal - what do you suggest to solve the problem or improve the existing situation?
Add a default healthcheck HTTP port just like Collector and Query

## Any open questions to address
- Which p

[2018-09-28 15:02] jpkrohling commented on #1093
Is it, or will it be, included in the `all-in-one`? If so, it could be the health-check port that is used there +1 (14270 then)

[2018-09-28 15:03] jpkrohling commented on #1093
In time, I'm not implying that the all-in-one would have two health-check ports if the ingester gets added :)

[2018-09-28 15:05] ledor473 commented on #1093
Here's the various default ports:
[code]

[2018-09-28 15:13] jpkrohling commented on #1088
I have the feeling that this is not something that should be included in Jaeger. So far, what we see in Jaeger is something that we know was reported by an actual client/service. Adding heuristics to add a service to the graph breaks this idea and we suddenly have something in the graph that might not really exist (although it _probably_ does).

I feel like this is something that a service mesh in

[2018-09-28 15:15] jpkrohling commented on #1093
I think the `all-in-one` should include everything, turning on the required components on demand

[2018-09-28 15:29] vprithvi commented on #1093
I see - I agree with what you mentioned earlier then!

[2018-09-28 15:58] yurishkuro commented on #1093
eh, I am not convinced of that. The point of all-in-one is to be, well, all in one. Even though we support external storage, it does not break the notion that the rest of Jaeger components are "all in one". But with Kafka ingester it kind of breaks down, since you need _another_ component writing to Kafka. And while it could be the same process both writing and reading Kafka, we're getting into a

[2018-09-28 16:01] yurishkuro commented on #1088
@jpkrohling by why though? I do recall seeing other APM tools visualizing DB nodes with dashed lines because there's no tracing coming from them directly, but the instrumentation clearly knows that there was a call to a remote service. In fact, this doesn't even need to be done for DB only, anytime we have a leaf client span we know it's calling out to some non-instrumented service. As long as we

[2018-09-29 09:11] jpkrohling opened #1095 "What belongs in all-in-one and what doesn't"
Currently, it's very clear what the all-in-one contains: everything that one needs to run a Jaeger backend is included in the all-on-one. With the addition of the `ingester` component, we have now a not-so-clear definition/boundary.

Starting a discussion from where we left it of:

@jpkrohling said:

@yurishkuro said:

[2018-09-29 09:17] jpkrohling commented on #1095
Someone who needs the ingester has this other component already. In that situation, it would then be required to use two Jaeger components: the ingester and the `all-in-one`. I'm not sure the ingester belongs in the main binary that we are calling `all-in-one`, but from the outside, I would certainly expect all Jaeger components to be in a binary called `all-in-one`. If we had a different name, we

[2018-09-29 09:56] jpkrohling commented on #211
I added the topic of the PHP client to the next Jaeger Project Bi-Weekly meeting: http://bit.do/jaeger-call

Interested parties: please join the meeting, ideally with an agreement about which repo to accept. I'd suggest following @yurishkuro's advice in building a feature comparison matrix, perhaps including the 9 guideline items listed under https://github.com/jaegertracing/jaeger/issues/366 . I'

[2018-09-29 16:17] yurishkuro commented on #1095
Naming is hard. Maybe we can rename it to "playground", to make the intention more obvious (maybe not the actual binary, but at least spell it out in the documentation / `main()`). It was never intended as a production-grade component, but as a quick way to spin up a single process for local testing / demos.

[2018-09-30 02:36] isaachier opened #1097 "gosec fails on crossdock"
## Requirement - what kind of business use case are you trying to solve?

Cannot submit new pull requests to GitHub.

## Problem - what in Jaeger blocks you from solving the requirement?

gosec fails on crossdock source code. Causes Travis CI errors (https://travis-ci.org/jaegertracing/jaeger/jobs/434740163).

Example:

[code]

## Proposal - what do you suggest to solve the problem or improve the

[2018-09-30 03:13] yurishkuro commented on #1089
The license for upx looks suspicious.

https://github.com/upx/upx/blob/master/LICENSE

[2018-10-01 06:47] fthiel commented on #1063
Hi,
could you achieve any progress here? @pavolloffay

[2018-10-01 20:17] LPodolski commented on #211
@jukylin's repo still does not support beta 5 of open tracing, https://github.com/jukylin/jaeger-php/issues/21

[2018-10-01 20:21] wotc-baynhas commented on #974
Chiming in here that I'd like to see one-key/one-value, if only because the opentracing-go documentation says that is what will happen: https://github.com/opentracing/opentracing-go/blob/master/span.go#L50

[2018-10-03 07:33] pavolloffay commented on #1011
`make test-ci` failed on

[code]

[2018-10-03 09:03] pavolloffay commented on #1063
@fthiel I failed to reproduce. Could  you please clarify:
* what ES version are you using?
* number of jaeger collectors
* are you reporting spans to collector or agent?

If you can share a reproducer that would be the best.

[2018-10-03 15:19] sta-szek commented on #649
Hi
Can we somehow modify format of logs?
I want to use sidecar filebeat container to deliver them to logstash but it would be nice to change logs format to fit my needs.

Is that right issue for question or should I open feature request for that?

[2018-10-03 15:41] pavolloffay commented on #426
Closing now we publish also binaries to github release page.

[2018-10-03 15:41] #426 closed

[2018-10-03 16:10] trtg commented on #738
why is this closed? I recently built from source and the agent still does not export any metrics/responds with: 'service' parameter must be provided once. I'm trying to debug a situation where spans are mysteriously disappearing for certain services, so it would be really helpful to know at what point they are getting dropped

[2018-10-03 19:03] yurishkuro commented on #649
Which logs are you referring to?

[2018-10-04 07:13] sta-szek commented on #649
jaeger logs, all components.

[2018-10-04 07:47] jpkrohling commented on #1088
Having a different notation for services that are not directly instrumented addresses my concerns :)

[2018-10-04 08:16] jpkrohling commented on #1051
We probably want to add this scenario to our test cases

cc @jkandasa

[2018-10-04 11:15] objectiser commented on #572
We still have an issue with consistency across clients - only looking at Golang and Java currently:

### Baggage
[code]
### Reporter
[code]
### Sampler
[code]
### Spans
[code]
### Traces
[code]

### Proposal
There are common metrics across the two languages with consistent tags which is good. The Go client has some additional metrics based on throttling. Haven't looked at the rpc request metrics y

[2018-10-04 11:51] SuperQ commented on #572
The `:` should not be used in metric names. It is reserved for "end users" for recording rules.

See [Prometheus docs](https://prometheus.io/docs/instrumenting/writing_exporters/#naming)

[2018-10-04 11:55] SuperQ commented on #572
Deleted my previous comment, it was redundant. :coffee: lacking today.

The proposal looks good.

I don't see a reason to have different metric names per language. As long as metrics have the same meaning, they can remain the same.

If you had something that was java specific, I might namespace the metrics like `jaeger_java_client_...`.

[2018-10-04 12:30] objectiser commented on #572
@SuperQ Thanks for the feedback.

I was more wondering whether all the metrics produced by each language client should include a tag to identify which language client produced it? Not sure if that would be useful, but just an idea.

[2018-10-04 13:15] SuperQ commented on #572
No, I don't think a label for language would make sense. It's not really necessary in the Prometheus ecosystem.

[2018-10-04 15:36] vprithvi opened #1100 "Add a rate limiter to jaeger-ingester"
## Requirement - what kind of business use case are you trying to solve?
Limit the rate of writes to the storage backend when using jaeger-ingester.

When there is a failure of the storage backed, the ingester can consume and write to the backing store at rates higher than the backing store can handle, resulting in a failure in storage nodes,  leading to more chaos. We've seen this happen with Cas

[2018-10-04 16:30] isaachier commented on #1100
I'm wondering if this makes more sense as an ingester-specific option or as a general storage writer option?

[2018-10-04 22:50] yurishkuro commented on #649
This is off-topic for this ticket. Feel free to open another one. Zap logger can be configured with different formatter, but I don't think it's worth doing in the code. Jaeger logs are already log-integration-friendly, being encoded as JSON messages.

[2018-10-05 07:50] neopaf opened #1102 "Consider HAR format"
## Requirement - what kind of business use case are you trying to solve?

Traces
* sent by email
* used in offline environments
* stored to long-term archive
* attached to tracker software (I know about links. but they are not very good long-term)
* analysed with some 3rd party software (would allow emerging of such)
* represented in a filtered way
* auto-converted to tests

## Problem - what in J

[2018-10-05 08:06] sta-szek commented on #622
Hi, any progress here? -- I have the same issue.
What I did:
1. Delete indices `jaeger-*` from ES
2. See jaeger is not working -- mentioned error
3. `helm delete --purge` -- delete whole jaeger from k8s
4. deploy again
5. See jaeger is not working -- mentioned error

[2018-10-05 08:50] sta-szek opened #1103 "Provide possibility to change log format"
Although Jaeger logs are already log-integration-friendly, being encoded as JSON messages it does not suite my (and probably others) company standards.

I wan't to avoid complex log parser like grok filters, so it would be nice to have logs format fully configurable.

Docs https://www.jaegertracing.io/docs/1.7/monitoring/#logging describe only how to configure level.

Expected behaviour:
`--log-fo

[2018-10-05 10:05] fthiel commented on #1063
- ElasticSearch 6.3.2
- one jaeger collector
- we report spans to the collector

Can this be related to the version we have for the collector and agent? These are jaeger-collector:1.2.0 and jaeger-agent:1.2.0. We will try to upgrade it to 1.7 next week and test this again.

[2018-10-05 14:05] pavolloffay commented on #1063
@fthiel do you see a similar error in your logs?

[code]

This has been fixed in https://github.com/jaegertracing/jaeger/pull/921 and released in 1.6. Please try to update and let us know.

[2018-10-05 14:33] yurishkuro commented on #1102
We have canonical thrift and protobuf format, will have canonical json in the future. What value does HAR provide over those?

[2018-10-05 15:31] objectiser commented on #572
Discussion at today's team meeting - agreed that we should standardise across languages, using `jaeger_tracer_` as the default prefix, but allow the application to override the prefix if they wish.

[2018-10-05 16:00] yurishkuro commented on #1103
What do you do with other 3rd party software that you run? It feels like asking every project to support customizable log format is a lot harder path than using something like logstash to rewrite logs to the format you want in your log aggregator.

[2018-10-05 16:43] swizzlr commented on #576
If anyone is actively working on this, let me know. Looking to build a Swift tracer in the near term.

[2018-10-05 17:19] ghfahimi commented on #359
@trtg have you end up writing a blog post on this topic? I'm also interested in this issue.

[2018-10-06 00:04] ghfahimi commented on #359
@trtg Thanks for your response 👍

[2018-10-06 03:47] yurishkuro commented on #169
@saminzadeh any thoughts about https://rejoiner.io/ ?

[2018-10-06 20:41] yurishkuro commented on #1052
Transferring #1090 by @vprithvi here:

[2018-10-06 20:42] yurishkuro commented on #1090
closing as a dup of #1052

[2018-10-06 20:42] #1090 closed

[2018-10-08 07:03] neopaf commented on #1102
Yuri,
point is what we can do with what we export.
If there is a way to view a "canned trace" in any form, I think, people would be happier.
Found #214, sounds very good for me.
But that somewhat limits ways for people to view things.

HAR is also JSON, but there are several viewers for it, example:
https://chrome.google.com/webstore/detail/http-archive-viewer/ebbdbdmhegaoooipfnjikefdpeoaidml

#70

[2018-10-08 07:04] neopaf commented on #1102
In UI I've found only JSON. Missing something? Thrift and ProtoBuf, where are they?
(пользуясь случаем, спасибо за замечательный инструмент)

[2018-10-08 07:18] sta-szek commented on #1103
1. Some are configurable
2. Some are being processed by grok to match others -- getting performance issue + complexity
3. The rest is in separated indices -- harder to link all logs -- small issue

[2018-10-08 08:01] sta-szek commented on #622
It was not fixed after date change as suggested by @dmitrygusev here: https://github.com/jaegertracing/jaeger/issues/374#issuecomment-362265880

[2018-10-08 12:12] sylr opened #1105 "Do not force cassandra protocol's compressor"
When using cassandra, Jaeger force the use of the `SnappyCompressor` for the cassandra protocol.

https://github.com/jaegertracing/jaeger/blob/4ada2b924bfcd393ff370506b9bab8ced1c72376/pkg/cassandra/config/config.go#L127

Azure Cosmos DB provides a cassandra compatible API but it does not seem to be compatible with SnappyCompressor (see https://github.com/gocql/gocql/issues/1205).

[2018-10-08 13:34] yurishkuro commented on #1105
I don't remember, what is the compressor is even used for? Compressing on the wire or at rest?

[2018-10-08 13:49] saminzadeh commented on #169
@yurishkuro I'm aware but have had not time to research it yet. Looks very promising and worth investigating

[2018-10-08 14:18] black-adder opened #1106 "TestSaramaConsumerWrapper_start_Errors racy test"
[code]

From https://travis-ci.org/jaegertracing/jaeger/jobs/438577665

[2018-10-08 14:29] black-adder commented on #1105
Would you be open to creating a PR that makes this configurable?

[2018-10-08 15:29] yurishkuro commented on #1106
According to golang tickets, it's been fixed in the onesiest patch 1.11.1

[2018-10-08 15:36] vprithvi commented on #1106
@black-adder Does the test fail with the patched version - Go 1.11.1?

The attached Travis logs have the following:
[code]

[2018-10-08 17:01] yurishkuro commented on #1103
zap does not seem to allow a lot of flexibility in changing the format.

https://github.com/uber-go/zap/blob/master/config.go#L93

[2018-10-08 17:29] black-adder commented on #1106
Fixed by #1104

[2018-10-08 17:29] #1106 closed

[2018-10-08 17:33] zdicesare commented on #359
AWS also now supports daemon mode for ECS services, so you can deploy the agent as a daemon and ECS services can share their local agent

https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs_services.html#service_scheduler

[2018-10-08 18:24] vprithvi opened #1107 "[tracking issue] Jaeger Clients should not allow null or empty service names"
## Requirement - what kind of business use case are you trying to solve?
Ensure that the service name field is filled when Jaeger clients are created.

## Problem - what in Jaeger blocks you from solving the requirement?
- This would be a breaking change when we start enforcing this requirement

## Proposal - what do you suggest to solve the problem or improve the existing situation?
- If the serv

[2018-10-08 18:56] yurishkuro commented on #1102
I believe a combination of #706 and https://github.com/jaegertracing/jaeger-ui/issues/214 is sufficient to address all the scenarios you listed (except for the last two, I am not sure what those mean).

Спасибо за комплимент.

[2018-10-08 19:33] xmm1989218 commented on #1057
@isaachier it is scylladb's bug, someone has been work on it

[2018-10-08 20:04] yurishkuro commented on #1089
Checked with Uber legal. We should be ok to use it, assuming:

* We must not modify UPX in any way, or use a version of UPX that has been modified in any way to compress the binaries.
* We must not modify the stubs embedded by UPX in each UPX-compressed program, and the stub can only be used for normal decompression purposes.
* We also must not redistribute UPX, in it's unmodified or modified form

[2018-10-08 21:44] vprithvi opened #1108 "ES integration test is flakey"
## Requirement - what kind of business use case are you trying to solve?
Have tests be indicative of real problems

## Problem - what in Jaeger blocks you from solving the requirement?
[code]

## Proposal - what do you suggest to solve the problem or improve the existing situation?

TBD

[2018-10-08 22:04] vprithvi opened #1109 "Use a bounded list for offset manager"
## Requirement - what kind of business use case are you trying to solve?
Predictable recovery behavior when jaeger-ingester storage is being flakey for extended periods of time.

## Problem - what in Jaeger blocks you from solving the requirement?

Offset manager uses an unbounded list to manage offsets

https://github.com/jaegertracing/jaeger/blob/79848299ed98dedc1d750d798bcd048c295e06e6/cmd/inge

[2018-10-08 22:21] yurishkuro commented on #422
Similar discussion in OpenCensus about Go plugins: https://github.com/census-instrumentation/opencensus-service/pull/70

[2018-10-09 08:04] jpkrohling commented on #404
I'm closing this, as I believe this has been done already.

[2018-10-09 08:04] #404 closed

[2018-10-09 08:58] jpkrohling commented on #1089
Just out of curiosity, how many agents/collectors do you have? I think it's impressive to have a binary going from 21MB to 6MB almost for free and I think it adds value for a scenario like agents as sidecars, where there would potentially be hundreds of agents, but I'm not sure I see that much value for the other components.

[2018-10-09 09:01] jpkrohling commented on #1107
This is true already for the Java client, for instance. If other libraries aren't enforcing it, I think they should, at least for consistency's sake...

https://github.com/jaegertracing/jaeger-client-java/blob/6ee913a2d88c34f311d46b0b3e8928514525f62a/jaeger-core/src/test/java/io/jaegertracing/internal/JaegerTracerTest.java#L106-L114

[2018-10-09 09:36] sylr commented on #1105
FYI Azure Cosmos DB does not allow "CREATE TYPE" so it won't work anyway.

[2018-10-09 09:54] pavolloffay commented on #1063
@fthiel I will close this. If the issue is still there after update please comment/reopen.

[2018-10-09 09:54] #1063 closed

[2018-10-09 13:20] neopaf commented on #1102
got it. hoping for those then.

[2018-10-09 13:20] #1102 closed

[2018-10-09 16:00] ledor473 commented on #1089
@jpkrohling you are right that I mostly added it to reduce the size of the Agent. It was after reading some blog post probably and I wanted to try it out to see how it would react. Recently, I was updating our CI and added it to the Collector as well.

As for other projects, I couldn't find much usage. There was a pull request to Kubernetes at some point that highlighted some of the downsides of u

[2018-10-10 15:13] eundoosong commented on #920
Hello, is there any plan to release the next version of go-client including https://github.com/jaegertracing/jaeger-client-go/pull/323 ?

Because I've been working on `Update HotROD to remove extra flags` and almost done.
But the latest version(v2.14.0) of go client doesn't have JAEGER_ENDPOINT.

[2018-10-10 16:52] black-adder commented on #920
@eundoosong 2.15 is out

[2018-10-11 01:19] trtg commented on #1044
@black-adder  is it possible to disable tracing of jaeger-query? It results in a lot of additional traffic to the collectors and to our cassandra backend and looking at tons of "Collector::submitBatches" spans is not very informative.

[2018-10-11 07:12] jpkrohling commented on #1044
@trtg , once this issue here is fixed, you should be able to export `JAEGER_DISABLED` to the Query process and have tracing disabled.

[2018-10-11 16:46] agxp commented on #365
What's the status on this? I would like to configure Jaeger to sample all traces on low load, and on high load sample at a certain probability. It doesn't seem possible currently. Thanks.

[2018-10-11 17:55] yurishkuro opened #1113 "Promote @tiffon to full maintainer"
Joe (@tiffon) has been doing great work on Jaeger UI. I would like to propose to make him a full maintainer.

@jaegertracing/jaeger-maintainers please vote

[2018-10-11 17:59] vprithvi commented on #1113
+1 Sounds good to me!

[2018-10-11 18:00] black-adder commented on #1113
+1

[2018-10-12 05:43] cosmologist10 commented on #1044
Hi! I want to work on this issue.

[2018-10-12 07:45] jpkrohling commented on #1113
Huge +1, really deserved!

[2018-10-12 09:03] clyang82 opened #1114 "Limit the service dropdown list in jaeger UI"
## Requirement - what kind of business use case are you trying to solve?

There has service list page in our portal. We want to integrate jaeger ui when click the certain service to show the tracing for this service only. Right now, the service dropdown lists all available services. We want to pass a parameter together with `service` to show this service only in dropdown list.

## Problem - what i

[2018-10-12 14:49] yurishkuro commented on #1114
Could you please explain what you're trying to achieve by hiding the other services in the drop-down? This cannot be for security reasons since the user can simply remove the parameters from the URL and go back to the full list.

Also, do you mind adding yourself to #207 ?

[2018-10-12 14:53] yurishkuro commented on #1114
I meant https://github.com/jaegertracing/jaeger/issues/207

[2018-10-12 15:47] yurishkuro commented on #1113
Done! Congratulations!

[2018-10-12 15:47] #1113 closed

[2018-10-12 16:48] tiffon commented on #1113
Thanks folks! Great to hear!

[2018-10-12 18:32] #920 closed

[2018-10-12 20:06] yurishkuro commented on #1051
We may consider adding LIMIT to Cassandra queries by trace ID.

[2018-10-14 09:45] cdoewew opened #1116 "Where is the installation documentation? Why can't the script be found?"

[2018-10-14 17:18] yurishkuro commented on #1116
Please refer to documentation on the website https://www.jaegertracing.io/

[2018-10-14 17:18] #1116 closed

[2018-10-14 18:06] trondhindenes commented on #207
**If applicable, what company/organization do you represent?**
RiksTV, Norwegian broadcast distributor

**How are you using Jaeger?**
Early days - we're using Jaeger in some backend python and .Net core apps.

**If you are not using Jaeger, why not?**
Our majority of code is still on "legacy .Net", which is apparently difficult to Jaeger-enable. Usage will broaden as we transition to .Net core.

*

[2018-10-15 01:01] clyang82 commented on #1114
I am able to embed the jaeger ui into our portal by using Iframe so that the end user cannot see the real URL. Except for using debug tools or other ways to check the url, that is different thing.

I am doing evaluation right now. I will add myself to that issue once we put jaeger into production. Thanks.

[2018-10-15 07:27] quaff commented on #936
Any updates?

[2018-10-15 08:37] pavolloffay commented on #1051
Limit on the number of spans in a trace?

[2018-10-15 09:03] pavolloffay commented on #936
The referenced PR mostly changes OT API. The processing on the server side would be probably similar/the same as what we have previously discussed here. The open question is what tag will we use as the proposed API allows to use basically an arbitrary tag.

[2018-10-15 10:32] cdoewew opened #1117 "Does jaegertracing listen to the service, need code introduction or -javaagent specification?"

[2018-10-15 11:02] jpkrohling commented on #1117
Not quite sure what you mean by "listen to the service", but the backend does bind to some ports. The client (tracer) then either sends spans via UDP to the agent, or establishes a connection directly with the collector. Feel free to reopen this if I misunderstood your question.

[2018-10-15 11:02] #1117 closed

[2018-10-15 13:43] yurishkuro commented on #1051
Well there are two separate things. We're seeing some traces in production with many millions of spans so we want to implement a limit on ingestion. But separately, there can be a limit on reading side to avoid loading too much even if that many spans were saved.

[2018-10-15 13:46] cdoewew opened #1118 "Jaeger-agent need in the implant in code? Or a agent similar to pinpoin? Just add parameters to the service you want to track, for example: -javaagent:/agent.jar?"
thank you

[2018-10-15 18:43] yurishkuro opened #1119 "How to manage Cassandra schemas"
## Requirement - what kind of business use case are you trying to solve?

There are some PRs in progress that alter the database schema (e.g. #979, #793).

## Problem - what in Jaeger blocks you from solving the requirement?

We do not have established process on versioning the schema.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

n/a

## Any open ques

[2018-10-15 21:48] gvkarthik93 opened #1120 "No such host for jaeger-collector when trying to run jaeger-agent."
Hi, I am trying to deploy the individual components of Jaeger on my machine. I am using Cassandra as a storage.

What I am trying to do is to run cassandra and initialize the schema. After doing so, I am running the jaeger collector using the following command.

`docker run --rm --link cassandra:cassandra -e SPAN_STORAGE_TYPE=cassandra -p14267:14267 -p14268:14268 -p9411:9411 -e CASSANDRA_SERVERS=c

[2018-10-15 21:53] gvkarthik93 commented on #1120
Hi, I am trying to deploy the individual components of Jaeger on my machine. I am using Cassandra as a storage.

What I am trying to do is to run cassandra and initialize the schema. After doing so, I am running the jaeger collector using the following command.

`docker run --rm --link cassandra:cassandra -e SPAN_STORAGE_TYPE=cassandra -p14267:14267 -p14268:14268 -p9411:9411 -e CASSANDRA_SERVERS=c

[2018-10-15 21:57] yurishkuro commented on #1120
You are not wiring Docker networking namespace correctly.

you need to use this name `jaeger-collector` when starting the collector Docker container and also pass  `--link` option to the agent to be able to recognize that name (similar to how you pass Cassandra name to the collector).

[2018-10-15 22:04] gvkarthik93 commented on #1120
Could you tell me what changes I need to make in the above commands? Cause when you say use the name `jaeger-collector` where do I add it?

Is it something like this for jaeger-collector?
`docker run --rm --link cassandra:cassandra -e SPAN_STORAGE_TYPE=cassandra -p14267:14267 -p14268:14268 -p9411:9411 -e CASSANDRA_SERVERS=cassandra jaeger-collector`

and something like this for jaeger-agent?
`dock

[2018-10-15 22:15] yurishkuro commented on #1120
you need to pass the name to the collector container, `--name jaeger-collector`. You probably passed the name `cassandra` already when you started it, otherwise collector wouldn't find it.

[2018-10-15 22:15] gvkarthik93 commented on #1120
I tried running these commands:

`docker run --rm --name jaeger-collector --link cassandra:cassandra -e SPAN_STORAGE_TYPE=cassandra -p14267:14267 -p14268:14268 -p9411:9411 -e CASSANDRA_SERVERS=cassandra jaegertracing/jaeger-collector`

`docker run   --rm --link jaeger-collector:jaeger-collector  -p5775:5775/udp   -p6831:6831/udp   -p6832:6832/udp   -p5778:5778/tcp   jaegertracing/jaeger-agent --co

[2018-10-15 22:50] gvkarthik93 commented on #1120
And also when I tried to run jaeger-query, I am able to launch the UI on `localhost:16686` but it is showing an error in logs:

`
{"level":"error","ts":1539642372.6064699,"caller":"zap/logger.go:33","msg":"error when flushing the buffer: write udp 127.0.0.1:40290->127.0.0.1:6831: write: connection refused","stacktrace":"github.com/jaegertracing/jaeger/vendor/github.com/uber/jaeger-client-go/log/za

[2018-10-16 00:55] caniszczyk commented on #207
@trondhindenes thanks, added you here: https://github.com/jaegertracing/jaeger/pull/1121

[2018-10-16 01:13] clyang82 commented on #1114
This issue can be closed when this pr is merged into master.
https://github.com/jaegertracing/jaeger-ui/pull/263

[2018-10-16 02:45] cdoewew commented on #1120
I also won't install, please teach you, ha ha

[2018-10-16 02:57] gvkarthik93 commented on #1120
@cdoewew Do you have the same problem? I am sorry but I am unable to completely get what you are saying.

@yurishkuro Could you please help me with this problem?

[2018-10-16 11:06] jpkrohling commented on #1119
Yes.

There are quite a few solutions out there for RDMBS that would apply here as well, at least conceptually. One popular choice is liquibase (looks like they [do support Cassandra](https://github.com/liquibase/liquibase-cassandra)!). Basically, whenever the script runs, it checks a "version" table and see which migrations need to be executed. For most operations, there should be a "up" (apply)

[2018-10-16 11:10] jpkrohling commented on #1118
The Jaeger Agent is a standalone process that runs as a daemon on the same host as your target application. Your application should be instrumented with the OpenTracing API, perhaps using the [java-agent](https://github.com/opentracing-contrib/java-agent) library and it should also embed the Jaeger Client. The client then captures the spans and sends to the Jaeger Agent.

This is all explained her

[2018-10-16 11:10] #1118 closed

[2018-10-16 15:09] jpkrohling commented on #1120
That's because the tracer embedded into the UI is trying to send its own spans to an agent running on localhost, but there's none there (as localhost here is the container itself, not the host).

You might want to take a look at our Kubernetes templates for inspiration, but if you are just trying to get a simple instance to run, you might have better luck with the all-in-one. It can also be used w

[2018-10-16 15:59] jpkrohling commented on #1120
I just checked your commands running it locally here. It looks like you are using the port `14268` (plain http) on the agent -> collector communication, and it should be 14267 (tchannel). It's also usually a good idea to set the version explicitly, so, I added those to my command as well.

[code]

Note that you'll still see the UDP failures on the query until #1044 is fixed. On Kubernetes, this ca

[2018-10-16 16:21] raffraffraff opened #1122 "How to trace across multiple DCs (each having its own data backend)"
## Requirement - what kind of business use case are you trying to solve?
I'm planning to deploy Jaeger to a large multi-datacenter environment. I would like to create a separate Cassandra cluster in each datacenter. However, this would prevent us from being able to trace requests that get routed from one datacenter to another.

## Problem - what in Jaeger blocks you from solving the requirement?
J

[2018-10-16 16:29] yurishkuro commented on #1122
Does your company have an established Kafka infrastructure with cross-zone replication?  This would be one way to deal with multi-zone setup by having one global Jaeger installation (which you can duplicate in another zone if you want an HA backup).

[2018-10-16 17:54] rwkarg commented on #425
The new Kafka backend would be interesting for this. All spans get reported, one job could aggregate metrics across all spans, another aggregate dependency metrics, another could sample windows and sample traces for ES/Cassandra storage (outliers plus some sample of "normal" calls)

[2018-10-16 17:59] rwkarg commented on #1122
We are in a similar situation (cross-DC services needing tracing).
We do have established experience with Kafka.
I'm assuming that this would be best implemented once the Ingest? services (Kafka -> DB connectors) are available?

[2018-10-16 18:00] yurishkuro commented on #425
Kafka is ok post-collection / post-sampling. For our use case we cannot scale Kafka to collect all spans before sampling.

[2018-10-16 18:06] yurishkuro commented on #1122
@rwkarg Kafka ingesters are available since 1.7 (just not documented yet)

[2018-10-16 18:50] gvkarthik93 commented on #1120
@jpkrohling These commands work. Now I am able to look at all the tracers and spans created in my applications. Technically speaking, these should be stored in the cassandra right. So when I try to go query from cassandra using cqlsh, I get empty tables. Do you know why or is there something I am doing wrong while running cassandra or creating the schema?

[2018-10-16 20:51] The-Alchemist opened #1123 "no jaegertracing/jaeger-ingester:1.7 tag"
## Requirement - what kind of business use case are you trying to solve?

The documentation at https://www.jaegertracing.io/download/ says:

[code]

## Problem - what in Jaeger blocks you from solving the requirement?

The `1.7` tag doesn't exist for the ingester; only `latest`.

[2018-10-16 21:12] yurishkuro commented on #1123
yes, a known issue, the container wasn't actually ready when we did a release. Only `latest` tag is available at the moment.

[2018-10-16 21:19] gvkarthik93 commented on #1120
@jpkrohling  Also I have one other doubt. For now, I am deploying these containers one my local machine and the UI is able to track the tracers and display them when I run my application server on same local machine. How can I track requests if my application server is on a totally different machine?

[2018-10-16 22:08] The-Alchemist commented on #1123
@yurishkuro : Not a problem, let me know if I can send a PR or something.

[2018-10-17 08:12] raffraffraff commented on #1122
A Kafka solution was my initial thought, didn't know that ingesters were a thing yet. One thing I'd like to do is keep the cross-DC chatter to a minimum. For instance, how about having a completely separate Jaeger installations, but using Kafka to send _only_ the traces that are relevant to the that (ie: traces that originated in DC1 should get sent back to DC1 and ingested into its local Cassandr

[2018-10-17 08:20] pavolloffay commented on #1007
We should also reconsider logging failed sends in clients. At least in java the default level is debug.

[2018-10-17 08:28] pavolloffay commented on #1123
ingester will be tagged during the next release no need for a PR.

[2018-10-17 08:28] #1123 closed

[2018-10-17 08:34] pavolloffay commented on #1085
@vprithvi do you use retry in c* storage?

If we want to use retry mechanism used in drivers we can close https://github.com/jaegertracing/jaeger/issues/302. I don't think that ES client provides any retry capability.

[2018-10-17 09:03] marqc opened #1125 "Ingester panics when no messages is processed in 1 minute"
## Requirement - what kind of business use case are you trying to solve?

Forward traces from kafka storage to elasticsearch storage with jaeger-ingester deployed to kubernetes-cluster. There are periods when traced system is not used and no traces are being recorded.

## Problem - what in Jaeger blocks you from solving the requirement?

When ingester does not process any message for `Time.Minute`

[2018-10-17 11:56] jpkrohling commented on #1120
If your collector is pointing to Cassandra and your query can read data from it, then data is indeed there. Are you checking the correct keyspaces?

If your test involves your application on a different Docker container, then they are seen as "different machines" already :-) Take a look at the documentation, especially this page: https://www.jaegertracing.io/docs/1.7/architecture/#components

Your

[2018-10-17 11:56] #1120 closed

[2018-10-17 14:11] yurishkuro commented on #1122
Yes, this is the long term solution we are thinking about, happy to brainstorm it more. It is not trivial though, as there is no clear signal in the traces themselves in one zone about whether there are also spans in another zone. Broadcasting trace IDs with zone identity to all zones is a possible solution, but somewhat expensive.

[2018-10-17 15:33] yurishkuro commented on #1125
This was done to address a number of issues with the sarama lib (#1052) until they are fixed upstream.

I think exposing the timeout setting via cli/config is a good idea, and setting it to 0 should turn off the self-termination behavior.

[2018-10-17 15:34] yurishkuro commented on #1125
@marqc are you interested in creating a pull request to fix that?

Also, consider adding yourself to #207 .

[2018-10-17 17:06] vprithvi commented on #1085
I don't think we configure the driver retries currently, but I think we should. I noticed that the ES client had a [https://godoc.org/github.com/olivere/elastic#Retry](Retry) function in it's docs, but I haven't looked deeper into it.
`sarama` and `gocql` provide out of the box retries

[2018-10-17 23:02] gvkarthik93 commented on #1120
Hi @jpkrohling  Thanks for the insights. I understood the architecture and deployed it.

I have one doubt. Currently, my agent and application are running on VM1. Jaeger collector is on VM2. My collector is up and running. I wanted to link the agent and the collector.

So I ran this command:

`
docker run \
  --rm \
  --name jaeger-agent \
  -p5775:5775/udp \
  -p6831:6831/udp \
  -p6832:6832/udp

[2018-10-18 08:18] jpkrohling commented on #1120
Did you make a typo in your comment? You have `127.0.155.1` in the command but the output says `129.157.240.146`?

[2018-10-18 13:53] raffraffraff commented on #1122
How about allowing the Jaeger UI / Query to search across multiple Cassandra clusters? That way, there's no need to do any cross-site replication (one of the things I'd love to avoid, if possible)

[2018-10-18 14:06] yurishkuro commented on #1122
Query federation is the easiest to implement, but it is also least useful. The main value of tracing is in aggregate analysis, which doesn't scale if all queries fan out.

[2018-10-18 14:43] tylerchr commented on #1122
To me, something like the suggestion from @raffraffraff sounds like it would make Jaeger most useful. It seems crazy to transmit all this trace data over the Internet, considering that the expected value of any randomly-selected trace is so near zero (why use bandwidth for traces that are so unlikely to be looked at?). It would be neat if all traces that _originated_ in a given zone were fully kep

[2018-10-18 15:35] vprithvi opened #1126 "Add a metric for total number of partitions held by an individual ingester"
## Requirement - what kind of business use case are you trying to solve?
Determine the split of partitions across ingesters.

## Problem - what in Jaeger blocks you from solving the requirement?
None.

## Proposal - what do you suggest to solve the problem or improve the existing situation?
Add a counter to measure this.

[2018-10-18 15:56] yurishkuro commented on #1122
So precisely because of low value of individual traces we want to run aggregations, and aggregations do look at all data eagerly. So I don't think you can avoid transmitting it between zones. What we can and do want to avoid is replicating traces that are fully local to a given zone.

This is not to say there's no value in building query-time federation, it's just much lower priority (for us, at l

[2018-10-18 18:38] gvkarthik93 commented on #1120
@jpkrohling oh yes. That was a typo. So I am trying to connect to 129.157.240.146 and I ran the command

`docker run \ --rm \ --name jaeger-agent \ -p5775:5775/udp \ -p6831:6831/udp \ -p6832:6832/udp \ -p5778:5778/tcp \ jaegertracing/jaeger-agent:1.7 \ --collector.host-port=129.157.240.146:14267`

129.157.240.146 is the machine where my jaeger-collector docker is running. But it gave me that error

[2018-10-19 02:14] wolfelven opened #1129 "Why client-golang traceID low is 63bit?"
Hi, everyone, I have a question, why traceid.low is 63bits in client-golang. I see traceid.low is 64bit in client-java .

[2018-10-19 03:10] daxwang opened #1130 "kafka json format data have no refType"
hi, run the jaeger demo,  set SPAN_STORAGE_TYPE=kafka  and --kafka.encoding json, then i consume kafka message, found no refType field in references, it's a bug?
here one jaeger record such as:

{u'traceId': u'AAAAAAAAAAAEOiuLLCuCxQ==', u'process': {u'serviceName': u'frontend', u'tags': [{u'vStr'    : u'Go-2.14.0', u'key': u'jaeger.version'}, {u'vStr': u'xxxx', u'key': u'hostname'}, {u'vStr': u'10

[2018-10-19 03:11] black-adder commented on #1129
This issue belongs in the jaeger-client-go repo. Nonetheless, thanks for bringing this up. My guess is that when we first wrote the client, https://golang.org/pkg/math/rand/#Rand.Uint64 wasn't available (only added in golang 1.8). Would you be willing the make the change?

[2018-10-19 03:17] black-adder commented on #1130
That is odd. Can you provide us a code snippet to reproduce? Are you able to confirm whether the span had the `refType` before it was encoded and written to kafka?

[2018-10-19 04:06] daxwang commented on #1130
I'm confirm jaeger collector reporter json format data to kafka has no `refType` ,
![image](https://user-images.githubusercontent.com/19586089/47197230-6a323d80-d397-11e8-8c0a-5413ca784ba7.png)

[2018-10-19 08:37] gvkarthik93 commented on #1120
@jpkrohling I wanted to know if the command is correct for calling collector on different host or if there's anything wrong with the command.

[2018-10-19 08:57] jpkrohling commented on #1120
It does look correct to me.

[2018-10-19 09:41] pavolloffay commented on #888
I think we can close this.

We have decided to define a separate model for ES for:
* better encapsulation for ES storage - e.g. due to backward compatibility
* internal model might change without ES schema

[2018-10-19 09:41] #888 closed

[2018-10-19 14:29] marqc commented on #1125
@yurishkuro Yes, I will take a look in next week.

[2018-10-19 14:42] marqc commented on #1052
Instead of sarama You can take a look at https://github.com/confluentinc/confluent-kafka-go
It's a light wrapper for C implementation of kafka client (librdkafka) and AFAIK is more stable/reliable than shopify/sarama.

[2018-10-19 14:43] black-adder commented on #1130
Interesting, are you also able to see if the refType exists when the data is first consumed by the collector? I'm trying to narrow down if this is a collector issue or a go-client issue.

[2018-10-19 14:43] jpkrohling commented on #1058
For that, we might want to "reload" the process, like NGINX does, perhaps using https://github.com/cloudflare/tableflip

[2018-10-19 16:42] raffraffraff commented on #1122
FWIW: In my case, most of the traffic stays within a DC, and we have a _lot_ of DCs, so we don't want to replicate all-to-all. So query-time federation would actually suit me.

[2018-10-19 19:05] gvkarthik93 commented on #1120
Thanks @jpkrohling You were right. It's the proxy behind the network that stopped the connection. I fixed it and deployed Jaeger containers. It's now successfully collecting spans from all my applications. This discussion was really helpful.

[2018-10-19 23:39] gvkarthik93 commented on #801
@yurishkuro and @Dean-Coakley The documentation provided for deploying jaeger components though docker is pretty elegant. However, I am wondering if there's any documentation provided for running jaeger-agent binary on a linux machine without using docker. I am specifically looking at jaeger-agent because some of the VMs I am working on have no support for docker. In such scenario, I would like to

[2018-10-19 23:55] gvkarthik93 opened #1132 "How do we configure the collector's IP and port when running jaeger-agent binary file?"
I have jaeger-agent running through docker. When I run it through the following docker command,

`sudo docker run  --name jaeger-agent \-p5775:5775/udp  -p6831:6831/udp  -p6832:6832/udp  -p5778:5778/tcp  jaegertracing/jaeger-agent:1.7  --collector.host-port=129.157.240.146:14267
`

I am able to configure the IP of the collector and the port. How can I configure the IP and port of configure if I am

[2018-10-20 04:52] yurishkuro commented on #801
it is the same binary as the one included in the docker image, with the same parameters.

[2018-10-20 04:52] yurishkuro commented on #1132
in the same way, it's the same binary as in the docker container

[2018-10-20 04:53] #1132 closed

[2018-10-20 04:56] yurishkuro commented on #1120
@gvkarthik93 if you found documentation to be lacking / insufficient and have concrete suggestions, please list them here, or (even better) create a PR in https://github.com/jaegertracing/documentation

[2018-10-20 05:06] gvkarthik93 commented on #1120
@yurishkuro I agree. I will create a PR and contribute. I guess my learning experiences would definitely be helpful for someone.

[2018-10-20 20:12] yurishkuro commented on #1120
🎉

[2018-10-22 14:33] yurishkuro commented on #468
Are you using http sender in the Jaeger client? If you're using udp sender then you need to run the agent on the same host as the application.

If you are using http sender and the spans are still not reaching the collectors, I recommend bringing your networking toolbox (eg tcpdump) and looking at where the packets are going.

You can also look at the metrics emitted by various Jaeger components,

[2018-10-22 21:00] yurishkuro commented on #1108
this damned test keeps failing. Has something changed recently? Wasn't a problem until a few weeks ago,.

[2018-10-22 21:16] vprithvi commented on #1108
Haven't investigated deeply - but I'm curious whether this could be a timezone issue because I was able to get it to fail consistently one evening, and all my attempts succeeded the next day.

[2018-10-22 21:41] cphillips83 opened #1135 "TTL on traces"
## Requirement - what kind of business use case are you trying to solve?
Provide a way to control TTL for traces without needing to configure individual storage systems manually.

## Problem - what in Jaeger blocks you from solving the requirement?
I can not find any documentation on how to handle maintenance with Jaeger. Are we suppose to access whatever preferred database backend manually and cl

[2018-10-22 22:35] yurishkuro commented on #1108
interesting.

@pavolloffay @jpkrohling  could you try re-running the test here in your morning? https://travis-ci.org/jaegertracing/jaeger/builds/444722448?utm_source=github_status&utm_medium=notification

[2018-10-22 22:46] yurishkuro commented on #1135
In Cassandra the TTL is defined per-table, and is configurable through the schema script/container we provide.

ES did not have TTL support previously, so there's an index cleaner container provided. Could you please link to the docs where you founds it does provide TTL?

If you would like to suggest a PR to change the docs, it would be great.

[2018-10-23 07:41] objectiser commented on #1108
Done, and was successful.

[2018-10-23 14:28] cphillips83 commented on #1135
You are correct, after looking this up again it seems it was removed around 2017 due to how it was implemented. They suggest using `delete_query` instead via scheduled jobs.

I guess the issue here is two fold, from my experience cassandra and ES are not the type of database you can simple install and they work out of the box without extended maintenance and monitoring. This creates a bit of an is

[2018-10-23 17:10] oleg172 opened #1137 "No trace results in jaeger UI"
I run jaeger all-in-one(last version) on my openshift project.
Import jaeger from yaml: https://github.com/jaegertracing/jaeger-openshift/blob/master/all-in-one/jaeger-all-in-one-template.yml
Jaeger logs:

[code]

In the same openshift project i run my simple microservice: on these service i define only one restcontroller and define jaegerTracer like:

[code]

Set Environment variable like:
[code]

[2018-10-24 04:59] samisamantha commented on #468
Hi @yurishkuro , thank you for responding. I'm running this script in docker "docker run --rm --name trace -p 5775:5775/udp -p 6831:6831/udp -p 6832:6832/udp -p 5778:5778 -p  16686:16686 -p 14267:14267 -p 14268:14268 -p 9411:9411 jaegertracing/all-in-one:1.7 " so I'm using udp sender. Is there a documentation on how to use http sender? I checked https://www.jaegertracing.io/docs/1.7/client-librari

[2018-10-24 23:50] subashiniganesh commented on #1044
Hello @jpkrohling ,

I am Subashini, an aspiring Outreachy candidate. As I came to know about outreachy very recently, do you still have space for new applicants? May I still attempt solving issues?

@cosmologist10, If you're caught up doing something else, May I work on this issue?

Thanks.

[2018-10-25 02:35] daxwang opened #1138 "how to covert model.proto to java or python?"
i want to consume jaeger trace data which stored in kafka and default data format is protobuf,  such as flink or a python script, so i covert model.proto(https://github.com/jaegertracing/jaeger/blob/master/model/proto/model.proto) to java or python, but i failed.
run  protoc --python_out=. model.proto, there are errors:
google/api/annotations.proto: File not found.
github.com/grpc-ecosystem/grpc-g

[2018-10-25 05:40] fthiel commented on #1063
just if someone else gets this problem: updating jaeger to 1.7 solved this

[2018-10-25 12:18] vprithvi commented on #929
In the current setup, `jaeger-collector` sends spans to Kafka

[2018-10-25 13:42] yurishkuro commented on #1138
Yeah, we haven't moved towards supporting proto in other languages, so expect some friction. Some of these are standard annotations, gogo is specific to Go. I believe you need their source to be available on the protoc path.

[2018-10-25 13:46] yurishkuro commented on #1130
My guess is that child-of type has value 0 in proto, and we set the json encoding to omit files with zero values. You should see the same behavior with tags where tag type is often omitted since string type is mapped to 0. This was done intentionally to reduce the size of json, but open to discussion.

[2018-10-25 14:51] yurishkuro commented on #1122
Another option we discussed elsewhere is using baggage to propagate the zones encountered during the transaction execution. It makes it explicit when looking at the trace which zones the request travelled through. But the cons are that it requires changes to clients to:

* know the zone they are running in (via configuration)
* adding it to the baggage automatically & concatenating when multiple z

[2018-10-25 16:40] isaachier opened #1140 "jaeger-lib metricstest"
## Requirement - what kind of business use case are you trying to solve?
Upgrade jaeger-lib.

## Problem - what in Jaeger blocks you from solving the requirement?
jaeger-lib made a breaking change in its package structure. It uses `metricstest` instead of `testutils` for metric mocks, etc.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Replace reference

[2018-10-25 17:10] tiffon commented on #1122
@yurishkuro How would early spans learn of zones from later spans?

[2018-10-25 17:39] isaachier commented on #1100
So should we revisit my crossed out comment above:

[2018-10-25 18:03] yurishkuro commented on #1140
this is blocked until 2.0 of jaeger-lib is released (https://github.com/jaegertracing/jaeger-lib/issues/47).

[2018-10-25 18:50] yurishkuro commented on #1122
When the full trace is available, e.g. in the "trace_completed" Flink job, we will know that there are spans in other zones.  Technically this does not even require full-stack baggage, just a single-hop header that informs the receiver that the call came from a different zone. We could also use the response headers to pass the zone information back to the caller. But neither of these still cover t

[2018-10-25 23:40] shunge commented on #1058
Hi, I am a new comer, I can take a look at this if others are not working on this yet. Have we decided on which approach we want? @jpkrohling the library you recommended seems relatively new, should we worry about stability issues?

Is this a pressing issue? If not, a reload endpoint for all configs sounds like a more generic solution?

[2018-10-25 23:47] isaachier commented on #1058
BTW using SIGHUP for this is standard practice in Linux. See here: https://stackoverflow.com/a/28327659/1930331.

[2018-10-25 23:49] isaachier commented on #1058
I think using SIGHUP in our services is actually a more robust/portable approach than fsnotify and/or dynamic config.

[2018-10-26 00:03] yurishkuro commented on #468
@samisamantha see https://github.com/jaegertracing/jaeger-client-java/tree/master/jaeger-core for documentation about `JAEGER_ENDPOINT` env var (you can also set it programmatically on the `Configuration` class)

[2018-10-26 00:17] yurishkuro commented on #1135
The repo provides scripts for db schema and when we extend the schema we will provide data migration scripts. Otherwise I don't think it is a realistic expectation to be able to run Jaeger without any operational knowledge of the underlying database. Your other options are:
  * use a hosted database like Elasticsearch on AWS, which still requires some operational knowledge, at least about db schem

[2018-10-26 02:30] #1138 closed

[2018-10-26 04:20] clyang82 opened #1144 "Update document to add ES client certificate support"
## Requirement - what kind of business use case are you trying to solve?

https://github.com/jaegertracing/jaeger/issues/678

[2018-10-26 08:22] daxwang opened #1145 "how to decode trace_id from kafka protobuf data?"
i run the jaeger demo and write data into kafka with protobuf, and then consume with python, but the trace_id decode always incorrectly，here my code, decode with utf-8:
               span = model_pb2.Span()
               span.ParseFromString(msg.value)
               print span.trace_id.decode('utf-8')

the result:
![image](https://user-images.githubusercontent.com/19586089/47554090-23b28500-d93

[2018-10-26 20:36] shunge commented on #1058
Since jaeger is using viper as a configuration solution, just brainstorming - one solution could be just using a goroutine to use viper to read config periodically (e.g every 5 seconds)?  Are we only focusing on collector now? Or we should provide dynamic configuration for all modules?

[2018-10-26 20:55] ryansos opened #1148 "Allow wildcard service search for elasticsearch storage"
## Requirement - what kind of business use case are you trying to solve?

We have a need to collate traces across different services that share a specific tag value. The traces are initiated by separate HTTP requests and therefore appear as separate traces under separate services. We would like to search by a tag across all services with all matches displaying regardless of service name.

## Probl

[2018-10-27 18:56] annanay25 commented on #1108
@vprithvi +1.

Tried running it locally, but having some issues running the elasticsearch docker image.

But since elasticsearch would index according to container-local time, and the search time we give in the query is host-local, there could be a discrepancy there.

[2018-10-28 07:19] hello-error commented on #465
This is possible by:

1. Creating a user in IAM with programmatic access (access key, secret key) and associating proper policy.
2. Modify the access policy for ES to allow this user to access as:
`{
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn of user from 1"
      },
      "Action": "es:*",
      "Resource": "arn of ES"
    }`
3. In postman, specify `Service Name` as `es`, a

[2018-10-29 08:14] annanay25 commented on #1051
The olivere/elastic library supports sending a range query using `From(0)` and `Size(100)` to fetch a predefined number of documents - for ex: https://github.com/olivere/elastic/blob/release-branch.v6/example_test.go#L172

Would it make sense to pass this range as a param in MultiSearch here - https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/es/spanstore/reader.go#L256 ?

[2018-10-29 08:30] jpkrohling commented on #1058
Viper does provide a hook to deliver notifications when the config file has changed:

https://github.com/spf13/viper#watching-and-re-reading-config-files

[2018-10-29 08:32] jpkrohling commented on #1044
Sorry for the late response, @subashiniganesh, but I was out last week. You are certainly welcome to submit a patch by the program's deadline, which happens to be tomorrow. It's a tight deadline, but might be doable if you are experienced in Golang.

[2018-10-29 09:51] pavolloffay commented on #1051
Perhaps yes, I am not 100% percent sure how the current search works. Would you like to submit a patch?

[2018-10-29 12:23] pavolloffay commented on #1108
Strange I don't remember changing anything related to timestamps.

[2018-10-29 13:07] yurishkuro commented on #1054
Isn't there a way to solve this with existing Observability tools instead of building a bespoke solution?

[2018-10-29 13:17] annanay25 commented on #1051
Sure, I'll give it a shot soon.

[2018-10-29 14:52] rekaparathalwar opened #1149 "Does Jaeger support MongoDB tracing"
Does jaeger support MongoDB tracing by default. We are doing a spike to use Jaeger for our application. We are using spring boot with MongoDB as backend(using MongoDB atlas DBaaS) deployed in Azure Container Service (ACS).

[2018-10-29 14:57] black-adder commented on #1149
As long as MongoDB is OpenTracing compliant, jaeger will trace it. Looks like you could use this library: https://github.com/opentracing-contrib/java-mongo-driver to add tracing to the MongoDB driver. If you want MongoDB tracing at the database level, MongoDB itself would have to support that.

[2018-10-29 16:12] pavolloffay commented on #1148
Storage implementation supporting `all`/`any`  could return it from `GetServices` but perhaps c* could also support such query by leaving out `service_name` in `queryByTag`.

[2018-10-29 16:58] pavolloffay commented on #1137
@oleg172  what instrumentation are you using for your spring app?

setting `--collector.zipkin.http-port=9411` shouldn't help unless your services are instrumented with zipkin.

[2018-10-29 17:11] pavolloffay commented on #1108
@vprithvi did the tests fail locally or on travis?

[2018-10-29 17:49] vprithvi commented on #1054
@yurishkuro What are you suggesting?

[2018-10-29 17:56] yurishkuro commented on #1054
Expose metrics so that all these signals can be observed via existing tools. Maybe provide base Grafana dashboards.

[2018-10-29 18:10] vprithvi commented on #1054
I agree certain things can be served by Grafana, but I'm not convinced it is a good solution.

Let's take the problem of determining which hosts jaeger-agents run on and what versions these agents are on. What metrics would we emit to surface this?

[2018-10-29 18:47] #927 closed

[2018-10-29 18:48] yurishkuro opened #1150 "[tracking] Release 1.9"
* [ ] Documentation for agent changes #1092
* [ ] Merge UI upgrade #1143
* [ ] Prepare release notes

[2018-10-29 18:56] vprithvi commented on #1054
I'm not sure - re-reading the ticket, my intent was to determine whether all components are wired up correctly and are connected.

In this context, I believe the question we are answering is whether there is a jaeger-agent with a compatible version range connected to jaeger-collector, and which host/etc that it is running on.

I'm opposed to solely relying on metrics because of the following:
1. T

[2018-10-29 18:58] yurishkuro commented on #1145
Using Jaeger's protobuf model?  I suggest reading it with the same protobuf model, not manually. It will decode all the IDs as needed.

[2018-10-29 19:00] yurishkuro commented on #1129
I don't think presents an issue by itself, but feel free to open an issue in the go client repo.

[2018-10-29 19:00] #1129 closed

[2018-10-29 19:04] black-adder commented on #1108
I tried running the ES tests throughout the day at a regular cadence and noticed they started to fail after 6PM UTC. Haven't ascertained when the tests start to pass.

[2018-10-29 19:29] yurishkuro commented on #1058
The main difficulty is not with reloading of the config (I don't have a strong opinion on any of the above), but with how to structure the code to reflect those changes, since many classes are only initialized with fixed values. Two possible options are:
  * have the classes accept a "dynamic config" object at construction and read constant values from that interface rather than from internal fiel

[2018-10-29 20:09] ryansos commented on #1148
@pavolloffay I will investigate this option. I'll likely also need to have some type of front-end configuration option that will toggle this feature depending on storage type.

@yurishkuro I will explore this by potentially setting a configuration value to allow/disallow wildcard searching. If Cassandra does support this, as you say, this could alleviate my issue with developing this feature as st

[2018-10-29 21:38] Dieterbe opened #1152 "can we always sample slow requests?"
Hello, is there a way to set up sampling such that the slowest requests (longest root spans) are always instrumented?

We want to build a "slow query report" out of our jaeger traces so we can see all the queries that were slow. We could also build this into our application and track all queries that have long durations, but we're hoping to not have this feature creep into our application, and ins

[2018-10-29 22:00] yurishkuro commented on #1152
It requires #425

[2018-10-30 05:57] annanay25 commented on #1051
@pavolloffay could you review this? https://github.com/annanay25/jaeger/commit/2d167b86a14f1a88a6e7ed7cee84399f8403ba88
Reduced the default fetch limit from 10,000 to 1,000. And added a `FetchNext` function to implement scroll.

[2018-10-30 07:47] Puneeth-n commented on #207
**If applicable, what company/organization do you represent?**
@Comtravo

**How are you using Jaeger?**
Production on a subset of microservices.

**How many services (or microservices) exist in your system layout?**
26

**Storage**
AWS ES

[2018-10-30 10:14] jpkrohling commented on #1152
@Dieterbe would it be OK to close this, once you start following the issue that Yuri linked?

[2018-10-30 10:56] jpkrohling commented on #1149
I'm closing this, as I believe @black-adder's answer solves it, but feel free to reopen if you still have questions.

[2018-10-30 10:56] #1149 closed

[2018-10-30 13:21] jpkrohling commented on #1054
This is absolutely something we need, but I think @yurishkuro's question is valid. Depending on how users provision their Jaeger in production, they would have a service map and/or inventory defined somewhere already. As an alternative, I think @isaachier mentioned in another ticket a nice approach using a credit-based system, where clients would spend credits to check via HTTP whether a certain d

[2018-10-30 14:05] Dieterbe commented on #1152
yes. we can consider this a dupe. thanks folks.

[2018-10-30 14:05] #1152 closed

[2018-10-30 15:23] subashiniganesh commented on #1044
Ah!! Thanks for such a positive note. I submitted a PR. It was such an exciting experience. Shall I make a application and continue contributing?

[2018-10-30 15:51] jpkrohling commented on #1044
Sure, but hurry, it might be closing soon (if it's not closed already)!!!

[2018-10-30 16:12] subashiniganesh commented on #1044
Thanks @jpkrohling . I submitted the final application. And I am so glad to note that until Nov 16, we are allowed to make and record code contributions. Let me please search and find an issue and continue contributing. Please let me know if you have any suggestions.

[2018-10-30 18:53] yurishkuro commented on #1051
I think the simplest fix is what is proposed in the description of this ticket. It's not ideal since it will truncate the data, but we can revisit that later when/if we support a streaming API from the query service. At least this fix is fairly straightforward and will protect the query svc from OOM. Most of the analytics will choke on a trace with >100k spans anyway. The limits will be an optiona

[2018-10-30 19:20] ZigmunD commented on #1051
@yurishkuro I agree. Maybe should just mark trace in web interface that it is truncated due span limit.

[2018-10-30 20:02] yurishkuro opened #1155 "Promote @objectiser to full maintainer"
Gary made a number of commits to the [backend](https://github.com/jaegertracing/jaeger/commits?author=objectiser) and even more to [Java client](https://github.com/jaegertracing/jaeger-client-java/commits?author=objectiser).

@jaegertracing/jaeger-maintainers

[2018-10-30 20:03] black-adder commented on #1155
+1

[2018-10-30 21:07] tiffon commented on #1155
+1

On Tue, Oct 30, 2018, 4:03 PM Won Jun Jang <notifications@github.com> wrote:

[2018-10-31 08:46] shunge commented on #1058
Hi @yurishkuro , I am not quite sure I understanding your point correctly - so let me try to rephrase what you put:

Use `collector` as an example - it will read `HealthCheck` and `Logger` configs from a config file through viper, and go ahead to call func `NewHealthCheck ` and func `NewLogger ` to init and return a new HealthCheck and Logger. What you are suggesting is to let `NewHealthCheck ` an

[2018-10-31 08:46] jpkrohling commented on #1155
+1

[2018-10-31 08:51] jpkrohling commented on #1058
Those might be the easy parts, as they are almost stateless. What if the change is about the property `collector.port`? There should be an appropriate process to stop serving new requests while letting all in-flight requests to finish. At the same time, the new port should be ready.

[2018-10-31 10:00] pavolloffay commented on #1155
+1

[2018-10-31 13:21] pavolloffay commented on #1108
I will have a look at it. Here a failed travis job https://travis-ci.org/jaegertracing/jaeger/jobs/446428056

[2018-10-31 16:29] #1126 closed

[2018-10-31 16:47] #1155 closed

[2018-10-31 16:48] yurishkuro commented on #1155
🎉

Congrats, @objectiser !

[2018-10-31 17:00] black-adder commented on #1155
yay, congrats!

[2018-10-31 17:28] objectiser commented on #1155
Thanks!

[2018-10-31 19:07] yurishkuro commented on #943
This does not seem related to #355, correct? Maybe retitle to "memory-sensitive queue size" rather than "dynamic".

[2018-10-31 19:08] yurishkuro commented on #1058
@shunge so assume you do that and create a new instance of the Logger. What then? All other components inside the collector like http servers, storage, etc. have been already initialized with the old logger. You need to have a mechanism to tear them down and re-initialize, which is not something we designed for originally.

I think dynamic configuration has two types of data:
  1. Some configurati

[2018-10-31 19:56] isaachier commented on #943
So there are a bunch of algorithms that have been studied and used for network scheduling (https://en.wikipedia.org/wiki/Network_scheduler). My suggestion is either to reimplement one of them directly, or potentially leverage existing OS configurations to drop packets from spans according to one of those existing strategies.

[2018-10-31 20:11] 486 commented on #1105
@sylr yes Cosmos DB does support CREATE TYPE, we tried it. It is just not listed.
So I think making it configurable is still a good idea.

[2018-10-31 23:46] eldad87 opened #1159 "Please delete"
Please delete

[2018-10-31 23:49] #1159 closed

[2018-11-01 07:39] theute commented on #1155
Congrats @objectiser  !

[2018-11-01 13:34] pavolloffay commented on #1150
This should be also included in 1.8 to avoid breaking changes https://github.com/jaegertracing/jaeger/pull/109

[2018-11-01 13:35] pavolloffay commented on #1150
Here is the milestone https://github.com/jaegertracing/jaeger/milestone/6

[2018-11-01 13:37] pavolloffay commented on #1108
It seems that #1156 and #1151 didn't solve this.

[2018-11-01 16:58] yurishkuro commented on #1108
I wasn't expecting it would.

[2018-11-01 16:58] yurishkuro commented on #1108
my PR didn't fix it either.

[2018-11-01 17:11] yurishkuro commented on #1150
are you referring to another repo? 109 here is from 2017

[2018-11-01 17:50] ThomWright commented on #207
**If applicable, what company/organization do you represent?**

[Candide](https://candide.eu/)
@candide-eu

**How are you using Jaeger?**

Full production.

Running on GKE with an Elasticsearch backend hosted on Elastic Cloud.

We have the client library integrated into our NodeJS [service shell](https://microservices.io/patterns/microservice-chassis.html) library to automatically trace inter-serv

[2018-11-01 20:37] vprithvi commented on #1052
@marqc Thanks for the suggestion - we haven't yet explored it because we weren't familiar with how the build and deployment process changes when depending on a native bindings.

[2018-11-01 20:58] yurishkuro commented on #1052
My vote is against libraries that depend on native bindings. Not only do they complicate the build in CI, they increase the barrier to entry for new contributors.

[2018-11-01 21:02] isaachier commented on #1052
Ironically, given my C++ background, I happen to agree. Also, `go get` is completely useless for any Go package using non-Go build dependencies.

[2018-11-02 02:18] GuangmingLuo commented on #456
@black-adder Hi, as you said those query endpoints are always available from outside, right ? If this is correct, please document that either by Swagger or RAML. A lot of us are waiting for the documentation to make use of the APIs.

[2018-11-02 08:31] #1108 closed

[2018-11-02 08:44] #1013 closed

[2018-11-02 08:44] #1014 closed

[2018-11-02 08:44] #1093 closed

[2018-11-02 08:48] pavolloffay commented on #1150
The main missing parts are documentation of agent changes. @yurishkuro what documentation do you mean? The old flags are supported and deprecated.  The only reference in our docs is `--collector.host-port=jaeger-collector.jaeger-infra.svc:14267` which could be using a new flag.

Most importantly we should add ingester docs traced in https://github.com/jaegertracing/jaeger/issues/1030

[2018-11-02 17:04] yurishkuro commented on #1150
I meant to add notice of breaking changes in the changelog

[2018-11-02 19:59] shunge commented on #1058
Sorry @yurishkuro , I think I oversimplified the situation - you are right, there are too many layers that need to be teared down and reinitialized. So the tear down solution might not be the most optimal. I think the question eventually boiled down - which component can be initialized then change config on the fly (e.g. is logger one of them), and for those can't change on the fly (like @yurishku

[2018-11-03 03:05] yurishkuro commented on #1058
As I mentioned, I would suggest just starting with reloadable sampling strategies, behind an interface that can be implemented with file watching or SIGHUP now and via some other mechanism later.

[2018-11-05 08:08] quzhixue-Kimi commented on #1059
@fredipevcin , there is the same issue, which jaeger-collector, jaeger-agent and jaeger-query are deployed the docker. It is appreciated that you may review the command as below:
environment: macbook pro, there is one elasticsearch server that is installed in my host machine, whose port is 9200 and, the 'docker.for.mac.host.internal' domain is used to be connected.

1. collector:
docker run -d --n

[2018-11-05 09:37] quzhixue-Kimi commented on #1059
The issue was resolved by below script, which I used the es as the storage in my local macbook pro directly:
docker run -it --name=jaeger --restart=always -e SPAN_STORAGE_TYPE=elasticsearch -e ES_SERVER_URLS=http://docker.for.mac.host.internal:9200 -e ES_TAGS_AS_FIELDS=true -p 5775:5775/udp -p 6831:6831/udp -p 6832:6832/udp -p 5778:5778 -p 16686:16686 -p 14268:14268 -p 9411:9411 jaegertracing/all-

[2018-11-05 10:13] jpkrohling commented on #1059
I'm closing this issue, as it appears that this is not a problem anymore to anyone involved in this issue. If you still have questions, feel free to reopen this.

[2018-11-05 10:13] #1059 closed

[2018-11-05 13:02] Puneeth-n opened #1162 "Tracing backend and FAAS"
Is there a way by which we can propagate Span contexts via something like `SNS` in AWS. I have orchestrated all our Nodejs backends with Jaeger. I was wondering on how to integrate our AWS lambdas so as to trace the request from our backend to lambdas and back to our backend.

[2018-11-05 18:18] pjanotti opened #1163 "Expose protocol factory and logger so ThriftProcessor can be used directly by 3rd party code"
## Requirement - what kind of business use case are you trying to solve?

Expose ways to get protocolFactory and logger to leverage ThriftProcessor by 3rd parties.

## Problem - what in Jaeger blocks you from solving the requirement?

While building a Jaeger receiver for OpenCensus Agent I can leverage much of the code already exposed by Jaeger (see below). However, since Jaeger uses Thrift and Za

[2018-11-05 18:21] xihw commented on #1105
Hi @sylr / @black-adder  I also confirmed Cosmos DB does support CREATE TYPE now. Would be of great help if you could make it configurable.

[2018-11-05 19:30] ledor473 commented on #1162
@Puneeth-n it's definitely possible to do that!
In fact, propagating context with SNS is very similar to how you do it with HTTP.

Amazon SNS supports [message attributes](https://docs.aws.amazon.com/sns/latest/dg/sns-message-attributes.html) that can be used with [Inject/Extract methods](https://opentracing.io/guides/java/inject-extract/) to pass the context around.

[2018-11-06 00:01] yurishkuro commented on #1163
Could you please elaborate on what you're trying to do? What is OpenCensus receiver? Why does it need thrift format?

[2018-11-06 00:12] pjanotti commented on #1163
Ah first a clarification receiver is the tentative new name in OpenCensus for what is right now called an interceptor. What I am trying to do is add an interceptor/receiver for Jaeger to the OpenCensus agent per https://github.com/census-instrumentation/opencensus-service/issues/153. Note that the agent is not the collector, following the same terminology used in Jaeger.

[2018-11-06 06:33] jstoja commented on #994
Did you guys have any feedback on this?

[2018-11-06 08:31] Puneeth-n commented on #1162
@ledor473 Thanks for the reply. The lambdas would then send the span details out of bound to the collector directly over HTTP right?

[2018-11-06 08:37] sylr commented on #1105
Sorry guys, we switched to elastic for the data storage and I no longer have time to test CosmosDB.

[2018-11-06 09:58] samisamantha commented on #468
Hi @yurishkuro, thanks again for responding. I apologize for responding at a later time - I was assigned to a different ticket for a time.

I tried setting it programmatically:
`		SenderConfiguration sender = new SenderConfiguration();
		sender.withEndpoint("http://10.0.75.1:14268/api/traces");
ReporterConfiguration reporter = new ReporterConfiguration();
		reporter.withLogSpans(true);
		reporter.

[2018-11-06 11:02] jpkrohling commented on #994
Yes! It's being tracked here: https://github.com/cncf/toc/pull/171

[2018-11-06 11:13] jpkrohling commented on #1162
It sounds like a great blog post! If you want to publish a how-to under our Medium publication, let me know!

[2018-11-06 11:14] jpkrohling commented on #468
@samisamantha could you also paste the code related to how you set the `sampler`?

[2018-11-06 12:05] Puneeth-n commented on #1162
Still getting the hang of it. Definitely my next project

[2018-11-06 17:39] pjanotti commented on #1163
This is reasonable. It was not clear to me if there was the intent of exposing that (and making it "embeddable") or not. Closing...

[2018-11-06 17:39] #1163 closed

[2018-11-06 21:42] 486 commented on #1105
@black-adder @yurishkuro we hacked on it and made it work with CosmosDB... mostly.

The point is that CosmosDB in Cassandra mode has some specialties that we need to work around. In the end it would become a distinct backend type rather than a few config switches.

Before we put more work into it, would you be open to accept a new backend?

It would surely make jaeger very convenient to use on Azu

[2018-11-07 01:44] samisamantha commented on #468
Hi @jpkrohling, here it is:
`SamplerConfiguration sampler = new SamplerConfiguration();
		sampler.withType("const");
		sampler.withParam(1);`

[2018-11-07 03:05] odeke-em commented on #1163
The Thrift issue was be solved by ensuring that the version of Thrift-Go being used is `v0.10.0` . Thus, with modules `go get github.com/apache/thrift/lib/go/thrift@0.10.0` as Thrift commit https://github.com/apache/thrift/commit/5785279e2e809f6c56dbbe0eb41d13fb17c88bdd added `context.Context` to `thrift.TProtocol.Flush` yet Uber uses a version from `v0.10.0`

[2018-11-07 06:57] xihw commented on #1105
@486 good to hear that you are able to make it work. Would you mind sharing more information on what work around you did ?

For me it always says:
{"level":"info","ts":1541018500.2958531,"caller":"healthcheck/handler.go:99","msg":"Health Check server started","http-port":16687,"status":"unavailable"}
{"level":"fatal","ts":1541018505.7411027,"caller":"query/main.go:105","msg":"Failed to init storag

[2018-11-07 09:32] pavolloffay commented on #1044
After this is done we should add configuration to docker compose file pointing tracer to jaeger agent.

[2018-11-07 12:08] pavolloffay commented on #773
I am working on this now. I want to implement a minimal working solution using grpc communication between agent and collector and get it merged to master as experimental.

So far I have rebased @isaachier PR https://github.com/jaegertracing/jaeger/pull/1042 and added proto for sampling. I will be submitting PR shortly.

I will be posting my notes here what should be done afterwards:

- [ ] metric:

[2018-11-07 13:14] yurishkuro commented on #773
Would it move this along better if we start merging smaller pieces into master, e.g. my branch & Isaac's PR? I think the tests were outstanding.

[2018-11-07 13:45] pavolloffay commented on #773
I think it would break me right now. I will submit a PR to master based on those two. Now fixing the coverage.

[2018-11-07 15:28] pavolloffay opened #1164 "Properly close agent"
## Requirement - what kind of business use case are you trying to solve?

## Problem - what in Jaeger blocks you from solving the requirement?
nothing

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Catch signal and close agent and reporter like it is done in collector and all-in-one mains.

## Any open questions to address

[2018-11-07 15:53] isaachier commented on #773
Hey @pavolloffay. Glad to see this finally happening! Please let me know if you need any help here.

[2018-11-07 16:07] objectiser commented on #1150
@yurishkuro Would it be possible to include https://github.com/jaegertracing/jaeger-ui/pull/263 in this release?

[2018-11-09 14:43] morigs opened #1167 "Strange limit behavior"
## Requirement - what kind of business use case are you trying to solve?

Searching traces by tags. View a certain amount of recent traces.

## Problem - what in Jaeger blocks you from solving the requirement?

Jaeger shows very different search results depending on the limit. Some of traces from begging and the middle of the full list disappears on small limits.

![screenshot from 2018-11-09 16-5

[2018-11-09 17:13] #678 closed

[2018-11-09 23:04] yurishkuro commented on #1167
I think this is the same issue as #411

[2018-11-10 16:18] morigs commented on #1167
OK, but in #411 there is no activity from October 13. What to do next?
And I think that this is not a question, but definitely a bug.

[2018-11-10 16:35] yurishkuro commented on #870
ingester was released in 1.7 (although didn't make it as docker container, that will happen in 1.8)

[2018-11-10 16:35] #870 closed

[2018-11-10 16:46] yurishkuro commented on #690
Closing in favor of #166

[2018-11-10 16:46] #690 closed

[2018-11-10 16:47] #652 closed

[2018-11-10 16:48] yurishkuro commented on #411
Duplicate of #166

[2018-11-10 16:48] #411 closed

[2018-11-10 16:50] yurishkuro commented on #1167
Lack of activity is not going to be helped by opening a duplicate ticket. Both tickets are duplicates of a much earlier ticket #166, a known issue.

[2018-11-10 16:50] #1167 closed

[2018-11-10 16:51] yurishkuro commented on #768
Duplicate of #166

[2018-11-10 16:51] #768 closed

[2018-11-10 17:40] yurishkuro commented on #166
I can see three things we could do here (higher priority first):
  * Make it clear in the documentation the limitation of Cassandra search and recommend Elasticsearch  to people who are interested in the search use case (as opposed to data-mining driven navigation)
  * For Cassandra users, implement https://github.com/jaegertracing/jaeger-ui/issues/243
  * Consider a different Cassandra storage im

[2018-11-11 14:21] mirza-s opened #1168 "ui: wrong units in TraceResultsScatterPlot"
Units in scatter plot are not consistent with displayed data.
Units are in seconds while data points are in ms.

Docker image version: jaegertracing/all-in-one:1.7

[![units.png](https://i.postimg.cc/gkd17zN2/units.png)](https://postimg.cc/CdPvBV33)

[2018-11-11 19:54] #1043 closed

[2018-11-12 10:12] sameer-gupta opened #1169 "Trace Request/Response"
Need to trace the whole request and response from different microservices.

[2018-11-12 10:13] sameer-gupta commented on #1169
Is there a way to trace whole Request and response body in jeager.

[2018-11-12 10:28] objectiser commented on #1169
Jaeger, as with any OpenTracing compliant tracer, provides the means to create spans on which the application can record tags and log events. It does not dictate what information is actually recorded on the spans.

If the application/service being traced is explicitly creating its own spans, to represent the sent/received request/response, then it can store the request/response body itself.

If yo

[2018-11-12 10:29] objectiser commented on #1169
Closing, but feel free to re-open if you have any further questions.

[2018-11-12 10:29] #1169 closed

[2018-11-12 17:13] pavolloffay commented on #927
So new flags are
[code]
I am wondering whether `--reporter.tchannel.collector.host-port` could be renamed to ` `--reporter.tchannel.host-port` The collector seems a bit redundant there. cc @yurishkuro

[2018-11-12 18:57] annanay25 commented on #355
A library like - https://github.com/micro/go-config - could provide some helpful features like watching/notify for config changes and listening to multiple sources (etcd + env-vars, for example).

[2018-11-12 20:52] yurishkuro commented on #927
agreed

[2018-11-12 21:41] #1125 closed

[2018-11-13 06:47] douzizuibang opened #1173 "unknown command "/go/bin/agent-linux" for "jaeger-agent" for docker-compose"
I have a VM of ubuntu 16.04,
and then install docker(18.09.0), install docker-compose(1.20.0).

**the follew is docker-compose.yml:**
[code]

**the log has been print after docker-compose up:**
[code]

[2018-11-13 07:08] annanay25 commented on #1173
Hi,

Did you try using the official `docker-compose.yml` distributed with this repo?
https://github.com/jaegertracing/jaeger/blob/master/docker-compose/jaeger-docker-compose.yml

[2018-11-13 07:53] jpkrohling commented on #355
I have nothing against `go-config`, but those features are also provided by the lib we are currently using (Viper).

[2018-11-13 08:35] pavolloffay commented on #927
Will remove and cut 1.8

[2018-11-13 10:35] pavolloffay commented on #1173
@douzizuibang in jaeger 1.6 we have changed dockerfiles to use entrypoint. Please use official docker-compose.yml from this repo.

[2018-11-13 10:35] #1173 closed

[2018-11-13 10:40] #1030 closed

[2018-11-13 10:56] jpkrohling commented on #1173
Also, I would recommend using fixed versions on the image specification to avoid this kind of issue.

[code]

[2018-11-13 11:11] pavolloffay commented on #1150
https://github.com/jaegertracing/jaeger-ui/pull/263 will be added in 1.8.1 as discussed.

[2018-11-13 13:33] koliyo commented on #729
Being able to inspect long running requests before they are complete is a really important functionality for us as well! We have tasks that take anywhere from sub-second up to many hours.

Jaeger/opentracing would be the perfect tool if we could trace progress during the execution of the tasks tasks.

[2018-11-13 14:04] istrel commented on #1168
I face this issue too.

I noticed that the time axis also has incorrect values. For example, in my case, I see the page in 16:51 (i.e. 4:51 pm)

`jaegertracing/all-in-one:1.8` started after 16:44. All spans are generated between 16:44 and 16:45. But according to the chart they were generated between 7 am and 9 am

<img width="1252" alt="screenshot 2018-11-13 at 16 50 41" src="https://user-images.g

[2018-11-13 14:06] istrel commented on #1168
@mirza-s Please, check out 1.8.

Seems, like the issue is not reproduced on this version

[2018-11-13 14:21] pavolloffay opened #1177 "Metrics handler in agent 1.8 is not registered"

[2018-11-13 16:13] mirza-s commented on #1168
Issue not present in v1.8.

Thank you.

[2018-11-13 16:20] mirza-s commented on #1168
While the vertical issue is resolved. It appears that the horizontal time axis is all over the place.

[2018-11-13 16:25] #1177 closed

[2018-11-13 17:19] Dudesons commented on #197
@yurishkuro Do you have an ETA when we can use scylla as a storage backend ?

[2018-11-13 17:55] yurishkuro commented on #197
blocked in https://github.com/jaegertracing/jaeger/pull/793

[2018-11-14 06:12] clyang82 commented on #207
elasticsearch in IBM ICP with tls enabled

[2018-11-14 08:59] phal0r commented on #729
I agree. I am working on finishing this implementation. There is one more change for the current pull request required and the discussion in https://github.com/jaegertracing/jaeger/issues/1119 needs to be resolved aswell, since this feature changes the cassandra schema.

[2018-11-14 13:49] fommil commented on #456
subscribers to this thread may like to know about https://github.com/symbiont-io/jaeger-flamegraph which is a little tool I wrote to consume data from this undocumented endpoint and produce a flamegraph.

It would be **super** useful to me if the API was adapted to

1. not have a limit by default (or `-1` to disable it)
2. to download data for all services in a single JSON

[2018-11-15 08:48] pavolloffay opened #1184 "[tracking] Release 1.9"
Creating this to track release 1.9. Please post issue which we want to include in the release or point out breaking changes for documentation.

- [x] gRPC https://github.com/jaegertracing/jaeger/issues/773
- [ ] archive traces for Elasticsearch https://github.com/jaegertracing/jaeger/issues/818
- [x] Bump UI with trace graph
- [x] Bump jaeger lib to 2.0 - optional, jaeger go client has to be updat

[2018-11-15 10:28] pavolloffay opened #1186 "Remove zipkin thrift endpoint from agent"
Remove 5775/udp which accepts zipkin.thrift over compact thrift protocol

From https://github.com/jaegertracing/jaeger/pull/1181#discussion_r233632594

[2018-11-15 15:37] yurishkuro commented on #1184
We may need a smaller scope than #773, eg we don't have to block on not finishing up the JSON APIs.

[2018-11-15 15:42] pavolloffay commented on #1184
I mainly wanted to stabilize post spans service so we can start doing some work in clients. We can break it down into separate issues.

[2018-11-15 16:17] awiradarma opened #1188 "Using a kerberos secured Kafka as buffer between Jaeger and Elasticsearch"
## Requirement - what kind of business use case are you trying to solve?
We want to store our jaeger spans in ElasticSearch, but we want to use Kafka as a buffer in between jaeger collector and our ES cluster. We would still want the Jaeger UI to query against our ES cluster. Our production Kafka clusters are Kerberos secured.

## Problem - what in Jaeger blocks you from solving the requirement?
J

[2018-11-15 16:30] yurishkuro commented on #1188
Don't know about Kerberos specifically, but sarama driver does expose the TLS configuration

https://sourcegraph.com/github.com/Shopify/sarama/-/blob/config.go#L42

[2018-11-15 16:35] pavolloffay commented on #818
@yurishkuro Are the archived traces shown on `/search` page? it seems that an archived trace can be only accessed directly via `/trace/id` endpoint.

[2018-11-15 16:57] pavolloffay commented on #818
If the above is true we don't want to create index for service names, therefore e will have to make changes to span writer and reader. I also assume that we will create only one archive index per deployment.

To be able to support multiple tenants the index prefix will be just put in front of the archive index e.g. `tenant:jaeger-span-archive` or `tenant:jaeger-span-1970-01-01` :)

[2018-11-15 23:41] yurishkuro opened #1190 "[ingester] Crash if Kafka is specified as storage"
Reported by @ledor473 - https://github.com/jaegertracing/jaeger/pull/1094#issuecomment-439221399

I've just realized that if you run the Ingester with `SPAN_STORAGE_TYPE=elasticsearch,kafka`, the Ingester crash with the following:
[code]

I'm not sure how, but I feel we should add a validation on the storage type to prevent the use to `KAFKA` in the Ingester. Unless we want to support Kafka -> Kaf

[2018-11-15 23:42] yurishkuro commented on #1190
yeah, we haven't envisioned kafka->kafka

[2018-11-16 00:21] yurishkuro commented on #1186
I would like to validate this internally first (we should have metrics).

[2018-11-16 00:23] #1164 closed, assigned to pavolloffay

[2018-11-16 02:06] ledor473 commented on #1190
I’ll try to do the fix tomorrow, I think there’s a 1.8.1 that is planned and this fixe could be part of it

[2018-11-16 03:58] yurishkuro opened #1191 "Something is broken in crossdock"
The client builds started to fail where they previously succeeded, e.g. this is the rebuild of master branch of Python client, it was green previously: https://travis-ci.org/jaegertracing/jaeger-client-python/jobs/449920101

This may be related to gRPC changes if we started defaulting to different ports, or because we changed the CLI params.

c @pavolloffay

[2018-11-16 11:00] gouthamve opened #1192 "[agent] Deprecated flags are ignored totally"
When a deprecated flag, for example, `--discovery.min-peers=50` is set and the corresponding replacement flag is not set, then we would need `MinPeers` to take the value of `50`. But the actual value is set to `3`.

https://github.com/jaegertracing/jaeger/blob/master/cmd/agent/app/reporter/tchannel/flags.go#L82-L83
would always overwrite this (i.e, with default values even if the new flags are not

[2018-11-16 11:14] pavolloffay opened #1193 "Remove reporter EmitBatch(batch *jaeger.Batch) from agent reporter"
Copied from See https://github.com/jaegertracing/jaeger/pull/1181#discussion_r234053131

Right now we have this flow:
[code]
What I am proposing, is to eliminate `reporter::SubmitZipkinSpans` completely and have this:
[code]
This way the Reporter only has a single method for Jaeger spans (in Thrift, for now).

Once we remove tchannel completely, we can push thrift->domain conversion into UDP serve

[2018-11-16 11:18] pavolloffay commented on #1193
Also remove duplicated metrics in reporter
[code]

[2018-11-16 11:20] pavolloffay opened #1194 "Refactor httpserver package in agent"
The `httpserver` package should contain manager with metrics and two subpackages: tchannel and grpc.

[2018-11-16 11:27] pavolloffay opened #1195 "[tracking] Release 1.8.1"
The issue for tracking 1.8.1 release.

We need to cherry-pick the following commits:

- [x] metrics handler registration in agent https://github.com/jaegertracing/jaeger/commit/c296998c2e0491725033eb2ba8607c3d325856a3
- [x] agent flags https://github.com/jaegertracing/jaeger/issues/1192 https://github.com/jaegertracing/jaeger/commit/7d664e6b0af19ee8f60ecc488d8e42bb6fe65942
- [ ] UI bump with https

[2018-11-16 11:29] pavolloffay commented on #1195
Do we have any name requirements for branch name?  So far we don't have any maintenance branch. I am also wondering if the release will work from a branch other than master.

[2018-11-16 12:56] pavolloffay commented on #1191
I have restarted the build and it failed again... I am not sure if it's bc of changed cli 54/55 tests passed.

[2018-11-16 13:19] pavolloffay commented on #1191
java CI also failed, funny that it worked locally

[2018-11-16 13:23] pavolloffay commented on #1191
The second build in java passed. Is there a way that something is broken in python client?

[2018-11-16 13:31] isaachier commented on #1191
Seems to be timeout and/or some networking bug. Let me check.

[2018-11-16 13:33] pavolloffay commented on #1191
getting xdock logs in python is also broken, it seems like bash syntax issue.

[2018-11-16 13:34] isaachier commented on #1191
OK I see we use alpine in several places. I have had significant DNS bug issues with alpine and crossdock. This could potentially explain issues with elasticsearch as well. See here for more details: https://github.com/gliderlabs/docker-alpine/issues/255.

[2018-11-16 13:47] pavolloffay commented on #1191
What I see localy the address of `go` service gets translated some public IP.

[2018-11-16 13:51] isaachier commented on #1191
That might be fine. I've had issues where crossdock image "x" looks for crossdock image "y" by doing some invalid lookup on DNS for a literal "y." It should not be doing that for a local crossdock connection.

[2018-11-16 15:04] yurishkuro commented on #1195
1.8.x as name?

[2018-11-16 15:56] pavolloffay commented on #818
We should also think about retention for the archive index. We could do it per time like proposed in #628 (day, month, year) or just allow to use a different index name e.g. `jaeger-span-archive-2. It might be also doable with prefix.

Note that it's not expected to delete data from an index in ES.

[2018-11-16 16:40] pavolloffay commented on #818
^^ cc @jaegertracing/elasticsearch

[2018-11-16 18:35] pavolloffay commented on #1011
This is annoying the tests are still failing.

[2018-11-16 18:55] yurishkuro commented on #1193
Also update changelog per https://github.com/jaegertracing/jaeger/pull/1180#discussion_r234311418

[2018-11-16 21:03] ledor473 commented on #1168
I'm seeing the same issue regarding the horizontal axis (confirmed against 1.7 and 1.8):

<img width="1555" alt="screen shot 2018-11-16 at 1 46 05 pm" src="https://user-images.githubusercontent.com/1359779/48640930-33574380-e9a6-11e8-906a-86b748cc07b9.png">

[2018-11-16 21:19] yurishkuro commented on #1168
duplicate of https://github.com/jaegertracing/jaeger-ui/issues/270