[2017-09-27 15:00] jpkrohling commented on #432
That's another way of viewing that, yes. I would still like to see some sort of failure/notification in case the Agent can't contact the collector for an extended period of time, though, as I believe the agent would just start dropping spans if its buffer is full.

[2017-09-27 15:01] pavolloffay commented on #414
slightly off-topic but now we have a spak job which processes spans and creates dependency links: https://github.com/jaegertracing/spark-dependencies

[2017-09-27 15:02] pavolloffay commented on #244
Fixed closing.

[2017-09-27 15:02] #244 closed

[2017-09-27 15:03] pavolloffay commented on #215
Closing now we have a spark job which processes spans and creates dependency links: https://github.com/jaegertracing/spark-dependencies

[2017-09-27 15:42] yurishkuro commented on #432
The agent has reconnect logic if collector drops the connection.

[2017-09-27 15:43] yurishkuro commented on #215
@pavolloffay could you please mention it in the documentation somewhere?

[2017-09-27 16:36] stammana commented on #355
Just wanted to check if the agent is mandatory to adopt the feature Adaptive sampling. We are trying to replace the jaeger agent with fluentd pipeline for tracing, I am not sure if we would be able to use the adaptive sampling with this approach. What is the control point for adaptive sampling at the collector, how are the changes get triggered? Also wanted to check if jaeger client generates the

[2017-09-27 16:41] jpkrohling commented on #432
That didn't seem to be enough to get his Agent back in a working state :-/

[2017-09-27 17:01] black-adder commented on #355
The agent is only a proxy for the collector when it comes to adaptive sampling. The collector actively calculates new sampling rates as the spans come in and the client fetches the sampling rates via agent which fetches them from the collectors.

If you want to remove the agent completely, then we'd need to build a mechanism for the clients to fetch sampling rates directly from the collector which

[2017-09-27 19:32] otoolep commented on #421
cc @kevinbirch

[2017-09-28 02:48] sunfaces opened #435 "Istio supported"
Hi all:
   Istio is going to be the most popular service mesh, so is istio supported by jaeger now?

[2017-09-28 02:54] yurishkuro commented on #435
istio uses zipkin format which is already supported. You can find references in one of the closed issues.

@objectiser wasn't there a blog about it?

[2017-09-28 03:30] ray1888 opened #436 "agent receiving client batch problem"
i am just reading the code , i find it hard to find how the agent/app/thrift-gen/agent.go file by thrift gen code from jaeger-datamodel project , so it probably hand write by your teams? waiting for response

[2017-09-28 03:31] ray1888 commented on #436
the correct file path is jaeger/thrift-gen/agent/agent.go

[2017-09-28 03:35] black-adder commented on #436
Checkout https://github.com/jaegertracing/jaeger/blob/master/Makefile#L181 it's the make command that generates the thrift files

[2017-09-28 06:45] #436 closed

[2017-09-28 07:04] #215 closed

[2017-09-28 07:10] objectiser commented on #435
There isn't currently a blog post, although will do one once some other improvements are made within Istio.

However documentation for using Jaeger with Istio can be found here: https://istio.io/docs/tasks/telemetry/distributed-tracing.html

[2017-09-28 07:13] pavolloffay commented on #158
Related discussion https://groups.google.com/forum/#!topic/jaeger-tracing/L27aTD9kXRc

[2017-09-28 07:24] ray1888 opened #438 "how agent receive(handle) thrift send from client"
i try to get the message that the hotrod example sent to the agent , but so far i the code i read , i can't find how the TbufferServer or ThriftProcessor to handle the message . and i find that jaeger-idl for agent , the function define in agent.thrift has not found in the TbufferServer or ThriftProcessor, but as my understanding Server end thrift need to have the same function in it to receive th

[2017-09-28 07:25] objectiser commented on #435
Created #437 to add reference in docs.

[2017-09-28 09:07] ray1888 commented on #438
in my understanding , client  suppose to send span to agent by the function emitZipkinBatch() show in thrift  ,  so i try to write a python agent to receive it , code is below
[code]

but i can't receive to print anything ,so where is the problem , i am using hotrod as the testing front app

[2017-09-28 09:39] Dieterbe commented on #432
@yurishkuro next time this (issue 2) happens (i.e. app getting conn refused to agent, and agent logging timeouts, and a restart fixes it) what I can do to provide diagnostics before i restart the process? a stacktrace?  BTW maybe the agent should get a pprof endpoint (i noticed http://localhost:5778/debug/pprof doesn't work, though i can use sigquit also)

regarding issue 1, is this most likely an

[2017-09-28 10:52] Dieterbe commented on #432
i just had it happen again, and what happened is agent-linux process got OOM killed. but the interesting thing is for some reason the container keeps running, i'll look into how the docker container/image is set up to see if i find the problem.

[2017-09-28 17:08] otisg commented on #427
@jpkrohling I have a feeling nobody else is looking at this so I don't think we'll hear about other views.

We can implement the approach where ES or Cassandra can be used as auth stores.  Would that work for both @jpkrohling and @yurishkuro in terms of getting this merged?

Let me start a thread on the mailing list.  I assume that's the best way to start that discussion.

[2017-09-28 17:15] #435 closed

[2017-09-28 20:25] mabn opened #439 "Elasticsearch indexing performance issues"
Currently ES store does not use bulk API and issues a request to ES for every span. This is not very efficient, but in combination with transaction log flushing leads to performance issues.

The [default setting](https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules-translog.html#_translog_settings_2) of `index.translog.durability` is `request` which means that there is a f

[2017-09-29 09:39] kevinearls opened #440 "Broken link on Client Libraries page in doc"
The link to HttpSender.java has an extraneous leading /

[2017-09-29 14:17] black-adder commented on #440
Resolved by #441

[2017-09-29 14:17] #440 closed

[2017-09-30 00:52] rnburn commented on #228
Hey @isaachier just wanted to check in on this as some people were asking about using Jaeger for [nginx](https://github.com/rnburn/nginx-opentracing/issues/7).

Are you planning on binding to the [OpenTracing API](https://github.com/opentracing/opentracing-cpp)? I don't see any code for it in https://github.com/isaachier/cpp-client.

Also, just a suggestion: you may want to consider limiting your

[2017-09-30 04:59] ray1888 commented on #438
i want to rewrite the agent part by python , how can i receive the span from the client, can somebody tell me to the solve the receiving problem , thx

[2017-09-30 08:46] ray1888 opened #443 "what is the metrics and metric factory means in the jaeger?"
what is the metrics and metric factory means in the jaeger?

[2017-10-01 03:25] isaachier commented on #228
As of now, this has been sort of a side project. I did see the OpenTracing API, but not sure if it is worth the headache of merging. If there is a good reason to, I will. Right now seems the C++ API is not widely used and not yet stable (see end of their README).

I have thought about the dependencies. In short, Boost is one of the few libraries I feel is indispensable. One strong reason for this

[2017-10-01 03:35] rnburn commented on #228
@isaachier We just released version 1.0 of the C++ OpenTracing API. While it might evolve somewhat, the expectation is to keep it as stable as possible. I wrote that README; the section you're talking about was copied over from the [OpenTracing Go API](https://github.com/opentracing/opentracing-go#api-compatibility).

I'm expected to release nginx OpenTracing bindings soon into opentracing-contrib

[2017-10-01 03:52] isaachier commented on #228
OK great. I am not opposed in any way to merging using the OpenTracing C++ API, especially if it means we can leverage future instrumentations of C/C++ based projects. I'll take a look at the dependencies again and see what I need vs what is truly important. The hardest part here is networking using sockets on different platforms without a convenient wrapper like Boost ASIO.

[2017-10-01 09:44] isaachier commented on #228
I pushed a commit with some initial work. As of now, doesn't look too difficult to implement OpenTracing interfaces using existing code.

[2017-10-01 15:49] happyyi008 opened #444 "glide install not working"
I followed the steps the get started and got an error running `glide install`:
[code]

[2017-10-01 16:48] yurishkuro commented on #444
what's the version of glide you have installed?

[code]

[2017-10-01 16:51] happyyi008 commented on #444
glide version v0.12.3

[2017-10-01 16:59] yurishkuro commented on #444
is your GOPATH setup correctly?  The jaeger repository is supposed to be located at `$GOPATH/src/github.com/uber/jaeger`

[2017-10-01 18:06] happyyi008 commented on #444
Ah, I see. It's working now. Thank you.

[2017-10-01 18:06] #444 closed

[2017-10-01 18:27] yurishkuro commented on #444
I clarified it in CONTRIBUTING.md (https://github.com/jaegertracing/jaeger/commit/3419f80b2bd76a41336eaecd3f43b692debf2d24)

[2017-10-02 02:44] rbtcollins opened #445 "create.sh fails when the DC name contains a hyphen."
The generated CQL is invalid - I'm not sure whether its missing quoting, or just unusable.

Example output:
[code]

[2017-10-02 04:15] yurishkuro commented on #445
I think `-` is invalid character for the keyspace name

[2017-10-02 05:46] rbtcollins opened #446 "glide confusion w.r.t. repository"
Glide and the go imports all seem to think this repository is at github.com/uber, not jaegertracing.

I'm not enough of a go expert to understand all the tradeoffs here, but it has lead me into a number of weird build time issues with vendor packages not found and the like - would there be any objections to a mass s/r to update this to the actual home?

example errors:

[code]

I do have the vendo

[2017-10-02 06:36] rbtcollins commented on #445
Its definitely valid for datacentre names; sounds like create should mangle it to _ if its invalid.

[2017-10-02 06:38] rbtcollins commented on #445
(or perhaps "/cassandra-schema/docker.sh" should?)

[2017-10-02 06:44] rbtcollins opened #447 "minimum version of go not documented"
At least, not in README or CONTRIBUTING, as far as I can see.

Its newer than 1.6, which doesn't have 'context', as examples/hotrod required that to build.

[2017-10-02 07:34] pavolloffay commented on #445
It fails because Datacenter name is used in keyspace name.
https://docs.datastax.com/en/cql/3.1/cql/cql_reference/ref-lexical-valid-chars.html

`/cassandra-schema/docker.sh` is just a wrapper for `create.sh`.

[2017-10-02 11:28] yurishkuro commented on #447
It's 1.7 now, I will soon upgrade to 1.9 and add to the docs.

[2017-10-02 11:33] yurishkuro commented on #446
CONTRIBUTING.md explains how to set up the path correctly.

[2017-10-02 15:16] vprithvi commented on #425
I propose some refinements. Instead of going all or nothing, I think we should use adaptive sampling to select a sample of spans to emit. Ideally, we can go all the way to 100pc, but having some head based sampling could provide an upper bound on the resources used by the instrumented process.

Similar to @jpkrohling's comment, this makes the assumption that sending Spans could saturate links betw

[2017-10-02 15:21] vprithvi commented on #423
Related: https://github.com/jaegertracing/jaeger/issues/238

[2017-10-02 15:38] yurishkuro commented on #425
@vprithvi yes we need to profile all three.

I do not see tail-based sampling as a replacement for adaptive sampling, they can co-exist. Adaptive loop drives head-based sampling that ensures continuous probing of the architecture that is useful for capacity planning, blackbox text coverage, etc. Tail-based sampling is useful for capturing anomalies. We can run both of those at the same time.

[2017-10-02 15:53] black-adder opened #448 "clockskew.go adjuster should skip FollowsFrom spans"
Right now, followsFrom spans are incorrectly clock skew adjusted to fit inside the parent

[2017-10-02 18:28] rbtcollins commented on #447
Thank you.

[2017-10-02 18:29] rbtcollins commented on #446
Thanks. Perhaps we could add a reference to CONTRIBUTING.md from README.md : I didn't think about *contributing* when I was looking just to be able to build with a bugfix.

[2017-10-02 18:30] rbtcollins commented on #445
@pavolloffay yes indeed - but thats my point: the code in docker.sh presumes that the datacentre name is a valid keyspace name component.

[2017-10-02 20:00] #446 closed

[2017-10-02 20:06] yurishkuro commented on #420
@caniszczyk the license has been added https://github.com/prashantv/protectmem/commit/e20412882b3adb9cabd3e9013d68adbfff9ea946

[2017-10-02 20:10] caniszczyk commented on #420
Thank you :)

On Mon, Oct 2, 2017 at 1:06 PM Yuri Shkuro <notifications@github.com> wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2017-10-02 20:13] #420 closed

[2017-10-03 07:22] rbtcollins commented on #446
Thanks.

[2017-10-03 14:04] black-adder commented on #443
metrics factory creates a metrics instance that can write to local memory, prometheus, statsd, etc.

[2017-10-03 15:16] black-adder commented on #438
Hi, the hotrod demo doesn't emit zipkin batches by default anymore, it emits jaeger batches now. The python client defaults to writing zipkin format (which will be fixed to emit jaeger in the future). For now I recommend you checkout https://github.com/yurishkuro/opentracing-tutorial/tree/master/python and write a super simple python service with a tracer and use that to test your agent.

May I as

[2017-10-04 14:52] pavolloffay opened #450 "Support Zipkin v2"
Schema: https://github.com/openzipkin/zipkin-api/blob/master/zipkin2-api.yaml

[2017-10-04 14:58] pavolloffay opened #451 "Span kind for Zipkin shared spans"
Zipkin span can contain both server and client annotations. For this span we should consider adding server and client span kind.

This fix could help to determine dependency link between services. The current implementation has to use logs in addition to tags.

The current implementation adds only one span kind tag. The decision is based on the order of annotations https://github.com/jaegertracing

[2017-10-04 15:14] pavolloffay commented on #451
The above about logs does not hold because core annotations are not added as logs https://github.com/jaegertracing/jaeger/blob/master/model/converter/thrift/zipkin/to_domain.go#L282

[2017-10-04 21:57] yurishkuro commented on #451
under what circumstances?

[2017-10-05 00:22] adriancole commented on #451
Zipkin span can contain both server and client annotations.

under what circumstances

This can happen in adhoc POST requests by users saving traces, if they are
using the spark streaming job, or otherwise exporting data and merge by
span ID (only applies to v1 format, core annotations are invalid/redundant
in v2)

[2017-10-05 00:24] adriancole commented on #451
So when we receive a v1 span, we end up splitting it. The logic isnt fun,
but if there were server and client annotations, it would become 2 v2 spans
varying on kind but still having the same span ID.

[2017-10-05 01:35] yurishkuro commented on #451
yeah, that was my expectation as well. The PR just puts two `span.kind` tags on the Jaeger span, which is quite hacky, i.e. seems like it's more likely to confuse things later on than help.

[2017-10-05 08:53] pavolloffay commented on #451
So how we move forward this? Currently, we are loosing information.

Are we going to do the split too?

[2017-10-05 13:52] yurishkuro commented on #451
I think that's three only way, yes.

[2017-10-06 09:43] jpkrohling opened #455 "Adopt static code analysis with security verification"
Adopt a static code analysis that can also verify common security problems. One possible candidate is https://github.com/alecthomas/gometalinter .

This is part of #404 .

[2017-10-06 09:53] jpkrohling opened #456 "Document external interfaces"
*    agent's HTTP/JSON API polled by the clients
*    agent's UDP/Thrift APIs (we already have IDLs for that)
*    collector's HTTP POST API (Thrift and JSON)

Discussion: https://groups.google.com/d/msg/jaeger-tracing/L27aTD9kXRc/-Y3PTdy-BAAJ

Related to #404 .

[2017-10-06 10:06] jpkrohling opened #457 "Build a secure channel for security reports"
For the new website, we need to add instructions on how to send security reports in an encrypted way. It's also good practice to link this page from all other pages, so that it can be easily found. Example: https://qaclana.io/security/

The usual way to achieve this is to create a PGP key, publish it to a key server and distribute the key to the members of a "security response team".

This is part

[2017-10-06 10:12] jpkrohling opened #458 "Allow secure communication between components"
**Update 2019-09-20: replaced by #1718**

Document and/or implement secure communication channels[1] between components, like:

  * [x] Tracer -> Collector
  * [x] Agent -> Collector: #1310
  * [x] Collector -> data store (Cassandra, Elasticsearch)
  * [x] Query -> data store (Cassandra, Elasticsearch)
  * [ ] User -> UI
  * [ ] UI -> Query
  * [ ] Tracer -> Agent

This is related to #404 .

1 - T

[2017-10-06 10:14] jpkrohling commented on #458
Current state:

[2017-10-06 10:17] jpkrohling commented on #404
I just finished going over the items for this badge and I think we are in a good shape. The missing parts are mostly regarding security and I created issues on this repository to handle that.

[2017-10-06 10:36] pavolloffay commented on #456
Also related to https://github.com/jaegertracing/jaeger/issues/158

[2017-10-06 12:31] caniszczyk commented on #404
Thanks!

On Fri, Oct 6, 2017 at 6:17 AM Juraci Paixão Kröhling <
notifications@github.com> wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2017-10-06 13:41] pavolloffay commented on #405
I have renamed this issue to Generic end-to-end tests. Currently we have this use cases:

* test Kubernetes/OpenShift/Docker-compose deployment (with various storages)
* Spark job dependency links tests. This test creates traces and verifies that query rest API returns correct dep.links.

To do the above we need a tracer and parse response objects. For dependency links we need also report zipkin s

[2017-10-06 13:47] pavolloffay commented on #405
This could be implemented as an app with rest API which would create data based on parameters and validate. Maybe there could be a java process running brave tracer for zipkin data creation.

[2017-10-06 16:06] yurishkuro commented on #443
Not an issue, closing.

Please use Gitter chat for questions: https://gitter.im/jaegertracing/Lobby

[2017-10-06 16:06] #443 closed

[2017-10-06 16:42] yurishkuro opened #459 "Define the scope for 1.0 release"
So far we have only one issue tagged with [1.0 milestone](https://github.com/jaegertracing/jaeger/milestone/1). We would like to have 1.0 release happen before [CloudNativeCon NA 2017](https://kccncna17.sched.com/) , December 7, so that we can announce it at the official Jaeger tracks at the conference. From prior discussions, these are the items we were thinking to include in 1.0

 * Drop-in-for

[2017-10-06 18:10] otisg commented on #211
@jcchavezs are you referring to https://github.com/jcchavezs/jaeger-client-php ?  From what I can tell, https://github.com/jukylin/jaeger-php is further along.  Maybe joining forces with @jukylin would be better?

[2017-10-07 01:25] jukylin commented on #211
It's good idea .[jukylin/jaeger-php](https://github.com/jukylin/jaeger-php) depend on [opentracing/opentracing-php](https://github.com/opentracing/opentracing-php), and we can make it more better together.

[2017-10-07 03:35] yurishkuro commented on #405
Sorry, I don't fully understand the use case with dependency links, maybe we can move that to a separate issue?

I would like the `test_driver` NOT be responsible for starting the backend components. The typical setup of a crossdock test is that the components are started by the docker-compose, the test waits for all of them to start responding to a health check, and then it executes one or more t

[2017-10-08 15:00] bogatuadrian commented on #448
I opened a PR at https://github.com/jaegertracing/jaeger/pull/460 that tries to fix this issue. I'm not sure if it's the right approach, but I'm up to make any needed changes requested in the review.

[2017-10-09 01:26] ray1888 commented on #438
because my company request us to do sth like jaeger(my company tech stack is relay on python),so they want us to rewrite agent and collectors for convince to maintain the system

[2017-10-09 04:32] yurishkuro commented on #438
That sounds like a rather peculiar reason. Are you planning to rewrite Cassandra or ES in Python too?  Jaeger backend is a binary, you just need to run it.

[2017-10-09 05:07] ray1888 commented on #438
cos we are making a monitor system , which database is based on opentsdb(which is based on hbase) , we want to reuse the database rather than to use a unfamiliar database, so that is most of the reason we determind to rewrite this two part(agent and collector)

[2017-10-09 16:31] yurishkuro commented on #438
it seems it would be a lot less work to implement support for opentsdb in the official Jaeger backend.

Is your implementation open source?

[2017-10-10 01:19] ray1888 commented on #438
yes.so your advise is to support the opentsdb rather than rebuild the code of agent and collector?

[2017-10-10 03:00] yurishkuro commented on #438
of course. It's a lot less work, you just need to implement SpanReader/Writer interfaces. Some other team is doing the same for DynamoDB.

[2017-10-10 15:06] pavolloffay opened #464 "Query endpoint api/services returns 500 if elasticsearch storage is empty"
`http://localhost:16686/api/services` returns

[code]
![screenshot of jaeger ui](https://user-images.githubusercontent.com/5618424/31393888-15ff481a-addd-11e7-8a56-dfa062027fae.jpg)

Steps to reproduce:
[code]

[2017-10-10 15:54] black-adder commented on #464
@mh-park look at the mess you've created

[2017-10-10 23:44] julianvmodesto opened #465 "Support AWS Elasticsearch IAM authentication by signing requests"
I'd like to use AWS Elasticsearch as my datastore, using AWS credentials to authenticate. This requires signing requests, so we'd probably need to use the AWS SDK here.

[2017-10-11 00:01] yurishkuro commented on #465
Can you provide the link to signing requirements?

[2017-10-11 00:23] julianvmodesto commented on #465
`olivere/elastic` has helpful examples:
- https://github.com/olivere/elastic/wiki/Using-with-AWS-Elasticsearch-Service

[2017-10-11 01:51] mabn commented on #465
FYI - I'm using https://github.com/abutaha/aws-es-proxy
But it has problems at higher throughputs (didn't investigate it yet) and does not work with elasticsearch-hadoop (used by https://github.com/jaegertracing/spark-dependencies)

[2017-10-11 02:45] yurishkuro commented on #465
I assume the proxy is stateless so can be scaled up with a load balancer.

[2017-10-11 02:54] buxingzhe commented on #361
@yurishkuro @vprithvi I think both metrics logging and document should be helpful. Actually I fixed the issue by reading the source code, and it indeed waste much time on it.

[2017-10-11 03:31] Luncher opened #466 "jaeger-collector can not connect to cassandra"
I already set up cassandra from `https://hub.docker.com/_/cassandra/` when i deploy jaeger-collector , error message:

[code]

docker ps:

[code]

[2017-10-11 03:41] yurishkuro commented on #466
maybe you need to pass cassandra address as `cassandra:9042`, instead of having it default to localhost. You can pass params via env variables (just upper-case the respective cmd line option and use _ as separator)

[2017-10-11 03:43] yurishkuro commented on #361
let's keep it open as documentation request

[2017-10-11 03:51] Luncher commented on #466
when i run script:
[code]

print the some error message

[2017-10-11 03:53] yurishkuro commented on #466
what about this?

[code]

[2017-10-11 04:46] Luncher commented on #466
➜  ~ docker run --rm -e CASSANDRA_SERVERS=cassandra jaegertracing/jaeger-collector

{"level":"info","ts":1507697194.8771298,"caller":"healthcheck/handler.go:46","msg":"Health Check server started","http-port":14269}
{"level":"fatal","ts":1507697194.8845553,"caller":"collector/main.go:86","msg":"Unable to set up builder","error":"gocql: unable to create session: lookup cassandra on 192.168.65.1:53:

[2017-10-11 04:52] Luncher commented on #466
Will it be Cassandra's problem?

I start the Cassandra by following this instruction

[code]

[2017-10-11 09:09] jpkrohling commented on #466
Start Cassandra:
[code]

Initialize the schema:
[code]

Start the collector, specifying the Cassandra host as the IP for the machine running Docker (or add `cassandra` to your network's DNS, or to `/etc/hosts`):
[code]

Or link the containers as you did originally:
[code]

[2017-10-11 10:38] Luncher commented on #466
can i use  `docker run --link cassandra:cassandra --rm jaegertracing/jaeger-cassandra-schema` init schema ?

[2017-10-11 10:47] jpkrohling commented on #466
Absolutely. I mentioned the other way as it's what I had on a (very old by now) blog post :-) Using the `jaeger-cassandra-schema` is indeed the preferred way now.

[2017-10-11 13:16] yurishkuro commented on #466
we need a docker-compose for this setup

[2017-10-11 23:01] beberlei opened #467 "Zipkin v1 endpoint uses int16 for port, cannot represent ports > 32k"
My docker network granted me ports in the range of 56000, which used as ports in endpoint cannot be unmarshalled by the Zipkin Endpoint, because it defines int16 for port field.

[2017-10-12 00:16] yurishkuro commented on #467
Are you getting some error back? Can you post a sample JSON?

[2017-10-12 01:33] ray1888 commented on #438
another question , if i change the database as opentsdb ,  but i don't know which folder in your project is connecting to database( because i just read agent and collectors part) , and is it possible to change the frontend interface of jaeger ? because the current interface is not suit for our service , we want to customized by ourself

[2017-10-12 02:16] yurishkuro commented on #438
Storage APIs are defined in the `storage` top level package.

Currently it's possible to customize the main menu of the UI, and things like google analytics account. What other customization are you looking for?

[2017-10-12 02:20] Luncher commented on #466
I already setup collector and cassandra, when i  run script  :

[code]

error message:

[code]

but When I do not specify `collector.host-port`  work correctly.

[2017-10-12 02:22] Luncher commented on #466
When I need to access another machine's collector, what should I do?

[2017-10-12 02:35] Luncher commented on #466
@yurishkuro  Docker-compose files are necessary for a newbie like me

[2017-10-12 03:47] ray1888 commented on #438
so what i need to do to change database is to change the bottom of jaeger to opentsdb and adapting the storage api you guys already provide

[2017-10-12 03:57] yurishkuro commented on #438
you can find implementations of storage APIs for Cassandra and ElasticSearch (under plugins). Yours would be just another implementation. We also have a plan to support plugins so that you wouldn't even need to recompile the official backends in order to include a custom storage impl.

[2017-10-12 07:56] ray1888 commented on #438
okey, so can you guys give us some hint to do ? because i not really familiar with your data model . if getting your help , i think it is way more easier to do so, thx

[2017-10-12 07:56] jpkrohling commented on #466
If you started the collector as mentioned on a comment above, you'll need to expose the necessary ports, like 14267. Refer to the Kubernetes [production template](https://github.com/jaegertracing/jaeger-kubernetes/blob/master/production/jaeger-production-template.yml#L154-L159) for a complete list of ports to be opened for each individual component, but here's the command for the collector:

[code

[2017-10-12 08:18] ray1888 commented on #438
and one more question , what the relationship between jaeger/pkg/es and  jaeger/plugin/es ? is it means i also need to write the pkg part for opentsdb ?

[2017-10-12 08:29] MengZhi825 opened #468 "No trace results in jaeger UI"
I run jaeger backend as an all-in-one docker image successfully.
`docker run -d -p6831:6831/udp -p16686:16686 jaegertracing/all-in-one:latest`

netstat -anp | grep docker-proxy
tcp6       0      0 :::16686                :::*                    LISTEN      11562/docker-proxy
udp6       0      0 :::6831                 :::*                                11572/docker-proxy

HotROD  run successfully

[2017-10-12 09:37] Luncher commented on #466
I have deployed Jaeger and thank you for your feedback ：）

[2017-10-12 10:15] jpkrohling commented on #468
You need to expose the port 5775 as well:

[code]

Where did you get this command? We may need to fix the place where you got this command from.

[2017-10-12 10:54] pavolloffay commented on #466
@Luncher please reopen if it's not done.

[2017-10-12 10:54] #466 closed

[2017-10-12 12:01] #419 closed

[2017-10-12 12:04] jpkrohling opened #469 "Docker compose for deployment of individual components"
See #466 for context and https://github.com/jaegertracing/jaeger-kubernetes/blob/master/production/jaeger-production-template.yml for reference

This should be done in a separate repository, like there is for Kubernetes and OpenShift.

[2017-10-12 12:06] jpkrohling commented on #469
See #306 for a starting point.

[2017-10-12 12:09] MengZhi825 commented on #468
It's from:
https://medium.com/opentracing/take-opentracing-for-a-hotrod-ride-f6e3141f7941

I use the following command but still no traces results,
`docker run -d -e COLLECTOR_ZIPKIN_HTTP_PORT=9411 -p5775:5775/udp -p6831:6831/udp -p6832:6832/udp \
  -p5778:5778 -p16686:16686 -p14268:14268 -p9411:9411 jaegertracing/all-in-one:latest`

response from 16686/api/services are:
`{"data":["mysql","custome

[2017-10-12 12:32] jpkrohling commented on #468
The blog post is probably outdated. I just tried here and it works for me:

In one session:
[code]

In another session:
[code]

Then click on the buttons on the UI available at http://127.0.0.1:8080/ :

![image](https://user-images.githubusercontent.com/13387/31496010-068e6ba8-af5a-11e7-8332-0754065b3021.png)

and check for traces on Jaeger's  UI:

![image](https://user-images.githubusercontent.co

[2017-10-12 13:06] ray1888 commented on #438
the data model that i refer to mean how to save span in backend-database , rather than jaeger-idl

[2017-10-12 13:46] MengZhi825 commented on #468
thanks,  i run hotrod demo and all-in-one in centos machine,  and use nginx as proxy for hotrod, there may be some mistake need carefully check.

[2017-10-12 13:50] #468 closed

[2017-10-12 14:18] black-adder commented on #438
Any configs, interfaces you need go into the pkg directory. The implementation is in the plugin directory.

The data model for the span is: https://github.com/jaegertracing/jaeger/blob/master/model/span.go#L48 although you can convert some fields so that they better fit your database requirements as we've done here for elastic search: https://github.com/jaegertracing/jaeger/blob/master/model/json/

[2017-10-12 17:18] yurishkuro commented on #468
@jpkrohling `p5775:5775/udp` is for ZIpkin model, that is not used in Hotrod. I just tried the docker command exactly as shown on Medium, and it works fine.

[2017-10-12 20:02] jpkrohling commented on #468
Interesting, I could swear I saw an error on HotRod related to this port and no traces on the UI. I added this port to the command and got the result from the screenshots above. Could we be seeing some intermittent issue, then _

[2017-10-12 20:06] jpkrohling commented on #468
Just tried again, and I indeed see no traces on the UI when I remove the mentioned port. On Hot Rod, I see the following on the logs:

[2017-10-12 20:12] jpkrohling commented on #456
Perhaps this would also fit on this task, as suggested on Gitter by @NicolasT

[2017-10-12 20:33] yurishkuro commented on #468
have you run glide install recently?

[2017-10-13 03:00] jukylin commented on #367
Have open source code?

[2017-10-13 03:24] ray1888 commented on #438
thanks a lot ,  if meet any unsolve question , i will ask in gitter chat room of jaeger

[2017-10-13 05:05] MengZhi825 commented on #468
I know what's wrong, it's problem of time zone inconsistent. for example,  jaeger UI use utc-0 timezone,  and HotRod use local timezone such UTC+8,  when i click button to generate traces on HotRod UI,  and then i retrieve trace results on jaeger UI, I can't find any results in last an hour.

[2017-10-13 05:32] trtg commented on #411
@jpkrohling did further investigation and compiled the screenshots.

so, doing a little more digging there seem to be a lot of issues when combining different query parameters in the jaeger UI. If you leave min and max duration blank, set operation name to all, and limit
to 11 you get back only 2 results:
[https://imgur.com/gallery/OAI8R](url)

if you leave min and max duration blank, set operatio

[2017-10-13 07:32] jpkrohling commented on #468
I don't remember ever running it for Hot Rod :-) But I just got the latest master for Jaeger and updated the dependencies for both Jaeger itself and Hot Rod. Still got the same message on the logs, and no traces on the UI:

[2017-10-13 07:53] jackychee commented on #468
@jpkrohling
I encountered the same situation when port 5775 isn't specified, and i have the log as follow:

2017-10-13T15:46:20.018+0800	ERROR	log/logger.go:42	write udp 127.0.0.1:54652->127.0.0.1:5775: write: connection refused	{"service": "frontend"}
github.com/uber/jaeger/examples/hotrod/vendor/go.uber.org/zap.Stack

[2017-10-13 15:29] yurishkuro commented on #468
@jpkrohling @jackychee please remove `examples/hotrod/vendor` and don't do `make install_examples`, just `make install` - I will update the instructions / tutorial.

[2017-10-15 03:15] jackychee commented on #468
Thanks!

[2017-10-15 10:46] dexter816 commented on #445
hey ! I want to work on this , how can CQL be generated ?

[2017-10-16 07:33] ray1888 commented on #438
there is a question show , in jaeger/pkg/es/mocks/Client.go  in line32 rf, ok := ret.Get(0).(func(string) es.IndicesCreateService), what  is rf and ret.Get(0)? and in the jaeger/pkg/es/mocks/IndicesCreateService.go
in line 50 rf, ok := ret.Get(0).(func(context.Context) *elastic.IndicesCreateResult); and in line 59 rf, ok := ret.Get(1).(func(context.Context) error); what is the rf in this two thing

[2017-10-16 08:46] pavolloffay commented on #445
@dexter816 hi, you can run something like this `MODE=test sh plugin/storage/cassandra/schema/create.sh`

[2017-10-16 09:16] rbtcollins commented on #366
I note that neither Rust nor lua are on your list? Any plans to add them? (We are using openresty which leads to the Lua interest, and Rust - well Rust is cool :))

[2017-10-16 09:22] rbtcollins opened #471 "Missing functionality from https://eng.uber.com/distributed-tracing/"
Hi reading https://eng.uber.com/distributed-tracing/ it seems like the UI should offer 4 options - time series, dag, critical path graph and JSON, but I can only see two option: time series and JSON.

Is this a configuration issue, or not-yet-released code or?

[2017-10-16 10:32] kevinearls opened #472 "Jaeger Deployment doc page needs revision"
I just went through an exercise of running Jaeger by running Cassandra, the collector, the agent, and the UI in separate docker containers following the instructions here: http://jaeger.readthedocs.io/en/latest/deployment/.  Most of the needed information is there, although not in a way that would be clear to a novice, and there are also a few omissions.

Here are my suggestions:

1. The section o

[2017-10-16 13:17] jpkrohling commented on #472
Possibly related:
https://github.com/jaegertracing/jaeger/issues/468#issuecomment-336118121
https://github.com/jaegertracing/jaeger/issues/466#issuecomment-335746564

That said, docs are going to be overhauled.

[2017-10-16 13:50] dexter816 commented on #472
I Tried adding the changes that were highlighted , could these helpful

[2017-10-16 14:08] yurishkuro commented on #366
If someone implements then then we'd be glad to include in the official list. So far I haven't seen anyone asking/trying, so no plans.

Also, we're working on a c++ client, I wonder if some of the languages can be done as wrappers on top of that.

[2017-10-16 14:30] yurishkuro commented on #472
@kevinearls no objections to changing/extending the docs, but I don't think we should be recommending overriding command line switches in Docker commands, they all have equivalent env variables.

[2017-10-16 15:02] yurishkuro commented on #471
not implemented yet

[2017-10-16 20:36] rbtcollins commented on #366
I'd very much encourage writing such a low level client in a more modern systems language like Rust : more cleanly bindable to C (no need to explicitly opt out of the rtti support or pull in the C++ support libraries), and very very safe.

We have some components that are nginx+openresty, so we have interest in Lua (language) support + openresty bindings : I am thinking we'll just implement the wh

[2017-10-18 06:31] jukylin opened #477 "Getting spans from PHP client to the collectors (was: skipping clock skew adjustment)"
Hi,I released jaeger and [jaeger-php](https://github.com/jukylin/jaeger-php) to Pro Env. But I Got warnings:
`
invalid parent span IDs=54a22ef518e5263; skipping clock skew adjustment
`
This is because of  UDP packet loss?

[2017-10-18 06:55] jackychee opened #478 "jaeger-query 404 page not found"
I executed  jaeger-query via Docker, when i  access http://localhost:16686  , i get 404 page not found message.
![t8hcch ulok9ufdl8qo_5](https://user-images.githubusercontent.com/11421069/31704489-382f2602-b414-11e7-81ad-2a60ad7a7013.png)

![dhr _0iv u68hu66 a65m6](https://user-images.githubusercontent.com/11421069/31704514-5548ec32-b414-11e7-9fe7-9ed9856524e8.png)

[2017-10-18 07:06] jpkrohling commented on #478
Please, provide the full command used to start the `jaeger-query` image, as well as any relevant logs (`docker logs $CONTAINER_ID`)

[2017-10-18 07:13] jackychee commented on #478
command:
docker run  -d --rm  -p16686:16686/tcp  jaegertracing/jaeger-query  /go/bin/query-linux  --es.server-urls=http://es-server-ip:9200 --span-storage.type=elasticsearch

logs:
[root@localhost ~]# docker logs 144bba711704
{"level":"info","ts":1508310321.6124156,"caller":"healthcheck/handler.go:46","msg":"Health Check server started","http-port":16687}
{"level":"info","ts":1508310321.6196938,"c

[2017-10-18 07:30] haozhaodev opened #479 "the missing emitBatch function in your thrift generated code"
Hey dude, i have been read your source code both client(python version) and agent(this project) mentioned in the documentation, but i found some problems as follow:
1. Why do your python client currently only support zipkin format batch not your jaeger batch i preffer the latter.In your code ,you just write transfer logic for zipkin batch .Then the Agent.py in the thrift_gen of your jaeger_client_

[2017-10-18 08:19] kevinearls commented on #472
@yurishkuro I agree, but are those documented anywhere?  To get the equivalent environment variables do I just take the options output by --help, change them to all caps, and change periods and dashes to underscores?

[2017-10-18 08:57] jpkrohling commented on #478
I cannot reproduce your failure. Here are the commands I ran:

[code]

And I got this (the failure is related to another issue, #464 )
![image](https://user-images.githubusercontent.com/13387/31709672-fae60778-b3f2-11e7-946e-54048631ea6d.png)

[2017-10-18 08:59] jpkrohling commented on #478
Oh, I see what's going on. You are missing the parameter for the static files: `--query.static-files=/go/jaeger-ui/` . Try adding that to your command, or try to pass the Elasticsearch information as environment variables (like I did on my previous comment).

[2017-10-18 09:04] jackychee commented on #478
thanks  :) #

[2017-10-18 09:04] #478 closed

[2017-10-18 11:33] robinkb opened #480 "No viable timestamp field in ElasticSearch"
Hello,

We are using ElasticSearch to store our Jaeger traces, and we would like to perform additional queries on this data outside of Jaeger. However, the logs that Jaeger sends to ElasticSearch do not have a viable timestamp field, which makes querying this data externally very difficult, if not impossible.

I understand that Jaeger intentionally saves the StartTime field as a Long type in ES, b

[2017-10-18 13:24] NeoCN opened #481 "Confused about the tag filter field input format in query ui"
In the search form, tag field has `http.status_code:400|http.status_code:200` as placeholder text, and in my opinion it means that I can use `http.status_code:400|http.status_code:200` as tag filter input to find traces with tag `http.status_code:400` **or** `http.status_code:200`.

When search form was submit, I noticed that the tag field was parsed and submitted as
[code]

At the server side, in

[2017-10-18 14:19] black-adder commented on #477
Looks like the parent span is missing during clock skew adjustment. It might be due to UDP packet loss but it could also be because the parent span was never reported or the instrumentation is wrong.

[2017-10-18 14:33] yurishkuro commented on #472
Yes

[2017-10-18 14:39] yurishkuro commented on #481
| has no meaning, it's just a divider. All query terms are treated as AND clauses.

[2017-10-18 14:40] NeoCN commented on #481
@yurishkuro @tiffon

[2017-10-18 14:51] NeoCN commented on #481
@yurishkuro Thanks.

[2017-10-18 14:51] #481 closed

[2017-10-18 15:37] black-adder commented on #479
1) We've been meaning to get to that but haven't had the time yet. I opened a ticket to keep track of it: https://github.com/jaegertracing/jaeger-client-python/issues/87

2) Can you link the source of the information? I'm not sure what you mean by server side given the python-client is the client side of the equation. Also, why do you have to change the python client to use TCP?

[2017-10-19 02:18] jukylin commented on #477
Thinks,Mybe that problem is not with the UDP packet loss.
Wo found more errors in jaeger-collector:
[code]
Es not good for write operations.

[2017-10-19 04:52] NeoCN opened #483 "Switch from Glide to Dep"
Is there any plan to switch Go dependency management tool from Glide to Dep?

Dep announced that it is safe for production use. see https://github.com/golang/dep#current-status

And the Glide project is suggesting users consider trying to migrate from Glide to dep. see https://github.com/Masterminds/glide#golang-dep

[2017-10-19 13:12] postwait opened #484 "Current quickstart docker has broken zipkin collector"
We've updated our configuration to send to the new jaeger:<zipkinport>/api/v1/traces URI and are failing to get the quickstart docker image to accept our spans.  However, if I checkout master and build and run, it works fine.  It would appear there is something wrong with the build of the quickstart image that is available online.

[2017-10-19 16:29] golonzovsky commented on #401
same error with following logs from query service:
[code]

[2017-10-20 00:08] yurishkuro commented on #484
are you using 0.8.0 or latest? Latest was published 3 days ago, should be similar to master.

Also, there's a comment here (https://hub.docker.com/r/jaegertracing/all-in-one/) about enabling the port via env variable

[2017-10-20 01:06] vprithvi commented on #483
I haven't used Dep yet, but if the UX of Dep is better than glide I don't see a reason not to.
(The graphviz diagrams look really useful)

[2017-10-20 01:30] haozhaodev commented on #479
Thanks for your replay and the ticket you opend.
What i mean is your python client usd udp socket as the basic transport in the thrift stack and buffer it, so i have to use the same transport as the server side according to thrift programming approach.But the thrift python runtime library do not support UDP socket server, only tcp is implemented, and there is a issue 1737 on ASF which added udp su

[2017-10-20 02:50] mfilotto commented on #366
Anything yet for Javascript in browser ?

[2017-10-20 03:33] yurishkuro commented on #366
Nobody is working on it right now (https://github.com/jaegertracing/jaeger-client-javascript/issues/1 - help wanted)

[2017-10-20 10:08] postwait commented on #484
I followed the current instructions on quckstart (which has the envvar). I'm still debugging, I'll get to the bottom of this and update the Issue.

[2017-10-20 17:50] tanner-bruce opened #485 "Collector cannot push to elasticsearch behind TLS proxy"
We are running a remote collector that should push to an Elasticsearch cluster behind a TLS reverse proxy.

Upon startup, the docker container will die after printing the message
```{"level":"fatal","ts":1508514781.8733246,"caller":"collector/main.go:86","msg":"Unable to set up builder","error":"health check timeout: no Elasticsearch node available","errorVerbose":"no Elasticsearch node available\

[2017-10-20 18:39] yurishkuro commented on #485
shouldn't the certificates be provided on the host and just mapped into container? I don't know how it's done typically, but putting them in the docker image sounds odd.

[2017-10-20 20:05] black-adder commented on #479
Ok, so sounds like you are attempting to write your own collector/agent in python? If so, it might make sense for you to fork the python client and have it use TCP as well.

[2017-10-20 22:23] postwait commented on #484
I've confirmed an issue... I get no reply from 9411 (POST payload and then receive a connection closed).

If I build from master and run from tree, it works fine.

This does not work:
[code]

This does work:
[code]

[2017-10-20 23:15] tanner-bruce commented on #485
Keeping these two definitions from the docker site in mind:

I would argue that the collector should include the ca-certificates - we don't want to rely on the underlying infrastructure to have those certificates or provide them for the container. Maybe I haven't even installed them on my server, it's not strictly necessary. Since without them, the collector cannot access an HTTPS server, I would

[2017-10-21 19:28] jpkrohling commented on #485
I don't know how this would apply for "pure" Docker, but on platforms like OpenShift and Kubernetes, the CA  that signs the certs for the "services" (like Elasticsearch here) is located at a well-known place (`/var/run/secrets/kubernetes.io/serviceaccount/ca.crt`). The CA cert itself isn't part of the image, but part of the orchestration service and is mounted as a volume at runtime.

[2017-10-21 21:09] yurishkuro commented on #485
actually going back to the original issue, why do we need ca certificates in the first place? The collectors do not serve HTTPS traffic, and you don't need certificates being the _client_ in the HTTPS connection, only being the _server_. Unless you have a setup where you use certificates to authenticate both sides of the connection, in this case it seems obvious that we're talking about deployment

[2017-10-22 17:16] robinkb commented on #480
In case anyone is looking into this, I went and developed a patch myself. I'll try and create a pull request in the coming days, though as I said, I am not a Go developer, or even an actual developer, so I make no promises about its quality :-)

[2017-10-22 23:50] #445 closed

[2017-10-23 01:41] yurishkuro commented on #409
all done!

[2017-10-23 01:41] #409 closed

[2017-10-23 05:52] mfilotto commented on #73
Hi,
I get an error too
[code]

[2017-10-23 06:55] tanner-bruce commented on #485
The issue is when the you run jaeger collector with elasticsearch behind https. Running this with the official container will fail.
[code]

[2017-10-23 15:34] yurishkuro commented on #73
@mfilotto fixed by https://github.com/jaegertracing/jaeger/commit/c32f9602b8f43595025d8cd42f3a6c1d062a4238

however, that error was not fatal, the code is stil downloaded

[2017-10-23 18:11] yurishkuro commented on #480
+1 especially if it can be made backwards compatible, i.e. not force any schema upgrades on people

[2017-10-23 18:12] yurishkuro commented on #479
this ticket is not about any specific issue, so closing it. gitter chat might be a better medium for just questions.

[2017-10-23 18:12] #479 closed

[2017-10-23 19:41] #467 closed

[2017-10-23 21:46] tiffon opened #489 "Query service: /api/config returning index.html"
**Description**

The query-service is returning the body of `index.html` when the UI requests `/api/config`.

This is causing errors in the browser, but fortunately they are not interrupting the UI experience.

The ideal scenario is the config is dumped into the body of `index.html` when it is served. This will allow us to remove the HTTP call to `/api/config` entirely.

Per a previous discussion,

[2017-10-23 21:51] yurishkuro commented on #489
Let's make a change in the UI project first that ensures that the generated index.html contains
[code]
Then we can add code to the query service to assign a different value to JAEGER_CONFIG when serving index.html

[2017-10-23 21:54] tiffon commented on #489
Sounds good, will post back when it's merged.

[2017-10-24 02:07] jukylin commented on #477
I Get this In Metrics Backends:
[code]
https://github.com/jaegertracing/jaeger/blob/master/cmd/agent/app/processors/thrift_processor.go#L112

Handle Thrift Data error.

The same  problem for the [hotrod](https://github.com/jaegertracing/jaeger/tree/master/examples/hotrod), when I run
[code]

error logs
[code]

It looks strange, why did these problems arise.

[2017-10-24 03:59] black-adder commented on #477
Instead of emitting zipkin model from the php client, can you emit jaeger instead? It looks like there's some conversion errors for zipkin

[2017-10-24 08:30] robinkb commented on #480
Opened pull request #491

The change should be backwards compatible. The only issue that I can see now is that the ElasticSearch mapping must be updated in advance to include startTimeMillis as a date type. If not, the traces of that day will be mapped to a number, and won't be a valid timerange field.

I expect that when the collector creates a new index for the next day, it will use the new mapp

[2017-10-24 13:27] pavolloffay commented on #484
@postwait could you please confirm what your `latest` image is? Please run `docker images --digests`. Could you please also post logs of the running container?

[2017-10-24 14:15] postwait commented on #484
It was an outdated image.  Not sure how my initial pull didn't work.

[2017-10-24 14:15] #484 closed

[2017-10-24 14:40] jukylin commented on #477
change port 5775 => 6831 ?

[2017-10-24 15:18] black-adder commented on #477
yup, send jaeger thrift to agent port 6831 from the php client

[2017-10-24 15:58] jukylin commented on #477
It not work with hotrod. I set Reporter. LocalAgentHostPort : 0.0.0.0:6831

[code]
Result :

[2017-10-24 16:28] black-adder commented on #477
hotrod already defaults to 6831 so that's not necessary. Good to know it works with php

[2017-10-24 23:59] yurishkuro commented on #480
What would that mean to the end user?

[2017-10-25 02:10] jukylin commented on #477
I got the new code, the problem still exists in hotrod.
I run :
[code]
Result:
[code]

And, In test Pro ,I set port to 6831 in php client.The problem exists too.
[code]

[2017-10-25 09:04] robinkb commented on #480
Jaeger Query/UI functionality is not affected at all. You can even switch between 0.8.0 and my patched version, and traces will continue to show up correctly in Jaeger.

If the mapping in ElasticSearch is not updated in advance, the updated collector will send spans using the new format, with StartTimeMillis added, into the existing index. ElasticSearch will then automatically map the StartTimeMil

[2017-10-26 07:17] robinkb commented on #480
Had a chance to test this scenario last night:

The new index is created with the correct mapping, but apparently Kibana doesn't like it when indices matching a pattern (like `jaeger-span-*`) have differing mappings.

So, if users want to use the new functionality, there are two possible scenarios:

First scenario:
1. The user updates the mappings of every Jaeger Span index to include startTimeMil

[2017-10-26 18:37] #451 closed

[2017-10-27 04:49] yurishkuro commented on #489
UI change: https://github.com/jaegertracing/jaeger-ui/pull/107

[2017-10-27 08:30] pavolloffay commented on #405
Generally we need two things:
* a component to create tracing data - e.g. `xdock-java`
* a component that calls `xdock` tracer and verifies tracing data - `test_driver`

I think it could work for testing k8s deployments too. We could use arquillan-cube to handle deployment of the jaeger resource files and add test resource file with definitions for `test-driver` and tracer/s being used (`xdock` im

[2017-10-27 10:05] jukylin commented on #477
To help mitigate the problem, We adjust the sampling strategy.

[2017-10-27 10:53] mabn commented on #465
AWS ES now supports VPC endpoints: http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html - It's a much better option than publicly available ES and signing requests.

[2017-10-27 12:11] yurishkuro commented on #477
@jukylin it appears your thrift payload is malformed. How does sampling help with that?

[2017-10-27 12:33] yurishkuro commented on #480
Is it worth adding a script that updates the mappings for existing indices? It seems like it would make the migration least painful, (1) run the script, (2) upgrade collectors.

[2017-10-27 12:40] jukylin commented on #477
The problem still exists,just the number of appearances is less. In the beginning we used ConstSampler, now we using ProbabilisticSampler( probability 0.1)

[2017-10-27 12:42] yurishkuro commented on #489
All done & tested, keeping this open until we add docs on how to use it.

[2017-10-27 21:19] ajessup commented on #427
Hey folks, a little late to this thread, but I wonder if [SPIFFE](https://github.com/spiffe/spiffe) could be of service here? SPIFFE is an OSS project that provides PKI for service identity - verifying the identity of, and automatically issuing & rotating PKs and certificates for, running services.

From a client's perspective, the main thing is to be able to use an [SVID](https://github.com/spiff

[2017-10-28 11:17] jpkrohling commented on #427
@ajessup , would you mind starting a thread on the dev mailing list about this? Right now, I'm playing with abstracting this concern away from Jaeger by using Istio. I'm not familiar with SPIFFE/SVID and would like to keep that in sight.

[2017-10-28 14:10] ishanjain28 commented on #469
Hi, I'd like to take this up if it is still available.

[2017-10-28 15:16] yurishkuro commented on #392
Done

[2017-10-28 15:16] #392 closed

[2017-10-28 15:18] #354 closed

[2017-10-28 15:19] yurishkuro commented on #344
`install_examples` target has been removed

[2017-10-28 15:19] #344 closed

[2017-10-28 15:21] yurishkuro commented on #252
all done

[2017-10-28 15:21] #252 closed

[2017-10-28 15:23] #179 closed

[2017-10-28 15:24] yurishkuro commented on #178
@mabn the 0.9.0 release contains significant improvements to the UI when working with large traces. Can you try again?

[2017-10-28 15:27] yurishkuro commented on #5
@black-adder are you doing this?

[2017-10-28 15:28] yurishkuro opened #497 "Query service fails without static assets"
This was introduced in #490.

I was debating it with @black-adder. The xdock was failing and the options were:
  1. skip static handler if no static assets are found
  1. create dummy index.html for xdock
  1. introduce a new cmd line switch that explicitly disables static handler

Option (1) was the behavior before this change, but we've seen complaints about it before as a misconfiguration would

[2017-10-28 21:35] allieoop commented on #469
Note: `jaeger-kubernetes/production/jaeger-production-template.yml` was renamed to `jaeger-kubernetes/production/cassandra.yml` (see https://github.com/jaegertracing/jaeger-kubernetes/commit/f930d0ab75bd042bdcc539acefd81f7fc9992016#diff-0b3583916142302afe2c114d88c1f7c1) - Issue description with this reference needs to be updated.

[2017-10-28 21:45] allieoop commented on #469
@ishanjain28 are you interested in working together on this?

I was just wondering what name we should give to the new repo. Maybe something like `jaeger-compose`?

[2017-10-29 06:58] ishanjain28 commented on #469
@allieoop Yeah, Sure. `jaeger-compose` sounds good to me.

[2017-10-29 09:13] pavolloffay commented on #497
I think there is also alternative to 3) simply disable static handler if `--query.static-files` is empty. By default it is set to `jaeger-ui-build/whatever`.

[2017-10-29 09:27] pavolloffay commented on #469
@ishanjain28 see #493

[2017-10-29 14:03] yurishkuro commented on #497
don't have a strong objection to that either, but it means all-in-one cannot be run with a simple command anymore

[2017-10-30 03:32] allieoop commented on #469
If I'm understanding this correctly, it sounds like the goal of this issue is to move the docker compose file into a separate repo so that it can be used to support multiple storages. I see the following question asked in Issue 493 (https://github.com/jaegertracing/jaeger/pull/493#issuecomment-339730092): do we want to move the docker compose file into a separate repo? But I don't see any further

[2017-10-30 08:06] pavolloffay commented on #469
Compose file can be here on in a different repo and still support different storages.

I think it's easier to have it directly here because:
*  it's used in crossdock - it's automatically tested
* can more quickly adopt new changes

cc @jpkrohling @yurishkuro

[2017-10-30 08:08] pavolloffay commented on #469
We can reuse this compose file in different jaeger repositories to run xdock tests:

[code]

[2017-10-30 09:44] pavolloffay commented on #497
Isn't that expected? (_Option (1) was the behavior before this change, but we've seen complaints about it before as a misconfiguration would go unnoticed until you try accessing the UI._)

If a new flag is introduced it would require it too (to start without static assets).

[2017-10-30 09:55] jpkrohling commented on #469
I'm not really familiar with how the cross-dock setup works, but `docker-compose` is an orchestration tool like OpenShift or Kubernetes. If the right place for the `compose.yml` file is here on this repo, then we might consider moving OpenShift's and Kubernetes' here as well.

[2017-10-30 14:52] pavolloffay commented on #450
I'm working on this

[2017-10-30 16:08] isaachier commented on #366
@rbtcollins I wonder what the performance will look like compared to just wrapping the C++ client in a luarocks package and using that.

@yurishkuro I have also been wondering what it would take to wrap all the client languages around the C++ client. Here is the plan as of now:

Java: JNI (no one likes it though, so IDK)
Go: cgo
Python: C module
Node.js: C++ add-on
JavaScript: Emscripten
Ruby: C++

[2017-10-30 16:41] pavolloffay commented on #286
done in https://github.com/jaegertracing/jaeger/pull/493

[2017-10-30 16:41] #286 closed

[2017-10-30 16:43] pavolloffay commented on #469
done in https://github.com/jaegertracing/jaeger/pull/493.

I will open next issue for further improvements.

[2017-10-30 16:44] pavolloffay commented on #497
done in #493 -- Empty `--query.static-files` disables static handler.

[2017-10-30 16:44] #497 closed

[2017-10-30 16:53] pavolloffay opened #502 "Docker compose"
#493 introduced docker-compose for cassandra storage.

Further improvements could include support for ES storage. We could have one compose file for jaeger services and one compose file per storage. Storage compose file would define (configs)[https://docs.docker.com/compose/compose-file/#configs] which would be used in the main compose file (Similar what we did in k8s https://github.com/jaegertrac

[2017-10-30 17:10] #469 closed

[2017-10-30 17:52] yurishkuro commented on #366
Yes, we discussed the possibility, but until we actually try with some languages it's hard to see all pros & cons (and there are a lot of cons to wrapping).

[2017-10-30 21:08] jcchavezs commented on #211
I believe this one is looking great: https://github.com/jonahgeorge/jaeger-client-php I am thinking on joining @jonahgeorge.

[2017-10-30 21:52] elliotpeele opened #503 "Agent on Windows"
Has anyone tried deploying the agent on a Windows host?

[2017-10-31 03:20] rbtcollins commented on #366
@isaachier I have zero interest in debugging interactions between C++ RTTI and exceptions, and any host language. We need anything that is going to be surfaced in such a way to be rock solid and have no corner cases that will make it a liability rather than an asset.

rustlang or C would make good 'lowest common denominator' languages, if having a bridge mechanism to a single set of implementation

[2017-10-31 18:44] black-adder commented on #480
if users only persist traces for 2 days like we do, I don't see much need for a script to update all the previous spans. Let's open a task for it but I don't think it's super urgent.

[2017-11-01 15:08] ray1888 opened #506 "why the dependencystore has no mock writer"
why the dependencystore has no writer? i saw it already define in the interface.go in the dependencystore?but why in the mock directory , the writer didn't exist? is you guys forgot to merge it ?

[2017-11-01 15:12] yurishkuro commented on #506
I think because we don't have a REST endpoint for storing dependencies, as it's typically done by a Spark job that writes to Cassandra directly.

[2017-11-01 18:52] isaachier commented on #366
@rbtcollins interesting point about Rust vs. C++. I am actually amazed to hear that you **prefer** Rust to C++ in the area of language bindings. I had always heard the compiler support for Rust is much more limited than C++, and neither compare to C, which has a compiler for almost every conceivable platform. But I do understand the concern. For that reason, I think gRPC was motivated to write its

[2017-11-01 19:36] yurishkuro commented on #366
I am also interested in another consideration - if we take our Python client and reimplement it as a wrapper on top of C++ client, how much functionality will be removed from the pure-Python part of the combo? We still have to implement the OpenTracing API, but probably concerns like different samplers, retrieving samplers from the agent, and the whole async span reporting could be moved to C part

[2017-11-01 20:20] isaachier commented on #366
About the bindings, there is a certain amount of bridge code for each language. I think it comes down to how much you want the code to look idiomatic (i.e. avoiding calling Python functions with mysterious handle objects, manual resource management, and the like). I'd advocate not using the language itself to implement span objects etc. because of the repetition and the memory overhead. This takes

[2017-11-01 20:28] yurishkuro commented on #366
I don't see how you'd do that since the end user is still going to interact with object-oriented OpenTracing API. Unless you're saying that you can create C-bound objects that look like normal host language objects to the end user.

[2017-11-01 21:51] rbtcollins commented on #366
@isaachier by compiler support for rust, I'm not sure what you're referring to. Rust was built to integrate with Firefox's core - thats a primary use case for it (and it has delivered many of the major perf improvements in recent firefox :)).

What memory overhead are you worried about with native implementations? Remember that when you have bindings you end up with separate arenas for the externa

[2017-11-01 22:34] isaachier commented on #366
I mean embedded systems. I know there is interest in tracing for IoT devices. Rust may not target these devices as well as C++. Memory isn't the main consideration here. More of a bonus.

[2017-11-02 00:48] rbtcollins commented on #366
It should be pretty good. It's main requirement for a platform is llvm. E.g
https://dylanmckay.io/blog/rust/avr/llvm/2017/02/09/safer-microcontrollers-almost-here.html

[2017-11-02 09:54] tovin07 opened #508 "Is there any reason to set maximumTagKeyOrValueSize = 256?"
I want to trace some DB calls (SQL statement for example).
I look at [OpenTracing API Specification](https://github.com/opentracing/specification/blob/master/semantic_conventions.md#span-tags-table) and see that I can use `db.statement` for this.

However, when I try to use this, I see that tag value in jaeger is limited to 256 characters. As it was hard-coded [at this line.](https://github.com/ja

[2017-11-02 10:14] jpkrohling commented on #508
To clarify, my recommendation is to use a tag value that can be later used for filtering purposes, like, `db.statement=select-user-from-bla` , instead of storing the whole SQL statement, which could still be stored as a log entry. But as this is set by a framework integration, my recommendation won't work :)

[2017-11-02 13:00] yurishkuro commented on #508
Iirc it's a seeing in the client. We should remove it.

[2017-11-02 13:09] isaachier commented on #366
OK did some research and cannot find much evidence that C is inherently better for bindings than C++ with and C wrapper API (i.e. `extern "C"`). Please let me know if you have a good source I can read on this issue.

[2017-11-02 14:21] tovin07 commented on #508
Oh, thanks.
However, it appears that 256 characters limit is in JSON response too.

[2017-11-02 14:50] yurishkuro commented on #508
@tovin07 which client are you using?

[2017-11-02 15:07] tovin07 commented on #508
I use python jaeger client and jaeger all-in-one docker.
I saw this issue in Jaeger web UI and the raw JSON returned.

[2017-11-02 15:12] yurishkuro commented on #508
Right, Python. Here it is: https://github.com/jaegertracing/jaeger-client-python/blob/bbb07d46c03f0e4c369dbca93fda6011b3b39fae/jaeger_client/thrift.py#L78

Do you want to put a PR to remove this trimming?

[2017-11-02 16:11] jpkrohling commented on #457
Key created for the recipient jaeger-tracing@googlegroups.com . For the website, here are the instructions to be placed on the page:

To receive the key:
[code]

To encrypt a `message.txt` as `message.txt.asc`:
[code]
Link to the key on a public server: https://sks-keyservers.net/pks/lookup?op=get&search=0xC043A4D2B3F2AC31

Public key to be placed "as is" on the web page:

[code]

To those who nee

[2017-11-02 17:34] yurishkuro opened #509 "Docker-compose could use health checks for service dependencies"
Follow up to #507.

According to compose docs ([startup-order](https://docs.docker.com/compose/startup-order/)), there are ways to define not just startup order dependencies, but also introduce health checks.

[2017-11-02 18:33] tovin07 commented on #508
Of course, yes. I will make sense.
Thanks!

[2017-11-03 02:04] tovin07 commented on #508
Below is an example of SQL statement. It is about 3500 characters.
Therefore, I think that we can remove the 256 characters check.

[code]

[2017-11-03 04:03] rbtcollins commented on #372
I've just audited the code. Multiple tags given e.g. `http.status_code:400|http.method:PATCH` in the UI will result in an AND query in cassandra. https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/cassandra/spanstore/reader.go#L295

I think it would be good to do two things:
1. add an OR semantic, because it would be very useful.
2. Change the ui so that | means OR, and & means AND

[2017-11-03 15:16] caniszczyk opened #510 "Add community meeting information to the README"
We should add our weekly meeting so people can join!

[2017-11-03 15:48] Dieterbe commented on #458
FYI my use case:
* we have various k8s clusters in various locations (datacenters) in the US (though in the future likely in other continents) and using various cloud providers
* we want 1 central jaeger deployment in our 'ops' cluster, it has a multi-node cassandra cluster in that cluster, the cluster does not extend into the other locations across the internet. everything (cassandra etc) is cont

[2017-11-03 21:56] yurishkuro commented on #458
Agent to collector path is using tchannel for legacy reasons. I would much rather use grpc, which will have standard support for https.

[2017-11-04 21:56] #480 closed

[2017-11-05 04:56] lvht commented on #211
The [opentracing/opentracing-php](https://github.com/opentracing/opentracing-php) is far from stable. Event it has a 1.0.0-beta release, its latest master branch breaks the API.

So I suppose to depend on when it hits a 1.0.0 release.

[2017-11-06 06:06] Luncher opened #513 "Jaeger cassandra Cannot achieve consistency level LOCAL_ONE"
Error reading service_names from storage: Cannot achieve consistency level LOCAL_ONE

![debug](https://user-images.githubusercontent.com/5138977/32427474-3835961a-c286-11e7-8daf-1142a46eaf3d.jpg)

[2017-11-06 08:42] pavolloffay commented on #513
@Luncher hi, could you please provide more details?

* how did you deploy jaeger, from binaries/k8s?
* what cassandra configuration are you using?

[2017-11-06 08:50] Luncher commented on #513
I use docker-compose:

[code]

[2017-11-07 16:24] pavolloffay commented on #450
I am transforming v2 to zipkin thrift and then storing it. Basically the same approach as for json.

I am wondering whether anybody knows a better solution.

[2017-11-08 07:57] bogatuadrian commented on #448
At least is it possible to add an option to exclude the clock skew adjuster from the list of adjusters at startup? Or, maybe even better, to add that to the API request?

[2017-11-08 15:15] jonahgeorge commented on #426
@lylex Are you still working on this? If not, I'm interesting in picking this up

[2017-11-09 06:58] jackychee opened #521 "jaeger agent can't connect to collector"
jaeger-agent deployment command:
`docker run  -d  --name agent   --rm
-p5775:5775/udp  -p6831:6831/udp   -p6832:6832/udp
-p5778:5778/tcp jaegertracing/jaeger-agent  /go/bin/agent-linux
--collector.host-port=localhost:14267`

jaeger-collector deployment command:
`docker run  -d --rm  -p16686:16686/tcp  jaegertracing/jaeger-query  /go/bin/query-linux  --es.server-urls=http://es-server:9200 --span-st

[2017-11-09 07:21] molon opened #522 "jaeger search result is unusual"
![snapshot](https://user-images.githubusercontent.com/3739161/32592952-8b17c008-c4eb-11e7-9095-ed347df7251f.gif)

According the gif upon.
We can see the trace time of results change often.
So the result would lose some traces sometimes.
But We want to see the nearest traces timely.
And I ensure that there is no more trace produce (beacuse this is just a test env).

I think it's strange~

[2017-11-09 08:13] #521 closed

[2017-11-09 15:35] black-adder commented on #521
What was the issue? I'd like to get this documented for future users who run into this.

[2017-11-09 16:37] lapointexavier commented on #522
I observed that running the all-in-one ✋ Is it expected since it's meant to be more of a temporary / development solution?

[2017-11-09 16:58] black-adder commented on #522
Looks related to: https://github.com/jaegertracing/jaeger-ui/issues/57

@molon if you increase the "Limit Results" to something like 1000 and repeat this, do you see the same thing happening?

[2017-11-10 01:38] molon commented on #522
@black-adder Thanks  for reply.

https://github.com/jaegertracing/jaeger-ui/issues/57

This is the problem. :)

[2017-11-10 01:38] #522 closed

[2017-11-10 02:56] ianwoolf opened #524 "Is dependence data is not writed when use es/cassendra as storage?"
I use es as storage. I found the WriteDependencies() is only defined but not used by any handler or process. So i generate dependence data from trace as it generated as memory storage way.

Do i miss something or have some mistake?

Does the roadmap has write dependences plan? Or it can generate as memory storage way whatever the storage is?

[2017-11-10 07:27] jackychee commented on #521
@black-adder  OK, i run jaeger-agent and jaeger-collector in the same machine, and  tell jaeger-agent  the host and port of jaeger-collector is localhost:14267. Because jaeger-agent run in docker container,  there no process listen on 14267 in the same container, so jaeger-agent cant' connect to jaeger-collector. It works when i tell jaeger-agent the machine host (not the localhost).

[2017-11-10 08:51] objectiser commented on #524
When using in-memory storage (i.e. the all-in-one image) it derives the dependencies. However when using the components separately with storage (cassandra or ES), you need to use the separate https://github.com/jaegertracing/spark-dependencies component to process the dependencies.

[2017-11-10 21:22] ps-stevesheldon opened #529 "How to trace a go-lang app running in a docker image with the jaeger all-in-one docker image"
Hey Guys,

I was hoping somebody might help me figure out how this should work...

- I am starting the jaeger all in one docker image to test as follows:

[code]

- I have an application I have written in GO which uses https://github.com/jaegertracing/jaeger-client-go

This is all working great, nicely done. However if my application is packaged into a docker image, it stops working since the agen

[2017-11-10 21:39] black-adder commented on #529
[This](https://github.com/jaegertracing/jaeger-client-go/blob/b7bacc465f385658dd3586f58810226776d2a4bf/config/config.go#L88) allows you to configure the host port for the agent. (although localAgentHostPort might be a misnomer if you have the agent not running locally)

[2017-11-11 12:32] #510 closed

[2017-11-11 17:06] freelinuxer commented on #485
Hi, @tanner-bruce @yurishkuro @jpkrohling do we have a solution/workaround for this issue?
I think that I am going throug same issue now.
My test k8s pod connects to a production ES (https) just fine.

[2017-11-11 17:20] tanner-bruce commented on #485
@freelinuxer I built my own images using `bitnami/minideb` as the base and installed the ca certificates necessary.

If there is interest I can contribute a second docker build (i.e alongside the scratch base) using minideb or alpine as the base with ca-certs installed. We tend to prefer minideb as it is lightweight but still glibc based and is gives a familiar debian environment.

[2017-11-11 18:01] ps-stevesheldon commented on #529
Appreciated, is that just the port or can you put the address:port?

[2017-11-11 18:13] freelinuxer commented on #485
@tanner-bruce Could you provide a blog or instruction on this as I am not familiar how I'd put cert and create custom images for collector and query. Thanks !!

[2017-11-11 20:17] black-adder commented on #529
address:port will work

On Sat, Nov 11, 2017 at 1:01 PM, ps-stevesheldon <notifications@github.com>
wrote:

[2017-11-12 17:30] yurishkuro commented on #485
@tanner-bruce would be useful if you could share your Dockerfiles.

[2017-11-12 20:17] #253 closed

[2017-11-12 20:18] #403 closed

[2017-11-12 23:01] tanner-bruce commented on #374
This would be due to elasticsearch trying to figure out the mappings on its own, since we aren't checking if the index is their post startup. Since we can't aggregate on `text` fields without enabling `fielddata` this would break the query searches.

@yurishkuro In my opinion the fix here is to check and set an index template on collector startup for the `jaeger-span` and `jaeger-service` indices.

[2017-11-12 23:07] tanner-bruce commented on #485
@freelinuxer in a pinch you can use this:

If you compile jaeger:
[code]

If you don't want to compile, you can use a multi-stage build to get the binary from the official container image. This is for the query service, so note that it also requires copying the `/go/jaeger-ui` folder. The collector does not require this.

[code]

You can replace this with alpine by changing the `RUN install_packag

[2017-11-13 01:29] freelinuxer commented on #485
@tanner-bruce I guess Jaeger-query image also needs similar changes as you described above since it also needs to talk to ElasticSearch. correct ?

[2017-11-13 04:19] caniszczyk opened #531 "Update GOVERNANCE with public voting"
Great to see initial governance defined!

One quick modification suggestion... I'd recommend that:

This be changed to be done on the public list or via GitHub issue:
https://groups.google.com/forum/#!forum/jaeger-tracing

It's important that voting/nomination be done in a public way. This is better than say how it's done in the ASF and other foundations.

[2017-11-13 04:20] caniszczyk opened #532 "Update README with bi-weekly call information"
https://groups.google.com/forum/#!topic/jaeger-tracing/9BbiHUI0H_Q

This should be in a readme section somewhere on how to get involved :)

[2017-11-13 05:48] yurishkuro commented on #532
https://github.com/jaegertracing/jaeger#project-status-bi-weekly-meeting
https://github.com/jaegertracing/jaeger#questions-discussions-bug-reports

[2017-11-13 05:51] yurishkuro commented on #531
let's take a vote on that!  @jaegertracing/jaeger-maintainers

[2017-11-13 14:22] black-adder commented on #531
public sgtm

[2017-11-13 14:34] pavolloffay commented on #531
+1 on public

[2017-11-13 16:23] tanner-bruce commented on #485
@freelinuxer yes, it does. In the snippets I posted above, the first one is for collector, the second one, which shows how to build it without compiling, is for query.

[2017-11-13 18:15] yurishkuro commented on #531
+1, which makes it over 2/3.

[2017-11-13 18:38] yurishkuro commented on #532
@caniszczyk closing, unless you think it needs something else.

[2017-11-13 18:38] #532 closed

[2017-11-14 00:39] frankgreco commented on #477
I am also seeing this issue. I can't directly correlate it but it seems like this might have started to happen when I limited the amount of memory the _all in one_ Kubernetes pod received (I set it to 3GB). Could this be a side effect if available memory starts to become an issue?

[2017-11-14 12:22] pavolloffay commented on #489
https://github.com/jaegertracing/jaeger-ui could list all configurable options.

[2017-11-14 14:27] pavolloffay commented on #513
This is cassandra configuration issue, I will close it feel free to reopen if it's Jaeger specific. With the following changes it works

[code]

[2017-11-14 14:27] #513 closed

[2017-11-14 14:29] pavolloffay commented on #524
@ianwoolf this is also described in docs http://jaeger.readthedocs.io/en/latest/deployment/#aggregation-jobs-for-service-dependencies

[2017-11-14 14:29] #524 closed

[2017-11-14 14:36] pavolloffay commented on #529
Hi @ps-stevesheldon you have two options:

* send data to agent via UDP. Preferably the agent should be running inside the container as a sidecar. You can also use our docker-copose and just configure the host and port in the tracer e.g. `jaeger-agent:6831`
* send data to jaeger-collector via HTTP https://github.com/jaegertracing/jaeger-client-go/blob/master/transport/http.go.

[2017-11-14 14:36] #529 closed

[2017-11-14 15:07] pavolloffay commented on #464
Basically, any endpoint returns 500 with a fresh ES without any data.

[2017-11-14 16:02] yurishkuro commented on #489
@pavolloffay elaborate? Like a help page?

[2017-11-14 16:02] yurishkuro commented on #489
or you mean the README?  +1 then

[2017-11-14 16:04] pavolloffay commented on #489
just the readme for now

[2017-11-14 16:29] yurishkuro commented on #489
I think we have one outstanding issue (https://github.com/jaegertracing/jaeger-ui/issues/123) before we can document (although the current solution already works, so we _could_ just document it as is - https://github.com/jaegertracing/jaeger-ui/issues/124).

Since there are tickets in the UI repo now, I am going to close this one.

[2017-11-14 16:29] #489 closed

[2017-11-14 16:43] yurishkuro commented on #464
is it because the indices are not created and the ES queries actually fail rather than returning empty results?  There was a suggestion on another ticket to init the indices on ESStorage start-up instead of on the first write.

[2017-11-14 17:25] #531 closed

[2017-11-14 20:02] yurishkuro opened #538 "Use gometalinter"
https://github.com/alecthomas/gometalinter

also `badtime` linter: https://github.com/m3db/build-tools/tree/master/linters/badtime

[2017-11-14 20:05] yurishkuro commented on #538
From a trial run:
[code]

[2017-11-15 05:22] Luncher commented on #513
Can you explain why this configuration?
thanks

[2017-11-15 07:42] felixfbecker commented on #211
And so is jaeger-php. There is no reason to not start developing the Jaeger implementation. It's easy to change the API.

[2017-11-15 07:44] lvht commented on #211
@felixfbecker It's easy to change the API until you use them in production environment.

[2017-11-15 07:46] felixfbecker commented on #211
If you use a version clearly documented as unstable in production that's your own risk and no reason to artificially slow down development progress.

[2017-11-15 08:36] pavolloffay commented on #513
You can find more information in C* docs. I am not C* expert but k8s Cassandra deployment uses the same.

[2017-11-15 09:09] Luncher commented on #513
I'm not familiar with Cassandra. When do I start supporting PostgreSQL?

[2017-11-15 11:33] ZAntony opened #539 "How to use jaeger's UI to read data from the elasticsearch written by zipkin."
I want to use jaeger's UI, but I'm already using a zipkin, and most of the data is on es. Is there a good solution? I see that the UI is not a lot of documentation, and there are no es configuration options

[2017-11-15 11:39] ZAntony commented on #539
elasticsearch Indices cannot be modified

[2017-11-15 14:28] black-adder commented on #539
Jaeger UI can only display jaeger format traces (if that's ok with you). To get this to work, we'd have to build the jaeger query service to read from zipkin es and then convert it into jaeger before displaying it in the UI. We don't have plans for supporting this feature.

[2017-11-15 15:09] yurishkuro commented on #539
Depending on your setup you may be able to replace zipkin collectors with jaeger collectors and start writing data to ES in Jaeger format. Or you could bifurcate the incoming stream of spans into both zipkin and Jaeger installations until the data in zipkin ES expires. But if you want to keep zipkin collectors only, then as Won said you need an adapter for Jaeger UI API.

[2017-11-16 00:14] #464 closed

[2017-11-16 01:29] ZAntony commented on #539
@yurishkuro @black-adder Thank you, I understand

[2017-11-16 01:42] bigkraig commented on #207
We're in experimentation phase at Ticketmaster. Hundreds of microservics that will need to be instrumented but after a few teams have started tracing interest is gaining.

[2017-11-16 08:37] #450 closed

[2017-11-16 15:07] ledor473 opened #542 "HTTP compression for static assets"
It seems that the files served by the `/static` route are not compressed.

The jaeger-ui files seems to be properly minified but they are still quite heavy:
`/static/css/main.*.css` --> ~600KB
`/static/js/main.*.js` --> ~1.8MB

[2017-11-16 15:12] #447 closed

[2017-11-16 15:32] yurishkuro commented on #542
That's a great suggestion. Off top of my head I don't remember if Go's file server supports it.

[2017-11-16 15:48] ledor473 commented on #542
It seems that mux/handlers provides one and it's already part of the dependancies:
https://github.com/gorilla/handlers

We could probably wrap the whole mux.NewRouter() with the CompressHandler just like it's done by the RecoveryHandler.

I can send a pull request with that

[2017-11-16 15:54] yurishkuro commented on #542
pull request will be most welcome

[2017-11-17 15:53] black-adder opened #546 "Flaky coverage"
We might possibly have a flaky test that's causing coverage to drop

https://coveralls.io/builds/14255546/source?filename=pkg%2Fhealthcheck%2Fhandler.go

[2017-11-17 15:54] #542 closed

[2017-11-17 17:36] yurishkuro opened #547 "Crossdock test unstable"
https://travis-ci.org/jaegertracing/jaeger/jobs/303621441

It seems that Cassandra takes too long to start, but the dependencies in docker-compose are not strict. E.g. jaeger-query depends on cassandra-schema, but cassandra-schema does start pretty quickly, even though it doesn't actually succeed until much later. Perhaps we can use [Docker's health checks](https://docs.docker.com/compose/compose-

[2017-11-18 15:34] bboreham commented on #401
Same confusing UI error for me; via the browser console I could see the underlying error was:

[code]

because I had no data because my agent wasn't installed properly.

[2017-11-18 18:39] yurishkuro commented on #401
@tiffon this looks like it could be a very simply fix.

Should we even be returning JSON from the server when the response is non-2xx? I don't know what the convention is in this case for REST APIs.

[2017-11-19 19:26] yurishkuro commented on #547
@pavolloffay the `depends_on` directive in Travis is not super useful since it only affects the start time of the containers, it's not based on their readiness (and my attempts in #548 to add a health check didn't help). I don't quite understand why the builds in #548 are failing. It looks like the query & collector services keep getting restarted and eventually they do acquire Cassandra connectio

[2017-11-19 20:14] yurishkuro commented on #448
There is a feature in the query API that we're missing to return the trace without any kind of adjustments, which is especially useful for looking at raw JSON.

[2017-11-19 20:30] pavolloffay commented on #547
We use `depends_on` to tell the orchestrator which services it should start (e.g. when you do `docker-compose run crossdock`), nothing more.

I have opened #549 to specify the limit explicitly, let's see that is the problem.

[2017-11-20 09:31] pavolloffay commented on #547
I think that docker should keep restarting the container if there is no `max_retry` specified.

Here https://travis-ci.org/jaegertracing/jaeger/jobs/303621441 the `jaeger-query_1` has been restarted 10 times.  https://docs.docker.com/engine/api/v1.18/ see `RestartPolicy` it says:

The 10th restart caused about 50s delay. In docker-compose 3 there is a way to specify the delay https://docs.docker.c

[2017-11-20 13:36] pavolloffay commented on #547
in version 3 the restart policy is under `deploy` which is used with docker swarm :/

[2017-11-20 15:07] yurishkuro opened #550 "Istio tags cannot be queried for"
Istio creates tags in the form `"guid:x-request-id" = "some guid"`. Because the name contains a colon, there is no way to search for these tags from the UI, because the URL syntax expected by the query service is `tag=key:value`

Any reason why we shouldn't be using `=` as key/value separator?

[2017-11-20 15:20] black-adder commented on #550
or provide a way to escape it? since we can potentially get "guid=x-request-id":"some guid"

[2017-11-20 15:42] objectiser commented on #550
+1 to `=` as key/value separator - it is more natural.

[2017-11-20 16:24] yurishkuro commented on #550
There's really no good character to use as a separator because sometimes people want to search by the URL, and both `:` and `=` can be easily found in the URLs.

@tiffon any thoughts on best practices for REST API for this scenario?  Maybe we should be simply sending a small JSON snipper in the URL when these special characters are found in the tag key or value? And if they are not, then fall back

[2017-11-20 17:24] yurishkuro opened #551 "Can all-in-one be used in production?"
This conversation https://gitter.im/jaegertracing/Lobby?at=5a130a9fcc1d527f6b93a7f2 raised an interesting point. What would it take to make all-in-one be usable as production deployment? Clearly, it's not a distributed setup so we're limited by the resources of a single box, but that's a typical setup for Prometheus as well, and it works fine.

Option 1 - implement data eviction policy for traces

[2017-11-20 17:45] mjrussell commented on #551
Thanks for creating this! I was also thinking of a docker image setup that would have the core jaeger components and then an environment variable for the external storage connection (like elasticsearch IP, etc). Then you could use docker volumes to persist data as needed, and possibly re-use a standard elasticsearch container image.

[2017-11-20 17:54] yurishkuro commented on #551
@mjrussell that may already be possible, the all-in-one cmd line does require `span.storage-type`, by default it's `memory`, but if you override it with cassandra or ES it may use an external storage.

[2017-11-20 17:54] objectiser commented on #551
Like the idea - hopefully both could be supported, but if just one, then option 2 would be good especially for users also using Prometheus. Looks like it uses leveldb but just for indexes, and its own storage layer for the data.

[2017-11-20 18:03] tiffon commented on #550
@yurishkuro Using JSON is definitely an option and just boils down to deserializing twice. This approach is very flexible.

As a reference, the equivalent JSON and resultant query string value:

[code]

[code]

A user-friendly approach for entering tags into the search form might be to use [logfmt](https://brandur.org/logfmt) ([go lib](https://godoc.org/github.com/kr/logfmt)), which would circumve

[2017-11-20 18:10] yurishkuro commented on #550
@tiffon logfmt for input would be awesome, much friendlier than what we have today (with colons and pipes). Would you also need a respective parsing lib for the UI?

Does it make sense to even bother with more readable URL format when there are no special characters in the tag key/value? E.g. right now you can send a URL like `?tag=http.status_code:200`

[2017-11-20 18:31] tiffon commented on #550
@ys Yes, a logfmt lib for the UI would be necessary.

There is [logfmt](https://www.npmjs.com/package/logfmt). It might need some work to get it running in the browser.

I think that it makes sense to always URI encode JSON or logfmt for tags regardless of whether they have special characters or not.

We could either stick with logfmt from start to finish or only use logfmt for the form input form

[2017-11-20 20:17] yurishkuro commented on #550
I don't have strong feeling about doing the parsing in the UI or the server. Currently the server API is well-structured, but it already performs parsing of key:value encoding for tags, and would have to do even more parsing if we send JSON as tag query. Since there's a Go library for it, might as well parse the logfmt on the server (not that different from Prometheus parsing query expressions).

[2017-11-21 10:50] archenroot opened #552 "Is it compatible with Event Sourcing and CQRS microservice patterns -> mixture of HTTP and message broker (amqp/kafka) communications?"
Imagine I have a command send from client via http api, this command message is tranlated into event which is internally via adapter submited either via amqp/kafka/http to event store. Once the event is stored in event store database (mysql/postgres), other service tail database transaction log and publish events to be consumed by other services. This is simple flow of service/client to service co

[2017-11-21 10:54] objectiser commented on #550
No strong opinion but sounds like parsing logfmt on the server sounds better.

[2017-11-21 13:07] yurishkuro commented on #552
as long as the event store can store metadata with each item, the trace context can be included in the metadata and thus the flow can be traced.

[2017-11-21 13:31] archenroot commented on #552
Nice bro, each event is having the event header which consists of any kind of metadata you can imagine and it is not a problem to extend it.

I will give this beautiful piece of art a try. This is must, I would like to see this integrated one day in for example Spring Boot Admin, or other bigger tool as plugin, but that is another question.

Thanks a lot for this project!!!

[2017-11-21 13:31] #552 closed

[2017-11-21 18:53] black-adder opened #553 "Remove all references to HAProxy"
https://github.com/jaegertracing/jaeger/blob/412baf60db217d6f41d7fdca04358069362b29ca/cmd/collector/app/zipkin/annotation.go#L45

[2017-11-21 21:30] #553 closed

[2017-11-24 10:48] meilihao opened #556 "when trace id is invalid, jaeger-ui send this request forever"
jaeger verison: 3136216e0636e67e39c6815b909f0cf9e0888884
jaeger-ui version : 27c3d58e224f0ff78a4ce0ba4622d47ec4bffa7c

[code]

![_ _20171124184124](https://user-images.githubusercontent.com/4382586/33207051-3017cca8-d147-11e7-9bfa-6eefbc400e69.png)

[2017-11-24 19:48] yurishkuro commented on #556
cc @tiffon

[2017-11-25 19:45] seregayoga opened #557 "Test TestGetIndices fails when running in Europe/Moscow timezone"
I run test on my local machine with Europe/Moscow timezone and it fails
[code]

[2017-11-25 21:34] #557 closed

[2017-11-26 15:11] tiffon commented on #556
That's pretty odd. I would expect an invalid ID to have a 404 response, but these are 200.

Does the response have any data? Is there a trace, and if so what is the traceID?

Thanks for reporting this.

[2017-11-26 17:22] #539 closed

[2017-11-26 17:56] yurishkuro commented on #556
When I access URL with invalid trace ID I am getting this

![image](https://user-images.githubusercontent.com/3523016/33242836-e4535e14-d2a8-11e7-9d53-7f7799fbac2f.png)

This happens with Cassandra and in-memory backend. Maybe the issue is with ES storage not returning NotFound.

The UI display about could be worded a bit better, "something that doesn't exist" is actually the trace, and the "bad J

[2017-11-26 21:01] tiffon commented on #556
Improving the error messages is something I want to look into. I'll create a ticket in jaeger-ui for it if there isn't one, already.

[2017-11-26 21:01] tiffon commented on #556
Will also, of course, address this issue, specifically.

[2017-11-27 01:55] meilihao commented on #556
![_ _20171127095307](https://user-images.githubusercontent.com/4382586/33247416-f3d6ce42-d358-11e7-9a0d-fe0e860e2e3c.png)

respone:
[code]

[2017-11-27 02:10] yurishkuro commented on #556
@black-adder I see this code in ES spanstore

[code]

There are two problems here. First, when no traces are found the error should be `spanstore.ErrTraceNotFound`, instead of the private error. But it may not help either because in the multiread function there's this code

[code]

If I read it correctly, the method would return `errNilHits`, so the `len(traces) == 0` logic above would never even

[2017-11-27 05:09] tiffon commented on #401
@yurishkuro I think returning the error details in JSON for `>= 400` responses is fine, but right now the UI is not processing it correctly.

I've created jaegertracing/jaeger-ui#127 to address this.

[2017-11-27 05:12] tiffon commented on #418
@Dieterbe I created jaegertracing/jaeger-ui#127 to address the first problem you mention.

Thanks for reporting this.

[2017-11-27 05:15] tiffon commented on #412
In many cases the UI shows a misleading error message.

Seems like for an erred HTTP response with no body, the error message should show the status code and a message along the lines of "An unknown error has occurred." Not exactly super helpful, but better than trying and failing to parse JSON data that isn't there and showing an error message about the failed `JSON.parse(...)` call.

I've create

[2017-11-28 00:11] yurishkuro commented on #547
The prior change from test_driver starting the components to relying on Docker has certainly caused a regression, the Crossdock test if failing more more than 50% of the time.

It still seems from the log that both query and collector do manage to come up successfully (the healthcheck endpoint changes to status 204), but test_driver is not able to locate them by the host names at that point.

@pav

[2017-11-28 00:55] ikenchina opened #560 "can't run demo. Export failed"
[INFO]	--> Exporting github.com/stretchr/testify
[INFO]	--> Exporting github.com/VividCortex/gohistogram
[INFO]	--> Exporting github.com/uber/jaeger-client-go
[INFO]	--> Exporting github.com/uber-go/atomic
[INFO]	--> Exporting github.com/uber/tchannel-go
[INFO]	--> Exporting github.com/kr/text
[ERROR]	Export failed for github.com/uber/jaeger-client-go: Error while exporting submodule sources
[INFO

[2017-11-28 00:55] #560 closed

[2017-11-28 01:13] ikenchina opened #561 "Export failed for github.com/uber/jaeger-client-go"
why did it report this error?

[INFO]	--> Exporting github.com/stretchr/testify
[INFO]	--> Exporting github.com/VividCortex/gohistogram
[INFO]	--> Exporting github.com/uber/jaeger-client-go
[INFO]	--> Exporting github.com/uber-go/atomic
[INFO]	--> Exporting github.com/uber/tchannel-go
[INFO]	--> Exporting github.com/kr/text
[ERROR]	Export failed for github.com/uber/jaeger-client-go: Error while ex

[2017-11-28 02:30] yurishkuro commented on #561
this is some kind of glide issue (e.g. https://github.com/Masterminds/glide/issues/746). Try cleaning glide cache or upgrading glide.

[2017-11-28 04:26] rbtcollins opened #562 "process startup fails when the backend isn't live at that time"
This might be contentious, but I'd prefer to see the process startup be as tolerant of the backend being unavailable as the process is to disconnect + reconnect issues later on.

There's an argument to be made that process startup is special, but it increases the coupling of deployments, and doesn't really save anything, because monitoring has to be catching these issues regardless (e.g. via liven

[2017-11-28 04:56] yurishkuro commented on #562
Yes, that's the same reason that Docker docs gives why they don't support health-check based startup order, which is messing up the crossdock tests (#547). We're limited by the behavior of gocql driver here, which cannot init the session until it can connect to the cluster once. We could just loop in main until the first connection succeeds, but we'd need to depend on a specific error returned fro

[2017-11-28 05:01] #360 closed

[2017-11-28 05:04] yurishkuro commented on #273
Prometheus metrics are now default in all Jaeger components.

TODO:
  * [ ] review & normalize metric names similar to https://github.com/jaegertracing/jaeger-client-go/pull/222
  * [ ] update documentation on where the metrics are exposed in each component

[2017-11-28 09:12] pavolloffay commented on #547
I don't think so, for instance:
https://s3.amazonaws.com/archive.travis-ci.org/jobs/304648885/log.txt?X-Amz-Expires=30&X-Amz-Date=20171128T085817Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20171128/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=7224192257952345e7bd6629b0bd78515054cdd2072cd921860e57bbca03751b

`test_driver` fails on `jaeger_query` an

[2017-11-28 16:36] tiffon commented on #386
The updates that addressed this have been propagated to the docker images.

@Dieterbe Can you confirm this is resolved?

Thanks for reporting this issue.

[2017-11-28 16:44] tiffon commented on #145
We can expand jaegertracing/jaeger-ui#113 to include the version or SHA of Jaeger services.

@yurishkuro What do you think?

[2017-11-28 19:10] tiffon commented on #550
The interest in logfmt is based primarily on UX concerns, and it seems for this to drive the serialization format the server is expecting.

I'm fine either way, but it seems practical to pass data to the server in a format that is wider use such as URI encoded JSON or base64 encoded JSON.

[2017-11-28 20:55] yurishkuro commented on #547
Another possibility - why not make the crossdock test independent of Cassandra, to speed it up? The purpose of the crossdock test is integration between different Jaeger components, not so much the testing of a persistence storage. E.g. we have a separate integration test for ES, we could have another one for Cassandra, they both can be much simpler than the crossdock test. @black-adder wdyt?

[2017-11-28 20:58] black-adder commented on #547
sgtm, will make things a lot simpler

[2017-11-28 22:23] black-adder commented on #547
So thinking more about this, this would mean we'd have to use an in memory store which we can't unless we build both collector and query into the same docker image which kinda defeats the purpose of testing these components individually.

[2017-11-28 22:34] yurishkuro commented on #547
we could pull in-memory store into another process and put an RPC interface in front of it. A lot more work, of course.

[2017-11-28 23:03] yurishkuro commented on #145
just the sha of the query service.

[2017-11-29 02:38] rbtcollins commented on #562
I've filed a ticket on gocql; we'll see what that team says.

[2017-11-29 15:13] Dieterbe commented on #372
@tiffon FYI ^^ (sorry maybe i should have put this in the jaeger-ui repo). i have a better understanding of the limitations now (e.g. no tag pattern search with cassandra) but the points remain that the UI could clarify a lot of these questions for new users

[2017-11-29 15:55] tiffon commented on #372
Thanks @Dieterbe... I was looking this over yesterday, it's great feedback :+1:

We've added the `ui` label to track this more easily. I might end up creating tickets in the Jaeger UI repo or moving this ticket there...

[2017-11-29 16:52] Dieterbe commented on #166
I have a problem and I'm not sure if it's the same as what's discussed here. (the descriptions of current and desired logic don't mention how the limit comes into play) but what i'm seeing is that much fewer results are being returned when doing a tag search, i have to "artificially" raise the limit to get the amount i want. (e.g. with limit 20 i may get 1 result, with limit 200 i get 26 results),

[2017-11-29 17:10] yurishkuro commented on #166
this is a known (and hard to solve) issue in Cassandra storage implementation

[2017-11-29 18:41] black-adder commented on #546
Did a little digging:

Coverage passes:
=== RUN   TestServeHandler
2017-11-29T14:32:58.435Z	ERROR	_obj_test/handler.go:83	failed to serve	{"error": "accept tcp [::]:43979: use of closed network connection"}
github.com/jaegertracing/jaeger/pkg/healthcheck.ServeWithListener.func1
	github.com/jaegertracing/jaeger/pkg/healthcheck/_test/_obj_test/handler.go:83
--- PASS: TestServeHandler (0.00s)
PASS
co

[2017-11-29 18:56] phal0r opened #571 "Span with lots of Logs"
Hey Guys,

first of all, this is not a feature request, but I want to have some more opinions. We want to use jaeger for centralizing our logs of process executions. The data model is a perfect fit, but we want to store 2.000-5.000 logs in one span, since some steps generate lot of important logs.

I can think about 3 ways to solve this problem:
a) this is a concern of jaeger and should be support

[2017-11-29 22:21] rbtcollins commented on #550
I would like to see the proposed improvements. re: performance, the double-parsing isn't a concern IMO: scaling out the query component is trivial, and reads generally have a human driving them, so its O(staff), not O(span-rate)

[2017-11-29 22:27] rbtcollins commented on #166
So, this may be hard to solve, but I want to suggest that its critical to usability: its a non-obvious limitation that will cause lots of head-scratching and push-back from users of a deployment.

Can you perhaps detail the Cassandra limitations that drive this behaviour somewhere? Also, what *is* the recommended backend? We went with Cassandra because the Uber blog post suggests Uber is running C

[2017-11-29 23:00] yurishkuro commented on #166
"its critical to usability" - fwiw Zipkin lives with the same limitation for years. I personally don't sweat too much about it, just bump the number if you need more exotic searches. And we could rename it from LIMIT to something amorphous like "search depth" in the UI.

I wouldn't say Cassandra is the _recommended_ backend, it's mostly an operational preference for people. But Elastic doesn't hav

[2017-11-30 03:33] vprithvi commented on #547
I just came across #565. Nothing in docker compose's documentation indicates that dependent services would only start after health checks are successful.

I think a better solution might be to modify the docker files in the driver, collector, and query to have a [wait script](https://github.com/ufoscout/docker-compose-wait) that waits until  cassandra's traffic port is open before proceeding to la

[2017-11-30 10:33] NeoCN opened #572 "Unify metric name and format in client libraries"
running both golang and java service, and found out the metric name generated was different, for example, with prometheus:

Java：
[code]

Golang
[code]

Unify metric name and format in client libraries can help metric collector and monitor

[2017-11-30 13:12] pavolloffay commented on #547
https://github.com/jaegertracing/jaeger/pull/565 seems to be stable. I could merge it as a fix until we have a better solution.

[2017-11-30 15:21] yurishkuro commented on #572
Thanks for opening this. Yes, I just recently merged a change to the Go client with renamed metrics. The objective is to change all clients to emit similar metrics.

I just booked issues for the other clients.

[2017-11-30 17:52] yurishkuro commented on #561
closing as it's not directly Jaeger related

[2017-11-30 17:52] #561 closed

[2017-11-30 17:53] yurishkuro commented on #509
Tried it, it doesn't help.

[2017-11-30 17:53] #509 closed

[2017-11-30 17:58] yurishkuro commented on #438
questions are not issues

[2017-11-30 17:58] #438 closed

[2017-11-30 20:14] yurishkuro opened #574 "Flaky test TestPeerListManager_updatePeers"
[code]

[2017-12-01 04:53] Dieterbe commented on #386
Have not encountered this problem in quite a while now. Thanks Joe !

[2017-12-01 04:53] #386 closed

[2017-12-01 17:02] #375 closed

[2017-12-02 13:18] ikenchina opened #575 "No service dependencies found."
I ran the components on my laptop

[code]

and then, ran Hot R.O.D.
i could find trace in "http://localhost:3000/search" , it did work fine and displayed dependencies.
but, when i entered "http://localhost:3000/dependencies" it displayed "No service dependencies found."

cassandra(3.11.1) displayed no dependencies but has opererations and traces

[code]

[2017-12-02 13:19] ikenchina commented on #575
when i ran jaeger in docker, it works fine.

[2017-12-02 13:45] ikenchina commented on #575
no errors in the components and cassandra

[2017-12-02 15:17] yurishkuro commented on #575
http://jaeger.readthedocs.io/en/latest/deployment/#aggregation-jobs-for-service-dependencies

[2017-12-02 16:36] lvht commented on #366
Hi @yurishkuro , would you like to accept the [lvht/jaeger-php](https://github.com/lvht/jaeger-php) as the official PHP client of Jaeger?

[2017-12-02 17:26] yurishkuro commented on #211
In https://github.com/jaegertracing/jaeger/issues/366#issuecomment-348703406 @lvht said:

I would like to hear from other interested parties. I myself don't have a strong opinion since we do not write applications in PHP at Uber.

[2017-12-02 17:26] yurishkuro commented on #366
@lvht let's discuss on #211

[2017-12-02 17:29] yurishkuro opened #576 "iOS client library"
E.g. https://github.com/OutThereLabs/jaeger-client-objc by @pat2man

[2017-12-02 17:32] yurishkuro opened #577 "Android client library"
Placeholder issue to create an Android client library, potentially as a refactoring of https://github.com/jaegertracing/jaeger-client-java

[2017-12-02 17:35] yurishkuro opened #578 "C# client library"
Placeholder issue to create a C# / dotNET client library.

E.g. https://github.com/gideonkorir/jaeger4net by @gideonkorir

[2017-12-02 17:42] gideonkorir commented on #578
@yurishkuro I haven't given the library some love as we decided to use zipkin given thrift issues but I can finish the remaining integration (honestly that's calling into the jaeger agent) any help welcome

[2017-12-02 18:43] tylerchr commented on #211
We have quite a bit of duplicated work going on here (or parallel efforts, depending on your perspective):

- @yuklin is working on https://github.com/jukylin/jaeger-php
- @jcchavezs is working on https://github.com/jcchavezs/jaeger-client-php (forked from @jonahgeorge)
- @jonahgeorge is working on https://github.com/jonahgeorge/jaeger-client-php
- I'm working on https://github.com/qualtrics/jaege

[2017-12-02 18:54] jukylin commented on #211
It's interesting

[2017-12-02 20:25] yurishkuro commented on #211
100 in favor of merging the efforts into an official repository under https://github.com/jaegertracing.

Might be useful to have a feature comparison among the existing implementations, pros/cons. The parent ticket #366 lists the common requirements for an official client lib.

[2017-12-02 22:24] jcchavezs commented on #211
As I said before I am supporting https://github.com/jonahgeorge/jaeger-client-php my only concern is how available is @jonahgeorge. There are still a couple PR.

[2017-12-03 00:29] #575 closed

[2017-12-03 12:12] seregayoga commented on #574
How to reproduce it? It passes when I run it
[code]

master branch:
[code]

[2017-12-03 12:15] yurishkuro commented on #574
That's why it's flaky - it fails on Travis occasionally. What's easy to reproduce is the easiest to fix.

[2017-12-03 17:50] seregayoga commented on #574
If change this https://github.com/jaegertracing/jaeger/blob/412baf60db217d6f41d7fdca04358069362b29ca/pkg/discovery/peerlistmgr/peer_list_mgr_test.go#L113 to nanosecond, I see similar error
[code]

[2017-12-03 18:15] yurishkuro commented on #574
yeah, the current code waits up to 1sec (1000 iterations of 1ms). It's possible that the test is logically correct but just needs a longer wait time (e.g. 10,000 iterations). But it's also possible that there's a race condition in it that no wait time will fix.

[2017-12-04 18:36] black-adder opened #581 "UI json has duplicate references"
I'm seeing a lot of:

[code]

[2017-12-04 18:37] black-adder commented on #581
Fixed by https://github.com/jaegertracing/jaeger/pull/579

[2017-12-04 18:37] #581 closed

[2017-12-04 18:37] yurishkuro commented on #581
aside from the dups in JSON, was there any other user impact?

[2017-12-04 18:38] black-adder commented on #581
just dupes from what I can see, no one else reported anything.

[2017-12-05 01:54] isaachier opened #582 "golint"
I am trying to get jaeger on [awesome-go](https://github.com/avelino/awesome-go). The pull request is https://github.com/avelino/awesome-go/pull/1711. It seems @cassiobotaro wants jaeger to fix up the remaining warnings from golint, etc. The warnings are listed on https://goreportcard.com/report/github.com/jaegertracing/jaeger.

[2017-12-05 18:29] #582 closed

[2017-12-05 20:43] bandrei opened #585 "localEndpoint is not parsed for extraction of service name"
The Jaeger UI seems to display `unknown-service-name` when the service name is being set in the `localEndpoint` variable of the tracing component.

This is based on the latest publicly available docker image.

For example

[code]

![image](https://user-images.githubusercontent.com/1153251/33629717-e4a74df4-d9b9-11e7-9902-4ca543859488.png)

[2017-12-05 20:56] bandrei commented on #585
actually, this might not even be a bug, I'm not sure whether localEndpoint is mentioned in the opentracing API at all. Closing it for now.

[2017-12-05 23:31] yurishkuro commented on #585
I think it might be a bug. Are you using Python client by chance?

[2017-12-06 03:28] msn2708 commented on #468
I am facing a similar issue. Here is my setup

Backend running inside Docker Toolbox for Windows, IP: 192.168.99.100
Frontend and other services running inside an Ubuntu running on a VMWare, IP: 192.168.159.129

The Jaeger UI (http://192.168.99.100:16686/search) is accesible from the Ubuntu machine running on VMWware

but none of the traces are being captured. Here is the error:

2017-12-05T19:16:

[2017-12-06 05:00] niuhf0452 opened #586 "Cannot find operations in jaeger-ui, if there is '/' char in serviceName"
![image](https://user-images.githubusercontent.com/4718841/33645360-57b22334-da85-11e7-9c19-1b69ee845cf6.png)

[2017-12-06 06:19] yurishkuro commented on #586
good catch.

cc @tiffon

[2017-12-06 23:29] msn2708 opened #588 "No trace in Jager UI"
Hello,

This seems like a config issue but was wondering if someone has seen this before.

I have setup the all-in-one backend on Docker Toolbox for Windows,
IP: 192.168.99.100

Frontend and other services running inside an Ubuntu running on a VMWare,
IP: 192.168.159.129

The Jaeger UI (http://192.168.99.100:16686/search) is reachable from the Ubuntu machine running on VMWware but none of the trac

[2017-12-07 03:13] yurishkuro commented on #588
because you are not running the agent in the same namespace as the applications, you need to configure the clients to talk to 192.168.99.100:6831 instead of localhost:6831

[2017-12-07 08:11] msn2708 commented on #588
Thanks for the pointer Yuri. I modified this file /home/msn2708/GoCode/src/github.com/jaegertracing/jaeger/vendor/github.com/uber/jaeger-client-go/transport_udp.go and it is working now.

Wondering if this can/should be made into a configurable option?

[2017-12-07 14:25] yurishkuro commented on #588
It is configurable: https://github.com/jaegertracing/jaeger-client-go/blob/master/config/config.go#L88

[2017-12-07 16:46] msn2708 commented on #588
Thank you for the clarification. I will close this out now.

[2017-12-07 16:46] #588 closed

[2017-12-07 21:16] autodidaddict commented on #366
Have not tried this, but here is a Rust Jaeger client built on top of another Rust opentracing API: [rustracing_jaeger](https://crates.io/crates/rustracing_jaeger)

[2017-12-08 10:59] rajatparida86 commented on #189
Any updates on this fix?

[2017-12-08 14:45] yurishkuro commented on #189
I expect it to happen within a month.

[2017-12-11 13:12] mabn commented on #178
I've tried on 1.0. It's much better - the search results appeared even though there was a large trace there - it showed it as having 10k spans (probably truncated?) with around 9MB (uncompressed) json. I also managed to open the trace view. It is slow and hangs sometimes for a fraction of a second, but it can be used to see something if needed.

Previously it wasn't working at all and was causing

[2017-12-12 06:05] jackychee opened #589 "[es] Span write fails if index already exists due to race condition"
ES version is 5.1.1
{
    "level": "error",
    "ts": 1513045072.7463179,
    "caller": "app/span_processor.go:103",
    "msg": "Failed to save span",
    "error": "Failed to create index: elastic: Error 400 (Bad Request): index [jaeger-service-2017-12-12/CV-EQal-Q1KQ3vEyxG1W7g] already exists [type=index_already_exists_exception]",
    "errorVerbose": "elastic: Error 400 (Bad Request): index [jae

[2017-12-12 07:27] jackychee opened #590 "Query can't read ES service data"
Query only return jaeger-query when i request  /api/services， But when i search jaeger-service-xxxx-xx-xx index in ES there other service exists,  i have even searched the traces  of other service from /search , what's wrong with it?

ES version 5.1.1
jaeger-query version 1.0.0

[2017-12-12 18:46] molon opened #591 "timezones of ES writer and reader are inconsistent now"
writer.go
[code]

reader.go
[code]

I think users of jaeger(like me) should choose the timezone themself.
Follow the system timezone is the right style.
So the `indexNames` is ok, but the  `indexWithDate` shouldn't use UTC directly.

[2017-12-12 20:01] yurishkuro commented on #591
yes, reader/writer must be at minimum consistent. I don't have strong opinion about whether it should be system tz or UTC. Making it configurable is an option.

Are you interesting in submitting a pul request?

[2017-12-12 23:50] bandrei commented on #585
Nope, I was actually using Brave from openzipkin (that's why I wasn't sure that was an actual bug). However, the interesting part is that it started working at some point and it started reporting it correctly :/ which I did not expect to happen.

[2017-12-14 10:52] sagikazarmark commented on #485
I suppose host verification is turned on by default in the underlying elasticsearch/http client.

I'm trying to make it work by using a self-signed cert and mounting it to `/etc/ssl/certs/ca-certificates.crt` file (based on [this](https://golang.org/src/crypto/x509/root_linux.go)), but no luck so far. :(

[2017-12-14 17:57] golonzovsky commented on #585
Have similar issue after updating to `jaeger 1.0` and `spring-cloud-sleuth:1.3.0.RELEASE` (uses zipkin 2). Between zipkin 1 and 2 this field git renamed from `lc` to `localEndpoint`

![screenshot from 2017-12-14 18-55-50](https://user-images.githubusercontent.com/2477950/34006996-8f0ec266-e100-11e7-932f-cd811151a2e2.png)

[code]

[code]

May be related to https://github.com/jaegertracing/jaeger/is

[2017-12-14 18:21] yurishkuro commented on #585
@pavolloffay want to take a look? In #518 it seems all unit tests for `localEndpoint` test only the IP address, not the service name.

[2017-12-14 23:14] lapointexavier opened #593 "Documentation search broken"
Hey guys,

I was browsing [the doc](https://jaeger.readthedocs.io/en/latest/) today and realized the search was broken. I tried to debug a little but ended up playing with that theme asset which is compiled: https://github.com/jaegertracing/jaeger/blob/master/docs/theme/assets/javascripts/application-ae2e7c9801.js . You can see the missing `base_url` error in the console, something must be broken

[2017-12-15 00:58] adriancole commented on #585
FWIW "lc" stands for "local component" which is a way to qualify different
things within the same process. "localEndpoint" is the way to qualify the
process.

On Fri, Dec 15, 2017 at 1:57 AM, Alexander Golonzovsky <
notifications@github.com> wrote:

[2017-12-15 05:11] freelinuxer commented on #485
I tried with @tanner-bruce 's approach and it worked for me.
https://github.com/jaegertracing/jaeger/issues/485#issuecomment-343776310
I build my own binaries and container images.

[2017-12-15 09:16] sagikazarmark commented on #485
I managed to make it work in the meantime (turned out I was using the wrong CA)

[2017-12-15 12:37] pavolloffay commented on #585
I will look at it, IIRC service name is derived only from core annotations (client and server..)

[2017-12-15 16:43] #585 closed

[2017-12-16 06:09] yurishkuro commented on #485
@tanner-bruce would you be able to test the fix in #598?

I tested with a mini program

Dockerfile
[code]

main.go
[code]

[2017-12-16 06:17] NeoCN commented on #556
@yurishkuro the flowing multiread function code snippet
[code]

when the traceId is invalid or not in the es store, got result
[code]

this results that `len(traces) == 0` will not trigger, and then no `errNoTraces ` is returned.

when `len(result.Hits.Hits) == 0`,  `collectSpans` will return `[]*model.Span` with zero length and no error.

I just make a pull request #597 which check `len(result.Hi

[2017-12-17 01:09] yurishkuro commented on #586
Re-booked as a UI issue https://github.com/jaegertracing/jaeger-ui/issues/138

[2017-12-17 01:30] yurishkuro commented on #571
All three are possible solutions, all have pros and cons, there's no single "correct answer".

For (a), you might run into the UDP max packet size trying to export that many logs out of process in a single span. Also, indexing all those logs will be quite expensive, so it depends on what you're trying to do with them aside from making them accessible in the UI in a contextual way. Also, the UI mig

[2017-12-17 02:16] yurishkuro commented on #508
@tovin07 I made the max tag length configurable in Python client, and increased the default to 1024.

This 256 limit only affects which tags are being indexed for search, it does not actually truncate the values. The assumption is that it's unlikely someone will be searching for exact match on a very long string.

I am not aware of that one, where do you see this limitation? There's this code
[cod

[2017-12-17 02:22] #459 closed

[2017-12-17 06:03] tovin07 commented on #508
Thanks @yurishkuro,

I saw your PR, and it works.
If we change, or remove this, the problem will be solved.

[code]

Hmm, because data in database is already truncated to 256 --> output data will be the same.

Anw, thank you again for your PR.
I think that this issue can be closed for now.

[2017-12-17 06:03] #508 closed

[2017-12-18 00:07] meg2208 opened #600 "docker-compose up fails (cassandra-schema unable to connect)"
I'm just trying to get this up and running for the first time, and the cassandra-schema container seems to die when I try to run the whole docker-compose. I am using `version 17.09.1-ce-mac42 (21090)`. Here is the output (sorry about the excessive length):

[code]

[2017-12-18 03:56] yurishkuro commented on #556
#601 and the UI fix https://github.com/jaegertracing/jaeger-ui/issues/128 resolve this.

[2017-12-18 03:56] #556 closed

[2017-12-18 11:27] pavolloffay commented on #600
@meg2208 hi,

the output from `docker-compose ps` shows that all jaeger services are up and running. There is also log from `cassandra-schema` saying:
[code]

Note that it is expected that schema container at the beginning fails to connect to cassandra. It keeps trying until cassandra is ready to serve requests.

[2017-12-18 13:29] allflame commented on #211
@tylerchr first of all, I'm personally in favor of combining efforts into a single library.
However, when I was looking over for existing implementations I failed to find one that was well-enough built and used a stack-based approach to automatically define parent-child span relationship.

I'm not sure we can advise to use our library at this point since it lacks documentation and tests, but we ar

[2017-12-18 15:47] meg2208 commented on #600
Makes sense, thanks @pavolloffay!

[2017-12-18 15:47] #600 closed

[2017-12-18 17:12] yurishkuro commented on #211
I assume "stack-based" refers to some form of active span management, which is important but should be solved at the OT API level, just like it was in Java/Python. I think that concern is very different from actually having an official PHP client for Jaeger, even if it doesn't have active span management features yet (because official PHP OT API doesn't have them).

[2017-12-18 17:33] allflame commented on #211
@felixfbecker you start a span - an active context is put on stack, you finish span - you pop the context from the stack. This was (our own) solution coming from requirement not to pass context from layer to layer in the application itself. This is discussed and "rationalized" in some go applications, but it's really different language where this is a general approach.
About concurrency and event-

[2017-12-18 17:33] tylerchr commented on #211
The stack abstraction doesn't work for concurrent or event-loop-based languages, but PHP isn't concurrent or event-based. As such, a stack does model the in-process lifecycle of a trace very neatly for PHP, in what I believe is a closed-form way. A "push" starts a new span (which is a child of the span on the top of the stack if one exists), and a "push" finishes the top span on the stack. It also

[2017-12-19 13:54] tiffon commented on #550
The only reason logfmt is in the picture, as opposed to some other format, is because it's an easier format to enter values. It's driven by a UX consideration. IMO, the query-service should accept JSON, that way if we change the UI we can still just send JSON to the backend.

[2017-12-19 14:08] tiffon commented on #571
One tangential consideration is to support log-levels as a collector configuration. Not addressing the OP's issue, directly, but could be part of concerted effort to enable larger-scale logging.

@yurishkuro Are logs indexed? If so, we can expose that in the search UI.

[2017-12-19 15:33] yurishkuro commented on #571
by default logs are indexed by their fields

[2017-12-19 15:46] #485 closed

[2017-12-19 18:23] yurishkuro commented on #550
I can add an extra query param `tags` that will expect a JSON string

[2017-12-19 18:48] yurishkuro commented on #550
@tiffon can we make sure that the tags JSON is always a string:string mapping? It's much easier to parse in Go as `map[string]string`, but if some values are non-strings (numbers, bools), then parsing becomes a lot harder.

[2017-12-19 19:20] black-adder commented on #550
I dont recall but won't this mean we will no longer support searching tag values that are not strings? Did we never support this?

[2017-12-19 19:22] yurishkuro commented on #550
This can be extended in the future, but today we don't support that anyway, the query API only allows for "exact match".

[2017-12-19 19:36] yurishkuro commented on #550
@tiffon over to you, the query service now accepts `tags={"k": "v", ...}`, as long as all values are "quoted strings".

[2017-12-19 19:50] tiffon commented on #418
# 1 was fixed by jaegertracing/jaeger-ui#133.

[2017-12-19 19:51] tiffon commented on #401
This was fixed by jaegertracing/jaeger-ui#133.

[2017-12-19 20:00] yurishkuro commented on #401
👏

[2017-12-19 20:00] #401 closed

[2017-12-19 20:42] yurishkuro commented on #550
I you meant https://github.com/jaegertracing/jaeger-ui/issues/145

[2017-12-20 03:52] yurishkuro opened #603 "Enable trace archiving in query service"
#57 created the foundation for archiving functionality, but it's not enabled in the `cmd/query/main`

Related UI issue https://github.com/jaegertracing/jaeger-ui/issues/7

[2017-12-20 19:14] mkabischev opened #605 "big amount of dropped spans"
Hi, we're testing jaeger at the moment and faced the problem with the huge amount of dropped spans.
First we started with zipkin and decided to switch to jaeger without any code modifications we use Zipkin v1 HTTP API and Elasticsearch as a storage.
Service produces ~250k spans per minute and in jaeger's we can see that it receives ~ the same number of spans (zipkin:spans_recd) but drops(spans_dro

[2017-12-20 19:48] yurishkuro commented on #605
In our experience spans can be dropped for two reasons: either the collectors are under-provisioned (not enough CPU quota or # of instances), or the storage is a bottleneck. It's worth looking at perf metrics of collectors and storage to see where your bottleneck is.

[2017-12-21 07:10] mkabischev commented on #605
@yurishkuro thanks for the response. I found similar issue #439 and will try to add `index.translog.durability=async` to index settings.

[2017-12-21 18:47] yurishkuro opened #608 "How to support composable command line arguments"
Right now query/collector binaries support `--span-storage.type` CLI switch. However, regardless of what value is provided there, all other CLI switches for both Cassandra and ES configurations are always available if one runs `-h`. This makes modularity more difficult to support.

NB: the same issue will arise if we try to support plugins (#422).

### Ideal state

Cassandra CLI switches are only

[2017-12-21 18:52] yurishkuro commented on #422
I've been thinking this past week about how to support plugins in Jaeger. Some considerations:

  * the plugins themselves must be configurable, e.g. Cassandra storage has a bunch of parameters
    * configuring via env variables is the easiest
    * configuring via cmd line arguments (as we do now) is desired (see #608)
  * there must be different types of plugins, e.g. storage vs. span adjusters

[2017-12-21 19:01] yurishkuro commented on #605
Feel free to ask questions on chat https://gitter.im/jaegertracing/Lobby

[2017-12-21 19:01] #605 closed

[2017-12-21 19:19] frankgreco commented on #422
Addressing your last point, when `kanali@2.0.0` is released, I think i'm going to do the following to load plugin. With this approach, the `kanali` pod does not have to be changed when new plugins are required or changed.

[code]

Addressing your first point, making these plugins configurable is tricky. ENV variables will work but I haven't found a solution for dynamically changing the cli interfa

[2017-12-21 19:29] yurishkuro commented on #422
I was thinking of something very similar, thanks for posting!

Re dynamic CLI, I have a proposal in #608.

[2017-12-21 19:48] frankgreco commented on #608
For plugins, if `plugin.Open` was evoked before `rootCmd.AddCommand(myCmd)`, then all of the plugins `init` functions would be evoked before the command was added. If, in a plugins `init` function, they had `cmd.Flags()....`, then it should be possible to dynamically construct a commands flags.

[2017-12-21 19:51] frankgreco commented on #483
I can work on this. I just finished migrating to `dep` from `glide` for another project and so while everything is still fresh I can tackle this.

[2017-12-21 19:59] yurishkuro commented on #608
we're not using globals for flags, so this is not an issue, the individual plugin factory can have a method to register flags with viper/command.

[2017-12-21 20:25] yurishkuro commented on #426
Related PR that was closed previously #210 to build "snap" packaging.

[2017-12-21 20:26] yurishkuro opened #609 "Package static assets inside the query-service binary"
Currently we copy static assets directory to the docker image separately and point the query service to it using cli switch.

Some people swear by https://github.com/jteeuwen/go-bindata or its extension https://github.com/elazarl/go-bindata-assetfs.

This will be especially useful if we support non-Docker packaging (#426).

[2017-12-22 01:24] yurishkuro commented on #483
I prefer not to rush to `dep`, which is only at v0.3. There is no major upside from this migration yet, but there is a big downside because `dep` can import `glide` config, but not vice versa. We internally build with a different main, so we need to import oss jaeger, but our build system is based on Glide, so switching oss jaeger to `dep` will create issues.

Once Jaeger dependencies start switch

[2017-12-22 15:27] vprithvi commented on #483
I disagree, I find `deps` UX significantly better, it has the following features that glide lacks
* Updating a single dependency
* Visualizing dependencies
* Listing out the latest version of dependencies without having to update them

Do you have evidence for this claim?

The glide documentation does not say that all dependencies need to be using glide. (If they are, glide reads the project's `gl

[2017-12-22 16:56] yurishkuro commented on #483
You said it yourself, "if it isn't, it just scans imports" - that means no semver versioning or even pinned dependencies like the gocql driver.

[2017-12-22 16:59] yurishkuro commented on #426
let's keep it open

[2017-12-22 17:45] black-adder opened #611 "Add metrics documentation"
Jaeger collectors/clients emit metrics about the health of the system but they aren't documented anywhere. By documenting them, new users can see which metrics to look out for when setting up jaeger.

[2017-12-22 18:15] yurishkuro commented on #611
Could we auto-generate documentation, maybe?  I did want to normalize the metric patterns to be less path-based and more tags-based (esp. the collector metrics).

[2017-12-22 21:18] yurishkuro commented on #550
Will be released in 1.1.0 (#612)

[2017-12-22 21:18] #550 closed

[2017-12-22 23:30] yurishkuro opened #613 "Some spans have invalid span references"
The Go client sometimes sends invalid references (issue https://github.com/jaegertracing/jaeger-client-go/issues/242) `{"refType":"CHILD_OF","traceIdLow":0,"traceIdHigh":0,"spanId":0}`.

The backend could use a sanitizer to prevent these references from getting into storage or an adjuster before returning them to the client.

[2017-12-23 06:33] #613 closed

[2017-12-23 07:36] tiffon opened #616 "Query Service - Cache-Control header for static assets"
Add the `Cache-Control: public, immutable, max-age=31536000` header to all non-html static assets served by the query service. Mainly, to all static assets **except `index.html`**.

**With the exception of index.html**, the static assets generated by the UI can safely be cached because they all have part of their hash in the filename.

Currently, things are pretty quick because the query-service t

[2017-12-23 16:45] yurishkuro commented on #616
including images?

[2017-12-23 17:58] yurishkuro opened #617 "[query] Allow retrieving raw/unadjusted traces"
For debugging purposes it is often useful to look at the original JSON of the trace as it is stored in the database. This can be done by supporting an extra parameter in the trace API `/api/traces/{traceID}/?raw=true`.

Caveat: there trace is still going to go through a series of transformation: dbmodel -> domain model -> ui/JSON model, but those transformations are more or less lossless.

[2017-12-23 18:03] yurishkuro commented on #448
#617

[2017-12-23 18:21] #617 closed

[2017-12-23 18:43] yurishkuro commented on #589
There is a race condition in the span writer, and the [comment in the code](https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/es/spanstore/writer.go#L142) calls it out:
[code]

@black-adder did we envision any mechanisms for "creating indices ahead of time"?

Another, possibly a lot simpler alternative, would be to check if the error was specifically "index already exists".

[2017-12-23 18:47] yurishkuro commented on #589
ES driver exposes the [Error struct](https://github.com/olivere/elastic/blob/release-branch.v6/errors.go#L62), which has `Error.Details.Type` string that could be checked against `"index_already_exists_exception"` (assuming that string value is stable).

[2017-12-23 18:51] yurishkuro commented on #590
@jackychee were you able to solve this?

[2017-12-23 18:52] yurishkuro commented on #506
Closing as it's not clear why this is an issue

[2017-12-23 18:52] #506 closed

[2017-12-23 18:53] yurishkuro commented on #547
Haven't seen failures recently, closing.

[2017-12-23 18:53] #547 closed

[2017-12-23 18:56] yurishkuro commented on #503
@elliotpeele if this is just a question, you may want to ask on Gitter (https://gitter.im/jaegertracing/Lobby) or on the mailing list. If you run a docker image then I don't see why it should matter whether it's a Windows host.

[2017-12-23 18:56] #503 closed

[2017-12-23 18:59] yurishkuro commented on #465
Indeed. I am going to close this.

[2017-12-23 19:16] yurishkuro commented on #477
@jukylin what is the state of this issue?  The title does not reflect the discussion, which was around getting spans from PHP client to the collectors.

[2017-12-23 19:22] yurishkuro commented on #418
Not sure how we can do better, it seems to be the limitation of the gocql driver, because we do log the error returned from it:

[code]

[2017-12-23 19:34] yurishkuro commented on #372
* Moved time zone suggestion to https://github.com/jaegertracing/jaeger-ui/issues/154
* tag format is now explained (https://github.com/jaegertracing/jaeger-ui/issues/145)
* OR of tags is not supported by the backend. We can create a new issue for that, but this is not a high priority.

[2017-12-23 19:34] #372 closed

[2017-12-23 19:36] yurishkuro commented on #362
Please re-open or join the chat https://gitter.im/jaegertracing/Lobby for questions.

[2017-12-23 19:37] #362 closed

[2017-12-23 19:41] yurishkuro commented on #361
Issue for metrics documentation #611

[2017-12-23 19:41] #361 closed

[2017-12-23 19:47] yurishkuro commented on #273
Closing since both TODOs have their own issues

[2017-12-23 19:47] #273 closed

[2017-12-23 19:49] yurishkuro commented on #266
Closing as the docs requirement is covered by #456

[2017-12-23 19:49] #266 closed

[2017-12-23 19:49] yurishkuro commented on #261
I think this has been resolved by the attached PR #356, closing.

[2017-12-23 19:49] #261 closed

[2017-12-23 19:51] yurishkuro commented on #228
The official client is available from https://github.com/jaegertracing/cpp-client

[2017-12-23 19:51] #228 closed

[2017-12-23 19:54] #178 closed

[2017-12-23 20:00] yurishkuro commented on #172
I still do not see any justification / business reason why we should be changing anything in the collectors. Right now it's blissfully unaware of the sampling bit.

It's a precedent.

[2017-12-23 20:08] yurishkuro commented on #151
In Java it's already 1000ms https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/src/main/java/com/uber/jaeger/Configuration.java#L418

[2017-12-23 20:10] yurishkuro commented on #151
Same in Python https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/constants.py#L28
[code]

[2017-12-23 20:18] yurishkuro commented on #150
@objectiser would like to know more about the use case that requires this.

[2017-12-23 20:20] yurishkuro commented on #146
There is an issue in the Python client repo for sending spans over HTTP (https://github.com/jaegertracing/jaeger-client-python/issues/98). I don't think we need anything else on the backend.

[2017-12-23 20:20] #146 closed

[2017-12-23 20:21] yurishkuro commented on #85
no justification

[2017-12-23 20:21] #85 closed

[2017-12-23 20:21] yurishkuro commented on #24
CNCF is making a new design for the site.

[2017-12-23 20:21] #24 closed

[2017-12-23 20:23] yurishkuro commented on #206
Duplicate of #456

[2017-12-23 20:23] #206 closed

[2017-12-23 20:24] yurishkuro commented on #158
Duplicate of #456

[2017-12-23 20:24] #158 closed

[2017-12-23 21:48] tiffon commented on #616
Yes, including images (as long as they are referenced in JS, which they are).

[2017-12-23 21:52] yurishkuro commented on #616
Here's one example that's not salted: `<link rel="shortcut icon" href="/favicon.ico">`

[2017-12-23 22:22] tiffon commented on #616
@yurishkuro Great catch! I'll make a note of it for the path prefix measures, too...

Maybe we can apply the updated Cache-Control header to anything with a hash in the filename?

Testing the request URL/path with a regex along the lines of `[^/]\.[a-f0-9]{6,}\.\w{2,8}$` might work.

[2017-12-23 23:56] #151 closed

[2017-12-25 09:50] jukylin opened #618 "set operationNames's cache capacity to 10000"
[code]

InitialCapacity should be 10000, not 0000. Right?
#619

[2017-12-25 16:52] yurishkuro opened #620 "The API should not return large numbers that cannot be represented in JS"
Raised in https://github.com/jaegertracing/jaeger-ui/issues/146

Javascript cannot represent full 64bit integers

[2017-12-26 03:29] #618 closed

[2017-12-26 07:55] NeoCN commented on #414
Any update on this?

[2017-12-26 11:14] meilihao opened #622 "query error after run es_indices_clean.sh"
jaeger version: cba413ede300564e6f92a16f812604e4a829d0c7
storage: elasticsearch 6.1.1, Build: bd92e7f/2017-12-17T20:23:25.338Z, JVM: 9.0.1

It's work before clean.

My operation process:
[code]

 Then visit `http://local:16686/search`, get error:
[code]

[2017-12-26 20:57] phal0r commented on #571
@yurishkuro
I really enjoy repos with a good discussion culture, so thanks for that.

The use case is a modular processing system, where the processes itself are also modular and split up into steps, that can be run in series or parallel. We have an older ui, which renders these as a tree panel (known from senchas extjs). We want to replace this with jaeger, since the data model would be a perfect

[2017-12-26 21:39] yurishkuro commented on #571
My first instinct is that it would make a lot more sense to represent each "step" as a separate span. This indirectly addresses the question of many logs per span, but more importantly it seems like a better representation of the application and its transaction semantics. After all, a span is supposed to represent an operation within the application, which sounds very much like those "steps". The

[2017-12-26 22:09] phal0r commented on #571
Yeah, maybe I made myself unclear. This is exactly our intention. Every span represents a step of this process. Jaeger is a perfect fit to store and visualize this structure. Even a failing step would be easily visible through the jaeger mechanics, since a span can be marked as errorneous.

Maybe the most important information I forgot: The reason why one span has that many logs is, that there are

[2017-12-26 22:45] dstroot commented on #483
Yuri - I started using Glide and have switched to Dep because it has momentum behind it.  Both work well and I agree no need to rush.  I think your view that you can't have pinned dependencies is incorrect.  The `Gopkg.toml` file is used for that purpose.  It looks like this example:

[code]

[2017-12-26 23:18] yurishkuro commented on #483
I meant that you cannot have pinned transitive dependencies. For example, this depedency chain: `uber[glide] -> jaeger[dep] -> gocql[pinned]`. Jaeger pins gocql driver, but because it uses dep, when it's imported by an uber project using glide, glide will not read `jaeger/Gopkg.toml`, instead it will find all imports in `jaeger` and try to import their latest versions. Thus whichever pins exist in

[2017-12-27 07:04] jackychee commented on #590
I try to reappear and then solve this problem,  and i will feedback to you in time.

[2017-12-28 19:00] yurishkuro commented on #213
A few thoughts since this issue has been opened.

The direct integration with service discovery is quickly becoming an anti-pattern given the rise of service meshes and proxies that abstract away that infrastructural concern. Even at Uber internally our agents are communicating to collectors via a service mesh proxy

If direct integration is still desired for performance reasons, I think integrati

[2017-12-29 19:05] lapointexavier commented on #593
Seems to be working now? ¯\_(ツ)_/¯

[2017-12-29 19:05] #593 closed

[2018-01-01 09:02] yangwenmai opened #626 "Jaeger Website 404 file not found"
Jaeger Website: [http://uber.github.io/jaeger/](http://uber.github.io/jaeger/) 404 file not found.

[2018-01-01 18:18] yurishkuro commented on #626
Thanks for pointing out. I changed a bunch of places that I could find.

[2018-01-01 18:18] #626 closed

[2018-01-01 21:20] yurishkuro opened #627 "Introduce a framework for components lifecycle"
The main functions of query/collector/standalone have a lot of duplication due to the way various components are configured, initialized, used. We could do better.

At minimum, all components that provide CLI flags and initialization from Viper could be written as `plugin.Configurable` instances (from #625) which will reduce the boilerplate code by 30%. Right now every component is called 3 times:

[2018-01-02 00:10] yurishkuro opened #628 "Make default time span of ES index configurable"
Right now ES storage rotates indices every 24hrs because of this code in es span writer:
[code]

It would be better to have a CLI flag to configure the time span of the index, and truncate `span.StartTime` to that granularity.

[2018-01-02 07:24] kxxoling opened #629 "Glide issue is fixed now, we don't need the warning in Makefile any more."
While playing with the examples/hotrod demo, I received a warning of using glide 0.12.3 instead of glide 0.13 because of this issue: https://github.com/Masterminds/glide/issues/745 . Now this is fixed, and works well on my machine:

[code]

[2018-01-02 13:32] yurishkuro commented on #629
would you like to put a PR?

[2018-01-02 15:46] objectiser commented on #150
This was based on an early discussion about how Jaeger could publish spans to a data pipeline via a REST API to avoid additional dependencies in the server - however I think more recent discussions about using something like Kafka to collect spans, and persist / post-process from there, have superceded such a requirement so will close.

[2018-01-02 15:46] #150 closed

[2018-01-03 00:49] kxxoling commented on #629
Here it is: https://github.com/jaegertracing/jaeger/pull/630

[2018-01-03 01:52] #629 closed

[2018-01-04 23:31] ledor473 opened #633 "Add Cassandra in healthcheck"
We are observing a strange issue where both Query and Collector does not reconnect to the Cassandra cluster and both logs "gocql: no hosts available in the pool"

The problem seems to be either with GoCQL or with our setup, but I think that Query and Collector healthcheck should reflect that as a problem.

As of now, killing the pods were enough to fix the issue.

[2018-01-05 16:04] golonzovsky opened #634 "Lookback 12/24 hours query returns empty result"
Storage type: Elasticsearch
Jaeger verison 1.1

Query service is sending same from/to timestamps when requesting Lookback 12/24 hours, therefore getting empty result. `2 days` and `6 hours` and below works fine.

See tcpdump of elasticsearch query:
[code]

UPD: Ah, even easier - its visible form browser network tab (start and end are equal), so most likely UI related:
[code]

[2018-01-05 16:16] yurishkuro commented on #634
@tiffon is this a UI issue?  Query service should be simply taking what UI gives it.

[2018-01-06 16:50] benjigoldberg opened #636 "Agent requires long connection timeout on AWS ELB"
Myself and @ledor473 were independently experiencing timeout issues when using an ELB in front of the Jaeger Collector within AWS. Concretely the connection configuration looked like the following:

[code]
For reference anything in `[]` can be thought of as running in a containerized environment together, eg a Pod in Kubernetes or a Task in AWS ECS.

The behavior that I observed were repeated erro

[2018-01-06 18:03] #168 closed

[2018-01-08 14:32] secat opened #637 "ElasticSearch 6.x support"
Do you have plan to support the ElasticSearch backend version 6.x?

The [github.com/olivere/elastic](https://github.com/olivere/elastic/releases/tag/v6.1.1) package version v6.1.1 has been released.

[2018-01-08 17:39] yurishkuro commented on #637
@secat is there something in Jaeger that's not working with ES 6.x?  We made one change long time ago to support 6.x - https://github.com/jaegertracing/jaeger/pull/301.

[2018-01-08 20:37] secat commented on #637
@yurishkuro I didn't try it yet with ElasticSearch >= 6.x.

I have only scanned the `glide.yaml` file and saw that the currently used [ElasticSearch client](https://github.com/jaegertracing/jaeger/blob/master/glide.yaml#L41) version was [v5.0.39](https://github.com/jaegertracing/jaeger/blob/master/glide.yaml#L42).

Since it was not the ElasticSearch client version `v6.1.1` that was released today,

[2018-01-08 21:02] #603 closed

[2018-01-08 21:18] yurishkuro opened #638 "Additional storage backends"
Opening this issue to keep track of other related issues.
  * ScyllaDB https://github.com/jaegertracing/jaeger/issues/197
  * InfluxDB https://github.com/jaegertracing/jaeger/issues/272
  * Netflix Dynomite https://github.com/jaegertracing/jaeger/issues/331
  * Amazon DynamoDB https://github.com/jaegertracing/jaeger/issues/421

Relevant issue: plugin support #422.

[2018-01-08 21:42] yurishkuro commented on #637
I'll update the docs.

[2018-01-09 04:40] tiffon commented on #634
@yurishkuro This is a UI bug: jaegertracing/jaeger-ui#167

[2018-01-09 15:14] nbettiol commented on #638
Did you remove the flags for elasticsearch in jaeger-collector? Because I'm doing a test using the image docker, which version is:

`{"gitCommit":"dbd5db721fc59431b1e64874cc7d6265d89ec917","GitVersion":"v1.1.0","BuildDate":"2018-01-08T21:56:21Z"}`

and I cannot see the elasticsearch flags.

[2018-01-09 15:32] black-adder commented on #638
It looks like you're using latest instead of 1.1. We recently moved around some of the flags so that we can support plugins better https://github.com/jaegertracing/jaeger/pull/625. Using latest, you have to instead use env variable SPAN_STORAGE=elasticsearch to use the elasticsearch flags. I'd recommend that you use 1.1 since this change will be apart of 1.2 and will be documented at that time.

[2018-01-09 15:37] nbettiol commented on #638
Thanks for the reply, yes I was using the latest version. I will use the 1.1

[2018-01-10 16:01] phal0r commented on #571
@yurishkuro
Would love to get your feedback on this.

[2018-01-10 17:44] yurishkuro commented on #571
Sorry, I don't think I have any more insight. Like we said, there multiple possible solutions, you need to evaluate pros and cons in your specific case. Personally I am having hard time seeing how 5000 logs per span are useful, it sounds like information overload.

Do you have a specific question I can help with?

Side note: at Uber we collect logs separately, usually with Kafka/elk stack, and we

[2018-01-11 00:25] yurishkuro opened #642 "Consider renaming SPAN_STORAGE env var to SPAN_STORAGE_TYPE"
I noticed this discussion about Jaeger Helm chart: https://github.com/kubernetes/charts/pull/3109#discussion_r160825591

The original `--span-storage.type` cli switch that was deprecated in #625 in favor of SPAN_STORAGE env var was actually previously mapped to SPAN_STORAGE_TYPE env var.

We could achieve better backwards compatibility by renaming
  * SPAN_STORAGE => SPAN_STORAGE_TYPE
  * DEPENDEN

[2018-01-11 00:46] black-adder commented on #642
makes sense, given the refactor was technically a breaking change, anything to make the transition easier is worth it.

[2018-01-11 08:55] pavolloffay commented on #642
+1 on this

[2018-01-11 08:57] objectiser commented on #642
+1

[2018-01-11 15:12] rbtcollins commented on #458
Hi @Dieterbe we had much the same use case with a of variation:
- we're deliberately not including confidential info (PII, customer data) in our traces: we want the traces to be accessible to all the teams and not have to try to do masking on a per-span basis!

So what we've done is deploy cassandra and the query centrally, and then put an agent on every node via a daemonset (to avoid the per-pod

[2018-01-11 17:59] #642 closed

[2018-01-11 22:52] pavelnikolov commented on #204
This would be really nice. In the mean time, you can use this image https://hub.docker.com/r/mikelorant/jaeger-hotrod/ it accepts `AGENT_HOST` and `AGENT_PORT` environment variables.

[2018-01-11 23:37] yurishkuro commented on #204
@pavelnikolov would you like to submit a PR to add a hotrod image to the travis step that builds the other images?

[2018-01-12 00:55] pavelnikolov commented on #204
I was about to submit a PR for that, but then I noticed the hotrod code needed some changes as @jkandasa has pointed out above. I didn't have time to do it and @mikelorant created the image I liked above ([repo here](https://github.com/mikelorant/jaeger-hotrod)). Although it works, it's a little hacky workaround and needs to be done properly.
I'll try to submit a PR soon and fix the hotrod code. T

[2018-01-12 01:06] yurishkuro commented on #204
I assume you mean this issue in the client: https://github.com/jaegertracing/jaeger-client-go/issues/197

[2018-01-12 01:14] pavelnikolov commented on #204
I think the hotrod (from memory) is hardcoded to send tracing only to localhost. This is the reason Mike has forwarded traffic from port `6831/udp` to external host and port in his Docker image, suing `socat`:

[code]
The fix is to allow hotrod to be configurable and to send data to custom host and port.

[2018-01-12 14:12] #589 closed

[2018-01-12 14:37] pavolloffay commented on #590
@jackychee did you manage to solve it? It's maybe related to #591

[2018-01-12 14:59] pavolloffay commented on #538
It would potentially solve also https://github.com/jaegertracing/jaeger/issues/455

[2018-01-12 15:01] pavolloffay commented on #294
Fixed in https://github.com/jaegertracing/jaeger/pull/641.

[2018-01-12 15:01] #294 closed

[2018-01-12 16:00] pavolloffay commented on #439
I am looking at this.

[2018-01-12 20:30] margic commented on #483
Is there any advice on how to use jaeger with a dep project.

Get a bunch of these kinds of errors
[code]

[2018-01-12 22:07] yurishkuro commented on #483
I have switched the tutorial to `dep`: https://github.com/yurishkuro/opentracing-tutorial

[2018-01-13 03:35] eprst opened #648 "UI requires "react-addons-perf" which is not supported anymore"
I'm trying to start everything manually, without docker images using current `master` snapshot. UI fails to start with the following error:
[code]
Which is caused by 'react addons' being [unsupported](https://reactjs.org/blog/2017/04/07/react-v15.5.0.html#discontinuing-support-for-react-addons)

[2018-01-13 11:54] phal0r commented on #571
@yurishkuro
Ok, I understand. My feeling ist, that (a) as a jaeger feature with pagination and everything would change a lot in jaeger itself, since that it would be necessary to stream the logs somehow. This seems not like the way to go.

Generating a span for each loop seems like we could give it a try, since a span could also hold context information of every loop. You mentioned in the v1 relea

[2018-01-13 20:12] yurishkuro opened #649 "Integration with logs"
Many organizations have log aggregation setups, such as shipping all logs to Elasticsearch. For logs corresponding to traced transactions, it may not be feasible or desired to direct them all to the tracing backend. As long as the logs are labeled with trace/span IDs, it is possible to reassemble the logs from the logging backend when viewing traces in Jaeger UI.

This ticket is to track the desig

[2018-01-13 20:13] yurishkuro commented on #571
We're currently in the design phase for our internal unified log query service that is meant to abstract away the actual location of the service logs (e.g. Elasticsearch, Kafka, HDFS, even files on the hosts). Once we have that we can look into integrating Jaeger with it (#649).

[2018-01-14 16:17] jukylin commented on #211
I release to v2.0.0-beta [https://github.com/jukylin/jaeger-php](https://github.com/jukylin/jaeger-php)

[2018-01-15 17:30] #591 closed

[2018-01-17 01:29] popwalker opened #651 "run agent occurred an error by prometheus"
When i run agent, it failed ,the error message is:
[code]
when i locate the code ,It is really an error:
![image](https://user-images.githubusercontent.com/17463763/35020674-2ea05aa2-fb68-11e7-9a9f-6a0cf9bed0fd.png)

didn't find other issue mentioned about this，Given that I do not really familiar with prometheus，I haven't find a way to resolve this problem

[2018-01-17 18:07] Nekuromento opened #652 "Incorrect trace count returned when in UI when not using filters with Cassandra storage"
Jaeger query server returns inconsistent results when searching latest traces when configured to use Cassandra as storage.
This issue only manifests when no filters are specified except for query limit.
This issue only manifests when all components are deployed to remote machines (doesn't reproduce with all-in-one container).
This issue does not manifest when using ElasticCache as storage.

Expect

[2018-01-17 19:17] black-adder commented on #652
refer to https://github.com/jaegertracing/jaeger/issues/166

I'll document this issue somewhere

[2018-01-18 02:51] mabn commented on #439
FYI - I've been using index.translog.durability=async and it solved my IOPS problems on AWS. But indexing is still very heavy CPU-wise and bulk is also needed.

[2018-01-18 08:05] pavolloffay commented on #439
I have it almost ready, I did some test to report 300k spans. The builk API takes about 40s and without it 15min.

[2018-01-18 09:57] mabn commented on #439
Sounds great!

[2018-01-18 14:44] pavolloffay commented on #590
@jackychee I will close this, I think it was fixed in https://github.com/jaegertracing/jaeger/pull/646. Feel free to reopen if the issue is still present.

[2018-01-18 14:44] #590 closed

[2018-01-18 15:39] black-adder commented on #651
My guess is there's a dependency mismatch, can you tell me what version of github.com/prometheus/client_golang you see in glide.lock?

[2018-01-19 05:48] popwalker commented on #651
@black-adder ,the version of `github.com/prometheus/client_golang` in glide.lock is :
[code]
after I posted the issue,I found my jaeger version was old, then updated it. I noticed that the new version of `jaeger/cmd/agent/main.go`, import `github.com/jaegertracing/jaeger` instead of `github.com/uber/jaeger-lib` .
When try to run agent, I got another error:
[code]
Screenshot:
![image](https://user-

[2018-01-19 11:14] cheveyo20 opened #658 "Elasticsearch Storage Backend Failed to create index"
Hi,

this is a part of my docker-compose file. I am running an elasticsearch with 3 nodes:

[code]

The jaeger collector is throwing the following error:
[code]

[2018-01-19 13:43] pavolloffay commented on #658
@cheveyo20 do you store something else to ES?

[2018-01-19 14:52] pavolloffay commented on #658
Can you share compose file with ES definitions?

[2018-01-19 14:55] cheveyo20 commented on #658
The Elasticsearch is not running containerized, its deployed via ansible on 3 nodes:

[code]

[2018-01-20 07:32] kingeasternsun opened #659 "too hard to config the jaeger"
my environment
[code]
go env
[code]
when I execute `go run ./main.go all`

[code]

[2018-01-20 17:00] yurishkuro commented on #659
it appears you did not initialize vendor directory.

https://github.com/jaegertracing/jaeger/blob/master/CONTRIBUTING.md#getting-started

[2018-01-22 18:12] yurishkuro opened #661 "Add GetSamplingStrategy handler to collector"
The agent proxies all sampling requests to collector, but there is no handler there :-(

[2018-01-23 08:43] pavolloffay opened #662 "Consume stats from ES bulk service"
Bulk service exposes stats [1] which should be pulled in into our metrics.

[1]: https://github.com/olivere/elastic/wiki/BulkProcessor#stats

Depends on https://github.com/jaegertracing/jaeger/pull/656

[2018-01-23 09:05] #439 closed

[2018-01-24 08:08] objectiser commented on #419
@caniszczyk Hi Chris, would it be possible to get funding for another intern for May to August period for tracing (OpenTracing and Jaeger)?

[2018-01-24 10:38] pavolloffay commented on #204
@pavelnikolov #603 added a flag to configure agent address

[2018-01-24 13:54] pavelnikolov commented on #204
This will save me some time. I'll try to create Docker file using it and will send a PR.

[2018-01-25 13:34] mattmahoneyrh opened #664 "SpanLogger Error"
The following HotROD ERROR is now occurring when generating a trace.
This began happening with the "latest" PR merge.

HotROD and Jaeger were started on the same instance, as detailed in the example:
https://github.com/jaegertracing/jaeger/tree/master/examples/hotrod

2018-01-25T08:19:57.563-0500	INFO	log/spanlogger.go:34	Found drivers	{"service": "driver", "drivers": ["T789252C", "T741582C", "T71

[2018-01-25 13:48] pavolloffay commented on #664
These errors messages should be there. They are just simulating errors to make traces looks "interesting".

[2018-01-25 13:48] #664 closed

[2018-01-25 14:33] kevinearls opened #665 "Failed to create index/resource already exists creating spans when using ElasticSearch"
While running a simple performance test and using ElasticSearch as storage I a number of "failed to create index" errors on the collector

I did the following:
-- Download elasticsearch 6.1.2 from https://www.elastic.co/downloads/elasticsearch and ran ./bin/elasticsearch
-- Ran the collector with: SPAN_STORAGE_TYPE=elasticsearch go run ./cmd/collector/main.go --collector.queue-size=3000000 --es.bu

[2018-01-25 15:38] kevinearls opened #666 "ElasticSearch MapperParsingException failed to parse startTime when using agent"
When running a simple performance test and using elasticsearch and an agent, I ran into two problems.  First, the agent terminates with an out of memory error.  Then, and I don't know whether it's related to the agent problem, I get the stacktrace below on the ElasticSearch console.

To reproduce:

- Download elasticsearch 6.1.2 from https://www.elastic.co/downloads/elasticsearch and ran ./bin/ela

[2018-01-25 16:10] pavolloffay commented on #666
This seems like a corrupted span data

[2018-01-25 16:35] pavolloffay commented on #665
Hi @kevinearls thanks for reporting. Nit could you please format log output and commands like `this`.

[2018-01-25 16:55] pavolloffay commented on #665
It seems that this is only related to elasticsearch `6.x`. I was able to reproduce the error.

This error does not occur when using `5.x` (I am using `5.6.6`).

We are using golang elastic client `5.x` which is compatible with ES5 https://github.com/olivere/elastic#releases

Our docs says that we are compatible with ES 5 and 6 http://jaeger.readthedocs.io/en/latest/deployment/#elasticsearch. I thi

[2018-01-25 23:02] saada opened #667 "Documentation for Sampling Strategy"
I spent hours trying to figure out why my traces were rarely showing up on the UI and was baffled that the default was to use RemoteSampling in the Java client. What's more confusing is that the Jaeger agent doesn't have any docs on configuring sampling strategy.

Can we add docs for configuring strategy on Jaeger agent and explain each strategy?

[2018-01-25 23:05] radekg commented on #422
Food for thought - hashicorp terraform also does pluggable backends. AFAIR, they use protobuf for intra-process communication. Might be worth having a look at how they do it.

[2018-01-25 23:09] vprithvi commented on #667
I agree that sampling documentation can be improved.
We have some at https://github.com/jaegertracing/jaeger-client-java#testing

Sampling is performed when traces are created, and are hence controlled by the client. Do you remember where you were looking for documentation?

[2018-01-26 09:37] kevinearls commented on #665
I'm not able to reproduce this with 5.6.6 either, even after running for 30 minutes, so I'm going to close this.

[2018-01-26 12:20] cheveyo20 commented on #658
Any idea, how i can solve it?
Do i need to create the index manually? Or execute some installation script?
I am using ElasticSearch Version 5.6.3

grretings CheVeyo

[2018-01-26 13:17] pavolloffay commented on #658
How many instances of jaeger-collector are you running?

Can you share the ansible script to deploy ES?

[2018-01-26 13:28] cheveyo20 commented on #658
I am running one jaeger-collector it is deployed via docker swarm (see on top of the page)

Ansible Playbook:

[code]
the role elasticsearch is directly mapped to the offical elasticsearch role:

https://github.com/elastic/ansible-elasticsearch

[2018-01-26 15:55] #667 closed

[2018-01-27 02:55] frankgreco commented on #422
@yurishkuro Ran into a nasty issue relating to plugins with Kanali that I thought I'd share.

In theory, plugins should be able to be dynamically loaded without the need to modify Jaeger's container image. In the context of Kubernetes, the recommended approach would be to use [init containers](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/). The init container would move the c

[2018-01-27 03:31] frankgreco commented on #422
The current workaround that I use entails building your custom plugin within the same `Dockerfile` as Kanali. The goal is to take the superset of dependencies that Kanali and every plugin requires and build them all using this aggregated dependency tree. This will only work if all intersecting dependencies utilize the exact same revision.

[2018-01-27 18:32] yurishkuro commented on #422
Thanks for pointing those out, @frankgreco. It seems like a complete show stopper to me until there's a better fix from Go. Even if the plugin is build with the same vendor as Jaeger core, there's going to be tight coupling between Jaeger version and plugin build, since the next Jaeger version might have upgrades to the deps. I actually want to give the hashicorp gRPC based plugin framework a try.

[2018-01-27 21:11] frankgreco commented on #422
@yurishkuro I agree! I'm going to checkout their gRPC framework as well.

[2018-01-29 15:01] golonzovsky opened #668 "ES storage has hard limit of 10k spans per trace during reading"
ES storage queries are limited to 10k spans, so big traces over 10k spans (usually batches) displayed partially and have limited usability.

See related span store reader code:
https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/es/spanstore/reader.go#L52

Maybe using ["Scroll" or "Search After"](https://www.elastic.co/guide/en/elasticsearch/reference/6.1/search-request-from-size.ht

[2018-02-01 10:46] pavolloffay opened #673 "Use gRPC"
User gRPC between agent and collector. We could also consider using it in client libraries to report data.

See:
https://groups.google.com/forum/#!topic/jaeger-tracing/toBNkL_zEDE
https://github.com/jaegertracing/jaeger/pull/526#issuecomment-362008909

[2018-02-01 10:48] jpkrohling commented on #673
Just to make it explicit: based on what was talked on the last week's Jaeger meeting, this is not about *removing* Thrift, but about *adding* gRPC.

[2018-02-01 13:29] dmitrygusev commented on #374
This happened to us yesterday, although we're just testing: I've removed current-date indices (for cleanup purposes) while collectors were still running.

It looks like Jager didn't notice this and just continued posting the spans as before, Elasticsearch didn't fail the requests and created new indices for incoming requests on-the-fly on its own with guessed mappings. The mappings were obviously

[2018-02-01 14:52] jpkrohling commented on #572
@NeoCN , how did you get the output listed under the "java service" on your first comment?

[2018-02-01 15:49] NeoCN commented on #572
@jpkrohling impl `StatsReporter` with [`Micrometer  API`](https://github.com/micrometer-metrics/micrometer), then get metrics output with [`micrometer-registry-prometheus`](https://github.com/micrometer-metrics/micrometer/tree/master/implementations/micrometer-registry-prometheus)

[2018-02-01 15:51] jpkrohling commented on #572
Is it your own implementation of the `StatsReporter`?

[2018-02-01 15:55] objectiser commented on #572
+1 would be great to get this contributed!

[2018-02-01 16:00] NeoCN commented on #572
@jpkrohling yes, my own implementation

[2018-02-03 07:18] ringerc commented on #638
Since I work with PostgreSQL, I sure wouldn't complain. But honestly I'm not sure a SQL db is an optimal store for largely free-form metrics of this nature. PostgreSQL at least offers the `jsonb` type. If you're trying to do this in a vendor neutral way you'll land up with your own json blobs, or doing EAV, and both of those are terrible. ANSI SQL is a poor fit for variable-structured or key/value

[2018-02-03 07:42] mvpmvh opened #675 "How to chain middleware?"
The sample code seems to show each endpoint given a single middleware (https://github.com/opentracing-contrib/go-stdlib/blob/1de4cc2120e71f745a5810488bf64b29b6d7d9f6/nethttp/server.go#L56) that handles the initial tracing. How would one go about chaining http middlewares and tracing each step of the way?

my initial middleware starts a span...
[code]
and my next middleware tries to append to the p

[2018-02-03 08:38] mvpmvh commented on #675
I was able to follow the path by using a `GlobalTracer`. This seemed to be the only way to get `opentracing.ChildOf(spanCtx)` to not lose spans. What are the consequences of using a singleton GlobalTracer vs request-scoped tracers?

[2018-02-03 08:38] #675 closed

[2018-02-05 03:12] ext2xhb opened #677 "Can unfinished span caused by some-db-deadlock be recognized by jaeger?"
We are planning to use jaeger to inspect the database-sql-execute in lots of services. some-time, the sql-execution will dead-locked unpredictable.
this dead-lock will leave some span un-finished. It seems these un-finished span will not be reported by jaeger.....

[2018-02-05 04:15] yurishkuro commented on #677
unfinished spans are not currently reported by Jaeger clients.

Related issue https://github.com/jaegertracing/jaeger-client-java/issues/231

[2018-02-05 06:04] reynaldiwijaya opened #678 "Using Client Certificate for Elastic Search Authentication"
Is there any plan to accommodate using client certificate for authenticating jaeger to ES? Our elastic search deployment is using search guard which only enable client certificate now, and we would like to keep it that way. ES is deployed in Kubernetes v1.9, and we would like to deploy Jaeger there as well.

If there are none, do you have any suggestion of workaround for this problem?

[2018-02-05 09:38] pavolloffay commented on #638
Related issue to this one is https://github.com/jaegertracing/jaeger/issues/551. Upvote if you are interested in it.

[2018-02-05 11:07] cheveyo20 commented on #658
Do i need to prepare the elasticsearch in any way?

[2018-02-05 13:50] pavolloffay commented on #658
No configuration is required. Still the same error?

[2018-02-05 17:37] yurishkuro commented on #678
if the Go driver supports it, we can add the options similar to how they were added for Cassandra:
[code]

[2018-02-05 18:19] fzakaria commented on #551
Honestly something simple like LevelDB + RocksDB with a trivial eviction policy
(some go routine that evicts things older than X days) would be good enough for me.

[2018-02-05 22:42] isaachier commented on #673
See https://github.com/jaegertracing/jaeger-idl/pull/41 for potential first steps.

[2018-02-05 22:46] vprithvi opened #681 "Write Integration tests for Cassandra"
Similar to https://github.com/jaegertracing/jaeger/pull/672

[2018-02-06 00:59] black-adder opened #682 "Add new model span hash function"
We ran into an issue where a single span with different tag ordering will result in https://github.com/jaegertracing/jaeger/blob/d16de316a8bfc0ba7a6d5d1b7e43d3c48156d8ae/model/hash.go generating two different hashes. Ideally, even if the tags aren't ordered the same way, the two spans should be identified as equivalent.

[2018-02-06 02:01] tiffon opened #683 "query-service - Search all services"
From jaegertracing/jaeger-ui#180:

cc @ringerc

[2018-02-06 02:12] reynaldiwijaya commented on #678
oh yeah thanks for update. Should we let this issue opened (in case the client updates it)? Please feel free to close it as well

[2018-02-06 02:19] tiffon commented on #683
Closing as this is a dupe.

[2018-02-06 02:20] #683 closed

[2018-02-06 02:30] tiffon opened #684 "query-service - Enhanced tag search"
Some tag search capabilities that have come up in the Jaeger UI issues

From jaegertracing/jaeger-ui#171

- Wildcard matching (on tag name and value)
- OR relationship
- Absence of a tag
- Presence of a tag
- Negation

From jaegertracing/jaeger-ui#87

- Regex matching

[2018-02-06 03:21] ringerc commented on #683
Sorry. I didn't find the old one.​

[2018-02-06 09:01] japgolly commented on #637
In light of https://github.com/jaegertracing/documentation/pull/3/files, this should be reopened.

[2018-02-06 09:26] pavolloffay commented on #658
@cheveyo20 can you please confirm Jaeger version you are using? It's a version command `jaeger-binary version`

[2018-02-06 10:23] japgolly commented on #658
I've also seen this error using ES 6.1.2 and Jaeger 1.1.0.

[2018-02-06 10:31] pavolloffay commented on #658
@japgolly note that ES 6.x is not supported at the moment.

[2018-02-06 13:31] kevinearls opened #685 "Numeric tags lose precision when using ElasticSearch"
I created a tag using  ".withTag("floatTag", Math.PI)".  When using Cassandra or the all-in-one it returns "3.141592653589793" (which is what (Number) Math.PI returns) but with ElasticSearch I only get "3.141592654"

[2018-02-06 15:08] vprithvi commented on #682
I'm not sure whether changing just the `hash` is the best way to go about it.
We need to at least change `equal` as well.

Additionally, the codebase assumes that the canonical form of tags is to be in sorted order.
See the following: https://github.com/jaegertracing/jaeger/blob/d16de316a8bfc0ba7a6d5d1b7e43d3c48156d8ae/model/process.go#L25-L28

Further, because this would be in a hash and equals,

[2018-02-06 15:38] black-adder commented on #682
TIL, ok scrap what I said. Do we always sort the tags somewhere inside the collector? Do we just have to do the same in the ingestor?

[2018-02-06 15:58] vprithvi commented on #682
It doesn't look like we sort them. Maybe I'm mistaken about what the code assumes.
There is no reference to a canonical form elsewhere.

We do apply adjusters on retrieval that sorts log fields, etc. Perhaps we should sort when we first convert from tchannel thrift to model.

https://github.com/jaegertracing/jaeger/blob/d16de316a8bfc0ba7a6d5d1b7e43d3c48156d8ae/model/adjuster/sort_log_fields.go#L21

[2018-02-06 16:06] yurishkuro commented on #682
What was the problem caused by different hashes? And why did corrector have two spans with different tag order?

[2018-02-06 16:19] vprithvi commented on #682
@yurishkuro We discovered what we thought were idempotent writes in the Kafka to Cassandra writer weren't idempotent because of differing span hashes caused by differing tag ordering.

My hypothesis is that one of the data transformers modified the ordering. I haven't dug into where exactly this change happened.

[2018-02-06 20:31] vprithvi opened #687 "The naming of MutiplexWriter is misleading"
https://github.com/jaegertracing/jaeger/blob/412baf60db217d6f41d7fdca04358069362b29ca/storage/spanstore/multiplex.go#L22

What MultiplexWriter does is at odds with what a Multiplexer is defines as.

[2018-02-07 00:02] yurishkuro commented on #687
Proposal?

[2018-02-07 13:59] cheveyo20 commented on #658
Ok i could solve it with downgrading to Elasticsearch 5.2.1
It seems that 5.6.3 is conflicting with the collector

[2018-02-07 14:23] vprithvi commented on #687
`CompositeWriter` ?

[2018-02-07 20:16] rbtcollins opened #690 "cannot query for minduration and tags simultaneously"
This is presumably known already, but its going to be quite a sharp limit for us as we're using tags to separate out different clusters, and that effectively means we cannot use minduration queries at all :(.

[code]

[2018-02-08 06:49] ikenchina opened #692 "zipkin vs jaeger"
What are disadvantages and advantages : compare zipkin and jaeger.

[2018-02-08 06:52] ikenchina commented on #692
@yurishkuro

[2018-02-08 07:58] kingeasternsun commented on #659
follow the steps
https://github.com/jaegertracing/jaeger/blob/master/CONTRIBUTING.md#getting-started
 ,i got this error
[code]

my environment is
[code]

[2018-02-08 10:07] #692 closed

[2018-02-12 10:00] ffledgling commented on #432
@Dieterbe Had this exact same thing happen to our cluster with the same docker weird state symptom. Did you get get to the bottom of this? Or figure out which docker bug causes this?

[2018-02-12 16:24] radekg opened #695 "scratch docker image does not cooperate with, appears to be, Marathon"
When deploying the agent, query or collector image on dcos, it appears that Marathon tries to call /bin/sh inside of the container. This fails because the scratch image does not supply /bin/sh. Removing / changing `FROM scratch` to `FROM alpine:latest` resolves this problem. Current, when deploying on DCOS, the following error is returned:

[code]

[2018-02-12 16:32] jpkrohling commented on #695
While the solution looks simple, I fear it's not the right one... Would you have more information about *why* Marathon is trying to call `/bin/sh`? Are you able to get this down to the docker command it uses to start the container?

[2018-02-12 16:59] radekg commented on #695
I'm short on details but I believe it automatically wraps whatever command is given to with `/bin/sh -c '...'`. No idea why it would do so: https://jira.mesosphere.com/browse/MARATHON_UI-160

[2018-02-12 17:02] radekg commented on #695
It basically assumes existence of `/bin/sh`, which, I agree, is not very nice. So please accept it as is.

[2018-02-12 18:57] radekg commented on #695
Here's more details and a solution:

I was trying to add additional parameters to agent, collector and query services. While doing so, I was using the `"cmd": "/go/bin/<service>-jaeger --additional-arguments..."`. However, as documented here: https://mesosphere.github.io/marathon/docs/native-docker.html#command-vs-args, when using `cmd`, Marathon will automatically wrap the command in `/bin/bash -

[2018-02-12 18:57] #695 closed

[2018-02-12 19:04] yurishkuro commented on #695
@radekg is this something that needs to change in Jaeger Dockerfiles, or it was in your own file?

[2018-02-12 19:15] radekg commented on #695
It appears to be happening with Marathon only. As described above, using args instead of a cmd solves the problem. So no need to change anything in existing Dockerfiles.

The dowside is, Marathon does not expand env vars in args. Leaving this here in case anybody hits that in the future.

[2018-02-14 11:05] phal0r commented on #649
@yurishkuro
We will go this road with our centralized logging and are currently drafting an architecture. Based on the ideas you have at the moment, do you think it is necessary to stick to the current log format of a span:
[code]

or would it just be necessary to store the spanId and implement an abstraction layer with a specified interface, which does the transformation. We currently only would

[2018-02-14 15:40] yurishkuro commented on #649
I think logs must store trace ID, not just span ID, because it's quite easy to get clashes in span IDs with the current 64bit length.

The format of the logs storage doesn't matter at all, it's the function of the adapter to understand the format when responding to the "log query" service.

Finally, the plan above was only meant to search for logs by trace/span ID, not by keywords. The latter is p

[2018-02-15 12:58] manpreetsingh6 opened #697 "Problem with "/metrics" link on production environment"
Jaeger is deployed using the production template at https://github.com/jaegertracing/jaeger-kubernetes

If I open jAEGER UI with metrics "http://JAEGERUIDNS/metric" link it shows logs in zip format and file started downloading which Prometheus could not read. Any help with Prometheus integration for Jaeger metrics would be appreciated.

This works well with Jaeger all in one image.

[2018-02-15 14:41] yurishkuro commented on #697
Have you tried simple curl? Zip wouldn't be generated if the client didn't specify it can support it

[2018-02-15 17:45] black-adder opened #698 "Keep count of outstanding open spans"
We have numerous cases where users ask us why they can't see spans being persisted. One big cause is the user closes the tracer before the spans are persisted or they forget to finish the span.

If we keep a simple counter of number of started spans (and decrement per finish), then on tracer.close(), we can emit a log saying that: "N spans were started but not finished()".

Should be relatively ea

[2018-02-15 19:17] LarsMilland opened #699 "Support on collector and query applications for setting Cassandra consistency levels"
We are in the process of setting up failure resilient multi-tenant capable environment on OpenShift with Cassandra as storage backend for Jaeger Tracing components. We are deploying Cassandra in a 2 datacenter setup with 2 nodes of Cassandra in each datacenter. We are fine with traffic in between the Cassandra nodes to travel between the two datacenters and are looking at configuring the consisten

[2018-02-16 03:19] yurishkuro commented on #698
if we do that, it's not that far from actually preemptively flushing the spans that are potentially left unfinished. If we add a flag "in-progress" to the span, and change the merge function on the backend to recognize it, we could be able to support partial spans.

[2018-02-20 08:19] rbtcollins commented on #165
I suspect this is true of the c++ client too since our nginx stack seems to be ignoring the header.

[2018-02-20 11:23] pavolloffay commented on #609
Here is a nice list of alternatives https://github.com/shurcooL/vfsgen#alternatives

I plan to use one for hotrod to fix https://github.com/jaegertracing/jaeger/pull/694#issuecomment-366755805

[2018-02-20 13:27] pavolloffay commented on #204
Partially implemented in https://github.com/jaegertracing/jaeger/pull/694

[2018-02-20 17:30] torhovland opened #703 "Support CORS on Zipkin endpoint"
Hi!

I've instrumented a simple Javascript frontend and a web API backend with Zipkin, and this works. I wanted to use Jaeger as a drop-in replacement for Zipkin on port 9411 by stopping Zipkin and starting Jaeger according to the docs:

[code]

However, now I get the following error in my Javascript app:

[code]

Here's some more details about the failing request:

[code]

I have verified that Ja

[2018-02-20 20:32] vprithvi opened #704 "Cassandra's dbmodel's Span.SpanHash depends on data that isn't in dbmodel"
The computation of `Span.SpanHash` defined in `/cassandra/spanstore/dbmodel/model.go` depends on a field (`Warnings`) which isn't in dbmodel's Span.

https://github.com/jaegertracing/jaeger/blob/a631623e52a376b98cf102c423ecd9b6fc81fdf4/plugin/storage/cassandra/spanstore/dbmodel/model.go#L41

We compute the SpanHash by using the common model as seen here:

https://github.com/jaegertracing/jaeger/bl

[2018-02-20 20:39] vprithvi opened #705 "Span.Warnings not stored in Cassandra"
The `model Span.Warnings` field isn't stored in Cassandra.

https://github.com/jaegertracing/jaeger/blob/fcbd21078ab7ed03682964c187452778242d3423/model/span.go#L59

Cassandra schema for reference:
https://github.com/jaegertracing/jaeger/blob/ec6378a7a5094ff3019c506163108da29f3f2f99/plugin/storage/cassandra/schema/v001.cql.tmpl#L54-L68

The warnings field contains details on any conversion failures

[2018-02-20 20:39] vprithvi commented on #704
Related #705

[2018-02-20 21:07] yurishkuro opened #706 "Define canonical JSON model"
In order to support tracing from web clients we need to be able to accept traces in JSON format, since it's preferable over including thrift dependency into web apps. Currently we have a JSON model used by the UI, and a direct JSON serialization from the domain model using Go's `encoding/json`. We need to pick an official format, then create an endpoint to accept spans in that format.

cc @tiffon

[2018-02-20 21:11] yurishkuro commented on #703
I would guess that the error happens in the web app itself because it's trying to talk to a different address vs where it was loaded from. When you said "this works" did you mean you are able to submit spans to Zipkin backend but not to Jaeger backend? Any chance you can share the code with which we can reproduce?

cc @tiffon

[2018-02-21 07:24] torhovland commented on #703
Yes, all of the above is correct. Attached is a small frontend app that demonstrates the issue.

[code]

Then browse to http://localhost:8080. The "app" simply says Hello, but if you open the browser dev tools, you will see that it also immediately tries to do a traced call to a backend. I've not included the backend code, but it shouldn't matter. You should still see the CORS issue when trying to

[2018-02-21 11:29] pavolloffay opened #707 "Refactor travis.yml"
I have a couple of problems with current CI configuration:
* locally it's hard to execute all jobs e.g. `ALL_IN_ONE` which calls script in travis dir. There should be make target to easily test this locally
* deploy phase is embedded into individual jobs - e.g. `ALL_IN_ONE` is deployed on docker hub individually not with all other images. It can happen that `ALL_IN_ONE` passes but other jobs fail.

[2018-02-21 13:29] golonzovsky commented on #634
can be closed, as it was fixed with https://github.com/jaegertracing/jaeger-ui/issues/167

[2018-02-21 14:44] #634 closed

[2018-02-21 16:21] #699 closed

[2018-02-21 20:46] grounded042 commented on #578
@yurishkuro I've got a library we are working on that supports Jaeger. Still in early development, but coming along well: https://github.com/Chatham/LetsTrace

[2018-02-21 21:22] yurishkuro commented on #578
@grounded042 great! Are you basing it on the work already done by @gideonkorir ?

[2018-02-21 21:22] yurishkuro commented on #578
@gideonkorir could you elaborate on the thrift issues, and how they are addressed in Zipkin (which also uses thrift, typically)?

[2018-02-22 01:01] yurishkuro commented on #706
It seems we use the same JSON format for ElasticSearch as for the UI, so it's certainly a good candidate to be the official format.

https://github.com/jaegertracing/jaeger/blob/master/model/converter/json/fixtures/es_01.json
https://github.com/jaegertracing/jaeger/blob/master/model/converter/json/fixtures/ui_01.json
https://github.com/jaegertracing/jaeger/blob/master/model/json/fixture.json

[2018-02-22 02:50] yurishkuro commented on #706
Well, Batch is meant for comms between clients and the agent/collector, because it extracts the Process to a separate place since all spans from the client will have the same Process (although this has been challenged in other requests when people want to generate spans on behalf of many services, e.g. by processing logs). The unit we use to communicate with the UI is Trace, which has different se

[2018-02-22 13:11] grounded042 commented on #578
@yurishkuro I took inspiration from the work @gideonkorir had done as well as the Java and Go Jaeger clients. Not fully featured yet as it's pretty basic - but we're working on sampling right now and making sure it comes up to speed with other clients.

Also, I think I might have run into the same issues that @gideonkorir did with Thrift. The main problem is finding a NuGet package with the offici

[2018-02-22 16:30] golonzovsky opened #709 "ES: Query with duration limits return results out of range"
I'm using both `minDuration` and `maxDuration` and still getting results which are way over this limits and makes plot not so usable.

[code]

![screenshot from 2018-02-22 17-29-13](https://user-images.githubusercontent.com/2477950/36550602-f4c1c05a-17f5-11e8-992d-f82d7fda5123.png)

The issue is that resulting ES query searches for spans within that timeframe, and outlier traces does have smaller

[2018-02-25 06:45] yurishkuro opened #713 "Refactor Process deduping in the ui converter"
The converter currently relies on the caller to ensure that the tags in the Process objects are in the same order, otherwise it won't dedupe them correctly. In many cases the data is passed that violates that assumption (e.g. Cassandra storage creates Process with `&model.Process{}` instead of `model.NewProcess()`. It would be better if ui converter did not depend on the behavior of other componen

[2018-02-25 13:26] robdefeo commented on #197
Has there been a recent update on this I see that the PR has stalled?

[2018-02-26 10:15] de-robat commented on #698
for reference, supporting "partial spans" is an ongoing discussion at the jaeger-client over here [https://github.com/jaegertracing/jaeger-client-java/issues/231#issuecomment-367031420](https://github.com/jaegertracing/jaeger-client-java/issues/231#issuecomment-367031420)

[2018-02-27 13:32] 1046102779 opened #714 "many github projects already updated, and this demo can't compile pass"
chendonghai@cloud06-freego-work-00:~/godev/src/github.com/jaegertracing/jaeger/examples/hotrod$ go run main.go all        [44/488]
# github.com/uber/jaeger-lib/metrics/prometheus
../../../../uber/jaeger-lib/metrics/prometheus/factory.go:143:12: cannot use hv.WithLabelValues(f.tagsAsLabelValues(labelNames, ta
gs)...) (type prometheus.Observer) as type prometheus.Histogram in field value:
        pr

[2018-02-27 13:35] 1046102779 commented on #714
so i hope that jaeger uses  vendor mechanism to solve the problem

[2018-02-27 14:15] black-adder commented on #714
We use glide to manage dependencies, what commands did you run install dependencies and run the demo?

[2018-02-27 15:46] 1046102779 commented on #714
tomorrow let me verify it again.

[2018-02-27 19:05] tiffon commented on #706
Looks like protobuf is feasible in the browser.

This lib looks mature: https://github.com/dcodeIO/protobuf.js

Node benchmarks where it apparently crushes the goog implementation: https://github.com/dcodeIO/protobuf.js#performance

And, a blog post vs JSON in the browser: https://auth0.com/blog/beating-json-performance-with-protobuf/

Aligning the browser-client payload schema with the data sent

[2018-02-28 13:12] grounded042 commented on #578
We broke out the Jaeger portion into https://github.com/Chatham/LetsTrace.Jaeger. It's a separate package that you pull into your project along with LetsTrace in order to work with Jaeger. We're working on documentation for it now along with getting it ready for production usage.

[2018-02-28 16:59] The-Cloud-Source opened #716 "regression - Panic on jaeger-query 1.2.0 startup using expvar metrics and cassandra - worked in 1.1.0"
Since 1.2.0 query won't start if using expvar backend, it panics with:
[code]

config file used cfg.json
[code]

panic goes if not using expvar metrics

[2018-02-28 17:08] pavolloffay opened #717 "Jaeger lightning talks on KubeCon + CloudNativeCon Europe 2018"
## Jaeger lightning talks on KubeCon + CloudNativeCon Europe 2018

We are looking for short ~5min lightning talks on how you are using Jaeger in your organization. If you are attending it's a great opportunity to meet and share your experience with Jaeger.

At Kubecon there will be two Jaeger sessions: [Project Intro][1] and [Deep Dive][2]. The lightning talks will be probably presented during the

[2018-02-28 17:42] yurishkuro commented on #716
We should use a tag with storage name, like `cassandra` vs. `cassandra-archive`.

Are you sure you're getting this with this exact config? It's not even valid JSON according to the parser (the trailing comma in cassandra-archive), and with archive disabled there same metric shouldn't be instantiated twice.

It's also strange if prometheus would work, because it has similar restrictions on same nam

[2018-02-28 18:14] yurishkuro opened #719 "Flaky test TestTBufferedServer/processed"
[code]

[2018-02-28 20:19] #661 closed

[2018-02-28 20:55] The-Cloud-Source commented on #716
Fixed the silly trailing comma on the config.
I've tried with cassandra-archive.enabled: true and cassandra-archive.enabled: false the comma was a leftover of trying true and populating other keys.
also the config was redacted (changed hostnames) for privacy reasons

[2018-03-01 07:55] manpreetsingh6 commented on #697
@yurishkuro Thanks for your response.

But the problem is when I am using All-IN-ONE image and using integrating "JAEGERUI/metric"  with Prometheus I can see Jaeger metrics in Prometheus. As I explained if I am using production template and integrating "JAEGERUI/metric" with the same Prometheus I can't find the metrics.

If you could explain if I need to make any changes at Prometheus level, would

[2018-03-01 14:32] mabn opened #722 "Clock skew adjuster and spans from web/mobile"
Spans captured on the web/mobile do not have accurate start times as those devices are not synchronized with the server clocks.
Because of this I use timestamp of the moment they are received by the backend.
It's still wrong because:
1) they are received after they finish so the start timestamp larger than it should be by at least: span duration + network latency (assuming synchronized blocks betw

[2018-03-01 17:48] yurishkuro commented on #697
I was able to reproduce, will take a look.

Which metrics are you specifically interested in from the Query/UI service?

[2018-03-02 04:28] yurishkuro opened #723 "[tracking issue] Ability to trace web apps"
Currently Jaeger does not directly support starting traces from the web browsers, although it is theoretically possible by using zipkin-js client (however it would force the rest of the services into zipkin's B3 headers).

The following is required:

* [ ] Jaeger client for Javascript (https://github.com/jaegertracing/jaeger-client-javascript/issues/1)
* [ ] Define canonical JSON model #706 (depen

[2018-03-02 20:06] yurishkuro commented on #622
@black-adder could it be the timezone issue? The ticket was booked Dec 26, 2017, so I assume the script was run on the same date, so it looks strange that it removed these indices:
[code]

[2018-03-02 20:11] black-adder commented on #622
ill try to reproduce

[2018-03-03 03:18] yurishkuro commented on #697
Now that I added this fix #724, I am thinking that it may not be such a good thing. According to this issue https://github.com/prometheus/prometheus/issues/2788, it's normal and expected that the `/metrics` endpoint returns text+gzip.

[2018-03-03 03:28] Falco20019 commented on #673
Would love to see that happen. Took me a couple of hours to generate jaeger-idl for .NET Core since the code generator for 0.9.3 does not include .NET Core but the NuGET packages are all 0.9.3 newest... finally found a working package on GitHub (not NuGET...)

gRPC would have been a lot easier, and I already have the runtime included. Would allow me to remove thrift runtime.

[2018-03-03 03:33] Falco20019 commented on #578
I just finished a complete port of the Java code to .NET Core 2.0. I just want to cleanup a bit before putting it on GitHub. Also ported jaeger-client-java to C# and opentracing-grpc :)

[2018-03-05 09:55] gideonkorir commented on #578
@yurishkuro I ran into the following problems with Thrift:

1. There is no official thrift package that supports .net core (Support for net core was important for us).
2. I needed a custom version of the thrift compiler (remember [this](https://github.com/jaegertracing/jaeger-idl/pull/33))
3. At the time, I had sporadic failures in the cross tests but I didn't know how to troubleshoot them.

I hav

[2018-03-05 10:08] luigiberrettini commented on #578
I am really interested in a client for .NET core 2.x

@Falco20019 do you have a repo with that porting?

@yurishkuro will the final version be a repo is the jaegertracing org mainained by the original author?

[2018-03-05 12:41] grounded042 commented on #578
@luigiberrettini LetsTrace uses .Net Standard 2.0 so that would work for you.

[2018-03-05 14:45] Falco20019 commented on #578
@luigiberrettini The latest Thrift compiler has .NET Standard 2.0 support and this is what LetsTrace and my Port are using. Depending on what you need, LetsTrace seems to be a lightweight port. If you need the whole jaeger client, I should have my library cleaned up the next 1-2 days. Since I built it from the latest IDL, your pull request is also in there.

[2018-03-05 15:19] yurishkuro commented on #578
@luigiberrettini we would like to have an official Jaeger client under jaegertracing org.

[2018-03-05 15:44] grounded042 commented on #578
@Falco20019 yup, still working through some things, but if your port does what we need might drop it for yours. I'm interested to see how you solved the Thrift issues. Did you have to pull in and build the Thrift project for netcore?

[2018-03-05 16:30] Falco20019 commented on #578
@grounded042 yes, also had to build and include the thrift project since they still don’t offer a NuGET package...

[2018-03-05 17:31] luigiberrettini commented on #578
Maybe you could open an issue on the thrift project to ask them publish a NuGet package

[2018-03-06 01:10] Falco20019 commented on #578
I just did an initial push. Only sampler right now is ConstSampler (for testing) and Metrics are still missing sampling and baggage stats. All senders and all reporters are otherwise implemented. You can have a look at https://github.com/Falco20019/jaeger-client-csharp/tree/dev

[2018-03-06 02:25] yurishkuro commented on #722
There may be a bug in the clock skew adjustment algorithm. While it does center child span if the parent span's timing is way off, it's not supposed to center *everything*, i.e. if most server side spans have reasonable relative timestamps their relative positions should be sensible.

It would be helpful if you could post a JSON of the trace that gets centered incorrectly. Unfortunately, we don't

[2018-03-06 02:32] yurishkuro commented on #578
@Falco20019 I'm looking forward to reviewing.

One question - what it the purpose of `jaeger-client-csharp/JaegerClientCsharp/Thrift/`? Did you decide to vendor Thrift code?

[2018-03-06 04:01] Falco20019 commented on #578
@yurishkuro Right now there is no other way to use thrift in .NET Core than to include the library in your project. No NuGET package available and also no option in the official repository to request one since issues are disabled. I will look into making the complete namespace internal to avoid collisions with others. Or into loading it into a NuGET package myself, but then there would be just ano

[2018-03-06 06:10] zsojma opened #727 "Services combobox formatting"
Hello, we just started using Jaeger in our infrastructure and it is really great tool! Thanks! ;)

We are using it together with Linkerd and unfortunatelly, the Linkerd logs names of services in really complex format like the following:

`%/io.l5d.k8s.daemonset/l5d-system/http-incoming/l5d/#/io.l5d.k8s.http/k2-development/http/rightsmanagement`

Which causes an issue in services listing where it i

[2018-03-06 12:55] grounded042 commented on #578
@Falco20019 you might be interested in what we do in [LetsTrace.Jaeger](https://github.com/Chatham/LetsTrace.Jaeger). Since Nuget packages like to have only one dll in them we ended up bin packing Thrift and Jaeger.Thrift into the LetsTrace.Jaeger dll. We also internalized both of them so there are no collisions.

[2018-03-06 12:59] grounded042 commented on #578
Also, @Falco20019 any plan for unit tests in there?

[2018-03-06 13:31] yurishkuro commented on #727
maybe this should be addressed in linkerd instead? It looks like instead of service name it gives unique instance name.

[2018-03-06 15:05] Falco20019 commented on #578
@grounded042 I have seen that you used ILRepack to bundle it. This solves the collision issue, but I still don’t like it as solution because if someone wants to use thrift, they would have to include the Lib a second time themselves. That’s why I am looking to get it packaged into a separate NuGET package.

Unit tests will come once I finished porting, so maybe today or tomorrow. Before moving it

[2018-03-06 15:36] grounded042 commented on #578
It might be better to combine forces on this stuff. Seems like we have 3 different repos and time might be better spent all working on one.

Obviously I like the way LetsTrace is going and we're building out something that more so works with multiple tracers, but we were planning on making LetsTrace.Jaeger a fully featured Jaeger client.

However, if @Falco20019 is in this for the long run for Jae

[2018-03-06 17:11] #716 closed

[2018-03-06 21:51] vprithvi opened #729 "Add the ability to store/retrieve partial spans"
For the first version of this feature, we shall assume the following
-  clients can flush and report partial spans; but not span deltas
-  `duration` is monotonically increasing
-  the final span has the longest duration

For e.g., a client can do the following
**time = 1s**
`Report Span[traceID=1, spanID=2, duration=10s, operationName="someOperation"]`

**time = 2s**
`Report Span[traceID=1, spanI

[2018-03-06 22:11] yurishkuro commented on #729
I am not sure why we need phase 1-2 approach and restrictions. Could we not just merge all spans into one? Rules would be:
  * tags and lots are merged as sets
  * operationName and flags are taken from span with largest duration
  * start time is the earliest of all
  * duration can be either the largest or calculated from the latest `endTime(i)=startTime(i)+duration(i)`

I don't think lineage is

[2018-03-06 22:16] vprithvi commented on #729
We don't really, if we agree on the merge rules, it may be simpler to implement the rules in one go.

We might still need the restriction that the final span has the longest duration, (or some other method of denoting the last span sent by a client for a specific span id)

[2018-03-06 23:05] Falco20019 commented on #578
@grounded042 I only had a peak at https://github.com/Chatham/LetsTrace.Jaeger and not at https://github.com/Chatham/LetsTrace so I totally missed that you also already have most of the stuff ported. I totally mistook that you only focused on the communication part, why I called it lightweight before. Sorry for that! I will have a look on what's missing and will see if it's possible to combine our