[2020-08-25 11:26] joe-elliott commented on #2301
Ok, that's what I was seeing.  Just wanted to make sure this wasn't an otel change only for some reason.

[2020-08-25 15:12] asuffield commented on #1952
I will just note that this is now failing again, the travis builds are reporting:
[code]

[2020-08-26 01:05] BernardTolosajr commented on #2410
Im not sure if we can use the [connectivity semantics for gRPC](https://github.com/grpc/grpc/blob/master/doc/connectivity-semantics-and-api.md) for this.

[2020-08-26 07:45] jpkrohling commented on #2410
From your link, it makes me believe that we could use [`GetState()`](https://godoc.org/google.golang.org/grpc#ClientConn.GetState) or [`WaitForStateChange()`](https://godoc.org/google.golang.org/grpc#ClientConn.WaitForStateChange)?

[2020-08-26 08:54] varunpurohit76 commented on #2410
Hi guys! can i pick this up?

[2020-08-26 08:59] BernardTolosajr commented on #2410
Yes, we can use the GetState to get the current status and WaitForStateChange for status changes.

[2020-08-26 09:10] jpkrohling commented on #2410
Would you be able to send a PR with your proposal? It's easier to test it like that ;-)

[2020-08-26 09:16] BernardTolosajr commented on #2410
Sure, let me PR my proposal. thank you ;-)

[2020-08-26 10:08] Azim-Palmer opened #2420 "Jaeger UI is slowly losing operations that are still available via the API"
**Describe the bug**
I have Jaeger hooked up to Elasticsearch and have it running for over a month. Over time my operations count via the jaeger ui went up to 52, however after about a week I noticed it dropped down to 32 and a day later has risen to 46.

**To Reproduce**
Steps to reproduce the behavior:
1. Have Jaeger hooked up to Elasticsearch for over a month
2. Create a number of different spa

[2020-08-26 11:01] levonet commented on #1438
It seems that all the necessary changes have been made in the latest versions of ClickHouse.
@bobrik Are you still working on the plugin?

[2020-08-26 11:26] jpkrohling commented on #1952
Fixed by #2419.

[2020-08-26 11:26] #1952 closed

[2020-08-26 11:53] jpkrohling commented on #2420
This sounds like a problem in the ES backend, not UI.

[2020-08-26 13:36] Azim-Palmer commented on #2420
@jpkrohling How would I go about confirming that?

I've "Checked the Elasticsearch index and all the historical operations are there (and there's 100 of them)" - to elaborate I created an index patten on "jaeger-service-*" and it's returning everything that I'm expecting to see.

I don't believe I've changed anything significant on the Elastic side, the instance is literally just for Jaeger.

[2020-08-26 15:17] MartijnZuijd commented on #211
is the effort to come to a single solution/combined effort still ongoing?

[2020-08-26 17:42] #2398 closed

[2020-08-26 18:48] andypost commented on #211
Expect it more tricky now in a light of coming PHP 8.0

[2020-08-26 18:55] zzarbi commented on #211
I think you would have better luck overthere https://github.com/open-telemetry/opentelemetry-php

[2020-08-26 23:31] yurishkuro opened #2422 "Use bot account to publish Docker images"
@jpkrohling I noticed that since 1.19 the images are published "by you" on Docker Hub, which is a dubious improvement over previous state where they from Won's account.

What do we need to do to use the `jaegertracingbot` account?

![image](https://user-images.githubusercontent.com/3523016/91366693-72990200-e7d2-11ea-9978-03eab1da89c3.png)

[2020-08-26 23:35] yurishkuro commented on #2422
Maybe it's these settings in Travis. If so, I can update them to the bot account.

![image](https://user-images.githubusercontent.com/3523016/91366930-1682ad80-e7d3-11ea-84f2-d131e39062e3.png)

Regarding the "all branches" setting - couldn't someone just open a PR with an echo statement and steal the pwd?

[2020-08-27 07:45] jpkrohling commented on #211
I for one encourage you all to collaborate on OpenTelemetry's client!

[2020-08-27 07:55] jpkrohling commented on #2422
Yes, sorry, the problem with #1952 was likely that the account it used had expired credentials or not sufficient rights. I removed the credentials from `.travis.yaml`, as it's far easier to just replace the env vars in the job setting than to commit a new version of the file. The next step is indeed to replace the credentials in the settings to use the bot's account. Do you have access to those cr

[2020-08-27 07:57] jpkrohling commented on #2420
Sorry, I meant the ES-specific part of the Jaeger backend. Likely around here:

https://github.com/jaegertracing/jaeger/blob/66d0d20b98126c59ce687f4d6ccfe7c28e0fc4f1/plugin/storage/es/spanstore/reader.go#L247-L270

[2020-08-27 13:00] lvyishan commented on #2127
I also encountered the same error, did you solve it? how did it solve it
Look forward to your reply

[2020-08-27 15:55] yurishkuro commented on #2422
But the password would be set in the central Travis job, nothing from the fork. Still feels like a security gap, even if travis obfuscates stdout - there are other ways to grab the value, e.g. by sending it to some website via POST request.

[2020-08-27 15:58] yurishkuro commented on #2422
I updated job settings to use jaeger bot credentials.

[2020-08-27 16:45] yurishkuro commented on #2422
Fixed

![image](https://user-images.githubusercontent.com/3523016/91470802-2cd84a00-e863-11ea-876b-876231489bec.png)

[2020-08-27 16:45] #2422 closed

[2020-08-27 18:29] bobrik commented on #1438
Yes and no. The code is pretty solid and it's been running on a single node Clickhouse for the last month, but I'm waiting on an internal Cluster provisioning to finish to test it more broadly with real humans making queries. My plan is to add more tests and make a PR upstream after that.

The latest code here:

* https://github.com/bobrik/jaeger/tree/ivan/clickhouse/plugin/storage/clickhouse

[2020-08-27 18:46] jpkrohling commented on #2422
Well, sure, if we merge such code. But the same would happen with the password set in `.travis.yaml`. We just need to be careful not to merge PRs that would leak the credentials ;-)

[2020-08-27 18:58] yurishkuro commented on #2422
I wasn't referring to merged PRs, but to new PRs that run CI. People are free to change anything in those PRs, including any steps in `.travis.yaml`.

[2020-08-27 21:48] bzon commented on #1438
@bobrik Impressive. I can test this on my clickhouse cluster. A few question:

* How is the performance compared to previous backend solutions you tried?
* How to configure the jaeger collector to use clickhouse?
* Will jaeger collector create the tables?

[2020-08-28 02:09] nvx commented on #1459
Just in case it's not apparent to someone searching (like me earlier), PR #2119 added the ability to set --query.max-clock-skew-adjustment=0s which has the effect of disabling adjustments.

[2020-08-28 07:47] jpkrohling commented on #2422
New PRs don't run in the context of the main repository. PRs run in the context of the PR owner's fork. Let me scratch a test PR to demonstrate :)

[2020-08-28 08:07] jpkrohling commented on #2422
https://travis-ci.org/github/jaegertracing/jaeger/builds/721942147

Doc about this: https://docs.travis-ci.com/user/pull-requests/#pull-requests-and-security-restrictions

[2020-08-28 11:30] albertteoh opened #2428 "TLS config tests are flaky"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `go clean -testcache`
2. `go test github.com/jaegertracing/jaeger/pkg/config/tlscfg`
3. Able to reproduce the failed tests quite reliably, often on the first pass.

**Expected behavior**
Tests to pass.

**Screenshots**

**Version (please complete the following information):**
 - OS: MacOS
 - Jaeger version: master
 -

[2020-08-28 12:52] pavolloffay commented on #2428
@albertteoh would you like to submit a PR to fix it?

[2020-08-28 14:34] #2428 closed

[2020-08-28 15:46] yurishkuro commented on #2422
+1

[2020-08-29 06:17] miyakz1192 commented on #2359
Thank you for your response.
I try to re-install ubuntu as 20.04LTS and ran minikube with your instruction.

I didn't encounter odd symptoms.

[code]
I think my environment had something wrong with KVM/qemu.
After re-install it seems to everything fine.

[2020-08-29 11:12] yurishkuro opened #2432 "Improve FOSSA integration"
Related to FOSSA scanning introduced in #2347

* [ ] make the check go red when license violations are discovered
* [ ] make the scan report easily accessible, e.g. by clicking on the Details next to the check, and/or posting a summary as a PR comment

[2020-08-29 11:21] yurishkuro commented on #2359
Feel free to reopen if needed.

[2020-08-29 11:21] #2359 closed

[2020-08-29 13:25] joe-elliott commented on #2301
@pavolloffay this was fixed in #2417.  I mentioned the wrong # in the PR.  Apologies for the mixup.

[2020-08-29 15:42] Stono opened #2433 "Collector memory jump due to resize and OOM since 1.19.2"
**Describe the bug**
Hey,
We had been running Jaeger `1.18.0` in production since it was released (any many versions before that), and never had a pod restart.  Yesterday we upgraded to `1.19.2` and since then we've had three collector instances killed by kubernetes OOM killer.  Nothing has changed at all about our spans, or configuration, so feels like there's a regression here.

We run our colle

[2020-08-29 18:18] joe-elliott commented on #2433
I just upgraded to 1.19.2 and will report back if I see anything similar.  Out of curiosity were you seeing the `Resizing the internal span queue` message before the upgrade? or are the memory spikes and the log message both new behavior?

I did a quick scan of our logs and this message has not been logged for us in the past 30 days.

[2020-08-29 18:38] Stono commented on #2433
Frustratingly I wasn’t scraping the logs to ES so they’re long gone.

I do have metric data though and the spike shown above in queue length never happened before

[2020-08-29 19:00] bobrik commented on #1438
First, here's how stock Elasticsearch backend compares to our modified one (2x replication in both cases):

[code]

We don't use nested docs and sort the index, which:

* Removes an issue when shards run out of docs (2147483519 is the limit)
* Disk space usage is 2x more efficient, 312 bytes per span
* Index memory usage is down from almost 17.3GiB to just 0.2GiB
* Bitset memory usage is down from

[2020-08-29 21:29] joe-elliott commented on #2433
Oh, this message is only logged if you have the dynamic queue size option enabled (which we do not).  That explains why I've never seen it.  Turning it on now.

[2020-08-31 00:17] yurishkuro opened #2435 "Go 1.15 compatiblity"
**Describe the bug**

Even after a couple of fixes (#2401, #2429), there are more issues related to compatibility with Go 1.15

**To Reproduce**
Steps to reproduce the behavior:
1. `brew install go@1.15`
2. `make test`

**Expected behavior**
All tests pass

**Screenshots**
These tests fail, possibly more:
[code]

cc @albertteoh

[2020-08-31 07:14] bhiravabhatla commented on #1242
@pavolloffay  - I have been trying to use ILM to manage the jaeger rollovers and deletion - Instead of having a cron job hitting rollover api to manually perform rollover - as specified in this blog (https://medium.com/jaegertracing/using-elasticsearch-rollover-to-manage-indices-8b3d0c77915d).

To achieve the same,  I am creating override index templates (for span and service) before running the i

[2020-08-31 07:17] pavolloffay commented on #2301
Done in https://github.com/jaegertracing/jaeger/pull/2417

[2020-08-31 07:17] #2301 closed

[2020-08-31 07:21] bhiravabhatla commented on #2048
I tried implementing ILM to manage jaeger indices - my findings in comment below.

https://github.com/jaegertracing/jaeger/issues/1242#issuecomment-683607859

[2020-08-31 07:24] pavolloffay commented on #1242
What component is causing the issue?

IIRC it was done for ES5. The ES5 does not support `is_write_index` property.

[2020-08-31 07:27] Stono commented on #2433
We're seeing this about 4 or 5 times a day, we're going to roll the collector back to `1.18.0` and see how we get on.

[2020-08-31 07:48] bhiravabhatla commented on #1242
@pavolloffay  - Thanks for reverting quickly. As we dont associate is_write_index to initial index. After first rollover, span-0001 is removed from jaeger-span-write alias (which is ilm_rollover_alias). When ilm polls the span-0001 index for further lifecycle events it complains:

`{\"type\":\"illegal_argument_exception\",\"reason\":\"index.lifecycle.rollover_alias [jaeger-span-write] does not poi

[2020-08-31 07:53] pavolloffay commented on #1242
thanks @bhiravabhatla. It would be great to put a guide/docs or blog post on this topic if you are interested.

[2020-08-31 07:54] jpkrohling commented on #2433
That's correct. IIRC, a temporary spike in memory is kinda expected, but it should normalize once the resize operation is done. I think I might explain what's going on here.

You've said that you want a dynamic queue size, using 80MiB of memory (`COLLECTOR_QUEUE_SIZE_MEMORY`). You've also set the `requests` for the pod to be `80MiB`, and the `limit` to 160MiB. Ideally, you should have `requests` t

[2020-08-31 07:57] bhiravabhatla commented on #1242
Will do @pavolloffay, will do.

[2020-08-31 07:57] Stono commented on #2433
Hey,
What you have said makes sense, thanks for the reply.  I’m hesitant to make any adjustments just yet because we’ve been stable with this configuration for over a year.

As for the memory being free’d - I dont think we will are a drop off, as I don’t believe once it’s been allocated it is released back to the OS, only to the process as free (but allocated) memory.

[2020-08-31 08:01] jpkrohling commented on #2433
I had a [similar memory problem](https://issues.redhat.com/browse/TRACING-1071) somewhere else, and the OS indeed has problems in seeing the released memory back. If you can, try setting the following env var, to see if it helps: `GODEBUG=madvdontneed=1`

[2020-08-31 11:18] idvoretskyi commented on #2432
@yurishkuro happy to address this:

It's so easy as adding an extra line to the configuration - https://github.com/jaegertracing/jaeger/pull/2347/commits/f136083f1b66b8efe4176de0733ec96fd348212d#diff-3e1f48f43ea04daf7c61b8915f2d1d94R28, but as we've discovered recently - FOSSA scan can take a huge amount of time and fail for some reason. Also, it may happen that FOSSA scan can find some licensing

[2020-08-31 12:26] bhiravabhatla commented on #1242
Hi @pavolloffay - Was able to implement the same, made few tweaks to esRollover.py. Pushed the updated image here - bhiravabhatla/jaeger-es-rollover-init. Have tested it with example application, I could see that Jaeger is able to read from read-alias and ILM is able to rollover and delete indices as specified in config.

Note - Have not tested for archive indices.

Summary:
To use ILM for managin

[2020-08-31 12:47] albertteoh opened #2437 "ES: Configurable query result sizes"
## Requirement - what kind of business use case are you trying to solve?

We limit the number of results returned from Elasticsearch (ES) from user queries to prevent large queries from negatively impacting the ES cluster. With ES as our Jaeger backing store, we also need to ensure jaeger-query -> ES requests abide by these limits, ideally as a configurable parameter.

## Problem - what in Jaeger

[2020-08-31 12:54] albertteoh commented on #2435
Just some additional info:
- This is caused by Go 1.15 dropping support for verifying hostname/IP address in the Common Name field of a certificate.
- `GODEBUG=x509ignoreCN=0 make test` should get the tests passing locally in the meantime.
- More details found here: https://github.com/golang/go/issues/39568#issuecomment-671424481

[2020-08-31 13:42] pavolloffay commented on #2437
The flag

[code]

seems very similar to the proposed `--es.doc-count` which limits the number of documents not only spans. To me it makes sense to have a single flag to control the number of fetched documents. Otherwise users can overload the cluster by running other queries.

Can I ask what what value do you want to use to keep the impact of the query on the cluster low?

[2020-08-31 14:01] joe-elliott commented on #2433
So, except for the initial sizing we have not seen a resizing event in our collectors.  Seeing it a few times a day suggests that your average span size is changing quite a bit over the course of the day.  Do the resizing logs reflect that?

Disabling the dynamic queue size feature will also prevent this from occurring.  Unsure if that's an option for you.

[2020-08-31 14:09] #2369 closed

[2020-08-31 14:18] yurishkuro commented on #2435
I don't think GODEBUG is the appropriate path here (it will become unsupported in Go 1.16 again). This https://github.com/golang/go/issues/39568#issuecomment-671424481 has a number of other suggestions on how to fix this. I think we need to regenerate the test certificates as described in step 2 there.

[2020-08-31 14:21] Stono commented on #2433
@joe-elliott we only ever see one resize event on one out of 18 collectors and that one resize event causes it to crash.  We're doing 30k spans per second round-robined so they're all getting their fair distribution of span sizes.  The span sizes don't change throughout the day, they're all generated by istio and contain the same small amount of metadata.

Since downgrading to `1.18.0` i can confi

[2020-08-31 14:40] jpkrohling commented on #2433
Could you confirm that your collectors are indeed receiving the same share of spans from your clients/agents?  Could you check the metric `jaeger_spans_saved_by_svc_total` and plot it in a per-node basis?

The graph seems to indicate that the memory is still around 50Mi. The pod should only be killed once it reaches the limit, which is 160Mi from what I understood.

[2020-08-31 14:42] Stono commented on #2433
My point is that the resize event on 1.19 caused it to hit the limit, on 1.18 it did not

[2020-08-31 14:45] jpkrohling commented on #2433
I understood that, but I believe this is by chance.

[2020-08-31 14:47] Stono commented on #2433
Maybe...
But it’s consistently causing OOMs on 1.19.2 and literally never on 1.18.

Let’s see what happens over the next 24hrs

[2020-08-31 14:48] jpkrohling commented on #2433
@joe-elliott, @Stono do you have a way to measure the regular footprint between those two versions? Perhaps the overall footprint of 1.19.2 is bigger, which makes the limit to be reached?

[2020-08-31 14:51] Stono commented on #2433
Yes that’s what I shared above showing 1.18 sitting about 20% lower (currently) but I’m keen to see if it rises again.

A slightly higher memory footprint would exacerbate the issue during a reside so it makes sense.

[2020-08-31 14:58] joe-elliott commented on #2433
I'm seeing roughly the same `container_memory_working_set_bytes` between 1.18 and 1.19.  I am, however, using Cassandra (Scylla) backend.

[2020-08-31 14:59] Stono commented on #2433
For context I’m using ElasticSearch backed

[2020-08-31 23:55] joe-elliott commented on #2281
After looking into the configuration code some and reviewing the comments, I would propose either allowing configuration through Jaeger config or through the OpenTelemetry Collector config file but not both.

If the OTel config file is not provided then the agent, collector, or ingester just configures itself with a default otel pipeline that most closely mimics the behavior of the traditional Jae

[2020-09-01 00:08] albertteoh commented on #2437
We're limiting ES aggregation queries to 1000 at the moment, but for Jaeger queries, we're considering increasing this to 4000.

Yup, I agree. Although `--es.max-num-spans` parameter could be re-used for the more general case to limit the number of fetched documents, the name implies a more specific use case and I feel, would not be appropriate for the more general use case (could be confusing). C

[2020-09-01 05:43] pavolloffay commented on #2437
Even if use the `--es.max-num-spans` to limit search of other objects strictly speaking it might be a breaking change for somebody. I am wondering if it would impact somebody cc) @jaegertracing/elasticsearch? We have made a similar behavior changes to flags before It might be fine then.

We can introduce a new flag an deprecate the old one after a couple of releases.

[2020-09-01 06:48] bhiravabhatla commented on #1242
@pavolloffay  - Could you please share feedback on above. One thing I could have done was to parameterise jaeger ILM policy names in the templates

[2020-09-01 07:59] pavolloffay commented on #1242
In the jaeger index templates? We should make the ILM work with the upstream Jaeger if possible without requiring users to do changes.

I don't have experience with ILM configuration so I cannot really comment if it's good or not. Perhaps somebody from @jaegertracing/elasticsearch can have a look on the approach mentioned above?

@bhiravabhatla would you be interested documentig this in jaegertrac

[2020-09-01 08:21] bhiravabhatla commented on #1242
I agree we should make this work with upstream Jaegar. The above can be looked as a workaround to use ILM with current jaeger capabilities. In future, I think we can have a flag --use-ILM or something similar and create the index template accordingly from jaeger itself - open to discussions on this.

Sure. I can, let me know the process.

[2020-09-01 09:57] Azim-Palmer opened #2440 "When a trace exists and is older than 3 days, Jaeger can find the trace as part of a bulk search but cannot find the individual trace via the API"
**Describe the bug**
When the trace is older than 2-3 days Jaeger will find traces when you search via the Jaeger UI - when you navigate to the individual trace it successfully loads however if you refresh the page you see this : ![Can't find trace](https://i.imgur.com/Z9KDewi.png)

![Trace in Jaeger](https://i.imgur.com/2wYP6GO.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Log a trac

[2020-09-01 11:52] pavolloffay commented on #1242
Would you be also intereted in submitting a PR to do this?

The docs are hosted here https://github.com/jaegertracing/documentation/blob/master/content/docs/next-release/deployment.md#elasticsearch you can create  a PR against that. The blog is hosted on medium https://medium.com/jaegertracing. If you prefer the blog I can add you to the medium Jaeger org so that you can submit a publication there

[2020-09-01 12:27] bhiravabhatla commented on #1242
@pavolloffay  - I actually have drafted a blog in my medium account. Have not published yet.  My medium account https://medium.com/@bhiravabhatla

[2020-09-01 12:48] bhiravabhatla commented on #1242
Have not used golang before, I am interested - but would need some help. :)

[2020-09-01 13:21] albertteoh commented on #2437
Thanks for the feedback @pavolloffay.

If there are no more objections, I'll go ahead with the following as discussed:
-  Add a new flag `--es.max-doc-count` (to be consistent with both the existing `es.max-num-spans` param and the existing `defaultDocCount` const) which will be used where ES doc limits are required (except where `es.max-num-spans` is used).
- Default it to `10_000`.
- Leave `--es

[2020-09-01 14:03] pavolloffay commented on #1242
np we can help you with golang :). I have sent you an invite on medium to join jaegertracing.

[2020-09-01 15:18] jpkrohling opened #2443 "Bump gRPC dependency to v1.29.x"
**Describe the bug**
The current version of the gRPC client used has a behavior where it won't update the list of hosts if the initial list is empty. See jaegertracing/jaeger-operator#1175, which is likely caused by grpc/grpc-go#3353. Bumping the gRPC dependency to the latest (v1.31.1) makes it work.

**To Reproduce**
Steps to reproduce the behavior:
1. Using the Jaeger Operator, deploy the exampl

[2020-09-01 15:32] bhiravabhatla commented on #1242
Thank you :).

Thank you - I have submitted the draft.

[2020-09-01 16:15] idvoretskyi commented on #2432
@yurishkuro I've noticed that you already have a FOSSA badge in the README, so updated a link here - https://github.com/jaegertracing/jaeger/pull/2446

[2020-09-01 21:35] yurishkuro commented on #854
We need to add FOSSA checks for all other repositories, especially to client libraries. I am going to add links to the main description of this ticket.

@idvoretskyi do we need to do any preliminary setup in FOSSA itself?

[2020-09-01 21:46] idvoretskyi commented on #854
@yurishkuro this was my plan, so no worries, I'll work on it (once we'll agree that the current setup is good for us).

Nothing extra from the FOSSA side.

[2020-09-02 10:10] Hongbo-Miao commented on #2407
Confirmed, test latest images, and works with elasticsearch-oss:7.9.0
Thanks a lot!

[2020-09-02 11:11] pavolloffay commented on #2048
@bhiravabhatla let's move the discusion about ILM here from the link ^^^.

I got a notification about https://github.com/bhiravabhatla/jaeger-index-rollover-with-ilm/commit/a53c4d70ae73f2a2d236be0be5ca908eee2683e2. I glanced on the PR and it seems that there are these changes:
* define ILM policy name in the templates
* suppy ILM policy name in the rollover script
* check if ILM policy exists in t

[2020-09-02 11:28] bhiravabhatla commented on #2048
@pavolloffay  - Yes we can. Actually it was hardcoded before, I got a feedback on my blog on this, and it made sense to i make ILM policy name customizable for now -as  user is responsible to create ILM policy manually now.

When we actually build this capability in jaeger - it could be hardcoded like the read and write alias names. Thoughts?

[2020-09-02 11:29] bhiravabhatla commented on #2048
Or Are you suggesting to move the creation on ILM policy to the script?

[2020-09-02 14:19] pavolloffay commented on #2048
I am suggesting it to hardcode the name. That way we don't have to make changes in rollover scripts and add flag to jaeger.

[2020-09-02 14:21] jpkrohling opened #2449 "Bump gRPC dependency to v1.31.x"
Similar to #2443, we should migrate to newer versions of gRPC/protobuf/... as soon as feasible, otherwise the costs of moving to an even higher version once we *need* is going to be higher than desirable.

This task is to track all that is required to get it working, including the update of the [builder image](https://github.com/jaegertracing/docker-protobuf/).

[2020-09-02 14:24] bhiravabhatla commented on #2048
@pavolloffay  - Makes sense, Agreed. But I guess we still need to have a check in place if the ILM with that name is already created or not. May be we can have this check in jaeger in future.

One more change I did in the scripts was to add is_write_index true while adding write alias to initial/first index. This is still needed.

[2020-09-02 14:34] pavolloffay commented on #2048
Also can a template reference non existing ILM policy?

When is the policy created? If it is created once before the first deployment the check might not be needed users would be responsible for creating it.

[2020-09-02 14:55] bhiravabhatla commented on #2048
Yes, it can. But if the first index is created before creating the Policy (i.e. if init is run before Policy exists). Index would end up referencing an non-existent policy.  User could go back create the ILM later - until ILM is created - no rollover happens obviously.

Ideally it should be created before jaeger is brought up. And yes we can document the same, and leave it to the user to make sure

[2020-09-02 15:17] #2443 closed

[2020-09-02 15:57] vicmania2007 opened #2450 "Collector memory is very high"
**Describe the bug**
A clear and concise description of what the bug is.
We have 3 collectors with 7gb RAM sitting behind an envoy load balancer with equally distributed load. They are constantly going over their capacity even with the same traffic. Prior to bumping up the RAM, we had 6GB RAM with which it was working fine with the same traffic.

Other collector settings.
--collector.queue-size=50

[2020-09-03 00:35] Heraclitus opened #2451 "Certain Jaeger tag searches on badger backed storage result in "No trace results. Try another query." despite the entry existing in badger."
**VERSION**: v1.14.0
**EXPECTATION**: single trace response in UI for tag search `guid:x-request-id=628d36f4-9072-c587-3b00-804c10a63000`
![image](https://user-images.githubusercontent.com/5532892/92048250-12f3a700-ed3c-11ea-8aa4-f9bd1183e9db.png)
**ACTUAL**:  `No trace results. Try another query.`
**SETUP**:

1. To easily get data populated I modified this file `plugin/storage/badger/spanstore/wr

[2020-09-03 02:59] albertteoh commented on #2450
This is usually a symptom of the backing store being a bottleneck, or very large traces (or more generally a large spike in span submissions) caused by incorrect instrumentation being sent to the collector, especially given the span save latencies are maxing out:
- Do you have metrics on the collector's span write rate (spans written per second)?
- Did tuning Elasticsearch result in higher through

[2020-09-03 04:18] zigmund opened #2452 "Memory peaks on agent v1.19.2"
**Describe the bug**
One group of jaeger agents (3 replicas), deployed on kubernetes. Not so loaded system - 500-700 spans per second.
Used v1.13.1 for year without any issues, upgraded all componenet to 1.19.2 (also replaced Tchannel with gRPC) and agent memory usage become unstable. Before upgrade agent instances used as low as 16 mb with 64 limit, but after upgrade memory usage peaks appeared a

[2020-09-03 08:41] jpkrohling commented on #2451
@Heraclitus nice detective work on this one! I'm not quite sure about the fix, as I'd have to dig deeper into the code to better understand it, but perhaps @burmanm still remembers about this and would be interested in taking a look?

[2020-09-03 08:49] jpkrohling commented on #2450
Agree with @albertteoh, looks like your storage is the bottleneck. Looking at your metrics, `save_latency` is the decisive one: the `WriteSpan` operation seems to be taking 10s! And when that gets blocked for so long, everything else starts piling up.

Perhaps @pavolloffay would have some tips about the ES performance, but have you played with the bulk options? Namely, `--es.bulk.actions` and `--e

[2020-09-03 08:52] jpkrohling commented on #2452
When you downgraded to 1.18.1, did you change any other configuration? Would you mind sharing your agent configuration?

[2020-09-03 08:59] burmanm commented on #2451
I can take a look. It shouldn't go to the merge if there's a single index request (there's no results to merge).

[2020-09-03 09:34] zigmund commented on #2452
@jpkrohling the only agent parameter used before and after downgrade is `--reporter.grpc.host-port=jaeger-collector:14250`.

Also played for a while after got first OOMkills with parameters, but reverted changes singe they didn't helped much:
[code]

[2020-09-03 09:54] jpkrohling commented on #2452
I'll take a look at list of commits affecting the agent between 1.18.1 and 1.19.2, perhaps I can spot a suspect there. I'll also try to reproduce the problem here. Do you think it would be reproducible with `minikube` and a simple agent with 64Mi of requests , 256Mi limit? Jaeger's `tracegen` would probably generate enough load ;-)

[2020-09-03 11:41] burmanm commented on #2451
@Heraclitus One thing that I didn't ask is that are you sure you didn't filter by serviceName? Because:

``3. Inspecting the arrays showed that one of the arrays contained my trace.``

If your trace did not match, it should have been in the both arrays. If it's only in the one array, that means one search query never matched your trace. Sadly I can't tell from the screenshots since those parts are

[2020-09-03 11:51] pavolloffay commented on #2450
The ES writer uses async bulk processor that does not block the span writer. Have a look at `bulk_index` metrics that are emitted by the bulk processor. These metrics should tell how long it takes to store a bulk in ES and pass/fail counters.

Re bulk tunning, it might be feasible to get better throughput, the default values used by Jaeger seemed to work well even for higher traffic.

[2020-09-03 11:53] jpkrohling commented on #2452
@zigmund I'll need your help here. I tried to reproduce your problem but didn't succeed. I have a local minikube cluster with 20Gi of memory available, initialized with:

[code]

Using the Jaeger Operator, I provisioned a Jaeger instance with the following spec:

[code]

And here's a trace generator, creating 1 trace per millisecond:

[code]

The agent pod was up for the whole time, and the metric

[2020-09-03 12:38] #2165 closed

[2020-09-03 13:45] pavolloffay commented on #2048
If the template can reference non-existing ILM policy then we should add it to our templates to simplify the configuration. If my understanding is correct users would just then create the policy before app startup and run the rollover (with the change (is_write_index).

[2020-09-03 13:50] pavolloffay commented on #2048
@bhiravabhatla would you be able to create a PR to add ILM policy name to jaeger templates? We could also set the `is_write_index` to true. It might work bc jaeger rollover does not use it.

[2020-09-03 13:55] Heraclitus commented on #2451
@burmanm on your question about serviceName. The "Find Traces" button is grey'd out unless the service drop down is populated and selecting a service is required.
![image](https://user-images.githubusercontent.com/5532892/92124286-71f40300-edb2-11ea-9afb-8951a151c810.png)

[2020-09-03 13:58] bhiravabhatla commented on #2048
This has to be done while we add the first indices span/service (*-000001) to write alias.

https://github.com/bhiravabhatla/jaeger-index-rollover-with-ilm/blob/869c8c257a35d99f18e529c7f9669e7208305d4c/esRollover.py#L125

[2020-09-03 14:00] bhiravabhatla commented on #2048
Makes sense. We should document the name of the ILM somewhere. And we decided it should be "jaeger"? @pavolloffay

[2020-09-03 14:04] Heraclitus commented on #2451
@burmanm here is more of the screenshots, three examples, first without tag search, I am required to select a service to show anything and the second with tag search populated. Third, with service name removed and tags, but "Find Traces" is grey'd out so I can't search. This is still running on my modified version for 1.14.0.

![image](https://user-images.githubusercontent.com/5532892/92124695-f6d

[2020-09-03 14:04] bhiravabhatla commented on #2048
Sure, would raise, once we conclude on above questions, I guess would need to raise a PR for init script as well where we need to add is-write-index setting.

[2020-09-03 15:49] pavolloffay commented on #2048
`jaeger` name for the ILM policy sounds fine to me.  We can also include the `is_write_index` option in the script I think that would not cause any issues.

[2020-09-03 16:23] bhiravabhatla commented on #2048
@pavolloffay  - Let me make those changes and raise a PR.

One more thing is once we have the ILM - dont think we would be needing rollover & cleanup scripts. You want to add a deprecation warning there?

We can also have the initializer as an optional pre-hook in jaeger helm charts - if it isnt already there.

[2020-09-03 18:20] ja8zyjits commented on #695
@radekg did you find any solution for this?
Iam using
`CMD ["/main"]`

It works perfectly in local system, but in dcos it exits with code 0, no error as such.

[2020-09-04 03:16] zigmund commented on #2452
@jpkrohling I'll try to test with git bisect, but it will take some time.

[2020-09-04 07:17] jpkrohling commented on #2451
@Heraclitus The service name is the only required field for the search. Based on the screenshots above, I don't see an evidence of a problem: your second screenshot shows that the filter did work as expected, from what I understand.

[2020-09-04 07:22] zigmund commented on #2452
It's really hard to test `good` steps since it could take from minutes to much more time to catch first oom. But at least already reproduced oom's at the first two steps. At the moment I'm testing the third step for an hour already and I don't know if it is enough to be certain that the step is `good`.

[2020-09-04 08:06] jpkrohling commented on #2452
How fast did you get OOMs for the first two steps? If they are at around 15m, it might be safe to say that a commit is `good` if it's not crashing after 30m.

[2020-09-04 08:11] zigmund commented on #2452
@jpkrohling at the first two steps got first ooms in few minutes.
Got compile error at 4 and 5 steps, testing 6 step at the moment. It seems that https://github.com/jaegertracing/jaeger/commit/be17169a417954a347408708182519e267618500 affected memory usage behavior in out environment.

[2020-09-04 08:15] burmanm commented on #2451
Isn't this test pretty close to what's trying to be achieved here? https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/badger/spanstore/read_write_test.go#L669

If you can replicate the issue by modifying that test, then that would be very helpful. Obviously that wouldn't catch if there's a mistake from some refactoring between UI <-> badger-storage-plugin, but at least it would hel

[2020-09-04 09:05] zigmund commented on #2452
@jpkrohling completed 6 step with hour+ test period.
[code]

[2020-09-04 10:12] jpkrohling commented on #2452
cc @pavolloffay

[2020-09-04 10:55] pavolloffay commented on #2452
Here is the upgrade to thrift 0.13 PR https://github.com/jaegertracing/jaeger/pull/2311.  The upgrade was done due to security issues in the old version and also it was needed in OpenTelemetry collector IIRC.

I am not sure what is causing the regression.

[2020-09-04 14:07] Heraclitus commented on #2451
@jpkrohling those screenshots were taken from my altered version so the search works only because of the changes I made.

[2020-09-04 14:08] Heraclitus commented on #2451
@burmanm I'll give that a try today

[2020-09-04 16:33] vicmania2007 commented on #2450
@pavolloffay when you mentioned "Have a look at bulk_index metrics that are emitted by the bulk processor" , were you mentioning to take a look at the `jaeger_bulk_index_latency_ok_bucket` metric?  Just wanted to clarify before i went ahead and did some additional digging.

[2020-09-04 17:05] pavolloffay commented on #2450
yes, everything that contains `bulk_index`

[2020-09-04 20:56] albertteoh opened #2457 "Remove deprecated `--es.max-num-spans` flag in v1.21.0"
## Requirement - what kind of business use case are you trying to solve?

As a follow-up task to #2437, which deprecated `--es.max-num-spans` in favour of `--es.max-doc-size`, this is a reminder Issue to remove the deprecated `--es.max-num-spans` flag in version 1.21.0, as noted in the [deprecation note on the flag](https://github.com/jaegertracing/jaeger/pull/2453/files/9ebf9d37a2662f12696c4664d0

[2020-09-04 22:08] vicmania2007 commented on #2450
So i did the following.
For tuning at the ES end, i tried to increase indexing speed. I set [refresh_interval](https://www.elastic.co/guide/en/elasticsearch/reference/master/index-modules.html#index-refresh-interval-setting) to -1, which stops the sync and doesnt block indexing at all. Based on [this es doc](https://www.elastic.co/guide/en/elasticsearch/reference/master/tune-for-indexing-speed.htm

[2020-09-05 12:21] Heraclitus commented on #2451
@burmanm my day job interfered yesterday but what I'm first seeing is that my tag level 1.14.0 of that file doesn't have that test, `func TestRandomTraceID(t *testing.T) {`
Since I'm on 1.14.0 I see  https://github.com/jaegertracing/jaeger/blob/v1.14.0/plugin/storage/badger/spanstore/read_write_test.go
However, I'm going to try porting that test from master -> v1.14.0.
Now this could be a fools er

[2020-09-05 12:28] Heraclitus commented on #2451
And, my concern materialized quickly... for file `plugin/storage/badger/spanstore/writer.go`
master `func (w *SpanWriter) WriteSpan(ctx context.Context, span *model.Span) error {`
v1.14.0 `func (w *SpanWriter) WriteSpan(span *model.Span) error {`
https://github.com/jaegertracing/jaeger/blob/v1.14.0/plugin/storage/badger/spanstore/writer.go#L71

[2020-09-05 13:08] Heraclitus commented on #2451
Turned out; not so hard after all. Stash, then sync to release branch `release-1.17` and get sub modules in alignment.

the test in question does in fact exist on that branch and I was able to add the following code
[code]
then to the assertion portion of the test
[code]
and the result is that the unit tests passes.

[2020-09-05 13:21] Heraclitus commented on #2451
The next test was to see if a local running instance from release branch v.1-17 of all_in_one with the obligatory tags added like I did for 1.14.0
[code]

**that ensured that any span write gets the offending tags written.**

**Then use the local UI to browse to find a generated guid**

![image](https://user-images.githubusercontent.com/5532892/92305742-dfcd3580-ef3e-11ea-97cd-aa9d2a6e91de.png)

*

[2020-09-05 13:23] #2437 closed

[2020-09-05 13:47] Heraclitus commented on #2451
k, I stashed again, checked out tag v1.15.0 and was able to use the existing badger state files to see previously populated traces both with and without my obligatory tags and I can confirm that v1.15.0 works without any changes to the source.
[code]

[2020-09-05 14:02] Heraclitus commented on #2451
Yep, I'm good. This was probably fixed in 1.15.0
here is my test loop in essence...
[code]

[2020-09-05 14:02] #2451 closed

[2020-09-05 14:27] fktkrt commented on #1559
My earlier PR was introducing a similar simple docker-compose setup, but with Grafana, Loki and Prometheus involved: https://github.com/jaegertracing/jaeger/pull/2408
I can break these into separate pieces and provide instructions for the deployments.

Not sure if it's a good idea, but would a separate repository for the examples make any sense (easier CI separation), or should we use the examples

[2020-09-05 17:05] burmanm commented on #2451
Good to hear, thanks for the investigation.

[2020-09-07 09:11] jpkrohling commented on #2450
I think you might want to start playing with the idea of using Kafka as a buffer between Jaeger and ES. When you are having 150k spans per/sec, there's only so much you can do to have consistently good performance. Anything the ES cluster ends up doing periodically will affect the collector's write speed, which explains why the save latency hits 10s from time to time.

[2020-09-07 09:25] jpkrohling commented on #2452
@zigmund are you able to get us a memory profile for the running agent? The admin port has `pprof` endpoints, which you can browse like this:

[code]

This will get a web UI on http://localhost:6060 for browsing your agent's memory.

[2020-09-07 13:14] jpkrohling commented on #1778
I could swear we had this fixed already :-) Any volunteers for this one?

[2020-09-07 14:05] ja8zyjits commented on #695
Got the solution, I was trying to use `fmt.Scanln` for deploying a long running go app in marathon. But it somehow exits in Marathon. Follow these solutions in such case, https://stackoverflow.com/questions/9543835/how-best-do-i-keep-a-long-running-go-program-running

[2020-09-07 17:41] zigmund commented on #2452
@jpkrohling I'll try but don't think it will help. Agent allocates large amount of memory and releases it next moment, so I have to catch that moment with profiler(?)

[2020-09-07 23:01] open-richard commented on #2368
Thanks for your reply, @pavolloffay!
Somehow I did not get a notification for your reply, sorry for the extra late response!

[2020-09-08 01:32] lichenglin commented on #2450
why the delay span will fill the memory.Is it should be dropped?

[2020-09-08 01:54] yurishkuro commented on #2450
Delay in writing spans results in more spans stored in the memory queue. Only when the queue size exceeds the limits will the extra spans be dropped.

[2020-09-08 09:05] jpkrohling commented on #2452
That's true. Ideally, you'd capture it every N minutes, so that we'd get at least one profile when the memory is ramping up. There are a few experimental tools that can help with that, but I'm really not sure about their state, like conprof (cc @brancz).

Once we understand better where this memory usage is coming from, we can probably try to reproduce it ourselves, which is the first step to fix

[2020-09-08 09:48] brancz commented on #2452
Conprof is not well optimized itself but used by various organizations so it's definitely worth a try :)

[2020-09-09 06:11] lichenglin opened #2459 "jaeger has a memory leak when use badger"
**Describe the bug**
I'm doing a stress on badger and found that jaeger has a memory leak .

**To Reproduce**
Steps to reproduce the behavior:
1. start jaeger with docker
`docker run --rm   --name jaeger-badger -p 16831:6831/udp   -p 16832:6832/udp   -p 15778:5778   -p 15775:5775 -p 26686:16686 -p 24269:14269 -e SPAN_STORAGE_TYPE=badger -e BADGER_EPHEMERAL=false -e BADGER_DIRECTORY_VALUE=/badger/d

[2020-09-09 07:35] jpkrohling commented on #2459
I investigated a possible memory leak some time ago, and documented my findings here: https://issues.redhat.com/browse/TRACING-1071 . Would you mind going over that and checking if your findings match mine?

[2020-09-09 08:33] zigmund commented on #2452
@jpkrohling lowered replicas to 1 and collected profile every second via forwarded port with curl:
[code]

Raised limit to 2Gb to avoid oom but agent still been killed. :D
But at least I got few identical profiles right before oom. [Here is one of them](https://github.com/jaegertracing/jaeger/files/5193748/1599639303.pb.gz)

[2020-09-09 08:48] jpkrohling commented on #2452
Looks interesting

![image](https://user-images.githubusercontent.com/13387/92576456-d834c600-f289-11ea-9bf0-a15cef8f0b52.png)

I'll try to reproduce it here again. Just to confirm: data is flowing from the agent to the collector, right?

[2020-09-09 08:50] zigmund commented on #2452
@jpkrohling yes, agent sends data to collector.

[2020-09-09 09:20] chgl opened #2460 "Run the jaeger-agent as a non-root user by default"
## Requirement - what kind of business use case are you trying to solve?

I am trying to run the jaeger-agent container in a Kubernetes cluster with strict Pod Security Policies set, which requires all containers to run as non-root users.

## Problem - what in Jaeger blocks you from solving the requirement?

The Jaeger-agent container runs as root by default (https://github.com/jaegertracing/jaege

[2020-09-09 11:53] idvoretskyi commented on #854
@yurishkuro added scans to a couple of repos:

- https://github.com/jaegertracing/jaeger-operator/pull/1188
- https://github.com/jaegertracing/jaeger-client-go/pull/530
- https://github.com/jaegertracing/jaeger-lib/pull/80

[2020-09-09 14:08] jpkrohling commented on #2452
@zigmund it's still quite difficult to tell what's going on. The profile you sent seems to indicate that all memory is being allocated in the `ReadString` from Thrift's Compact protocol, which seems to indicate that you have a span bigger than 930MiB which I doubt is the case, especially because a batch has a max size equal to the limits of a UDP packet, typically 64KiB. Either that, or quite a bu

[2020-09-09 19:40] zigmund commented on #2452
@jpkrohling

 Do you mean profile from `/debug/pprof/goroutine?debug=2`?

Kubernetes

Env vars passed via configmap:
[code]

Single argument: `--reporter.grpc.host-port=jaeger-collector:14250`

golang - https://github.com/jaegertracing/jaeger-client-go
node.js - https://github.com/jaegertracing/jaeger-client-node
php - https://github.com/jukylin/jaeger-php
nginx - https://github.com/opentracing-co

[2020-09-09 20:11] jpkrohling commented on #2452
Yes, please

Would it be possible to have one agent per client type? If we notice that it only happens with spans from one specific client, we might have a lead...

[2020-09-09 21:01] zigmund commented on #2452
I'll try to catch memory eating profile with method I used before.

I don't think it's possible since we're have tens of services pointed to same jaeger agent endpoint. I probably could configure nginx and node.js services by myself... but all other services' are out of my control.

[2020-09-10 01:37] lichenglin commented on #2459
I have checked.It is the same issue.

<img width="366" alt="image" src="https://user-images.githubusercontent.com/8294900/92671436-d7169e00-f348-11ea-9b86-e459171648be.png">

I use linux command and found the jaeger process use about 10g memory.

But when I use pprof. It shows this.

<img width="781" alt="image" src="https://user-images.githubusercontent.com/8294900/92671495-04fbe280-f349-11ea-92f

[2020-09-10 08:41] jpkrohling commented on #2459
A good first step would indeed be to use `GODEBUG=madvdontneed=1`. If you are on a container environment, setting the `limits` and `requests` *should* also help.

[2020-09-10 09:24] jpkrohling commented on #2412
What are the exact commands you are using to start the containers? Are you using docker-compose, or plain docker?

[2020-09-10 09:27] jpkrohling commented on #2399
Would you like to give it a try anyway?

[2020-09-10 09:30] jpkrohling commented on #2368
I'm closing this, as your question has apparently been answered. Feel free to reopen if that's not the case.

[2020-09-10 09:30] #2368 closed

[2020-09-10 09:38] remal commented on #2399
@jpkrohling I'm not a Golang developer, so I'm afraid it would be quote hard for me in terms of building, creating tests and so on. Also, I don't quite understand dependencies and what other parts should be changed too.

[2020-09-10 09:41] jpkrohling commented on #2338
@rjs211 I think you fixed this one already, haven't you?

[2020-09-10 09:47] jpkrohling commented on #2313
What is this `qualitymetrics-v2` endpoint? @yurishkuro would you know about it?

[2020-09-10 09:49] jpkrohling commented on #2304
I don't think any of the maintainers have a Windows machine readily available, so, we rely on help from the wider community to reproduce and fix this.

[2020-09-10 09:50] rjs211 commented on #2338
@jpkrohling Yes. This should be fixed when #2387 is merged.

[2020-09-10 10:04] jpkrohling commented on #2298
Is this about TLS? If you use an Elasticsearch instance without TLS configured, are you able to access it? I just tried it here, and it seems to work for me:

[code]

[2020-09-10 10:21] mohanbabugaddam69 opened #2462 "What is the retention period of logs stored in Jaeger for tracing?"
What is the retention period of logs stored in Jaeger for tracing?

[2020-09-10 10:27] jpkrohling commented on #2260
@yurishkuro, should this be closed then? I don't think it would be that elegant to make the Query to accept a new parameter that determines whether or not to wrap the tags in an array...

[2020-09-10 10:30] #2462 closed

[2020-09-10 10:32] #2178 closed

[2020-09-10 10:35] jpkrohling commented on #2127
Is it happening only after a period of time? Or right away, upon bootstrap? What are the versions of the components involved (Kafka, Jaeger)? Are you able to consistently reproduce it easily? If so, please share the steps so that we can try it out ourselves.

[2020-09-10 10:39] jpkrohling commented on #2091
Would you like to give this a try?

[2020-09-10 10:42] jpkrohling commented on #2069
@ManjunathShivakumar are you still experiencing this? If so, we need more information about how to reproduce this problem. Is it happening consistently after a period of inactivity?

[2020-09-10 10:48] jpkrohling commented on #2027
Do you want to give it a try? A first step would probably be to create an interface that defines the pagination functions, and make at least one storage plugin to implement it. The Query handler can then check if the current storage plugin implements the interface and will call the appropriate functions to get paginated results.

[2020-09-10 10:48] mohanbabugaddam69 opened #2463 "Can we set up username and password based authentication for Jaeger Dashboard?"
Can we set up username and password based authentication for Jaeger Dashboard

[2020-09-10 10:49] jpkrohling commented on #2463
No, not via Jaeger proper. We currently recommend setting up an authentication proxy in front of the Query.

[2020-09-10 10:49] #2463 closed

[2020-09-10 10:51] jpkrohling commented on #2015
Looks interesting, do you want to give it a try?

[2020-09-10 10:52] jpkrohling commented on #2006
Implemented via https://github.com/jaegertracing/jaeger/pull/2436

[2020-09-10 10:52] #2006 closed

[2020-09-10 10:55] mohanbabugaddam69 commented on #2463
Can you give any reference to do go with the authentication proxy? Sorry my bad, I am new to this . Just started exploring it

[2020-09-10 11:05] #2344 closed

[2020-09-10 11:11] jpkrohling commented on #174
@kevinearls do you think you'll have time to test this?

[2020-09-10 11:11] chandu9333 commented on #2463
Can we use RBAC for Jaeger UI authentication?

[2020-09-10 11:12] chandu9333 opened #2464 "Can we use RBAC for Jaeger UI authentication?"
Can we use RBAC for Jaeger UI authentication?

[2020-09-10 11:13] jpkrohling commented on #211
I'm closing this, as I don't think we'll progress with a client for PHP. If you disagree, leave a comment and I'll reopen.

[2020-09-10 11:13] #211 closed

[2020-09-10 11:42] jpkrohling commented on #2399
If you want to learn Go, this would probably be a good first issue and I can certainly guide you through the process. Otherwise, I'll leave this open for someone to pick it up.

[2020-09-10 11:44] jpkrohling commented on #2464
No, similar to #2463, we don't support any authentication in front of the UI. As mentioned there, we currently recommend setting up an authentication proxy in front of the Query.

[2020-09-10 11:44] #2464 closed

[2020-09-10 12:04] kevinearls commented on #174
@jpkrohling Probably not in the short term, but maybe after a few weeks.

[2020-09-10 12:34] joe-elliott commented on #2459
FWIW we have had success leaving the new Go memory behavior alone.  It does obscure the amount of memory used by a process, but we have switched to using `go_memstats_heap_alloc_bytes` to watch for memory leaks.  The new behavior is designed for better performance and responds well to linux memory pressure and cgroup limits.

[2020-09-10 15:04] omerfsen opened #2465 "JaegerAgent (1.9.2) running as DaemonSet not always forwarding spans to JaegerCollector (1.9.2)"
**Describe the bug**

With Jaeger 1.9.2 even Agent receives the log it does not forward logs to Collector (1.9.2). I set debug level on both collector and Agent. I see spans are received by Agent but it is not forwarded to Collector. After i kill same Agent (via kubectl delete -n observability jaeger-agent-... ) It forwards logs to Jaeger Collector.

**To Reproduce**
Steps to reproduce the behavio

[2020-09-10 15:10] omerfsen commented on #2465
Our template for Jaeger CR for this issue is as follows:

[code]

[2020-09-10 17:14] yurishkuro commented on #2463
Cf: https://medium.com/jaegertracing/protecting-jaeger-ui-with-an-oauth-sidecar-proxy-34205cca4bb1

[2020-09-10 17:46] yurishkuro commented on #2462
If the OP refers to traces as "logs", then the retention is controlled by the storage backend, e.g. Cassandra tables have TTLs, and Elasticsearch can be explicitly configured to retire indices.

[2020-09-10 19:50] yurishkuro commented on #2313
There is no open source version of qualitymetrics-v2 endpoint afaik, but it's something that's used by the UI. It's unreleased functionality at this point.

[2020-09-10 19:52] #2260 closed

[2020-09-11 01:35] lichenglin commented on #2459
I have use docker to start jaeger here is my command
`docker run -it --rm -p16686:16686 -p14269:14269 -p6831:6831/udp  --memory 1g -v /badger:/badger -e SPAN_STORAGE_TYPE=badger -e BADGER_EPHEMERAL=false -e BADGER_DIRECTORY_VALUE=/badger/data -e BADGER_DIRECTORY_KEY=/badger/key jaegertracing/all-in-one:1.19   --badger.span-store-ttl 1m --badger.truncate  --collector.queue-size 1000 --badger.consis

[2020-09-11 07:24] Stono commented on #2433
Hey,
Sorry for the delays in getting back to you.   I've been going back and forth between 1.18 and 1.19 with different configuration and have gotten absolutely nowhere trying to debug this!  We're now, annoyingly, back on 1.19 and haven't had a crash in days...

I'm half inclined to say we should close the issue and if i get anywhere with pin pointing what's up I can reopen it?  But as it stands,

[2020-09-11 07:34] jpkrohling commented on #2433
Alright, I'm closing this for now then. If you do experience this again, try to get a memory profile from the collector and attach here. Something like this would work, assuming that your Jaeger is running at localhost (or that you have a `kubectl port-forward my-jaeger-pod 14269`):

[code]

You can also browse it yourself with:

[code]

A web browser should be opened automatically, with `http://l

[2020-09-11 07:34] #2433 closed

[2020-09-11 07:48] jpkrohling commented on #2465
Could you get us the whole agent logs? I'm particularly interested in the gRPC-related entries.

[2020-09-11 07:57] jpkrohling commented on #2313
I'm confused: where is this coming from? I don't see any references for `qualitymetrics` anywhere in the Jaeger source code. Do I understand it right that the HotROD has a link to this endpoint?

[2020-09-11 07:59] #2338 closed

[2020-09-11 07:59] #2377 closed

[2020-09-11 08:08] jpkrohling commented on #2459
This does sound bad, and I would say that we should be doing some tweaking on our side. That said, I don't think we have anyone working on badger at the moment. Would you be willing to give this a try? Perhaps @burmanm would want to check this on his spare time?

[2020-09-11 09:32] MarianZoll opened #2467 "Support PaaS Cassandra"
## Requirement - what kind of business use case are you trying to solve?

Connect to a cloud-provider managed Cassandra to reduce the operational overhead on the databases. Unfortunately, for most cloud providers, a non 9042 port is used and SSL is required.

## Problem - what in Jaeger blocks you from solving the requirement?

- Cassandra create schema does not support other ports than the defaul

[2020-09-11 11:42] IvanBodnya commented on #1848
Having same issue with span_deduper. Jaeger crashes on the same line as described above.
Any news on when this issue can be resolved?

[2020-09-11 12:04] jpkrohling commented on #1848
Would you like to give it a try, @IvanBodnya?

[2020-09-11 12:12] IvanBodnya commented on #1848
Yeah, sure. I've already forked the repo. I'm new to golang, but I'll definitely go for it!

[2020-09-11 12:12] jpkrohling commented on #2467
Could you break this down in individual tasks? One for adding the port to the create-schema script/image, one for the changes to get the create schema to work on Azure, and one for the TLS certs. The first is a must-have, in my opinion, the second might not be problematic too, but not sure I agree with the third.

[2020-09-11 12:19] MarianZoll commented on #2467
Sure I did start implementing it today as I was blocked last week :). I will create separate issues and link this one accordingly.

[2020-09-11 12:31] rjs211 commented on #2338
Just to clarify, This is solved only when the user descides to use two separate ports. i.e. when query.host-port is not defined and at least one of query.grpc-server.host-port or query.http-server.host-port is defined.  This actual feature would be a part if #2337.  I am resuming working on that now.

[2020-09-11 13:05] #2410 closed

[2020-09-11 13:24] burmanm commented on #2459
@jarifibrahim Might remember this, could be something of a bug that was fixed in later 1.x versions (or 2.x?). Sadly the github issues are deprecated in the repo and they're using a forum software for tracking bugs or something as odd so I can't find the info anymore.

[2020-09-11 13:27] MarianZoll opened #2468 "Support PaaS Cassandra - Create Schema on Azure CosmosDB"
## Requirement - what kind of business use case are you trying to solve?

Connect to an Azure Cosmos DB managed Cassandra-API to reduce the operational overhead on the databases.

Additional context is available here https://github.com/jaegertracing/jaeger/issues/2467

## Problem - what in Jaeger blocks you from solving the requirement?

- Cassandra API does not support `frozen` collection types a

[2020-09-11 13:39] jarifibrahim commented on #2459
Which version of badger are you using? We fixed a memory leak in skl (memtables) a long time ago https://github.com/dgraph-io/badger/pull/849 which is part of badger 1.6.x and v2.x releases.

@jpkrohling Badger memory usage is supposed to increase linearly with the data if you're using the default options. Badger has in-memory bloom filters (one per sst file) and an index (one per sst file) kept i

[2020-09-11 13:45] MarianZoll opened #2469 "Support PaaS Cassandra - TLS Support"
## Requirement - what kind of business use case are you trying to solve?

Connect to a cloud-provider managed Cassandra to reduce the operational overhead on the databases. SSL has to be provided for the connections. Quite often, the certs used are issued by known CAs such as LetsEncrypt or digicerts.

Additional context is available here #2467

## Problem - what in Jaeger blocks you from solving

[2020-09-11 13:45] MarianZoll opened #2470 "Support PaaS Cassandra - TLS with known CAs"
## Requirement - what kind of business use case are you trying to solve?

Connect to a cloud-provider managed Cassandra to reduce the operational overhead on the databases. SSL has to be provided for the connections. Quite often, the certs used are issued by known CAs such as LetsEncrypt or digicerts.

Additional context is available here #2467

## Problem - what in Jaeger blocks you from solving

[2020-09-11 13:45] #2469 closed

[2020-09-11 13:46] MarianZoll commented on #2469
Duplicate with #2470 due to network issues during ticket creation. Sorry

[2020-09-11 14:07] jpkrohling commented on #2459
How many spans per second are we talking about here, @lichenglin ?

[2020-09-11 15:04] jpkrohling commented on #2095
Duplicate of #1848, apparently.

[2020-09-11 15:04] #2095 closed

[2020-09-11 15:09] jpkrohling commented on #2468
This is only about the create schema job, right? I think we could provide a second set of files, for Azure's CosmosDB.

[2020-09-11 16:17] yurishkuro commented on #2313
There is a code in the UI that calls this endpoint, but there is no server-side implementation.

[2020-09-12 19:49] lavieth opened #2473 "Observing span metrics/analytics for Jaeger UI using Jaeger and/or Prometheus"
Hello!
A question, is it necessary to use Prometheus to monitor Jaeger metrics (spans sent, trace data, etc.) or is there a way to just use Jaeger itself, (I'm sure there is, just not sure how)? The application for this is a research project I am working on that uses Jaeger UI to view node/server interactions for sensor nodes that collects physical data and reports it to a server for review/collec

[2020-09-12 20:34] yurishkuro commented on #2473
You can access the /metrics endpoint for the raw data, but if you want to collect a time series for plotting / analysis you will need to use a metrics system like Prometheus or similar that can scrape the data.

[2020-09-12 20:34] #2473 closed

[2020-09-12 22:40] #2435 closed

[2020-09-14 00:31] lichenglin commented on #2459
6000/s Span.

But I think It done's matter.

While using a file base storage I think It should be more **memory-friendly**. Even at the expense of some data quality and speed.

[2020-09-14 04:17] zigmund commented on #2452
@jpkrohling Tried to collect goroutine profile containing `thrift.(*TCompactProtocol).ReadString` for few hours with no luck. :(
Memory allocations can be seen via pprof for a time till GC comes, I think. But gouroutine profile have to be collected right at the moment(?).

[2020-09-14 04:20] zigmund commented on #2452
Maybe I should make custom build with some debug logs in `thrift.(*TCompactProtocol).ReadString`? But I'll need help since I'm not so strong in golang.

[2020-09-14 06:57] MarianZoll commented on #2468
Correct, its just about the create schema job. I would do a first check whether it is really just the two things by applying the CQL. Maybe its easier to just use a `sed` or something to remove the `frozen`s but keep the same set of files due to maintenance ease. I'll do a quick check and describe the findings here so that we can decide what the easiest way would be. What do you think?

[2020-09-14 08:13] xiedaijin1018 opened #2476 "HTTP Error: Converting JSONSpan to domain Span failed: strconv.ParseFloat: parsing "1.797693135e+308": value out of range"
**Describe the bug**
I found this error when query traces. Spans are stored in es. I didn't find float64 type when checked directly from ES. There are too many 560 spans so I'm not able to display all here.
**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots

[2020-09-14 08:15] jpkrohling commented on #2313
Sorry for asking again, but *where*? If it's under Hot ROD or Jaeger UI, we need to remove this...

[2020-09-14 08:43] jpkrohling commented on #2476
You forgot to answer all the leading questions that would help us understand your problem, especially the "steps to reproduce"...

[2020-09-14 08:44] jpkrohling commented on #2468
If you can do it with a couple of sed commands, I'd be all for it. We just need to build safe guards, so that those still work in the future and that we'll get a notification in case it breaks. For instance, it should be part of the build process.

[2020-09-14 08:54] xiedaijin1018 commented on #2476
Just search as normal. I think it is related to the data, but I didn't find float type from the data.
<img width="1347" alt="截屏2020-09-14 下午4 49 55" src="https://user-images.githubusercontent.com/1812418/93065119-e8460e80-f6aa-11ea-9493-d4edeac2e700.png">

[2020-09-14 09:48] jpkrohling commented on #2459
@lichenglin I ran a local test here with a rate somewhat above yours:

[code]

This created 642670 *traces* in one minute (each with two spans) and consumed, at the peak, around 650MiB of disk space and about 2GiB of memory:

![image](https://user-images.githubusercontent.com/13387/93068189-6f2fc280-f67c-11ea-899d-2b4cd8c43af1.png)

It wasn't clear to me whether the memory usage had peaked in this

[2020-09-14 09:51] jpkrohling commented on #2476
What you are saying would imply that this is happening with any spans, for all users. That's clearly not the case, as this is the first time we hear about this. Please, provide instructions on how to reproduce it, otherwise, we cannot figure out how to fix it...

[2020-09-14 10:54] xiedaijin1018 commented on #2476
Now I'm not sure what caused this error. And I don't know how to help you reproduce it without my data. I tried to figure out the different of the data, but failed.

[2020-09-14 11:16] jpkrohling commented on #2452
That is generated code and is being called for almost every field in every object: it would probably generate a lot of noise. We have a log statement at debug level around this place already:

https://github.com/jaegertracing/jaeger/blob/df2582d5331f8b0931a88e0a7c4c32ef788561f0/cmd/agent/app/processors/thrift_processor.go#L120

Are you seeing it often, or does it seem stuck right before the proces

[2020-09-14 11:32] jpkrohling commented on #2476
Sorry, there's not much we can do without a reproducer. I'll leave this open for a couple of days, in case any of the other maintainers have an idea on what might be going on.

[2020-09-14 11:57] xiedaijin1018 commented on #2476
I found the cause may be that using java client to save the span with the tag value of Double.MAX_VALUE. Then I found the value in ES is 1.797693135e+308, but the float64 max is 1.7976931348623157e+308,  it is round up, so it out of range.

[2020-09-14 11:57] #2460 closed

[2020-09-14 11:58] jpkrohling commented on #2476
That's a great hint.

[2020-09-14 12:44] xiedaijin1018 commented on #2476
I think is caused by this line:
https://github.com/jaegertracing/jaeger/blob/0a889e8ea7ca887f30eaa814456d86ad97be3f8e/model/keyvalue.go#L145

[2020-09-14 22:18] yurishkuro commented on #2313
https://github.com/jaegertracing/jaeger-ui/blob/92a840680a10a6b07275d983b5179fa47d7628ae/packages/jaeger-ui/src/api/jaeger.js#L93

[2020-09-15 05:56] zigmund commented on #2452
@jpkrohling launched agent from your image, enabled debug and see tons of logs:
[code]

But don't see any lines `processing batch for service...`

Also we have some logs about bad spans:
[code]
But they been there for long time before upgrade.

[2020-09-15 07:59] jpkrohling commented on #2313
My grep skills failed on me this time. Looks like a good first issue.

[2020-09-15 08:24] lichenglin commented on #2459
Thanks for your advice. I'm not a go developer but I'd like to try my best.

I have made a test branch for badger v2.0 in my git [https://github.com/lichenglin/jaeger/tree/badger2.0](my branch)

But it seems does not work when I rerun your test (memory still goes higher and higher) And I find something may be useful.

I find a method call ''maintenance" in "badger.factory"
<img width="1030" alt="i

[2020-09-15 08:34] jpkrohling commented on #2452
What's the last `Span(s) received by the agent` entry you see before the crash?

Something might have happened between building the binary and placing it in the image. Anyway, here's a new one, which I confirmed to work: `quay.io/jpkroehling/jaeger-agent:issue2452-extra-verbose-2`:

[code]

Do you know which clients/services are sending them? Those failures are happening *very* close to where you

[2020-09-15 08:42] lichenglin commented on #2459
Since I'm not a go developer, I'm not sure I can handle this.

I have updated badger to version 2.x in my github [https://github.com/lichenglin/jaeger.git](url)

But when I rerun the test up,It still the same. What did I miss?

What confusing me is Although I have set `--badger.span-store-ttl=1m` and why disk space never be clean.

And here is a solution for user to move 1.x's data to 2.x on badge

[2020-09-15 09:02] jpkrohling commented on #2459
As part of the PR that I closed without merging, I built a container image for testing: `quay.io/jpkroehling/all-in-one:badger-v2-ubi-minimal`. Could you try this out? This is about 6 months old, but I don't think we had new features for badger since then. If you see that the memory profile is similar, then a simple upgrade to v2 isn't sufficient (v2.0.2).

You just added the new badger, without r

[2020-09-15 09:25] lichenglin commented on #2459
`docker pull quay.io/jpkroehling/all-in-one:badger-v2-ubi-minima` failed
I can't find  `quay.io/jpkroehling/all-in-one:badger-v2-ubi-minimal` in docker hup .

[2020-09-15 09:30] jpkrohling commented on #2459
You missed the final `l` in the first command:

[code]

[2020-09-15 10:12] jarifibrahim commented on #2459
Switching from 1x to 2x won't reduce the memory. You'll have to enable the index cache to see memory improvement.

You have to set the options.IndexCache size in badger. Wherever you're opening badger, set the IndexCacheSize in badger options.

[2020-09-15 11:25] omerfsen commented on #2465
After using helm-chart  **jaeger-operator-2.17.0** i dont see that issue again. So will watch for a few days and if i dont see this issue we can close it.

[code]

[2020-09-15 15:39] yurishkuro commented on #2313
Sorry, but what is the issue specifically? Implementing the whole end-to-end trace quality metrics pipeline is probably not a "good first issue".

[2020-09-16 08:01] jpkrohling commented on #2313
To me, the issue is that we have a link in the UI to a service that doesn't exist, so, it should be removed. I guess it's an issue for the jaeger-ui repo instead then. If you agree, I'll move it there, but if you think it is not an actual problem, we can just close it.

[2020-09-16 08:12] trondhindenes commented on #2015
i'm not a go dev unfortunately, so implementing this is a bit out of reach for me atm.

[2020-09-16 12:07] jpkrohling commented on #2452
@zigmund, do you have any news for us? I'm really curious on how this develops :-)

[2020-09-16 14:51] zigmund commented on #2452
@jpkrohling sorry, I'm now in business trip for few days. Will test as soon as possible.

[2020-09-16 16:00] pavolloffay opened #2480 "Use Kafka exporter/receiver from OTEL"
OTEL collector now has kafka exporter and receiver. Instead of reusing the impl from jaeger core we should use the OTEL impl. This new implementation does not use sarama-cluster.

https://github.com/open-telemetry/opentelemetry-collector/tree/master/exporter/kafkaexporter

https://github.com/open-telemetry/opentelemetry-collector/tree/master/receiver/kafkareceiver

[2020-09-16 16:14] yurishkuro commented on #2313
We don't show the link by default, afaik. Here's all-in-one:

![image](https://user-images.githubusercontent.com/3523016/93364002-067c4d80-f816-11ea-8527-b55c712fa850.png)

The link needs to be explicitly available via UI configuration. I think it's fine to leave that as is, and we should just finish the trace quality metrics pipeline and add that as a service.

[2020-09-17 01:49] BernardTolosajr commented on #2457
Hi guys, i'll pick this one. thanks

[2020-09-17 05:59] zigmund commented on #2452
@jpkrohling, checked metrics.

`sum(rate(jaeger_agent_thrift_udp_t_processor_handler_errors_total[1m])) by (model, protocol)`:
[code]

`sum(rate(jaeger_agent_thrift_udp_server_packets_processed_total[1m])) by (model, protocol)`:
[code]

Currently unable to test debug image v2, will try to do it later.

[2020-09-17 07:03] jiangxinlingdu opened #2486 "Seeing placeholder instead of UI"
I want compile   jaeger source code , jaeger-query portion error：

This is a placeholder for Jaeger UI home page. If you are seeing this, you are running a binary that was not compiled with the UI assets.

what should i do ？？？

[2020-09-17 11:20] zigmund commented on #2452
@jpkrohling, I think I found two agent-breaking services, both are php-written. Will try to catch breaking traces, but don't know how at the moment. :D

[2020-09-17 12:33] pavolloffay opened #2485 "OTEL Badger exporter fails to read/deserialize data"
**Describe the bug**

OTEL Badger exporter fails to read/deserialize data

[code]

**To Reproduce**
[code]

Then open UI and refresh to generate some data from the query service. The exception should appear in logs.

**Version (please complete the following information):**

latest master

[2020-09-17 12:40] pavolloffay commented on #2485
[code]

This might be related to https://github.com/jaegertracing/jaeger/issues/2449 - bump to gRPC 0.31.0.

The OTEL module uses

[code]

and Jaeger core
[code]

There is an inconsistency of grpc and protobuf versions.

[2020-09-17 14:08] jpkrohling commented on #2452
That's actually great news. This means that the Agent might not be at fault here at all for common cases. We still need to figure out what type of incoming data is causing the problem, but I believe it does change the criticality of the issue.

I can't help much here, but perhaps you can start by checking which operations are expected to exist vs. which ones actually exist. The missing one(s) migh

[2020-09-17 15:09] #2486 closed

[2020-09-17 15:30] bjung82 commented on #2465
We have a similar problem, same version: jaeger-operator-2.17.0 App VERSION 1.19.0:
Agent + Collector have version 1.19.2.

There seems to be a problem with the agent:
Many times the agent does not receive any spans (or only 4-5 spans) from the client, right from the start of the agent. We tested different clients (Java, NodeJS), same behaviour. Loglevel=Debug, in Agent + Collector.

The agent see

[2020-09-17 16:14] #2485 closed

[2020-09-17 17:01] pavolloffay opened #2489 "Translate OTEL status.code tag to human readable string"
OTEL span has a top-level status field in span https://github.com/open-telemetry/opentelemetry-collector/blob/aeb604f4a3227415ba6e209363fcaf7d93817b70/internal/data/opentelemetry-proto-gen/trace/v1/trace.pb.go#L361.

This field is added as a tag `status.code` to Jaeger span  with an int value https://github.com/open-telemetry/opentelemetry-collector/blob/ec327358d6340342ee345869685f2bb00e8e2b91/tr

[2020-09-18 07:19] jpkrohling commented on #2465
Could you please confirm the operator version? It probably is 1.17.0. Are you overriding the images in the CR, so that it uses 1.19.2? It probably won't matter for your case, but if you use the operator v1.19.x, it should automatically get you Jaeger v1.19.2.

Would you be open to use a sidecar for some deployments, and daemonset for others? I wonder if the deployment mode affects the behavior in

[2020-09-18 07:26] jpkrohling opened #2493 "Debug images with delve and other base image"
## Requirement - what kind of business use case are you trying to solve?

We discussed having a different base image for Jaeger, for better troubleshooting, but never moved forward, mostly because the maintenance burden of having two very similar images wasn't worth it. But @bjung82 had a great question, on whether we have a debug image with delve enabled, for remote debugging.

This sounds like a

[2020-09-18 09:11] SimoneFalzone commented on #2465
Related to @bjung82

We used operator version 1.19.0.

We now changed it to operator version 1.18.1.
Related to connection issues with Elasticsearch, we changed the image version from the jaeager-collector and the jaeger jaeger-query to image version 19.0.0.
With this configuration options it works fine.

**Images:**
jaeager-operator: jaegertracing/jaeger-operator:1.18.1
jaeager-collector: jaegert

[2020-09-18 10:01] jpkrohling commented on #2465
I think the problems you are experiencing, @SimoneFalzone and @bjung82, isn't the same as the originally reported. It sound suspiciously similar to these: https://github.com/jaegertracing/jaeger-operator/issues/1175 and https://github.com/jaegertracing/jaeger/issues/2443 . Could you try with `jaegertracing/jaeger-agent:latest`, which should have the fix for the mentioned issue?

If possible, provi

[2020-09-18 10:11] pavolloffay commented on #2321
I wasn't able to reproduce it, closing.

[2020-09-18 10:11] #2321 closed

[2020-09-18 13:21] jpkrohling commented on #1459
I think we should really consider setting the default value for the clock-skew to 0s for Jaeger 1.21.x or 2.x. It's simply wrong with all async scenarios. Example, which looks very similar to the plentiful of other examples we've seen related to this issue:

![image](https://user-images.githubusercontent.com/13387/93602206-a080f900-f9c2-11ea-814b-6a3b14a08992.png)

Clocks out of sync are a real pr

[2020-09-18 16:05] yurishkuro commented on #1459
fine with me, we just need to mark is as a breaking change in the log

[2020-09-19 15:53] vkartik97 commented on #2493
can I take this up ?

[2020-09-19 19:14] #2122 closed

[2020-09-19 21:21] dstdfx commented on #1333
@chandresh-pancholi @yurishkuro is this one "in-progress" or I could pick it up?

[2020-09-20 02:54] yurishkuro commented on #1333
I don't think anyone's working on it, it's been idle since Feb

[2020-09-20 07:46] dstdfx commented on #1333
Alright, then I'll work on this

[2020-09-20 11:01] goku321 commented on #2015
Would like to try my hands on this.

[2020-09-20 17:40] dstdfx commented on #1333
Looks like some of the options are deprecated or were removed:
[code]
became deprecated in https://github.com/jaegertracing/jaeger/pull/1092

[code]
removed in https://github.com/jaegertracing/jaeger/pull/2115

[2020-09-20 21:11] omerfsen commented on #2465
@jpkrohling Ok let me try that.

[2020-09-20 23:55] yurishkuro commented on #1333
It is best not to rely on the exact list of parameters in this ticket, but look at the up-to-date list at https://www.jaegertracing.io/docs/1.19/cli/.

Also, it's ok not to cover every single parameter, as long as we establish a clean framework & nomenclature for adding them.

[2020-09-21 03:41] zigmund commented on #2452
These two services are pretty large monolith php applications, traces often consist of hundreds spans, so It's near impossible to catch missing.

[2020-09-21 07:13] jpkrohling commented on #2493
It's yours!

[2020-09-21 07:34] jpkrohling commented on #2452
Alright, let us know once you have more info then, or if there's anything we can do on our side to help you.

[2020-09-21 07:55] jpkrohling commented on #2015
Go for it!

[2020-09-21 08:10] jpkrohling commented on #1455
I'll reuse this issue to track the otel-crossdock tests, as they are also flaky.

[2020-09-21 09:13] axiangcoding opened #2497 "can i extract ip address from http request and add it to tags?"
when i use jaeger-collector to receive spans, by using Thrift over HTTP,
can i extract ip address from request header and add it to tags?
like this:
[code]

[2020-09-21 09:16] axiangcoding commented on #2497
if jaeger-collecot can't did it, perhaps some soluations?
Looking forward to advice, Thanks in advance
And forgive my poor english  :)

[2020-09-21 09:20] jpkrohling commented on #2497
That's currently not possible: while you can add tags to the spans seen by a collector, the values are static. The agent can also add tags, but again, not with dynamic values.

What you could be doing is to make your application send trace information to an agent on the same host, and then make the agent add the IP to all spans it processes. We do something similar in the Jaeger Operator to add th

[2020-09-21 09:21] #2497 closed

[2020-09-21 09:25] axiangcoding commented on #2497
Thanks for your answer. I will try another way.
Hava a nice day!

[2020-09-21 10:29] aditya-konarde opened #2498 "Push official images to quay.io, in addition to Docker Hub"
# Requirement - what kind of business use case are you trying to solve?

High availability and resiliency of Jaeger in production environments

## Problem - what in Jaeger blocks you from solving the requirement?

Currently, the official images for jaeger are on docker hub. Unless one has a docker paid account, image pulls will be rate-limited and pulls may fail at run-time, causing infrastructure

[2020-09-21 10:31] jpkrohling commented on #2498
I'm OK with this idea. @yurishkuro, what do you think?

[2020-09-21 14:39] yurishkuro commented on #2498
_in addition_ sounds fine.

[2020-09-22 09:09] quaff commented on #2459
We are using v1.19.2 with badger storage, It consume memory very fast, even restarted with no requests.

[2020-09-22 12:51] pavolloffay opened #2503 "Migrate lint tools to golangci-lint"
Migrate `go vet`, `staticcheck`, `gosec` to https://golangci-lint.run/. It is a single tool that can run all static code analysis tools https://medium.com/wesionary-team/introduction-to-linters-in-go-and-know-about-golangci-lint-6486fb2864b3.

It's also used by the OTEL collector.

[2020-09-22 14:16] yurishkuro commented on #2503
Looks good.

[2020-09-23 00:30] lighteness commented on #1824
This is effecting me too.

[2020-09-23 10:58] objectiser opened #2506 "Plan for 1.20 release"
@jaegertracing/jaeger-maintainers

Any objections to releasing 1.20 soon? If not, are there any issues that need to be resolved before the release?

[2020-09-23 11:00] jpkrohling commented on #2506
I added a few items to the milestone 1.20.0 last week, but back then, I had a bigger time frame to address them. I would then move them to 1.21.0, if we all agree.

[2020-09-23 15:17] douzizuibang opened #2507 "Where is the query-linux-$TARGETARCH?"
I have downloaded the jaeger code which from master branch, and then executed the `go mod tidy`. And executed the command `go build` from `/cmd/query` folder. I have encounted the error
[code]
when executed `docker build ...` command. How/Where can I find or generate the linux-query-$TARGETARCH file?
THX

[2020-09-23 15:21] douzizuibang opened #2508 "How to entered the jaeger-query container?"
I have deploy the jaeger-query pod via k8s yaml. However, I try to executing the command into pod failed.
[code]
So, what is the comand into the pod?

[2020-09-23 15:24] jpkrohling opened #2509 "Multi-tenant Jaeger"
## Requirement - what kind of business use case are you trying to solve?

The topic of multi-tenancy has being brought up quite a few times in the past. So far, our response has been that Jaeger is lightweight enough to have one instance per tenant, which is easier to manage with a provisioning tool like Helm or the Jaeger Operator.

That said, it would still be advantageous to be able to run one

[2020-09-23 15:47] joe-elliott commented on #2507
Use the `make` commands to build binaries and docker images.

`make docker` will build all binaries, the ui and docker images.  You can review `./Makefile` to see other options.

[2020-09-23 15:50] joe-elliott commented on #2508
I don't believe there is a shell available in the jaeger containers.  They are built:

[code]

Simple "getting started" questions may be more appropriate in the https://gitter.im/jaegertracing/Lobby

[2020-09-23 16:18] yurishkuro commented on #2509
Before discussing a solution, I would like to clearly define the problem. Multi-tenant has many meanings, as you @jpkrohling outlined in your blog post previously. Let's first agree on the requirements.

@albertteoh @joe-elliott this might be of interest to your companies

[2020-09-23 18:12] yurishkuro commented on #2508
See #2493.

[2020-09-23 18:12] #2508 closed

[2020-09-23 18:20] #2507 closed

[2020-09-23 19:21] jpkrohling commented on #2509
Fair enough :-) The use-cases that we've been hearing are:

1. departments in the same company managing their own Jaeger instances
1. departments in the same company where Jaeger is maintained centrally, perhaps "billed" separately (chargeback)
1. customers of a SaaS company, where customers are charged by usage (Grafana/Logz.io?)
1. SaaS company providing white-label offering (probably not a trac

[2020-09-23 19:36] jkowall commented on #2509
From our side we solve this issue with our centralized account management and our ability to create sub-accounts which roll into the same primary account. This allows us to create specific indices for customers and sub-accounts and manage the backend separately. The current Jaeger setup works fine for our needs unless @albertteoh has something to add here which we might want.

Today we have added

[2020-09-23 19:37] yurishkuro commented on #2509
Thanks, but these are not quite the requirements. Say multiple depts want to use a shared instance of Jaeger - nothing stops them now. I think the requirement R1 would be the UI experience is walled off to just the traces of that tenant, meaning list of services, search, dep graphs, are all scoped to just a single tenant.

If we assume R1, then the next question is: what defines a "tenant" to the

[2020-09-23 19:56] jpkrohling commented on #2509
That's absolutely the case. R2 would be to have different storage backends per tenant, so that they can be billed separately.

An OAuth token typically has the group membership as part of the claims. A tenant would then be each group membership.

Potentially, yes: "For the second case, it might be that users belong to multiple tenants (operations might have access to all tenants)."

It might be th

[2020-09-23 19:57] jpkrohling commented on #2509
@jkowall do you have one Jaeger cluster for all tenants, or do you have one Jaeger per account?

[2020-09-24 03:56] douzizuibang commented on #2507
I have executed the `make` command and get the error. Please help to investigated it. Thx

<img width="619" alt="截屏2020-09-24 上午11 54 50" src="https://user-images.githubusercontent.com/16741710/94099216-ffc88880-fe5c-11ea-855a-f133bc279365.png">

[2020-09-24 08:39] jpkrohling commented on #2452
@zigmund, were you able to find a pattern already? I'm worried that we might have a bigger issue, as bad clients should be able to bring down the agent...

[2020-09-24 09:10] aditya-konarde commented on #2498
Thanks, I'll start to work on it this week :)

[2020-09-24 09:13] Sreevani871 commented on #1051
Encountering OOM issues while fetching traces from jaeger-UI.
**Details :**
Backend Storage: Elasticsearch
Instance RAM: 4 GB(~3.7 GB Free Memory)
Instance vCPU:2

We are encountering OOM kill upon fetching 20 traces(each trace consists of ~20K spans) from UI. This is causing frequent process restarts.
While going through code, observed jaeger-query service FindTraces API is fetching all spans of

[2020-09-24 11:17] zigmund commented on #2452
@jpkrohling, unfortunately, didn't found any additional info. :(

[2020-09-24 14:33] jpkrohling commented on #2452
Are you still experiencing those problems, or have you disabled tracing for the services that are causing problems?

[2020-09-24 14:40] zigmund commented on #2452
@jpkrohling I'm using your extra verbose image for debug and reverting back to 1.18.1 for regular usage. The services' tracing is enabled.

[2020-09-24 14:53] jpkrohling commented on #2452
Got it. We might have newer versions of the models/protobuf soon, which _might_ help here. I'll ping you once we have it ready, in case you are able to try it out before we release it.

[2020-09-24 15:35] zigmund commented on #2452
OK, I'm ready to test.

[2020-09-24 16:55] jkowall commented on #2509
We use one instance per cloud region (we run on two clouds across about 25 regions). We run multiple instances in K8S for redundancy for the UI if that's what you mean @jpkrohling. Our query engine takes the calls for the backend and passes them to the right ElasticSearch instance. We don't need anymore multi-tenancy today. We have our tenant ID in the storage backend for Jaeger collector, and we

[2020-09-24 17:21] yurishkuro commented on #1051
@Sreevani871 yes, we even had tickets somewhere for that, but no volunteers to implement it.

[2020-09-25 02:32] axiangcoding opened #2510 "Does adding request header remoteAddr to Process.Tag during request handler have side effects?"
Last time i ask a question about how to extract ip address from request header to spans. see: #2497
After comprehensive consideration and some attempts, I eventually decided to modify the source code to achieve this function.
After a day of learning in GO language (I am much more familiar with Java) and jeager-collector source code, i made a code change in `./cmd/collector/app/handler/http_handler

[2020-09-25 07:46] objectiser commented on #2510
@axiangcoding The problem with this solution is that it assumes the sender is the source of the span (i.e. no intermediate collectors). It would be better if this field was added at the source - either within the instrumented app or within a sidecar agent.

[2020-09-25 07:48] jpkrohling commented on #2509
You have your own Jaeger Collector fork then, I suppose. Basically, your solution sounds very much like what was proposed here: one Jaeger Collector cluster/instance taking care of multiple tenants, sending data to the "right" ES instance.

[2020-09-25 07:55] jpkrohling commented on #2510
I'm not quite sure I get this use case. Every span generated by Jaeger clients has its own "ip" process tag, representing the IP for the host that generated the span. The IP the collector will be getting is then either the Agent's, which will differ from the IP in the process tag, or will be the Jaeger Client's, which will match exactly the IP in the process tag.

[2020-09-25 09:31] redondoxx opened #2511 "[Jaeger UI] Versioning show on Jaeger UI"
## Requirement - what kind of business use case are you trying to solve?

Easily check version (ex: 1.19.2) on Jaeger UI.

## Problem - what in Jaeger blocks you from solving the requirement?

Take some effort to check the image version in our backend and infra.

## Proposal - what do you suggest to solve the problem or improve the existing situation?
Visualize the versioning of Jaeger Query on Ja

[2020-09-25 09:42] objectiser commented on #2511
Closing as duplicate of https://github.com/jaegertracing/jaeger-ui/issues/365

[2020-09-25 09:42] #2511 closed

[2020-09-25 10:09] eundoosong commented on #2503
Hello, I'd like to contribute on this

[2020-09-25 11:07] Sreevani871 commented on #1051
@yurishkuro Any specific reason for fetching all info in **FindTraces** call itself from UI?

[2020-09-25 11:43] pavolloffay commented on #2503
go for it @eundoosong

[2020-09-25 12:13] axiangcoding commented on #2510
The reason I need to add ip address to spans here is because we have a lot of products (based on nodejs, java, csharp, etc.), and I hope to implement this feature with minor changes, so I have a question about #2497 .
Our products are directly transmitted to jaeger-collector by using Thrift over HTTP, without going through jaeger-agent, so it can be guaranteed that this IP is a real IP address.
My

[2020-09-25 12:19] #2510 closed

[2020-09-25 14:33] yurishkuro commented on #1051
If you mean the internal implementation of FindTraces, then yes, the reason is because there is no summary information about the full trace available anywhere else, since collectors receive spans one at a time. Storage is the only place that can provide a full trace, but you need to read that full trace in order to extract summary. It's possible to build a post-processing, but it will require addi

[2020-09-25 14:47] #1459 closed

[2020-09-26 00:32] #2299 closed

[2020-09-28 10:56] Sreevani871 commented on #1051
Can you share the tickets will have a look?

[2020-09-28 14:37] #2480 closed

[2020-09-28 15:21] yurishkuro commented on #1051
There is context here: https://github.com/jaegertracing/jaeger-ui/issues/247

[2020-09-29 03:44] jiangxinlingdu opened #2516 "jaeger-collector to high version，but can`t receive data"
jaeger-collector to high version，but can`t  receive data，by comparing  i find some problems
![image](https://user-images.githubusercontent.com/6373972/94510259-ebafcd00-0248-11eb-8fce-f70f72a0dcd2.png)
agent use 14267 send to collector, now i want to high version jaeger-collector,what should i do ? how to update agent cmd ???

[2020-09-29 04:36] hanjm opened #2517 "es mapping in "jaeger-span.json" the duration type is long, does not match the struct field type uint64 ."
**Describe the bug**
A clear and concise description of what the bug is.

es mapping in "jaeger-span.json" the duration type is long, does not match the struct field type uint64,
in my use case, produce a error log contains "Numeric value (18446744073690785616) out of range of long (-9223372036854775808 - 9223372036854775807)"

## jaeger-span.json
[code]
##  plugin/storage/es/spanstore/dbmodel/mod

[2020-09-29 06:07] albertteoh commented on #2516
Hi,

It sounds like you'd like to upgrade to v1.18.0+ and, if so, please refer
to v1.18.0's release notes
<https://github.com/jaegertracing/jaeger/blob/master/CHANGELOG.md#1180-2020-05-14>
which
detail the breaking changes:

Remove Tchannel port (14267) from collector and Tchannel reporter from

If you're running the collector with the default configuration, you can
connect the agent to the collec

[2020-09-29 06:10] jiangxinlingdu commented on #2516
3q

[2020-09-29 06:10] #2516 closed

[2020-09-29 07:39] jarifibrahim commented on #2459
https://github.com/dgraph-io/badger/blob/c5d36c806aa80954a24606a982a475a717d44de2/table/table.go#L61 This is the index for each table which is kept in memory on v1x. This will grow linearly with the number of SST files in badger. On v2x, we support an index cache. So if you set 500 mb of index cache, we'll cache these table indices and it will limit the memory usage.

We're working on badger v3 wh

[2020-09-29 12:47] Etienne-Carriere opened #2518 "Jaeger collector crashed"
**Describe the bug**
Crash of Jaeger Collector

**To Reproduce**
Unfortunately, it happens sometimes with 1.17.0 and is more freqent with 1.18.0 so I stay in 1.17.0

**Screenshots**
[code]

**Version (please complete the following information):**
 - OS: Centos 7
 - Jaeger version: 1.17.0 ({"gitCommit":"00985cadeb757886ac158f10e4b8229067797b65","GitVersion":"v1.17.0","BuildDate":"2020-02-24T18:55:1

[2020-09-30 00:45] lichenglin commented on #2459
thanks for the reply.

And in v2,  "index cache" is set by this option?
`// WithMaxCacheSize returns a new Options value with MaxCacheSize set to the given value.`
`// This value specifies how much data cache should hold in memory. A small size of cache means lower`
`// memory consumption and lookups/iterations would take longer. Setting size to zero disables the`
`// cache altogether.`
`func (opt

[2020-09-30 07:54] jpkrohling opened #2525 "All in one taking >2s to shutdown"
While doing a sanity check for 1.20.0 using the all-in-one, I noticed that the shutdown procedure for Jaeger is now taking more than 2s. It's suspicious that the health check messages are 1s from the previous messages, making me believe that they are waiting one second each:

[code]

This sounds suspicious, and we should take a look if this is intentional.

[2020-09-30 08:28] jpkrohling opened #2526 "Wrong deprecation message for 'es-archive' option"
**Describe the bug**
The deprecation message for the flag `--es-archive.max-num-spans` reads:

It should state that the flag to use is `es-archive.max-doc-count` instead of `es.max-doc-count`. Same with all other occurrences of the flag names in the message.

**To Reproduce**
Steps to reproduce the behavior:
1.  `$ podman run -e SPAN_STORAGE_TYPE=elasticsearch -p 16686 jaegertracing/all-in-one:1.2

[2020-09-30 08:28] jpkrohling commented on #2526
@albertteoh would you like to take care of this one?

[2020-09-30 09:41] albertteoh commented on #2526
Yup, leave it with me, @jpkrohling! Thanks for picking that up.

[2020-09-30 13:47] tobstarr opened #2527 "Incorrect type casting for binary annotations"
**Describe the bug**
We are trying to feed traces via zipkin protocol into jaeger using the elixir package tapper (https://hexdocs.pm/tapper/readme.html).

When we add the annotation `http_status` jaeger does return status code 500 though and the jaeger container logs show `"interface conversion: interface {} is string, not float64"` with a stacktrace.

Tapper is using binary annotations to send t

[2020-09-30 15:19] yurishkuro commented on #2527
if you're sending it as a string value, then the `type` field should be `string`, but you have `I16` (integer).

[2020-09-30 16:03] tobstarr commented on #2527
@yurishkuro thanks for clarifying. Do you know of link to the actual protocol specification of zipkin (I only found the OpenAPI spec) where this is more clear so that I can reference it when I file a bug with the library I am using?

[2020-09-30 16:12] yurishkuro commented on #2527
The same zipkin-api repository you linked has all the schemas. Specifically, you're sending the old v1 schema where tags were typed, whereas in the latest schemas like JSON or proto v3, the tags are string->string.

[2020-09-30 18:10] omerfsen commented on #2465
Hi @jpkrohling Does Release 1.20.0 contains fix for this  issue ?

[2020-10-01 07:00] jpkrohling commented on #2465
It does contain a fix for jaegertracing/jaeger-operator#1175 and #2443. Whether those are the fixes for the problem you reported, I hope you'll tell me :-)

[2020-10-01 07:09] omerfsen commented on #2465
Ok i will try this and let you know after we get helm chart updated to have 1.20.0

[2020-10-01 07:11] #2526 closed

[2020-10-01 07:34] objectiser commented on #2518
@Etienne-Carriere Seems to imply a problem with the data being reported - what client/version are you using?

Even so, would be worth adding a guard (and possibly some debug logging) to prevent it from causing a panic. Would you be interested in submitting a PR?

[2020-10-01 08:55] jpkrohling commented on #2509
I added this topic to be discussed at tomorrow's [bi-weekly call](https://docs.google.com/document/d/1ZuBAwTJvQN7xkWVvEFXj5WU9_JmS5TPiNbxCJSvPqX0/#heading=h.6uj9wvxpr35q).

[2020-10-01 11:07] saivishalvangala commented on #814
Hi, @yurishkuro @black-adder. I am trying to sample Jaeger at the collector level. I followed the information given in the Jaeger documentation https://www.jaegertracing.io/docs/1.18/sampling/#collector-sampling-configuration .
The below configurations are given in YAML file of Jaeger deployment:
[code]
Below is my sampling.json file:
[code]
![image](https://user-images.githubusercontent.com/55178

[2020-10-01 22:13] #2506 closed

[2020-10-01 22:14] yurishkuro commented on #2503
We also have a similar issue #538 to use gometalinter.

[2020-10-02 03:09] yurishkuro commented on #814
@saivishalvangala there is no sampling at collector level. Sampling only happens in the SDKs. The sampling strategy configuration that you can pass to the collector is used to pass to SDKs only.

I am not sure if Istio even supports Jaeger SDK - there were some attempts to link Jaeger C++ SDK, but I don't know what the current status is. Therefore, any configuration you provide to collectors will

[2020-10-02 03:37] saivishalvangala commented on #814
Hi @yurishkuro thank you for your reply. Actually "istio" is name of micro-service which I configured, nothing related to istio-service mesh.
If there is no collector level sampling, then could you explain me what is collector-sampling-configuration i.e adaptive sampling in the below link- https://www.jaegertracing.io/docs/1.18/sampling/#collector-sampling-configuration
Here it is mentioned that,

[2020-10-02 07:49] jpkrohling commented on #814
That sampling file is used by the SDKs when the "remote" sampling strategy is used. It allows admins to control centrally the strategy for all clients at once.

[2020-10-02 07:50] goku321 commented on #2420
Want to take this one up.

[2020-10-02 07:53] jpkrohling commented on #2420
It's yours. Let us know if you need help.

[2020-10-02 07:55] albertteoh commented on #814
Just adding to Yuri and Juraci's comments:

From
https://www.jaegertracing.io/docs/latest/sampling/#client-sampling-configuration
:

This means that, with the right setup, when the "istio" service creates a
tracer, it will start polling the Jaeger agent for sampling strategies,
which the agent, in turn, obtains from the collector.

A few troubleshooting questions that come to mind are:

   - Is th

[2020-10-02 08:44] objectiser opened #2530 "Migrate to OpenTelemetry Collector based Agent, Collector, Ingester and All-In-One"
Currently we are building two sets of agent, collector, ingester and all-in-one executables/images - one set for the existing 1.x stream and the other based on the OpenTelemetry Collector.

For Jaeger 2, the OpenTelemetry Collector based components should be the only ones being built, and they should be renamed to their 1.x equivalents (i.e. replacing them).

Although some options continue to be s

[2020-10-02 08:47] objectiser commented on #2130
Adding as possible for Jaeger 2.0, as this would be a breaking change if data migration was not possible.

There was also mention of a version 3 by end of year - we should investigate timelines and whether this would also be incompatible with previous version storage format.

[2020-10-02 08:55] objectiser opened #2531 "Enable storage implementations to identify type of queries they support"
## Requirement - what kind of business use case are you trying to solve?

Enable storage options to be selected based on the nature of the query (i.e. find trace using blob storage, search using index storage). It should then be possible to configure multiple storage providers that can be used based on the query being performed.

## Problem - what in Jaeger blocks you from solving the requirement?

[2020-10-02 08:59] objectiser opened #2532 "Auto configure UI based on type of queries supported by the backend"
## Requirement - what kind of business use case are you trying to solve?

Related to #2531 , we should only expose query features in the UI that can be supported by the backend. If only blob storage has been configured, then it should only be possible for a user to perform a "find trace by id" query.

## Problem - what in Jaeger blocks you from solving the requirement?

The query server does not c

[2020-10-02 09:07] burmanm commented on #2130
I was going to propose the same thing, maybe we should skip version 2 and just jump straight to 3?

[2020-10-02 09:11] objectiser commented on #2130
@jarifibrahim Do you have a release date for badger v3?

[2020-10-02 12:41] parberge commented on #1678
I have another concerned about load balancing;

We use `"--reporter.grpc.host-port=dns:///jaeger-collector-gRPC.service.consul:14250"` to get the list of collectors, which is working fine. All collectors receive spans.

The problem;
If we scale out the collectors the agent will never get a new list.
This also means if one or more collectors is removed/offline the list of collectors on the agents w

[2020-10-02 12:49] jpkrohling commented on #1678
Which version of Jaeger are you using, @parberge? We've bumped the gRPC client version in v1.20.0 which was recently released, and I know it has some improvements in this area, although I'm not 100% sure this case is covered. When fixing #2443, I remember reading that the gRPC client will get a new list of clients only when it runs out of healthy connections, but hopefully this newest gRPC client

[2020-10-02 12:50] jpkrohling commented on #1678
I'm closing, as I think this has been answered some time ago, but feel free to reopen if there are still questions.

[2020-10-02 12:56] parberge commented on #1678
Not 1.20 that's for sure.

Will test and create an issue if the problem remains. Thanks.

[2020-10-02 15:57] yurishkuro commented on #2531
Technically, I don't think we have any query types that are not supported by all official backends. Can you elaborate what kind of granularity you are suggesting for `queryType`?

[2020-10-02 16:08] objectiser commented on #2531
This would be in preparation for supporting storage that only addresses a subset of the queries - e.g. index storage for searches, and blob storage for trace id lookups.

[2020-10-02 23:41] rleiwang opened #2534 "Add Chronowave storage backend as build-in options"
## Requirement - what kind of business use case are you trying to solve?
Facilitate root cause analysis by integrating trace and application log search/display into one application, Jaeger.

## Problem - what in Jaeger blocks you from solving the requirement?
Jaeger UI currently can't search on logs. The storage backends in all-in-ones mode don't support searching tags with just key words or wild

[2020-10-02 23:46] rleiwang commented on #638
I just created an issue proposing Chronowave as storage backend. https://github.com/jaegertracing/jaeger/issues/2534

[2020-10-03 01:05] yurishkuro commented on #2534
I've never heard of chronowave. The repo has a total of 2 commits made in the last 5hrs, and the whole org created 9 days ago. Can't tell if this is spam or not.

If you're interested in using Jaeger with this backend, you can implement a grpc plugin or use a fork. We only support integration with widely used data stores.

[2020-10-03 01:05] #2534 closed

[2020-10-03 08:55] PankhudiB commented on #797
shall I use go-acc and add make task ? or is someone else working on this ?

[2020-10-03 09:48] PankhudiB commented on #797
This is the output of go-acc command i just ran on the repo:

ok  	github.com/jaegertracing/jaeger	0.011s	coverage: [no statements] [no tests to run]
?   	github.com/jaegertracing/jaeger/cmd/agent	[no test files]
ok  	github.com/jaegertracing/jaeger/cmd/agent/app	4.457s	coverage: 4.1
ok  	github.com/jaegertracing/jaeger/cmd/agent/app/configmanager	0.048s	coverage: 1.5
ok  	github.com/jaegertracing

[2020-10-05 04:39] yurishkuro commented on #797
I don't think go-acc is going to be particularly useful, since it doesn't allow any more customizability than plain `go test`.

We want to exclude all auto-generated packages (see ALL_SRC in Makefile), and packages with `.nocover` files. However, those packages probably won't have any _test files and `go test` will not generate coverage for them, which is what we want. So this may be as simple as

[2020-10-05 12:20] saivishalvangala commented on #814
hi

Hi

[2020-10-05 13:34] saivishalvangala commented on #814
Hi @albertteoh , Thanks for explaining in such a detailed way.
Answers for your queries:
1) there is no Jaeger agent running as side-car on the same host as micro-service "istio".
2) Yeah Tracer bean is configured with sampling type " remote".
3) I am not understanding where to observe these logs, because Jaeger instance is running in a pod and that has 4 services :- agent, collector, collector-he

[2020-10-05 15:16] winster opened #2537 "Jaeger not working with Webclient"
Please take a look at https://github.com/winster/jaeger-trace-reactive/blob/master/src/main/java/com/example/demo/JaegerTraceReactiveApplication.java

This is a spring boot application with opentracing. As per the doc, jaeger supports webflux and webclient. But it has been noted that, the trace skips the reactive flow when there is a webclient call.

Is there a way to fix this?

### Update
Please

[2020-10-05 18:09] #1333 closed

[2020-10-06 06:11] albertteoh commented on #814
micro-service "istio".

It looks like "istio" is sending spans directly to jaeger-collector, which
is possible but not the recommended deployment pattern. Please see:
https://www.jaegertracing.io/docs/1.20/faq/#do-i-need-to-run-jaeger-agent.

With jaeger-agent as a sidecar with "istio", you should be able to fetch
the sampling strategies from jaeger-collector successfully. This might be
useful:
ht

[2020-10-06 11:41] saivishalvangala commented on #814
Hi @albertteoh thank you for such valuable information.

Firstly I will tell you the way which I tried:
1.  I have deployed a Jaeger instance with the name "with-sampling". Deployed a micro-service in the namespace "example-app-new". This Micro-service emits traces if an endpoint is hit. I followed https://www.jaegertracing.io/docs/1.19/operator/#auto-injecting-jaeger-agent-sidecars and injected t

[2020-10-06 12:11] saivishalvangala commented on #814
Hi @albertteoh .
Please refer to the code in the below link:
https://github.com/saivishalvangala/jaeger-sampling

[2020-10-06 16:18] mcarbonneaux commented on #1438
you've try to use [chproxy](https://github.com/Vertamedia/chproxy) in for caching request ?
or [tricksterproxy](https://github.com/tricksterproxy/trickster/blob/main/docs/clickhouse.md) who are optimized for request by time range...

[2020-10-06 17:04] PankhudiB commented on #797
But then if we just use go test -cover ./... we would still need script to take the output and check if it meets threshold.

[2020-10-06 17:09] yurishkuro commented on #797
Threshold is checked when the results are submitted to codecov.io

[2020-10-06 17:18] PankhudiB commented on #797
Okay. Help me understand one more thing. Regarding the auto-generated packages that you referred earlier. Do we know what is the list of those  auto-generated packages beforehand ?

In which case we can simply do something like  :
EXCLUDE_PACKAGES=$(cat .file_that_has_list_of_packages_to_be_exchluded | tr '\n' '|')
go test -covermode=set -coverprofile cover.out `go list ./... | grep -Ev ${EXCLUDE_

[2020-10-06 17:41] yurishkuro commented on #797
I don't think generated packages are going to be a problem for code coverage, because they do not include any _test files, which makes `go test` not report any coverage for them (i.e. NULL instead of 0), and thus they do not affect the total score. If you look at the current setup, we are not excluding them
[code]

(but we do exclude them from linters)

[2020-10-07 00:12] albertteoh commented on #814
You shouldn't need `JAEGER_ENDPOINT` if you have an agent running. But span submission should still work with `JAEGER_ENDPOINT` set.

Yes, that looks fine to me.

Short of viewing the metrics I mentioned above, maybe you can try running `example-app` locally and stepping through the code to see if the remote config is being successfully fetched from jaeger-agent.

[2020-10-07 04:10] saivishalvangala commented on #814
I tried both running in local and deployment in kubernetes cluster, but no luck. Remote config is not being fetched from jaeger-agent.

[2020-10-07 07:53] jpkrohling commented on #2537
I don't think this is the right repository for this bug report, sounds like a problem with the instrumentation library you are using?

[code]

I'm not 100% sure, but try opening an issue in the following repository: https://github.com/opentracing-contrib/java-spring-jaeger

[2020-10-07 07:53] #2537 closed

[2020-10-07 09:49] albertteoh commented on #814
Okay, the next questions that come to mind are:

- Why is the remote config not being fetched from jaeger-agent?
- Can `example-app` reach jaeger-agent (port 5778)?

You mentioned you tried running this stack locally. Can you:

- Can you curl jaeger-collector's `/api/sampling` endpoint during your local test runs? You should see something like this:
[code]

- Can you curl jaeger-agent's `/sampling

[2020-10-07 21:18] oalbacha commented on #2313
Hi,
Is this issue still open? I would like to contribute if it is.

[2020-10-07 22:25] aebirim commented on #2498
Hi @aditya-konarde, @jpkrohling

I'm an Outreachy applicant and would like to tackle this issue.

[2020-10-08 00:11] yurishkuro commented on #2313
Hi, sorry, I am closing this as invalid.

[2020-10-08 00:11] #2313 closed

[2020-10-08 00:12] yurishkuro commented on #2313
Please check other "good first issue" issues.

[2020-10-08 08:08] idohalevi opened #2540 "Search traces with non-string tags"
**Describe the bug**
When I search for traces with a tag that its value is not a string I get a 500 error. I found that the ES query contains a [regex](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-regexp-query.html) format query. It seems like this type of query can search for string values only and when I try to search for tags that have other values I get an error.
M

[2020-10-08 08:57] jpkrohling commented on #2493
@aebirim wants to work on this one as well.

[2020-10-08 09:00] gautaz commented on #412
Hello, also seeing this issue here.

What happens is that the UI receive a 200 status code with no JSON body from the server part.
The strange thing is that it seems caused by some particular spans.
When querying for spans other than these particular spans, the UI displays them gracefully.

Even if some spans are corrupted, shouldn't the server part at least return the valid ones to the UI?

[2020-10-08 09:08] jpkrohling commented on #412
Are you able to consistently reproduce it, @gautaz? If you can build a reproducer that can be used by us, we can try to take a look. Also, this seems to be somewhat different than the original report, so, I'd ask you to open a new issue.

[2020-10-08 09:11] albertteoh commented on #2540
I can look into this if there are no takers.

[2020-10-08 09:13] objectiser commented on #2540
@albertteoh All yours.

[2020-10-08 09:17] aditya-konarde commented on #2498
Sounds good. I haven't gotten the time to work on this yet, so please go ahead @aebirim :)

[2020-10-08 09:22] aebirim commented on #2498
Hi @aditya-konarde will do!

[2020-10-08 09:37] gautaz opened #2541 ""Unexpected end of JSON input" (empty body response from server)"
**Describe the bug**
What happens is that the UI receive a 200 status code with no JSON body from the server part.
The strange thing is that it seems caused by some particular spans.
When querying for spans other than these particular spans, the UI displays them gracefully.

I originally thought this was the same bug as #412.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https:/

[2020-10-08 09:39] gautaz commented on #412
@jpkrohling See #2541.
Thanks for your quick answer :-).

[2020-10-08 10:15] jpkrohling commented on #2541
@rubenvp8510 are you able to take a look at this one?

[2020-10-08 12:15] mcarbonneaux commented on #1438
hooo your backend use the native tcp protocol of clickhouse ?!

[2020-10-08 13:15] rubenvp8510 commented on #2541
@jpkrohling sure.

[2020-10-08 14:38] PankhudiB commented on #797
wanted to do a sanity before pushing. but i am getting error while running make cover. are there any prerequisites i need in my local

[2020-10-08 15:03] yurishkuro commented on #797
CONTRIBUTING.md should describe the required setup tests. Please post the error.

[2020-10-08 15:17] yurishkuro commented on #2541
docker-compose failed or me on MacOS with
[code]

[2020-10-08 15:22] rubenvp8510 commented on #2541
same for me on fedora.

[2020-10-08 15:26] rubenvp8510 commented on #2541
OK, after one more attempt I was able to reproduce this, I created a `.passwd` file on into` moleculer-tests` folder in order to make it works.

I'll take a look to see what the problem is.

[2020-10-08 15:34] jpkrohling commented on #2541
Wait, what? At least it's not your `/etc/shadow` :-)

[2020-10-08 15:36] rubenvp8510 commented on #2541
Hahahaha I know I know.. security first ;)

[2020-10-08 16:14] yurishkuro commented on #2541
Why are these passwd shenanigans are needed in the first place? Docker containers normally run without any of that.

[2020-10-08 19:53] linjmeyer opened #2543 "Cannot use rate limiting lower than 1 trace per second"
**Describe the bug**
Rate limiting sampler strategy param is an integer.  Setting a decimal param value does not work, forcing a minimum rate of 1 trace per second.

**To Reproduce**
Steps to reproduce the behavior:
1. Set a sampling strategy of "ratelimiting" with a param of "0.5" for a service
2. Make a GET call to the sampling endpoint (e.g. using curl), it will return `{"strategyType":"RATE_LI

[2020-10-08 20:02] yurishkuro commented on #2543
Unfortunately, the schema dictates an int:

https://github.com/jaegertracing/jaeger-idl/blob/52fb4c944067f7661e6a5fa23ba4c44c6f9c2923/thrift/sampling.thrift#L30

[2020-10-08 20:42] linjmeyer commented on #2543
I see, I didn't know that Thrift repo existed.  Could we convert this to a feature request or should I open a new one?

[2020-10-08 20:47] sf-eng opened #2544 "Allow viewing multiple trace results on a single timeline"
#1938  Requirement - what kind of business use case are you trying to solve?

Certain workflows that contact our system create high level call patterns.  In these patterns there may be several separate calls made across services.  Each are tagged with the same jaeger-debug-id as a trace id.  Since they are separate calls they result in separate traces which are related by the provided trace id.  I

[2020-10-08 21:28] yurishkuro commented on #2544
The current UI does not support this.

[2020-10-09 01:28] rubenvp8510 commented on #2541
@yurishkuro not sure, I think is because the program inside the container expects that file and if not found it exits with status 1. This is not usual though

[2020-10-09 03:02] jiangxinlingdu opened #2546 "why traceId more than ten million"
i search es dsl:

[code]

[code]
why traceId more than ten million ??? What should I do this problem?

[2020-10-09 04:01] yurishkuro commented on #2541
Which program? I highly doubt that nats or mongo or jaeger containers will depend on this file, and everything else is just part of this repository.

[2020-10-09 04:49] yurishkuro commented on #2493
@jpkrohling is delve needed to be in the image for this?

[2020-10-09 07:27] jpkrohling commented on #2493
Delve needs to be there, and the Jaeger binaries in the image should not be optimized, so that Delve can extract name and line information.

[2020-10-09 07:49] jpkrohling commented on #2543
Sorry if this is obvious, but why do you need to sample less than 1 trace per second? Do you have a huge number of endpoints?

[2020-10-09 07:50] jpkrohling commented on #2544
Sounds like a cool feature!

[2020-10-09 08:16] jpkrohling commented on #2452
@zigmund We released 1.20 some days ago. Would you be able to try it out?

[2020-10-09 09:32] idohalevi commented on #2540
Adding some more info. Looks like there was a PR for adding regex tag search for es and I believe that since then we use regex query for every tag we have.

This is the PR: https://github.com/jaegertracing/jaeger/pull/2049

The change from match to regex:
![image](https://user-images.githubusercontent.com/32218210/95567364-810e4680-0a2b-11eb-9208-ef138df19016.png)

[2020-10-09 10:44] GitWrld commented on #2546
please could you explain?

[2020-10-09 11:30] rubenvp8510 commented on #2541
it is because the docker-compose try to mount .passw file
[code]

Not sure how this works, so I can't tell you why the container needs this.

Regarding of the issue, it is because one of the tags contains a NaN value and go can't marshal it into JSON, https://github.com/golang/go/issues/3480

[2020-10-09 12:15] albertteoh commented on #2540
As discussed with @idohalevi offline, it looks like this is not a bug with Jaeger, but the root cause was because the "vanilla" [jaeger-span index definition](https://github.com/jaegertracing/jaeger/blob/600d023800b3be0d4ec03eaabe6c4a8764a03784/plugin/storage/es/mappings/jaeger-span.json#L19) wasn't used and instead, a custom index mapping is used.

This resulted in leaving ES to guess the best da

[2020-10-09 12:18] gautaz commented on #2541
Hello, sorry for the delayed response.

The password file is mounted because these are development containers using directly the services source code located on your host (from the cloned project).
If nothing was done, the `root` user would for instance be operating things like `npm install` and the result would be a bunch of files owned by `root` on your host filesystem inside the project.

Sorry

[2020-10-09 12:25] albertteoh commented on #2540
Ah please ignore, the [jaeger-span index definition](https://github.com/jaegertracing/jaeger/blob/600d023800b3be0d4ec03eaabe6c4a8764a03784/plugin/storage/es/mappings/jaeger-span.json#L19) already defined tags as `keyword` types, well before #2049; and I can see the benefits of regex searches are more useful than numeric aggregations.

[2020-10-09 13:13] idohalevi commented on #2540
@albertteoh thanks, I'll close the issue

[2020-10-09 13:13] #2540 closed

[2020-10-09 13:44] gautaz commented on #2541
@rubenvp8510 Looking at your latest comment regarding golang/go#3480, where does this failing marshaling step occur?

[2020-10-09 15:40] yurishkuro commented on #2543
We used <<1.0 rate quite a lot, because some API services have 1000s of instances, especially with event loop based languages where it's common to run one process per core. However, we used it for defaultLowerBoundTracesPerSecond, which is already a double.

https://github.com/jaegertracing/jaeger-idl/blob/52fb4c944067f7661e6a5fa23ba4c44c6f9c2923/thrift/sampling.thrift#L45

[2020-10-09 15:58] yurishkuro commented on #2541
@rubenvp8510
  * how does NaN get into the trace?
  * do we ignore marshaling errors, if this is causing empty response with 200 status code?

[2020-10-09 16:10] linjmeyer commented on #2543
We use Jaeger in almost all of our deployments, something like 500-800 containers running Jaeger. The higher being on the weekends typically when we see more traffic.  I think (up to) 800 traces per second is too high.  Even ignoring the scaling/storage costs, we just don't need that many as we don't have the head count to look at all that data.

[2020-10-09 16:21] rubenvp8510 commented on #2541
@gautaz It is failing when trying to write the JSON response,  https://github.com/jaegertracing/jaeger/blob/master/cmd/query/app/http_handler.go#L457, but is a tag that have the NaN value.

[code]

@yurishkuro
* not sure how that happens, I'll look in to this more closely.
* Yes , we are ignoring the marshal errors and it is causing the empty response with 200 status code. We could return a valid

[2020-10-09 16:46] yurishkuro commented on #2541
As a quick fix if marshal fails we should just return an error. Once we accepted the trace data into the backend, it should be serializable. The NaN case needs to be treated on ingestion, e.g. with a sanitizer that would replace numeric NaN tags with string/NaN.

[2020-10-09 17:00] yurishkuro commented on #2543
why don't you use probabilistic sampling?

[2020-10-09 17:39] yurishkuro commented on #2543
Upper-bound is not supported in the per-operation sampler because it breaks the ability to extrapolations full traffic measurements from the samples. But since Jaeger doesn't make use of those at the moment anyway, and if you don't care, then implementing the rate limiting upper bound sounds like a useful feature. For people who care about extrapolations, the upper bound can be an optional feature

[2020-10-09 19:24] jpkrohling commented on #2543
Got it, that's pretty much the only use-case I could think of.

In any case, is networking an issue for you? You can always down-sample (`--downsampling.ratio`) at the collector if your concern is only storage.

[2020-10-10 03:07] JasonChen86899 opened #2549 "Tail_base_sampling sample mode for agent and collector"
## Requirement - what kind of business use case are you trying to solve?

This is an introduction about **tail_base_sampling**. [Tail_base_sampling introduction](https://docs.newrelic.com/docs/understand-dependencies/distributed-tracing/get-started/how-new-relic-distributed-tracing-works#tail-based)
So just try to add  this mode for jaeger agent and collector. Jaeger and jaeger-client need be chan

[2020-10-10 04:20] yurishkuro commented on #2549
duplicate of #425

[2020-10-10 04:20] #2549 closed

[2020-10-10 07:07] #2412 closed

[2020-10-11 05:19] aebirim commented on #2498
Hi @jpkrohling I've uploaded the 41 images to the quay.io platform. Some of the latest tags didn't work so used the next most recent one.

I've sent you a message on gitter.

[2020-10-11 11:45] wscheele opened #2550 "jaeger-agent --reporter.grpc.tls.enabled=true fails on windows"
**Describe the bug**
Due to https://github.com/golang/go/issues/16736, the jaeger-agent is unable to setup a connection to a tls grpc reporter endpoint on windows.

Error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run jaeger-agent.exe with --reporter.grpc.tls.enabled=true

**Expected behavior**
It works

**Version (please complete the following information):**
 - OS: Win

[2020-10-12 04:03] zigmund commented on #2452
@jpkrohling checked 1.20 - same behavior as 1.19.2

[2020-10-12 07:28] jarifibrahim commented on #2130
@objectiser Badger v3 is planned to be released in late November.

[2020-10-12 07:49] jpkrohling commented on #2412
@kakaNo1 was it a problem on your side? I would appreciate if you could provide more information, as others might face this as well in the future :-)

[2020-10-12 07:50] jpkrohling commented on #2452
Thanks for the confirmation. I'm leaving this open, but unless there's new information, there's not much we can do to reproduce and finally fix this problem.

[2020-10-12 07:57] Sreevani871 commented on #1051
@yurishkuro Any progress on this?

[2020-10-12 07:58] objectiser commented on #2130
@jarifibrahim Thanks. Is the storage format backward compatible with v2?

[2020-10-12 08:01] jarifibrahim commented on #2130
Unfortunately no. All badger major versions are incompatible with each other since they have storage format change.

[2020-10-12 08:16] jpkrohling commented on #2498
@aebirim, ideally, we would push the images to both places during the release process. It's currently called during a Travis build here:

https://github.com/jaegertracing/jaeger/blob/0f88343172c0bb16ad5c1805d18e20d59176ea7e/.travis.yml#L73-L74

Take a look and see if you can follow what it's doing end-to-end, but I think you might need to change only two places:

1. `scripts/travis/upload-all-dock

[2020-10-12 08:59] Sreevani871 commented on #1051
To overcome frequent OOM kills of jaeger-query service (Due to traces having a large number of spans), we need to avoid fetching of all spans data of respective TopN traces. Here listing out the approaches we thought of to solve the issue.
we are using elasticsearch as span storage. Please review and share your feedback

**Approach - I:**
 Fetch summary of TopN traces instead of fetching all raw s

[2020-10-12 11:00] jpkrohling opened #2552 "Align help message with default values"
When looking at the help message for the collector, some flag descriptions are a bit confusing:

[code]

I would expect to see something like this:

[code]

This might also be happening with other ports.

[2020-10-12 11:45] tobiaskohlbau commented on #2552
As part of hacktoberfest I found your issue with issuehub and would like to send a PR for this. Please feel free to assign this issue to me.

[2020-10-12 11:56] jpkrohling commented on #2552
Assigned!

[2020-10-12 12:51] saivishalvangala commented on #814
Hi @albertteoh ,
The below are the screenshots of the outputs of curl for the endpoints mentioned:
![image](https://user-images.githubusercontent.com/55178712/95746587-a95ca600-0cb4-11eb-9e2f-1b821a878f5a.png)
![image](https://user-images.githubusercontent.com/55178712/95746592-ac579680-0cb4-11eb-92e9-301b7087a532.png)
I tried different service names but getting 404 not found.

One good news is th

[2020-10-12 16:29] #2552 closed

[2020-10-12 17:24] PankhudiB commented on #797
=== RUN   TestPanicFunc
2020-10-12T22:51:09.032+0530	PANIC	consumer/deadlock_detector.go:71	No messages processed in the last check interval	{"partition": 1, "stack": "goroutine 54 [running]:\ngithub.com/jaegertracing/jaeger/cmd/ingester/app/consumer.newDeadlockDetector.func1(0x1)\n\t/Users/pankhubh/oss/jaeger/cmd/ingester/app/consumer/deadlock_detector.go:73 +0x292\ngithub.com/jaegertracing/jaege

[2020-10-12 18:40] yurishkuro opened #2555 "Consolidate local and CI tests"
Just discovered in #2554 that OTEL tests were not even invoked in CI, because they were only added to `test` target, but not to `test-ci`.

We should really rethink how testing is set up, there should not be this divergence between local and CI testing. It's ok to have a more granular `test` target that does not run all the linters and such, but it should be used by test-ci somehow.

[2020-10-12 21:07] yurishkuro commented on #797
yeah, this test is know to be unstable, there's an open ticket for it #1314. If you rerun the tests it usually passes.

[2020-10-12 21:08] yurishkuro commented on #1314
@albertteoh @joe-elliott @annanay25 is anyone interested in trying to fix this test? It's been failing close to 50% of the time. I almost rage-t.Skipped it today, but it's kind of a critical test for the module.

[2020-10-12 22:51] yurishkuro commented on #1051
That's a very astute observation, since DDG is built entirely by the UI and requires loading all spans of the trace (but not all data in the spans).

A more flexible variation of approach 2 is to build support for GraphQL. It's going to be difficult to support partial field retrieval at the storage level (some storage implementations may only allow retrieving the whole trace as a blob), so the who

[2020-10-13 01:30] albertteoh commented on #1314
I can give this a go if there are no takers.

[2020-10-13 07:28] yurishkuro opened #2556 "Finish implementing trace anonymizer"
## Requirement - what kind of business use case are you trying to solve?

Allow people to safely export production traces into GitHub tickets (as a way of reproducing problems, especially with the UI) without exposing sensitive information.

## Problem - what in Jaeger blocks you from solving the requirement?

The anonymizer is partially implemented.

## Proposal - what do you suggest to solve the

[2020-10-13 07:57] yurishkuro opened #2557 "[vote] Promote joe-elliott to maintainer"
@jaegertracing/jaeger-maintainers

[2020-10-13 07:58] yurishkuro commented on #2557
+1

[2020-10-13 08:01] pavolloffay commented on #2557
+1

[2020-10-13 08:03] jpkrohling commented on #2557
+1

[2020-10-13 08:05] objectiser commented on #2557
+1

[2020-10-13 13:18] linjmeyer commented on #2543
I'd rather avoid dropping spans on the collector if possible.  We log the Trace ID on each service if it is sampled.  Our devs know if they see an error or log message in Loki with a TraceID, they can go to Jaeger and look at the exact request.  If we are downsampling we lose the ability to accurately do that as the client doesn't know the collector dropped the trace.

[2020-10-13 16:25] yurishkuro commented on #2557
4 votes out of 7, the motion passes. Congratulations, @joe-elliott !  🎉 🎉 🎉

[2020-10-13 16:30] joe-elliott commented on #2557
Thank you all :).  Excited to continue working with Jaeger and the community!

[2020-10-13 16:43] #2015 closed

[2020-10-13 19:53] PankhudiB commented on #797
Okay. I have raised a PR : https://github.com/jaegertracing/jaeger/pull/2560
can you please have a look at it

[2020-10-13 20:54] erohini commented on #2121
I have the same issue, Can someone help me what needs to be done to resolve the issue?

[2020-10-13 22:28] rleiwang commented on #1529
This is just an other option in addition to logging solution, attach debugger to a running gRPC plugin:

1. build plugin with additional debug info
[code]
2. start Jaeger
[code]
 3. attach dlv to running plugin
[code]
or
use the script https://github.com/chronowave/opentelemetry/blob/main/scripts/debug-plugin.sh I added

[2020-10-14 01:37] joe-elliott commented on #2121
Generally this error simply means a span did not make it to the backend.  Spans could be dropped at numerous locations between your client and the actual backend.  These articles may help:

https://medium.com/jaegertracing/where-did-all-my-spans-go-a-guide-to-diagnosing-dropped-spans-in-jaeger-10d9697f8182
https://www.jaegertracing.io/docs/1.20/performance-tuning/

[2020-10-14 04:49] albertteoh commented on #814
A service name of "example-app-jaeger" with operation "getHi" looks correct to me.

Curious, how many calls to "getHi" are you making and how many traces are you seeing (I know you're expecting 0 traces)?

Reason for asking is, when running this locally with a simple Go app (tracegen), with 0 probability of sampling at both the service level and operation level, interestingly, I'm seeing at least

[2020-10-14 07:37] jpkrohling opened #2561 "Enhance mergify with maintainer's interests"
@jaegertracing/jaeger-maintainers , Mergify was enabled for this repository and I added a base configuration file:

https://github.com/jaegertracing/jaeger/blob/720dd9db01fadf0e58113f66eda504ad764a0566/.github/mergify.yml

Please, enhance it with your interests!

[2020-10-14 08:43] saivishalvangala commented on #814
Hi @albertteoh
I am getting as many traces as my calls. As per you atmost it should give 1 or 2 traces and ignore the next traces, but this is not happening.

I have one more issue. As I explained to you earlier:
I installed the jaeger instance of the "with-sampling" name in the "jaeger-operator" namespace. I deployed 2 applications, one in the same namespace as the Jaeger instance and the other i

[2020-10-14 15:16] #797 closed

[2020-10-15 00:27] Kerptastic commented on #1678
Hey guys - I am seeing some of the same issues. On v.1.19 right now, so will try to do the upgrade. But much like some of the folks are seeing. I am using the `jaeger-operator`, have the HPA setup for min/max of 2/10, and when CPU gets hammered during our bot/soak tests the collectors scale up as expected, but the agent connections continue to fire spans down their already existing connections. So

[2020-10-15 05:42] parberge commented on #1678
Haven't upgraded yet 😑

Den tors 15 okt. 2020 02:27Josh Kierpiec <notifications@github.com> skrev:

[2020-10-15 07:21] jpkrohling commented on #1678
Feel free to reopen this issue you see the same problem happening on v1.20.

[2020-10-15 09:49] objectiser opened #2563 "Enable OTLP port to be configurable via CLI flags"
## Requirement - what kind of business use case are you trying to solve?

Allow users to change the port (currently 13133) used for the OTLP endpoint in the Jaeger OpenTelemetry Collector and Agent.

## Problem - what in Jaeger blocks you from solving the requirement?

Currently other protocol endpoints can have their ports changed via CLI flags - but the OTLP port is fixed.

## Proposal - what do

[2020-10-15 10:14] rajugpt6-coder opened #2564 "Jaeger Collector Kafka Bug"
I have configured all the environment variables for jaeger-collector with kafka. But the jaeger collector is not pushing data to the kafka topic.

Tried command to read data from kafka topic: bin/kafka-console-consumer.sh --topic logs --from-beginning --bootstrap-server localhost:9092

Jaeger collector command: docker run \
  -e SPAN_STORAGE_TYPE=kafka \
  -e KAFKA_PRODUCER_BROKERS=localhost:9092

[2020-10-15 11:15] omerfsen commented on #2465
Is there an ETA for `jaegertracing/jaeger-operator` that supports 1.20 ?

[2020-10-15 11:24] albertteoh commented on #2564
@rajugpt6-coder, can you please share the log output from jaeger-collector and jaeger-agent?

[2020-10-15 11:50] albertteoh commented on #2564
BTW, try replacing `KAFKA_TOPIC` with `KAFKA_PRODUCER_TOPIC` (https://www.jaegertracing.io/docs/1.20/deployment/#kafka).

[2020-10-15 12:01] saivishalvangala commented on #814
Hi @albertteoh,

I made around 8 calls and I got 8 traces in Jaeger. If I observe sampler.type and sampler.param in the span of each trace, I am seeing service_strategy sampling configurations but not of operation_strategy.
![image](https://user-images.githubusercontent.com/55178712/96119149-2af94180-0f0a-11eb-913e-7da8dd671e87.png)
![image](https://user-images.githubusercontent.com/55178712/96119

[2020-10-15 12:02] DjinNO commented on #638
What about ClickHouse? Clickhouse is very cool

[2020-10-15 12:04] jpkrohling commented on #2465
Probably something to raise in the Helm Chart repo: https://github.com/jaegertracing/helm-charts/issues/new

[2020-10-15 12:08] jpkrohling opened #2565 "Agent exporting directly to storage in OpenTelemetry distribution, all-in-one binary"
While testing the authentication support for Jaeger as part of the multi-tenancy PoC, I realized that the agent in the all-in-one isn't making a gRPC connection to the collector, instead exporting spans directly to the storage exporter.

While I think this probably makes sense, I'm afraid this might be a breaking change, especially because it won't consider the collector queue settings when proces

[2020-10-15 12:08] jpkrohling commented on #2565
I guess it's a question for you, @pavolloffay :-)

[2020-10-15 12:09] jpkrohling commented on #638
It's already linked in the issue's description, but here's the tracking issue for it: #1438

[2020-10-15 12:15] jpkrohling opened #2566 "Cannot start agent and collector on the same machine (OpenTelemetry distribution)"
When trying to start both the collector and the agent on the same machine, the second component to start hangs without failing:

[code]

Once #2563 is addressed, this won't be such a big problem, as the port can then be overridden.

[2020-10-15 12:23] jpkrohling opened #2567 "Duplicate components are being built twice in OpenTelemetry distribution"
Currently, the Jaeger OpenTelemetry distribution uses the default components from the main OpenTelemetry Collector, making some factories to be called twice, such as the Jaeger Receiver, Exporter and Zipkin Receiver:

https://github.com/jaegertracing/jaeger/blob/bd59f13478cdd35b41e85f67a6f04b6cb4d92df8/cmd/opentelemetry/app/defaultcomponents/defaults.go#L76

https://github.com/jaegertracing/jaeger

[2020-10-15 13:14] jpkrohling commented on #2546
@jiangxinlingdu, I'm not quite sure what's your concern or your question, would you mind expanding on that?

[2020-10-15 13:15] joe-elliott commented on #2563
To give some history.

- Generally we haven't added any additional flags for otel and all the cli flags are pulled from the existing Jaeger agent and collector. @pavolloffay may be able to add more here for the reasoning behind it.
- The otlp port should be currently overridable by using the otel config file param.
- For setting individual otel fields via the cli the plan was to use a [set param](

[2020-10-15 13:18] jpkrohling opened #2568 "Agent on OpenTelemetry distribution is started with collector"
**Describe the bug**
The Jaeger Agent in the OpenTelemetry distribution is currently embedding a collector

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Only the UDP receivers should be enabled, and only the Jaeger exporter would be enabled. At most, the OTLP exporter would be enabled as well.

[2020-10-15 13:39] objectiser commented on #2563
Ok thanks @joe-elliott.

@jpkrohling I guess we could just detect/extract the overridden port from the OTel Config in the operator's CR and use that to adjust the collector/agent deployments?

[2020-10-15 13:51] Ashmita152 commented on #2556
Hi @yurishkuro @jpkrohling may I pick and try solving this issue as two PRs for the two parts.

[2020-10-15 15:06] jpkrohling commented on #2563
Would we then end up having both flags (Jaeger) and a configuration file (OpenTelemetry Collector)?

[2020-10-15 15:15] jpkrohling commented on #2556
It's yours!

[2020-10-15 15:44] sf-eng commented on #2544
The technique has been indispensable these past weeks while performance tuning some complicated call patterns.

[2020-10-15 18:23] joe-elliott commented on #2563
Yes, it can be currently configured using a mix of Jaeger cli, Jaeger config file and an Otel Config file.  The application attempts to merge all 3 sources into one.

It can also be fully configured by only specifying an otel collector configuration file.  Perhaps we should document an end goal and begin working towards that?

[2020-10-15 18:53] Kerptastic commented on #1678
Hi folks, unfortunately I see the same behavior as before. Running 1.20.0 container and agent (see below) via jaeger-operator.

Execute our bots firing off spans/traces and can observe the following in our graphs. You can see below we scaled to 4 collector instances, but the agents have no knowledge that they should reconnect and continue to saturate the collectors they are already connected to. T

[2020-10-15 19:24] jpkrohling commented on #1678
I'll check what we can do, but I think the gRPC client might need some time to update the list of backends. In earlier versions, it would update only if all known backends were failing.

[2020-10-15 19:27] SezalAgrawal commented on #1657
Is this issue resolved?

[2020-10-15 19:29] Kerptastic commented on #1678
OK - I am letting this soak. This may be something unique to how our bots are running also, as they are being spun up asynchronously in a single service, so would make sense that it would overload a single agent. Is the agent designed to have a single connection to a collector at a given point in time? If thats the case, this MAY be OK for us in production when we have bots replaced with real traf

[2020-10-15 19:45] jpkrohling commented on #1678
I'd have to double-check with the gRPC client load balancer documentation, but I think that's indeed the case. The agent has a list of backends, but will only failover once its "current" backend fails.

[2020-10-15 20:06] Vemmy124 commented on #2163
Hey! I have implemented unmarshalling OTLP from protobuf https://github.com/open-telemetry/opentelemetry-collector/pull/1948 (marshalling was already implemented), so it's now possible to use OTLP directly for in-memory and badger. Just need a new version of collector with my PR

[2020-10-15 20:30] Vemmy124 commented on #2130
@jarifibrahim Hey! I see one problem, which appeared in v2, is now present and would cause panics in current jaeger adaption.

For custom Valid function on iterator on View here is used `it.Item() != nil`. It is done here https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/badger/spanstore/reader.go#L623. But due to changes, nil internal item causes panic in v2 https://github.com/dg

[2020-10-15 23:24] albertteoh opened #2572 "Simplify contributing.md"
This proposal is motivated by a PR comment originally posted by @yurishkuro in https://github.com/jaegertracing/jaeger/pull/2548#discussion_r502507111.

## Requirement - what kind of business use case are you trying to solve?

- Bring back the explanation of what `make build-ui` does under the hood, which contains valuable information for contributors.
- Reduce the number of manual steps required

[2020-10-16 00:32] yurishkuro commented on #2572
I can answer this one: `build-ui` is incredibly expensive to run, takes several minutes, and is actually rarely needed unless it's part of the CI run. If the target itself was sensitive to changes in the `jaeger-ui` directory, then it would probably be ok to add it as dependency in many places.

[2020-10-16 00:35] yurishkuro commented on #2572
I am not in favor of this. A target that _verifies_ that jaeger-ui submodule has been initialized would be preferable. Doing a forced update makes it difficult to test small UI changes where the submodule may not be on the committed version.

[2020-10-16 00:39] yurishkuro commented on #2572
afaik they were _not_ prerequisites, but just included under "how to build UI" sections.

I think it generally validates that the local environment is properly set up. After all we're talking about _contributing_ to Jaeger, if someone can't run 'make test' for whatever reason, they are probably not ready to contribute (we do not want to encourage using Travis for testing little fixes). For compari

[2020-10-16 00:39] yurishkuro commented on #2572
+1 on most suggestions.

[2020-10-16 02:54] yurishkuro commented on #814
I would verify that the strategy returned by the agent (curl the corresponding endpoint) for your service matches your expectation.

What you describe about GET/POST is very odd behavior. Sampling does not look at http methods, it only looks at the root span name as a proxy for the endpoint name. So unless you're putting GET as span name (which didn't look like from your example), the strategy wit

[2020-10-16 02:57] yurishkuro commented on #2566
odd, since when port is in use you normally get an error and the binary should exit with it

[2020-10-16 03:00] yurishkuro commented on #1657
It is not, see the checklist in the description.

[2020-10-16 05:28] rajugpt6-coder commented on #2564
Thanks it works!

[2020-10-16 05:28] #2564 closed

[2020-10-16 07:02] JasonChen86899 commented on #425
Are there any updates on "aggregating collectors" or just use OpenTelemetry Collector? I have just added this function based on master branch including client lib. I don’t know if I did repetitive work. Thx

[2020-10-16 07:08] kakaNo1 commented on #2412
collector
docker run -d --name jaeger-collector --rm  -e ES_USE_ALIASES=true -e SPAN_STORAGE_TYPE=elasticsearch -e ES_SERVER_URLS=http://xxxxx:9200 -p 14267:14267 -p 14268:14268 -p 9411:9411 jaegertracing/jaeger-collector:1.17

query
docker run -d --name jaeger-query --rm  -e ES_USE_ALIASES=true -e SPAN_STORAGE_TYPE=elasticsearch -e ES_SERVER_URLS=http://xxxxx:9200 -p 16686:16686/tcp jaegertracing

[2020-10-16 07:28] jpkrohling commented on #425
I'll let @vprithvi share an update on this side of the game, but from OpenTelemetry's side, we are very close to getting all the pieces for a scalable tail-based sampling. The final piece is probably this:

https://github.com/open-telemetry/opentelemetry-collector/issues/1724

[2020-10-16 08:10] morlay commented on #2498
could we push github contrainer registry `ghcr.io/jaegertracing/*` too?

[2020-10-16 09:41] JasonChen86899 commented on #425
Yeah, great! A good design for tail-based sampling. I designed another implementation without a loader balancer. Record upstream and downstream ips that bound with span tags

[2020-10-16 10:04] jarifibrahim commented on #2130
@Vemmy124 You can use `item.Valid()` or `item.ValidForPrefix()` https://github.com/dgraph-io/badger/blob/d24777861adf1ec7185eeb034781590c03f3ef6a/iterator.go#L474-L488

[2020-10-16 13:23] vprithvi commented on #425
@JasonChen86899  @jpkrohling - unfortunately no new development has been happening on Jaeger at Uber since late March. We were able to get a proof of concept running before then which assumes that it is running on Uber infra, so it's unlikely to be open sourced.

[2020-10-16 19:09] jpkrohling commented on #2566
That'd be my expectation too.

[2020-10-17 12:27] albertteoh commented on #1314
### Key Observations

**Success Runs**
Analysis of a successful Sarama test run shows the pattern:

1. Error handler started
2. Error handler finished
3. Partition consumer closed
4. All partitions deadlock detector closed
5. Parent consumer closed

Example:
[code]

**Failed Runs**
Analysis of two failed Sarama test runs ([here](https://github.com/jaegertracing/jaeger/issues/1314#issuecomment-6268

[2020-10-17 12:59] albertteoh commented on #1314
### Root Cause Hypothesis

The following describes the failure case:

0. Test starts and [consumer.Start()](https://github.com/jaegertracing/jaeger/blob/5ed586c114152dfdb9f9643b9303fd40d45cc6e5/cmd/ingester/app/consumer/consumer_test.go#L151) is called.

1. Each partition consumer is [initialised with a WaitGroup of 2](https://github.com/jaegertracing/jaeger/blob/404ce68ad033ffaccda063014a60978349

[2020-10-17 13:14] albertteoh commented on #1314
### Reproducing the error

Place a sleep between the [message and error handler go routines](https://github.com/jaegertracing/jaeger/blob/404ce68ad033ffaccda063014a60978349f015c8/cmd/ingester/app/consumer/consumer.go#L92). That is:
[code]

[2020-10-17 13:35] albertteoh commented on #1314
### Proposed Solution

- Introduce a binary semaphore to the [Consumer](https://github.com/jaegertracing/jaeger/blob/404ce68ad033ffaccda063014a60978349f015c8/cmd/ingester/app/consumer/consumer.go#L40): `errorHandlerStarted *atomic.Bool`, which is initialised to `false` at construction.
- Set this semaphore to `true` _after_ we know the error handler has acquired then released the lock and _before_

[2020-10-17 16:42] yurishkuro commented on #1314
Agree that more sleeps won't solve the issue - VMs in Travis are unpredictable and may hang for longer than a reasonable sleep interval. Too long sleeps slow down tests.

It's great that you found a way to reproduce. It actually points to another possible solution - use a single goroutine for listening to all 3 channels (msgs, errors, and deadlock detector). Based on your analysis it sounds like i

[2020-10-17 19:55] albertteoh commented on #1314
Thanks, @yurishkuro.I think that's a much more elegant solution!

[2020-10-17 20:16] yurishkuro commented on #2498
I don't mind having images pushed to more than one places, but it would be better to do it asynchronously, i.e. our build does a push to a single place (Docker Hub) other repositories sync from there. Adding more pushes to the main build will only make it less reliable.

[2020-10-17 21:04] yurishkuro commented on #814
@saivishalvangala what you're describing is physically impossible, Jaeger samplers do not even have access to tags on the span, they only have access to operation name. Consider providing a reliable reproducer if you want us to investigate. The example you linked (https://github.com/saivishalvangala/jaeger-sampling) does not build for me, and is using a `const` sampler, for which the external samp

[2020-10-17 21:12] Vemmy124 commented on #2130
Do you suggest using `iter.ValidForPrefix("")` to check if the underlying item is nil (empty prefix as a hack to make `HasPrefix` function returning always true, which allows to determine if item is nil or not)? Isn't it overkill? Otherwise I cannot determine whether false result of `Valid()` is obtained via nil item or invalid prefix.

[2020-10-18 02:32] jkowall opened #2574 "Discussion for Aggregated Trace Metrics (ATM)"
# Requirement - what kind of business use case are you trying to solve?

We are trying to build a way to aggregate traces into metrics for operational use cases you often see in monitoring requirements.

## Problem - what in Jaeger blocks you from solving the requirement?

There is no current feature to do this.

## Proposal - what do you suggest to solve the problem or improve the existing situat

[2020-10-18 17:26] yurishkuro commented on #2574
Correction: I suggested it to be in the Jaeger collector, not necessarily in the OTEL project.

The reason for collector is because it is the closest backend component to the source of data. In an architecture that supports tail-based sampling, for example, the collectors have access to highest fidelity / least sampled data, compared to all other stages of the backend processing. Building this on

[2020-10-19 06:37] erezo9 opened #2575 "Elastic search permissions"
Hi,
We are using a centralized elastic search deployment
we would like to give jaeger a user with sufficient permission but couldn't find any documentation on what permission jaeger needs
Is there a documentation or knowledge what's needed?

[2020-10-19 07:49] jarifibrahim commented on #2130
@Vemmy124 `iter.ValidForPrefix("")` won't be an overkill if the `item == nil`. The `ValidForPrefix` function will check if the item is nil and then check for the prefix https://github.com/dgraph-io/badger/blob/d24777861adf1ec7185eeb034781590c03f3ef6a/iterator.go#L486-L488

If `item.Valid()` returns false, `item.ValidForPrefix` will also return false.

If you want to check if the item is valid here

[2020-10-19 08:18] jpkrohling commented on #2498
Do you know what can be used to do this? I don't remember seeing sync to/from Quay/GitHub/Docker.

[2020-10-19 08:20] jpkrohling commented on #2574
My thoughts exactly: the processor can just capture the metrics based on the traces from the pipeline and export them as metrics data points.

[2020-10-19 09:37] jpkrohling opened #2576 "Agent can't be stopped when traces are in flight"
**Describe the bug**
When the agent can't send a trace to the collector, the shutdown procedure gets blocked indefinitely.
Probably related to open-telemetry/opentelemetry-collector#1192.

**To Reproduce**
Steps to reproduce the behavior:
1. start a collector
1. start the agent like from #2570 (with an invalid token)
1. send a trace
1. ensure that the collector didn't receive the data
1. shutdown

[2020-10-19 09:38] jpkrohling commented on #2576
It eventually does shut down, after 5m:

[code]

[2020-10-19 09:40] jpkrohling commented on #2576
Example of a shutdown with an empty in-flight queue:

[code]

[2020-10-19 09:43] jpkrohling commented on #1678
@jkandasa do you remember from your load-tests what's the expected behavior here?

[2020-10-19 10:03] albertteoh commented on #2574
I tried to draw this up:
[code]

I like this because it's very simple and we should be able to get something working pretty quickly with the existing OTEL Collector design. It's certainly feasible, especially (as @yurishkuro mentioned) that extracting metrics from spans is lightweight and the network serde and I/O could be done out of band in a seperate goroutine, taking the cost away from the tra

[2020-10-19 10:25] jpkrohling commented on #2574
I think that the definition in the readme has only the case of processors acting on data of the same type. Using traces to generate metrics is acceptable, IMO, but you might want to explicitly ask in the Collector SIG.

I had a similar concern with the [routingprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/processor/routingprocessor) and with the [loadbala

[2020-10-19 12:23] alanisaac commented on #2304
This looks like a [common PowerShell error](https://stackoverflow.com/questions/24156451/powershell-the-term-is-not-recognized-as-cmdlet-function-script-file-or-operable) to me.  If you're running `jaeger-all-in-one.exe` and seeing this error, try prefixing it with `./`:

[code]

Just to make sure, I pulled down the [1.18.1 release](https://github.com/jaegertracing/jaeger/releases/tag/v1.18.1) for

[2020-10-19 12:40] joe-elliott commented on #2574
Given the volume of metrics that could be created I think that Prometheus remote_write would be the right choice here over exposing a page to scrape.  remote_write is well supported amongst tsdb backends and so it would give users options for where to store their data.

[2020-10-19 13:17] jkowall commented on #2574
The downside is that we can't remote_write into prometheus itself, or maybe we can and I am just not aware of it. In order to process real-time metrics (ie alertmanager) you'd want to scrape as part of your pipeline to ingest. I could see both methods being valid for users depending on their specific requirements.

If we want to use these metrics inside the Jaeger UI we also need to build a servic

[2020-10-19 13:55] jpkrohling commented on #2574
Why not export to OTLP metrics, and let users configure their exporters the way they need it?

[2020-10-20 00:48] yurishkuro opened #2577 "Data race in unit test"
This might be flaky behavior as well, I haven't seen this one before. It failed master build.

https://travis-ci.org/github/jaegertracing/jaeger/jobs/735758903
[code]

cc @albertteoh

[2020-10-20 05:50] #2572 closed

[2020-10-20 06:09] XSAM opened #2579 "Jaeger Opentelemetry Ingester cannot correctly handle `kafka.consumer.encoding` flag"
**Describe the bug**
Jaeger Opentelemetry Ingester cannot correctly handle `kafka.consumer.encoding` when its value is `zipkin-thrift`. Also, the flag not accept the `otlp-proto` as value even Ingester's Kafka implementation is from OTel.

**To Reproduce**
1. Check helper
[code]

2. Use `zipkin-thrift` as encoding value

[code]

**Expected behavior**
Accept `zipkin-thrift` or `otlp-proto`as its va

[2020-10-20 06:53] Sreevani871 commented on #1051
Using _json.Unmarshal()_ func instead of _json.Decode()_ func here  https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/es/spanstore/reader.go#L233 shows improvement on memory usage because json.Decode() func is buffering entire json value in memory again. Since here the data passed to unmarshalJSON() method is already in memory so using json.Unmarshal() is improving performance in

[2020-10-20 09:56] Cogniser commented on #1489
Hi,
Could you please help me how to use this configuration in my jaeger deployment, currently my ES index format is `jaeger-span-2020-10-20`, i want to make it as `jaeger-span-2020.10.20` (with dot separator) so that our cronjob can clean them periodically.
I have deployed jager in Kubernetes using Jaeger Operator
This is the image details extracted from jaeger collector pod description.
**Image:

[2020-10-20 10:46] #2493 closed

[2020-10-20 12:06] saivishalvangala commented on #814
Hi @yurishkuro,

In the (https://github.com/saivishalvangala/jaeger-sampling) please use deployment.yaml which has sampling configurations as `remote`, not deployment1.yaml to reproduce the issue which I described.
I added an executable jar in a zip folder `Jar.zip` in the same repository. I changed versions of the dependencies that I am using. Try once again to build the code and if fails still,

[2020-10-20 12:26] joe-elliott commented on #2579
Can the otlp kafka exporter handle `zipkin-thrift`?  The [docs](https://github.com/open-telemetry/opentelemetry-collector/tree/master/exporter/kafkaexporter) don't indicate that it can and I would expect to see it [added here](https://github.com/open-telemetry/opentelemetry-collector/blob/master/exporter/kafkaexporter/marshaller.go#L36) if it could.

The decision to not accept `otlp-proto` was mad

[2020-10-20 17:35] yurishkuro commented on #814
@saivishalvangala  I don't need the deployment or a jar, I need to be able to compile and run the code from source, otherwise I cannot investigate.

[2020-10-20 23:12] jkowall commented on #2574
@yurishkuro I was under the impression that the Jaeger collector would be replaced by the Otel Collector hence we should be focusing efforts on Otel vs Jaeger.

Based on this discussion we should look at Otel and utilize OTLP to create metrics which can then be sent to any backend. (thanks for the great advice @jpkrohling). We just need to determine how to use this data within Jaeger UI eventually

[2020-10-20 23:39] yurishkuro commented on #2574
Yes and no. Jaeger collector will be _based_ on OTEL Collector, but I think it will always remain a custom build, especially because it includes implementations of direct-to-db exporters.

[2020-10-21 03:41] albertteoh opened #2581 "OTEL all-in-one `--help` hangs"
**Describe the bug**
May be related to #2566.

Running `go run ./cmd/all-in-one --help` prints help documentation, but appears to hang afterwards.

**To Reproduce**
Steps to reproduce the behavior:
1. `cd cmd/opentelemetry`
2. `go run ./cmd/all-in-one --help`

Output:
[code]

**Expected behavior**
Print help documentation and exit successfully.

**Screenshots**

**Version (please complete the foll

[2020-10-21 05:46] blessengeorge opened #2582 "Missing supporting library github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger/options: Unable to install Jaeger Agent from Github repo"
**Describe the bug**
I have git cloned the repo and placed the code into $GOPATH/src folder. Ran
`go get -v -d ./...` in order to install all the dependencies but facing the following error:

`github.com/grpc-ecosystem/grpc-gateway (download)
package github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger/options: cannot find package "github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger/opt

[2020-10-21 05:53] yurishkuro commented on #2582
This repo is using go modules, there is no need to put it under $GOPATH/src or to install dependencies (and the above wouldn't be the way anyway). Please refer to CONTRIBUTING.md for setup instructions.

[2020-10-21 05:53] #2582 closed

[2020-10-21 06:59] saivishalvangala commented on #814
@yurishkuro please try to compile and run the code now. It will work for you.

[2020-10-21 07:54] blessengeorge commented on #2582
Thanks Yuri - I have gone over the document CONTRIBUTING.md

I'm trying to create a Dockerfile using just the Jaeger Agent. Can you help me with the steps to go about it ?

[2020-10-21 08:01] jpkrohling commented on #2582
Are you trying to add the Jaeger Agent to your own image? You can either base your container image on the Jaeger Agent's ([`jaegertracing/jaeger-agent`](https://hub.docker.com/repository/docker/jaegertracing/jaeger-agent)), or download a binary from our releases page ([v1.20.0](https://github.com/jaegertracing/jaeger/releases/tag/v1.20.0)).

[2020-10-21 08:06] blessengeorge commented on #2582
Yes that is correct. Great will try out these suggestions thanks!

[2020-10-21 09:41] albertteoh commented on #2574
@jpkrohling, for my understanding, why specifically OTLP metrics?

Could these metrics, theoretically, be shipped in any other format (opencensus, prometheus, etc.) so long as there is an [OTEL receiver](https://github.com/open-telemetry/opentelemetry-collector/tree/master/receiver) available to accept this data and normalise it to the OTEL metrics data model, then users can, as you say, configure

[2020-10-21 09:59] pavolloffay commented on #2575
Please have a look here https://github.com/jaegertracing/jaeger/issues/1691.

I am closing this as it is a duplicate.

[2020-10-21 09:59] #2575 closed

[2020-10-21 10:31] jpkrohling commented on #2574
The `otlp` receiver is more likely to exist in an OpenTelemetry Collector than other receivers. And if it's not there, I think it's more reasonable to require it to exist than, say, the OpenCensus receiver.

[2020-10-21 11:54] XSAM commented on #2579
I'm using OTel and Jaeger at the same time.

Here is the flow: OTel Agent -> OTel Collector -> Kafka -> Jaeger OTel Ingester -> Cassandra.

I am using the Jaeger OTel Ingester because no other ingester/collector can resolve `otlp_proto` and put data into Cassandra, which can read by Jeager Query. I also believe the Jaeger OTel Ingester should accept `otlp-proto` since it is an ingester that serves

[2020-10-21 12:48] oalbacha commented on #2136
Hi, Can I help you with this issue? I am coming through the Outreachy program

[2020-10-21 12:58] jpkrohling commented on #2136
Sorry, this is done already and this issue should have been closed. If you can't find another suitable issue to work on, let me know.

[2020-10-21 12:58] #2136 closed

[2020-10-21 13:07] oalbacha commented on #2136
Hi Juraci,
Thank you for your response,
Please help me to find an issue good first issues and documentation issues
are welcome.

On Wed, 21 Oct 2020 at 4:58 pm, Juraci Paixão Kröhling <
notifications@github.com> wrote:

--
Regards,
Omar

[2020-10-21 15:08] jpkrohling commented on #2136
I'll ping you directly on the proposed issue(s).

[2020-10-21 20:42] yurishkuro commented on #814
I am getting the same error:
`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project example-app: Compilation failure: Compilation failure:
[ERROR] /Users/ysh/dev/saivishalvangala/jaeger-sampling/src/main/java/com/cgi/ogs/exampleapp/trace/TraceAspect2.java:[4,24] package org.aspectj.lang does not exist
[ERROR] /Users/ysh/dev/saivishal

[2020-10-22 03:35] JasonChen86899 commented on #425
@vprithvi - have done some changes on about tail-based.hope your suggestions
jaeger: https://github.com/JasonChen86899/jaeger/tree/tail_based_sampling
jaeger-client-go: https://github.com/JasonChen86899/jaeger-client-go/tree/tail_based_sampling

[2020-10-22 03:46] yurishkuro commented on #425
@JasonChen86899 could you outline the changes?

[2020-10-22 17:09] yurishkuro commented on #2116
@jpkrohling should this be closed? It seems #2545 made a switch to alpine even for non-debug images.

[2020-10-22 18:55] goku321 commented on #2420
Why are we subtracting 24 here?
https://github.com/jaegertracing/jaeger/blob/66d0d20b98126c59ce687f4d6ccfe7c28e0fc4f1/plugin/storage/es/spanstore/reader.go#L179

[2020-10-22 19:44] #2116 closed

[2020-10-22 23:29] yurishkuro commented on #2420
I assume because indices are expected to be daily

[2020-10-23 03:24] CodeBlanch opened #2584 "Question: span.kind & peer.service"
I have an instrumented service calling a third party service. If I set span.kind = client & peer.service = service_name on the outgoing span should Jaeger UI treat that span as a dependency with its own color?

![image](https://user-images.githubusercontent.com/28367120/96952206-25b86b80-14a3-11eb-9db7-a0d8fc16c654.png)

It seems to treat it as internal, parent and child have the same service colo

[2020-10-23 04:10] JasonChen86899 commented on #425
1. jaeger-client-go:
 a. Add functions which handle with span tags with rpc error or other inner error or http status=5xx
 b. Add functions which baggage upstream ip and downstream ip.
 c. Update report span process. When span finished, check tags and baggages, then send to agent
2.jaeger:
 a. Update agent process. When tags has special value, then push to collector otherwise put into buffer maint

[2020-10-23 06:31] chlunde commented on #1742
@radekg what solution were you thinking about?

I'm wondering if it would be best to simply crash/exit with an error code, so k8s/systemd would restart jaeger and normal alerting would detect the issue.
* We would know that nothing is left behind after the crash, the state would be clean
* We do not have to think about backoff, delay, metrics or anything like that

On the other hand, since the plu

[2020-10-23 07:40] jpkrohling commented on #2584
The color is defined based on the process' service name, not on tag values for a specific tag key.

![image](https://user-images.githubusercontent.com/13387/96970274-b890ee80-1513-11eb-963f-fa420901ae1e.png)

[2020-10-23 12:17] JonathanMace commented on #2574
Wanted to flag up my interest in this topic in general.  My research group at MPI-SWS is currently doing some work on trace visualization and aggregate analysis, and our interests extend into the systems side of driving visualizations.  Our starting point at this moment is mentioned in @jkowall's google doc writeup:

We've been looking at this in a few ways.  We've been thinking about visualizatio

[2020-10-23 16:51] CodeBlanch commented on #2584
@jpkrohling Sorry I think I put this issue in the wrong spot. It's probably more of a Jaeger UI thing? The client breaking up spans into batches by service name, in this case, is the OpenTelemetry .NET JaegerExporter: https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Exporter.Jaeger/JaegerExporter.cs#L148-L184

[2020-10-23 19:19] yurishkuro commented on #2584
I think JaegerExporter.cs is doing the wrong thing (filed https://github.com/open-telemetry/opentelemetry-dotnet/issues/1388):
[code]
Peer service has nothing to do with Process.ServiceName, the former is what YOUR service talks to, the latter is YOUR service.

No, it should not (at least it's how it is currently designed), because your service is still generating the client span. If the receiving

[2020-10-23 19:57] CodeBlanch commented on #2584
I called Google, they aren't willing to send spans to my Jaeger 🤣

Sorry about the sensational example, but that is the issue I'm getting at. It is impossible to guarantee the receiving service will report. When you need to call out to some third party, or some service lacking instrumentation, or a product like SQL that doesn't report, the UI treats those spans as internal. The only way to make it

[2020-10-23 20:36] yurishkuro commented on #2584
Yes, you could call it a gap. We also discussed that it would be useful to treat leaf client spans with `peer.service` tags as proxies for uninstrumented services, for example in the service dependency graphs.

In terms of the impact on the Gantt chart view, it has pros and cons. Using a different color for spans emitted by the same service runs counter to the current design of the UI, where servi

[2020-10-23 22:40] CodeBlanch commented on #2584
One more reply and then I'll get out of your hair! Thanks for the dialog.

What you are saying makes total sense. But I think it might be a case of us being too close to the problem to really see it.

How I got here is I was demoing OpenTelemetry integration to a team at my company. Trying to get them to instrument their codebase so our traces flow better throughout the enterprise. I showed them t

[2020-10-23 22:40] #2584 closed

[2020-10-24 19:03] #2579 closed

[2020-10-25 05:47] albertteoh opened #2586 "Flaky test: `TestAddCertsToWatch_remove_ca`"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
https://travis-ci.com/github/albertteoh/jaeger/jobs/406895163

[code]

**Expected behavior**
Passing test.

**What troubleshooting steps did you try?**
Adding the following at the end of the test:
[code]

Prints:
[code]

I believe the root cause is a race where the following [`waitUntil`](https://github.com/

[2020-10-25 14:02] JayBenato commented on #1895
any updates on this ?

[2020-10-25 21:17] #2577 closed

[2020-10-26 12:26] radekg commented on #1742
Hi @chlunde. It's been a while since the last time I looked at this. The go-plugin implements a ping message in the protocol. Apparently that message can be used to find out if the plugin is running. That would have been the route I would have taken.

IMHO, restarting the complete collector seems to be a bit heavy handed.

[2020-10-26 13:11] matthiaslee commented on #1743
@yurishkuro
I know this response it about a year+ late, but I'd be happy to take a stab at getting this cache pushed over the finish line. Would you mind sharing what you have so far?

[2020-10-26 15:51] yurishkuro commented on #1743
At Uber there was a decorator for storage.Reader that cached services/operations response and returned cached versions to the UI, while having a timer loop in the background refreshing the cache every 1min or so.

[2020-10-26 19:10] yew1eb commented on #1438
@bobrik hi,  I don't understand what this field `model String CODEC(ZSTD(3))` means in the `jaeger_spans_v2` table.
https://github.com/bobrik/jaeger/tree/ivan/clickhouse/plugin/storage/clickhouse#schema
I have another question, how to store the span tags value?
 

[2020-10-26 23:13] #2581 closed

[2020-10-26 23:14] yurishkuro commented on #2581
Is it just all-in-one or other otel binaries too?

[2020-10-27 06:01] albertteoh commented on #2581
@yurishkuro just otel all-in-one. All other binaries otel and non-otel exit successfully after printing help.

[2020-10-27 07:46] AudienceX commented on #1145
so no how to decode the traceid like 'AAAAAAAAAADlP4sqB+IBqA==' created by kafka

[2020-10-27 07:48] AudienceX commented on #1464
are you sure the method 'asHexString' can decode traceid like 'AAAAAAAAAADlP4sqB+IBqA==' ?
my result is '41414141414141414141446C50347371422B494271413D3D' with this method
:(

[2020-10-27 09:27] AudienceX commented on #1464
so how you resolve this ....
now I'm using Python decode traceid from kafka and :<

[2020-10-27 12:52] AudienceX opened #2591 "How to decode traceid read from kafka"
I'm using kafka in Jaeger System, and I got traceid like "AAAAAAAAAABx3MgiIQRHEg==",  span_id like "jkVS3tZkQKM="  from Kafka
There are some Issues say that the traceId can decode by base64,  but I can't

So  how to decode traceId With Python or C++

[2020-10-27 13:16] yurishkuro commented on #2591
What are "some issues"? This is standard base64.

[2020-10-27 13:24] AudienceX commented on #2591
emmmmm....
issues: [Why is the data received from kafka like this? question](https://github.com/jaegertracing/jaeger/issues/1464), and [how to decode trace_id from kafka protobuf data? question](https://github.com/jaegertracing/jaeger/issues/1145)

But I get maybe wrong result decoding with  Base64 using https://www.base64decode.org/

Input: AAAAAAAAAABx3MgiIQRHEg==
output: qÜÈ"!G

[2020-10-27 13:30] yurishkuro commented on #2591
Why do you think it's wrong? If you're trying to get to a hex ID, you need to decode to a byte array first and the convert bytes to hex. The online converter tries to interpret those bytes as string.

[2020-10-27 14:17] yurishkuro commented on #1464
See #2591.

[2020-10-27 16:20] AudienceX commented on #2591
I still don't know how the traceId in kafka was produced.....

You said ," you need to decode to a byte array first and then convert bytes to hex"
Is it means that traceId gotton from Jaeger UI is hex ?

For example, a traceid , "abe33738f1825469",  will first decode with hex, then encode with base64,
so it can became " AAAAAAAAAABx3MgiIQRHEg=="  ?

[2020-10-27 16:24] yurishkuro commented on #2591
you first convert it into byte array, `[0xAB, 0xE3, 0x37, ...]`, and then encode this byte array with base64.

[2020-10-27 16:25] yurishkuro commented on #2591
Btw, are you using JSON encoding with Kafka?  We use binary protobuf, which is much more efficient.

[2020-10-27 16:55] AudienceX commented on #2591
“JSON encoding”, you mean the parameter  **--kafka.producer.encoding=json** of jaeger-collcoter ?
I do use JSON encoding

Maybe when I knew the protobuf and Jaeger I will try using **protobuf**

but now I'm noob....

Thank you very much

Let me try the process that you said of decode...

[2020-10-27 19:44] chlunde commented on #2509
I have thought about a few other "soft multi-tenancy" options for larger enterprises or closely related companies with shared services:
* Only show traces involving a service you have access too (trace a->b-c is only visible if you have access to "b")
* Only show details (nothing more than start/stop time, operation name, span id, error flag, for services you do not have access to).

A combination

[2020-10-27 23:12] jkowall commented on #2574
I wanted to report that @albertteoh has a working POC for this using Otel Collector. We will be submitting a PR for the new pipeline in the coming weeks, and I'll update this issue. The reason for the delay is competing deadlines, but we'll get back on it, since it's an area which is critical for making tracing operational in nature.

@JonathanMace that sounds interesting. I'll be waiting to hear

[2020-10-28 06:49] AudienceX commented on #2591
emmmmm....

I'm trying to use java to simulate the process you said . But maybe I do something wrong... So could you please help me find what's the problem?

[code]

[code]

the traceid I got from Jaeger UI  is "83e968fc89ec0038", and from the java code I got base64 code  "ODNlOTY4ZmM4OWVjMDAzOA==", which can't be found in Kafka msg

the traceId in kafka msg more like "AAAAAAA........."

[2020-10-28 07:19] chlunde opened #2593 "Bump go-plugin to 1.3 accidentally reverted"
This change was accidentally reverted (I checked with Pavol). I think the change is as simple as `go get github.com/hashicorp/go-plugin@v1.3.0; go mod tidy; git add go.sum go.mod; cd cmd/opentelemetry/; go mod tidy; git add go.sum`.

One thing I wonder is why the previous change modified `go.sum` in `cmd/opentelemetry/`. I see the replace directive there, but I wonder if *tidy* is the best approac

[2020-10-28 07:23] chlunde commented on #2476
I think this fixes it, but there's one other `FormatFloat` with `10` which should be looked at too:

    cmd/opentelemetry/app/exporter/elasticsearchexporter/esmodeltranslator/modeltranslator.go:		tag.Value = strconv.FormatFloat(attr.DoubleVal(), 'g', 10, 64)

[code]

Also, I'm not sure if there are any more compatibility issues to consider. What is the specification of this format?

[2020-10-28 13:01] eltalkarim opened #2594 "Start Sampling after a certain Threshold"
In reference to a Gitter discussion with @joe-elliott and this #425
## Requirement - what kind of business use case are you trying to solve?
if an operation does not occur much and its a child of subsequent operations that are under a probabilistic sampling rate. Jaeger agent does not ensure that it would be represented a least once. (so we can draw the dependency graph).

## Problem - what in Jae

[2020-10-28 15:23] mzahor opened #2595 "Empty tag is being added after conversion from zipkin"
**Describe the bug**
When receiving zipkin spans, a tag with empty tag name is being added.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure jaeger to use ElasticSearch as a storage backend. Make sure you set `tags-as-fields: all: true`.
1. Send a zipkin span in json format. It not have a kind property (which happens for "internal" spans) and have a `remoteEndpoint` property != null

[2020-10-28 15:35] yurishkuro commented on #2595
If this is internal span, why does it specify remote endpoint?

[2020-10-28 15:37] yurishkuro commented on #2595
the simpler fix is to add `default: return nil, nil` to that switch statement, it looks like it will be handled by the caller

https://github.com/jaegertracing/jaeger/blob/8388432a5c9e3e952fa2a7eccb8e54d425556c32/cmd/collector/app/zipkin/jsonv2.go#L108-L115

[2020-10-28 15:39] mzahor commented on #2595
We're using opentelemetry collector with zipkin exporter, it gets spans from opentelemetry-js SDK. I think there can also be an issue in one of them (collector or js sdk). But in any case it worth fixing it here too. Took me quite some time to understand what's going on.
Regarding the fix (returning `nil, nil`), that's smth I imagined. I can create a PR, if you think it would be a good fix.

[2020-10-28 15:43] yurishkuro commented on #2595
it's worth fixing here, a switch without default clause is not the most robust approach anyway.

[2020-10-28 15:56] yurishkuro commented on #2593
Put a PR?

[2020-10-28 16:06] yurishkuro commented on #2591
`byte[] ascii = "83e968fc89ec0038".getBytes(); `

This returns a byte for every character in the string. You need to _convert_ the string to bytes using hex encoding.

[2020-10-28 19:26] jpkrohling opened #2599 "Remove md-to-godoc-gen and its dependencies"
We have a target in the Makefile that, apparently, isn't being used by anything at the moment: `md-to-godoc-gen`. This depends on a library (`github.com/sectioneight/md-to-godoc`), whose owner seems to have changed the username. As reported in the mailing list, this might become a security risk.

If we do need this library, we should at least change it to use its current location.

[2020-10-28 20:11] yurishkuro opened #2600 "Migrate to travis-ci.com"
Since yesterday our PRs are taking forever to run CI because there is just a single executor running across all of them.

Apparently, we need to migrate to travis-ci.com, and they did not do it automatically.

https://docs.travis-ci.com/user/migrate/open-source-repository-migration

* [x] check that all repos are able to build - this seems fine now
* [x] ~copy secrets where necessary~ - done by tr

[2020-10-28 20:13] jpkrohling commented on #2600
I can take care of it tomorrow, if you haven't yet.

[2020-10-28 20:50] yurishkuro commented on #2600
I migrated all repos, but we may have to go and re-define secrets, doesn't seem like they are moved during migration.

master build is now running 5 jobs: https://travis-ci.com/github/jaegertracing/jaeger/builds/195053976

[2020-10-28 20:51] jpkrohling commented on #2600
Longer term, we should consider moving some (or all) of the jobs to GitHub Actions.

[2020-10-28 21:01] yurishkuro commented on #2600
Maybe. Chris said GH Actions have 60 parallel runners per org, compared to 5 in Travis.

[2020-10-28 21:58] #2595 closed

[2020-10-29 03:16] yurishkuro commented on #2600
Update: the travis-ci.com builds are now required instead of travis-ci.org, however I see they keep failing on the unit test stage. For some reason the test command, according to travis, does not produce any output for 10min and it kills the job. I added `travis_wait` in #2598, yet to see if it helps (a run still fail for another odd reason), but it's far from ideal because it swallows all output,

[2020-10-29 03:34] AudienceX commented on #2591
There's gotta be someway to complaint someone like you who perverted my mind!

Look at this !  [ids.go](https://github.com/jaegertracing/jaeger/blob/95331addaa0cccb628b363542c5064958e9a2ccc/model/ids.go)

[code]

That 's what you say **standard base64**

Fuck!

[2020-10-29 04:12] yurishkuro commented on #2591
Your original question was how to convert an ID from JSON:

This ^^ is base64 encoding.  TraceIDFromString() converts from hex encoding.

[2020-10-29 04:12] #2591 closed

[2020-10-29 04:29] yurishkuro opened #2601 "cmd/agent/TestStartStopRace deadlocks"
**Describe the bug**

The test deadlocks under travis-ci.com https://travis-ci.com/github/jaegertracing/jaeger/jobs/417602049#L486.

**To Reproduce**
Only seems to happen in Travis. The call to agent.Stop() deadlocks:

https://github.com/jaegertracing/jaeger/blob/fe842889df87ff41cfee9b527a5ecd227db817e9/cmd/agent/app/agent_test.go#L140

More specifically, processor.Stop() deadlocks:

https://githu

[2020-10-29 04:32] yurishkuro commented on #2600
As far as I can tell, it keeps failing due to #2601.

[2020-10-29 04:45] yurishkuro commented on #2601
temporarily fixed by adding a 500ms sleep, which is not ideal nor robust.

https://github.com/jaegertracing/jaeger/pull/2598/files#diff-2c96083645005441517eea4b38c07231ab630b30326b9b030d834eec8fbc9bf6R186

[2020-10-29 05:10] #2599 closed

[2020-10-29 05:13] yurishkuro commented on #2600
Changed to a tracking issue, because we need to make sure all SDK repos are able to build. And we need to copy over the secrets.

[2020-10-29 05:25] AudienceX commented on #2591
So what is the difference ？
I want to covert an id  from Kafka JSON to  an hex ID which  in jaeger UI
And then I  ask how an id  convert from original ID to hex ID
You said that "If you're trying to get to a hex ID, you need to decode to a byte array first and then convert bytes to hex. The online converter tries to interpret those bytes as string"

But from the code in **ids.go**, I  know that It

[2020-10-29 08:47] jpkrohling commented on #2600
I can take a look, but I noticed that there's something weird already with the first repo I tried: jaeger-client-node. Did you migrate all repos already? In travis.com , I triggered a build for master, but looks like it doesn't see the right commit for "master":

![image](https://user-images.githubusercontent.com/13387/97545667-a0194c00-19cb-11eb-8923-3e9b2ed52048.png)

![image](https://user-image

[2020-10-29 10:17] yangvipguang opened #2603 "ingester crash"
**Describe the bug**
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/11416887/97555246-d6c68500-1a12-11eb-9315-5a59c5ca28ec.png)
is it a bug?

**Version (please complete the following information):**
 - OS: [e.g. Linux]  Linux
 - Jaeger version: [e.g. 1.8]  1.20
- Deployment: [e.g. bare metal, Docker, Kubernetes, ...]  K8S 1.16

**What trouble

[2020-10-29 10:24] objectiser commented on #2603
@yangvipguang Have you specified the `ingester.deadlockInterval` property? The message appears to indicate you haven't.

See description of this flag in https://www.jaegertracing.io/docs/1.20/cli/#jaeger-ingester.

I'll close this issue for now - but if that doesn't fix your issue please reopen with details of how you are running the ingester.

[2020-10-29 10:51] yangvipguang commented on #2603
@objectiser  yes i just found that  i have fixed it .

[2020-10-29 11:13] yangvipguang opened #2604 "UI find nothing"
I have configured agent as daemonset But I can't  find my application in the ui.
![image](https://user-images.githubusercontent.com/11416887/97561209-c0bcc280-1a1a-11eb-8cf5-25252393f738.png)

But the daemon aget log looks like everything is ok.
![image](https://user-images.githubusercontent.com/11416887/97561180-b5699700-1a1a-11eb-8cf2-780a89012e65.png)

![image](https://user-images.githubusercon

[2020-10-29 11:51] jpkrohling commented on #2604
Have you followed the [troubleshooting guide](https://www.jaegertracing.io/docs/1.20/troubleshooting/)? Have you tried starting the daemonset with debug level logging? What do you see in the metrics endpoint?

[2020-10-29 15:15] yurishkuro commented on #2600
We should try with a new commit. Some of Jaeger projects used to run on travis-ci.com in the past, so we can see the old build history. But I would've expected master build to work.

[2020-10-29 16:36] Ashmita152 commented on #2556
Hi @yurishkuro

This PR implements only the first part of the issue, second part (main program) is still remaining, which I am planning to pick next. Sorry for creating the confusion.

[2020-10-29 16:40] yurishkuro commented on #2556
Yes, I know - github auto-closed the issue because the PR had a magic clause "fixes ####".

[2020-10-29 16:42] Ashmita152 commented on #2556
Sorry my bad, I shouldn't have added fixes ## thing in the PR.

[2020-10-29 17:29] yurishkuro commented on #2603
I think we can have a better error message.

[2020-10-29 19:40] #2603 closed

[2020-10-30 05:39] yangvipguang commented on #2604
@jpkrohling  Yes i have read the guide 。daemonset has debug  level  log 。 Should I  change my appliction with opentracing or just any appliction。

[2020-10-30 14:43] sreaswar opened #2607 "Unable to start jaeger with Docker on windows 10"
**Describe the bug**
 Jaeger tracing fails to start (consistently reproducible) with docker-compose on Windows 10 Hyper-V
Cannot start service jaeger: Ports are not available: unable to list exposed ports: Get "http://unix/forwards/list": context deadline exceeded (Client.Timeout exceeded while awaiting headers)

**To Reproduce**
Steps to reproduce the behavior:
1.   docker compose file
jaeger:

[2020-10-30 19:58] chlunde commented on #2601
Slightly related, the tests in app does not support `-test.count=100` (to verify that flaky tests are gone), due to port reuse/missing `.Stop`.

A workaround is to use random ports, but I had hoped stop would work for this test now:

[code]

[2020-10-30 21:44] yurishkuro commented on #2601
Could be, but the deadlock I observed was with processors not starting in time, not the server.

Just that specific TestPublishOpts? I guess you could do
[code]
(still fails, but not because of port conflict)

[2020-10-30 22:11] #2601 closed

[2020-11-01 03:39] vijayraghavareddy commented on #2291
@otherview how do we disable the same in jaeger-operator chart?

[2020-11-01 16:46] #2342 closed

[2020-11-02 04:05] #1314 closed

[2020-11-03 12:56] Vemmy124 opened #2612 "Allow es configuration from yaml"
I'd like to use elasticsearch exporter from opentelemetry-collector, but there is no way to set env variables, which could have effect

## Problem - what in Jaeger blocks you from solving the requirement?
Some of the options cannot be put via yaml file, which is the only way to set up config from collector, for example these ones https://github.com/jaegertracing/jaeger/blob/master/pkg/es/config/co

[2020-11-03 14:30] pavolloffay commented on #2612
The excluded conf properties are excluded for a reason. E.g. the ES implementation in the OTEL build does not use bulk processor and instead the OTEL batch processor with queue-retry should be used.

[2020-11-03 14:30] #2612 closed

[2020-11-03 18:04] Vemmy124 commented on #2612
Thank you!

[2020-11-04 09:38] jpkrohling opened #2614 "CodeQL check isn't effective"
The CodeQL check doesn't seem to be really running, as there's a build step missing. This can be seen by comparing the time it spent running on this repository against the time spent in a far smaller repository:

https://github.com/jaegertracing/jaeger/runs/1350093965 (1 second)
https://github.com/observatorium/opentelemetry-collector-builder/runs/1332531786 (1 minute 28 seconds)

[2020-11-04 21:46] yurishkuro commented on #2614
cc @jhutchings1

[2020-11-04 22:17] jhutchings1 commented on #2614
👋🏻  Hey folks, I had a look at your runs, and it looks good from my end. The check you linked above for jaeger, @jpkrohling, is actually the `results` check, which is where we post analysis asynchronously after it's been analyzed. The one where you'll see the build effort is here:  https://github.com/jaegertracing/jaeger/actions?query=workflow%3A%22Code+Scanning+-+Action%22

With that said, we've

[2020-11-05 08:13] jpkrohling commented on #2614
Sorry, my bad! I guess it's confirmation bias kicking in, as I found suspicious that there was no build step in the action itself: no autobuild and no alternative `run` step. It does indeed take around the same amount of time as the one I have as reference: 14m38s (https://github.com/jaegertracing/jaeger/actions/runs/344443399).

Sorry for the noise!

[2020-11-05 08:13] #2614 closed

[2020-11-06 07:23] tinyRatP opened #2616 "jaeger-collector unknown flag: --es.server-urls"
**Describe the bug**

jaeger-collector cannot work with the option `--es.server-urls`.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the jaeger version: 1.20.0
2. Unzip it.
3. ./jaeger-collector --es.server-urls="http://localhost:9200"

**Expected behavior**

just work.

**Screenshots**

[code]

**Version (please complete the following information):**
 - OS: Linux
 - Jaeger versio

[2020-11-06 08:58] objectiser commented on #2616
@tinyRatP you need to set the `SPAN_STORAGE_TYPE` env var:
[code]

[2020-11-06 08:58] #2616 closed

[2020-11-06 19:37] Kerptastic opened #2618 "Provide multiple datacenters to Cassandra Schema generation scripts"
## Requirement - what kind of business use case are you trying to solve?
We have a multi-datacenter configuration. Currently, when using the `jaeger-cassandra-schema` container, the keyspace being generated can only be configured using 1) a single datacenter; 2) a hard-coded replication factor of 2.

Example of current: `{'class': 'NetworkTopologyStrategy', 'dc1': '2' }`

This results in the follo

[2020-11-06 20:07] jpkrohling commented on #2618
Sounds sane to me, but would be good to have an opinion on someone else using Cassandra as well. @joe-elliott, are you using it?

[2020-11-07 04:53] Asisranjan opened #2619 "How to watch jaeger-agent disconnection"
I am using jaeger-all-in-one docker image
When trace registered first time, everything works.
if pod/container restarts the application which generates trace is not saved and shown in Jaeger UI.

Suspecting - when pod/container restart, agent connection lost. (Please help me to correct my understanding if I am wrong)

[2020-11-07 10:05] meilihao opened #2620 "opentelemetry sdk: unknown service opentelemetry.proto.collector.metrics.v1.MetricsService"
**Describe the bug**
opentelemetry client demo report: `rpc error: code = Unimplemented desc = unknown service opentelemetry.proto.collector.metrics.v1.MetricsService`

**To Reproduce**
Steps to reproduce the behavior:
1. start jaeger

[code]

2. run [opentelemetry client](https://github.com/meilihao/demo/tree/master/opentelemetry/exporter_otelcol)

**Expected behavior**
no error and jaeger ui dis

[2020-11-07 20:29] yurishkuro commented on #2620
The config file does not define any pipeline for the metrics.

cc @jpkrohling @joe-elliott

[2020-11-07 20:35] yurishkuro commented on #2619
Which transport are you using to report spans? The default UDP does not keep connection, and expects the agent to run on the local host. However, if you run the agent under a DNS name (even if it's on the same host), then some Jaeger clients resolve DNS name to IP on start-up, so if that IP changes because of agent restart then the clients may "lose the connection". This would need to be addressed

[2020-11-07 22:17] joe-elliott commented on #2620
I'm unable to reproduce this issue either from master or using the all in one docker container.

@meilihao are you saying that the error was coming from the all-in-one?  Or from your client code?

[2020-11-08 20:59] yurishkuro commented on #2586
@albertteoh the fix might have introduced a different issue (possible with the order of asserts), the test again failed on master:

https://travis-ci.com/github/jaegertracing/jaeger/jobs/428075939#L2104

[2020-11-09 02:13] meilihao commented on #2620
@joe-elliott error message from client code.

@yurishkuro Where can I find examples of configuration files for opentelemetry-all-in-one?

[2020-11-09 03:48] Asisranjan commented on #2619
**UDP transport**
However, if you run the agent under a DNS name (even if it's on the same host), then some Jaeger clients resolve DNS name to IP on start-up, so if that IP changes because of agent restart then the clients may "lose the connection". This would need to be addressed in specific clients (there were fixes in some languages, I don't recall which).
**Using kubernetes service name as Jae

[2020-11-09 05:21] yurishkuro commented on #2619
There were some fixes in Java and Go clients for this:
  * https://github.com/jaegertracing/jaeger-client-java/pull/726
  * https://github.com/jaegertracing/jaeger-client-go/pull/520

[2020-11-09 06:15] albertteoh opened #2622 "Flaky test: `TestReload`"
**Describe the bug**
https://travis-ci.com/github/jaegertracing/jaeger/jobs/428075939#L2104

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Place the following code after [cert_watcher_test.go:L88](https://github.com/jaegertracing/jaeger/blob/master/pkg/config/tlscfg/cert_watcher_test.go#L88)
[code]
2. Run test.

**Expected behavior**
The test passes.

Note, the above reproduce step

[2020-11-09 06:20] albertteoh commented on #2586
@yurishkuro the fix for this issue is for the `TestAddCertsToWatch_remove_ca` test, which is independent of, and should not share state with, the failing test in the  aforementioned travis build which is `TestReload`. I've created a new issue for it in #2622. Please let me know if the analysis and proposed fix are incorrect.

[2020-11-09 14:39] joe-elliott commented on #2618
We do use Cassandra, but we do not have a multi-dc setup.  The script already supports custom replication factor:

`https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/cassandra/schema/create.sh#L14`

It seems like we just need support for the comma delimited datacenters?  I'd be glad to test the changes on our setup once the PR exists.

[2020-11-09 14:57] joe-elliott commented on #2620
So my guess is that your client is pointing to Jaeger, but Jaeger does not support the metrics part of the OTel service and you are getting that error.

I don't believe it makes sense for Jaeger to support the OTel metrics service.  Is there a way you can disable it?  Or point it somewhere else?

[2020-11-09 16:12] #2586 closed

[2020-11-09 16:13] yurishkuro commented on #2622
+1

[2020-11-09 19:02] Kerptastic commented on #2618
@joe-elliott The replication factor is supported in the `create.sh` but doesn't get passed via the `docker.sh`, nor do I think it is supported as a parameter to the `jaeger-operator` or helm chart. I was hesitant to go down the rabbit hole on this one, so I updated the default for prod from 2 to 3. PR incoming.

[2020-11-09 19:33] chlunde commented on #2622
I looked at this a few weeks ago (because my PR hit this issue), but I forgot that I had a local branch. I think the proposed fix reduces the flakyness significantly to close to zero, but the log message is still printed *before* the certificate is actually loaded.

<details>
 <summary>To clean up the code completely I think a log statement should be create or moved until *after* the certificate i

[2020-11-10 11:41] albertteoh commented on #2622
@chlunde thanks for calling this out and you're correct, the fix is working off event data that is logged before the related action takes place. I feel it's important to get this right, given that's our event signal. Your diff looks sensible to me, so I'll  include it in the PR. 😄

[2020-11-10 20:38] #2622 closed

[2020-11-11 07:07] yurishkuro commented on #2584
The fix is coming in https://github.com/jaegertracing/jaeger-ui/pull/659

[2020-11-11 14:12] meilihao commented on #2620
ok, i will use opentelemetry client + opentelemetry-collector + jaeger + prometheus.

[2020-11-11 14:12] #2620 closed

[2020-11-11 19:06] yurishkuro opened #2627 "1.21 release"
It feels like a good time to do a new release. Any critical PRs we want to wait for?

@jaegertracing/jaeger-maintainers

[2020-11-12 09:40] jpkrohling commented on #2627
+1 on releasing it

[2020-11-12 09:52] objectiser commented on #2627
https://github.com/jaegertracing/jaeger/pull/2482 needs to be merged.

Nothing critical for me.

[2020-11-12 13:17] fbartnitzek commented on #1778
I tried the `--collector.tags` configuration, but the tag-duplicates are multiplying fast even if you only test it with the jaeger-query.
Without a way to prevent duplicates, by enforcing that client / agent / collector key wins, those tags produce too much noise to use them.

[2020-11-12 14:47] joe-elliott commented on #2627
+1

[2020-11-12 15:21] jpkrohling commented on #1778
Do you have an example of that?

[2020-11-12 21:17] yurishkuro opened #2628 "Inclusion of non-instrumented services"
The other day we added the ability to render uninstrumented services that are referenced in the leaf spans via `peer.service` tag (https://github.com/jaegertracing/jaeger-ui/pull/659).

This opens up a larger can of worms - should these services show up:
  * as pills in the trace row in the Search result?
  * in the Services dropdown on the Search page? And if they do, should the search bring back

[2020-11-13 00:12] yurishkuro commented on #2627
I can do it this w/e

[2020-11-13 09:11] jpkrohling commented on #2627
How about we let our newest maintainer do the next release? It's a good way to test whether the instructions are still accurate.

[2020-11-13 09:27] objectiser commented on #2628
Yes, although presented slightly differently to make it clear not a traced service

Not sure about this one, as it would imply the other search criteria is applying to spans on that service, which is impossible as no spans exist

Yes, that would be good (again visually distinguished) - and also DDG.

[2020-11-13 10:47] fbartnitzek commented on #1778
sure:
My test was on kubernetes, just with jaeger-collector and jaeger-query (v1.18.1, without operator).
Only the jaeger-query-agent-sidecar produces traces and the collector writes them to a separate elasticsearch index with this collector-tags
[code]

The jaeger-query traces showed
- 2 testtag-labels for the first trace on path `/api/services`
- after a page refresh it showed 4 testtag-labels o