[2021-12-03 12:01] pavolloffay commented on #3424
NO the https://github.com/jaegertracing/documentation/issues/325 is old.

This issue is related to https://github.com/jaegertracing/jaeger-operator/issues/1630

@rubenvp8510 could you please fix the documentation to reflect changes to the operator?

[2021-12-03 13:11] venkataphaniv commented on #3424
Try this:

https://raw.githubusercontent.com/jaegertracing/jaeger-operator/v1.28.0/deploy/operator.yaml

Replace 1.28 with 1.27, 1.26... and it worked for me.

[2021-12-03 15:23] pavolloffay opened #3427 "Soft multitenancy, tenant aware storage"
## Requirement - what kind of business use case are you trying to solve?

I want to deploy a single Jaeger instance (collector, query) and be able to store and query data for multiple tenants. I want tenant data to be separated e.g. I don't want tenant `A` to access data from tenant `B`.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

The tenant informat

[2021-12-03 15:31] esnible commented on #3427
+1

Does it make sense to propose an API for admin functions such as listing the tenants known to storage, or configuring a list of acceptable tenants for WriteSpan?  Or are those ideas outside of the APIs and part of script tools and internal config?

[2021-12-03 15:56] jpkrohling commented on #3427
Jaeger v2 will inherit the multi-tenancy capabilities of OpenTelemetry Collector, as defined here:
https://github.com/open-telemetry/opentelemetry-collector/issues/1260

For Jaeger v2, it means that we would have a configuration like this:
[code]

This is mostly handled by the routing processor: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/routingprocessor

[2021-12-03 16:17] yurishkuro commented on #3427
My preference for storage APIs would be to capture tenancy explicitly as an argument, not pass it implicitly via Context.

[2021-12-03 16:21] pavolloffay commented on #3427
It makes sense. I was also thinking about RBAC here and it would be maybe great to support a list of tenants? The storage could support join view across multiple tenants.

[2021-12-04 16:08] JMCFTW commented on #1678
Yes, it would be great if I can test this change before that. Thanks!

[2021-12-05 12:56] Sherlock-Holo commented on #3084
I got this problem too, but I am using rust with `tracing`, `tracing_opentelemetry`, `opentelemetry` and `opentelemetry_jeager` crates

[2021-12-06 13:09] pavolloffay commented on #3427
About the Jaeger V2, this is something we have been talking about a long time ago. Pity that Jaeger v2 codebase was removed in the past.

It could partially solve our use-case. In this case, the collector requires reconfiguration and restart if a new tenant is added/removed. A preferred solution is to do not require deployment changes when adding a new tenant.

[2021-12-06 13:23] jpkrohling commented on #3427
We decided to remove it, as it was causing tech debt that nobody was taking care of. More specifically, OpenTelemetry Collector was breaking the API compatibility at every new release, so bumping the versions at go.mod wasn't sufficient. From what I remember, the plan is still to have v2 based on OpenTelemetry Collector, we are just waiting for v1 to happen.

[2021-12-06 14:08] henderjm commented on #2976
This was the only way I was able to get our deployment working again. Sadly costs data but we were lucky it was just our dev environment.

[2021-12-06 14:11] pavolloffay commented on #2976
On each Jaeger start the collector makes a request to the ES to create index templates.

[2021-12-07 13:21] bwplotka commented on #3427
Thanks, @pavolloffay for starting this1 🤗

I am digesting your @jpkrohling response https://github.com/jaegertracing/jaeger/issues/3427#issuecomment-985632588, but I don't get how this is multi-tenant. It only helps with routing to hard tenant elastic backends, right?

Ideally, we have hundreds / thousands of tenants using a single Jaeger + Storage cluster. In both Cortex, Thanos, Loki and Tempo t

[2021-12-07 13:41] jpkrohling commented on #3427
Pavol linked a blog post published some time ago on the topic of multitenancy and the different options. Typically, we've been hearing people wanting to have different storages for different tenants, which resulted in the routing processor.

Storing tenancy information as part of the span is certainly possible, but it leads to questions like:

- How do you ensure the tenant ID is only set at trust

[2021-12-07 13:53] bwplotka commented on #3427
Good points Juraci, thanks 👍🏽

By overriding it always on trusted proxy/collector?

Good question. I think this should be simply not allowed in single iteration, i.e those never connect

great!

[2021-12-07 14:03] jpkrohling commented on #3427
It's doable, especially if we use an attribute name that is unique enough to us, like `__jaeger_tenant`. But in general, just overriding data is a problem waiting to happen. After all, we'd be overriding a value that was explicitly set by someone at an earlier stage.

[2021-12-08 00:28] yurishkuro opened #3433 "Upgrade gRPC to 1.42+"
Auto-upgrade failed in #3373

[code]

[2021-12-09 14:41] evilrussian commented on #638
Can i use other jaeger collector as backend for my jaeger collector?

[2021-12-09 14:43] pavolloffay commented on #638
Jaeger collector cannot send data (e.g. over gRPC) to other jaeger collector. However this capability is supported with OTEL collector.

[2021-12-09 18:01] pavolloffay commented on #3427
The OTELcol proposal is missing one key use case and that is the read/query path. @jpkrohling could you please extend your proposal and include it? It might be very similar to multiple exporters but in this case using multiple extensions, here I am not sure if there can be multiple extensions of the same type.

[2021-12-09 18:11] yurishkuro commented on #3427
What is this proposal exactly? Do you mean Jaeger v2 rebuilt on OTELcol? IMO it doesn't solve the multi-tenancy issue.

[2021-12-09 22:17] yurishkuro commented on #3433
The reference is #3373, which was the automated attempt to upgrade. It seems to compile fine, but unit tests fail, so that's the task, to look into the failure and change the code. This is not the first time the load balancer related changes are introduced in gRPC break break our code.

[2021-12-10 07:57] pavolloffay commented on #3427
yes I mean Jaeger V2. It looks more like a workaround and pushes the heavy lifting on the user to wire/configure everything together.

From your perspective Yuri, what are the missing pieces?

[2021-12-10 13:24] yurishkuro commented on #3427
I think the storage and UI need to be tenant-aware, OTELcol does not help with that.

[2021-12-10 20:30] #3377 closed

[2021-12-13 17:59] #3433 closed

[2021-12-13 19:23] brantburnett opened #3441 "Elasticsearch rollover doesn't assign read aliases correctly when used with a prefix"
**Describe the bug**
When Elasticsearch rollover (non-ILM) is configured with a prefix, the read alias is never updated when it rolls over. The newly created index isn't used for searches

**To Reproduce**
Steps to reproduce the behavior:
1. Configure the Operator with `esRollover` enabled
2. set `es.index-prefix` to a non-empty string
3. set `es.use-aliases` to true
3. Wait for index rollover

**

[2021-12-14 06:06] dino-ma commented on #3427
Can we also use the service name for storage isolation in injester and query UI for adaptation

[2021-12-14 06:09] dino-ma commented on #3427
Because as a multi tenant solution in the cloud era, we need to consider being as insensitive to tenants as possible, so we may provide a general collector. In this case, I suggest that different storage resources can be adapted according to the service name. Storage resources here refer to storage clusters with the same service and different storage drivers

[2021-12-14 06:21] dino-ma commented on #3427
Maybe the point we need to change is that injester and query UI can complete this relatively complex thing

[2021-12-14 14:32] yurishkuro commented on #3427
A trace usually spans many services, service name is not a tenant-like differentiator.

[2021-12-14 14:42] dino-ma commented on #3427
If this is the case, as the Infrastructure Department of a company, I provide a Jaeger cluster. If I do not distinguish according to services, it is bound to let my tenants know which cluster he uses, and I hope I can flexibly schedule the storage cluster at the back end. Because we may face hundreds of thousands of services

@yurishkuro

[2021-12-14 14:56] esnible opened #3443 "search services failed response from /api/v3/traces"
**Describe the bug**

A V3 query fails and returns JSON describing an internal server error

[code]

**To Reproduce**

I loaded JSON with test data, yesterday, using [the Omnition load generator](https://github.com/Omnition/synthetic-load-generator).

[code]

`curl "http://localhost:16686/api/traces?service=frontend"` succeeds without difficultly, returning about 100 traces.

A query that should b

[2021-12-14 15:03] dino-ma opened #3444 "Traceids with no calling relationship between different services may be duplicate"
**Describe the bug**
Traceids with no calling relationship between different services may be duplicate

**To Reproduce**
Steps to reproduce the behavior:
I have a very high QPS service, which has no upstream and downstream call relationship with other services, but it is shown in the topology diagram that almost all services are circularly dependent on it

**Expected behavior**
A clear and concise

[2021-12-14 15:34] esnible opened #3445 "Build on a Mac"
**Describe the bug**

Jaeger container builds do not work on a Mac (using Docker desktop).  Or, if they do, the technique is not documented.

`make create-baseimg` yields

[code]

**To Reproduce**

See above.

**Version (please complete the following information):**
 - OS: Mac OSX
 - Jaeger version: Main/Master, 1.29.0 I think
 - Deployment: none
 - Docker Desktop: 4.2.0

**Additional context**

O

[2021-12-14 16:23] yurishkuro commented on #3445
I think the script tries to start a local registry, which may be failing for you. It failed for me, I didn't investigate what's using the port:
[code]

[2021-12-14 16:50] esnible commented on #3445
I am using Docker Desktop 4.2.0.  I have no trouble running the registry:

[code]

My problem is that the registry is not available on `localhost:5000`, but on `host.docker.internal:5000`.

docker run -it osexp2000/ubuntu-with-utils curl localhost:5000
curl: (7) Failed to connect to localhost port 5000: Connection refused

docker run osexp2000/ubuntu-with-utils curl -v host.docker.internal:5000
..

[2021-12-14 17:10] yurishkuro commented on #3445
I found that Apple AirPlay was using port 5000, so turning it off re-enabled the local registry. After that the build works fine for me, but I am on Docker Desktop 3.6.0.

We may need to introduce a way to parameterize the location of the registry to allow `host.docker.internal:5000` instead of localhost.

[2021-12-14 17:12] yurishkuro commented on #3445
[code]

[2021-12-15 03:08] dino-ma commented on #3427
We may encounter the scenario of opening up and isolating certain services. It is not that the user or business needs to decide which tenant to use from input to end

@yurishkuro

[2021-12-15 05:25] yurishkuro opened #3450 "Upgrade gRPC to 1.43.0"
The existing PR #3449 is failing the linter `staticcheck` with these errors:
[code]

There are many places where we are using this function:
[code]

[2021-12-15 15:07] esnible commented on #3443
If I try to use /api/v3/traces to get data more than 16 months the query fails with a 500.

In the example above, with a startTime of 2001 and and end time of 2022, the query asks for 8036 jaegerIndices.  Testing with `SPAN_STORAGE_TYPE=elasticsearch go run -tags ui ./cmd/all-in-one/main.go --log-level=DEBUG`, I learned that the following a query for `query.start_time_min=2022-07-15T00:00:00-05:00

[2021-12-15 17:56] mandarjog commented on #1208
@douglas-reid an interesting project for istio perhaps?

[2021-12-15 19:46] #3445 closed

[2021-12-16 10:25] cptkng23 commented on #3085
A drawback of `flattened` in regards to `nested` is however the following, taken directly from the docs of https://www.elastic.co/guide/en/elasticsearch/reference/current/nested.html

_The user.first and user.last fields are flattened into multi-value fields, and the association between alice and white is lost. This document would incorrectly match a query for alice AND smith:_

[2021-12-16 10:27] cptkng23 commented on #3085
The searching for Logs (and possible limitations) should definitely be described (better) somewhere. I still don't know why I can search some logs, and some others not: https://github.com/jaegertracing/jaeger/discussions/3046

[2021-12-16 20:15] frzifus commented on #3450
Probably we can solve it by a replace (+imports). What do you think?

[code]
Since an open PR already exists, how do I contribute best with my change?
Should I create a PR that points to the dependabot branch?

[2021-12-16 20:26] yurishkuro commented on #3450
You can create another PR. A simple sed probably wouldn't work because we may not be importing `insecure` right now, so the change would need to include an extra import. There are many refactoring tools for Go, probably some of them can handle both replace & import.

[2021-12-16 20:27] yurishkuro commented on #3450
It's fine to create a new PR, btw.

[2021-12-16 22:20] #3450 closed

[2021-12-17 01:26] frzifus commented on #3404
hey, out of interest, I went down the street and noticed this comment:

Looking at the 2nd span, it matches this condition.

[2021-12-20 16:32] emalpb commented on #2994
I have a related issue...

C:\Users\L0282162\Downloads>docker run -d --name jaeger-collector-quay -e SPAN_STORAGE_TYPE=kafka -e KAFKA_PRODUCER_BROKERS=pcdp-k01.bancogalicia.com.ar:9092,pcdp-k02.bancogalicia.com.ar:9092,pcdp-k03.bancogalicia.com.ar:9092,pcdp-k04.bancogalicia.com.ar:9092 -e KAFKA_PRODUCER_TOPIC=jaeger-spans -e KAFKA_PRODUCER_AUTHENTICATION=kerberos -e KAFKA_PRODUCER_KERBEROS_REALM=B

[2021-12-21 19:56] hdost commented on #2163
If this is possible to go from Kafka (OTLP) -> Jaeger ES what configuration does that require on the kafka Side?

[2021-12-21 21:36] #3441 closed

[2021-12-22 17:56] martin-sucha commented on #562
Since I've seen this issue mentioned in https://github.com/gocql/gocql/issues/1027 that I just closed, I'm writing here to let you know that the latest version of gocql (since March, https://github.com/gocql/gocql/pull/1369) has [ReadyPolicy](https://pkg.go.dev/github.com/gocql/gocql#ReadyPolicy) which should enable the use case for startup without reachable CQL servers.

[2021-12-24 07:07] samene opened #3462 "spark-dependencies job fails with error: failed to create query: For input string: "now-24h" due to data type mismatch in ES index"
The **spark-dependencies** daily job started failing for us suddenly. This was the error in the log.
[code]
So I went to the elasticsearch master node and tried to run the query and this was the result
[code]
Then I tried to find the mapping to see the data type and this is what I got.
[code]
This shows the ```startTimeMillis``` is a long and not a date and so the comparison fails.

**Version (ple

[2021-12-27 03:03] MrSuperKevin commented on #365
I've made some try in my project. I combined rate sampling and rate limiter together. At the mean time, I sampled pod cpu&mem status  to auto adjust sampling rate. It goes well in my production env.

[2021-12-29 11:38] andrey-kondratov opened #3466 "Set Cassandra compaction window size according to TTL"
## Requirement - what kind of business use case are you trying to solve?

I am using Docker image [jaegertracing/jaeger-cassandra-schema](https://hub.docker.com/r/jaegertracing/jaeger-cassandra-schema) for creating a keyspace in Cassandra for Jaeger data.

When filling a Cassandra cluster with a schema using non-default TTL as a parameter, it would be great to provide for better performance on lar

[2021-12-30 01:11] dbgoytia commented on #2884
Hi @jpkrohling, is someone actively participating on this issue? I'd like to contribute!

[2022-01-02 15:14] nibbleshift commented on #2943
I have verified, this is broken with 1.29.  Certificate error goes away with version 1.18, but it fails for other reasons.

[2022-01-03 08:55] jpkrohling commented on #2884
I don't think anyone is working on it.

[2022-01-03 11:25] pavolloffay commented on #2163
yes at the moment it is possible to use OTEL collector with Kafka receiver with OTLP encoding and send data to Jaeger collector via Jaeger exporter. Jaeger collector will then store the data in ES.

[2022-01-03 15:32] yurishkuro commented on #2163
@pavolloffay i think it would be useful to add this to the APIs page in the docs, ie the API for the ingester which is not documented there.

[2022-01-05 02:51] kyrogue commented on #3228
I resolved my issue by adding the ROLLOVER='true' environment variable

[2022-01-06 05:42] delanym opened #3470 "tooltip placement"
The first thing I do each time I open a trace is "collapse all", but as I hover over the button a tooltip pops up obscuring it. I have to hover away, wait for the tooltip to disappear, and then I can click the button.
Its always the first time the tooltip displays - subsequent renderings are placed unobtrusively.

![Screenshot from 2022-01-06 07-34-45](https://user-images.githubusercontent.com/531

[2022-01-06 05:46] delanym opened #3471 "Search lookback any"
Please add an "any" option to the list of lookback time ranges.

[2022-01-06 09:20] delanym commented on #3471
I tried using the custom config from https://www.jaegertracing.io/docs/1.29/frontend-ui/#configuration but there's no difference in the ui: the lookback is still 'last hour' and limit results '20'.

[code]

I got the latest today and I checked the config is loaded into the container.

[2022-01-06 10:17] albertteoh commented on #3470
Thanks for reporting the bug, @delanym.

As this is a UI concern, please create this bug issue in https://github.com/jaegertracing/jaeger-ui/issues.

[2022-01-06 10:44] delanym commented on #3470
@albertteoh do you have rights for https://docs.github.com/en/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository ?

[2022-01-06 12:36] cptkng23 opened #3472 "Store logs as object fields in elasticsearch"
## Requirement - what kind of business use case are you trying to solve?

Search logs in Kibana.
I followed this [post](https://medium.com/jaegertracing/jaeger-elasticsearch-and-kibana-7ecb846137b6) and was able to successfully search tags in Kibana.
However, I think this is not working for logs. So I would like to have this added also for logs.

I asked in [#jaeger](https://cloud-native.slack.com

[2022-01-10 10:24] pavolloffay commented on #1369
Closing we are using github actions now.

[2022-01-10 10:24] #1369 closed

[2022-01-10 22:08] xpl0ited1 commented on #2994
Please stop disclosing/leaking internal server information

[2022-01-11 04:39] Neustradamus commented on #2046
The merged PR is:
- https://github.com/jaegertracing/jaeger/pull/2724

[2022-01-11 04:39] Neustradamus commented on #2722
The merged PR is:
- https://github.com/jaegertracing/jaeger/pull/2724

[2022-01-11 08:19] pupseba opened #3476 "go ES rollover do not work with predefined index prefixes"
Setting a `INDEX_PREFIX` variable will result in rollover jobs failing since moving from the python to the go code for this component

https://github.com/jaegertracing/jaeger/blob/5ea0d8f54248b53bea8a6907c1f2066a5a1217be/cmd/es-rollover/app/rollover/action.go#L65

For example, setting a prefix of "jaeger-operator" for the generated indices in the ES, will result in a search for indices called "jae

[2022-01-11 12:28] ebini opened #3477 "esIndexCleaner not working - index-prefix missing in helm chart?"
**Describe the bug**
see https://github.com/jaegertracing/jaeger/issues/3228
the helm chart sets probably something wrong with the prefix or no prefix at all.

I think this has not really been fixed.

**To Reproduce**
1.  deploy jaeger helm chart with elastic search as storage

(note, i use an "external" ES):
[code]

2. enable index cleaner:
[code]

**Expected behavior**
should delete old indexes.

[2022-01-12 07:33] pupseba commented on #3476
Duplicate of #3441 and fixed by #3457. Already announced in 1.30.0 Release notes https://github.com/jaegertracing/jaeger/releases/tag/v1.30.0

[2022-01-12 07:33] #3476 closed

[2022-01-12 15:21] ksg14 opened #3479 "Unable to export traces from angular web app to a jaeger backend/collector."
Unable to export traces from angular web app to a jaeger backend/collector.
1. HTTP Err: 400 for a zipkin exporter
2. HTTP Err: 501 for an OTLP exporter

Steps to reproduce 400 error:
1. Used Zipkin Exporter from @opentelemetry/exporter-zipkin on angular side.
2. Using the following docker run command:
`docker run -d --name jaeger \
  -e COLLECTOR_ZIPKIN_HOST_PORT=:9411 \
  -p 5775:5775/udp \
  -p

[2022-01-13 14:43] pavolloffay commented on #3479
Jaeger does not support OTLP protocol at the moment. If you want to use OTLP send data first to OTEL collector and then from collector to Jaeger.

The response from Zipkin exporter shows 400 Bad Request. it is most likely related to cors configuration. Please take a look at

[code]

[2022-01-13 14:45] pavolloffay commented on #723
Closing this as we are not planning to work on client libraries anymore. This functionality should be available in OpenTelemetry collector.

[2022-01-13 14:45] #723 closed

[2022-01-13 14:46] pavolloffay commented on #3479
I am closing this as it does not seem like a Jaeger bug but rather configuration issue.

[2022-01-13 14:46] #3479 closed

[2022-01-13 15:36] yurishkuro commented on #2561
seems no interest in this, closing

[2022-01-13 15:36] #2561 closed

[2022-01-13 15:37] yurishkuro commented on #2201
Per #3362, we're sunsetting Jaeger clients, please open this request in OpenTelemetry if still needed

[2022-01-13 15:37] #2201 closed

[2022-01-13 15:38] yurishkuro commented on #1861
Per #3362, we're sunsetting Jaeger clients.

[2022-01-13 15:38] #1861 closed

[2022-01-13 15:38] yurishkuro commented on #1849
Per #3362, we're sunsetting Jaeger clients.

[2022-01-13 15:38] #1849 closed

[2022-01-13 15:38] yurishkuro commented on #1729
Per #3362, we're sunsetting Jaeger clients.

[2022-01-13 15:38] #1729 closed

[2022-01-13 15:39] yurishkuro commented on #1657
Per #3362, we're sunsetting Jaeger clients.

[2022-01-13 15:39] #1657 closed

[2022-01-13 15:39] yurishkuro commented on #1287
Per #3362, we're sunsetting Jaeger clients, please open this request in OpenTelemetry if still needed.

[2022-01-13 15:39] #1287 closed

[2022-01-13 15:40] yurishkuro commented on #1269
Per #3362, we're sunsetting Jaeger clients.

[2022-01-13 15:40] #1269 closed

[2022-01-13 15:40] yurishkuro commented on #1010
Per #3362, we're sunsetting Jaeger clients.

[2022-01-13 15:40] #1010 closed

[2022-01-13 15:41] yurishkuro commented on #898
Per #3362, we're sunsetting Jaeger clients.

[2022-01-13 15:41] #898 closed

[2022-01-13 15:42] yurishkuro commented on #855
Per #3362, we're sunsetting Jaeger clients. OpenTelemetry already supports W3C.

[2022-01-13 15:42] #855 closed

[2022-01-13 15:42] yurishkuro commented on #698
Per #3362, we're sunsetting Jaeger clients.

[2022-01-13 15:42] #698 closed

[2022-01-13 15:42] yurishkuro commented on #389
Per #3362, we're sunsetting Jaeger clients.

[2022-01-13 15:42] #389 closed

[2022-01-13 15:42] yurishkuro commented on #346
Per #3362, we're sunsetting Jaeger clients.

[2022-01-13 15:42] #346 closed

[2022-01-13 15:43] yurishkuro commented on #268
Per #3362, we're sunsetting Jaeger clients.

[2022-01-13 15:43] #268 closed

[2022-01-13 15:43] yurishkuro commented on #366
Per #3362, we're sunsetting Jaeger clients.

[2022-01-13 15:43] #366 closed

[2022-01-13 15:43] #161 closed

[2022-01-13 15:44] yurishkuro commented on #1728
Per #3362, we're sunsetting Jaeger clients.

[2022-01-13 15:44] #1728 closed

[2022-01-13 15:45] #854 closed

[2022-01-13 15:45] yurishkuro commented on #254
Per #3362, we're sunsetting Jaeger clients, so this is done for other repos

[2022-01-13 15:45] #254 closed

[2022-01-13 15:46] yurishkuro commented on #165
Per #3362, we're sunsetting Jaeger clients.

[2022-01-13 15:46] #165 closed

[2022-01-17 13:42] ksg14 commented on #3479
I tried the flags and am still getting the 400 err. Also, Is there another way to export jaeger tracer from an angular app?

[2022-01-17 16:19] yurishkuro commented on #365
FYI https://medium.com/jaegertracing/adaptive-sampling-in-jaeger-50f336f4334

[2022-01-17 18:59] yurishkuro commented on #3479
I've seen a few deployments where people export telemetry from client apps (mobile or web), and in all those cases the architecture was to have a dedicated endpoint implemented by __your__ backend to receive telemetry and then forward that telemetry to the monitoring backends. This way you can reuse all the infra you may already have in place between the client app and your backend, such as auth,

[2022-01-18 09:14] SonalJain1707 opened #3484 "Issue with Jaeger operator and CRD"
**Describe the bug**
A clear and concise description of what the bug is.
When checking the logs of jaeger operator I am seeing below

I0118 07:26:38.004090 1 request.go:621] Throttling request took 1.04742136s, request: GET:https://10.100.0.1:443/apis/litmuschaos.io/v1alpha1?timeout=32s
time="2022-01-18T07:26:39Z" level=error msg="failed to apply the changes" error="no matches for kind \"Kafka\" i

[2022-01-18 09:23] SonalJain1707 commented on #3484
OS: [e.g. Linux]
Jaeger version: [e.g. 1.8] 1.21.3
Deployment: [e.g. bare metal, Docker, Kubernetes, ...] Kubernetes

[2022-01-20 17:08] alargeasteroid opened #3492 "Version of gocql in use does not support com.ericsson.bss.cassandra.ecaudit.auth.AuditAuthenticator"
## Requirement - what kind of business use case are you trying to solve?

Use [Azure Managed Cassandra](https://azure.microsoft.com/en-gb/services/managed-instance-apache-cassandra/#overview) as the storage backend for Jaeger.

## Problem - what in Jaeger blocks you from solving the requirement?

Azure Managed Cassandra uses [com.ericsson.bss.cassandra.ecaudit.auth.AuditAuthenticator](https://gith

[2022-01-20 18:00] #3492 closed

[2022-01-27 06:09] Ankitchandre commented on #2976
We are facing the same issue . do we have any suggestion.solution ? we tried deleting indexes and redeploy jaeger operator, didn't work.

[2022-01-28 12:53] pavolloffay commented on #3248
Closing it is a stale question.

[2022-01-28 12:53] #3248 closed

[2022-01-28 12:55] #2881 closed

[2022-01-28 12:55] pavolloffay commented on #2881
Closing as this is a low-level issue related to Jaeger v2 which might take a different path

[2022-01-28 12:58] pavolloffay commented on #2164
Closing as it is a "low level" issue related to V2 which might take a different approach.

[2022-01-28 12:58] #2164 closed

[2022-01-28 12:58] pavolloffay commented on #2152
Closing as it is a "low level" issue related to V2 which might take a different approach.

[2022-01-28 12:58] #2152 closed

[2022-01-28 12:58] pavolloffay commented on #2223
Closing as it is a "low level" issue related to V2 which might take a different approach.

[2022-01-28 12:58] #2223 closed

[2022-01-28 12:58] pavolloffay commented on #2228
Closing as it is a "low level" issue related to V2 which might take a different approach.

[2022-01-28 12:58] #2228 closed

[2022-01-28 12:59] pavolloffay commented on #2153
Closing as it is a "low level" issue related to V2 which might take a different approach.

[2022-01-28 12:59] #2153 closed

[2022-01-28 12:59] pavolloffay commented on #2839
Closing as it is a "low level" issue related to V2 which might take a different approach.

[2022-01-28 12:59] #2839 closed

[2022-01-28 13:01] pavolloffay commented on #2530
Closing as it is a "low level" issue related to V2 which might take a different approach.

[2022-01-28 13:01] #2530 closed

[2022-01-28 13:01] pavolloffay commented on #2838
Closing as it is a "low level" issue related to V2 which might take a different approach.

[2022-01-28 13:01] #2838 closed

[2022-01-28 13:01] #2884 closed

[2022-01-28 13:18] pavolloffay opened #3500 "Jaeger v2 based on OpenTelemetry collector"
## Update (Sept 2023)

Superseded by #4843

---

## Proposal (2022)

Creating top-level issue for Jaeger v2 based on OpenTelemetry collector.

This has already been discussed a couple of times:
* roadmap https://www.jaegertracing.io/roadmap/#Integration%20with%20OpenTelemetry%20collector
* two prototypes https://github.com/jaegertracing/jaeger/tree/v1.22.0/cmd/opentelemetry and https://github.com/

[2022-01-28 15:53] eugeniyk commented on #3500
Direction wise makes total sense as jaeger pipeline looks rudimentary, however I believe there are some features that are not yet avail in otel collectors

What's left to Jaeger then? custom protocol as receiver (which should go away at some point), UI as extension and custom storage integration? Means just coupling querier with particular exporters?

[2022-01-28 16:09] pavolloffay commented on #3500
Jaeger will provide the storage layer and UI.

Once we are based on the OTEL collector it will be easier to write extensions and provide additional functionality.

[2022-01-28 17:05] yurishkuro commented on #3500
@eugeniyk Think of this not from the architecture point of view but from the user impact - *everything* about Jaeger is still there, plus some additional capabilities we could inherit from OTEL (the most critical one - OTLP receiver). Jaeger is an end-to-end tracing platform, OTEL collector is not, just a piece of it.

[2022-01-29 00:42] jkowall commented on #3500
So, what about the data model which is used on storage, and how about the terminology in Jaeger would evolve to align with Otel versus OT? I don't think we need to make those changes, but they would help for the future. Unfortunatley they don't really help users so much, but are more for maintainers and the project.

The only other concern is the UI, we haven't been anything really meaningful on t

[2022-01-31 08:38] gendergap opened #3502 "Include file base path for configuration"
A number of CLI configuration directives allows to include external files with data into the configuration.

Example: `--es.tags-as-fields.config-file`

I have achieved the desired result with absolute file paths in my configuration, such as

`es.tags-as-fields.config-file: /the/place/where/jaeger/collector/lives/conf/uniqueTags.txt`

But absolute paths are not really desirable for deployment and

[2022-01-31 09:51] pavolloffay commented on #3500
The question I would as here is, what "features" OTEL schema gives compared to Jaeger/OT? They are pretty much interchangeable. The storage layer can change schema independently at any point, it's more like an implementation detail given the scope of this issue.

I agree the Jaeger UI needs migration work as weel. At minimum we can start with renaming some UI elements Tags->Attributes etc. and at

[2022-01-31 13:59] yurishkuro commented on #3502
If you're running docker image of Jaeger then you can mount relative paths as absolute within the container, so I don't think it's an issue and is a preferable form over knowing where the binary is within the container.

If you're using a barebones binary you're in control its working directory.

[2022-01-31 16:30] yurishkuro commented on #3502
If you're talking about bare metal binary, the working dir is inherited from the shell that started the binary, i.e. it is whatever you want it to be.
[code]

[2022-01-31 16:34] gendergap commented on #3502
That clarifies it very well. Thank you!

[2022-01-31 16:34] #3502 closed

[2022-02-01 18:48] jkowall commented on #3500
Just more about Jaeger being aligned with the current tracing standard versus being aligned with the deprecated tracing standard. The second idea is that if we adopt the Otel schema we could work with OpenSearch Dashboards trace analytics which is using an Otel schema too. More on this in the next paragraph.

Yes.... and more on this below

Currently, they are using "Data prepper" which does the w

[2022-02-01 20:38] yurishkuro commented on #3500
https://docs.aws.amazon.com/opensearch-service/latest/developerguide/trace-analytics.html

Fairly primitive so far, but certainly a viable alternative to the Monitor tab (#2954). @jkowall do you know if OS is planning to venture more into trace visualizations like the timeline view, graph view, etc.?

I think this brings one other crucial questions of Jaeger V2 - should we just focus on a single s

[2022-02-01 23:57] jkowall commented on #3500
Still needs work, the plugin is not that old. We had the PM on a Jaeger community call last year. They are planning on timeline and graphical topology. We also want to build metric query capabilities into OpenSearch Dashboards so you can hook it up to a PromQL backend, but no one is actively working on that at this time.

I think less backends is a good move, but I also think that the current back

[2022-02-02 14:04] marcomusso commented on #2953
In another [issue](https://github.com/jaegertracing/jaeger/issues/2291#issuecomment-644033603) it was stated that is possible to use AWS Elasticsearch as a backend but all my tests were unsuccessful (indeed on k8s with irsa).
Is there some clear documentation with the requirements to do so? Or even something that states which auth methods are supported/suggested to avoid wasting time on the others

[2022-02-03 01:41] #2143 closed

[2022-02-04 12:05] apm-opentt opened #3514 "Jaeger binaries were compiled with an older Go version which has security vulnerabilities"
**Describe the bug**
Our company's internal security scan tool has found security vulnerabilities in the latest Jaeger binaries.  May I request Jaeger team to uplift the Go compiler version on your build machines to the latest when building the next Jaeger release?
Here is the vulnerabilities detected:
https://nvd.nist.gov/vuln/detail/CVE-2021-41772

**To Reproduce**
Steps to reproduce the behavio

[2022-02-04 12:33] pavolloffay commented on #3514
Jaeger 1.31. is going out soon https://github.com/jaegertracing/jaeger/blob/main/RELEASE.md#release-managers. We will make sure it is compiled against the newest golang version.

[2022-02-04 21:09] yurishkuro commented on #3514
v1.31.0 release in progress using Go 1.17.6

[2022-02-04 21:09] #3514 closed

[2022-02-04 21:27] yurishkuro commented on #3514
[code]

[2022-02-07 08:23] albertteoh commented on #3500
Another benefit of the Monitoring tab approach is its tighter integration within Jaeger UI, supporting use cases that rely on  aggregated data to help narrow down the search space to the more "interesting" traces (high latency, error rate traces) with a single button click.

I agree though, that the approach used with the Monitoring tab has quite a few moving parts: OTEL collector with the correct

[2022-02-07 08:37] pavolloffay commented on #3500
Jager v2 would reduce the dependency on the OTEL collector for the monitoring feature. We bould include the processor that extracts metrics in the Jaeger main distribution.

[2022-02-08 11:08] albertteoh opened #3522 "Monitor Tab: Support durations for duration query parameters"
## Requirement - what kind of business use case are you trying to solve?

Relates to: https://github.com/jaegertracing/jaeger/issues/2954

Improve the debugging experience of the Monitor tab via the Developer Tools.

A common debugging activity is to open the Network tab and view the request URL and response.

## Problem - what in Jaeger blocks you from solving the requirement?

- R.E.D. metrics q

[2022-02-08 13:52] gai6948 commented on #3500
From a user's perspective, I would like to know what it really means by "Jaeger collector based on Otel collector", is that a drop-in replacement for the Otel collector?

The folks from Dow Jones has written an excellent [blog post](https://opensearch.org/blog/technical-post/2021/12/distributed-tracing-pipeline-with-opentelemetry/) detailing how OS, Jaeger and Otel plays together in enterprise set

[2022-02-09 10:21] galric opened #3523 "query dependency from es return empty. Does 'IndexDateLayout' missed when init es.dependencystore ?"
**Describe the bug**
system architecture and deep dependency graph return empty result while data exists in ES.
does the function 'createDependencyReader' in 'https://github.com/jaegertracing/jaeger/blob/main/plugin/storage/es/factory.go' forget to init IndexDateLayout ?

current:

[code]

may should be:

[code]

add this

[code]

to make sure
[code]
from https://github.com/jaegertracing/jaeger/bl

[2022-02-09 10:23] galric commented on #3523
i test the diff in my local environment, and it seems works

[2022-02-09 12:09] albertteoh commented on #2954
@tianruyun We're still testing this feature; resulting in some identified bugs/improvements either in OpenTelemetry collector (data from which the Monitor tab depends on) or Jaeger:

- https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6935: OpenTelemetry collector's prometheus exporter bug leading to a counter value overflow on metrics expiration.
- https://github.com/open-t

[2022-02-09 12:24] mindw commented on #3523
@galric got hit by this also - with the same conclusion.

[2022-02-09 17:59] jkowall commented on #3500
It would have some additional exporters or other capabilities the project needs, but otherwise it would be very similar and mostly upstream code.

Problem is that data prepper is a pain to handle since it's doing the same things the collector is doing. Creates a lot of complexity, but yes it can play well, you are duplicating the data twice since it needs to be stored as Data prepper and Jaeger sc

[2022-02-10 21:24] bogdandrutu commented on #3217
we done our part, but we would still prefer to not have to depend on the entire repo just for the conversion part. Also we want to support thrift (and is in the same package).

Would be a huge help for us to have that module independent.

[2022-02-10 21:49] yurishkuro commented on #3217
@bogdandrutu could you please point to the code that depends on jaeger/model?

[2022-02-12 05:26] albertteoh commented on #3522
On further thought, the (slightly) improved debugging experience that this brings are minor compared to the additional complication (and documentation) introduced by supporting two different formats (or additional query parameters).

I'll close this for now. We can re-open if the need becomes more pressing.

[2022-02-12 05:26] #3522 closed

[2022-02-14 17:19] albgus opened #3528 "jaeger-agent doesn't write logs to collector for no apparent reason"
I'm trying to setup a tracing system, using sidecars with jaeger-agent to send data to a Grafana Tempo instance.

From the logs below, it appears that the jaeger agent is able to successfully connect to the collector over gRPC, and is also able to receive spans. However, there is no data actually reaching the collector, and there is no errors being logged, either here or on the Tempo side, and the

[2022-02-14 19:43] yurishkuro commented on #3528
the logs should be happening, assuming you configured debug verbosity for the collector:

https://github.com/jaegertracing/jaeger/blob/aa4c2e6c95fac0c0cddb4ccd426e86c7bdca898c/cmd/collector/app/span_processor.go#L148

however, my first tool would be /metrics endpoint where you can see how many spans the collector is receiving / writing.

[2022-02-14 20:03] albgus commented on #3528
I found these metrics being reported, which kind of indicates that it has been able to submit batches.

[code]

So, it does submit batches, just doesn't log it with `--log-level=debug` for some reason?

[2022-02-14 20:09] yurishkuro commented on #3528
did you check similar collector metrics?

[2022-02-15 03:59] smolgeat commented on #3414
Hi can I take this?

[2022-02-15 05:05] yurishkuro commented on #3414
@smolgeat sure

[2022-02-15 11:54] albgus commented on #3528
Turns out it was user error. The traces were stored, just that I needed to supply the correct TraceIDs ro read back. It's still a bit weird that the messages about Spans being written to the collector didn't show up, but at least it works.

[2022-02-15 11:54] #3528 closed

[2022-02-16 22:26] schickling commented on #2954
Really excited for this. Is there a way to already give this a try on the latest release?

[2022-02-17 11:29] samene commented on #3462
Anyone, any updates??

[2022-02-17 15:07] micwiel opened #3537 "Ingester doesn't consume from kafka when lz4 compression enabled"
**Describe the bug**
Ingester doesn't consume from kafka when lz4 compression enabled

**To Reproduce**
Steps to reproduce the behavior:
1. Add `KAFKA_PRODUCER_COMPRESSION=lz4` to jaeger-collector or `compression.type=lz4` to server.properties in kafka
2. jaeger-ingester stops consuming
3.

**Expected behavior**
jaeger-ingester should process messages like when any other type of compression is use

[2022-02-19 01:44] albertteoh commented on #2954
@schickling there's demo you can run locally in: https://github.com/jaegertracing/jaeger/tree/main/docker-compose/monitor.

[2022-02-21 09:51] pavolloffay commented on #3537
@micwiel are there any logs that show what is going wrong?

[2022-02-21 13:54] dino-ma opened #3541 "Query not available"
At present, we report nearly 20 billion data every day, but at present, queries are almost unavailable. Each query takes 200 seconds or even longer. Our storage backend is es. Is there a solution for this situation?

[2022-02-21 14:03] yurishkuro commented on #3541
I suggest you look up some tuning guides for ES.

[2022-02-21 14:04] dino-ma commented on #3541
Is there any other recommended back-end storage? For example, time series database or list database?

[2022-02-21 15:29] dino-ma commented on #3541
After some consideration, we plan to migrate to CK to see if our problem can be solved. If so, we will provide a pr

[2022-02-21 19:35] sirzooro commented on #3019
+1 for this. Also allow configuration of minimum TLS version - standards which require use of selected ciphers considered as safe also require use of some TLS version, e.g. 1.2+.

[2022-02-22 09:21] rjrakesh commented on #814
Yes, we can do that with the help of tracing options,add the ignorepatterns in your trace.json and using aspnetcorediagnostics options filter these trace
`{
  "TracingOptions": {
    "Host": "http://localhost",
    "Port": 14268,
    "Debug": "True",
    "IgnorePatterns": [
      "/hc",
      "/liveness"
    ]
  }
}`

[2022-02-22 22:32] jkowall commented on #3541
What is CK? ClickHouse?

[2022-02-22 23:33] yurishkuro commented on #3019
After a bit more digging:
  * `crypto/tls` supports a bunch of ciphers https://pkg.go.dev/crypto/tls#pkg-constants
  * the names are defined in https://www.iana.org/assignments/tls-parameters/tls-parameters.xml#tls-parameters-4
  * if we were to take those names as arguments, we could populate `tls.Config` like this:

[code]

[2022-02-23 08:13] georgespingos opened #3546 "Collector does not produce protobuf encoded messages"
**Describe the bug**
When configuring Jaeger Collector to produce spans in Kafka using protobuf encoding, the messages produced are not protobuf encoded.

**To Reproduce**
Steps to reproduce the behavior:
Assuming that you have a KAfka cluster running, configure collecter to produce spans in Kafka wusing protobuf encoding:
* `KAFKA_BROKERS: "kafka:9092"`
* `KAFKA_PRODUCER_BROKERS: "kafka:9092"`
*

[2022-02-23 10:08] goyaldiwik opened #3547 "Getting unknown error in jaegar"
Exception in thread "jaeger.RemoteReporter-QueueProcessor" java.lang.OutOfMemoryError: Java heap space
2022-02-08 14:57:34
java.lang.OutOfMemoryError: Java heap space
2022-02-08 14:57:34
java.lang.OutOfMemoryError: Java heap space
2022-02-08 14:57:27
Exception: java.lang.OutOfMemoryError thrown from the UncaughtExceptionHandler in thread "quartzScheduler_QuartzSchedulerThread"

[2022-02-23 11:21] tejaswiniVadlamudi commented on #3019
+1 to @sirzooro, good to have config options for TLS versions together with cipher selection

[2022-02-24 05:49] esnible opened #3548 "Flaky test TestGRPCResolverRoundRobin (again)"
This is a repeat of #2085 and #2674.

TestGRPCResolverRoundRobin fails 100% of the time on my Mac (macOS Monterey 12.2.1) when run using `time go test -tags=memory_storage_integration ./pkg/discovery/...`.

The test is flaky in two ways.

I was able to cure both problems, but I don't understand my fixes, and thus am not confident enough to create a PR around them (yet).

Rarely the test fails with

[2022-02-24 08:35] ADeeeee opened #3549 "More valid values for frequency of index rollover in Elasticsearch"
## Requirement - what kind of business use case are you trying to solve?

Jaeger only support "Day and Hour" for the suffix of index in Elasticsearch.

e.g.

[--es.index-rollover-frequency-services](https://www.jaegertracing.io/docs/1.31/cli/#jaeger-collector)

[code]

## Problem - what in Jaeger blocks you from solving the requirement?

I have only few data for debug in Jaeger every day, but it r

[2022-02-24 08:36] georgespingos commented on #3546
Hi @yurishkuro

As I said, it does not look like one based on my previous experience working with protobuf but I will definetely take your word for it.

Thanks for taking the time.

[2022-02-25 19:01] yurishkuro commented on #1737
I am going to close this, since an external service is not the direction we want to go considering that Go 1.18 comes with fuzzing built-in, not to mention that we haven't really found a strong use case yet to use fuzzing in the first place.

[2022-02-25 19:01] #1737 closed

[2022-03-04 11:02] johanneswuerbach opened #3562 "GRPC plugin crash is not terminating the process"
**Describe the bug**

When a GRPC plugin crashes due to failure the overall process is not terminated and instead every call to the service just fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Manually terminate a grpc plugin process
2. See every interaction failing

**Expected behavior**

Either the plugin should be restarted or the process should be terminated so it can be restarted

[2022-03-04 12:41] forestsword opened #3563 "Favicon returns 500"
**Describe the bug**

Looks like after the change https://github.com/jaegertracing/jaeger/pull/3399 the favicon can no longer be served. It's now an embedded gzipped file. All the versions since 1.28 return a 500, _seeker can't seek_ error.

It can be fixed by simply removing `favoriteIcon` from `StaticRootFiles` https://github.com/jaegertracing/jaeger/blob/e36f9fec8eb4a3b9a808aa76d248094fd7f657be

[2022-03-04 16:46] yurishkuro commented on #3563
cc @Ashmita152

[2022-03-04 18:28] yurishkuro commented on #3563
curiously enough, if I run all-in-one from source, favicon is returned normally, but when I run the docker command it returns 500.

[2022-03-06 04:00] yurishkuro commented on #3019
Seems this is now resolved by #3564

[2022-03-06 04:00] #3019 closed

[2022-03-06 08:46] sirzooro opened #3566 "Support specifying minimum TLS version in TLS connection"
## Requirement - what kind of business use case are you trying to solve?

There are standards which require use of some minimum TLS version (e.g. TLS 1.2+) and selected cipher list. Issue https://github.com/jaegertracing/jaeger/issues/3019 has been closed few hours ago, so cipher list can be configured now. However minimum TLS version still cannot be configured.

## Problem - what in Jaeger blocks

[2022-03-07 05:57] #3566 closed

[2022-03-07 06:23] #3411 closed

[2022-03-08 09:10] micwiel commented on #3537
@pavolloffay I deployed

[code]

and then generated some traces with hotrod. Some logs from ingester

{"level":"info","ts":1646729046.2480888,"caller":"flags/service.go:117","msg":"Mounting metrics handler on admin server","route":"/metrics"}
{"level":"info","ts":1646729046.2481117,"caller":"flags/service.go:123","msg":"Mounting expvar handler on admin server","route":"/debug/vars"}
{"level":"info

[2022-03-08 14:17] #3563 closed

[2022-03-09 12:48] Tornhoof opened #3571 "Elasticsearch 8.x support"
## Requirement - what kind of business use case are you trying to solve?

Elastic recently released Elasticsearch 8.0, by now they've released 8.1.

## Problem - what in Jaeger blocks you from solving the requirement?
The ES index can't be created anymore, I think the legacy template api part is now completely deprecated:
[code]
The https://www.elastic.co/guide/en/elasticsearch/reference/8.1/migra

[2022-03-09 13:48] yurishkuro commented on #3571
Would you like to submit a PR? Besides the logic fix it would need to add v8 to the CI steps.

[2022-03-09 14:19] Tornhoof commented on #3571
Sure, I'll give it a try.

[2022-03-10 08:31] MarWestermann opened #3576 "Strang query behaviour via grpc when switching to badger / es storage"
Hi,

we are using the all in one docker image 1.31.

We query stored tracing using the grpc api. Example:

[code]

This works fine when jaeger is configured to use in memory storage. But when we switch to badger or elasticsearch storage new traces disappear in result set way to early. So I do not get traces created 2h ago but I fetch all traces for the last 24h

Regards, Marco

[2022-03-10 13:25] bnaha opened #3577 "handling http proxy when Jaeger agent is configured as sidecar in K8 cluster and collector is in external network"
**Describe the bug**
We have solutions deployed as PODS in a K8 cluster. Within the POD the jaeger agent is configured as sidecar container. This agent cannot directly access www. It has to go through a http proxy, However we are  unable to find the suitable entries to be made in helm chart for jaeger agent to use proxy.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy the jaeger agent

[2022-03-10 17:39] juan-ramirez-sp opened #3578 "Jaeger ingester panics on convertProcess function"
**Describe the bug**
The Jaeger ingester is panicking when taking data from kafka and attempting to write it into elasticsearch.

I believe the following code is the reason for the panic.

https://github.com/jaegertracing/jaeger/blob/4f55a70524b29ef87178b4deffbd5a99be5d017a/plugin/storage/es/spanstore/dbmodel/from_domain.go#L123

There seems to be no safeguards for a null process or null tags?

Th

[2022-03-12 00:46] yurishkuro commented on #3577
Go understands `http_proxy` env var ([1][]). I don't know much about the helm chart, moving to https://github.com/jaegertracing/helm-charts

[1]: https://stackoverflow.com/questions/10383299/how-do-i-configure-go-command-to-use-a-proxy

[2022-03-12 16:29] Ashmita152 commented on #3571
I spent time investigating the effort in achieving it. I think this is going to be difficult now that we use same elasticsearch client [olivere/elastic](https://github.com/olivere/elastic) to support both of our elasticsearch and opensearch implementations.

Major challenge:
Right now we are using v6 of olivere/elastic which doesn't have support for [new index template](https://www.elastic.co/guid

[2022-03-14 18:52] albertteoh opened #3587 "Add metrics instrumentation around MetricsReader"
Context: https://github.com/jaegertracing/documentation/pull/556/files#r826154699

## Requirement - what kind of business use case are you trying to solve?

- Ability to troubleshoot issues with the SPM feature in Jaeger.

## Problem - what in Jaeger blocks you from solving the requirement?

- Lack of metrics instrumentation around key areas of potential failure such as connections to Prometheus.

[2022-03-15 11:38] mgarnaudFTOS opened #3588 "Collector container cannot find certificate nor key files"
**Description**

When starting a Jaeger collector docker container using a Cassandra backend with TLS encryption, the connection fails because it cannot find the certificate file.
I've doubled and tripled check the presence and validity of the certificate file.

**Setup and Version**
 - Ubuntu VM 20.04, running Docker 20.10.13 running the latest collector image (jaegertracing/jaeger-collector)
 -

[2022-03-15 12:46] Ashmita152 commented on #3588
Hi @mgarnaudFTOS

You probably missing mounting the ssl certificate and key directory from host to container. So even if those files are present on your host they won't be visible inside container. You will need to add  `-v /etc/ssl/certs:/etc/ssl/certs` flag which will mount the content of hosts's /etc/ssl/certs directory inside the container's /etc/ssl/certs.

[2022-03-15 13:13] mgarnaudFTOS commented on #3588
Hi @Ashmita152

Thanks a lot for your answer, you were right, after adding the folder mapping the files are found. I am however faced with the next issue: "Failed to init storage factory","error":"failed to load server TLS cert and key: tls: failed to parse private key"
Is there a specific format that I should use ? Currently I'm using pem files.

[2022-03-16 06:54] SSaMKJ commented on #3549
I need too.

[2022-03-16 10:30] wolf666666 opened #3590 "can not get operation names from jaeger UI"
**Describe the bug**
The Operation name always show all, there are no other items in the drop list when the database is scylla.

**To Reproduce**
Steps to reproduce the behavior:
1.  create keyspace in scylla
2.  start  jaeger-collector
3.  start jaeger-query
4.  send trace data to jaeger
5.  query operation from Jaeger UI

**Expected behavior**
The Operation name should display in the Operation d

[2022-03-17 02:24] #3590 closed

[2022-03-17 10:29] albertteoh commented on #2954
All tasks complete, closing this issue. We can address any feedback/bugs as separate Issues/PRs.

[2022-03-17 10:29] #2954 closed

[2022-03-17 11:50] nitinsaprumaersk commented on #638
@yurishkuro Would highly recommend to add Azure Table Storage as a backend storage option as well.

[2022-03-19 14:36] HaroonSaid opened #3593 "gRPC health check - AWS ECS"
## Requirement - what kind of business use case are you trying to solve?

AWS ECS installation for jaeger collector

## Problem - what in Jaeger blocks you from solving the requirement?

The AWS ECS gRPC requires a health check path on port 14250, there is no gRPC health check path.
as a workaround, we can specify `/` and status code `0-99`

As a consequence, the collector starts complaining - mes

[2022-03-20 05:10] s7an-it commented on #3571
I have tried latest helm operator installation and setting this parameter didn't result in anything better.

[2022-03-21 14:59] AlKapkone opened #3595 "AWS OpenSearch support as a storage (using HTTPS)"
Hello, I've and AWS OpenSearch 1.1 (latest). I've configured the OpenSearch cluster using the next option:
**Required HTTPS - Yes.**

[code]
Also, I've dedicated master nodes.
https://opensearch.logs.example.com/_nodes/http?pretty=true
[code]

I want to use it as storage for jaeger.
I deployed jaeger-operator with the next configuration:
[code]
But I've got an error:
[code]

So what should I do?

[2022-03-21 15:11] AlKapkone commented on #3595
@pavolloffay Hello, sorry for pinging you directly. I saw your replies on other topics. So could you help me to troubleshoot this issue?

[2022-03-21 16:05] yurishkuro commented on #3578
It's certainly possible to add defensive check, but I would rather not do that because process=null is malformed span data that will cause problems later anyway, because all processing in Jaeger expects process.serviceName to be defined.

[2022-03-21 17:53] AlKapkone commented on #3595
@yurishkuro Hello, I saw you were working on the OpenSearch feature in another issue.
Is it the reason for my problem that I've dedicated master nodes in my AWS OpenSearch cluster?
What do you think?

[2022-03-22 09:28] AlKapkone commented on #3595
Resolved. It was my mistake. I didn't use the correct OpenSearch credentials.

[2022-03-22 09:28] #3595 closed

[2022-03-22 11:29] FingerLiu commented on #2954
Waiting to use in production! When will this release?

[2022-03-23 16:06] HaroonSaid opened #3598 "Jaeger Ingester crashes V1.32"
**Describe the bug**
jaeger ingester crashing in 1.31 and 1.32 (debug trace)

[code]

**To Reproduce**
Steps to reproduce the behavior:

unknown, ingester just trying to read span from Kafka.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please complete the following i

[2022-03-25 13:15] odidev commented on #3332
@yurishkuro , Thank you for this information. I understand the concern.

Do you feel that testing on AMD64 is sufficient to cover other architectures like ARM64?

[2022-03-27 20:04] tirelibirefe opened #3601 "(interface conversion: interface {} is map[string]interface {}, not string)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.  Using EKS Kubernetes 1.21

[code]

3.
Try to Install a Jaeger

[code]

4.

The operator crashes and produces the following error message:

[code]
When I remove "Jaeger instance"  `k delete -f jaeger.yaml`, the operator turns back to normal.

[2022-03-27 20:14] tirelibirefe commented on #3601
If I disable following env variables, it works.

[code]

[2022-03-27 20:17] tirelibirefe commented on #3601
if I add following sections, the operator crashes:

[code]

If I disable ui settings block, it works as expected.

[2022-03-28 08:28] frzifus commented on #3332
I think that always depends very much on what you intend to do and what requirements have to be fulfilled. But in general, there is a high chance that it will work. To be a bit safer, you can also run the tests independently in your own ARM environment.

[2022-03-29 06:49] OliverJoyL opened #3603 "Multiple systems on the same Jaeger interface"
Is it possible to use the same Jaeger to trace number of different systems and separate them by system name?

[2022-03-29 08:39] frzifus commented on #3603
What do you mean by "separate by system"?
If system means service, yes you can select different services on the start page.
![grafik](https://user-images.githubusercontent.com/10403402/160568573-2203ca25-8814-404c-8034-9e6aaa3345be.png)

[2022-03-29 11:24] jkowall commented on #3603
This is not something in the open source due to the way Jaeger handles the backend. At Logz.io we implemented multitenancy inside our multitenancy which allows for this on our service. We however do not let Jaeger manage the OpenSearch indicies since we handle that and it facilities this feature. We also have a picker that allows you to move between these subaccounts (can be used for applications

[2022-03-29 14:11] #3562 closed

[2022-03-30 09:30] albertteoh commented on #2954
Next release planned for 6 April: https://github.com/jaegertracing/jaeger/blob/main/RELEASE.md#release-managers

[2022-04-01 07:34] dino-ma commented on #3541
Yet ClickHouse.
At present, we also consider writing an ES proxy based on Jaeger ingester query to store massive data. At present, our daily trace data has exceeded 50tb

[2022-04-01 13:33] jkowall commented on #3541
I would look at sampling data in that case. ClickHouse will have scaling issues since it's a vertical scaling database, and handling that capacity will probably be a challenge with decent performance.

Another way to solve your issue is sharding in OpenSearch, but this would be a lot of work and most likely require some changes in the way Jaeger manages indices. We have built this at logz.io for o

[2022-04-02 02:46] dino-ma commented on #3541
Hello, thank you for your reply. When will opensearch meet the standards for putting into production? At present, I intend to add an ES layer based on Jaeger's existing architecture Proxy is based on consistent hash to aggregate and fragment to solve my current problem. But I still hope to adjust to opensearch or other storage in the future, because the cost of ES is too high.

[2022-04-04 20:12] juan-ramirez-sp commented on #3578
There are a few places that use the parent function (FromDomainEmbedProcess).

Couldn't we just add second return value of "error" and bubble it up to function that is trying to write the span?

The goal wouldn't be to pass the bad data or even transform it. We just want to inform the logs that a bad span made it to the Ingester and have the original caller of (FromDomainEmbedProcess) skip the wri

[2022-04-04 21:10] yurishkuro commented on #3578
+1

[2022-04-05 10:51] jkowall commented on #3541
We run OpenSearch in heavy production, as do loads of other people. Happy to offer advice around scaling it. There is a lot of work going on in the project to reduce the cost to operate, specifically supporting object storage and separating read from write nodes depending on your throughput requirements.

[2022-04-08 05:42] JungBin-Eom commented on #3578
Hi,
I'm having the exact same problem.
Did you solve it with the `--collector.tags` you mentioned?
I'm not sure which tag to add.

Thanks.

[2022-04-08 13:34] yurishkuro commented on #3578
Please describe your setup - which SDK (lang, version) you're using to emit traces, and what the pipeline looks like (OTEL collector? Jaeger collector? Jaeger ingester? which protocol between the SDK and the backend?)

[2022-04-09 08:45] JungBin-Eom commented on #3578
We are using jaeger for Thanos tracing. The current structure is thanos -> jaeger agent -> jaeger collector -> AWS msk -> jaegeringester -> elasticsearch.

When the ingester pod was failed, the log found that the key and value were null and that `panic: runtime error: invalid memory address or nil pointer reference` occurred.

[2022-04-09 18:27] yurishkuro commented on #3578
What tracing SDK does Thanos code use?

[2022-04-11 02:09] JungBin-Eom commented on #3578
Are you talking about the package that Thanos is using?

It uses below packages.
- github.com/opentracing/basictracer-go
- github.com/opentracing/opentracing-go
- github.com/uber/jaeger-client-go
- github.com/uber/jaeger-lib

[2022-04-11 16:41] juan-ramirez-sp commented on #3578
No, we saw the same behavior after a few days after adding tags everywhere.

We decided to downgrade back to 1.20 and slowly upgrade over time to see when it was introduced.

As of writing we haven't experienced the behavior again, although our collectors are experiencing a different kind of panic. It happens infrequently enough for it to not cause problems.

I spoke to my team about this and I do

[2022-04-11 18:54] yurishkuro opened #3622 "Upgrade to Go 1.18"
* [x] upgrade mockery #3621
* [x] fix typecheck linter #3624
  * Related https://github.com/golangci/golangci-lint/issues/2649
* [x] upgrade CI files #3624
* [x] go.mod, Docker, etc. #3626

[2022-04-11 21:27] dekimsey commented on #3279
I'm guessing the error I'm seeing trying to use jaeger-collector with ILM on an Opensearch v1.0 cluster directly stems from this issue.

version: 1.32
given settings:
    - SPAN_STORAGE_TYPE=opensearch
    - ES_SNIFFER=false
    - ES_USE_ILM=true
    - ES_USE_ALIASES=true

[code]

[2022-04-12 13:28] FingerLiu commented on #2954
Hi @albertteoh  it seems that Monitor Tab still not in the new release 1.33 https://github.com/jaegertracing/jaeger/releases/tag/v1.33.0

What obstacle did we met?

[2022-04-12 14:15] yurishkuro opened #3625 "Accept OpenTelemetry trace data via OTLP"
This is the most important feature that came up in Jaeger v2 discussions, but it does not actually require v2, can be done standalone.

* [x] Add OTLP receiver to collector #3701
* [x] Update documentation https://github.com/jaegertracing/documentation/pull/578
* [ ] ~Add OTLP receiver to agent~ - let's wait for user demand
* [x] Support configuration of the receiver (ports) #3710

[2022-04-12 14:57] yurishkuro commented on #3622
Forgot go.mod

[2022-04-12 15:45] #3622 closed

[2022-04-12 20:05] albertteoh commented on #2954
@FingerLiu most of the functionality for Monitor Tab were essentially completed in previous releases which is why you couldn't see references to Monitor Tab in the [jaeger v1.33.0 release notes](https://github.com/jaegertracing/jaeger/releases/tag/v1.33.0).

Most of the remaining changes needed to consider the Monitor Tab work "done" were [documentation](https://www.jaegertracing.io/docs/1.33/spm/

[2022-04-12 20:10] joe-elliott commented on #3625
Where do we see this going? otlp grpc endpoints on the agent make the most sense to me.

[2022-04-13 01:02] yurishkuro commented on #3625
I would mount it both in the agent and in the collector. Some deployments (e.g. serverless) do not support agents.

[2022-04-13 14:42] ceastman-r7 opened #3627 "istioctl x precheck fails when jaeger is installed in a namespace that has istio sidecar injection"
**Describe the bug**
When running istioctl x precheck to see if the cluster is ok to upgrade / install istio to the following error occurs

Error [IST0143] (Pod istio-addons/istio-jaeger-cassandra-0) Port 7199 is exposed in a Service but listens on localhost. It will not be exposed to other pods.

Information on this check: https://istio.io/latest/docs/reference/config/analysis/ist0143/

**To Repr

[2022-04-15 12:36] bitfactory-sem-denbroeder commented on #3571
Would it be possible for Jaeger to add a separate docker image/branch which maintains opensearch support and the main branch getting support for Elasticsearch 8.x ?

[2022-04-15 14:17] HaroonSaid commented on #3598
I could do with some help on how to figure out what causes these crashes.
How do I decode debug trace (the above message in Base64) to a protobuf and run it thru a debug flow to re-produce where the crash happens?

[2022-04-15 14:18] HaroonSaid commented on #3578
Can someone provide me with guidance
* take a debug base64 message and run it thru a debug flow?

[2022-04-15 15:13] yurishkuro commented on #3598
closing as duplicate of #3598

[2022-04-15 15:13] #3598 closed

[2022-04-15 16:14] yurishkuro commented on #3578
I put a PR to sanitize spans with empty service name or null process. This should protect the pipeline from malformed spans submitted externally. It **will not protect** against malformed spans written directly to Kafka - we could do that too, but it changes the expectations of the deployment that Kafka is a public API into ingester, which would be a new guarantee and will require ingester to run

[2022-04-15 16:24] seanw75 commented on #3578
I also experienced this issue.  It occurred twice and both times were during a kafka maintenance which caused the collector to buffer and unfortunately OOM.  After the kafka queue was cleared, both times, everything worked.  No changes on the client library side.

[2022-04-15 16:28] yurishkuro commented on #3578
@seanw75 thanks for update. Did the Kafka maintenance cause data corruption in the queue? It seems that the collector OOM-ing should only result in lost data, not corrupted data in Kafka. Also, you're probably running with too high setting for the collector's internal queue capacity, you may want to tune is to that the collector would start dropping spans prior to enqueueing them rather than causi

[2022-04-15 16:36] seanw75 commented on #3578
@yurishkuro - Yeah, I had everything at the default from the operator for the collector regarding memory and internal queue - which obviously wasn't enough.  Already took steps to avoid OOM.  As for it being kafka data corruption or collector writing a corrupt record - Hard to tell - what I can say is that the kafka server has many other topics on it and this was the only one that experienced any

[2022-04-15 16:57] yurishkuro commented on #3578
The processing in the ingester is really barebones
https://github.com/jaegertracing/jaeger/blob/cdbdb926b669e3be9581b6389aff2d7e6b9e06f2/cmd/ingester/app/processor/span_processor.go#L61-L68

It feels weird to me to be adding data format validation at this point, especially if the root cause is data corruption, which can affect any other aspect of the span message, not just the null process that ca

[2022-04-16 07:22] #997 closed

[2022-04-16 07:22] #1135 closed

[2022-04-16 07:22] #922 closed

[2022-04-16 07:22] #571 closed

[2022-04-16 07:22] #1397 closed

[2022-04-16 07:22] #1644 closed

[2022-04-16 07:22] #1456 closed

[2022-04-16 07:22] #1650 closed

[2022-04-16 07:22] #1726 closed

[2022-04-16 07:22] #2004 closed

[2022-04-16 07:22] #2045 closed

[2022-04-16 07:22] #2179 closed

[2022-04-16 07:22] #2604 closed

[2022-04-16 07:22] #2546 closed

[2022-04-16 07:22] #2304 closed

[2022-04-16 07:22] #2619 closed

[2022-04-16 07:22] #2717 closed

[2022-04-16 07:22] #2172 closed

[2022-04-17 23:14] HaroonSaid commented on #3578
The collector seems to writing null message to Kafka topic, that seems to cause the panic in the ingester
[code]

[2022-04-17 23:16] HaroonSaid commented on #3578
The ingester - if seeing an invalid message, should just log and skip.

[2022-04-18 03:14] #2893 closed

[2022-04-19 18:05] xmarcoied commented on #3414
Hi @yurishkuro.

I don't think there's a way to straightforward doing this configurations with Go Compile. but I am thinking to use a 3rd party service/repo to embed such info through a `go:generate`. What do you think about this approach? I can draft a PR for one.

[2022-04-19 18:07] yurishkuro commented on #3414
That might be ok, I would recommend checking what other projects do (e.g. does Hugo have Windows binaries? Do they tag them like that?)

[2022-04-21 10:24] IYABAO commented on #1265
It does not work for me either.
jaeger/docker-compose/jaeger-docker-compose.yml

`Using template file /cassandra-schema/v003.cql.tmpl with parameters:

    mode = test

    datacenter = dc1

    keyspace = jaeger_v1_dc1

    replication = {'class': 'SimpleStrategy', 'replication_factor': '1'}

    trace_ttl = 172800

    dependencies_ttl = 0

<stdin>:54:SyntaxException: Unknown property 'dclocal_r

[2022-04-21 14:02] HaroonSaid commented on #3578
We are rolling out tracing to our production environment and seeing more and more panic jaeger investor (current backlog is ~25M messages)

How can I help to fix this bug?

[2022-04-21 14:38] seanw75 commented on #3578
@HaroonSaid - the only solution I know about is to lower your TTL in your kafka topic and have the corrupt kafka messages removed until there is a fix to the ingester to do some validation.  In my own experience, we only got this issue when we were doing maintenance on our kafka servers, that then caused the collector to OOM.  The segfault continued until we cleared out the kafka queue and then th

[2022-04-21 14:42] yurishkuro commented on #3578
At this point I don't know what is wrong with the messages that cause panic. We already skip messages that are cannot be deserialized. I have a fix for null Process fix that you can try, but if it's a random corruption, it won't help. Being isolated to the Process field does not sound like random to me.

[2022-04-21 14:45] yurishkuro commented on #1265
Which version of Cassandra?

[2022-04-21 15:28] vuuihc opened #3636 "Add a client stream WriteSpan method in grpc storage plugin"
Hi, thanks for this outstanding project. I have a performance improvement suggestion for the grpc storage plugin.

## Requirement - what kind of business use case are you trying to solve?

When saving traces with [jaeger-clickhouse storage plugin](https://github.com/jaegertracing/jaeger-clickhouse), I found that the all-in-one process's  CPU utilization is relatively high, while the write throughp

[2022-04-21 15:51] yurishkuro commented on #3636
A couple comments:

(1) adding a new method to the existing interface is a breaking change, so our approach so far was to add different interfaces and expose the support for those via the Capabilities API.

Following this methodology, you could add a new interface
[code]

(2) It is not clear to me how the error path will be communicated back to Jaeger with a streaming approach. You are showing `Wr

[2022-04-21 15:53] yurishkuro commented on #3636
I am also curious how any sort of backpressure could be done via gRPC stream. What would prevent the collector from just writing spans to the stream much faster than the storage plugin can process them?

[2022-04-21 17:19] vuuihc commented on #3636
Thanks for the comment, I'll follow this.

IMHO, we have defined two interfaces, the first is in `spanstore.Writer` in `storage/spanstore/interface.go`, and the second is the interface of grpc plugin. maybe we can keep the first interface unchanged, so the drop metrics can be still accurate.

[2022-04-21 17:58] HaroonSaid commented on #3578
Is there a way for me to deserialize the base64 message that looks like it might be a problem ?
I typically see a null message, followed by another message in the debug trace

My current workaround is to change the offset (increase by 1) re-run in debug mode find the next bad message skip and rerun until all bad messages have been skipped

[2022-04-21 18:02] yurishkuro commented on #3578
Why is it base64?

We could certainly add a util that would read a message from a file, try to parse it into the data model, and then re-serialize that data model into JSON for inspection.

[2022-04-22 01:08] IYABAO commented on #1265
4.0 And 3.9

[2022-04-22 01:46] yurishkuro commented on #1265
it works for me
[code]
and the schema logs are successful:
[code]

[2022-04-22 01:47] yurishkuro commented on #1265
I am closing this sine the original ticket is very old

[2022-04-22 01:47] #1265 closed

[2022-04-22 03:31] IYABAO commented on #1265
the same command.
`
$ docker compose -f docker-compose/jaeger-docker-compose.yml logs  | grep cassandra-schema
cassandra-schema_1  | Connection error: ('Unable to connect to any servers', {'172.21.0.2': error(111, "Tried connecting to [('172.21.0.2', 9042)]. Last error: Connection refused")})
cassandra-schema_1  | Cassandra is still not up at cassandra:9042. Waiting 1 second.
cassandra-schema_1  |

[2022-04-22 03:56] yurishkuro commented on #1265
Mine runs with Cassandra 4.0, which version are you running?  `dclocal_read_repair_chance` was definitely a valid setting at some point.
[code]

[2022-04-22 06:06] IYABAO commented on #1265
# Extract cassandra version
#
# $ cqlsh -e "show version"
# [cqlsh 5.0.1 | Cassandra 3.11.11 | CQL spec 3.4.4 | Native protocol v4]
#
cas_version=$(cqlsh -e "show version" \
    | awk -F "|" '{print $2}' \
    | awk -F " " '{print $2}' \
    | awk -F "." '{print $1}' \
)

template=$1
if [[ "$template" == "" ]]; then
    case "$cas_version" in
        3)
            template=$(dirname $0)/v003.cql.

[2022-04-22 13:40] yurishkuro commented on #1265
Such is the danger of :latest

[2022-04-22 18:35] HaroonSaid commented on #3578
When `jaeger-ingester` is run in debug mode (--log-level debug) it prints the incoming message.
The message value and key are encoded in base64.
I don't have a program to convert from base64 to span protobuf message.

I guess my question is,  If I have an input message - is there any way to feed it into the ingester to find what it's complaining about.   Did any developer create a simple program f

[2022-04-22 18:49] yurishkuro commented on #3578
I am not aware of such single-message testing setup (sounds like a good idea), but you can always reproduce it by running Kafka locally and using Kafka CLI to write a message to a topic and letting ingester process it
[code]

[2022-04-22 18:51] yurishkuro commented on #3578
would be good to have a docker-compose file for that ^

[2022-04-22 21:43] HaroonSaid commented on #3578
For me to run ingester locally, I still need to create a bad message.  the only bad message(s) that I have are the debug trace.  I still need a way to convert the debug trace message into a real message and stick it into Kafka to re-produce.

Just want to make sure, we are on the same page.  No one has written a debug trace (json) message to protobuf message convertor?

[2022-04-22 21:59] yurishkuro commented on #3578
I thought you said you have base64-encoded message, which I assumed would be binary protobuf (otherwise why base64).

We don't have any standalone conversion utils.

[2022-04-24 16:48] vuuihc commented on #3636
@yurishkuro hi Yuri

gRPC stream's flow control is based on http2 flow control, so there will be backpressure if the server `WriteSpan` block for low performance of storage.
reference:
https://github.com/grpc/grpc-go/blob/master/stream.go#L113
https://httpwg.org/specs/rfc7540.html#FlowControl

my idea here is that when using the grpc plugin,  the `saved_by_svr` metric may only represent the result

[2022-04-25 06:53] mayankkthr opened #3643 "ES_TAGS_AS_FIELDS_ALL gives an Array instead of Dictionary."
**Describe the bug**
ES_TAGS_AS_FIELDS_ALL gives an Array instead of Dictionary for tags.
Also **tag** is renamed as **tags**.

This happened after upgrading from  jaeger-0.51.5 to jaeger-0.55.0.

**To Reproduce**
Steps to reproduce the behavior:
1. Install jaeger-0.51.5 using helm with elasticsearch storage and ES_TAGS_AS_FIELDS_ALL = true envitonment variable.
2. Generate some traces.
3. Upgrade

[2022-04-25 14:00] odidev commented on #3332
@frzifus, Thank you for the response.

Considering there are limitations to the CI/CD quota, there is a project **“WorksOnArm”**, that provides access to the ARM64 HW. Please have a look : < https://github.com/WorksOnArm >.

[2022-04-27 06:29] smithyj commented on #3571
hope to support elasticsearch 8.1.x

[2022-04-27 07:56] pavolloffay commented on #3571
We are working on bootstrapping Jaeger v2 which will be based on OTEL collector. This will allow us to have ES exporter per ES version.

[2022-04-29 02:02] lhorie opened #3648 "License file does not specify copyright holder"
**Describe the bug**
LICENSE file uses Apache 2.0 boilerplate and [does not specify copyright holder](https://github.com/jaegertracing/jaeger/blob/main/LICENSE#L189)

**To Reproduce**
Steps to reproduce the behavior:
1. Look at the [license](https://github.com/jaegertracing/jaeger/blob/main/LICENSE#L189) file

**Expected behavior**
License file should specify copyright year and holder

[2022-04-29 15:46] #3648 closed

[2022-04-29 15:46] yurishkuro commented on #3648
this is a standard Apache license file that is not meant to be changed.

[2022-05-01 12:20] Azim-Palmer commented on #3549
Yes please. We have daily logs sizes of <10megs but they were auto creating indexes, even after setting the primary shards down to 1 this is still incredibly excessive.

There's some experimental ILM support that complicates setup. Being able to set a single command line option is a more elegant solution for people with my low log entry use case which I suspect includes a lot of people starting wi

[2022-05-02 07:56] MrCroxx commented on #3084
Sorry to bother, but I face the same problem, too, with rust crates `tracing`, `tracing_opentelemetry`, `opentelemetry`, and `opentelemetry_jaeger`. My jaeger version is 1.33.0. I'm not sure if its a bug from jaeger itself or rust crates.

[2022-05-02 11:52] DanielBruzualRW commented on #3571
Is there any workaround currently available, e.g., creating the index manually?

I tried the OP's suggested workaround (with elastic 8.1.3) and I get the following error:
[code]

[2022-05-02 12:59] kruczjak commented on #3571
I would be thankful for any workaround too.

We need to upgrade our elasticsearch cluster but we are stuck because of this problem

[2022-05-04 05:02] #3636 closed

[2022-05-04 22:14] SamrathPalSingh commented on #3403
@pavolloffay can you review the PR. Happy to make any changes if required.

[2022-05-06 15:03] adamlepkowski commented on #2468
Did someone manage to run it?

[2022-05-06 20:18] mehta-ankit commented on #2927
I know this is an old issue but recently i tried to improve ingester performance and landed on this issue so wanted to share what i did and how it helped us.

Thanks to @albertteoh 's suggestions these are the steps i took.

1) Doubled my kafka partitions (keeping the number of brokers the same, but increased broker cpu)
2) This allowed me to run more ingesters (up to the max of total number of pa

[2022-05-07 08:31] ysyneu opened #3662 "panic: invalid Go type when GetTrace by grpc api_v2"
**Describe the bug**
use grpc api_v2 to GetTrace by TraceID, got panic before sending the message to the server:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. write a main func
[code]
2. go mod tidy, got a go.mod like this

[code]

4. run the main func, and got the panic response

[code]

**Expected behavior**
no panic

**Version (please complete the following information):**
 - OS

[2022-05-07 08:48] SABERYJS opened #3663 "Failed to create span writer"
when i install  jager to k8s ,something strange ,there are two pods in  jaeger namespace(beause i use istio ,so any other component is unnecessary)
[code]
i checked  `jarger-jaeger-collector-855d88d47d-prp85` log:
[code]
current elasticsearch version:
[code]
jaegertracing  docker images as follows:
[code]

anyone  can help me ?

[2022-05-07 09:05] #3663 closed

[2022-05-07 13:14] zdyj3170101136 opened #3665 "change boundQueue process from *span to []*span to less channel concurrency."
## Requirement - what kind of business use case are you trying to solve?
I am using collector to receive data through grpc from agent and use json.Marshal send it to kafka.
The problem is the collector server with 10% cpu usage, but high span drop rate.
Turn up bound queue buffer size seems helpless.

## Problem - what in Jaeger blocks you from solving the requirementation
Jaeger collector boundQu

[2022-05-07 14:14] yurishkuro commented on #3665
What is your evidence that this aspect of the queue has anything to do with CPU usage or dropped spans?

[2022-05-08 10:17] SamrathPalSingh commented on #3403
@Stono can you confirm if you want to remove the raw data altogether or not. My understanding is that you want an option to remove the last 'tags' entry (in the screenshot) completely. You have already extracted the data you need in fields so the rest of the data (raw blob of data) is simply eating up space. Right ?

[2022-05-08 10:19] Stono commented on #3403
Hey, yes that’s exactly it :)

[2022-05-08 12:40] zdyj3170101136 commented on #3665
After check the grafana, i find that the queue length is even higher after i change it to batch queue.
So maybe i was wrong.
I will try to republish the code with a no batch queue version, and compare it.

[2022-05-08 15:42] yurishkuro commented on #3403
If the code already avoids data duplication, then there is no bug, and I don't agree that it needs to be fixed, at least not in the ES storage implementation. Storage stores what it is given, it does not drop data. If you need to filter out data from the spans, it should be done earlier in the pipeline, independent of the storage. For example, OTEL collector may already have components like that,

[2022-05-08 15:44] Stono commented on #3403
Isn’t this the product of this specific storage driver though?

eg it uses the tags to creat es fields but still stored the original tags block, which is redundant?

how could you do it earlier in the proces?

[2022-05-08 17:44] yurishkuro commented on #3403
If it duplicates the tags in fields and blob, then it's a bug. If it cleanly partitions the tags into fields and blob, then it works as designed.

[2022-05-08 18:03] Stono commented on #3403
99% sure it does duplicate, but it was a while ago when I was experimenting with it.  I’ll test again tomorrow and let you know for sure.

[2022-05-08 19:02] SamrathPalSingh commented on #3403
@yurishkuro It's not exactly a bug it's more of a new feature. I completely agree. It completely partitions the tags properly.

If we remove the remaining tags before ES, like you suggested, would it be acceptable ?

[2022-05-08 20:50] yurishkuro commented on #3403
I think it's a reasonable feature to have pruning of the tags somewhere in the pipeline. Again, I would suggest checking OTEL collector plug-ins if they already have it, and if not then perhaps implementing it there. The reasons are: a) we're working on rebuilding Jaeger backend on top of OTEL collector, so the same functionality will be available in Jaeger directly, and b) OTEL has more flexible

[2022-05-09 08:47] zdyj3170101136 commented on #2927
may is the reason that jsonpb package  so slow.

[2022-05-09 09:13] juame opened #3666 "Ingester Metric jaeger_bulk_index_errors_total not working"
**Describe the bug**
Ingester can't write spans into ElasticSearch because of different errors (in ES).  The metric `jaeger_bulk_index_errors_total` is not increasing (while `jaeger_bulk_index_inserts_total` and `jaeger_bulk_index_attempts_total` are increasing).

[code]

Ingester logs:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set index to read-only (example `curl -k -u "admin:

[2022-05-09 13:07] mmorel-35 opened #3668 "Support TLS config for Zipkin Collector"
## Requirement - what kind of business use case are you trying to solve?

TLS configuration options in jaeger-zipkin-collector - for reporting zipkin traces

## Problem - what in Jaeger blocks you from solving the requirement?

TLS configuration options like tls.cert or tls.key are not available in jaeger-collector

[2022-05-09 17:24] pavolloffay commented on #3500
I have some good news for this ticket!

I have created https://github.com/jaegertracing/jaeger-opentelemetry-collector to bootstrap the work on the jaeger v2/ rebase on top of the OpenTelemetry collector. It is a community project, anybody interested can start contributing by migrating Jaeger storage implementations as exporters.

[2022-05-09 22:19] #3587 closed

[2022-05-10 07:46] zdyj3170101136 commented on #3665
I made a test use prod environment.
My machine is 12 core, 24 gb memory, amd64.
I run collector with param  --collector.num-workers=12,--collector.queue-size=1000000 and env GOGC=1000.

Here is the grafana metric of collector which run without batch queue.
It receive about 5w span/s,  it's span drop rate about 5% temporarily.
And the cpu usage is only 1.7 core, which is about 15%  of machine.
With

[2022-05-10 10:00] SamrathPalSingh commented on #3403
ok. Thanks for the support @yurishkuro ! 🙂

[2022-05-10 17:53] yurishkuro commented on #3665
Sorry, I don't really follow your experiment. Are you saying that you keep the queue capacity fixed (at 1M items), but vary the batch size of the items in the queue? The spikes in queue length are still at about 10% of the queue capacity, so that should not be causing span drops (unless your charts are not precise enough to capture max queue length).

If you're keeping the same queue capacity but

[2022-05-11 00:14] front1989 commented on #3571
we also need this asap!!!!!!1

[2022-05-11 07:05] foxracle commented on #3571
we also need this asap! +1

[2022-05-11 14:17] zamariola commented on #3361
I think I got the idea. Working on it.

[2022-05-11 14:47] zamariola commented on #3361
After the fix the concatenated error message changed
**from**: "Failed to index duration: failed to Exec query 'select from duration_index': durationNoOperationError"
**actual**  : "Failed to index duration: Cannot index duration: failed to Exec query 'select from duration_index': durationNoOperationError"

To be honest, I prefer the older version, it's concise and non-repetitive, and the new erro

[2022-05-11 16:58] #3361 closed

[2022-05-12 07:04] mmorel-35 commented on #3668
Hi @yurishkuro,
IMHO, all the services admin (for query and collector) and zipkin for the collector, should allow tls mode.
Otherwise I'll probably have to secure Jaeger with an httpd server, as I found it [here](https://medium.com/@larsmilland01/secure-architecture-for-jaeger-with-apache-httpd-reverse-proxy-on-openshift-f31983fad400)

What do you think ?

[2022-05-12 12:23] sergiomcalzada commented on #3571
Hi,

Workaround

Force the ES Version to 7 via --es.version=7

Add add this two indexes

[code]

[code]

[2022-05-12 15:13] yurishkuro commented on #3668
Zipkin port - yes, admin ports - probably not. Most deployment platforms today do not automatically expose ports until explicitly requested (we even had requests to run Jaeger admin services on the same port as business services because of that), so you already have some control over who can see the admin port. Admin ports can be used for things like health checks, where TLS might actually get in

[2022-05-13 04:11] jibinqb commented on #3663
Hello @SABERYJS where you able to fix this?

[2022-05-13 06:09] zdyj3170101136 commented on #3665
Yes, i keeping the same queue capacity both in batch queue and not batch queue.

But i modify the behavior of Produce to let the queue.Size() means the real number span in the queue.
And the queue.Capiticy() is both 100 M.
In func queue.Produce, each items([]interface) from queue(chan []interface) will let the queue.Size add len(items).

I accept that 'the queue exists only to amortize certain sho

[2022-05-13 09:19] mmorel-35 commented on #3668
For grpc and http TLS is an option so it's up to the user to decide if he wants to use it or not but with admin the option is not available so it doesn't let any choice to the user. In my context every software is deployed on virtual machines and not containers.
The rules requires that every services exposed must support TLS.
Without this option there will be an extra work with the setup of a reve

[2022-05-13 09:30] aletor92 commented on #3571
It Works ! thanks 👍

[2022-05-13 14:22] greut opened #3677 "PROMETHEUS_SERVER_URL broken since 1.34"
**Describe the bug**
After upgrading to 1.34 from 1.33 the `PROMETHEUS_SERVER_URL` value is not read anymore.

Using v1.33

[code]

And v1.34, which shows the default value.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run 1.33 with monitor tab
2. Upgrade to 1.34
3. Notice the 500's error in the monitor tab

**Expected behavior**
A clear and concise description of what you expecte

[2022-05-13 14:27] Evesy commented on #3571
As part of adding support for the newer index template API, it might be nice to have the option for Jaeger to create component templates instead of index templates.

With the current API we have a couple of other index templates targetting jaeger indices that all get merged together to perform the following modifications:
- Set custom default settings that apply to all our indices (Tier routing, r

[2022-05-13 19:09] albertteoh commented on #3677
Thanks for reporting the bug @greut.

This bug was introduced in the PR: https://github.com/jaegertracing/jaeger/pull/3030

Specifically, the signature of `InitFromViper` was changed to include an `error` return: https://github.com/jaegertracing/jaeger/pull/3030/files#diff-cda5a3c6a9402682254064b89ae99ab89f5b761568f309ccf37664bdf3516a8cR72

This meant that the prometheus factory no longer implemen

[2022-05-13 20:04] yurishkuro commented on #3677
I would prefer option 2, but you should see how much changes that would involve.

If changing the signature introduced this bug, then the factory did not have a unit test where it was cast `plugin.Configurable`, we need to add that.

[2022-05-13 20:17] yurishkuro commented on #3668
I'm not opposed to adding it, since we factored it out into a package that is easy to compose.

[2022-05-13 20:22] mmorel-35 commented on #3668
Great! I can make another PR once the Zipkin's one is merged

[2022-05-13 20:22] yurishkuro commented on #3665
I am not sure I follow your explanation. If you use the same _total_ queue capacity (i.e in case of batched queue you flatten the batch for the purpose of capacity calculation), then how do you explain that unbatched queue drops the spans? As I said, the only time it drops spans is when there's no more space in the queue, but if you claim that _total_ capacity is identical, then the situation can

[2022-05-14 06:06] robgaoo commented on #3677
I also found this problem and saw that the log kept requesting localhost9090

[2022-05-15 02:16] #3668 closed

[2022-05-15 23:54] yurishkuro commented on #3677
@albertteoh on the other hand, I think we should first try to fix the immediately issue with minimal changes (e.g. remove error return and panic inside the factory) and release a patch.

[2022-05-16 03:28] #3677 closed

[2022-05-16 17:50] greut commented on #3677
@yurishkuro thanks, deployed and working fine! Much appreciated.

[2022-05-17 09:07] anshul35 commented on #2420
Can I work on this one ?

[2022-05-17 12:21] dasn-TeraBundle opened #3687 "jaeger-collector fails to send spans to kafka"
**Describe the bug**
jaeger-collector fails to send spans to Kafka when one of the leader broker of some partition is restarted

`{"level":"error","ts":1650947724.119294,"caller":"kafka/writer.go:60","msg":"kafka server: Tried to send a message to a replica that is not the leader for some partition. Your metadata is out of date.","stacktrace":"github.com/jaegertracing/jaeger/plugin/storage/kafka.N

[2022-05-18 11:06] odidev commented on #3332
Hi Team, did you get the chance to look into "[WorksOnArm](https://github.com/WorksOnArm)"? Kindly share your opinion.

[2022-05-18 14:36] mrgasparov commented on #2192
I'm facing the same issue using open distro 7.6.2 (unfortunately this is the only version which is available on our [cloud provider](https://open-telekom-cloud.com/en/products-services/cloud-search-service)). Is there really no way to limit the amount of spans sent in one bulk request? That would definitely be the easiest solution to this problem.

[2022-05-18 14:40] yurishkuro commented on #3332
As stated, we have no plans to extend the testing. It provides very marginal benefits compared to both hw costs and maintenance burden.  If this testing is important to you, you're welcome to build an independent testing pipeline as a separate project that you will maintain.

[2022-05-18 14:40] #3332 closed

[2022-05-18 20:31] yurishkuro commented on #1464
@sumancoder https://www.jaegertracing.io/docs/latest/faq/#why-do-jaeger-trace-ids-look-differently-in-kafka-and-in-the-ui

[2022-05-19 07:11] nata7che commented on #1464
@sumancoder we use a function to manually convert the ID to hex-encoded strings:
[code]

[2022-05-19 15:16] HaroonSaid commented on #3578
The tracing going great in our production environment, we were processing several billion spans and suddenly we start seeing `panic`

[code]

[2022-05-19 16:28] RashmiRam opened #3689 "Potential null pointer exception when span without `process.tags` in ES storage"
**Describe the bug**
Potential null pointer exception at storage data pipeline when span without `process.tags` is sent with ES as storage type

**To Reproduce**
Steps to reproduce the behavior:
1. Send Spans which doesn't have any `process.tags` values
2. Set Elasticsearch as storage_type at collector end

**Expected behavior**
Shouldn't cause any NPE at downstream pipeline even when processing s

[2022-05-19 16:34] yurishkuro commented on #3689
is it "potential" or do you have a stack trace?

[2022-05-19 17:31] RashmiRam commented on #3689
I have a stack trace of NPE happening at logstash end (not at jaeger collector).

[code]

[2022-05-19 19:41] EronWright commented on #3362
One aspect that I've found lacking is the documentation about how to setup Jaeger to work with opentelemetry clients.  The Jaeger documentation makes mention of using the OpenTracing bridge, but doesn't seem to mention whether any changes are needed on the Jaager server side.  It still isn't clear to me whether one would need to run the OTEL collector in addition to the Jaeger server.

[2022-05-19 19:57] tide34 opened #3690 "Additional info in documentation"
## Requirement - what kind of business use case are you trying to solve?

Documentation [link](https://www.jaegertracing.io/docs/1.34/operator/#install-modes).
Add more information about **role** with name `jaeger-operator` in case when deploy jaeger in not cluster-wide mode.

The problem with i faced is misunderstanding documention.
I want to deploy application in not cluster wide mode (run jaege

[2022-05-19 19:59] yurishkuro commented on #3362
@EronWright
  1. you only need OpenTracing bridge if your code is still using OpenTracing instrumentation. If you use OpenTelemetry instrumentation, it will work with OTEL SDK directly without a bridge.
  2. Whether you need/want OTEL collector depends on your setup. If you configure OTEL SDK to export data in OTEL native format (like OTLP), then you will need OTEL collector for now (in the future

[2022-05-19 20:13] Falco20019 commented on #3362
Sadly not everyone can switch as easy to OTEL. The C# client only supports .NET Core and ASP.NET Core. Other platforms, especially Xamarin, are no longer supported. Therefore we are currently stuck using the jaeger-client-csharp.

[2022-05-19 20:14] tide34 commented on #3690
no, i would ask for someone who knows how to run and up jaeger-operator in not cluster-wide mode to complete documentation.
I have already spent three days to run jaeger operator locally and still haven't done it due to documentation misunderstanding

[2022-05-19 20:21] tide34 commented on #3690
I also try creat role in myproject namespace which solve log errors like in this:

`time="2022-05-19T19:31:37Z" level=error msg="error getting a list of deployments to analyze in namespace" error="deployments.apps is forbidden: User \"system:serviceaccount:observability:jaeger-operator\" cannot list resource \"deployments\" in API group \"apps\" in the namespace \"myproject\": RBAC: role.rbac.auth

[2022-05-19 20:55] yurishkuro commented on #3362
Yes, that's fair, this is why the OpenTelemetry bridge was introduced, to ease the migration. If there are issues with the bridge implementation, please open tickets in the respective OTEL repo.

[2022-05-19 21:01] Falco20019 commented on #3362
Ticket is open (and linked in my previous post). Just wanted to have it here as a note for anyone doing Mobile on .NET.

There is sadly no easy way for solving this. The technique used in the implementation is just not available on those platforms (and won't be in the foreseeable futures AFAIK) and doing it differently would basically mean to have a completely new implementation for .NET.

[2022-05-20 06:20] hugocortes commented on #3084
I'm running into this issue as well in Typescript using HTTPInstrumentation. I believe this issue is due to Jaeger matching based on trace id, not span id as seen here: https://github.com/jaegertracing/jaeger/blob/7872d1b07439c3f2d316065b1fd53e885b26a66f/model/span.go#L104

In my case, I have 3 spans which should appear as:
[code]

Here is `/live` info:
[code]
`HTTP GET`:
[code]
`references.spanID

[2022-05-20 13:48] yurishkuro commented on #3084
@hugocortes the data you showed is clearly malformed, likely due to misconfiguration of the SDKs using different id length. Jaeger wouldn't even consider the 3rd span as part of the same trace - how is it supposed to know if the trace ids are different?

[2022-05-23 07:22] jicki opened #3694 "ERROR controller-runtime.manager.controller.deployment Reconciler error"
**Describe the bug**
A clear and concise description of what the bug is.

**Version (please complete the following information):**
 - Jaeger version: [e.g. 1.8] 1.30.0
 - Deployment: [e.g. bare metal, Docker, Kubernetes, ...]  kubernetes

**What troubleshooting steps did you try?**
Try to follow https://www.jaegertracing.io/docs/latest/troubleshooting/ and describe how far you were able to progres

[2022-05-23 08:17] pavolloffay commented on #3694
Moving to the operator repository

[2022-05-23 13:14] jamers99 opened #3696 "Provide a .zip of the Windows binaries"
## Requirement - what kind of business use case are you trying to solve?
Provide a way to download the .zip of the binaries at https://www.jaegertracing.io/download/#binaries

## Problem - what in Jaeger blocks you from solving the requirement?
Many Windows folks do not have the tools to unzip a .tar.gz file

## Proposal - what do you suggest to solve the problem or improve the existing situation?

[2022-05-25 04:21] wpcarro opened #3697 "go mod vendor fails when module depends on jaeger"
I originally reported this issue here: https://github.com/timescale/promscale/issues/1374

[code]

I'm posting here in case this is a bug with jaeger. As I said in the other issue, I'm a golang n00b, so I'm not sure who's (if anyone) is at fault. I'm not even sure if my expectations are correct. I just expected to be able to call `go mod vendor` on the promscale repo and have that command succeed.

[2022-05-25 05:04] yurishkuro commented on #3697
it's probably because of this: https://github.com/jaegertracing/jaeger/blob/f9992f7e49532ceec92804d4cf66293b9089e1db/cmd/query/app/ui/actual.go#L28

There is no actual/ directory in the git repo, it is only created when the real UI assets are built and copied there. I created #3698, please try updating promscale to use that branch & see if it fixes your issue.

[2022-05-25 10:58] wkedz commented on #2943
@JWebDev try to add flag `--es.tls.enabled=true` into `command` session. I had the same issue, and it works.

[2022-05-25 16:59] wpcarro commented on #3697
Thanks for the quick response. Calling `go mod vendor` is now working as expected :)

[2022-05-25 17:04] #3697 closed

[2022-05-25 20:48] yurishkuro opened #3702 "Unstable test: TestHotReloadUIConfigTempFile"
I've seen this one failing sporadically:
[code]
Likely some kind of race condition dependent on the timing of hot reload.

[2022-05-26 17:01] rubenvp8510 opened #3706 "Ability to enable or disable dependencies index rollover"
## Requirement - what kind of business use case are you trying to solve?
There are certain scenarios where I only have permissions for certain indices, or I don't want to create dependencies indices. If for example I don't have permissions to create the dependencies index the rollover fails.

## Problem - what in Jaeger blocks you from solving the requirement?
This solves the problem when I don't

[2022-05-27 06:19] goku321 commented on #2420
Hi @anshul35, feel free to work on this. I couldn't make much progress

[2022-05-27 22:12] davide-malagoli opened #3709 "Can't overwrite elasticsearch roles"
**Describe the bug**
I'm trying to manipulate the roles of the elasticsearh attached to Jaeger.
I'm trying to remove the role "ml", but without success.
Using --set works on the original elastic official chart, but it does not work here

**To Reproduce**
Steps to reproduce the behavior:
1. helm repo add jaegertracing https://jaegertracing.github.io/helm-charts
2. helm install jaeger jaegertracing/

[2022-05-30 01:40] Frapschen commented on #3702
hi,I would like help it.

[2022-05-30 01:50] yurishkuro commented on #3702
please do

[2022-05-30 07:41] Frapschen commented on #3702
as the code refer(static_handler.go #238):
[code]
if there occur a error, the err must be not nil, while the log info show that the err is `<nil>`. how it can happen?

[2022-05-30 14:31] #3593 closed

[2022-05-30 14:35] yurishkuro commented on #3702
The error in the logs is "cannot parse UI config file /tmp/ui-config-hotreload-225331457/486536771.json: unexpected end of JSON input"

[2022-05-30 14:38] yurishkuro commented on #3702
Are we overwriting the file content or replacing the file with mv command?

[2022-05-30 18:46] #3625 closed

[2022-05-31 05:21] #3706 closed

[2022-05-31 09:52] jasperjonker commented on #3571
Thanks @sergiomcalzada that worked:
[code]

[2022-05-31 10:20] dmpe opened #3716 "jaeger-collector does not work anymore with OpenSearch 2.0"
**Describe the bug**
Last week, we have upgrade opensearch to a new version 2.0.
Since then jaeger-collector (via jaeger-operator) does not work, and crash loops, with this message:

[code]

See https://github.com/jaegertracing/jaeger/blob/main/plugin/storage/es/mappings/jaeger-service.json#L8

**To Reproduce**
Steps to reproduce the behavior:
1. Use OpenSearch 2.0
2. Deploye jaeger operator in ve

[2022-05-31 10:27] dmpe commented on #3716
Ahh, sorry, had to insert `es: version: "7"`

[2022-05-31 10:27] #3716 closed

[2022-05-31 13:04] rosstimothy opened #3717 "panic receiving spans from an otlptrace.Exporter over gRPC"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create an [OTLP exporter](https://go.opentelemetry.io/otel/exporters/otlp/otlptrace) that is configured to write to jaeger grpc/http OTLP endpoints
2. Export spans with the exporter
3. jaeger panics

**Expected behavior**
jaeger is capable of unmarshalling spans received from an OTLP exporter

**Version (please comp

[2022-05-31 13:23] yurishkuro commented on #3717
To which port are you sending the data?

[2022-05-31 16:15] yurishkuro commented on #3717
Found the issue, thanks for reporting.

[2022-05-31 17:13] #3717 closed, assigned to nobody

[2022-05-31 18:15] yurishkuro commented on #3717
please try again with 1.35.1

[2022-06-01 01:46] Frapschen commented on #3702
I just overwrite the file content.

[2022-06-01 07:33] mmorel-35 opened #3721 "Support Openid-connect authentification on Jaeger-UI"
## Requirement - what kind of business use case are you trying to solve?

I need to be able to authenticate users to access jaeger UI

## Problem - what in Jaeger blocks you from solving the requirement?

There is no way to authenticate users on the Jaeger UI

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Use `query.ui-config` to provide openid-connect

[2022-06-01 09:03] pasolid opened #3722 "Clean daily spans storage on demand from Jaeger UI"
Would be nice if there was an option in Jaeger UI to request storage cleanup.
We are using Elasticsearch as a spans storage, and we have deployed the `jaeger-es-index-cleaner` to remove old indexes but sometimes we do need a on demand cleaning.

The proposal is to have basic functionality of selecting dates to clean from-to and execute it from UI main screen.

[2022-06-01 09:38] frzifus opened #3723 "skip dependencies flag is not recognized"
**Describe the bug**
inserting the flag `--skip-dependencies=true` or defining the env variable `SKIP_DEPENDENCIES=true` does not allow to skip writing dependencies.

**To Reproduce**
Steps to reproduce the behavior:
1. try to change value using flag or env variable.

**Version (please complete the following information):**
 - OS: Linux
 - Jaeger version: 1.35.1

**What troubleshooting steps did y

[2022-06-01 13:44] Antiarchitect opened #3725 "Elasticsearch 8 Action/metadata line [1] contains an unknown parameter [_type]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Setup Jaeger backed by Elasticsearch 8

**Expected behavior**
Jaeger Collector works normally

**Version (please complete the following information):**
 - OS: [e.g. Linux]
 - Jaeger version: 1.30.0
 - Deployment: Kubernetes. Helm chart version: 0.56.5

**What troubleshooting

[2022-06-01 13:48] yurishkuro commented on #3725
try setting es.version=7, Jaeger does not support v8

[2022-06-01 13:54] Antiarchitect commented on #3725
Does not help either :( Is there any roadmap on this?

[2022-06-01 13:59] yurishkuro commented on #3722
Sorry, but doing manual maintenance for something that is already automated doesn't strike me like a good idea. If you need this functionality, you can add a link to Jaeger UI config and implement it yourself as a web service that invokes the index-cleaner.

[2022-06-01 13:59] #3722 closed

[2022-06-01 14:10] Antiarchitect commented on #3725
I see. Thank you so much for the info :)

[2022-06-01 14:10] #3725 closed

[2022-06-01 14:29] #3723 closed, assigned to nobody

[2022-06-03 17:56] #3702 closed

[2022-06-03 18:01] yurishkuro commented on #2509
Closing this as a duplicate of #3427, which has ongoing work.

[2022-06-03 18:01] yurishkuro commented on #3603
Sounds like a question about multi-tenancy, which is covered in #3427

[2022-06-03 18:01] #3603 closed

[2022-06-03 18:03] #925 closed

[2022-06-03 18:38] ThelonKarrde opened #3727 "Document the required permissions for Opensearch"
## Requirement - what kind of business use case are you trying to solve?

Technically this is the copy of the request https://github.com/jaegertracing/jaeger/issues/1691 but for Opensearch as a backend.

Since the permission model of OpenSearch is a little different from the Elasticsearch it's hard to use templates from the issue above even that they are helpful.

## Problem - what in Jaeger block

[2022-06-03 18:52] ThelonKarrde commented on #3727
I manage to find a version that seems to be working for me, but anyway it would be nice to have it documented somehow:
[code]

[2022-06-06 07:55] Haleygo opened #3732 "Bump github.com/go-openapi/spec from v0.20.5 to v0.20.6"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.  run "go mod download" with GOPROXY="https://goproxy.cn/"
2. clean mod cache and change goproxy to "goproxy.io" and run "go mod download" again
<img width="659" alt="image" src="https://user-images.githubusercontent.com/39937150/172118241-9289c085-6c7f-4c70-89ff-0665439cc7

[2022-06-06 08:31] ropon opened #3734 "Is there a plan to support batch write to Cassandra"
Is there a plan to support batch write to Cassandra?

[2022-06-06 09:20] pasolid commented on #3722
I don't think that having automated processes should prevent from having manual on-demand executions. Being able to execute processes manually should introduce a higher level of overall control. Having both automated and manual executions do not compete but complete each other.

The way I see both "approaches" (not only in the Jaeger system) is:
* Automated = launch-and-forget periodic tasks
* Man

[2022-06-06 14:43] yurishkuro commented on #3722
We already have the tools/scripts that you can run manually. I just don't think it belongs in the UI. And if it was in the UI, it would likely require some access controls, you wouldn't want a casual user of your installation to just wipe out the data, it would only make sense for some admin role.

[2022-06-06 15:57] #3732 closed

[2022-06-07 10:28] ssharma2089 opened #3740 "Is there a way to add agent service in production strategy"
When we want to install as a production strategy with elasticsearch as the storage type. Except for the agent service, it only deploys the collector, query, and associated services. I am unable to define an agent address in Traefik setup to trace the application due to the jaeger agent.
I tried to define the agent service as a different deployment under the same namespace, however it remained for

[2022-06-07 21:53] frzifus commented on #3740
Just to understand the setup a little better, you have a traefik proxy and want to transfer traces to an jaeger-agent and its unclear how to configure the jaeger agent?

[2022-06-08 19:19] esnible opened #3741 "make lint fails with many 'is in the blacklist'"
`make lint` fails with

[code]

... followed by many similar errors.

This has been happening on my Mac since https://github.com/jaegertracing/jaeger/pull/3736

(I don't see anything in that PR that would cause the problem.)

To reproduce, `make lint`.
It goes away if I do `git checkout 060ddb75da54b490f7b9926ca63a044e0e32745f` and then `make lint`

[2022-06-08 19:53] yurishkuro commented on #3741
did you try to refresh the linters with `make install-tools`?

[2022-06-09 04:52] JaredTan95 commented on #3662
hi, @ysyneu I have the same problem, do you made any progress to solve it?

[2022-06-09 15:18] pavolloffay commented on #3741
One way to find out is to remove the linter and see if it will get installed.

[2022-06-10 02:59] ysyneu commented on #3662
@JaredTan95  Sorry, I am still waiting for the official reply. But there are two alternative ways if you need, try grpc api_v3 (I tested it)  or the internal http api for UI.

[2022-06-10 18:27] HaroonSaid opened #3752 "Kafka Message Size Error"
**Describe the bug**
 Jaeger Collector is complaining about Kafka Message Size

**To Reproduce**
Not sure

**Expected behavior**
no errors

**Screenshots**
[code]

**Version (please complete the following information):**
 - OS: Linux
 - Jaeger version: 1.35
 - Deployment: AWS ECS

**What troubleshooting steps did you try?**
Try to follow https://www.jaegertracing.io/docs/latest/troubleshooting/ an

[2022-06-13 07:06] xieyuschen commented on #3752
Is it possible to provide a detailed code snippet or mock it to repeat this bug error?
@HaroonSaid
Thanks.

[2022-06-13 13:47] HaroonSaid commented on #3752
I can describe the process that we have

* spans are generated by the app and sent to a otel sidecar collector sends the data to Jaeger collector

* Jaeger collector writes to Kafka.

We see the above error.

It's unclear what code you are referring to as we don't write directly to Kafka.

[2022-06-13 21:26] christmoore commented on #3593
@HaroonSaid did this latest release solve your issue?

I'm hitting the same error - Jaeger collector in AWS ECS, ALB hitting 14250 and showing `healthy` for the collector.

Yet:
[code]

still appearing

[2022-06-13 21:33] HaroonSaid commented on #3593
@christmoore - yeah still seeing the same logs  - I guess my analysis was incorrect.

[2022-06-13 21:49] christmoore commented on #3593
Looks to originate from grpc dependency https://github.com/grpc/grpc-go#the-rpc-failed-with-error-code--unavailable-desc--transport-is-closing

[2022-06-14 09:04] destinygujun opened #3753 "ingester to consumer kafka panic"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. run ingester to consumer kafka panic

**Expected behavior**
normal running

**Screenshots**
{"level":"info","ts":1655197091.78011,"caller":"consumer/processor_factory.go:65","msg":"Creating new processors","partition":0}
panic: runtime error: invalid memory address or nil

[2022-06-14 12:18] sherifkayad commented on #2633
Are there any updates to this issue? .. Is it somehow planned that Jaeger would support S3 / Object storage natively?

[2022-06-14 15:06] #3753 closed

[2022-06-14 22:14] keremgocen commented on #3414
looking for a beginner-friendly issue if this is available

[2022-06-15 03:57] yurishkuro commented on #3414
it is

[2022-06-15 12:53] destinygujun opened #3756 "gprc refused"
{"level":"info","ts":1655297307.2381737,"caller":"app/static_handler.go:182","msg":"UI config path not provided, config file will not be watched"}
{"level":"warn","ts":1655297307.2382605,"caller":"channelz/funcs.go:342","msg":"[core][Channel #2 SubChannel #3] grpc: addrConn.createTransport failed to connect to {\n  \"Addr\": \":16685\",\n  \"ServerName\": \"localhost:16685\",\n  \"Attributes\": nu

[2022-06-15 13:41] vitalykarasik opened #3757 "Jaeger UI doesn't present all spans with "Operation = All""
**Describe the bug**
Jaeger UI doesn't present all spans with "Operation = All"

**To Reproduce**
Steps to reproduce the behavior:
1.  Launch Jaeger stack using docker compose
2. Send a few spans
3.  Run "Find traces" for a particular service, with "Operation = All"

**Expected behavior**
See *all* spans for this service

**Screenshots**
Attaching two screenshots: with "Operations = All" I'm getti

[2022-06-15 17:28] yurishkuro commented on #3752
I don't believe Jaeger has any controls over message size. By default it sends each span as a message, or you can enable batching, which is limited by the number of spans, not their sizes.

[2022-06-15 18:41] kavndu opened #3759 "Jaeger elasticsearch index cleaner feature not working"
### Discussed in https://github.com/jaegertracing/jaeger/discussions/3755

<div type='discussions-op-text'>

<sup>Originally posted by **kavndu** June 15, 2022</sup>
Iam working on enabling **esIndexCleaner** feature by using **jaeger official helm chart**. Here is the changes that i did in **values.yaml** file (helm-charts/charts/jaeger/values.yaml) after cloning the repository.

1. Change the de

[2022-06-17 09:40] jadanah opened #3762 "Assets for 1.35.2 release are named 1.35.1"
The assets on the  [1.35.2 release page](https://github.com/jaegertracing/jaeger/releases/tag/v1.35.2) are labelled 1.35.1.

[2022-06-20 15:45] HaroonSaid opened #3765 "Ingester Panic 1.35"
**Describe the bug**

Jaeger Ingester panic on trying to write to Elastic Search

**To Reproduce**
 Unknown

**Expected behavior**
Should not panic

**Screenshots**
[code]

**Version (please complete the following information):**
 - OS: Linux
 - Jaeger version: 1.35
 - Deployment: AWS ECS

[2022-06-21 02:04] yurishkuro opened #3766 "Remove dependency on jaeger-lib"
There are several issues with the dependency on jaeger-lib:
  * it is shared with jaeger-client-go, which is now deprecated, so the library does not need to be standalone
  * library does not use go modules, migrating it to `go mod` is non-trivial because it's already v2
  * because it cannot be migrated to go modules, it cannot be upgraded to later versions of go-kit. The older 0.11 version of go

[2022-06-23 10:28] jiragrid commented on #1989
this one work for me
`producer:
          topic: eventhub_jaeger_topic
          brokers: namespace.servicebus.windows.net:9093
          tls:
            enabled: true
            ca: /etc/ssl/certs/ca-certificates.crt
          plaintext:
            mechanism: PLAIN
            username: $ConnectionString
            password: Endpoint=sb://.........Sharekey
          authentication: plaintext`

[2022-06-24 10:11] gnozil opened #3781 "Allow to disable processor in jaeger-agent"
## Requirement - what kind of business use case are you trying to solve?

In my env, only jaeger-compact processor required and I want to disable other two to avoid port conflicts with other applications. But now there is not a way to only keep jaeger-compact udp at 6381.

## Problem - what in Jaeger blocks you from solving the requirement?

The port 6382 conflict with other application. And we do

[2022-06-24 15:12] cyf33 commented on #3537
Had the same problem!!
@micwiel Ingester can consume data from kafka when using snappy? I didn't try snappy but only lz4 and it couldn't work.

OS: Linux CentoOS7
Jaeger version: 1.33
Deployment: Docker
Kafka version: 2.7

[2022-06-25 08:55] gnozil commented on #3781
Thanks @yurishkuro. We are using jaeger-agent in physical server or VM, not docker. And the ephemeral port is not an option either. We hope not open addition ports (5775 and 6832) at all.

[2022-06-26 11:56] ymtdzzz commented on #2126
Hi, does anyone works on it? If not, I'd like to try it!

[2022-06-26 16:53] yurishkuro commented on #2126
go for it

[2022-06-27 17:48] yurishkuro commented on #3578
@juan-ramirez-sp Glad to hear, but to be clear, the fix is just preventing the crash by replacing empty Process with `Process{ServiceName: "unknown"}`, so that the spans can still be saved and inspected later for their origin. We have not found out the root cause of this issue.

[2022-06-28 17:49] bobrik opened #3785 "FOLLOWS_FROM breaks nesting"
**Describe the bug**

Here's a correctly nested span of `foo`:

<img width="1384" alt="image" src="https://user-images.githubusercontent.com/89186/176248502-bedfe274-de69-45c0-88e8-ad4d393c1f71.png">

And here it is if it had a `FOLLOWS_FROM` relation to another trace:

<img width="1384" alt="image" src="https://user-images.githubusercontent.com/89186/176248604-85da007c-a771-4f3c-83ea-cca3fd7c8157

[2022-06-28 23:16] bobrik commented on #3785
I opened https://github.com/jaegertracing/jaeger/pull/3786

[2022-06-29 01:28] #2126 closed

[2022-06-29 14:08] nicolastakashi commented on #2172
Hey Peeps!
This issue is still happening.
I've had the same issue on the same scenario reported by @prana24

[2022-06-29 16:32] Danny521 opened #3788 "How to handle AWS lambda and SQS with Jaeger?"
If we have a big system which has many micro services deploying in kubernetes and some lambdas deploying in AWS. So is there any possible that we can use Jaeger to tracing our whole system?
Like tracing path: serviceA->serviceB->lambda->SNS->SQS->Lambda->DynamoDB.

Our needs is we want to track each payment request in our business flow. and we only care the failed request, like we want to know whi

[2022-06-30 08:29] pavolloffay commented on #3788
As Jonah mentioned the ticket is not related to Jaeger therefore I am closing it.

@Danny521 feel free to reopen is there is any action item from the Jaeger team.

[2022-06-30 08:29] #3788 closed

[2022-06-30 16:58] adelel1 opened #3790 "Support receiving duplicate spans keeping only the latest"
## Requirement - what kind of business use case are you trying to solve?

I am using Jaeger backend with an opentelemetry collector, sending spans to the backend.

I represent an operation with a span, operations can call other operations on different machines, to an arbitrary level. When all operations complete I can a nice tree of spans. However operations can sometimes get stuck. I would like t

[2022-06-30 19:39] yurishkuro commented on #3790
Closing as a duplicate of #729

[2022-06-30 19:39] #3790 closed

[2022-07-01 15:17] sylvainOL commented on #3571
Fyi, https://github.com/jaegertracing/spark-dependencies is not working with es8.x also.

That means it cannot really be used in production IMHO

[2022-07-01 20:08] #3785 closed

[2022-07-01 21:18] npathapa commented on #3756
Any update on this issue? I'm facing the same.

[2022-07-04 21:04] yurishkuro opened #3792 "SPM demo does not show the Monitor tab in the UI"
**Describe the bug**
The SPM demo described in https://github.com/jaegertracing/jaeger/blob/main/docker-compose/monitor/README.md should be showing the Monitor tab in the UI (it is enabled in the UI config), but it does not.

cc @albertteoh

[2022-07-04 21:30] albertteoh commented on #3792
I tried it out just now, making sure that I delete the existing `jaegertracing/all-in-one` image in case a bug was introduced:

[code]

but I'm still able to see the Monitor tab.

<img width="599" alt="Screen Shot 2022-07-05 at 7 26 28 am" src="https://user-images.githubusercontent.com/26584478/177217908-9a3f52a9-d881-4db0-87d5-07f65085a766.png">

Is there any other step I can try to reproduce the

[2022-07-04 22:23] yurishkuro commented on #3792
hm, yes, after deleting the image it seems to work. Not sure if my "latest" was very old, I usually run versioned images.  Perhaps we can improve the instructions in case people run into this issue.

BTW, another issue, but I think it's for the UI only - https://github.com/jaegertracing/jaeger-ui/issues/969

[2022-07-05 03:03] #3792 closed

[2022-07-05 07:29] cyf33 commented on #3537
thx for the reply!

[2022-07-05 14:05] juame commented on #3687
Similar case with link to another issue #3578:

Two Collector (jaegertracing/jaeger-collector:1.34.1) pods (similar logs):
[code]

One Ingester (jaegertracing/jaeger-ingester:1.34.1) pod (container crashing continuously: #3578):
[code]

While the collector was still receiving spans (`jaeger_collector_spans_received_total` increasing, `jaeger_collector_spans_rejected_total=0` and `jaeger_collector_

[2022-07-05 15:08] dailydismay commented on #3756
+1, using 1.29.0 version of jaeger query

[2022-07-05 15:09] dailydismay commented on #3756
What version are u using?

[2022-07-05 17:08] #3756 closed

[2022-07-06 14:52] juan-ramirez-sp commented on #3578
I've confirmed we are getting the same error again.
All components are running 1.35.2, and we performed a direct upgrade.

`
github.com/jaegertracing/jaeger/plugin/storage/es/spanstore/dbmodel.FromDomain.convertProcess(...)
	github.com/jaegertracing/jaeger/plugin/storage/es/spanstore/dbmodel/from_domain.go:123
github.com/jaegertracing/jaeger/plugin/storage/es/spanstore/dbmodel.FromDomain.convertSp

[2022-07-08 10:55] paule96 opened #3803 "[Bug]: Jaeger doesn't show my service dependencies"
### What happened?

I'm working on a proof of concept, to use open telemetry for projects at work.
So far I'm happy to see what is all possible.

So currently my setup is the following:

[code]

The problem what I currently have is that my jaeger instance doesn't show the service dependencies like for example `ZipKin` does. Here a screenshot of zipkin:

<img width="1377" alt="image" src="https://u

[2022-07-08 13:56] yurishkuro commented on #3803
Jaeger only shows instrumented services in the DAG

[2022-07-08 14:11] paule96 commented on #3803
Ahhh that's sad. Okay so I must find out how to add cosmos to the system... That will be a challenge. Maybe this is then a feature request instead of a bug? :) I mean it would be still nice to have this option. In special if your service is build on top other public services that are not controlled by you.

[2022-07-08 15:59] paule96 commented on #3803
If you have a link I could try my best to implement it. If this is a ticket for a nice first contribution. ✌️

[2022-07-08 16:04] yurishkuro commented on #1019
This seems highly unlikely to be supported, so closing.

[2022-07-08 16:04] #1019 closed

[2022-07-08 16:19] yurishkuro opened #3804 "[Feature]: Visualize uninstrumented services in the dependency diagrams"
### Requirement

Visualize services in the dependency diagram even when they are not instrumented, but known from the caller side.

### Problem

When the trace leaf nodes that represent outbound calls to uninstrumented services, those services are not shown in the dependency diagram (e.g. see how Zipkin shows them in #3803).

### Proposal

Jaeger can infer that there is an existing callee service

[2022-07-08 16:20] yurishkuro commented on #3803
Had a quick look, cannot easily find that other ticket. Booked a new one with some details #3804

[2022-07-09 08:16] paule96 commented on #3804
Hi @yurishkuro,

I like your idea to just add it to the trace enrichment. Can you help me where to find the code of this? So I can try my luck to implement it? :)
From a first look into the code I didn't find the right place.

[2022-07-09 19:23] yurishkuro commented on #3804
@paule96 the dependencies calculation done by all-in-one happens inside `memory` storage:

https://github.com/jaegertracing/jaeger/blob/711488f94f25d4a5e7900d0ba450ecb5bfdfda7b/plugin/storage/memory/memory.go#L63

It may not be very straightforward to combine this with the enricher idea because dependencies logic does not query for traces, it just accesses them directly.

[2022-07-12 16:19] kjq opened #3808 "Support OpenSearch 2.x"
### What happened?

When upgrading OpenSearch to the latest version (in minikube or EKS) I get this error creating the index:

` Error 400 (Bad Request): Setting index.mapper.dynamic was removed after version 6.0.0 [type=illegal_argument_exception]","stacktrace":"main.main.func1\n\t./main.go:85\ngithub.com/spf13/cobra.(*Command).execute\n\tgithub.com/spf13/cobra@v1.5.0/command.go:872\ngithub.com/s

[2022-07-16 16:37] adhithyasrinivasan commented on #3696
I will take this up

[2022-07-19 14:29] juan-ramirez-sp commented on #3687
@juame Has a PR been drafted with your changes? I'm interested in getting this fixed for my own deployment and I'd like for your change to be reviewed.

@yurishkuro I recall you mention that you didn't want this kinda logic on the consumer side, but can we reconsider due to how disruptive this bug is?

[2022-07-20 05:59] locmai commented on #3578
We are having the same issue with the setup of ElasticSearch backend after upgrading it from 7.17.2 (Jaeger 1.30.0 works great with this) to 7.17.5.

It seems like either the process / process.Tags was null. Adding a safeguard there might solve this?

[2022-07-20 13:44] esnible commented on #3741
Closing because I can no longer reproduce.  I am not sure if this is because of something I did, such as changing Go version, or something that changed in Jaeger.

[2022-07-20 13:44] #3741 closed

[2022-07-21 15:53] ramonguiu opened #3826 "Certification program for remote storages that get highki"
### Requirement

As a user I want to use a durable and scalable remote storage for Jaeger and I want to easily find out what options are available so that I can select the one that is a best fit for my needs.

### Problem

Currently, Jaeger provides a lot of visibility to four storages: in-memory, badger, ElasticSearch and Cassandra. The last two are remote storages that are deeply integrated into

[2022-07-21 16:04] yurishkuro commented on #3826
what do you base this on?

[2022-07-21 21:01] ramonguiu commented on #3826
Mostly conversations we've had with Jaeger users and some folks in the tracing community.

Do you disagree? Do you think the majority of users are using Elasticsearch and Cassandra?

[2022-07-21 21:37] yurishkuro commented on #3826
I don't have any reliable data to claim one way or another. But the statement still doesn't ring true to me - if people are running a "serious" installation of Jaeger, then memory/Badger are not an option, and given the choice between supported backends (ES & Cass) and some bespoke solution, I would think the majority of people would use supported backends. We get many questions about ES, running

[2022-07-21 22:41] ramonguiu commented on #3826
Thanks for sharing your insights. I've rephrased the description.

Let me know what we can do on our side to move this forward.

[2022-07-22 01:40] yurishkuro commented on #3826
For Promscale, I recommend:
  1. implement write path of remote API
  2. create a new test similar to https://github.com/jaegertracing/jaeger/blob/3d67ac86f53866332568b0f542265b00d86407fc/plugin/storage/integration/grpc_test.go#L189 that can be configured from cmd line and run with arbitrary remote backend

[2022-07-22 11:05] zdyj3170101136 commented on #207
如果适用，您代表什么公司/组织？有多少软件工程师？
mihoyo;
你是如何使用 Jaeger 的？例如完整的生产部署、考虑、试验或“我没有使用 Jaeger”等。
we use agent->collector->kafka-> flink and ingester -> clickhouse.

we reimplement jaeger-agent:
1, use websocket to redirect []byte directly from client to collector.
2, use unix domain socket to replace udp.

您使用 Jaeger 多久了？
one year.
如果您没有使用 Jaeger 而是选择了其他跟踪系统，原因是什么？
您的系统布局中存在多少服务（或微服务）？
thousands.
其中有多少被追踪？
ALL.

[2022-07-22 19:06] billalley commented on #3571
We are experiencing problems connecting Jaeger to our existing ES setup due to this issue.
I've gone ahead and followed the work around instructions above, currently using the Helm chart for setup.

Ex:

[code]

But no matter I still see this error relating to the template index patterns:

`"caller":"./main.go:69","msg":"Failed to create span writer","error":"elastic: Error 400 (Bad Request): lega

[2022-07-22 20:05] billalley commented on #3571
Looks like this was some yaml mangling - No matter what was specified, checking the config state on the ingester showed
[code]
Solution: quote the false
[code]
Which becomes:
[code]

[2022-07-22 20:39] muhammadn commented on #2633
@sherifkayad I've released version 2. This is a breaking change from version 1 where the data is not backwards compatible.

A lot of rewrite and thoughts on re-architecting jaeger-s3. Also renamed it to jaeger-objectstorage as we now support not just s3 but also AzureBlob and Google GCS. storing indexes using DynamoDB is also support now.

https://github.com/flitnetics/jaeger-objectstorage

[2022-07-26 10:44] huahuayu opened #3829 "[Bug]: jaeger ingester module nil pointer error (when consume to ES)"
### What happened?

Start jaeger container with ES as data storage, the ingester container keeps down, nil pointer error.

Version 1.35 & 1.36 has the same issue.

### Steps to reproduce

*Step0*: run jaeger with es by container
[code]

*Step1:* At first it works fine, I can see data in jaeger-ui, but then `ingester` container keeps down. Error log:
[code]

### Expected behavior

Everything works.

[2022-07-26 15:09] #3765 closed

[2022-07-26 15:20] yurishkuro commented on #3829
The repro script doesn't work for me
[code]
(this is after I removed unnecessary copies of ES and Query).

It's also missing Kafka.

What is producing the actual traces in your setup?

[2022-07-26 15:52] huahuayu commented on #3829
I have a program to produce spans & concat them with a trace ID based on our business logic, then I send the spans to jaeger-collector by http.

At first, I use jaeger-all-in-one with memory storage. The container restarted too often, obviously, it can't be used in production.

So I want to use es cluster to persist the data.

I use aws kafka cluster, so it's not in docker-compose file.

I just ch

[2022-07-26 15:56] huahuayu commented on #3829
I am will help to look into the issue, how can I start `jaeger-ingestor` in the local env, so that I can debug.

[2022-07-26 16:31] yurishkuro commented on #3829
We already have a fix being worked on in #3819.

Can you share this program code?  I am still not clear how the nil pointer gets into the data received by the ingester, because the same sanitizer being added in #3819 already exists in the collector. In other words, it should not be possible to have span data in Kafka with `Process=nil`.

[2022-07-26 16:59] huahuayu commented on #3829
There are two programs, the first one produces JSON like this, and send to Kafka
[code]

The second one converts it to otel format spans & concat them based on business rules.

Here's the sample json output, all of our production spans is like this https://gist.github.com/huahuayu/cd3ad1ddf076b2892a6c3c1c68a9ca34

[2022-07-26 17:02] yurishkuro commented on #3829
But how does this get into Jaeger? Do you then take the OTEL spans and submit then to Jaeger Collector's OTLP endpoint?

[2022-07-26 17:08] huahuayu commented on #3829
yes, you are right, sent it to otel-collector by http.

[2022-07-26 17:13] huahuayu commented on #3829
Please check my sample link again, I provide more data, exactly the same production data format( I send spans in batch), and you can do this:
[code]

[2022-07-26 17:21] #3578 closed

[2022-07-26 17:41] yurishkuro commented on #3829
This is what I am getting from your description. Still doesn't explain how you get data into Jaeger.
[code]
Btw, when I run your curl command against Jaeger-all-in-one with OTLP enabled, if fails:
[code]

[2022-07-26 18:17] locmai commented on #3829
Hey @yurishkuro , thanks for the update on the PR and the review!

We have the same setup as @huahuayu and it only happens when we upgraded the Jaeger, ElasticSearch and Kafka.

I believe it went wrong at Jaeger Collector to Kafka step or during the upgrade.

If someone was looking for a workaround - it was purging the messages from the topic on Kafka.

[code]

[2022-07-26 18:36] yurishkuro commented on #3829
So all the fixes we have so far are defensive. Still don't know how messages existing collector->Kafka or entering Kafka->ingested might end up with nil Process. If it's due to data corruption in Kafka, it seems very peculiar that it's always the nil Process that people experience (although it's very possible that because we never checked for nil there, it's just the most obvious symptom). I just

[2022-07-26 18:48] yurishkuro commented on #3829
@locmai did you notice any unusual logs in the collector during Kafka upgrade? Other than Kafka upgrade corrupting the data already stored (possible, I guess), Collector->Kafka is indeed a likely place, possibly due to the type of driver we're using.

[2022-07-26 18:53] locmai commented on #3829
I don't think we've seen anything unusual from Kafka logs during the upgrade. Let me double-check on it tomorrow.

We did the upgrade for 10 environments and 3/10 had the issue, so yes, very likely due to the Kafka upgrade.

[2022-07-27 01:38] huahuayu commented on #3829
@yurishkuro the process flow is right. The data have no problem, your curl should use plain JSON text not the json file path, and it will be no error.
[code]

[2022-07-27 01:52] huahuayu commented on #3829
@locmai I didn't upgrade any components, I use jaeger 1.35 all the time

[2022-07-27 03:12] yurishkuro commented on #3829
This works fine with all-in-one:
[code]
@huahuayu are you saying that sending the same data payload through collector->kafka->ingester pipeline reliably reproduces the panic for you?  We need an easier way to setup this test, currently it's only automated via GH action.

@huahuayu also, which encoding of Jaeger spans are you using in Kafka?

[2022-07-27 15:00] huahuayu commented on #3829
The sample json I gave can not reproduce the panic, what I want to say is the original span data have no problem.

I don't know, it's not json, but it's not profobuf either, it's been automatically created by jaeger I think, the topic name is jaeger-spans, the msg is like

[code]

[2022-07-27 15:43] yurishkuro commented on #3829
Jaeger only supports JSON and Protobuf, so it has to be the latter.

[2022-07-29 18:41] mehta-ankit commented on #841
Solution to this problem would really help. Currently we run  into the trouble with elasticsearch having too many indices.

I agree that we should rewrite timestamps if they are in the future.
But ideally have a flag where the user can decide if they want our of order spans  (aka future spans) or rewrite timestamp.
Similar to what Vector has: https://vector.dev/docs/reference/configuration/sinks/l

[2022-08-01 03:52] yurishkuro commented on #1577
No longer needed since the `grpc-plugin` now supports both HC plugins and remote gRPC servers, based on CLI flags.

[2022-08-01 03:52] #1577 closed

[2022-08-01 03:59] yurishkuro opened #3835 "[Feature]: Shared remote storage via Remote Storage API"
### Requirement

I would like to use in-memory storage (or any other single-node storage) while still running multiple independent Jaeger components like collector/ingester/query.

### Problem

Today in-memory storage can only be used in all-in-one, because it cannot be shared between different Jaeger components. This forces us to use expensive (slow to start) storage implementations in various CI

[2022-08-01 03:59] yurishkuro commented on #1221
Implementing this in #3835

[2022-08-02 04:57] yurishkuro opened #3839 "[Feature]: publish binary and containers for remote-storage"
### Requirement

#3836 added a remote storage service. It needs to be included in the CI build scripts to ensure that a binary is published as part of the release and container images are published on commits.

[2022-08-02 15:46] yurishkuro opened #3842 "[Feature]: Publish description and readme to Docker Hub"
### Requirement

As a user downloading Jaeger images from Docker Hub, I want to be able to read a description and basic usage in the Docker Hub repositories.

### Problem

Right now most of Jaeger's Docker Hub repositories contain neither description nor the readme.

### Proposal

Use Docker Hub API to push the README files from the respective cmd/*** dirs when publishing Docker images.

Example:

[2022-08-02 16:23] #3839 closed

[2022-08-03 03:40] #1221 closed

[2022-08-03 10:51] YashasviChaurasia commented on #3842
@yurishkuro i would like to work on this issue.

[2022-08-03 14:34] yurishkuro commented on #3842
Great, go for it. Don't worry about the descriptions themselves, we first want to set up the process, and then we can improve the readmes.

[2022-08-03 19:24] #3835 closed

[2022-08-03 22:20] yurishkuro commented on #3829
I just pushed a docker-compose config for running collector->Kafka->ingester pipeline (7006e9fe50c8467ad6b84f2072a3cf136bfbe4ec) and tested with the trace from https://gist.github.com/huahuayu/cd3ad1ddf076b2892a6c3c1c68a9ca34:
[code]

As I expected, the trace was stored without issues.
![image](https://user-images.githubusercontent.com/3523016/182722033-e00a48ce-7151-4029-96c4-20ff95d63c1a.png)

S

[2022-08-04 10:49] atri-dastidar-snkeos opened #3851 "[Bug]: Release v1.37.0 is missing windows build in assets"
### What happened?

[The latest release v1.37.0](https://github.com/jaegertracing/jaeger/releases/tag/v1.37.0) is missing windows build in assets.

### Steps to reproduce

N/A

### Expected behavior

Expected to see a windows build (jaeger-1.37.0-windows-amd64.tar.gz) as with previous releases.

### Relevant log output

_No response_

### Screenshot

_No response_

### Additional context

_No resp

[2022-08-04 15:58] ramonguiu commented on #3826
Quick update on this:

1. Implementation of the write path of remote API is in progress: https://github.com/timescale/promscale/issues/1535
2. We have planned the work on allowing to run the tests from command line. I expect us to do the work this month.

[2022-08-04 23:35] darynh72 opened #3852 "Starting GRPC server 16685 connection refused"
### What happened?

When trying out the jaeger all-in-one image 1.29.0 & 1.37.0 I am seeing a connection refused when starting the GRPC server

Potentially something I have missed, but thought better get a bug created just in case. Maybe something else needs to be enabled when installing all-in-one deployment via helm. Needs to be installed via helm for our deployment process.

Am installing this

[2022-08-05 12:43] #3851 closed

[2022-08-05 13:14] atri-dastidar-snkeos commented on #3851
@Ashmita152 @yurishkuro thanks for the fix. Is [v1.37.0](https://github.com/jaegertracing/jaeger/releases/tag/v1.37.0) going to be re-released with the windows binaries?

[2022-08-05 14:53] issraee commented on #3500
Hello, I'm trying to send trace data of a wordpress website to opensearch through jaeger. I'm using wordpress plugin wordpress to send the data to jaeger, and from there to opensearch :

docker run --rm -it -v ${PWD}:/config \
-e SPAN_STORAGE_TYPE=elasticsearch opensearchproject/opensearch\
jaegertracing/jaeger-opentelemetry-collector \
--config-file=/config/config.yaml \
--es.server-urls=http://I

[2022-08-05 14:59] yurishkuro commented on #3500
where are you getting instructions to use this ^ name? If your Wordpress installation exports OpenTelemetry data, you can send it to regular Jaeger collector: https://medium.com/jaegertracing/introducing-native-support-for-opentelemetry-in-jaeger-eb661be8183c

[2022-08-05 15:33] #2509 closed

[2022-08-05 21:15] juan-ramirez-sp commented on #3578
We've deployed 1.37 to our clusters and confirmed it catches the bad message correctly.

Thanks again for working on this!

[2022-08-06 20:16] YashasviChaurasia commented on #3842
@yurishkuro
### I have Tested the Workflow and have tested it on my personal repository to upload Readme files on two different docker-hub repos namely "yashasvichaurasia/testing" and "yashasvichaurasia/testlife"

Following are some screenshots:

<img width="1440" alt="Screenshot 2022-08-07 at 1 34 01 AM" src="https://user-images.githubusercontent.com/46622381/183264598-8bc091b0-4e17-4df1-baad-b1c

[2022-08-06 20:26] YashasviChaurasia commented on #3842
I have written the jobs in '.yml' in the following template where I have assumed the admin username and password to be in the following repository secrets as we would require admin privileges while accessing docker hub while using this workflow:

[code]
In one .yml file, I have created multiple jobs which will upload Readme's to different docker-hub repositories when a push is triggered on the Git

[2022-08-06 20:31] yurishkuro commented on #3842
We don't want to pass Dockerhub credentials to unofficial / 3rd-party GH actions like peter-evans/dockerhub-description@v3. It would be better to have the code directly in Jaeger repo. Also, we run a script to build & publish many different images, I think it would make more sense to upload READMEs as part of that script rather than manually list each image in the GH action.

[2022-08-06 20:47] YashasviChaurasia commented on #3842
Ok, I will get on to that.
Thank you

[2022-08-08 03:30] THMAIL opened #3857 "[Feature]: Metric is too little"
### Requirement

### metric is so little that I can only monitor Jaeger services with little indicator.

### Problem

### metric is so little that I can only monitor Jaeger services with little indicator.

### such as : the latency of send in Jaeger-agent , or the latency of Jaeger-collecor , the count of spans that the agent received/rejected/dropped, the count of spans that the client created、se

[2022-08-08 03:58] yurishkuro commented on #3857
what specifically are you missing / looking for?

[2022-08-08 06:53] THMAIL commented on #3857
Thank you for your reply.
I want get some metrics such as the latency of send in Jaeger-agent , the latency of Jaeger-collecor , the count of spans that the agent received/rejected/dropped and the count of spans that the client created、send and not send.
But these metrics can't find in Jaeger. Is there any way to get these metrics?

[2022-08-08 10:44] fatihkc commented on #3852
I am dealing with same issue. Trying to connect it with kiali but 16685 is not working properly.

[2022-08-08 13:55] Rishi0405 commented on #2591
It May be too late, but hopefully this will help

maven dependency
[code]
Imports
[code]
code
[code]

I guess the traceid/spanid is in string format, if it is bytestring then use `.toByteArray()`

[2022-08-08 14:40] yurishkuro commented on #3857
I don't know if we have latency, because it is not relevant. Agent sends no replies so there's no latency for it to report, and collector is not a latency sensitive service, it's about throughput. Other metrics like received/dropped are available from the /metrics endpoint on the admin port.

[2022-08-08 21:21] cevian commented on #3826
@yurishkuro hey for item (2) do you recommend a new binary under `cmd/` or somewhere else? Does the name `remote-storage-tester` sound good? Or maybe `remote-storage-certification`?

Thanks!

[2022-08-08 21:38] yurishkuro commented on #3826
@cevian I don't think we need a new binary, just a test suite similar to https://github.com/jaegertracing/jaeger/blob/3d67ac86f53866332568b0f542265b00d86407fc/plugin/storage/integration/grpc_test.go#L189

It can be run with `go test -v ...` so that the actual testing code has access to `testing.T` for assertions, etc.

[2022-08-09 20:39] vprithvi opened #3864 "Add additional grpc.DialOptions in agent reporter connection builder"
I'd like to pass in additional `grpc.dialoptions` as a means to add custom middleware to connections.

Today, one needs to re-implement `grpc.CollectorProxy` to do this because it only accepts ConnBuilder (which is a struct).

I'd like to add a new field `AdditionalDialOptions` to `ConnBuilder` which can take in dial options which would be applied during connection creation.

https://github.com/ja

[2022-08-09 21:33] yurishkuro commented on #3864
+1

[2022-08-10 02:20] MargaritaForex commented on #521
I have a similar error

I have three files yml with compose and the reference to docker images are the next:

elasticsearch-docker-compose.yml

version: '3.6'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.2
    ports:
      - '9200:9200'
      - '9300:9300'
    environment:
      - discovery.type=single-node
    networks:
      - metrics-network
networks:

[2022-08-10 18:28] #3864 closed

[2022-08-11 02:01] yurishkuro opened #3866 "[Feature]: Allow configuring keep-alive settings in the agent as gRPC client"
### Requirement

From: https://cloud-native.slack.com/archives/CGG7NFUJ3/p1659627880482739

question on using the jaeger-agent in combination with a collector that is hosted/run and load-balanced in k8s: I found the various jaeger-agent configuration settings for load-balanced collector endpoints, but from what I read (and from experiments), the endpoints that the agent chooses are selected at sta

[2022-08-12 08:04] jadanah opened #3871 "[Feature]: Missing Windows Release For 1.37.0"
### Requirement

Windows binaries for 1.37.0

### Problem

The windows binaries are missing from the 1.37.0 release https://github.com/jaegertracing/jaeger/releases/tag/v1.37.0

### Proposal

_No response_

### Open questions

_No response_

[2022-08-12 22:45] albertteoh commented on #3871
I believe this is fixed by https://github.com/jaegertracing/jaeger/pull/3854, however it looks like GH Actions runs against the tag, so it wouldn't pickup that fix even if we could re-run the release jobs. The cleanest option I can think of is to tag a new (bugfix) release, but there may be better alternatives that I'm not aware of.

What do you think @yurishkuro?

[2022-08-12 22:48] YashasviChaurasia commented on #3842
@yurishkuro could you help me out on how to proceed , I am feeling a bit stuck with the Dockerhub API.
Thank you

[2022-08-12 23:22] yurishkuro commented on #3842
I haven't investigated it, but the link I have in the description shows code example of submitting via the api. I assume we can do it similarly with just a curl command that we can include in one of the scripts.

[2022-08-12 23:23] yurishkuro commented on #3871
I would just wait for the next release, but if necessary we could do a patch release.

[2022-08-14 12:22] albertteoh commented on #3871
I'll close this issue for now in favour of waiting for the next major version release in 2 weeks, which should contain the the windows release. If an urgent release is necessary, we can reopen.

[2022-08-14 12:22] #3871 closed

[2022-08-15 13:24] BlackDex commented on #3578
@juan-ramirez-sp Does catching mean that it also clears those bad messages from Kafka, or are those kept in the Kafka cluster?

[2022-08-16 19:38] juan-ramirez-sp commented on #3578
@BlackDex The linked PR could answer it better than I can, https://github.com/jaegertracing/jaeger/pull/3819

I didn't notice multiple error messages so I assume it did clear them from kafka.

[2022-08-17 00:53] TripleDogDare opened #3877 "[Bug]: Reproducible UI builds"
### What happened?

UI builds are not reproducible.

There's at least two issues that I've discovered so far.
1. gzipped files are inserting file timestamps. This can be resolved in the Makefile fairly easily.
2. `asset-manifest.json` does not maintain a consistent sort order. I'll probably need to add something to `./scripts` to resolve this.

### Steps to reproduce

1. `make rebuild-ui`
2. `find

[2022-08-18 14:38] esnible opened #3881 "[Feature]: The rest of multi-tenancy"
### Requirement

Multi tenancy

### Problem

This issue discusses state of multi tenancy and the remaining work to complete multitenancy.

With the work that has been done I can run Jaeger using memory storage behind a reverse proxy that adds a tenant header and Jaeger functions correctly as a multitenant system.

The work that has merged:
- https://github.com/jaegertracing/jaeger/pull/3827 Tenanc

[2022-08-18 15:05] pavolloffay commented on #3427
Closing, let's continue discussion in #3881

[2022-08-18 15:05] #3427 closed

[2022-08-19 09:09] whughchen commented on #3881
watching on this

[2022-08-19 10:22] jdomag commented on #425
Is there any update on this or this idea is dead?

[2022-08-24 06:07] sedflix opened #3884 "[Bug]: jaeger-ingester: stuck at `elastic: bulk processor "" failed but may retry` while sending spans to elasticsearch"
### What happened?

- one of our ingester pods enters the following state in which it keeps on publishing the following message. Note: we keep on seeing this message continuously as some interval.
[code]
- the other ingester pod keeps on working fine with no error.
- restarting the ingester pod fixes the issue.
- `jaeger_ingester_span_processor_latency_count`, `jaeger_ingester_sarama_consumer_mess

[2022-08-24 12:09] Etienne-Carriere opened #3885 "[Bug]: Panic of jaeger collector"
### What happened?

I have a panic of the jaeger-collector

### Steps to reproduce

1. Version of jaeger-collector : {"gitCommit":"fdc3ae5d914daa5c097bf18afbfa62e1c0d4de97","gitVersion":"v1.37.0","buildDate":"2022-08-03T17:38:30Z"} . In my previous version (1.26.0), I also reproduce the bug
2. Have a configuration with both Kafka with protobuf encoding (no issue with json) + --collector.tags optio

[2022-08-24 22:08] yurishkuro commented on #3885
Smells like a race condition, but `addCollectorTags` is called from `enqueueSpan` called from `ProcessSpans` which is called once per batch.

However, there's definitely inefficiency in how collector tags are applied, since they are added to `Process.Tags`, but `Process` is typically identical across all spans in a batch.

[2022-08-25 07:34] Etienne-Carriere commented on #3885
@yurishkuro , I agree it looks like a race condition but I dig a bit in the code and I don't find/understand where there is parallel operation (write by addCollectorTags / read by protobuf serializer)

Concerning the inefficiency, I will look a bit in the code to see if it is easy to solve but no guarantee

[2022-08-25 09:36] Etienne-Carriere commented on #3885
Do you know why we decide to sort the process tag only when collector.tags option is activated. I tested by removing the sort call and I no more reproduce the issue.

[2022-08-25 15:04] yurishkuro commented on #3885
Are you able to reliably reproduce the issue? It would be good to find the actual issue - applying Sort is just a symptom, I think.

[2022-08-25 15:36] yurishkuro commented on #3885
Actually, I think that is it - the call to `addCollectorTags` happens inside `enqueueSpan`, so one span might be off to a queue (and picked up for processing / serialization) while the other is still going through `addCollectorTags`. If they both share the Process object, then `append` and `Sort` can make changes to the underlying array.

Can you try with #3886 ?

[2022-08-25 18:01] Etienne-Carriere commented on #3885
@yurishkuro , thanks for the reactivity! I will test your patch tomorrow morning. About reliability to reproduce :
* 1.37.0 without collector_tags : no panic during months
* 1.37.0 + collector_tags : many panic per hour
=> I will test your patch and if I have no panic during the weekend, it was probably the issue

[2022-08-25 18:37] yurishkuro commented on #3885
👍

[2022-08-26 08:03] Etienne-Carriere commented on #3885
I installed the patched version 2 hours ago and so far so good !

[2022-08-26 14:23] #3885 closed

[2022-08-26 18:52] #2691 closed

[2022-08-26 18:53] yurishkuro commented on #2679
hasn't come up for a while, closing

[2022-08-26 18:53] #2679 closed

[2022-08-26 18:53] yurishkuro commented on #2676
hasn't come up for a long time, closing

[2022-08-26 18:53] #2676 closed

[2022-08-26 18:54] yurishkuro commented on #2005
since Jaeger clients are deprecated, this is unlikely to move further, so closing

[2022-08-26 18:54] #2005 closed

[2022-08-26 18:55] yurishkuro commented on #1519
Done in #3383

[2022-08-26 18:55] #1519 closed

[2022-08-26 18:56] yurishkuro commented on #3377
Duplicate of #1519

[2022-08-26 18:58] #771 closed

[2022-08-26 18:59] yurishkuro commented on #576
Jaeger client libraries are officially deprecated

[2022-08-26 18:59] #576 closed

[2022-08-26 18:59] yurishkuro commented on #572
Jaeger client libraries are officially deprecated

[2022-08-26 18:59] #572 closed

[2022-08-26 19:00] yurishkuro commented on #331
Don't see this moving forward.

[2022-08-26 19:00] #331 closed

[2022-08-26 19:02] yurishkuro commented on #197
This is discoverable from the tacking issue, but there are no plans for official support, so closing.

[2022-08-26 19:02] #197 closed

[2022-08-26 19:04] yurishkuro commented on #577
Jaeger client libraries are officially deprecated

[2022-08-26 19:04] #577 closed

[2022-08-26 19:06] yurishkuro commented on #1559
Done in #1579

[2022-08-26 19:06] #1559 closed

[2022-08-27 19:27] yurishkuro commented on #3571
@Ashmita152 I came across https://github.com/olivere/elastic/issues/1533, where the author of the library unequivocally states:

So there seems to be little point in upgrading to v7 of the library as it won't support v8 of ES.

Unlike our Cassandra implementation that uses an internal abstraction over gocql driver, the ES implementation has a large exposure to many different types from `olivere/el

[2022-08-30 16:08] apoorva-marisomaradhya opened #3890 "[Bug]: No Spans received by the Jaeger Agent"
### What happened?

I am trying to setup Jaeger tracing for Thanos query which is runnign on EC2 instance.
While the Jaeger-client is reporting spans as expected, but Jaeger-agent is not receiving any spans.

### Steps to reproduce

Thanos-query:
--tracing.config-file /etc/thanos-query/config.yaml

/etc/thanos-query/config.yaml:
content: |
type: JAEGER
config:
service_name: "thanos-query-jaeger"
a

[2022-08-31 21:46] vprithvi opened #3891 "[Bug]: Jaeger Agent's http /sampling endpoint returns JSON which breaks older jaeger clients"
### What happened?

Jaeger Agent's sampling endpoint's `perOperationStrategies` field returns `null` instead of `[]`, which breaks older Java jaeger-clients.

### Steps to reproduce

As of 1.23, sampling endpoint returns the following when using grpc as transport between agent and collector.
[code]

### Expected behavior

As of version 1.17, sampling endpoint returns the following when using tchan

[2022-09-01 07:43] chenbodeng719 opened #3896 "after use gevent patch all, jaeger cant get span"
@floatliang Thank you.
@yurishkuro Patching standard library with `gevent` makes multi-threaded code single-threaded. And it seems that `_consume_queue` fall into lock here https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/reporter.py#L161
I think it's better to report span always via `add_callback` https://github.com/jaegertracing/jaeger-client-python/blob/master/jae

[2022-09-01 12:15] VineethReddy02 commented on #3826
@yurishkuro Promscale now supports the gRPC-based Jaeger write interface. With this now the Jaeger users can use Promscale for both ingesting and querying.

Configuring Promscale as the backend in Jaeger collector/query is as simple as passing one CLI option i.e. `--grpc-storage.server=promscale:9202`.

[2022-09-01 14:43] #3891 closed

[2022-09-01 15:15] yurishkuro commented on #3896
Jaeger clients are no longer maintained, please use OpenTelemetry.

[2022-09-01 15:15] #3896 closed

[2022-09-02 10:14] ysyneu commented on #3662
a

[2022-09-03 12:06] eddiewebb commented on #513
@zoidbergwill - im just using jeager for demo instance, is this something i can do inmhelm install or need to run manually on cassandra node?

[2022-09-03 12:40] zoidbergwill commented on #513
The Jaeger all in one image and helm chart should work in that case, without any need for cassandra

[2022-09-05 03:48] VineethReddy02 commented on #3826
@yurishkuro [here](https://github.com/VineethReddy02/jaeger-documentation.git) is the PR reflecting the same in the Jaeger docs.

[2022-09-05 21:53] ajitalyana commented on #3866
Hi, can I take this?

[2022-09-05 22:06] yurishkuro commented on #3866
Yes

[2022-09-06 02:48] ajitalyana commented on #3866
@yurishkuro I   have gone through the slack discussion and client-side there is no Connection timeout support. Could you eloborate on the comment  "may be possible to close the connections manually "  .

[2022-09-06 02:56] yurishkuro commented on #3866
We could have the logic in the agent that would try to reconnect to the server(s) every N seconds (N being configurable, e.g. 30sec by default). I don't know how exactly to do that w/ gRPC, maybe via custom load balancer, or by forcing a redial.

[2022-09-06 09:02] ajax-osadchuk-r commented on #3571
@yurishkuro Could you please clarify whether Jaeger is going to support ElasticSearch v8.+?

[2022-09-06 23:52] stephaje opened #3899 "[Bug]: Searches for Individual Traces Have Bad Time Ranges"
### What happened?

My Jaeger Query instance can search for traces over a time period and can view individual traces when loaded from a time-range search. However, links to individual traces just return 404 errors. It appears this is because the from timestamp is set to a number much larger than expected.

### Steps to reproduce

1. Use collector with the following configuration:
[code]

2. Use qu

[2022-09-07 00:17] stephaje opened #3900 "[Bug]: Jaeger Query Tags Search Causes Nested Search Error"
### What happened?

When searching for tags in the UI, a "failed to create query: [nested] failed to find nested object under path [tags]" error is thrown by jaeger's query. I would think ignore_unmapped would be used here to prevent this error, but it isn't in the query.

### Steps to reproduce

1. Use collector with the following configuration:
[code]
2. Use query with the following configuratio

[2022-09-07 11:42] ananyak19 commented on #3414
Hey can I work on this?

[2022-09-07 15:09] yurishkuro commented on #3414
Yes

[2022-09-08 07:02] ananyak19 commented on #3414
/assign

[2022-09-08 07:02] jiragrid commented on #1989
I found another issue after using above config. it can connect to eventhub but Jaeger ingester not consume message from eventhub

[2022-09-08 17:33] h20220025 commented on #3842
hey @yurishkuro this issue seems interesting and i want to work on this issue so could you allow me to work on the same:)

[2022-09-08 17:54] h20220025 commented on #3842
could you please assign this to me ???

[2022-09-08 19:23] h20220025 commented on #3842
Thank You @yurishkuro

[2022-09-09 06:43] Pravdeep opened #3902 "[Bug]: Jaeger Query UI doesn't show traces"
### What happened?

I have setup Jaeger query and collector(latest version) on Kubernetes with ES as storage(version : 6.8.22) backend. The problem that I'm facing right now is Jaeger Query doesn't show any other service except Jaeger Query in the dropdown. So no trace information get reflected in Jaeger Query while I see events stored in Elastic Search. There is nothing in the logs of Jaeger quer

[2022-09-09 17:31] stephaje commented on #3899
I've tried upgrading to v1.36 and this issue no longer occurs.

[2022-09-09 17:31] #3899 closed

[2022-09-09 17:36] stephaje commented on #3900
I've tried upgrading to v1.36 and this issue still exists.

[2022-09-10 00:14] bobrik opened #3903 "[Bug]: Tests failing on Go 1.19: "x509: certificate contains duplicate extensions failing""
### What happened?

On Go 1.19 a few tests fail:

[code]

### Steps to reproduce

[code]

### Expected behavior

Tests pass

### Relevant log output

_No response_

### Screenshot

_No response_

### Additional context

This is because the example cert has duplicate extensions:

[code]

This is no longer allowed: https://github.com/golang/go/commit/a11a885cb567b3797e33733e883c2ba3bdc0e898

### Jae

[2022-09-10 04:39] ananyak19 commented on #3414
/assign

[2022-09-10 06:43] #3903 closed

[2022-09-10 09:01] h20220025 commented on #3842
hey @YashasviChaurasia, are you still working on the same ???
if yes please let me know.

[2022-09-10 09:21] YashasviChaurasia commented on #3842
yes, I am working on this but you can submit a PR if you are able to solve the issue.

[2022-09-15 07:29] ibtesamlatif2997 commented on #1466
HI,

Is jaeger collector accepting JSON format over HTTP collector endpoint. because I am facing same issue in 2022 :-)

Thanks

[2022-09-15 08:49] alejandrodnm opened #3912 "[Feature]: Add more realistic scenario to large trace integration test"
### Requirement

As a developer working on automatically running the `TestExternalGRPCStorage` tests against a custom storage using the gRPC plugin.

I want a more realistic scenario for the `testGetLargeSpan` test with each span having a unique spanID.

So that I can have more confidence on the results of the integration test.

### Problem

The [testGetLargeSpans](https://github.com/jaegertracing

[2022-09-15 14:24] yurishkuro commented on #1466
There is http endpoint for OTLP format, I don't recall if it accepts OTLP JSON or only proto. There are no plans for Jaeger-native json.

[2022-09-15 15:50] alejandrodnm commented on #3912
Hi @yurishkuro, thanks for the reply.

Since you considered it a bug, is it ok I go ahead with the PR to add unique spanID's?

Part of the problem is that the expected trace list of spans is the same span repeated, if I overwrite in the storage the test fails. because I'll be comparing on slice of 10008 spans against a slice with just one span.

[2022-09-15 17:01] yurishkuro commented on #3912
yes, feel free to send a PR

[2022-09-15 19:12] #3912 closed

[2022-09-17 19:49] lakshkeswani commented on #3866
@yurishkuro I am interested in working on it, can guide me from where I can start?

[2022-09-20 09:38] alejandrodnm opened #3918 "[Feature]: Add more realistic scenario to find trace integration test"
### Requirement

This is a follow up of https://github.com/jaegertracing/jaeger/issues/3912

As a developer working on automatically running the TestExternalGRPCStorage tests against a custom storage that uses the [OTEL translator libs](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/7b5eb5280c15a5cc195d68757ba4c24c2c7f8eba/pkg/translator/jaeger) and the gRPC plugin.

I want

[2022-09-21 05:44] gfernandezcuri commented on #814
Hi, i try to use the sampling configuration base on jaeger documentation, but i still get sapn metrics on jaeger https://www.jaegertracing.io/docs/1.38/sampling/#CollectorSamplingConfiguration
Anyone found the solution? pls help

[2022-09-22 17:01] alejandrodnm commented on #3918
Closing because multiple parents are supported for Jaeger spans.

For more context refer to this comment https://github.com/jaegertracing/jaeger/pull/3919#discussion_r975366622

[2022-09-22 17:01] #3918 closed

[2022-09-22 18:13] cablunar commented on #2976
Having the same issue with 1.38.0 after upgrading to a new opensearch instance.
Reverting doesn't help... :/

[2022-09-25 18:24] kumar98ksp commented on #2029
@jpkrohling ,i want to work on this issue. could you assign me.

[2022-09-26 04:25] crombus opened #3924 "[Feature]: Elasticsearch config details can taken by an env variable through file inside pod filesystem."
### Requirement

Elasticsearch config details can taken by an env variable through file inside pod filesystem. For now we have to pass through configmap.

### Problem

Integrating with vault which injector to inject passwords inside the podfilesystem.

### Proposal

Create env variable for elastic in jaeger which takes password from file. Similarly to keycloak.

### Open questions

Any other way w

[2022-09-26 04:28] yurishkuro commented on #3924
Would it also require watching the file for password changes?

[2022-09-26 04:29] crombus commented on #3924
yes, for rotating passwords.

[2022-09-26 10:19] Sucharitha95 opened #3925 "[Bug]: Sampling strategies not working as expected"
### What happened?

Configured the Sampling strategies as per the Jaeger documentation:  https://www.jaegertracing.io/docs/1.34/sampling/

Sampling strategy does not seem to affect even after configuring the strategy using .json file. I can also see in the collector logs that the input json file is read but the output is not obtained as expected.
Following is the configuration .json file used by u

[2022-09-27 06:11] sanasz91mdev commented on #3663
@SABERYJS how were you able to resolve this?

[2022-09-27 13:49] huornlmj opened #3926 "[Bug]: CVE-2022-27664 resolution plans"
### What happened?

Scanning jaegertracing/jaeger-agent:latest with Trivy, the following vulnerability is shown in the binary (the image is OK).  Do you know when this might be resolved?

[code]

### Steps to reproduce

1. $ docker pull jaegertracing/jaeger-agent
2. $ trivy image jaegertracing/jaeger-agent:latest

### Expected behavior

Clean report

### Relevant log output

_No response_

### Scr

[2022-09-27 15:02] #3926 closed

[2022-09-27 15:41] huornlmj commented on #3926
Wow.  That has got to be one of the fastest turnarounds I've seen in quite some time! Thank you @yurishkuro .

[2022-09-28 02:43] yurishkuro commented on #3925
How are you verifying that?

[2022-09-28 05:54] Sucharitha95 commented on #3925
Hi @yurishkuro ,
We have checked it in the Query UI. When 1000 traces are generated all of them can be queried out from the Query and 1000 traces were seen on Query UI.

[2022-09-28 14:04] yurishkuro commented on #3925
Jaeger backend does not perform sampling, sampling happens in the SDK. Which SDK are you using? Which sampler is the SDK configured to use?

[2022-09-28 22:20] albertteoh commented on #2029
Sure, I've assigned this issue to you.

[2022-09-29 12:06] ajax-osadchuk-r commented on #3571
@yurishkuro Any thoughts about my previous comment?

[2022-09-29 20:37] luanguimaraesla commented on #3571
Thank you @sergiomcalzada. It works. We're also using ILM/aliases, which changes the configuration a little bit.

### Script to apply all manifests
Make sure you named the files correctly

[code]

### ILM manfest (`jaeger.ilm.json`)
[code]
### Spans Composable Template (`jaeger-span.tpl.json`)
[code]
### Services Composable Template (`jaeger-service.tpl.json`)
[code]
### Spans rollover origin inde

[2022-09-30 10:36] Sucharitha95 commented on #3925
Hi @yurishkuro ,
Thanks for your reply.
We are using Go-SDK and we are configuring the sampling in SDK as per the below link: https://pkg.go.dev/go.opentelemetry.io/otel/sdk/trace
The sampler we are using from the SDK is AlwaysSample() in our client side configuration[https://github.com/open-telemetry/opentelemetry-go/blob/main/example/otel-collector/main.go]

In the collector we are configuring f

[2022-09-30 15:52] Salkimmich opened #3943 "[Feature]: Implementations for 100% Security Compliance for CLOmonitor"
### Requirement

To receive awards for compliance with CNCF best practices, Jaeger needs to implement SBOMs that will clear [this check](https://clomonitor.io/docs/topics/checks/#software-bill-of-materials-sbom).

### Problem

Software Bill of Materials (SBOM) - is a list of all the dependencies that went into your current build and deliverables. It contains more information about your project tha

[2022-09-30 17:02] yurishkuro commented on #423
Currently, service name is required because of the limitation of Cassandra implementation, where we do not have general indexing and instead build indices manually on top of kv-store, such that service name is always a prefix of the lookup key. There is a way to work around that by first querying all service names and then executing a search query against each of them. Such approach will very wild

[2022-10-02 07:32] utkarshsaraf19 commented on #3852
Facing same issue in standalone running on latest jaeger all in one

[2022-10-04 06:15] arajkumar commented on #3826
Hello @yurishkuro, Do you think #2(integration test for promscale) can be a part of the upstream jaeger repo?

[2022-10-04 11:26] ananyak19 commented on #3414
Hi @pocki I am a first time contributor, can you please guide on how to get started here and where I need to make the changes in order to solve the issue?

[2022-10-04 12:34] pocki commented on #3414
As you can see above, I am also not familiar with Go and the Go Compiler.
Please check the [contribution guidelines](https://github.com/jaegertracing/jaeger/blob/main/CONTRIBUTING.md) for this project.

[2022-10-04 16:00] yurishkuro commented on #3414
I see references to two utilities that seem to achieve this: https://stackoverflow.com/questions/35126344/how-to-set-the-file-version-field-in-pe-header-of-exe-files

[2022-10-04 18:27] yurishkuro commented on #3826
Seems odd to have it there if we're not going to execute it.

[2022-10-05 16:20] naveedyahyazadeh opened #3948 "[Bug]: CLI Flags for es and es-archive unintentionally affect each other"
### What happened?

If the values of `es.num-shards` and `es-archive.num-shards` don't match, indices will alternate the number of shards to both mismatched values based on which CLI flag got executed most recently. The same can be said for replicas. This is due to the fact that Jaeger primary and Jaeger archive index types are both created using the same pattern, and CLI flags for both the `es` a

[2022-10-06 06:01] Sucharitha95 commented on #3925
Hi @yurishkuro,
Can you please help us with this issue that is mentioned in above comment.

[2022-10-06 06:13] sedflix commented on #3884
Using `INGESTER_DEADLOCKINTERVAL`  / `--ingester.deadlockInterval` has reduced the frequency of this issue by a lot.

[2022-10-06 20:49] yurishkuro opened #3949 "[Feature]: Support accepting OTLP via Kafka"
### Requirement

As a user of OpenTelemetry Collector, I would like to send OTLP-encoded data to Jaeger.

### Problem

Jaeger ingester today only understands 3 formats, `json` (Jaeger Protobuf as JSON), `protobuf` (Jaeger Protobuf), and `zipkin-thrift`.

### Proposal

Add two more recognized encodings, `otlp-json` and `otlp-proto`.

It should be fairly simple to implement since we already import O

[2022-10-07 14:32] jkowall opened #3951 "[Security]: Repo config best practice"
### Requirement

This is to update our security score with best practices

I reviewed the yaml files for the github actions and we should be okay to make this settings change found here (I do not have permissions to do this):

<img width="239" alt="image" src="https://user-images.githubusercontent.com/1859948/194577961-c2533072-953c-4543-b63e-49f0ba41513d.png">

<img width="599" alt="image" src="h

[2022-10-07 18:41] Montana opened #3954 "Clock skew between the host machines"
Hey all,

I'm working with something that has two main components for time-saving, we'll call them component A, and component B.

Both components are configured to `export trace` information to my `jaegertracing/all-in-one:1.37` deployment.

The headers from component A are propagating correctly to component B, and I can see the traces being nested, but they are out of order.

I print the epoch ti

[2022-10-07 20:58] yurishkuro commented on #3951
changed, thanks

[2022-10-07 20:58] #3951 closed

[2022-10-09 23:31] yurishkuro opened #3958 "[Bug]: span tags of type int64 may lose precision"
### What happened?

UI shows span tag values with a precision loss (https://github.com/jaegertracing/jaeger-ui/issues/982)

### Steps to reproduce

1. save a trace with span tag of type int64 that has a very large value
2. view the trace in the UI - it may show rounded up value (https://github.com/jaegertracing/jaeger-ui/issues/982)

### Expected behavior

UI should show accurate value stored in t

[2022-10-10 01:31] jkowall opened #3960 "[Security]: Sign Releases"
### Requirement

Please create a GPG key and store the private key in a secret. This will be used to modify the build shell script to create signed releases.

http://ekaia.org/blog/2009/05/10/creating-new-gpgkey/ > To create the key

Please provide the name of the github secret for the private key.

### Problem

Need to create and store GPG key to allow for verification of the builds being from th

[2022-10-10 01:49] yurishkuro commented on #3960
I suggest someone first creates a PR that demonstrates this process working (using a personal private key set in the fork).

For instance, the article suggests using `gpg --armor --detach-sign`, which (a) picks the key from the local key ring, and (b) asks for a passphrase to decode it from the ring. It's not going to work in a shell script like that exactly.

Open question: we already have a key

[2022-10-10 01:50] yurishkuro commented on #3960
cc @jaegertracing/jaeger-maintainers

[2022-10-10 03:25] yurishkuro commented on #3954
It would help if you could export the traces from the UI and attach here.

[2022-10-10 03:35] yurishkuro commented on #3960
This looks like an example of dealing with gpg keys in a script: https://github.com/operator-framework/operator-sdk/pull/4034/files#diff-cf3a54e7ea95d0803bdc9605ebf170aa569cfef0fc83d1f1a78cde09215ce133

[2022-10-12 00:44] fengyeall111 opened #3965 "Jaeger ui doesn't show follows-from span"
### What happened?

system:
win10
server:
[code]
client  code:
[code]
Why  jaeger ui doesn't show  "asynnextspan", the client program logs three span

### Steps to reproduce

1. install  jaeger
2. run client code
3. query  jager ui

### Expected behavior

yaeger ui should show three spans:
    rootSpan、nextSpan、asyncnextspan

### Relevant log output

[code]

### Screenshot

_No response_

### Addi

[2022-10-12 01:20] fengyeall111 commented on #3965
I have solved this problem. That's just because of closer.close()  before the  folllow-from span  finished

[2022-10-12 01:20] #3965 closed

[2022-10-12 06:59] sidharthabiswal opened #3968 "[Bug]: Jaeger is not reloading the renewed certificates from filesystem even during connection setup"
### What happened?

We are using Jaeger for tracing purpose. The Jaeger collector makes connection with search engine to store the trace data in TLS mode. The certificates get renewed at a periodic interval. But the renewed certificates are not reloaded by Jaeger as in the collector log it shows the below line only.

Certificate has been removed, using the last known version ...

This line comes f

[2022-10-12 13:49] shubbham1215 commented on #3958
Hi @yurishkuro , as part of my academics, I am looking forward to contribute for an open source project and my first Pull Request. Can I contribute to this issue?

[2022-10-12 14:18] yurishkuro commented on #3958
You are welcome to.

[2022-10-12 14:51] yurishkuro commented on #3958
assigned

[2022-10-12 22:04] yurishkuro commented on #3808
Hopefully solved by #3966. Please comment if not.

[2022-10-12 22:04] #3808 closed

[2022-10-13 13:38] kgunnerud commented on #1830
Would be nice if it could be configured for example by using the --query.ui-config file. For us, it would be nice to hide a few selected tags that as of now give us little to no benefits

[2022-10-13 14:45] yurishkuro commented on #1830
`--query.ui-config` is one option but it means the data would still be returned to the UI and just not displayed. Another alternative is a cli flag to the query service to suppress returning certain tags in the JSON response (may be easier to implement).

[2022-10-14 16:23] shubbham1215 commented on #3958
Hi @yurishkuro , I have got a basic understanding of jaeger after going through some of your videos on Youtube.  I have built jaeger from source and able to run the demo of hotrod example. But I am not exactly sure how to send a span tag of type int64 that has a very large value. Could you please elaborate more on this?Thanks.

[2022-10-14 16:27] yurishkuro commented on #3958
There is a generator in cmd/tracegen, you can add a code there to set a span tag with large int64 value (bigger than the JavaScript limit of `2^53 – 1`, e.g. `val := int64(1) << 55`)

[2022-10-14 16:29] yurishkuro commented on #3958
You could also just add that tag to a text fixture and make sure it is converted to a string value in the ui-json output

model/converter/json/fixtures/domain_01.json

[2022-10-16 17:30] ananyak19 commented on #3414
Hi
I'm getting this error on running the command - git clone
***@***.***:jaegertracing/jaeger.git
jaeger
[image: image.png]

looks like i don't have access rights.

On Tue, Oct 4, 2022 at 9:30 PM Yuri Shkuro ***@***.***> wrote:

[2022-10-17 20:30] ramonguiu commented on #3826
@yurishkuro the work to enable any remote storage to self-certify using the Jaeger remote storage tests was merged in [this PR](https://github.com/jaegertracing/jaeger/pull/3944).

We ran the tests against Promscale which revealed some failing tests that have now been fixed and would be included in the next release (going out in the next few days). It's been valuable to us.

As for next steps:
1.

[2022-10-17 20:37] yurishkuro commented on #3826
I don't have strong feelings how to do that, do you have suggestions?

I think it makes sense to add some README alongside of #3944 to describe how a non-core storage can be verified/tested. Then where ever we have "the list" we can have a link to CI job that illustrates passing of all the tests.

[2022-10-17 20:42] ramonguiu commented on #3826
That makes sense. We'll add a README to explain how this works. cc: @arajkumar

We'll come with a suggestion about where we could place the list of certified storages with the link to the CI jobs showing all tests are passing.

[2022-10-19 06:34] Sucharitha95 commented on #3925
Hi @yurishkuro ,
We have configured our trace generator using GO SDK remote sampling configuration similar to way mentioned in https://github.com/open-telemetry/opentelemetry-go-contrib/tree/main/samplers/jaegerremote.

jaegerRemoteSampler := jaegerremote.New(
		"your-service-name",
		jaegerremote.WithSamplingServerURL("http://{sampling_service_host_name}:5778"),
		jaegerremote.WithSamplingRefresh

[2022-10-19 09:39] arajkumar commented on #3826
@yurishkuro Created a PR to mention about storage certification.
https://github.com/jaegertracing/jaeger/pull/3985

[2022-10-19 14:26] yurishkuro commented on #3925
What is printed when you do spewCfg.Dump(jaegerRemoteSampler)?

[2022-10-20 08:33] NonsoAmadi10 commented on #3949
Hello yurishkuro, Please can I be assigned to this. I want to try my hands on this issue

[2022-10-20 08:34] NonsoAmadi10 commented on #3949
Hello Yurishkuro, can I be assigned to this please? I want this to be my first open source contribution

[2022-10-20 08:36] NonsoAmadi10 commented on #3949
Also what guide can I follow as to how I can make my Pull Request?

[2022-10-20 12:23] Sucharitha95 commented on #3925
Hi @yurishkuro,
[logs.txt](https://github.com/jaegertracing/jaeger/files/9829890/logs.txt)
Please find the output log of spewCfg.Dump(jaegerRemoteSampler) in above file.
Apart from this I have one another query regarding sampling,
Using 5778 we are performing the sampling, is there any way of configuring the sampling without using 5778 port and directly configuring the sampling configuration using

[2022-10-20 14:10] yurishkuro commented on #3949
Are you asking in general how to do it on GitHub [[1]], or specifically in Jaeger project [[2]]?

I think you only need to unmarshall https://github.com/jaegertracing/jaeger/blob/3d67ac86f53866332568b0f542265b00d86407fc/cmd/ingester/app/builder/builder.go#L35

But when introducing a new encoding you probably don't want it to be available as output encoding of the collector, only the input encoding

[2022-10-21 08:11] arajkumar commented on #638
@yurishkuro Could you please add [PostgreSQL with Promscale](https://github.com/timescale/promscale#promscale-for-jaeger-and-opentelemetry) into the list.? Now [Promscale is Jaeger storage complaint](https://github.com/timescale/promscale/releases/tag/0.16.0) too :) Thanks.

[2022-10-21 14:18] mehta-ankit opened #3993 "[Bug]: CVE-2022-32149 (golang/x/text pkg)"
### What happened?

Scanning jaegertracing/jaeger-agent:latest with Trivy, the following vulnerability is shown in the binary.

|Vulnerability ID  |Severity  |Package Name      | Installed Version  |Fixed Version  |Published Date       | Last Modified Date|
| ----------- | ----------- | ----------- | ----------- | ----------- | ----------- | ----------- |
|CVE-2022-32149 |   HIGH      |golang.org/

[2022-10-21 14:42] #3993 closed

[2022-10-23 01:11] trealma opened #3994 "[Feature]: Can you add a custom link button to the page to jump to promethus or kibana or other sys in ui?"
### Requirement

Can you add a custom link button to the page to jump to promethus or kibana?
<img width="544" alt="image" src="https://user-images.githubusercontent.com/60080355/197368368-f92575e4-853a-42ab-afe9-4cce39206dc8.png">

### Problem

To find trace, often need to take the query log according to traceid, if can add a link button, it is very convenient

### Proposal

_No response_

### Op

[2022-10-23 04:04] yurishkuro commented on #3994
moving to jaeger-ui

[2022-10-24 09:51] NonsoAmadi10 commented on #3949
Wow, alright. I would keep this in mind while implementing. Thank you Yuri!! I'd be raising my first PR soon for you to look and give feedback

[2022-10-24 12:33] maganap commented on #3462
@samene In my case I had wrongly created the index pattern in the template, so when the index was created ES added some mappings automatically instead of the ones I expected. So my field ended up being a long instead of a Date, as in your case.

Silly case but maybe it's yours as well 😅

[2022-10-25 17:54] yurishkuro commented on #3943
@jkowall anything still left to do here?

[2022-10-26 11:58] ihatemodels commented on #2976
Facing the same issue on all version from 1.30.0 to 1.38.0
Deleting and revert mapping doesn't work ...

[2022-10-28 05:31] Sucharitha95 commented on #3925
Hi @yurishkuro ,
We have tried to check for the tags in the Query UI but could not find anything of such in the UI.
Also,Can you please let us know is there any port of sampling for Collector other than applying sampling using Agent 5778 port as we are trying to remove agent and directly connect to Collector we want to know is there any way to perform Sampling using Jaeger collector.

[2022-10-28 09:44] andyjansson opened #4011 "[Bug]: OTLP collector endpoint not working"
### What happened?

As a .NET developer I want to collect OpenTelemetry traces using the recommended [OpenTelemetryProtocol exporter](https://opentelemetry.io/docs/instrumentation/net/exporters/) so that I may visualize these in Jaeger. (does not work)

### Steps to reproduce

1. Download `jaeger-1.38.1-linux-amd64.tar.gz` binary
2. Unpack tar
3. Set following environment variables:
[code]
4. run

[2022-10-28 09:53] jkowall commented on #3943
@yurishkuro

1. We never put together the release signing we wanted to do, so that's the only open issue.
3. SBOM, we just to test when we do the next release.
5. For some reason, the checks are still not showing up as fixed for token permissions https://clomonitor.io/projects/cncf/jaeger

[2022-10-28 10:18] ybasket commented on #3625
Where would the user demand for OLTP on the agent be collected? I'd love to see this feature implemented.

[2022-10-28 15:21] yurishkuro commented on #3943
I don't know if the tokens report is stale or not. It complains about some perms, but the remediation is to run https://app.stepsecurity.io/secureworkflow/jaegertracing/jaeger/ci-all-in-one-build.yml/main?enable=permissions, which does not produce any changes/recommendations. Wonder if it's because of this error:
![image](https://user-images.githubusercontent.com/3523016/198673901-73c8c6a0-fa0e-4d

[2022-10-28 15:24] yurishkuro commented on #4011
Did you try to load that trace by its ID "71699b6fe85982c7c8995ea3d9c95df2"?

[2022-10-28 15:26] yurishkuro commented on #3925
We have an open ticket for it, but nobody stepped up to implement it. https://github.com/jaegertracing/jaeger/issues/1420

[2022-10-28 15:38] andyjansson commented on #4011
Yes I did. I get a 404 Not Found when doing so.

[2022-10-28 16:29] andyjansson commented on #4011
Yeah, it doesn't work on my end. Also I'm using the binaries, not the docker image.

[2022-10-28 18:24] PaulFlorea commented on #2976
I had to roll back to v1.21 to get it to work again.
Every jaeger version from v1.22 onward is broken with the ES backend, if any of them write to ES it throws that error until the indices are deleted.

[2022-10-28 19:00] yurishkuro commented on #1420
This was done in https://github.com/jaegertracing/jaeger/issues/1971

[2022-10-28 19:00] #1420 closed

[2022-10-28 19:01] yurishkuro commented on #3925
My bad, it's been already implemented: https://github.com/jaegertracing/jaeger/issues/1971

[2022-10-29 21:08] jkowall commented on #3943
This is the issue to track it https://github.com/step-security/secure-workflows/issues/1095

It looks like we have to change the yaml manually and set the permissions.
https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions

I think I can try to make it read-all and see if the job runs in my fork. What do you think @yurishkuro?

[2022-10-30 10:56] shubbham1215 commented on #3958
Will be raising a PR within the coming week

[2022-11-01 08:06] #4011 closed

[2022-11-01 11:57] nicolastakashi commented on #638
@yurishkuro could you please add RediSearch to the list? I've worked on a GRPC Plugin to Store Traces on Redis Search and this is close to the first release, I'm just adding a few performance tests.

https://github.com/nicolastakashi/jaeger-redisearch

[2022-11-01 19:01] yurishkuro commented on #4011
@andyjansson if you found a resolution/cause, please post here for the future users who may run into similar problem.

[2022-11-01 19:41] yurishkuro commented on #3857
please reopen if you have specific asks.

[2022-11-01 19:41] #3857 closed

[2022-11-01 19:44] yurishkuro commented on #3877
I think this is solved, if not please list additional items required.

[2022-11-01 19:44] #3877 closed

[2022-11-01 19:47] yurishkuro commented on #3902
I don't think we can help solve this problem remotely, there is something specific to your configuration, perhaps networking setup. I recommend looking at metrics from each components about what data they receive/process.

[2022-11-01 19:52] yurishkuro commented on #3852
Based on linked PRs the issue was that the port was not exposed to the network.

[2022-11-01 19:52] #3852 closed

[2022-11-01 20:00] #3954 closed

[2022-11-01 22:40] yurishkuro opened #4017 "Set permissions on the workflows"
Last release was failing with `Error: Resource not accessible by integration`. Turns out it was due to recent change to permissions for the github token. I was able to unblock the release by changing the permissions back to read&write:
![image](https://user-images.githubusercontent.com/3523016/199355595-1642228c-56e0-4f5a-8e32-7b45167e9219.png)

However, security audit recommendation is to have th

[2022-11-01 22:46] yurishkuro commented on #4017
Permissions were added in 029a0f, so changing the global settings back to read-only.

![image](https://user-images.githubusercontent.com/3523016/199356346-10909421-3fd5-4b48-870f-6b208c268e35.png)

cc @jkowall

[2022-11-01 22:46] #4017 closed

[2022-11-02 08:46] andyjansson commented on #4011
Honestly, I have no idea why the sample trace wasn't showing up even though it was accepted by the collector. I did however solve the issue of the traces not being delivered from the ASP.NET Core application. Turns out HTTP traffic was being proxied to another network, and the IP needed to be added to an ignore list.

[2022-11-02 11:41] Sucharitha95 commented on #3925
Hi @yurishkuro ,
Thanks for the support, we have gone through the implementation in #1990, as per this sampling endpoint in collector was previously implemented using the Configmanager in pkg/clientcfg/clientcfghttp/cfgmgr.go and same is added in the cmd/collector/main.go, but currently the implementation is changed in cmd/collector/main.go and is not implemented using pkg/clientcfg/clientcfghttp.

[2022-11-02 22:09] darynh72 commented on #3852
So I guess this will flow through to exposing that port in the jaeger helm charts at some point?

https://github.com/jaegertracing/helm-charts/blob/main/charts/jaeger/templates/allinone-deploy.yaml

[code]

[2022-11-03 12:01] nicolastakashi opened #4020 "[Feature]: Distroless images over Alpine"
### Requirement

Would be awesome if Jager offers distroless images as an alternative to alpine.
It can help the community by having lightweight images as well as more security, since distroless images don't have utilities and
 much less CVEslightweight

### Problem

N/A

### Proposal

Offer distroless images as an option over alpine

### Open questions

_No response_

[2022-11-04 01:05] nonamef commented on #3571
Elasticsearch is up to 8.5.0 and still waiting on an update? Using out of date infrastructure in production is becoming a burden.

[2022-11-04 01:14] jkowall commented on #3571
Opensearch is a good alternative. Not sure there is interest in building support for 9.x. There are also other backends which are efficient as options.

[2022-11-04 15:45] jkowall commented on #272
There is a newer version of this which works with iOx the new engine. https://github.com/influxdata/influxdb-observability/tree/main/jaeger-query-plugin the older repo is only for v1 and v2 of InfluxDB.

[2022-11-04 15:49] jkowall commented on #421
Author has said this is no longer being worked on due to cost and it being a not so great solution : https://github.com/johanneswuerbach/jaeger-dynamodb/issues/55

[2022-11-04 15:49] #421 closed

[2022-11-04 16:18] #272 closed

[2022-11-04 16:18] #1575 closed

[2022-11-04 16:22] #2633 closed

[2022-11-04 16:23] yurishkuro commented on #1208
There has been no activity here, I assume there is not enough interest, so closing as wontfix.

[2022-11-04 16:23] #1208 closed

[2022-11-04 16:25] yurishkuro commented on #1895
Two solutions mentioned, closing as done.
  * https://github.com/jozef-slezak/jaeger-postgresql
  * https://github.com/luxms/jaeger-postgresql

[2022-11-04 16:27] yurishkuro commented on #3005
Closing as done: https://github.com/em135/humio-jaeger-plugin

[2022-11-04 16:27] #3005 closed

[2022-11-04 16:29] yurishkuro commented on #1365
doesn't look like this is getting traction, closing

[2022-11-04 16:29] #1365 closed

[2022-11-05 13:07] PetrusZ commented on #3571
try to use env as workaroud:

[code]

[2022-11-05 13:08] PetrusZ commented on #3663
check here: https://github.com/jaegertracing/jaeger/issues/3571#issuecomment-1304543686

[2022-11-05 15:02] andreib1 opened #4022 "[Feature]: Expose all-in-one as a package to allowing embedding an ephemeral Jaeger server for integration tests"
### Requirement

As a Jaeger Exported developer
I want to be able to embed an ephemeral all-in-one Jaeger server
So that I can run integration tests all in-process.

Thank you.

### Problem

The all-in-one main.go code references internal packages.
This stops me from using similar code to start an ephemeral Jaeger server in-process.

### Proposal

If this was changed so that main.go created an Jae

[2022-11-05 17:02] yurishkuro commented on #4022
Why do you need to build a Jaeger exporter in the first place? See https://medium.com/jaegertracing/better-alignment-with-opentelemetry-by-focusing-on-otlp-f3688939073f

[2022-11-05 18:00] andreib1 commented on #4022
The trace we are outputting to Jaeger is a non-standard trace where the start and end of a span are not in the same processing domain.  see:
https://go-workflow.com
or
https://gitlab.com/shar-workflow/shar/-/tree/main/telemetry

[2022-11-05 18:06] andreib1 commented on #4022
I understand and appreciate your suggestion, and will probably find a way to hack OLTP in a similar way.
The question is however orthogonal to my requirement.  Either way, I would like to bring up Jaeger to ensure the correct values have been recorded in the trace.

[2022-11-06 22:43] darynh72 commented on #3852
@yurishkuro does an extra issue need to be added to get that 16685 port exposed in the jaeger helm charts above? I think if anyone trying to install jaeger via helm charts will continue to be hit with the connection refused error for that port.

From the looks of the linked PR, thats about exposing  16685 via docker run which makes sense.

[2022-11-06 23:29] yurishkuro commented on #3852
@darynh72 I am not that familiar with helm, but it seems this port is already exposed https://github.com/jaegertracing/helm-charts/search?q=16685

[2022-11-07 01:13] darynh72 commented on #3852
Not 100% sure, but I think the all-in-one deployment for helm uses this deployment yaml
https://github.com/jaegertracing/helm-charts/blob/main/charts/jaeger/templates/allinone-deploy.yaml

where the port is not exposed.

I just tried the helm chart 0.62.1 with image 1.39.0 & its definitely not there:
[code]

[2022-11-07 01:26] darynh72 commented on #3852
Ah yup, you can use helm template to output what deployments yamls are used with helm using the allinone options its definitely using allinone-deploy.yaml
[code]

[2022-11-07 01:46] yurishkuro commented on #3852
feel free to open a PR if you know what needs to be fixed.

[2022-11-07 02:43] darynh72 commented on #3852
Sweet! Tried manually updating the deployment with the port added & seemed to work

PR added - https://github.com/jaegertracing/helm-charts/pull/409

[2022-11-07 13:54] shubbham1215 commented on #3958
I am new to Go language. I have managed to do this and seen that the large value is shown as a string in ui_01-actual.json
Is this the correct fix?

value = kv.Bool()
		case model.Int64Type:
			value = kv.Int64()
			if kv.Int64() > 9007199254740991 || kv.Int64() < -9007199254740991 {
				kv.VType = 0
				value = fmt.Sprintf("%v", value)
			}
		case model.Float64Type:

[2022-11-07 15:12] yurishkuro commented on #3958
yep, looks right, but use named constants

[2022-11-07 17:59] shubbham1215 commented on #3958
Additional context

The fix should include a fixture with large-enough value that would lose precision when parsed by Javascript.

Where do I add this fixture? I added it in domain_01.json and ui_01.json but am getting below error after running the test TestFromDomain
Diff:
        	            	--- Expected
        	            	+++ Actual
        	            	@@ -65,5 +65,5 @@

[2022-11-07 18:43] yurishkuro commented on #3958
those look like the right files. The failure seems to be from the type, not so much from the value.

[2022-11-07 18:44] yurishkuro commented on #3958
I recommend creating a WIP PR, it's easier to discuss there, when there's code.

[2022-11-09 15:31] yurishkuro commented on #3949
@Vishal-Chdhry give it a try

[2022-11-09 18:25] #3960 closed

[2022-11-10 02:31] marianobrc opened #4035 "[Bug]: Empty metrics in the monitoring tab"
### What happened?

I'm trying the experimental SPM features, using the all-in-one docker image and docker-compose with Prometheus as described in the [docs](https://github.com/jaegertracing/jaeger/tree/main/docker-compose/monitor).
And I want to see the latency and error rate metrics for my services, but I only see empty metrics.

### Steps to reproduce

I'm sending traces both with the simulator

[2022-11-10 07:27] Sucharitha95 commented on #3925
Hi @yurishkuro ,
Thanks, from the implementation of #1990, understand that collector supports remote sampling.
Do we have any sample code like below(its for agent) in OTLP SDK for apply sampling and connect to collector with any collector sampling port.
jaegerRemoteSampler := jaegerremote.New(
        "your-service-name",
        jaegerremote.WithSamplingServerURL("http://{sampling_service_host_na

[2022-11-10 11:49] albertteoh commented on #4035
Thanks for the details @marianobrc.

No, there shouldn't be, just a couple are enough to start showing some metrics in the Monitor tab.

What span kind is your python application emitting? If it's anything but the `server` kind, then that could [explain why](https://www.jaegertracing.io/docs/1.39/spm/#serviceoperation-missing-in-monitor-tab) you're not able to view metrics from your application. S

[2022-11-10 12:56] marianobrc commented on #4035
Thanks for you prompt response @albertteoh .

My application uses spans of kind `producer` and `consumer`, not `server` indeed.
I'm tracing a distributed transactions in an event-driven architecture using kafka as the message broker for inter-service communication. The goal is to get metrics like the total latency (duration) of the transaction `trace`. I can see the total duration of each individu

[2022-11-10 14:00] yurishkuro commented on #3925
Sorry, I don't follow your question. The code you showed is already for OTEL SDK

[2022-11-10 21:03] albertteoh commented on #4035
From what I gather, I think there are two problems that you're currently facing:
1. Limitation on span kind.
2. View trace of a transaction from an event-driven architecture.

## 1. Limitation on span kind

I agree that forcing the `server` span kind into your producer/consumer applications isn't the right approach.

In this case, I think it's just a limitation of the Jaeger UI at the moment, whic

[2022-11-11 05:19] Sucharitha95 commented on #3925
Hi @yurishkuro ,
Can we use the same code for sampling at collector. If yes, what are all the ports supports for sampling? as we have different interfaces with different ports(4317,4318, 14268, 14250, 9411).

[2022-11-11 14:20] yurishkuro commented on #3925
Sampling via SDK and collector are not interchangeable

[2022-11-12 06:38] ananyak19 commented on #3414
Hi, @pocki  @yurishkuro   i tried to clone the repository but don't have the required access rights. Can you help me with that?