[2021-04-24 04:55] albertteoh opened #2954 ""Monitor" tab for service health metrics"
## Proposed sub-tasks

### Jaeger-Query

Owners: @albertteoh

- [x] #2946: Add metrics query API spec
- [x] #2977: Add Metrics Reader interface
- [x] #2983, #2988, #3004: Add M3 reader implementation
- [x] #3049: Add factory and flags
- [x] #3055: Add TLS support
- [x] #3091: Add GRPC handler
- [x] #3095: Add HTTP handler
- [x] #3060, #3061: Update query service
- [x] #3079: Hookup metrics query t

[2021-04-24 12:02] raima-zachariah opened #2955 "[Security] Potential Secret Leak"
It has been noticed that while using fossa-contrib/fossa-action@v1 your fossa-api-key 304657e2357ba57b416b94e6b119131b is present in plaintext. Please ensure that secrets are encrypted or not passed as plain text in github workflows.

[2021-04-24 16:38] yurishkuro commented on #2955
It was my understanding that api key is not a secret, just a project identifier.

[2021-04-24 19:18] jpkrohling commented on #2955
That's also my understanding. It should really be named something like `public-key` :-)

[2021-04-24 19:18] #2955 closed

[2021-04-25 04:13] raima-zachariah commented on #2955
Thank you for taking out the time to respond. I was performing a vulnerability analysis and this was part of my result finding.

[2021-04-26 02:09] bravecobra opened #2956 "Jaeger grafana mixin is broken"
**Describe the bug**
I tried following the mixin documentation to generate the CRDs for the monitoring jaeger in grafana, but the mixin is broken due  to git repo's being moved. No idea where to begin to fix this.

The generated version lacks documentation on how to use them, so I'm stuck.

**To Reproduce**
Steps to reproduce the behavior:
1.  Just follow the docs at https://github.com/jaegertraci

[2021-04-26 07:08] neoaisac opened #2957 "Have Docker images built with bash preinstalled"
## Requirement - what kind of business use case are you trying to solve?

Support bash by default in the docker images.

## Problem - what in Jaeger blocks you from solving the requirement?

The docker images publisher in the Docker hub do not have bash, which means that when they're used in a Dockerfile with the `RUN` command (for example to add a `wait-for` script in a docker compose script) the

[2021-04-26 07:42] judyQD commented on #2927
after our tuning, we found currently, the bottleneck is Ingester, not elasticsearch. Even we add more partion and more ingester, still cannot improve the capacity of ingester to fetch data from kafka partition.
When we use pstack to check ingester, find ingester is waiting all the time. Could u help check why?

 pstack 25895
Thread 1 (process 25895):
#0  runtime.futex () at runtime/sys_linux_amd64

[2021-04-26 07:49] jpkrohling commented on #2954
I love these mockups, and I can think of a couple of things to add after this is implemented. For instance, clicking on a part of the graph could lead people to the search results view for the relevant part they clicked. For instance, when clicking in the most recent part of the errors graph, the search results for "error=true" would be shown for the time window representing the area in the graph

[2021-04-26 08:10] muhammadn commented on #2633
@CSP197 @joe-elliott v1.0.0 of jaeger-s3 is released!

https://github.com/muhammadn/jaeger-s3/releases/tag/v1.0.0

[2021-04-26 09:59] jpkrohling commented on #2956
@gouthamve, would you be interested in maintaining the mixin? Otherwise, it might be better to remove it, and point people to a blog post instead.

[2021-04-26 10:04] jpkrohling commented on #2957
Could you expand on the use case? Are you using that to make Jaeger wait for a dependency to start before running the entrypoint?

[2021-04-26 11:32] albertteoh commented on #2927
How did you come to this conclusion?

Can we answer the question of what the ingester is waiting on?

Ingester [pulls span messages from kafka](https://github.com/jaegertracing/jaeger/blob/master/cmd/ingester/app/consumer/consumer.go#L133) and [synchronously writes this span](https://github.com/jaegertracing/jaeger/blob/master/cmd/ingester/app/processor/span_processor.go#L67) to the [Elasticsearch

[2021-04-26 15:07] bravecobra commented on #2956
I'd be happy with a blog post, as long as I can get monitoring with `prometheus` and `grafana` to work. I already have a `prometheus-operator` instance and a `jaeger-operator` instance running. Just matter of hooking them up.

[2021-04-26 15:47] gsagula opened #2960 "Collector does not start Zipkin server automatically"
**Describe the bug**
Starting on `jaegertracing/jaeger-operator:1.22.1`, jaeger-collector does not start Zipkin server automatically.

{"level":"info","ts":1619421380.7131286,"caller":"server/zipkin.go:48","msg":"Not listening for Zipkin HTTP traffic, port not configured"}

CR
[code]

**Discussion**
https://github.com/jaegertracing/jaeger/discussions/2959

**To Reproduce**
Steps to reproduce the b

[2021-04-26 22:08] sdickhoven commented on #1691
fyi: i am using an aws-managed opendistro elasticsearch cluster (version 7.10) and the following permissions work for me:
[code]

these permissions are compatible with index prefixes and restrict permissions outside the jaeger indices to the bare minimum (as required by the current versions of `jaeger-es-rollover` and `jaeger-es-index-cleaner`).

however, i can only guarantee that `jaeger-es-index

[2021-04-27 11:48] sachinkakatkar opened #2963 "Build Error esc: Command not found"
**Describe the bug**
When i run the command "make build-ui" or "make build-binaries-ppc64le"
then build fail with error esc: command not found.

**To Reproduce**
Steps to reproduce the behavior:
1. git submodule update --init --recursive
2.make install-tools
3.make test
4.make build-ui
5.make build-binaries-ppc64le

**Expected behavior**
Build shall success without error

**Screenshots**
If applic

[2021-04-27 12:28] jpkrohling commented on #2956
Have you seen this blog post? This was made at the time I added the mixin to this repository:

https://developers.redhat.com/blog/2019/08/28/build-a-monitoring-infrastructure-for-your-jaeger-installation/

[2021-04-27 12:30] jpkrohling commented on #2960
@rubenvp8510, could you please take a look at this one?

[2021-04-27 12:33] albertteoh commented on #2963
@sachinkakatkar is your `$GOPATH` in `$PATH`?

[code]

[2021-04-27 14:22] sachinkakatkar commented on #2963
@albertteoh Thanks.  Above solution working perfectly.

[2021-04-27 14:22] #2963 closed

[2021-04-27 17:03] bravecobra commented on #2956
@jpkrohling Yes, I saw that one, but that one fails at the `jb install` step as the repo references are out of date. That blogpost is no longer relevant in its current state.

[2021-04-27 17:35] yurishkuro commented on #2963
fwiw I still have the PR open to switch to go:embed and discontinue using esc, but we need to find a way to serve assets from an archive, and I didn't have time to finish that.

[2021-04-28 01:30] yurishkuro commented on #2963
fixed in #2964, it will print more detailed error message

[2021-04-28 03:44] WalkerWang731 commented on #2933
Yeah, I have considered that on [here](https://github.com/jaegertracing/jaeger/pull/2935#issuecomment-821046608)

[2021-04-28 09:51] jpkrohling commented on #2956
Sorry about that, I knew that it was risky to use quite a bunch of tools in that blog post, even though those are an example of what people might use in production to provision their resources. In any case, you can get an initial setup working with simpler steps. I can help you with the Jeager parts of the equation, but can't really provide much help about Prometheus/Grafana other than what they h

[2021-04-28 23:03] bravecobra commented on #2956
Yeah, that was pretty much what I hoped the mixin would provide for me and how I understood the mixin would work. Having to craft the CRD's myself though would take much longer.  Is there no one that can provide the CRD's output as an example to start from? I already have `jaeger`, `prometheus` and `grafana` up and running using their operators. I'm only missing the extra service and the service m

[2021-04-29 09:09] jpkrohling commented on #2956
I'd need more time to give you a configuration that I know to work, but the getting started guide from the Prometheus operator has an example of both a service and a service monitor, which I copy here:

[code]

The port in the service has to be 14269. The selector in the service should be the same as the service that backs the collector deployment. Using the `simplest` example, this would be the s

[2021-04-29 12:41] bravecobra commented on #2956
Perfect, that should get me started. I'll keep you posted on the progress. Once I do have a working example, I'll make sure to document it for future reference and for validation, whether the approach is production-safe.

[2021-04-29 20:08] jeremyzahner commented on #2960
@jpkrohling @rubenvp8510 Debugged this quickly because i ran into the same problem.
Seems like the Operator still reconciles the deployments with the env variable `COLLECTOR_ZIPKIN_HTTP_PORT`.
Since this (or better, the underlying arg `--collector.zipkin.http-port`) has been changed (in https://github.com/jaegertracing/jaeger/releases/tag/v1.22.0) to `...host-port` instead, this is probably what's

[2021-04-29 20:18] jeremyzahner commented on #2960
@gsagula You can fix it (for now) by using the following spec:

[code]

[2021-04-29 21:39] jrRibeiro opened #2967 "ILM policy is not configurable"
## Requirement - what kind of business use case are you trying to solve?

Following https://github.com/jaegertracing/jaeger/pull/2796 (great work, btw), we now have the ability to use ILM to manage indices. In _multi-tenancy_ scenarios, when running several Jaeger instances using the same Elastic storage, we can use different indices for each instance by defining its own prefix. However, different

[2021-04-29 22:01] yurishkuro commented on #2967
+1

[2021-04-30 02:03] gsagula commented on #2960
Thanks @jeremyzahner

I did that but with "9411" instead of ":9411". It's working now!

[2021-04-30 06:55] judyQD commented on #2927
Because we also use fluentd send traffic to ES and write index of ES can be at rate of 16k logs/s. When we use ingester to send spans to ES, the write index of ES is just 2000 span/s. ES is same configuration and same env. So we think the bottle neck is ingester.

[2021-04-30 07:04] judyQD commented on #2927
@albertteoh  I am also thinking about your comments:
**Ingester pull span messages from kafka and synchronously writes this span to the ES before pulling the next span message from its partition**
I think ingester use ES BULK API to write span, which means every bulk request contains more than one span. If your comments is right, then every bulk request will only contains single span. Pl correct m

[2021-04-30 07:30] jpkrohling commented on #2931
We decided yesterday during the community sync call that we want to remove the v2 directory entirely until the OpenTelemetry Collector reaches GA. The ground is too unstable at the moment to rely on it as the base for the Jaeger v2.

[2021-04-30 07:30] #2931 closed

[2021-04-30 07:31] jpkrohling opened #2969 "Remove v2 directory"
We decided yesterday during the community sync call that we want to remove the v2 directory entirely until the OpenTelemetry Collector reaches GA. The ground is too unstable at the moment to rely on it as the base for the Jaeger v2.

[2021-04-30 09:59] jkowall commented on #2969
Hopefully we keep this work somewhere since we will have to redo it at some point.

[2021-04-30 10:05] jpkrohling commented on #2969
Git history ;-)

[2021-04-30 20:47] ampaire commented on #2930
@jpkrohling,  looks like this issue was not resolved. @KrishnaSindhur can I help?

[2021-04-30 21:58] albertteoh commented on #2927
@judyQD thanks for correcting me :) my assumption was incorrect and indeed jaeger does use the ES bulk API.

What I suggest to do as next steps is to:
1. Measure - Jaeger emits some useful metrics on bulk write:
    1. Write counters: `jaeger_bulk_index_inserts_total`, `jaeger_bulk_index_errors_total` and `jaeger_bulk_index_attempts_total`.
    2. Latency histograms: `jaeger_bulk_index_latency_ok_

[2021-05-01 07:58] albertteoh opened #2974 "Org-wide issue/PR templates"
## Requirement - what kind of business use case are you trying to solve?

This is a follow-up to https://github.com/jaegertracing/jaeger-idl/pull/74#issuecomment-815410966.

## Problem - what in Jaeger blocks you from solving the requirement?

Each project under the jaeger org is either missing or has a similar issue template which means:
- More maintenance effort required in cases like the gitter

[2021-05-02 13:27] bravecobra commented on #2956
@jpkrohling, following your instructions, I seem to have it working now.
So, I deployed an all-in-one `jaeger` instance with the `jaeger-operator`. I also deployed a `prometheus` instance with the `prometheus-operator`. Now lets tie them together and let `prometheus` monitor the `jaeger` instance.

I added an extra service `jaeger-admin` pointing to admin port of the `jaeger` instance. It would be

[2021-05-02 22:55] siavashs commented on #2771
I'm hitting the following error which could be related to this issue:
[code]
When trying to use the `api_v2` package:
[code]

[2021-05-03 09:53] jpkrohling commented on #2956
Could you open a feature request in the jaeger-operator repository?

Would you be willing to send a PR removing it?

I think it would be a great material for this: https://www.jaegertracing.io/docs/1.22/monitoring/ . How do you feel about helping us here? This is the source of that page: https://github.com/jaegertracing/documentation/blob/master/content/docs/1.22/monitoring.md . Perhaps a sub page

[2021-05-03 11:39] jpkrohling commented on #2930
@ampaire, it's yours now!

[2021-05-03 11:41] jpkrohling commented on #2974
There are other files that we can place there, like the security.md and the generic contributing.md. Perhaps the DCO and code of conduct as well?

[2021-05-03 14:14] raz08 opened #2976 "all shards failed [type=search_phase_execution_exception]\nSearch service in Jaeger Query UI"
**Describe the bug**
In Jaeger UI there is an error "all shards failed" and it is not loading traces in UI
**To Reproduce**
Steps to reproduce the behavior:
1. Deploy elastic and Jaeger
2. Restart elastic cluster
3. After restart  "All shards failed error"

**Expected behavior**
Jaeger Query UI should provide appropriate message in UI and it should auto recover once elastic is in green state
**Scr

[2021-05-03 15:02] yurishkuro commented on #2974
I would prefer to only move those files which are understood by GitHub. I would keep DCO in the repos because it is part of the development process, and so are contributing docs. And our code of conduct is just a link to CNCF, so it's also better to keep in the repos (but OK to copy to .github as well for repos where we didn't define it).

[2021-05-03 15:05] yurishkuro commented on #2974
Note that main repo has `.github/ISSUE_TEMPLATE/config.yml`, which is specific to the repo because it contains an exact link to Discussions. Do we want discussions for all repos to happen in one place or in individual repos? I'd probably go with one place.

[2021-05-03 15:08] yurishkuro commented on #2976
Similar to #2718

[2021-05-04 04:25] raz08 commented on #2718
Is it solved after upgrading to latest Jaeger version? Which version do I need to upgrade?

[2021-05-04 06:13] #2967 closed

[2021-05-04 08:29] jpkrohling commented on #2974
I thought every file in there would show up in all repos from the organization. If that's not the case, I agree with you.

[2021-05-04 23:41] yurishkuro commented on #2974
no, they don't "show up" in the repos, but are used by GitHub in various sections of the website.

[2021-05-04 23:42] #2969 closed

[2021-05-05 01:33] albertteoh commented on #2974
Yup, good call @yurishkuro .

I propose to copy the following files from `jaegertracing/jaeger` into `jaegertracing/.github` repo. Please check these are correct:
- .github/ISSUE_TEMPLATE/bug_report.md
- .github/ISSUE_TEMPLATE/feature_request.md
- .github/ISSUE_TEMPLATE/config.yml (so we have one place for discussions)
- .github/PULL_REQUEST_TEMPLATE.md

Also, I propose (as a follow-up PR to the a

[2021-05-05 02:00] yurishkuro commented on #2974
sgtm

[2021-05-06 11:49] jurgenweber commented on #2726
however you tackle this, the idea is great and sorely needed. :)

[2021-05-07 18:42] ankitnayan commented on #1895
Has anyone benchmarked the performance with the above schema? Will it be able to handle at least 5K spans/s and handle say, 50  concurrent queries that might fire with alert rules every minute.

[2021-05-08 11:22] cangchen8180 opened #2981 "i installed jaeger but alpha cant conected to jaeger-collector"
**Describe the bug**
i installed jaeger but alpha cant conected to jaeger-collector.
![image](https://user-images.githubusercontent.com/13382285/117537306-920b4e80-b032-11eb-807e-bb32c9fd3a42.png)

but jaeger ui is successful.
![image](https://user-images.githubusercontent.com/13382285/117537295-8750b980-b032-11eb-8b88-0730d970520f.png)

command:

  -e COLLECTOR_ZIPKIN_HOST_PORT=:9411 \
  -p 5775:

[2021-05-10 07:26] albertteoh commented on #2981
@cangchen8180 it looks like alpha is running in a docker container as part of a docker-compose, but trying to talk to jaeger-collector on localhost (127.0.0.1) but it is running in another container.

Try adding the `jaegertracing/all-in-one:1.22` image as another container into your docker-compose and change alpha's tracing config to point to the container name of jaeger-collector.

[2021-05-10 14:47] esnible opened #2985 "Better user notification of deprecated flags and default changes"
## Requirement - what kind of business use case are you trying to solve?

It is not obvious to people consuming that all-in-one image when CLI flags are deprecated or defaults are changed.

The Istio project was using docker.io/jaegertracing/all-in-one:1.20.  When I switched to 1.22, it stoped working.

The major problem was that Istio's Jaeger config sample was setting `COLLECTOR_ZIPKIN_HTTP_PORT

[2021-05-10 21:19] ykuksenko opened #2986 "jaegertracing/jaeger-es-index-cleaner TIMEOUT variable ignored"
**Describe the bug**
Elasticsearch index cleaner times out at 10 seconds regardless of what the TIMEOUT environment variable is set to for the container.

This may also affect #2938 as that PR seems to copy what the non rollover cleaner is doing.

**To Reproduce**
Steps to reproduce the behavior:
The operation has to take more than 10 seconds for this to trigger. If I clean less data the error goe

[2021-05-11 08:13] Sallyan opened #2987 "Jaeger is OOMKilled when use badger as storage"
**version**: all-in-one:1.18.1
**issue**:
when i use badge as storage, Jaeger requests much more memory than in-memory storage and it keeps OOMKiller.
At the beginning Jaeger requests just hundred MB memory when it uses in-memory storage. But it requests over 5Gi memory when changed to Badge.
**Jaeger yaml:**
[code]

[2021-05-11 09:02] jpkrohling commented on #2987
We have a few changes in the queue for badger as storage for Jaeger, but it might take a while for us to work on it. If this is critical to you, I can point you to the places in the code for you to take a look at.

[2021-05-12 01:56] Sallyan commented on #2987
we really want to have persistent data for the tracing.
Do you have any suggestion or kind of wordaround for Badger?
Yeah, please also point me the code. Thanks!

[2021-05-12 03:06] allanhung commented on #1940
I have the same problem when I click on system architecture tab.  I think that might case by [GetDependencyVersion](https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/cassandra/dependencystore/bootstrap.go#L24-L28).  It get V1 when there is no data in dependencies_v2.  After running spark job, it insert data into dependencies_v2.  So the function will get V2 and you need to restart

[2021-05-12 08:52] jpkrohling commented on #1940
@allanhung great find, would you like to contribute with a fix? I think we can invert the logic there: if there's a v1 table, use it, otherwise use v2.

cc @yurishkuro , @pavolloffay , as you both were active during #1344.

[2021-05-12 08:53] jpkrohling commented on #2987
You can use Cassandra or Elasticsearch for that, which are actually recommended if you need to scale your deployment...

In any case, here's the badger code: https://github.com/jaegertracing/jaeger/tree/master/plugin/storage/badger

[2021-05-12 09:27] hemanthboyina opened #2994 "Jaeger Collector cannot connect to Kerbrized Kafka with SASL SSL"
**Describe the bug**

We are using kerbrized Kafka with SASL_SSL, Jaeger Collector cannot connect to Kerbrized Kafka

**To Reproduce**

 docker run --net=abcd --name jaeger-collector  -e SPAN_STORAGE_TYPE=kafka -p 14267:14267 -p 14268:14268 -p 9411:9411 -p 14250:14250 hboyina/jaegercollector:latest --kafka.producer.topic=jaeger-spans --kafka.producer.brokers=******:9093 --kafka.producer.authentica

[2021-05-12 15:24] yurishkuro commented on #1940
I think the problem is not with the priority order (v2 already takes priority) but with the fact that the table existence check is only done when the storage factory is instantiated, so after starting the query service it will remember the check and won't repeat it.

[2021-05-12 16:31] jpkrohling commented on #1940
Right, and the idea is that what it remembers is the v2, not v1. So, check for v1 and use it if found, otherwise use v2, which might not exist now but might in the future.

[2021-05-12 19:10] yurishkuro commented on #1940
If the frequency of queries to dependencies is relatively low, then the check for table version can be done at query time instead of at startup time.

[2021-05-13 02:07] allanhung commented on #1940
I test the code, it will return V2 if the dependencies_v2 table exists. No matter there is data in it.  I build a test environment to re-procedure the problem. Here are the steps:
- Install from helm chart
values.yaml
[code]
[code]
- After it's up and running, scale down cassandra to 1.
[code]
- restart the jaeger-query pod.
[code]
When jaeger-query issue query `SELECT ts from dependencies_v2 limi

[2021-05-13 12:16] th3M1ke commented on #2954
@yurishkuro @albertteoh Could I take the UI tasks on?

[2021-05-13 12:29] albertteoh commented on #2954
@th3M1ke yup, I've added you as an owner of the UI tasks. Thanks for your help!

[2021-05-14 03:09] shuxnhs opened #2995 "panic: proto: duplicate extension registered: descriptor.MethodOptions 72295728"
**Describe the bug**
I am importing jaeger-tracing/jaeger and istio/client-go which each use gogo/protobuf in their underlying implementation. When I try to run my project, I get this error:
[code]

[2021-05-15 19:18] FauxFaux opened #2996 "SIGSEGV on empty grpc findTraces query"
When processing a request for `findTraces` with no parameters, the server experiences a segmentation fault/segfault.

[code]

**To Reproduce**

Using the grpc-js generated client from `ts-proto`, `QueryServiceClient`: `qsc.findTraces({})`, i.e. make a request with none of the required parameters populated.

**Expected behavior**
An error to be returned, and the server to not be down / restart.

**

[2021-05-15 20:59] yurishkuro commented on #2996
It's very strange that gRPC allows the above handler to be called with `r == nil`, but I guess it's what we get when everything in the IDL is optional.

[2021-05-15 21:01] yurishkuro commented on #2996
I think this would also happen with all other API methods since most of them require a request object which could be nil, so the code need to check for that and return an error.

[2021-05-16 14:43] jeffy-mathew commented on #2996
Hi, I would like to work on this issue

[2021-05-16 15:02] yurishkuro commented on #2996
It's yours

[2021-05-17 08:29] jpkrohling commented on #2996
Wasn't this fixed by https://github.com/jaegertracing/jaeger/pull/2979 ?

[2021-05-17 11:10] alex-borkun commented on #1691
Used mapping from @andy812 , thanks a lot.
Small addition:
`view_index_metadata` - is required for `/jaegertracing/spark-dependencies` job

[2021-05-17 13:06] em135 opened #3005 "Humio as storage backend"
Humio is great at storing and querying large amount of data, but lacks visualization for the data. We therefore want to add visualization capabilities to Humio using Jaeger. @Xitric and I are working on a storage backend for Humio using the grpc plugin. Our project can be seen at https://github.com/em135/humio-jaeger-plugin.

We have implemented the spanstore.Reader and dependencystore.Reader inte

[2021-05-17 13:06] em135 commented on #638
@Xitric and I are working in on a storage backend for Humio using the grpc plugin. The repository can currently be found at https://github.com/em135/humio-jaeger-plugin. I have opened an issue for this: #3005

[2021-05-17 13:30] #2933 closed

[2021-05-17 15:33] clock21am commented on #2930
@jpkrohling it no update has been made can I take this issue?

[2021-05-18 11:15] #2930 closed

[2021-05-18 11:16] jpkrohling commented on #2930
Closed by #2800

[2021-05-18 13:31] em135 commented on #3005
The storage should not be incorporated in the core. We have made a MVP Humio storage plugin to visualize our data. This issue and our work should serve as a discussion board for a Humio storage plugin (similar to the other open storage plugin issues).

[2021-05-18 19:12] aksenk commented on #2943
I have a similar problem.

When I creating self-signed certificates in elastic, I add the argument --es. tls.skip-host-verify=true to the collector and query, but they still write an certificate error.

I ran into this problem after updating the jaeger: it work correc with 1.17 and 1.18 version and doesn't work with 1.19 and higher  jaeger version.

[2021-05-19 03:38] Yolo-Hao commented on #365
any news? work now? or any plan?

[2021-05-19 04:11] yurishkuro commented on #365
@joe-elliott picked this up in #2966

[2021-05-19 08:34] jpkrohling commented on #2943
@rubenvp8510, could you please try this one?

[2021-05-19 19:57] ykuksenko opened #3018 "allow setting log level for jaeger-es-cleaner"
## Requirement - what kind of business use case are you trying to solve?
Use jaeger-es-index-cleaner as a cron job without producing output unless there is a problem

## Problem - what in Jaeger blocks you from solving the requirement?
The jaeger-es-index-cleaner always produces output

## Proposal - what do you suggest to solve the problem or improve the existing situation?
Add an option to set t

[2021-05-20 02:08] jannyHou opened #3019 "Support specifying cipher suites in tls connection"
## Requirement - what kind of business use case are you trying to solve?

Hello team, in PR https://github.com/jaegertracing/jaeger/pull/2798 the tls connection is enabled in collector, it would be good to support configuring `cipher` for it.

It would be similar to the fluentd tls settings in https://docs.fluentd.org/configuration/transport-section#tls-setting, you can config the `ciphers` field.

[2021-05-20 13:14] clock21am commented on #3019
@yurishkuro can I take this?

[2021-05-20 14:07] yurishkuro commented on #3019
It's yours

[2021-05-21 06:24] calohmn opened #3022 "All-in-one docker image: SAMPLING_STRATEGIES_FILE env var can't be used (without args overwrite)"
**Describe the bug**
I'm using the all-in-one docker image in a Kubernetes deployment and want to set a sampling-strategies file.
The obvious thing (to me) seems to be setting the `SAMPLING_STRATEGIES_FILE ` env var in the K8s deployment descriptor.
But that doesn't work - still the default `/etc/jaeger/sampling_strategies.json` file gets used. And that is not even obvious as there isn't a log out

[2021-05-21 06:49] yurishkuro commented on #3022
+1, would you like to submit a fix?

[2021-05-21 12:04] jpkrohling commented on #3022
Or you could mount your strategies file in the place that is spefied in the CMD?

Sounds good to me.

I think we don't actually need this file to begin with... Perhaps it should just be removed from the Docker image?

[2021-05-21 14:24] sophokles73 commented on #3022
+1

[2021-05-21 14:48] yurishkuro commented on #3022
[code]

The file tells all SDKs connected to all-in-one to use 100% sampling. There's no other way afaik to configure this on the backend. I assume without this file the default would be something like 0.001 (we could introduce a param to control that value without a file)

[2021-05-21 15:21] jpkrohling commented on #3022
Is this also the default only for all-in-one?

[2021-05-21 15:22] sophokles73 commented on #3022
Or simply keep the file in the image but make its usage optional, i.e. do not use the `--sampling.strategies-file` parameter by default but let the user decide to set it (or not)

[2021-05-21 15:25] yurishkuro commented on #3022
It's the default for the SDKs using remote sampler.

all-in-one itself is internally traced with 100% (can be overridden via env)
[code]

[2021-05-21 15:29] pavolloffay commented on #169
We (Red Hat) would like to move this forward and introduce GraphQL API.

Let me describe the use case:
There will be several projects that will use Jaeger query API (Kiali(already uses Jaeger API), Observatorium/OpenShift developer console).

#### Why GraphQL?
The GraphQL clients fully control query (query and what data is being fetched) and it's easy to implement a gateway that composes multiple

[2021-05-21 15:32] jpkrohling commented on #3022
Sorry, I meant to ask whether remote samplers getting the strategy from an all-in-one would get the same strategy as from a jaeger-collector. Are they both serving the same strategies? If so, shouldn't we be changing the default to 1 instead?

[2021-05-21 15:35] yurishkuro commented on #3022
yes, it's the same remote sampling mechanism.

I think that would be a dangerous breaking change.

[2021-05-21 18:14] joe-elliott commented on #169
Great to see some progress on this. We have noticed in particular that sometimes very large traces retrieved in the search pane can slow it down considerably.  Only one question/thought:

I"m not sure I agree with this. Restful APIs are extremely easy and predictable to interact with with simple tools like curl. I only know the basics of graphql, but it seems like it will up the complexity a bit?

[2021-05-21 19:15] calohmn commented on #3022
So this means the strategies file is needed for now, and we can stick to defining the env var in the Dockerfile, instead of using the `CMD` parameter, correct?
[code]
I would gladly provide a PR but since getting company approval for contributing here would take a while and since it's such a small change, I would appreciate it if someone else could do it.

[2021-05-21 19:26] yurishkuro opened #3025 "Flaky test TestServerGracefulExit"
[code]
Source: `./cmd/query/app/server_test.go:651:func TestServerGracefulExit(t *testing.T)`

[2021-05-21 21:58] jkowall commented on #169
Good idea, I never saw this issue before! 💘

Lots of upside, but the downside aside from what has been mentioned is that if you are transferring a lot of data gRPC would be much more efficient in terms of processing and network transfer not to mention go usage. I think the self-documenting feature of GraphQL is great and improves upon REST, making it a bit easier to integrate. Also, it would be gr

[2021-05-21 22:33] yurishkuro commented on #169
@jkowall I haven't tried it myself, but https://rejoiner.io/ mentioned in earlier comments claims to serve GraphQL over gRPC as well.

I agree that deprecating the existing REST API is not necessary, it's a very small surface to maintain. If we change anything, then I think we should think about which data model the GraphQL (and REST, potentially) would serve, because now in REST we serve a bespok

[2021-05-22 06:12] albertteoh commented on #2974
https://github.com/jaegertracing/.github/pull/1: PTAL.

[2021-05-23 12:50] Dheerajcode2016 commented on #2361
What happened to this , can we do healthcheck now ?

[2021-05-23 20:58] yurishkuro commented on #3019
I wasn't too familiar with cipher suites, but now that I read about them, I am questioning why we need this.

1) The documentation says that they are only supported up to TLS 1.2, phased out in TLS 1.3. The default behavior is to use whichever ciphers the server supports.

2) I don't see an established format of describing the cipher family. The Go struct uses an array of uint16's, Fluentd doesn't

[2021-05-24 09:39] clock21am commented on #2893
is there activity on this issue? if not can I take this over?

[2021-05-24 10:18] albertteoh commented on #2893
@LostLaser are you okay with @clock21am taking over this task?

[2021-05-24 13:46] LostLaser commented on #2893
Yes, that’s fine! Sorry for the delay.

[2021-05-24 14:37] heruv1m opened #3028 "Troubles with tag_index in cassandra"
I add attribute with [api](https://github.com/open-telemetry/opentelemetry-java/blob/main/api/all/src/main/java/io/opentelemetry/api/trace/Span.java#L97) and export spans via [JaegerGrpcSpanExporter](https://github.com/open-telemetry/opentelemetry-java/blob/50408d499f85d5761d0a5ed9bf9d77d5ff01fff5/exporters/jaeger/src/main/java/io/opentelemetry/exporter/jaeger/JaegerGrpcSpanExporter.java)
We are u

[2021-05-24 14:54] Ashmita152 commented on #3019
In my understanding, some organisations fulfil certain compliances (especially fintech regulated by operating country's law) that have strict requirements that all SSL communication should happen only within certain ciphers. In those cases, this option will be quite useful to specify as a config param.

[2021-05-24 17:21] yurishkuro commented on #3028
You can exclude certain tags from being indexed via `--cassandra.index.tag-blacklist`

[2021-05-24 17:58] yurishkuro commented on #2996
Only FindTraces method was fixed there, we should add this check to all methods.

[2021-05-25 03:28] #3022 closed

[2021-05-25 04:19] albertteoh commented on #3025
Why is this flaky error showing up now?
- The `mux: server closed` error was introduced in [cmux PR #69](https://github.com/soheilhy/cmux/pull/69/files#diff-b8b3fe2fb543e7b864be8c2a3b8a0637ba54362c7b3c7d98a2a4f76cc3babba3R66)
-  [cmux PR #69](https://github.com/soheilhy/cmux/pull/69/files#diff-b8b3fe2fb543e7b864be8c2a3b8a0637ba54362c7b3c7d98a2a4f76cc3babba3R66) was brought into our repo from [the

[2021-05-25 04:37] #3025 closed

[2021-05-25 08:42] clock21am commented on #3019
make sense @Ashmita152

[2021-05-25 10:18] pavolloffay commented on #169
Thanks for the feedback. It seems there is some consensus:

* keep existing REST API as it is a small surface to maintain.
* the new API should serve OTLP trace JSON
* migrate Jaeger UI to the new GraphQL API

As the next step, I will propose schema and start working on the implementation.

[2021-05-25 10:31] jpkrohling commented on #3019
@yurishkuro, the server provides a list of ciphers to clients, and cipher negotiation happens. The key is to strike a balance between modern features and old clients. For instance, there might be older Java clients supporting TLS 1.1 only. Your example of Fluentd is basically filtering out classes of ciphers, while the last example is an example of a concrete cipher that would be part of a class.

[2021-05-25 11:26] jpkrohling commented on #3019
I'll take this back. Looking at how Go implemented the Cipher suites, not sure this notation actually works and would be interested in knowing how etcd did it.

[2021-05-25 19:32] clock21am commented on #2893
it should fail for both clients and sever side if I am not right?

[2021-05-26 02:45] ethernoy opened #3031 "Upgrade Busybox to 1.31.1-r20 on Jaeger Agent/Collector/Query"
## Requirement - what kind of business use case are you trying to solve?

Reduce the vulnerabilities reported by container image scanning tool

## Problem - what in Jaeger blocks you from solving the requirement?

Aqua container image scanning tool reported that there is a vulnerability CVE-2021-28831 existing in Jaeger Agent 1.22.0, Jaeger Collector 1.22.0, and Jaeger Query 1.22.0 images. Here is

[2021-05-26 03:09] yurishkuro commented on #3031
how can we reproduce the warning?

Jaeger does not use busybox directly, it might be coming included in the alpine image

[2021-05-26 03:27] ethernoy commented on #3031
Hi, I used the project [aquasecurity/trivy](https://github.com/aquasecurity/trivy) to scan jaeger-agent 1.22.0, jaeger-collector 1.22.0 and jaeger-query 1.22.0. Below are the result of scanning jaeger-agent 1.22.0:

[code]

If jaeget-agent is going to be updated to use alpine instead of busybox in the future, I think this issue should be gone by then.

[2021-05-26 07:26] albertteoh commented on #2893
IIUC, the TLS flags should only apply to the server side, and so should fail for just the server side.

[2021-05-26 10:42] albertteoh commented on #2644
I think we can close this now; at least I haven't seen this flaky test manifest for some time.

I had incorrectly referenced #2654 in the PR #2655, which should have closed this issue. This is now addressed as well.

[2021-05-26 10:53] albertteoh opened #3035 "Flaky test: TestHotReloadUIConfigTempFile"
**Describe the bug**

Same test was flaky in the past, but with different error: #2711

https://github.com/jaegertracing/jaeger/pull/3004/checks?check_run_id=2673907347#step:5:1314

[code]

[2021-05-26 11:02] wgb1990 commented on #365
@joe-elliott @joe-elliott
Excuse me，I asked a question, but I didn't find that the Store.InsertThroughput method was called anywhere

// Store writes and retrieves sampling data to and from storage.
type Store interface {
	// InsertThroughput inserts aggregated throughput for operations into storage.
	InsertThroughput(throughput []*model.Throughput) error
        ......
}

[2021-05-26 12:11] heruv1m commented on #425
Is there any alive version of tail based sampling?

[2021-05-26 12:20] jpkrohling commented on #425
No, unfortunately not as part of the Jaeger project.

[2021-05-26 12:44] jkowall commented on #425
Otel tail-based sampling and filtering is working great these days thanks to all of your work on that @jpkrohling I know of many users who have implemented it so far.

[2021-05-26 18:19] Ashmita152 commented on #3031
I recently came across this project: https://github.com/GoogleContainerTools/distroless Do you think it will be good idea to use this as base image ? I think having as minimal tools as possible in base image will help in reducing the possible CVEs in future.

[2021-05-26 20:14] yurishkuro commented on #3031
@Ashmita152 not sure if would be helpful, since it seems to contain no tools, in which case we might as well just use `scratch`, which we used to do in the past. But people wanted to have some basic set of tools in the container.

[2021-05-27 01:08] ethernoy commented on #3031
Will you consider using Alpine as base image?

[2021-05-27 05:22] Ashmita152 commented on #3031
Hi @ethernoy

Sorry, not sure if I get the question properly.

We currently use alpine as the base image for all jaeger images. alpine base image has busybox as the one of the default packages.

Here are the list of default packages installed in alpine image.
[code]

[2021-05-27 05:29] ethernoy commented on #3031
Oh sorry, just ignore my last question :( I just forgot alpine was already the base image of jaeger components

[2021-05-27 08:11] jpkrohling opened #3039 "Cassandra storage takes a lot of time to start"
_Originally posted by @LuChenjing in https://github.com/jaegertracing/jaeger-operator/issues/1458#issuecomment-849267670_

@jpkrohling Hello, did you mean "local jaeger" just use ```docker run```? I tried, and logs as below:
By checking the timestamp. Jaeger switched to success took more than 10 mins. ```1622080707.04903``` to ```1622081494.2027717```
So... maybe the time gap made the pods didn't

[2021-05-27 11:44] stevedunne commented on #2638
I was also seeing these memory issues frequently with the 1.18 build of the agent. As per the discussion, updating to the 1.22 version went a long way to addressing the issue although there were still occasional spikes.
I have made the modification recommended by @fishy and deployed, and we have not seen a spike for over 48 hours.

Thanks for the info. The detail in this discussion was really info

[2021-05-27 12:20] jpkrohling commented on #2638
I believe @rubenvp8510 is working on backporting @fishy's fix to the version of Thrift that Jaeger uses. After that, we'll propose releasing 1.23, which would then fix this issue here once and for all (hopefully) :-)

[2021-05-27 12:44] heruv1m commented on #3028
Thank you for your answer, I disabled it as you recomended.
But, I stille have troubles with another tables.
Is it really to many data for one service? Can you give any advice how it can be fixed?

WARN  2021-05-27 14:26:47,639 [shard 2] large_data - Writing a partition with too many rows [opentelemetry/service_operation_index:myAppName:/myAppName/myFirstEndpoint] (372596 rows)
WARN  2021-05-27 14

[2021-05-27 13:55] yurishkuro commented on #3028
TL;DR: this is why we recommend Elasticsearch.

Maybe you can bump the corresponding settings in Cassandra, I don't recall seeing these warnings for just 100,000 entries. Beyond that there's not much that can be done. There is an internal sharding/bucketing done by jaeger, it's possible to increase the number of buckets (although it might be hard coded and will need code changes to expose the para

[2021-05-27 15:09] MattBoatman commented on #272
@jacobmarble Did https://github.com/influxdata/jaeger-influxdb get moved to another location? The link from the docs 404s

[2021-05-28 11:38] heruv1m opened #3040 "Collector sampling with opentelemetry"
Hello
I have made a scheme below. Is it possible to use   [jaeger collector sampling](https://www.jaegertracing.io/docs/1.22/sampling/#collector-sampling-configuration)  with opentelemetry java instrumentation?
![image](https://user-images.githubusercontent.com/8426800/119978696-a0f67880-bfc2-11eb-9231-265463961304.png)

[2021-05-28 16:11] yurishkuro commented on #3040
This is a question for OTEL Java SDK. My guess is that the answer is no, I do not recall seeing OTEL SDKs supporting Jaeger sampling strategies format (even though the OTEL collector *can* proxy sampling requests to jaeger).

[2021-05-31 08:05] #3040 closed

[2021-05-31 09:47] wiardvanrij opened #3044 "Official OpenSearch storage option"
## Requirement - what kind of business use case are you trying to solve?

At the moment Jaeger supports Cassandra and Elasticsearch (ES).

With recent changes in ES license, AWS created a fork (OpenSearch).
For long-term commitment and architectural decisions I would like to know Jaeger's thoughts/vision/commitment towards OpenSearch as storage.

I.e.: Should we migrate from our current AWS ES 'Pa

[2021-05-31 11:36] pavolloffay commented on #3044
Great topic! :)

Let me recap the current state: Jaeger at the moment supports ES 5, 6 and 7. And therefore should be compatible with the latest OpenSearch version which if I am not mistaken it is based on ES7.

To me, it makes sense to add official OpenSearch support and start testing against official images. Though, I am not sure what the situation will be in the long run. Officially supporting

[2021-05-31 11:36] Anna-Katona commented on #2703
+1
The same issue. Despite TTL is 12 hours, there are still *.sst files for the last >3 days.

[2021-05-31 12:01] jkowall commented on #3044
We agreed on a recent roadmap item to add OpenSearch to Jaeger as a first-class storage option. As mentioned by @pavolloffay right now OpenSearch is a fork of ES 7.10 with a lot of proprietary and tracking code removed (which is a whole other issue IMO). They are fully compatible today, but as @wiardvanrij mentions Elastic is now deliberately breaking part of of the ELK stack to not work with open

[2021-06-01 08:27] jpkrohling commented on #3044
How about we deprecate Elasticsearch *now* for 1.23, claim support for OpenSearch starting as of 1.23, and rename from Elasticsearch to OpenSearch as of 1.25? We can still internally process `SPAN_STORAGE_TYPE=elasticsearch` as `opensearch` after 1.25, but if we get a bug report about anything incompatible between OpenSearch and Elasticsearch, we know which side to take.

[2021-06-01 12:44] yurishkuro commented on #3044
I'm not convinced that deprecating ES is the best strategy at this point. We invested a lot of effort in it, and have many production users who may be ok with the new ES licensing. We can probably get another couple of years out of that investment before ES becomes truly incompatible. Also, OpenSearch has no track record at this time to bet the farm on it.

I think it makes sense to introduce open

[2021-06-01 12:53] jpkrohling commented on #3044
Do you mean, with the current code base, or fixing bugs as they appear?

That's another option, yes. In the future, if we get into a situation where people don't care about ES anymore, we can then deprecate/remove it.

Out of curiosity: if we end up having both OpenSearch and Elasticsearch, which current maintainers would be interested in taking care of the bug reports for Elasticsearch?

[2021-06-01 13:47] heruv1m opened #3047 "Can't get service name in Jaeger UI with elastic as storage backend"
Hello
I made initialize as say [instructions](https://www.jaegertracing.io/docs/1.22/deployment/#elasticsearch-rollover)
Than spent few spans.
Error in elastic appears when I'm trying to find something in UI:

`Caused by: java.lang.IllegalArgumentException: Text fields are not optimised for operations that require per-document field data like aggregations and sorting, so these operations are disab

[2021-06-01 14:28] jkowall commented on #3044
I'm guessing Elastic will make more breaking changes in ES8, but it's hard to say. I think if we remain compatible with ES7 APIs which should be compatible with OpenSearch APIs then it will be covered. The concern as @jpkrohling points out is the maintainers time to debug issues and possibly fix code. Once again I think it's fine to make a statement as a project that we want to support both, but t

[2021-06-01 14:32] yurishkuro commented on #3044
We had quite a few contributions from community in the past year fixing things with ES, it doesn't have to be maintainers doing the work. And I think it's fine not investing directly in ES8, especially if it's deliberately going to be made incompatible.

[2021-06-01 16:05] galan commented on #638
If S3 is supported, I would suggest to support GCS as well, which is also an objects-storage for all Google Cloud users. For our use-case that would be tremendous helpful!

[2021-06-02 00:55] skearns64 commented on #3044
It sounds like there might be some confusion here, intentional or not :) Elasticsearch isn't an "API spec," it's a product. Amazon's OpenSearch is a different product. So it makes sense that the Elasticsearch output works with Elasticsearch and uses the full breadth of functionality that Elasticsearch provides, and if there is demand for an OpenSearch output, someone contributes and maintains one

[2021-06-02 06:43] pavolloffay commented on #3044
also cc) @jaegertracing/elasticsearch

[2021-06-02 11:22] jkowall commented on #3044
@skearns64 Thanks for getting involved, it's always good to have more folks in the community, we welcome folks from Elastic who want to make Jaeger better! Jaeger as you know is part of a software foundation. This means that we have certain standards which make Jaeger well adopted and aligned to other cloud native technologies. One of the key tenants of the [CNCF is Apache 2.0 licensed software](h

[2021-06-02 11:43] wiardvanrij commented on #3044
I really want to focus on Jaeger as project here and figure out the steps to move forward. That is my sole intent here. However   with this statement I would like to challenge you on it, if you don't mind. Your motto on the ES website says:

Here, you are telling me that it's a product. Could you elaborate why other engines like postgres, mysql, etc can be freely implemented for everyone, regardle

[2021-06-02 13:19] stockholmux commented on #3044
@pavolloffay WRT the Go client, several pathways to support OpenSearch have been brought up in the past few months:
1) [Contributing to olivere/elastic](https://discuss.opendistrocommunity.dev/t/golang-client-libraries-olivere-elastic-elastic-go-elasticsearch/5174/2) for ensured OpenSearch compatibility
2) A net-new Go client based off of the code in [opensearch-project/opensearch-cl](https://gith

[2021-06-02 14:06] riferrei commented on #3044
@wiardvanrij I think what @skearns64 meant to say is that Elasticsearch is not an API in the sense of being an open spec that dictates the behavior of how applications can write software based on a set of common agreements that forms a specification — just like gRPC. It is a product that eventually might decide to add new features to make the user experience better. Sometimes, this means breaking

[2021-06-02 14:34] skearns64 commented on #3044
My main point was simple, but was lost in the noise a bit. OpenSearch isn't Elasticsearch. They share some history - it's a fork of an older version of Elasticsearch, which is missing core features or has similar-but-different capabilities. They have some similar API endpoints, but expecting a single output to work with both systems is a recipe for giving folks the worst of both worlds. For the El

[2021-06-02 14:54] CarlMeadows commented on #3044
Big fan of the Jaegar project and don't necessarily want to get drawn into a tit for tat but wanted to correct one point from Steve. ISM is current and is actively maintained functionality in OpenSearch (and previously as part of Open Distro for Elasticsearch). No one has abandoned anything. The code is included in the beta release and will be included in the upcoming release candidate: https://gi

[2021-06-02 15:26] wiardvanrij commented on #3044
Just to be clear; as end-user I have nothing against both products. Not going to say I love them, but I like them :). However our client is using AWS, it is using Jaeger and this raises questions on what to do. I.e. see my initial post here.

That said I'm really happy we have involvement from multiple sides in this issue. I do hope that in the end there can be a solution which, as @skearns64 says

[2021-06-02 16:20] jkowall commented on #3044
@wiardvanrij We (logz.io) will support OpenSearch along with compatibility to the ES7 open source code base since we need it not only for our business but to ensure that there is an Apache 2.0 compatible backend aside from Cassandra. This is critical for CNCF projects as I mentioned.

As far as what others or even Elastic themselves contribute they could provide the support for future versions tha

[2021-06-02 17:06] alialamine opened #3048 "AWS Lambda suppot through extensions"
## Requirement - what kind of business use case are you trying to solve?

Integration with AWS Lambda

## Problem - what in Jaeger blocks you from solving the requirement?

A good way to provide the integration is to have an extension ready for use by the community

## Proposal - what do you suggest to solve the problem or improve the existing situation?

AWS Lambda announced the general availabil

[2021-06-02 17:22] yurishkuro commented on #3048
This sounds mostly like an instrumentation issue, which is not in scope of the Jaeger project (see OpenTelemetry). What specific changes are you expecting in Jaeger for this?

[2021-06-02 17:25] jkowall commented on #3044
I guess we also have to amend the docs here since ElasticSearch is no longer Open Source after version 7.10, or maybe just claim to support 7.10 or newer? https://www.jaegertracing.io/docs/1.22/features/#multiple-storage-backends

Up to the maintainers what the statement should be.

[2021-06-02 17:42] jkowall commented on #3048
Agree with @yurishkuro but I want to point out that you can use a central collector on an EC2 instance and not deploy a collector for each account. This would provide a shared collector you could use across all your functions. These questions are best asked on the https://github.com/aws-observability/aws-otel-lambda or the https://github.com/aws-observability/aws-otel-collector repo.

[2021-06-02 18:24] mswilson commented on #3044
From my personal perspective (to be clear: I am speaking only for myself as a technologist and open source advocate), broad compatibility and interoperability is in the best interest of all participants in a meshed networked society. When an increasing API surface area represented by the Elasticsearch feature set is not available as open source software, any open source implementation that has a g

[2021-06-02 19:24] alialamine commented on #3048
Very fair, didn't look into the jaeger itself, thought it needed to be here.

[2021-06-02 19:24] #3048 closed

[2021-06-03 07:30] wiardvanrij commented on #2172
This is now fixed in grpc-go, would be nice to upgrade this package when there is a new release

[2021-06-03 07:57] jpkrohling commented on #3044
Being practical, I think the best course of action is what @yurishkuro suggested before: create a new OpenSearch storage mechanism for Jaeger, forking/sharing code from the Elasticsearch storage plugin that we currently have. The Elastic folks are more than welcome to send in their contributions to make the ES plugin even better, and the logz.io folks have room to contribute to features that are k

[2021-06-03 08:33] jpkrohling commented on #2172
Unfortunately, I think updating grpc-go is a bit problematic right now. @joe-elliott and @pavolloffay have tried in the past, with no luck.

[2021-06-03 08:43] chhetripradeep commented on #1438
From my personal experience, i would like to recommend adding clickhouse as one of core storage options for jaeger (like elasticsearch and cassandra), if not, we should probably port Ivan's work as a gRPC plugin.

There are few benefits I can think of:
- Clickhouse is lot better in disk i/o as compared to ES. Clickhouse scales very well with magnetic disks but scaling ES requires ssds for scaling.

[2021-06-03 08:44] jpkrohling commented on #272
Looks like the repo is available :-)

[2021-06-03 08:58] wiardvanrij commented on #2172
Ai, that does not boost my confidence xD - Do you perhaps have any related issues/PR's so I can have a look what was blocking? At the moment this issue is spamming our logs insanely. So I have motivation to get it fixed (:

[2021-06-03 10:18] jpkrohling commented on #2172
I think the problem is related to gogo, which doesn't seem to work on any recent version of gRPC. And moving away from gogo would cause performance regressions. We have to eventually find a solution to this, as we are one CVE away from being forced to make a decision in a rush...

Perhaps @pavolloffay and @joe-elliott can add comments based on their recollection of the matter?

[2021-06-03 10:27] pavolloffay commented on #169
I have submitted POC PR https://github.com/jaegertracing/jaeger/pull/3051.

Using OTLP Trace JSON with GraphQL is problematic. This is because the OTLP Trace JSON does not use standard JSON annotations but instead it uses `protobuf` annotation to serialize e.g.:

[code]

This can be solved by using a cusom marshaller for the high-level object e.g. `ExportTraceServiceRequest`. However then selectin

[2021-06-03 14:05] yurishkuro commented on #169
I am not sure I follow your arguments against graphql. The annotations is a technical detail that we can find a solution for, in the worst case by defining our own types with needed annotations which serialize to the same JSON as otel proto (which we'd need to do anyway if we go with custom rest api).

Submitting graphql output back to collector isn't the goal since the output intentionally can be

[2021-06-03 14:15] yurishkuro commented on #2172
Maybe we should look into otel collector's pdata, which iirc avoids default proto perf issues.

[2021-06-03 14:18] pavolloffay commented on #3018
What is the use case? To my knowledge curator does not produce a lot of logs.

The script returns an error code if it fails. This is used by cron job to reschedule it.

It seems that log level is configurable https://github.com/elastic/curator/blob/master/curator/config_utils.py

[2021-06-03 14:51] pavolloffay commented on #2986
Any suggestion how to fix this?

The `TIMEOUT` is passed to https://curator.readthedocs.io/en/latest/actionclasses.html#deleteindices correctly https://github.com/jaegertracing/jaeger/blob/7636530bbfe36fdd9f8e50f71cc8307787851056/plugin/storage/es/esCleaner.py#L52

[2021-06-03 14:55] pavolloffay commented on #2976
This should not happen since we added creation of index templates to Jaeger startup.

Did this happen with clean Jaeger installation or after the upgrade?

[2021-06-03 14:55] pavolloffay commented on #2976
@raz08  if it is resolved please add more details how it was resolved and close the issue.

[2021-06-03 15:01] pavolloffay commented on #2957
I am closing this as we didn't get the exact use case.

Btw. Jaeger images do have shell
[code]

[2021-06-03 15:01] #2957 closed

[2021-06-03 15:02] pavolloffay commented on #2949
This seems like instrumentation problem - broken traces due to incorrectly propagated context.

[2021-06-03 15:02] #2949 closed

[2021-06-03 15:03] pavolloffay commented on #2950
@wenhx8 did you resolve this issue?

[2021-06-03 15:04] #2638 closed

[2021-06-03 15:05] pavolloffay commented on #2889
Closing, per ^^ comment

[2021-06-03 15:05] #2889 closed

[2021-06-03 15:06] pavolloffay commented on #2819
@yurishkuro can this be closed?

[2021-06-03 15:07] #2819 closed

[2021-06-03 15:07] joe-elliott commented on #2172
Here is my attempt at upgrading:

https://github.com/jaegertracing/jaeger/pull/2857

The last few comments show the final hurdles I could not get past.

[2021-06-03 15:36] pavolloffay commented on #2449
Dup of #2771

[2021-06-03 15:36] #2449 closed

[2021-06-03 20:25] wiardvanrij commented on #2172
Perhaps this could be useful: https://vitess.io/blog/2021-06-03-a-new-protobuf-generator-for-go/

[2021-06-04 00:00] yurishkuro commented on #2172
^ this is a great find, I think we should try it out. At minimum, it will unblock us to upgrade proto & grpc.

[2021-06-04 01:15] lujiajing1126 commented on #2869
Since this PR have been merged, I will continue working on this one.

[2021-06-04 09:42] jpkrohling commented on #2923
Looks like this was fixed already.

[2021-06-04 09:42] #2923 closed

[2021-06-04 10:16] albertteoh commented on #2927
@judyQD did you manage to improve the ingester's consumption rate?

[2021-06-04 11:08] muhammadn commented on #638
@galan it does actually, despite the name is jaeger-s3, i had already added support for GCS (and Azure Storage) for quite some time but i have not tested it.

Maybe you can go to https://github.com/muhammadn/jaeger-s3 to try it out.

Related code to GCS:
https://github.com/muhammadn/jaeger-s3/blob/main/config/config.go#L26
https://github.com/muhammadn/jaeger-s3/blob/main/s3store/store.go#L50

 All

[2021-06-04 11:37] yinheli commented on #3047
same issue

[2021-06-04 11:42] heruv1m commented on #3047
I fixed it by enabling "set fielddata=true" for requested attributes, but elastic says it's not best practice

[2021-06-04 15:25] jacobmarble commented on #272
@MattBoatman I'm not sure why you got a 404.

Related, that repository will be archived in the next few months, as its replacement stabilizes. A new InfluxDB storage engine is in development, which handle traces much better than the current engine. This new Jaeger plugin is designed around a schema which is friendly to both OpenTelemetry and the new storage engine:
https://github.com/influxdata/in

[2021-06-04 15:30] MattBoatman commented on #272
@jacobmarble I emailed the influx team and they restored the repo ;)
Good to know, I was just following the links from the jaeger docs

[2021-06-04 15:51] yinheli commented on #3047
resolved

1. create ilm policy first, follow [official document](https://www.jaegertracing.io/docs/1.22/deployment/#elasticsearch-ilm-support)
2. do init (before startup jaeger cluster)
  `docker run -it --rm --net=host -e ES_USE_ILM=true -e CONDITIONS='{"max_age": "2d", "max_size": "5gb"}' jaegertracing/jaeger-es-rollover:latest init http://localhost:9200`

[2021-06-04 20:19] jpkrohling opened #3058 "Release action is broken"
When releasing 1.23.0, the "Upload binaries" step failed with:

![image](https://user-images.githubusercontent.com/13387/120858260-d5e66a80-c582-11eb-9957-c0e10e35ca9d.png)

I believe this is due to recent changes to the repository token scope that GitHub made. The action we are using for this seems outdated, so, we might want to consider changing to another action.

[2021-06-04 20:21] jpkrohling commented on #3058
@Ashmita152, do you know anything about this action?

@albertteoh, I remember you had some issues during the last release, but not sure this was it. Do you recall what happened?

[2021-06-04 20:43] albertteoh commented on #3058
@jpkrohling the issue I faced was with the Documentation release related to push privileges for jaegertracingbot, and the problem seems to be specific to GH Actions. From an old email thread:

remote: error: 3 of 3 required status checks are expected. At least 1 approving review is required by reviewers with write access.
To https://github.com/jaegertracing/documentation
 ! [remote rejected] maste

[2021-06-04 22:15] dgoscn opened #3059 "Jaerger Ingester - Unable to create consumer","error":"kafka: client has run out of available brokers to talk to"
**Describe the bug**
So, me and my team are trying to up a Jaeger Ingester on EKS and we are passing Jaeger flags as args. When the pod is created we can check on the logs that it wasn't able to create a kafka consumer. In order to troubleshoot we developed a python script that is able to connect to the kafka cluster.

**To Reproduce**
Steps to reproduce the behavior:

1.  This is deployment file

[2021-06-05 04:51] Ashmita152 commented on #3058
Hi Juraci,

I just tried creating a release in my jaeger fork and "Upload binaries" step went well: https://github.com/Ashmita152/jaeger/runs/2751315900?check_suite_focus=true

As you said, it's most likely related with GitHub token scope. May I ask you to check the permissions granted to GH Actions here: https://github.com/jaegertracing/jaeger/settings/actions or it might be somewhere in GitHub o

[2021-06-05 17:54] clock21am commented on #3019
@jpkrohling @yurishkuro what do you think we should do then?

[2021-06-05 17:57] clock21am commented on #1052
is anyone working on this issue, i have bit experience working with Kafka and sarama can take this task if this is okay ?

[2021-06-05 19:20] jpkrohling commented on #3058
Indeed, it was only "Read repository contents permission" instead of "Read and write permissions". I just swapped it and started the job again. Let's see how it goes :-)

That one is a separate step, which failed here locally, as I don't sem to have node 10:

[code]

[2021-06-06 06:19] Ashmita152 commented on #3058
Thank you Juraci. It looks like the release workflow passed [this time](https://github.com/jaegertracing/jaeger/runs/2754237798?check_suite_focus=true) 🎉

[2021-06-06 08:40] heruv1m commented on #3047
Jaeger marked [ILM feature](https://www.jaegertracing.io/docs/1.22/deployment/#elasticsearch-ilm-support) as experimenal.
I'm little bit afraid to use it

[2021-06-06 10:59] mindw opened #3062 "Expose `jaeger_version` info metric with `pkg/version/build.go` as labels"
## Requirement - what kind of business use case are you trying to solve?
As a metrics consumer I would like to tell what version of jaeger components are deployed. There are very common use cases for this and it is both a common and encouraged practice.
For example, the golang version is exposed be default:
[code]
## Problem - what in Jaeger blocks you from solving the requirement?
* only the jaeg

[2021-06-07 06:35] judyQD commented on #2927
@albertteoh  Thanks for your nice help. Actually, no. I found Jaeger ingester use this package "github.com/Shopify/sarama" to be the consumer of kafka. I changed the max fetch size of this package, it improved the consumer performance. But the consumption rate is not fixed, and I have no idea how to increase the consumption rate.

[2021-06-07 07:28] jpkrohling commented on #3058
Thanks for your help, @Ashmita152!

[2021-06-07 07:28] #3058 closed

[2021-06-07 08:24] albertteoh commented on #2927
@judyQD Did you manage to get some measurements from the ingester and try modifying some of its parameters https://github.com/jaegertracing/jaeger/issues/2927#issuecomment-830422922?

For example, perhaps adding more workers or influencing the flush rate by count, duration or size, may help increase the consumption rate?

[2021-06-07 08:27] Ashmita152 commented on #3059
Hi,

I am not sure but I think you're missing `--kafka.consumer.authentication=tls` flag in your jaeger-ingester arguments.

Can you try adding it and see if it helps.  Let us know how it goes.

Thanks!

[2021-06-07 08:46] judyQD commented on #2927
@albertteoh  Thanks for your comments. The paremeters you list are focus on the function to store date into ES.
But based on my observation, the bottleneck is fetching data from kafka. So I want to improve the performance of this part.
Do u have any comments about improving this part's performance: fetching data from kafka. Thx.

[2021-06-07 09:31] LuChenjing commented on #2618
@Kerptastic Hi, may I ask whether this PR been merged? And are you able to provide a example for the multi-dc cassandra, as I didn't see the param of REPLICATION_FACTOR in [jaeger_types.go](https://github.com/jaegertracing/jaeger-operator/blob/f7cee0596e4c9c3abddb6910b23673e2a5b5f939/pkg/apis/jaegertracing/v1/jaeger_types.go)

[2021-06-07 09:46] jpkrohling commented on #3019
I would prefer to have the OpenSSL format, which is what fluentd seems to be using. But if there aren't good libraries that parse OpenSSL format into a set of cipher suites understood by Go, I would prefer to see what other projects are doing in this matter.

[2021-06-07 11:06] levonet commented on #1438
I also like the idea of ​​adding a plugin as one of the core storage options for jaeger.
This will allow to organically add a clickhouse to existing jaeger-operator and helm-charts.

We have been using Ivan's plugin for half a year. The use of a clickhouse as storage is almost invisible in terms of infrastructure resources. Docker images with an updated version of jaeger and a startup example can

[2021-06-07 11:23] albertteoh commented on #2927
@judyQD  If I'm not mistaken, the "Kafka consumer goroutine" (after consuming the span from the topic) eventually attempts to write/add the span to a buffer that is eventually bulk written to ES.

I suspect the bottleneck is at the point where the Kafka consumer goroutine offloads the msg from Kafka via a [write to an **unbuffered** channel](https://github.com/olivere/elastic/blob/b7de00ddfd128672

[2021-06-07 12:55] pavolloffay commented on #2367
the OTEL bits have been removed so this issue is not relevant anymore. I am closing it.

I have tested badger with https://github.com/jaegertracing/jaeger/pull/3056 and it seems to work.

[2021-06-07 12:55] #2367 closed

[2021-06-07 13:25] dgoscn commented on #3059
Hi @Ashmita152. Thank you very much for your time.

I already tried this approach and made it again, but, still having the same error.

`"level":"fatal","ts":1623072056.8520513,"caller":"command-line-arguments/main.go:75","msg":"Unable to create consumer","error":"kafka: client has run out of available brokers to talk to (Is your cluster reachable?)","stacktrace":"main.main.func1\n\tcommand-line-a

[2021-06-07 13:43] jimpete opened #3067 "Need documentation on how to use private image repository"
## Requirement - what kind of business use case are you trying to solve?

As a military installation, I want documentation on how to pull the images from new locations in the Jaeger Custom Resource instance

## Problem - what in Jaeger blocks you from solving the requirement?

I cant find the place to put the spark, esIndexCleaner, esRollover, and esLookback images.  This seems to work except for

[2021-06-07 14:36] yurishkuro commented on #3067
I would direct this question to the people who manage your registry. Usually custom registries work like proxies - you point to a different registry by address, but the image names remain the same. But I can't say I have expertise in this area.

cc @jpkrohling

[2021-06-07 14:55] Ashmita152 commented on #3059
Hi @dgoscn

May I ask you the version of kafka you're running. Your issue looks something similar to the one reported here: https://github.com/jaegertracing/jaeger/issues/2950

[2021-06-07 17:35] dgoscn commented on #3059
Thanks one more time @Ashmita152.

The kafka running, it is 2.3. About the issue that you metioned, it's a bite confusing. There are just a log of the error and not some useful info.

Regards

[2021-06-07 18:26] codekissyoung commented on #211
ok , I Know that ！ PHP is the language that raised by stepmother .  Do not have an Official Client for Yaeger Really Bothered me T_T

[2021-06-07 21:56] dgoscn commented on #2950
Hi @wenhx8.

Did you resolved the issue?

[2021-06-08 03:43] yinheli commented on #3047
Yep, but ILM is ES feature, and it is stable, it works for me.
With ILM we don't need to manually `jaeger-es-rollover` to rolling and remove data.

[2021-06-08 06:07] Ashmita152 opened #3068 "Document and update integration test with the versions of Kafka Jaeger supports"
## Requirement - what kind of business use case are you trying to solve?

Update [jaeger-v2 kafka integration tests][1]  to test with the two most recent versions of Kafka

## Problem - what in Jaeger blocks you from solving the requirement?

Right now we don't mention anywhere in the doc the version of kafka we support. This has lead to multiple open issues: https://github.com/jaegertracing/jaege

[2021-06-08 08:31] jpkrohling commented on #3068
We have a couple of action items here. An initial suggestion could be:

1. Establish a version policy for Kafka support. For instance, in the Kubernetes world, it's common to support N-2 minor versions. Our promise on the operator is then that people can use any one of those 3 versions and expect Jaeger to work.
1. Once the policy is established, document it.
1. We can then use the latest version

[2021-06-08 08:59] pavolloffay commented on #3068
Great topic :)

Note that in the future Jaeger will use Kafka implementation from OTEL collector. It's a newer implementation that does not use deprecated sarama-cluster implementation. Therefore the OTELcollector might be a better place for the itest.

[2021-06-08 09:44] pavolloffay commented on #169
Defining our own type will again unnecessarily increase maintenance. Having a duplicated model just to use the correct JSON annotations does not feel right. Also if we switch internally to OTLP it will need an additional model translation. I will have a look of the proto compiler can be configured to use the same JSON annotations as proto uses.

I would avoid custom REST API if we can simply use g

[2021-06-08 12:52] dgoscn commented on #3068
Special thanks @Ashmita152.

Excellent topic

[2021-06-08 15:26] #2771 closed

[2021-06-08 15:36] wiardvanrij commented on #2172
Could this be re-opened as even though we are upgrading to 1.38, the fix for this issue itself is not yet included in 1.38, as this has been made 6 days ago :)
It would require an update to 1.39 or whatever version that includes grpc/grpc-go#4234

Thanks a lot for this upgrade move though. Awesome <3

[2021-06-09 07:58] wabrit opened #3077 "Jaeger Operator 1.22.1 generates collector Deployment with now obsolete COLLECTOR_ZIPKIN_HTTP_PORT property"
**Describe the bug**
Folowing the instructions in the Kubernetes deployment guide for an All-in-One or Production deployment results in a deployment based on the image `jaegertracing/jaeger-operator:1.22.1`.

When run it produces an jaeger collector with the following:

[code]

The `COLLECTOR_ZIPKIN_HTTP_PORT` property no longer works in Jaeger 1.22, which means that any Zipkin-instrumented applic

[2021-06-09 09:40] heruv1m commented on #3047
@yinheli Can you show your config?
I can't find spans after rolling indexes by policy

[2021-06-10 03:25] nothinux opened #3080 "Schema support for cassandra 4"
Hi, i'm trying to initilize schema in cassandra 4, but i got `'Unknown property 'dclocal_read_repair_chance'`.
after i check changelog for cassandra 4, `dclocal_read_repair_chance` has removed [link](https://github.com/apache/cassandra/blob/6c30261bc8d696f599a1e9ebea8a5bffbd0ac9ed/NEWS.txt#L255).

So temporarily I removed `AND dclocal_read_repair_chance=0.0` in plugin/storage/cassandra/schema/v003

[2021-06-10 04:34] albertteoh commented on #3080
You may need to provide a migration script from v003 -> v004 as well like https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/cassandra/schema/migration/V002toV003.sh.

[2021-06-10 09:33] nikitaChernyshev opened #3084 "invalid parent span XXXXX; skipping clock skew adjustment"
**Describe the bug**

I use Spring Cloud Sleuth. I propagate headers.
My tracing span find parentSpanId, but i can't see full tree.

**To Reproduce**
Steps to reproduce the behavior:
1. I deploy my app in kubernetes/istio

2. I open Jaeger dashboard and find all metrics, bull all metics have warning:
invalid parent span IDs=71726c048cad372a; skipping clock skew adjustment.
I wait 2 days and try to

[2021-06-10 10:01] #2974 closed

[2021-06-10 12:11] yinheli commented on #3047
@heruv1m

1. initialize  refer official documentation.
[code]

2. initialize index (alias, template)
[code]

3. checkout info
check index template

curl 'http://elastic:xxx@localhost:9200/_template/jaeger*' | jq .
[code]

check ilm policy

curl 'http://elastic:xxx@localhost:9200/_ilm/policy/jaeger-ilm-policy' | jq .
[code]

check index

curl 'http://elastic:xxx@localhost:9200/jaeger*' | jq .
[code

[2021-06-10 12:21] heruv1m commented on #3047
I have very similar  configuration. May be reason in jaeger's configuration..
Can you add configuration of jaeger-collector and jaeger-query?

[2021-06-10 12:36] Ashmita152 commented on #3084
Hi @nikita111100

I think you are hitting this bug: https://github.com/jaegertracing/jaeger/issues/2719 which is resolved in v1.22.0 jaeger release.

[2021-06-10 12:54] yinheli commented on #3047
@heruv1m

docker-compose for dev/test environment

[code]

[2021-06-10 13:52] bhiravabhatla opened #3085 "[Jaeger Collector - ES Backend ]Use object type instead of nested type for logs field in index mapping for jaeger-span"
## Requirement - what kind of business use case are you trying to solve?

We use jaeger with Elasticsearch backend. We see that in jaeger-span index template - we use nested fields (Ref - https://www.elastic.co/guide/en/elasticsearch/reference/current/nested.html)  for logs (in index mapping - https://github.com/jaegertracing/jaeger/blob/7dedc4637eeb80e0605a82720e0c23feabe623b0/plugin/storage/es/m

[2021-06-10 14:14] nikita111100 commented on #3084
Now i change version to 1.22.0, but now i have same problem :(

[2021-06-10 14:19] bhiravabhatla commented on #3085
The change we did to logs field mapping for reference -

[code]

[2021-06-10 17:50] albertteoh commented on #2085
Came across this again, although on a different test case, and different error message ([link to unit test run](https://github.com/jaegertracing/jaeger/pull/3079/checks?check_run_id=2793049751#step:5:2020)):
[code]

[2021-06-11 00:47] bkahlert commented on #2121
....

@pavolloffay, this is what @JingangLi was referring to.

[2021-06-11 06:55] bhiravabhatla commented on #3085
@pavolloffay @yurishkuro  - Any thoughts on this issue?

[2021-06-11 10:13] jpkrohling commented on #2085
Perhaps due to the latest changes to the gRPC versions? cc @pavolloffay

[2021-06-12 06:50] Ashmita152 commented on #3059
Nice debugging! Happy to see that you solved the issue.

[2021-06-12 18:47] #3059 closed

[2021-06-13 08:33] albertteoh commented on #3085
This sounds reasonable to me as Jaeger doesn't provide functionality to search in log fields, just tags and I believe this is where the [benefits of nested fields](https://www.elastic.co/guide/en/elasticsearch/reference/current/nested.html#nested-fields-array-objects) lay. As long as there are no changes in behaviour in Jaeger UI in the logs display, which you mentioned is the case from your comme

[2021-06-13 14:28] bhiravabhatla commented on #3085
Sure I would raise one. If I am not wrong only place that requires change is here -

https://github.com/jaegertracing/jaeger/blob/013efad9fb172fc893e52898d16ff4bbef3890ad/plugin/storage/es/mappings/jaeger-span.json#L67

and

https://github.com/jaegertracing/jaeger/blob/013efad9fb172fc893e52898d16ff4bbef3890ad/plugin/storage/es/mappings/jaeger-span-7.json#L71

[2021-06-13 15:17] yurishkuro commented on #3085
It certainly does with Cassandra, and I thought with ES too

[2021-06-13 17:32] bhiravabhatla commented on #3085
@albertteoh  - My Integration tests are failing and I could see why. We are actually using nested Queries for logs as well.

I could see while building Query for fetching traceIDs - We are adding a BoolQuery for tags, as well as Logs.

https://github.com/jaegertracing/jaeger/blob/19cbe35717f18993e373ee83be1bde74c459ffb0/plugin/storage/es/spanstore/reader.go#L621

Not sure why we are trying query f

[2021-06-14 00:08] albertteoh commented on #3085
Thanks for the correction @yurishkuro @bhiravabhatla :)

[2021-06-14 05:44] bhiravabhatla commented on #3085
Tested the app locally. As suspected, if add any tags while searching traces - we are getting 400 Bad request from ES.

![image](https://user-images.githubusercontent.com/36130219/121843313-a0b6e680-ccff-11eb-8839-b50e0287e2c4.png)

@albertteoh  @yurishkuro  -  I am trying to understand why we are using the key/values passed in Tags from UI for querying Logs field as well -

https://github.com/jae

[2021-06-15 09:26] roberth1988 commented on #1691
One more addition, I've needed also "monitor" on the indices privileges. Th esCleaner failed otherwise with:

[code]

[2021-06-15 15:00] bhiravabhatla commented on #3085
@pavolloffay  @yurishkuro  @albertteoh  - Any thoughts on this?

[2021-06-16 12:16] CoderPoet commented on #1474
It seems that the go es client currently used does not support [index template api](https://www.elastic.co/guide/en/elasticsearch/reference/7.13/index-templates.html)

[2021-06-16 13:31] hichem3 commented on #1281
Hello,
i have an issue with forwarding a nodejs application traces to jaeger UI through jenkins , can anyone help me with this ?
i get this error when building jenkins job to spin up docker container and run npm install then npm start:

(node:3992) UnhandledPromiseRejectionWarning: Error: error sending spans over HTTP: Error: connect ECONNREFUSED 127.0.0.1:16686
    at _sender.flush (/var/jenkins_

[2021-06-16 14:33] yurishkuro commented on #1281
@hichem3 you are sending to the wrong port, see https://www.jaegertracing.io/docs/1.23/deployment/

[2021-06-16 14:37] hichem3 commented on #1281
@yurishkuro thank you for your fast answer , but that part of the port is the not the issue because whatever port i put it's the same error , it was 14250 same error , 14286 same error..

[2021-06-16 14:40] hichem3 commented on #1281
(node:4773) UnhandledPromiseRejectionWarning: Error: error sending spans over HTTP: Error: connect ECONNREFUSED 127.0.0.1:14268
    at _sender.flush (/var/jenkins_home/workspace/jaeger/node_modules/@opentelemetry/exporter-jaeger/build/src/jaeger.js:151:35)
    at Function.invokeCallback (/var/jenkins_home/workspace/jaeger/node_modules/jaeger-client/dist/src/reporters/sender_utils.js:33:9)
    at C

[2021-06-16 15:08] wenhx8 commented on #2950
not resolve issue

[2021-06-16 15:08] #2950 closed

[2021-06-17 09:55] heruv1m commented on #3028
Thanks for answer. We switched to Elasticsearch, this is no longer relevant

[2021-06-17 09:55] #3028 closed

[2021-06-18 02:02] albertteoh commented on #3085
@bhiravabhatla yes, that's correct. For example, if you try the [HotRod demo](https://github.com/jaegertracing/jaeger/blob/master/examples/hotrod/README.md#run-hotrod-from-source) with Jaeger all-in-one running, if your Tag search is `event="Found drivers"`, it will result in traces containing at least one span with a log (or tag/process) entry key of `event` and value of `Found drivers`.

[2021-06-18 05:54] Kerptastic commented on #2618
No it has not, I totally spaced finishing this actually as we are exploring ES for the backend.

[2021-06-20 20:15] clock21am commented on #3019
let me check and get back to you then

[2021-06-22 05:55] bhiravabhatla commented on #3085
Is this expected?. Ideally we should be only looking only in tags. At least as an end user doing the search from Query UI, I would expect that the search should only happen in tag fields for filtering.

[2021-06-22 07:25] ediezh commented on #1824
It is happening to me too. Not just te esCleaner, it happens with the es rollover too.

[2021-06-22 18:50] #3062 closed

[2021-06-23 12:39] jpkrohling opened #3101 "Remove `replace` directive from go.mod"
The go.mod should have had the `replace` directive removed:

https://github.com/jaegertracing/jaeger/blob/9ee807da447ce402b4e5b17d175a5b4b6bf414b2/go.mod#L73-L74

_Originally posted by @jpkrohling in https://github.com/jaegertracing/jaeger/issues/3097#issuecomment-866800204_

[2021-06-23 12:43] jpkrohling commented on #2459
This is probably fixed by #3096. Please, reopen if you still see this happening.

[2021-06-23 12:43] #2459 closed

[2021-06-23 12:45] jpkrohling commented on #2987
This should have been fixed by #3096. If you are still experiencing this, feel free to reopen.

[2021-06-23 12:45] #2987 closed

[2021-06-23 12:46] jpkrohling commented on #1869
I'm closing this, hoping that this had been fixed by #3096.

[2021-06-23 12:46] #1869 closed

[2021-06-23 13:41] jpkrohling commented on #1609
I'm closing this, hoping that the recent upgrade to v3 is addressing this, in case this was still happening.

[2021-06-23 13:41] #1609 closed

[2021-06-23 13:42] jpkrohling commented on #2703
Closing, hoping that this was fixed by the recent upgrade to badger v3. Feel free to reopen if this is still happening.

[2021-06-23 13:42] #2703 closed

[2021-06-24 11:39] #3101 closed

[2021-06-24 11:44] jpkrohling commented on #1824
Apparently, it's a permission issue as pointed out by @roberth1988 here: https://github.com/jaegertracing/jaeger/issues/1691#issuecomment-861341232

[2021-06-24 11:44] #1824 closed

[2021-06-24 18:58] albertteoh commented on #3085
@bhiravabhatla  This was before my time, so I'll defer to the more experienced members of the community on this question.

I agree though that Jaeger UI's search field for this is labelled "Tags", so I can see how this could be misleading, especially if this behaviour is not consistent for all backends (i.e. limited to Cassandra and ES).

As an aside, maybe log search capabilities for specific sto

[2021-06-24 19:42] albertteoh opened #3104 "Removing Show* TLS config flags"
## Requirement - what kind of business use case are you trying to solve?

Follow up to https://github.com/jaegertracing/jaeger/pull/3030#discussion_r655955450.

## Problem - what in Jaeger blocks you from solving the requirement?

The Show* TLS config flags appear to be redundant (always `true`) and could not find evidence where they could be `false` unless if manually changed in code.

[Example](

[2021-06-25 07:04] #3104 closed

[2021-06-25 08:37] albertteoh opened #3107 "Metrics Query Development Environment"
## Requirement - what kind of business use case are you trying to solve?

As part of #2954, I'd like to ensure there is a decent development environment that users and contributors alike can easily spin up/down, something like jaeger all-in-one.

## Problem - what in Jaeger blocks you from solving the requirement?

The metrics querying capabilities of jaeger-query are made possible through the ava

[2021-06-25 11:04] yurishkuro commented on #3107
Are you sure splunk's load generator didn't just move to OTEL?

I have a personal repo microsim that can generate consistent load with some randomized behavior for a configured graph of microservices (there is one config that simulates hotrod pattern).

[2021-06-25 12:46] jpkrohling commented on #3107
@tigrannajaryan, was it moved? I also had the impression that the load generator was archived without replacement.

[2021-06-25 16:48] pavolloffay opened #3108 "Clarify attributes support in API_v3 request query parameters to find traces"
Created from https://github.com/jaegertracing/jaeger-idl/pull/76#discussion_r658727503

The current definition:

[code]

@jpkrohling suggests thinking about changing the semantics of `attributes`.

[2021-06-25 17:29] yurishkuro commented on #3108
My preference is to clearly document that the filter parameters represent a conjunction on the same span. Expressing conditions that could apply to multiple spans, like endpoint=X on one span and error=true on any other span, requires non-trivial query language, and is not trivial to support e.g. on ES.

[2021-06-25 19:41] jpkrohling commented on #3108
For reference, this is the case I had in mind:

[2021-06-25 19:45] jpkrohling commented on #3108
One more reason to choose one backing storage and make the best tracing solution based on it. What I hear you saying is that we are OK to compromise the user experience in favor of supporting multiple backing stores, settling on the minimum common denominator.

[2021-06-25 19:58] yurishkuro commented on #3108
I am not saying that, I am saying that the docs / API must reflect the reality of what we actually support. I am also saying that to support the use case you cite we need not only the support of the backing store, but also a different query language, because in the current API your query simply cannot be expressed without internal contradiction (namely, there is a mandatory serviceName field that

[2021-06-28 08:19] jpkrohling commented on #3108
True. Note that this is a new version of the API (v3), we have the opportunity to change the current behavior and the documentation.

Might be just a way of how we present the search form to users. Keeping the requirement to provide the service name, the query could be "give me traces touching the service X, with spans anywhere in the trace containing the userID=123 and spans anywhere containing a

[2021-06-28 16:08] kun-lu20 opened #3113 "Rethink our CI to avoid building all the docker images every time"
Created from https://github.com/jaegertracing/jaeger/pull/2948#discussion_r659578647

The current situation is that our CI will build all the docker images every time. Since using `docker buildx` to build multi-arch images will be slower than regular build, we need to find an effective way to reduce the time penalty.

@jpkrohling suggests we should avoid building all the things all the time if we

[2021-06-28 16:13] yurishkuro commented on #3113
It would be great if GitHub supported stages of CI, so that we don't run every single thing under the sun before the basic checks like linters & unit tests are successful.

[2021-06-28 16:28] yurishkuro commented on #3108
(a) are you sure changing the behavior is in scope of what Pavol had in mind for this project? (b) I don't mind evolving the API in such a way as to allow it to express the cross-span queries and then degrade to current behavior with certain restrictions.

Well, no, we'd need to change the API itself to be expressive. We actually discuss this in the past that the UI representation of the query may

[2021-06-29 06:29] albertteoh commented on #3107
Thanks for your inputs @yurishkuro @jpkrohling

I couldn't find evidence of it being moved. Even OTEL refers to the archived synthetic load generator: https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/performance.md#testing.

Hopefully, Tigran is able to shed more light on its status.

Thanks for suggesting https://github.com/yurishkuro/microsim. I'll take a look at it.

[2021-06-29 15:45] tigrannajaryan commented on #3107
Splunk archived https://github.com/Omnition/synthetic-load-generator since we no longer use it ourselves and do not plan to evolve it. It is Apache licensed so anyone is free to fork and maintain a fork.

[2021-06-29 15:51] yurishkuro commented on #3107
@tigrannajaryan is there something else you use?

[2021-06-29 16:01] tigrannajaryan commented on #3107
I am not aware of any alternates.

[2021-06-30 12:39] jpkrohling commented on #3113
I think it does support dependencies between jobs. We could then have smoke-tests running before, and full tests running after that. I still think that we don't need the full suite for every single PR. A nightly build, with the option of being manually triggered just before a release, would be sufficient, in my opinion.

[2021-07-01 01:23] #2292 closed

[2021-07-01 15:37] slon opened #3120 "Support optional Close() method in grpc plugin writer"
## Requirement - what kind of business use case are you trying to solve?

I would like to support graceful shutdown for grpc plugin.

## Problem - what in Jaeger blocks you from solving the requirement?

Writer in storage plugin might buffer spans in internal queue. AFAIK, kafka writer [works that way](https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/kafka/writer.go#L85). Even mo

[2021-07-01 15:51] yurishkuro commented on #3120
+1

[2021-07-02 07:42] plajjan opened #3121 "Support timezone conversion in Jaeger UI"
It seems to me that UTC is selected for on the wire representation of time as well as in the database (https://github.com/jaegertracing/jaeger/pull/712), which sort of makes sense, at least with a somewhat naive handling of timezones. However, I think that the Jaeger UI should support displaying times in the timezone local to the user, i.e. of the browser as to reduce the mental load when viewing

[2021-07-02 11:49] pavolloffay commented on #2130
Badger was bumped to v3 https://github.com/jaegertracing/jaeger/pull/3096

[2021-07-02 11:49] #2130 closed

[2021-07-03 07:01] DikshithAC commented on #2016
Jaeger - windows configuration doesn't work - all in one solution

[2021-07-03 07:05] DikshithAC opened #3123 "Jaeger - windows configuration doesn't work - all in one solution."
Jaeger - windows configuration doesn't work - all in one solution.

[2021-07-05 04:21] Ashmita152 commented on #3123
Hi @DikshithAC

Sorry for the trouble you faced in running Jaeger's all-in-one in windows. We need to improve the documentation for windows environment. Thank you for reporting it.

We have users who run Jaeger on windows successfully. It will be helpful if you can describe the steps(commands) you used along with the error messages. We can help you that way better, without that information we can'

[2021-07-05 08:18] jpkrohling commented on #3123
+1 to everything @Ashmita152 said, especially this part:

[2021-07-05 13:47] arruda commented on #960
One of the things that I thought about that could help (since there is no pagination on the ui) is to use multiple requests with a very high limit, but using a very small window of time for the search( using lookback=custom and setting the start/end parameters).  Not sure if this indeed would cover the case you are talking about, and you would also need to check for duplicate traces between the di

[2021-07-06 07:32] bhiravabhatla commented on #3085
@albertteoh  @pavolloffay  - Should would not rather have consistent behaviour across all backends?

[2021-07-06 07:35] bhiravabhatla commented on #3085
Also I don't see this documented. I guess if we decide to keep it we would need to document it somewhere as well.

[2021-07-09 05:28] DikshithAC commented on #3123
Hi @Ashmita152,
Please be informed, no offence as such with the "words" above which points about "carefulness". I have paid "my hardened money for the book and in a position of non return status from vendor".  The same have conveyed here.

Appreciate your advice when asked. Till then ........ .Hope you got my message clear.

[2021-07-09 07:11] jpkrohling commented on #3123
In a final attempt to turn this into something positive, I'll refer once again to something @Ashmita152 said before:

[2021-07-09 07:50] esrrhs opened #3128 "add stop command to jaeger-agent"
jaeger-agent support these command
Available Commands:
  docs        Generates documentation
  help        Help about any command
  status      Print the status.
  version     Print the version.

is there a STOP command to let the jaeger-agent quit other than kill it

thanks

[2021-07-09 08:47] jpkrohling commented on #3128
There isn't, and sending SIGINT (ctrl+c) should cause the process to cleanly exit.

[2021-07-09 08:47] #3128 closed

[2021-07-09 08:47] davidbartos commented on #2197
Hi Guys,

Is there any progress or solution related to this topic. I am experiencing the same issue as @rdepke, it looks like the strategies in the sampling config is not used.

Thanks

[2021-07-09 13:51] DikshithAC commented on #3123
@jpkrohling , please remove label "invalid". Will provide details

[2021-07-12 08:05] winshenting commented on #1833
I have one similar question to ask.
We have one elasticsearch database collecting qa and cm data.
In qa index-prefix is qa, qa jaeger portal only shows qa data.
In cm index-prefix is cm. cm jaeger portal only shows cm data.
In order to consolidate portal website, how to do it?

[2021-07-12 14:56] jpkrohling commented on #1833
The Jaeger Query ("portal", in your message) is not able to use multiple storages at the same time.

[2021-07-13 04:26] huangjiecheng opened #3133 "I hope to support regular expressions when using remote sampling"
## Requirement - what kind of business use case are you trying to solve?
sampling.strategies-file. The service_name and operation_name hopes to support regular expressions

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questions to address

[2021-07-13 12:22] pavolloffay commented on #3133
Thanks for opening the issue. I don't think that we will make changes to the Jaeger's implementation of remote sampling. The change would require changing client libraries. The client libraries will be deprecated in favour of OpenTelemetry.

Please comment on https://github.com/open-telemetry/oteps/pull/167 to express your interest in regex-based approach.

[2021-07-13 12:41] #3123 closed

[2021-07-14 17:11] pavolloffay commented on #1438
I have migrated https://github.com/bobrik/jaeger/tree/ivan/clickhouse/plugin/storage/clickhouse to storage plugin. The source code is available here https://github.com/pavolloffay/jaeger-clickhouse.

The repository contains instructions how to run it and the code was tested locally (see readme). When I run the code on more data I get `Too many simultaneous queries. Maximum: 100`, see https://githu

[2021-07-15 01:04] yurishkuro commented on #1596
I just had a look at the agent code, the refactoring to support multiple Thrift protocols on the same port is going to be pretty invasive. It might look like this:
  * introduce a notion of protocol sniffer that will inspect the payload and return the Protocol constant https://github.com/jaegertracing/jaeger/blob/c5642b708be9e2577cc1c494889ae97946ccc78a/cmd/agent/app/builder.go#L56
  * there is a

[2021-07-15 06:15] Slach commented on #1438
@pavolloffay thanks a lot for your great efforts ;) I hope you will bring ClickHouse to first-class citizen storage in Jaeger

[2021-07-15 09:16] jpkrohling commented on #1596
I think this brings little value for the complexity it brings.

[2021-07-15 10:25] pavolloffay commented on #1438
Folks, did you have to increase maximum nuber of queries in ClickHouse when running Jaeger?

[code]

I am getting ` DB::Exception: Too much simultaneous queries. Maximum: 100` when running the default ClickHouse image.

@bobrik / @Slach how does your Jaeger deployment look like? Are you using Kafka as well?

[2021-07-16 06:13] ediezh commented on #1824
I don't think it's all due to the permission issue. We are running a es cluster without permission control even.

[2021-07-16 17:32] albertteoh commented on #3085
@bhiravabhatla I'd agree that ideally there should be consistent behaviour across all backends, and perhaps this inconsistency was due to limitations in later introduced backends that couldn't meet the requirements.

I think this is a reasonable request, esp. given the improvements in ES memory use. Not sure what other folks think @jaegertracing/elasticsearch?

I imagine we'd need to add a "disabl

[2021-07-16 17:57] albertteoh commented on #3085
Although, having the API expose capabilities may be useful for some use cases like the one mentioned in the [jaeger channel relating to searches across services](https://cloud-native.slack.com/archives/CGG7NFUJ3/p1624977898306100). In this case, if jaeger-query could convey that the backing store supports such searches, then perhaps jaeger UI would be able to allow queries without service/operatio

[2021-07-16 19:16] bobrik commented on #1438
All ingress in our deployment comes from Kafka with large batches (10k to 100k). We have 512 as the concurrent query limit, but the metrics show under 20 concurrent queries per node in a 3 node cluster.

[2021-07-20 12:12] wiardvanrij commented on #2126
This would be useful to us. Are there any plans to enable this as flag?

[2021-07-20 15:15] wiardvanrij opened #3152 "Traces in a rolled-over index are unable to be hotlinked via /trace/{id}"
**Describe the bug**

- Search a trace in your 'history' that should be in an index that is in a rollover'd index.
- You are able to find this via the search and click on it. This gives a working view of your trace at `/trace/{your-id}`
- Open a new tab
- Insert the link
- You get a 404 when directly going to the /`/trace/{your-id}` page

When using a trace that is 'fresh' i.e. has not been in a r

[2021-07-20 15:43] pavolloffay commented on #3152
Without knowing your storage configuration it's impossible to understand whether this is a bug or misconfiguration. Could you please share all jaeger flags and rollover script configuration?

[2021-07-20 17:51] wiardvanrij commented on #3152
We are using Elasticsearch as storage. The flags regarding es.use-alias are implemented over all the components. We use jobs for rollovers and clean up. These come from Jaeger itself.
Basically nothing special, rollover on size.

I'm open to share more tomorrow but I'm somewhat confident that this ain't a misconfiguration as everything works fine. Traces can be found/searched for. It's merely not

[2021-07-20 19:20] jpkrohling commented on #2126
@wiardvanrij, would you be willing to give it a try? It should be relatively easy, especially following the discussion from this thread, but let me know if you need more concrete directions.

[2021-07-20 21:28] pavolloffay commented on #3152
The real configuration values would help here, but if you don't want to share that is fine.

Setting `--es.max-span-age` to match rollover's "lookback" (https://github.com/jaegertracing/jaeger/blob/7636530bbfe36fdd9f8e50f71cc8307787851056/plugin/storage/es/esRollover.py#L54) should solve your issue.

[2021-07-21 07:31] jpkrohling commented on #2126
Sounds good. Ping us if you need help.

[2021-07-21 08:18] wiardvanrij commented on #3152
Welp, this is awkward. That indeed fixed it. I still don't really understand how one could get a trace from the search UI part, but not from the URL. Anyhow, thank you so much!

[2021-07-21 09:46] pavolloffay commented on #3152
Let's keep this open and improve docs so the other people don't run into the same issue.

Where did you learn how to configure rollover? In the initial setup did you configure `--es.max-span-age`?

[2021-07-21 10:18] wiardvanrij commented on #3152
I'm using the helm chart, but we've edited this quite some bit so this is not perse in line with upstream anymore.
So we use that rollover feature there: https://github.com/jaegertracing/helm-charts/blob/main/charts/jaeger/values.yaml#L577

but instead of days, we use

[code]

And basically this works like a charm and you can also see your traces via the search (also on rollover'd indexes).

[2021-07-21 13:03] albertteoh commented on #3152
@wiardvanrij I think this is a good question and I'll attempt (because I didn't understand myself until looking over the code just now) to explain why this behaviour is the way it is. Feel free to correct me if I'm wrong @pavolloffay.

- Searching for traces uses the search UI's lookback time for both [Trace ID discovery](https://github.com/jaegertracing/jaeger/blob/605c1f1607c0a514d76ecc1ea8df097

[2021-07-21 13:42] pbdger opened #3156 "Jaeger-Collector: too many open files"
**Jaeger-Collector: too many open files**

We have a set of collectors in use. In the console, in the log output of the collector (which is created in JSON format), we suddenly see a large number of messages that always have this structure (and are not JSON);

`2021/07/21 13:24:45 http: Accept error: accept tcp [::]:14269: accept4: too many open files; retrying in 1s`

Since these messages have no

[2021-07-21 14:28] jpkrohling commented on #3156
Interesting, that's the admin port, the same we serve the health checks. Are you able to tell what's on the other side of the connection? Perhaps your client isn't properly closing the HTTP connections?

Your reproduce steps could also be improved. Are you able to reproduce it by running Jaeger with, say, `podman run jaegertracing/all-in-one:1.24.0` on the server side and `tracegen` as the client?

[2021-07-21 14:30] yurishkuro commented on #3156
It appears you have too many clients that keep opening new connections to the backend instead of reusing an existing connection. You should also check what file descriptor limit you have.

The log seems appropriate, it says that accept of an incoming connection was unsuccessful. What more information do you expect to see?

[2021-07-21 15:04] pbdger commented on #3156
Unfortunately, the log entry is not created in json format like all other log events of the collector. Also the specification of an event type like error or warning etc. is missing.

On our side we process the log events with Fluentbit. Therefore we always expect a Json string from the Jaegercollector for logging. But this message unfortunately breaks the Json pattern. Therefore we did not notice

[2021-07-21 16:06] yurishkuro commented on #3156
Looks like the log is coming from https://github.com/golang/go/blob/d77f4c0c5c966c37960cd691656fba184ae770ff/src/net/http/server.go#L3017. We're not defining `ErrorLog *log.Logger` on the Server, so it uses std logger, which is not JSON-formatted.

Also, since this is a health check port, we should double-check that we're properly closing the req/resp objects.

[2021-07-22 07:33] jpkrohling commented on #3156
I just tried hitting the admin port with `ab`, and couldn't reproduce the problem with 10 concurrent clients and 1 million requests:

[code]

Once `ab` finishes, the state seems sane to me:

[code]

I could really use more information on how to reproduce this.

[2021-07-22 07:54] pbdger commented on #3156
I did the same and I can confirm; the root cause seems to be in one of our clients. As mentioned a connection were not closed correctly.

Then why does the health check port appear so often in the list of Connections ?

The display is correct, but the interpretation is probably a bit more complicated; all HTTP requests end up in a loop and can only be processed when a connection becomes free. Sinc

[2021-07-22 08:55] techdeba901 opened #3158 "Span object is null when passing RequestEntity<?> as a request parameter"
I am using **Webflux** and **Netty** in my spring boot app. RequestEntity<String> is the request parameter in my controller class. I am getting 500 'internal server error' for RequestEntity as a parameter. But this service is giving response status 200  for other inputs.

Controller class
-----------------

[code]

### Expected behavior
Http Status: 200(Ok)

### Actual behavior

Http Status: 500(I

[2021-07-22 09:26] EinKrebs commented on #1438
Could you please tell me, how did you use jaeger-tracegen for this, 'cause I can't figure out how to push generated spans neither to Jaeger nor to Clickhouse.

[2021-07-22 11:19] pbdger commented on #3156
What were wrong;

We work on collectorClient and forgot to close the connection...
[code]
Just add:
[code]

[2021-07-22 13:06] JWebDev commented on #2943
Hi @jpkrohling @rubenvp8510 - any updates from this story?
Thanks.

[2021-07-22 13:28] yurishkuro commented on #3158
This is not an issue of jaeger backend. You did not specify which instrumentation you're using - if none then it explains your null active span as nothing activates it.

[2021-07-22 13:28] #3158 closed

[2021-07-22 14:22] techdeba901 commented on #3158
What are the instructions you are asking. Jaeger is working properly for undertow but not working with netty web server

[2021-07-22 14:25] jpkrohling commented on #3158
This report likely belongs in another repository: https://github.com/opentracing-contrib/java-spring-web

[2021-07-22 14:29] jpkrohling commented on #1438
Are you having troubles running tracegen itself? It should send data via UDP to a local agent, which would be connected to a remote collector (unless using a local all-in-one).

https://www.jaegertracing.io/docs/1.24/tools/#tracegen

[2021-07-22 15:33] rodoufu commented on #2172
It may be related to https://github.com/grpc/grpc-go/issues/875

[2021-07-22 19:11] yeya24 opened #3161 "Collector badger storage panic"
**Describe the bug**
Our jaeger collector got OOMed and later fails to start with badger keeps crash looping and it seems that badger fails to initialize.

**Expected behavior**
Badger can initialize successfully.

**Screenshots**
[code]

**Version (please complete the following information):**
 - OS: Debian 9
 - Jaeger version: 1.24 jaeger all in one
 - Deployment: Kubernetes

**What troubleshoot

[2021-07-23 05:27] SAY-droid427 commented on #2399
@jpkrohling I have learnt the basics of Golang and I would like to take up this issue to further understand and learn Go and contribute to this community. Could you please guide me a bit on where should I start with this issue? Thanks!

[2021-07-23 11:57] EinKrebs commented on #1438
I made it now, thank you!

[2021-07-23 12:30] Ashmita152 commented on #3161
Hi @yeya24

Thank you for reporting the issue.

I came across a similar thread in dgraph's forum: https://discuss.dgraph.io/t/unexpected-fault-address-error-on-one-of-the-pods/13670

As raised in that thread, may I ask if you can check the available disk space in the partition where badger is storing the data. Looking at the code https://github.com/dgraph-io/badger/blob/v3.2103.0/memtable.go#L628

[2021-07-23 13:07] levonet commented on #1438
@pavolloffay Here is an example of tables with buffers.
https://github.com/levonet/docker-jaeger/tree/master/examples/cluster/sql
There is an example of the deployment of a Clickhouse cluster and Jaeger deployment.
This scheme can withstand ~100K spans per sec. But we have about 20 agents with 2 collectors in one environment.

[2021-07-26 12:28] jpkrohling commented on #2399
@SAY-droid427 The first step is to follow the contribution guidelines and get a local build of Jaeger running:
https://github.com/jaegertracing/jaeger/blob/master/CONTRIBUTING.md
https://github.com/jaegertracing/jaeger/blob/master/CONTRIBUTING_GUIDELINES.md

Once you have it there, try to write a test that reproduced the error that's been described here. After that, it should be easy to apply the

[2021-07-26 23:45] teoyaomiqui commented on #1833
@jpkrohling I have the same setup as @winshenting have pointed out. What would be the best way to address this? Have separate indexes-prefixes with multiple Jaeger-UIs running. Or is it possible to write everything into a single index and somehow aggregate trace by the cluster (service names are the same in different clusters)? Also, would this address cross cluster traces?

[2021-07-27 09:13] davidbartos opened #3165 "Sampling configuration strategies doesn't seem to work"
**Describe the bug**
Just like in the https://github.com/jaegertracing/jaeger/issues/2197 issue, configuring the sampling strategy based on this https://www.jaegertracing.io/docs/1.24/sampling/ doesn't seem to work. I did everything as it was mentioned, it seems that the collector even reads the sampling.json file, but it is neglected. I tried to filter out a whole service by choosing probabilisti

[2021-07-28 17:09] aravindvs commented on #1122
Any updates on this? Query federation will be super useful to avoid cross-region traffic.

[2021-07-28 17:31] mjoshi-sanuk commented on #465
@sohan Would you mind sharing what configuration you did to point ` jaeger-collector `+` jaeger-query` to the proxy?

With the below configuration where in service ecr-web is running in the same namespace as ` jaeger-collector `+` jaeger-query`, I get the fatal error of no Elasticsearch node found.

[code]

`{"level":"fatal","ts":1627493203.280974,"caller":"command-line-arguments/main.go:75","msg"

[2021-07-28 19:59] mjoshi89 commented on #465
In case someone is stuck on the same issue as above, I was able to solve the above by adding `http://es-proxy:9200` instead of just `es-proxy:9200`.

I am now going to look into some alternative methods as well, maybe something like [data-prepper](https://aws.amazon.com/blogs/big-data/getting-started-with-trace-analytics-in-amazon-elasticsearch-service/) and then compare what works best.

[2021-07-29 07:01] Kampe commented on #2956
does the operator not have a flag to expose metrics over admin ports at the service level???

[2021-07-29 08:01] jpkrohling commented on #2956
Not via the regular service. I think we have a feature request to create a monitoring service, exposing only this port.

[2021-07-30 22:44] juanvasquezreyes commented on #1989
did you figured it out?

[2021-07-30 22:45] juanvasquezreyes commented on #1989
I'm facing the same problem I created an eventhub in azure and I'm trying to use it for jaeger, is it supported now?

[2021-08-02 08:23] qiansheng91 opened #3172 "Support Alibaba Cloud Log Service as storage backend"
I'm interested in supporting [Alibaba Cloud Log Service](https://www.alibabacloud.com/help/doc-detail/48869.htm) (SLS) as a storage backend.

And As I know, Trace is the specific collection of logs with calling relationships by using trace ID and span ID, and The SLS is a log storage service. It provides high-performance write and queries, and SLS as a storage backend of jaeger will be great.

Cou

[2021-08-02 08:50] kyrieSun-wow opened #3173 "jaeger-agent is always pending when the native pod has pod-AntiAffinity set and there is only one worker node"
jaeger-agent is always pending when the native pod has pod-AntiAffinity set and there is only one worker node

**To Reproduce**
Steps to reproduce the behavior:
env:
K8S cluster with only one worker node;
One app pod with both pod-AntiAffinity and annotations of ' sidecar.jaegertracing.io/inject: "true"'
    1. kubectl apply -f app.yaml
  2.pod of app enters "Running" state,but the new pod contain

[2021-08-02 12:48] jpkrohling commented on #3173
Unfortunately, this is due to how we inject sidecars in this version of the Jaeger Operator. I cannot think of a good solution to this other than manually killing the pod that is in running state.

[2021-08-02 12:49] jpkrohling commented on #3173
In time, this will be fixed by v2, once the sidecar injection happens via admission webhooks.

[2021-08-02 21:26] teoyaomiqui opened #3176 "Jaeger collector fails to parse elastic search URL"
**Describe the bug**
I am using jaeger-collector installed via jaeger helm char, the elasticsearch is preinstalled using AWS. I've used jaeger chart with a single component enabled - collector. I've tried passing elasticsearch env variables `ES_SERVER_URLS` but it appears to be ignored, I resorted to using command line flags `es.server-urls`. server-urls appear to be picked up by the collector ser

[2021-08-03 05:41] kyrieSun-wow commented on #3173
Okay, thanks, so when is the release of v2 version?

[2021-08-03 07:07] qiansheng91 commented on #3172
I created the repo to implement [this plugin](https://github.com/qiansheng91/jaeger-sls)

[2021-08-03 08:45] jpkrohling commented on #3173
No ETA at the moment, we depend on many things, like OpenTelemetry Collector reaching v1 and Jaeger itself reaching v2. I hope to have an Operator v2 close to the time we release Jaeger v2, though.

[2021-08-04 11:03] #3107 closed

[2021-08-04 11:38] pavolloffay opened #3179 "Migrate away from curator"
Library `elasticsearch-python` that is used by curator added a check to verify that ES is elastic.co product https://github.com/elastic/elasticsearch-py/releases/tag/v7.14.0.

So now our index cleaner and rollover scritps fail to run with old ES (5.x and even old -oss versions). Here is failed build https://github.com/jaegertracing/jaeger/pull/3178/checks?check_run_id=3240658056#step:6:835

I prop

[2021-08-04 13:26] pavolloffay commented on #3044
Let's move politics to a side. I have tried running OpenSearch with Jaeger, here is the simples setup that works:

[code]

All seems to be working well so far.

One small issue is that the Elasticsearch version (`--es.version=7`) usually does not have to be provided. It is normally derived from the root ES endpoint. Jaeger uses it to use a proper set of index mappings. The OpenSearch version is ho

[2021-08-04 14:44] jpkrohling commented on #3179
Yes, please!

[2021-08-04 17:07] yurishkuro commented on #3044
@pavolloffay maybe we could clone just the ES Factory, rename the options, and take care of the inconsistencies like `--es.version=7`?

Eventually we might need to clone the actual backend code as well. Didn't you create a different backend implementation as part of otel work, something that was using a different driver?

[2021-08-04 17:34] pavolloffay commented on #3044
I did, we had a brand new ES storage implementation using https://github.com/elastic/go-elasticsearch, which I would not use anymore.

[2021-08-05 15:38] #3152 closed

[2021-08-05 16:46] jkowall commented on #3044
There will be an open-source fork of the go client coming soon: https://aws.amazon.com/blogs/opensource/keeping-clients-of-opensearch-and-elasticsearch-compatible-with-open-source/

[2021-08-06 05:23] yurishkuro opened #3188 "Debug docker images fail to build: inconsistent vendoring in /go/src/github.com/go-delve/delve"
E.g. #3187 is failing with this error:
[code]

[2021-08-06 05:40] yurishkuro commented on #3188
Likely cause: delve is using go.mod, but our Docker image uses go-1.15-alpine which still defaults to GOPATH mode.

[2021-08-06 05:52] #3188 closed

[2021-08-06 13:36] NatMarchand opened #3191 "Unable to find traces with Elasticsearch deployed behind Google Cloud load balancer"
**Describe the bug**
When using a Google Cloud HTTP load balancer in front of our Elastic Search cluster, Jaeger Query component is unable to search for traces.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy an elasticsearch cluster in Google Cloud
2. Deploy a load balancer in front of the cluster with an HTTPS route
3. Configure jaeger-query to use the elasticsearch cluster
4. Searc

[2021-08-06 16:08] pavolloffay commented on #3191
@NatMarchand would you like to submit a fix for this?

Jaeger uses this ES client https://github.com/olivere/elastic

[2021-08-06 16:25] NatMarchand commented on #3191
Yeah ! Currently working on a PR, just having trouble to setup my go environment on Windows :)
There's a SendGetBodyAs on the es client, I was thinking adding a cli flag such as --es.send-get-body-as="POST"

[2021-08-06 17:06] NatMarchand commented on #3191
PR is opened, don't hesitate to comment even if it's still a draft

[2021-08-08 22:05] #3191 closed

[2021-08-09 19:28] leRobbe commented on #3084
I'm also facing this issue..it seems to have to do with parent spans being finished or w/e before execution of follow-up methods the spans get passed to for .childOf reference.

I'm facing this issue at two different parts in my code, one of which where I don't know why its running into this problem since this exact code snippet (span creation) works at a different place just fine, but with where

[2021-08-11 13:08] #1438 closed

[2021-08-11 13:09] pavolloffay commented on #1438
Also note that the last version of Jaeger operator supports storage grpc-plugin.

[2021-08-11 16:18] dioptre commented on #3044
Is everyone in this thread aware of elassandra? https://github.com/strapdata/elassandra just wondered how the performance compares to opensearch with the provider approach?

[2021-08-12 09:18] pbdger opened #3202 "Duplicate tag keys due to agent level tags"
**Describe the bug**
By using the --agent.tags parameter, duplicate key entries can be created by the agent.

**To Reproduce**
Steps to reproduce the behavior:
1.  Set agent parameter --agent.tags=agent=setViaAgentCli
2.  Start the Agent
3.  Create a tracer in Your code with tag agent=setInTracerCreation

**Expected behavior**
tags are defined as key:value pairs (https://opentracing.io/docs/overvi

[2021-08-12 09:24] pbdger opened #3203 "Duplicate tag keys due to collector level tags"
**Describe the bug**
By using the --collctor.tags parameter, duplicate key entries can be created by the agent.

**To Reproduce**
Steps to reproduce the behavior:

*Set tags parameter --collector.tags=collector=setViaAgentCli
*Start the Agent
*Create a tracer in Your code with tag collector=setInTracerCreation

**Expected behavior**
tags are defined as key:value pairs (https://opentracing.io/docs/

[2021-08-13 10:40] AntPeixe commented on #1779
Quite a bump... but has there been progress on this? Is there a plan to add the detailed trace overview?

I'm currently using the all-in-one installation for test/dev and would appreciate this.

[2021-08-14 21:24] akuzni2 commented on #2996
/assign
I'd like to take this up :)

[2021-08-14 21:33] albertteoh commented on #2996
Go for it @akuzni2 :)

[2021-08-15 04:59] qiansheng91 commented on #3172
Hi All

The Plugin has been released.  Here is [the gif of the demo](https://github.com/qiansheng91/jaeger-sls#quick-start).

[2021-08-15 16:31] akuzni2 commented on #2996
Have a bit of a question on this - should we be checking if the actual client function `*Request` instances coming into the client are `nil` or just if any of the exported struct fields might be `nil` / default struct?

Example:
FindTraces client function requires a `r *api_v2.FindTracesRequest` argument where `FindTracesRequest` has a `Query                *TraceQueryParameters` struct field. Sho

[2021-08-15 18:17] yurishkuro commented on #2996
yes

[2021-08-16 02:19] qiansheng91 commented on #638
@jpkrohling  The Alibaba cloud log service has supported the jaeger, and here are the gifs of the plugin.  Link: https://github.com/qiansheng91/jaeger-sls#quick-start

[2021-08-16 02:20] qiansheng91 commented on #3172
Ref: #638

[2021-08-16 05:39] meilihao commented on #2976
I got the same error after jaeger 1.22 -> 1.25, and the bad request is `curl http://openhello.net:16686/api/services`.

It works after clean old data by `curl -X DELETE 'http://localhost:9200/_all'`.

[2021-08-16 08:14] pavolloffay commented on #2976
@meilihao are these two Jaeger versions using the same ES cluster?

[2021-08-16 09:48] meilihao commented on #2976
@pavolloffay I'm not sure. i used ES by docker with jaeger 1.22 before, today I removed docker and use ES by apt with jaeger 1.25. I don't remember that `/var/lib/elasticsearch` was mounted in docker.

[2021-08-16 10:39] Ashmita152 opened #3209 "Refactor CI jobs to use goreleaser"
Our current CI is too complicated to understand.

## Requirement - what kind of business use case are you trying to solve?
I am creating this issue to start discussion around CI jobs refactoring. From my perspective, I can see following problems in our current CI implementation:

1) We do most of the stuffs ourselves in shell scripts which build tools like [goreleaser](https://github.com/gorelease

[2021-08-16 13:47] js8080 opened #3210 "gRPC Collector Does Not Support Configurable Max Message Size"
**Describe the bug**
The Jaeger gRPC Collector Service has a default max receive message size of 4mb and does not support overriding this max size even though gRPC allows for it.

Source from `cmd/collector/app/server/server.go`:
[code]

Where `defaultServerMaxReceiveMessageSize` is defined as:
[code]

There is a method available to set the max receive message size also but it is not called and ha

[2021-08-16 14:56] yurishkuro commented on #3209
I don't have a strong opinion about goreleaser. What makes it better? From the description it seems a sizeable portion of it is dealing with pushing GH release & homebrew.

I am not sure what splitting the Makefile gives us. The amount of content per binary is actually minimal in it. I would rather deal with a single 600-lines Makefile (which isn't that large) than hunt around for the same informa

[2021-08-16 15:57] Ashmita152 commented on #3209
The trigger point for opening this issue is https://github.com/jaegertracing/jaeger/pull/3204 It clearly shows our CI is quite rigid. It works perfectly well on daily basis PRs but when someone need to change something in those shell scripts, it requires quite an effort and requires complete knowledge since we have too much coupling among those scripts.  Amount of conversation in https://github.co

[2021-08-16 16:45] yurishkuro commented on #3209
To me, converting from Shell scripts to YAML would be a huge step back. Everyone knows how to read and write Shell, and how to debug it. YAML is always a bespoke DSL that people need to learn from scratch, and it is usually much harder to debug.

This is just as easily achieved by reusing shell scripts or shell functions. In the example you linked, I do not see that it is substantially more concis

[2021-08-16 17:32] js8080 commented on #3210
@yurishkuro I tested a change to this with a local Jaeger build. Would you be interested in me contributing this change?

[2021-08-16 18:08] yurishkuro commented on #3210
please do

[2021-08-17 11:06] pavolloffay commented on #3209
The biggest issue from my point of view is that I cannot run the full build locally. For instance to build docker images a local docker registry is needed. I tried running the registry locally and I got into configuration issues with TLS between registry and  docker push.

For productive development, I would like to be able to run all commands locally e.g. build binaries, docker images and run int

[2021-08-17 19:12] #3210 closed

[2021-08-18 01:22] bogdandrutu opened #3217 "Extract github.com/jaegertracing/jaeger/model as a separate module"
In opentelemetry-collector we need this dependency because we need to accept data in Jaeger proto and convert them to/from collector pdata model.

Would be amazing to reduce dependencies on our side and depend only on the jaeger/model module.

[2021-08-18 02:07] yurishkuro commented on #3217
@bogdandrutu aside from some convenience functions, `/model` is just auto-generated classes from proto. I don' think that warrants a cross-dependency, why not just re-generate them in the collector?

[2021-08-18 07:00] pavolloffay commented on #3209
Our CI definitions look fairly simple, however if we can further simplify building of binaries and images I am all for it (e.g. via goreleaser). At the same time I would like to be able to build and run everything locally without decrypting CI configs.

[2021-08-19 19:26] bogdandrutu commented on #3217
Because you have manually written classes for example `TraceId`.

[2021-08-19 19:28] yurishkuro commented on #3217
We do, but the otel-collector does not need the functionality in those classes. In fact, those classes tie the implementation to a particular version of proto & gogo and are not compatible with the latest proto.

[2021-08-20 10:05] EinKrebs opened #3221 "Add configuration file option to grpc plugin configuration tests."
## Requirement - what kind of business use case are you trying to solve?

I want to run integration tests on grpc plugin.

## Problem - what in Jaeger blocks you from solving the requirement?

The plugin needs config file to be passed.

[2021-08-20 19:58] vprithvi opened #3222 "Simplify adaptive sampling code"
The adaptive sampling code uses a convoluted mechanism to determine whether the adaptive sampling probability is being respected.

To determine whether adaptive sampling is used, the code first aggregates a set of 10 arbitrary probabilities, and then later checks whether any of these 10 are equal to the probability generated by the adaptive sampling processor.

The only place this seems to be used

[2021-08-23 08:33] ndrscodes commented on #2816
Could we reopen this? We are currently having this issue using jaeger 1.24.0. Traces can be searched using the jaeger search, but, using the Trace ID lookup, they only show the 404 error page.
Curiously though, the URL for the error page and the successful trace lookup page is the same: https://cool-tracing-url.local/trace/1492ecb6434b553e, With one showing all spans and the other showing an API 4

[2021-08-23 08:52] jpkrohling commented on #2816
@ndrscodes, could you please try the `latest` image (recent as of 8 minutes ago), or perhaps 1.25? I think @pavolloffay fixed an issue that might influence this one.

[2021-08-23 09:02] ndrscodes commented on #2816
@jpkrohling i'll update our system today. I'll check if it's fixed ASAP! Thanks :)

[2021-08-24 06:38] ndrscodes commented on #2816
@jpkrohling i should mention that we are currently (as stupid as it may sound) running jaeger all-in-one as a simple process on a server, so i can't check the latest image. I did update our staging system to jaeger 1.25.0 though. Sadly, the problem still persists.
I've found a way to fix the search (at least in one browser tab): If i use the "manual" search (not searching by trace id) by selecting

[2021-08-24 07:42] ndrscodes opened #3227 "Existing traces can't be searched from the trace id lookup UI"
**Describe the bug**
Trace id's older than a few days cannot be searched through the trace lookup UI (the search bar at the top), when searching for an older trace, the API 404 page is shown.
There is a (relatively simple and very curious) fix for this: The trace lookup becomes available again as soon as traces for the service in question are serached within the expected time frame of the trace.
F

[2021-08-24 08:59] ndrscodes commented on #3227
I had a look at the ES SpanReader source code and found out about the ES_MAX_SPAN_AGE env variable and i'm feeling pretty stupid now because i should have found out about it much earlier. I've still got some testing to do, but i am pretty sure it fixed the issues we were having.

[2021-08-24 08:59] #3227 closed

[2021-08-24 09:00] ndrscodes commented on #2816
@jpkrohling it was a config error on my end, i closed the issue. Sorry for causing you trouble. :)

[2021-08-24 09:35] maksim-paskal opened #3228 "es-index-cleaner:latest is not working as expected"
We use jaeger installed in kubernetes cluster with elasticsearch backend with [rollover](https://www.jaegertracing.io/docs/1.25/deployment/#elasticsearch-rollover) and now - old indexes not removed. Helm chart use [jaegertracing/jaeger-es-index-cleaner:latest](https://github.com/jaegertracing/helm-charts/blob/jaeger-0.46.5/charts/jaeger/values.yaml#L531) image for removing old indexes - and this n

[2021-08-24 11:21] jpkrohling commented on #3227
@ndrscodes, sorry that it took you that much to figure it out, and I blame it on us rather than on you. What do you think could have saved you time on this issue? Perhaps a mention about this elsewhere in the docs? A mention about it in the 404 page?

[2021-08-24 11:29] ndrscodes commented on #3227
@jpkrohling it might be a good idea to further test the behaviour of the ES_MAX_SPAN_AGE setting. The problem was that i was able to search the trace after it had been found through the manual search first, which to me indicates that there is some issue leading to this inconsistent behaviour. Traces should never be searchable if they are older than the specified ES_MAX_SPAN_AGE, even if it was fou

[2021-08-24 11:52] jpkrohling opened #3229 "Replace esc with "embed" for packaging UI assets"
To complete the issue #2749, there's one PR that needs some attention: #2850. At its current state, it adds the contents of the Jaeger UI build to a Go asset in an uncompressed format. This causes an increase of approximately 10MB to the binary size of the Query/all-in-one.

Ideally, we'd find a way to store the contents of the UI in a compressed format in the binary and serve the compressed asset

[2021-08-24 11:54] jpkrohling commented on #3227
Perhaps @albertteoh or @pavolloffay are able to give some more information about this.

[2021-08-24 12:02] jpkrohling commented on #3228
@maksim-paskal, do you mind providing logs and more information on what is not working?

cc @pavolloffay

[2021-08-24 12:26] maksim-paskal commented on #3228
Sure. As I mension before - we use jaeger installation in kubernetes wieh elasticsearch backend and rollover - we install jaeger with [helm chart](https://github.com/jaegertracing/helm-charts) with enabled esIndexCleaner to clear old indexes in our elasticsearch backend to reduce disk usage
[code]
It create CronJob with this specification
[code]
It's successfuly works until today - we notice that

[2021-08-24 13:10] ndrscodes commented on #3227
@jpkrohling we just noticed that when setting the value too high, the jaeger api returns the following error which originates from the underlying elasticstack: `HTTP Error: search services failed: elastic: Error 400 (Bad Request): An HTTP line is larger than 4096 bytes. [type=too_long_frame_exception]`
Any idea what might cause this?

[2021-08-25 02:58] akuzni2 commented on #2996
I did create a PR for this issue - had a few questions that I left on the PR submissions. Thanks!

[2021-08-28 13:44] slon opened #3235 "Enable gzip compression in collector GRPC endpoint"
## Requirement - what kind of business use case are you trying to solve?

I would like to optimize network traffic used by collector. Right now out internal deployment receives about 50mb/s of data.

We use internal C++ client implementation and grpc transport protocol. After enabling grpc compression in client config I received `grpc: Decompressor is not installed for grpc-encoding "gzip"` error

[2021-08-29 02:18] albertteoh commented on #3227
@ndrscodes for posterity, was this issue resolved because you had [fixed something in your config](https://github.com/jaegertracing/jaeger/issues/2816#issuecomment-904459194)? Was it resolved by enabling ES Rollover or reducing the max span age as you had suggested in https://github.com/jaegertracing/jaeger-ui/issues/486#issuecomment-906155658?

Is there still something that could be done to reduc

[2021-08-29 06:56] ndrscodes commented on #3227
@albertteoh i posted the original issue because of the inconsistent behavior. The trace search will find a trace if the timespan it was produced in was first searched using the manual search. This led me to believe there was some kind of bug.
I can understand the decision that the trace search should work this way, but i think the trace search should never be able to find a trace if the trace was

[2021-08-29 17:11] #3080 closed

[2021-08-30 12:03] wangpu666 commented on #1438
The code I copied is also set SPAN_STORAGE_TYPE=clickhouse , but it still reports an error.

Use "jaeger-ingester [command] --help" for more information about a command.
unknown flag: --clickhouse.datasource

[2021-08-30 12:04] EinKrebs commented on #1438
Can you tell exactly which code?

[2021-08-31 11:53] holycheater opened #3239 "pkg/codec breaks older protobuf-generated code in grpc plugin"
**Describe the bug**
pkg/gogocodec breaks using older protobuf (generated with versions from `github.com/golang/protobuf`) in grpc plugins.

https://github.com/jaegertracing/jaeger/blob/master/pkg/gogocodec/codec.go#L23
It uses `google.golang.org/protobuf` marshal/unmarshal where standard grpc codec (https://github.com/grpc/grpc-go/blob/v1.39.0/encoding/proto/proto.go) uses `github.com/golang/prot

[2021-09-02 08:09] zziawan opened #3243 "jaeger 1.14 search return duplicate trace"
**Describe the bug**
trace search return duplicate  traces. use the default istio tracing pod and agent.

![image](https://user-images.githubusercontent.com/5172896/131807003-041d7775-52ae-4cf0-9ddf-b0c86fd85d69.png)

[2021-09-02 10:02] zziawan opened #3244 "search with max mix duration only return a very few traces"
jeager 1.14 all-in-one. when search traces without max min duration, a lot of traces found, but with min max duration(eg 1m-1000ms), only find very few（about 6） traces, although a lot of traces  duration in this duration but still be  filtered. do someone konwn why? thanks！

[2021-09-02 11:28] albertteoh commented on #3244
@zziawan the max/min duration filter is applied on a **span** level, not a trace level. This issue came up in the past as well with us, and I think we could improve the usability, perhaps improving the label text.

[2021-09-02 11:31] albertteoh commented on #3243
Curious, if you expand each of the duplicate traces, are the spans duplicated as well?

[2021-09-02 16:15] wangpu666 opened #3245 "jaeger 1.25 Unexpected end of JSON input"
**Describe the bug**
jaeger 1.25 Unexpected end of JSON input

**To Reproduce**
Steps to reproduce the behavior:
 go run main.go --query.static-files=/Users/xxx/GolandProjects/jaeger/jaeger-ui/packages/jaeger-ui/build/
1. http://127.0.0.1:16686/trace/af899a3500540bb781a68b98b36ec2e2

**Screenshots**
![image](https://user-images.githubusercontent.com/50776767/131879536-709c1859-c74c-4713-b9fd-3b38f

[2021-09-02 16:27] wangpu666 commented on #3245
https://github.com/bobrik/jaeger/tree/ivan/clickhouse/plugin/storage/clickhouse

[2021-09-03 01:24] zziawan commented on #3244
@albertteoh  thanks for you reply！ but i found many  filtered traces only has one span  and the duration also in the search min max duration.  and the search result is the same every time! the search limit also no effiect no matter how bigger it is,  fixed num traces returned everytime.  thanks！

[2021-09-03 03:46] albertteoh commented on #3244
hmmm... did you try increasing the lookback time period? Perhaps those traces are quite old and I think the default lookback is an hour.

[2021-09-03 08:52] zziawan commented on #3244
@albertteoh  mybe it's a bug of v1.14. the same db and query, v1.17 no such problem. but i can not run v1.14 on my machine, so i can not found why。

[2021-09-03 19:33] yurishkuro commented on #3239
`github.com/golang/protobuf/proto` is deprecated, we're not going back to it. What do you mean by "pkg/gogocodec breaks using older protobuf"? It doesn't break in our repo, so where does it break?

[2021-09-06 09:15] holycheater commented on #3239
It breaks in grpc storage plugin when you use any grpc client with protobuf generated through older protoc-gen-go. Because it globally overrides default grpc codec behavior as soon as jaeger plugin sdk is imported

Basically, using any grpc client/server with older protobuf will break things on the plugin side

[2021-09-06 13:53] holycheater commented on #3239
@yurishkuro I can make a PR that drops overriding default grpc proto codec with grpc `ForceCodec` for server/clients for agent/collector and plugin client/server if you're ok with that

[2021-09-06 14:44] yurishkuro commented on #3239
Why not recompile plug-ins with new proto?

[2021-09-06 18:25] yurishkuro opened #3247 "Should `opensearch` be a recognized backend type?"
In #3198 we added ability to auto-detect OpenSearch storage. Would it make sense to add `opensearch` as a valid backend choice for `SPAN_STORAGE_TYPE`?

cc @pavolloffay @jkowall @albertteoh @Ashmita152

[2021-09-06 23:21] #3235 closed

[2021-09-07 06:55] wangpu666 opened #3248 "What is the impact on business performance under the full sampling scenario? Has anyone tested this?"
What is the impact on business performance under the full sampling scenario? Has anyone tested this?

[2021-09-07 06:58] yeya24 commented on #3161
Thanks @Ashmita152. After increasing the pvc size, panic disappears.

[2021-09-07 06:58] #3161 closed

[2021-09-07 08:26] holycheater commented on #3239
This proto is not part of the plugin, it's from another SDK, it will be updated there eventually, but I don't know when.
Making Jaeger not changing grpc behavior globally seemed like an easier choice

[2021-09-07 11:57] AhHa45 commented on #2143
any news?

[2021-09-07 13:40] jkowall commented on #3248
I think you mean no sampling, versus full sampling (which would mean there is no data collected). Sampling doesn't change the overhead on the application unless you are using remote sampling, which isn't supported yet in OpenTelemetry. There are a lot of variables in terms of overhead for tracing but the biggest is going to be how your instrument and the architecture of the application. Most often

[2021-09-08 15:44] #3120 closed

[2021-09-08 16:33] #365 closed

[2021-09-09 08:24] pavolloffay commented on #3247
I don't see much value by adding `opensearch` as a valid storage option right now. It will make more sense once opensearch implementation diverges.

That said I don't have a strong opinion to add it right now and use the same implementation for both elasticsearch and opensearch.

[2021-09-09 08:25] pavolloffay commented on #3245
Could you please the trace data that are submitted to Jaeger?

[2021-09-09 08:27] pavolloffay commented on #3244
@zziawan what storage backed are you using? ES/Cassandra or badger?

We are not planning to backport fixes to 1.14.0. Please close this issue if you cannot reproduce with newer version.

[2021-09-09 08:30] pavolloffay commented on #3243
What is the storage backend used? Do you see this behaviour with newer Jaeger versions?

[2021-09-09 09:08] pavolloffay commented on #3228
@maksim-paskal thanks for reporting this.

Based on the provided configuration it seems that you want to run the index cleaner every hour https://crontab.guru/#0_*_*_*_* and keep the data for one day?

[2021-09-09 09:17] pavolloffay commented on #3221
@EinKrebs would you like to submit a PR and show how this can be used with the clickhouse plugin?

[2021-09-09 09:18] pavolloffay commented on #3221
There is already an exmaple of how to use the storage integration test with gprc-plugin https://github.com/jaegertracing/jaeger/blob/f23484b9f2431b73cc0e12c8da911560ab9ec11d/plugin/storage/integration/grpc_test.go#L33

[2021-09-09 09:18] maksim-paskal commented on #3228
yes. We use only last 24 hours for traces.`jaeger-es-index-cleaner` helps us prune old data every hour.

[2021-09-09 09:21] pavolloffay commented on #3203
The attributes/tags in jaeger are not map - it is a list so duplicate entires are supported by design.

[2021-09-09 09:22] pavolloffay commented on #3202
same as https://github.com/jaegertracing/jaeger/issues/3203

[2021-09-09 09:22] #3202 closed

[2021-09-09 09:24] pavolloffay commented on #3172
I consider this as done- please add docs in https://github.com/jaegertracing/documentation https://github.com/jaegertracing/documentation/blob/master/content/docs/next-release/deployment.md#storage-plugin

[2021-09-09 09:24] #3172 closed

[2021-09-09 09:44] pavolloffay commented on #3228
The golang implementation uses the same env variables. It's configured via cobra/viper like in the other jaeger binaries.

Here are the docker image SHAs it seems that `1`, `1.26` and `1.26.0` have the same SHA so you should be using the golang implementation if you specified `1`.

[code]

[2021-09-09 12:12] maksim-paskal commented on #3228
It seems that image `jaegertracing/jaeger-es-index-cleaner:1` 16 days ago  was `jaegertracing/jaeger-es-index-cleaner@sha256:5e0adb0e8623dd334709943999a6b9d3e283090efcc05a7f90c34804a7e71758` and it was with python implementation - it save us that moment.

I check pod with image `jaeger-es-index-cleaner:1` today - and now this image is in go implemetation
[code]
todays logs of `jaeger-es-index-clea

[2021-09-09 12:55] nata7che commented on #3227
Hi, I'm running the latest (1.26) query docker and encountering the same issue. changing the `--es.max-span-age` doesn't seem to help, and I'm still unable to view the trace visualization. I'm currently not running with a rollup but with manual daily indices. any ideas as to what else I could check/do?

[2021-09-09 14:25] #3221 closed

[2021-09-09 14:30] pavolloffay commented on #3228
The python implementation uses `INDEX_PREFIX` https://github.com/jaegertracing/jaeger/blob/v1.23.0/plugin/storage/es/esRollover.py#L35 and the golang based as well

[code]

The `--index.prefix` is translated to `INDEX_PREFIX`.

It can be a bug in golang implemenation as well. The date comparison is done in our implementation not in ES. I will try to have a look at it.

[2021-09-09 15:42] yurishkuro commented on #3203
@pavolloffay I think it would be a valid feature to have a CLI flag to control what to do with dups added by collector/agent: keep, drop, replace.

[2021-09-09 15:48] yurishkuro commented on #3247
Yes, I meant using the same implementation for now. Having explicit `opensearch` option would server to goals:
  * be a forward-compatible configuration option, since I fairly certain we'll need to do it at some point in the future
  * a bit of a positional statement saying that we prefer to support liberally-licensed storage, not the new ES license

[2021-09-09 16:21] pavolloffay commented on #3203
I don't have any objections for it.

[2021-09-09 18:40] yurishkuro commented on #3247
@pavolloffay  #3255

[2021-09-10 13:32] #3247 closed

[2021-09-10 17:10] sdickhoven commented on #1691
i ended up using opendistro's built-in index state management instead of `jaeger-es-rollover` and `jaeger-es-index-cleaner` and adjusted the permissions accordingly.

i have a write-up about it [here](https://tech.everquote.com/jaeger-persistence-elasticsearch/) in case anyone's interested.

[2021-09-13 12:09] ichasco-heytrade commented on #3228
I have the same error.

With the tag: `1.28.0` it is not working, but with the tag `1.25.0` it works.

Thanks!

[2021-09-13 13:33] pavolloffay commented on #3228
I have submitted https://github.com/jaegertracing/jaeger/pull/3261 to fix this issue. But I am not sure if the PR fixes the issue or not.

I have built docker image with changes in that PR - `pavolloffay/jaeger-es-index-cleaner:PR3261`. @maksim-paskal and @ichasco-heytrade could you please use the image and see whether the problem is fixed?

[2021-09-13 13:56] ichasco-heytrade commented on #3228
Hi, it doesn't work:

[code]

It should delete this index `jaeger-jaeger-dependencies-2021-09-10`

Thanks

[2021-09-13 14:04] pavolloffay commented on #3228
Here are the commands that I used to unsuccessfully tried to reproduce the issue (the indices were deleted):

[code]

[2021-09-13 15:39] pavolloffay commented on #3179
done

[2021-09-13 15:39] #3179 closed

[2021-09-13 15:43] pavolloffay commented on #3228
@ichasco-heytrade

[2021-09-13 15:44] pavolloffay commented on #3228
@ichasco-heytrade did you configure `INDEX_PREFIX=jaeger` env var or `--index-prefix=jaeger`?

[2021-09-13 18:00] ichasco-heytrade commented on #3228
Hi, yes, I am using rollover. I have tested with the env `ROLLOVER=true`  and without it and in both of cases fails.

[code]

I have tested also with the `INDEX_PREFIX` env and with the arg and gives an error.

[2021-09-13 18:07] ichasco-heytrade commented on #3228
For me only works with:
* `jaegertracing/jaeger-es-index-cleaner:1.25.0`
* ` ES_INDEX_PREFIX=jaeger` env

I don't need to set `ROLLVOER` env. It works also without it

[2021-09-13 18:15] pavolloffay commented on #3228
It does not seem like you are using rollover:

The rollover indices do not have a date in the index name.

[2021-09-13 18:19] ichasco-heytrade commented on #3228
[code]
The job is scheduled

[2021-09-14 07:22] pavolloffay commented on #3228
The job might be scheduled but the indices list from the es-cleaner does not show that the deployment was using the rollover  - https://github.com/jaegertracing/jaeger/issues/3228#issuecomment-918452818

[2021-09-14 07:58] lennartmohr opened #3263 "Not able to retrieve traces via grpc on larger time windows when using badger storage and jaeger all-in-one"
**Describe the bug**
We're using the latest jaeger all-in-one version with badger storage for tracing our services. Another app is retrieving the traces via grpc based on a time window e.g. the last hour to show the logs in an UI. This works totally fine if a traces consists of a smaller amount of spans for example 3. But when the amount of spans in a trace is increasing we're getting problems.  T

[2021-09-14 08:06] pavolloffay commented on #3228
@ichasco-heytrade here is my reproducer for https://github.com/jaegertracing/jaeger/issues/3228#issuecomment-918217814 to remove `jaeger-jaeger-dependencies-2021-09-10`. The test passes so it means that the index will be deleted.

https://github.com/jaegertracing/jaeger/pull/3264

To remove the `jaeger-jaeger-dependencies-2021-09-10` try running:

[code]

Do not enable rollover bc the index is not

[2021-09-14 08:54] ichasco-heytrade commented on #3228
Now works!. Thanks!

[2021-09-14 11:52] pavolloffay commented on #3228
thanks for the configuration.

I am closing this.

[2021-09-14 11:52] #3228 closed

[2021-09-15 10:03] nata7che commented on #2591
any news here? references to converters would be great..

[2021-09-15 10:09] nata7che commented on #1464
Would love to get some help as I'm not sure how to best tackle this. Also trying to read exported spans from Kafka using (Kafka-streams) and traceId and spanIds look like the above.

I do want to keep using the original format (i.e. hex digits). Which method should I use to decode it back?

Your help is much appreciated 🙏🏻

[2021-09-15 15:29] wangpu666 opened #3267 "About jaeger-ingester zipkin to es accumulation"
**Describe the bug**
Regarding the accumulation of jaeger-ingester zipkin to es, our data in zipkin is directly transferred to kafka, and part of it is from jaeger-agent to jaeger-collector to jaeger-ingester; however, the accumulation of kafka in ziplin

**To Reproduce**
Steps to reproduce the behavior:
1. ziplin->kafka->jaeger-ingester accumulation
2. agent->collector->ingester no accumulation

[2021-09-15 16:23] mx-psi opened #3268 "Jaeger can't be used as a library with Go 1.16"
**Describe the bug**

After #3220, Jaeger is difficult to use as a library with Go 1.16 because the old `// +build` comments were removed, so `go build` will raise the following error:

[code]

This issue affects all packages that have a direct or indirect dependency on Jaeger. Since Go 1.16 is still supported by the Go team, it would be desirable for Jaeger to fix this.

**To Reproduce**

A quick

[2021-09-15 16:45] #3268 closed

[2021-09-16 03:51] wangpu666 commented on #3245
I found the problem because the head of the returned span list accidentally carried nil, like this [nil,span,span,spam]

[2021-09-16 03:51] #3245 closed

[2021-09-16 13:57] cspwizard opened #3270 "Existing traces can't be opened from the trace id lookup UI (404 error received) - ES backend"
**Describe the bug**
Trace id's cannot be opened through the trace lookup UI (the search bar at the top) the API 404 page is shown.
However I can find open the same trace from search UI.

**To Reproduce**
Steps to reproduce the behavior:
1. set up Jaeger with Elasticsearch and indexes rollover (either via utilities of ILM)  and put some traces
3. search for a trace and open it
4. hit refresh (F5)

[2021-09-17 02:12] RyanSiu1995 commented on #2954
Hi @albertteoh , anything can need the folks to make this released faster?
I can pick some if you have that.

[2021-09-17 02:17] albertteoh commented on #2954
@th3M1ke / @yoave23 how are you guys going with the UI side of the Monitor tab? Are there any well-defined/self-contained tasks that @RyanSiu1995 could help with?

I'll also need to complete the documentation but didn't want to work on that until the UI component is ready to avoid prematurely communicating the completion of this feature.

[2021-09-17 09:16] zziawan commented on #3244
@pavolloffay  we use badger。ok we try other verion.

[2021-09-17 09:16] #3244 closed

[2021-09-17 09:18] zziawan commented on #3243
we use newer jeager instead！thanks！ @pavolloffay @albertteoh

[2021-09-17 09:18] #3243 closed

[2021-09-17 12:43] MarWestermann commented on #3263
We see the same behaviour when using elasticsearch backend. A specific trace is being fetched successfully via grpc for some time and then suddenly disappears from response even the startTimeMin stays the same and only the startTimeMax gets a new value (current time) for each request.

Later setting the startTimeMax back to a value which is nearer to the span time brings the span back in response

[2021-09-20 09:59] th3M1ke commented on #2954
Hi folks! We are about to finish. Covering features with tests.  Hope will open PR by the end of this week

[2021-09-20 12:28] ecourreges-orange opened #3275 "Wrong link on the deprecated repo jaeger-opentelemetry-collector"
**Describe the bug**
@yurishkuro
The repo https://github.com/jaegertracing/jaeger-opentelemetry-collector is in read-only si I can't file a bug over there.
It redirects us to https://github.com/jaegertracing/jaeger/tree/master/cmd/opentelemetry-collector which doesn't exist.
Please fix in README and description to point to https://github.com/jaegertracing/jaeger/tree/master/cmd/collector

Thanks,

[2021-09-20 14:27] yurishkuro commented on #3275
Update. Thanks.

[2021-09-20 14:27] #3275 closed

[2021-09-20 15:06] Ashmita152 commented on #3229
@jpkrohling  @yurishkuro  Are we okay going ahead with a third party library for compression. If yes, do you have one in mind. I noticed you mentioned: https://github.com/vearutop/statigz and mention gzip compression but looking at https://github.com/open-telemetry/opentelemetry-collector/issues/2548 it seems like newer compression algorithms will be more beneficial here. I came across few more li

[2021-09-20 15:16] yurishkuro commented on #3229
@Ashmita152 my preference would be if we could do it without a 3rd library. Note that this is not about compression - gzip comes with std library and is perfectly file performance-wise. The issue is implementing an FS interface on top of compressed static assets. We could probably just copy an implementation from one of the libs you mentioned (provided they have compatible license).

I think it is

[2021-09-20 15:26] gquintana commented on #3085
A good alternative to both `object` and `nested` types is the new `flattened` type which is mostly designed for this kind of use: representing tags and labels.
https://www.elastic.co/guide/en/elasticsearch/reference/current/flattened.html
It's the best of both worlds, as it prevents both dynamic field mapping explosion (like nested/unlike object) and expensive indexing/querying (like object/unlike

[2021-09-20 15:27] Ashmita152 commented on #3229
Thank you Yuri for explaining. I was misinterpreting the problem. That clears my understanding. I will explore it and try writing  an FS interface over klauspost/compress.

[2021-09-20 16:03] lucasponce opened #3276 "panic: proto: duplicate extension registered: descriptor.MethodOptions 72295728"
Jaegertracing and Istio.io dependencies have some problem to work together.

https://github.com/istio/istio/issues/35277

I couldn't find a good workaround to avoid this problem, that can be easily reproduce with this example:

https://github.com/lucasponce/lucas-demos/blob/main/go.mod

So, I'm opening both issues in jaegertracing and istio projects as I think that consumer of both clients, like t

[2021-09-20 16:09] bhiravabhatla commented on #3085
@gquintana  this looks interesting. I ll go through this & see how changing type to flattened impacts memory foot print. I ll try to get screenshots as I did for previous types.

[2021-09-20 16:43] yurishkuro commented on #3276
Sorry, I don't follow what the problem is and what you're trying to do. If you need to access Jaeger data via gRPC/proto, then we publish the proto files in jaeger-idl and you can do whatever you want with them, it does not create any dependency on jaeger/go.mod.

[2021-09-20 16:54] lucasponce commented on #3276
@yurishkuro the api_v2 has dependencies with the jaegertracing/jaeger/model package, so you can't recreate them without cloning the main jaeger project.

https://github.com/kiali/kiali/blob/master/jaeger/client.go#L15

Perhaps if there is a way to perform that queries without those dependencies using grpc (api_v2, I saw changes in api_v3) I'm willing to refactor the Kiali codebase.

[2021-09-20 17:12] yurishkuro commented on #3276
Only if you're importing internal packages of Jaeger backend. We do not mark them `internal/` explicitly, but that is the intention. By importing them you will always run the risk of incompatibilities. Why can't you depend purely on the proto-generated classes (which you should generate yourself)? Proto is the API, not the internal `model/` package.

[2021-09-20 17:17] lucasponce commented on #3276
I think that for the api_v2, the TraceID are still pulling the model package, also to manipulate them:

https://github.com/jaegertracing/jaeger-idl/blob/master/proto/api_v2/query.proto#L54
https://github.com/jaegertracing/jaeger-idl/blob/master/proto/api_v2/model.proto

Kiali only performs a fetch all traces, fetch trace with ID using grpc:

https://github.com/kiali/kiali/blob/master/jaeger/client

[2021-09-21 01:11] RyanSiu1995 commented on #2954
Thank you! Hope that it can come alive soon.

[2021-09-21 07:28] Etienne-Carriere commented on #2518
I didn't reproduced it and now in 1.26 I don't have any issues. I close the ticket.

[2021-09-21 07:28] #2518 closed

[2021-09-21 15:12] lucasponce commented on #3276
@yurishkuro is there any example of similar queries that can be run against Jaeger without the need to pull the model dependency ?

If I'm failing in some aspect of the API I'd like to simplify that logic.

[2021-09-21 15:18] yurishkuro commented on #3276
Well, think about how you would query Jaeger if your system was all in Java. You would not have any code dependency on Jaeger backend, you would only depend on the proto API, and would generate your own classes / gRPC client. So my suggestion is that even if your system happened to be in Go, you don't build dependencies on Jaeger code, only on the proto API.

[2021-09-22 10:43] lucasponce commented on #3276
@yurishkuro I see your point, and that's should be the goal, to only depend of an auto-generated .proto.
But I think the jaeger api_v2 is not yet there, it has some dependencies with the TraceID model and the way those ids are marshalled into grpc.

Not a blocker, with some adjustments in the .proto a user may have a working example with no dependencies with the jaeger code.

https://github.com/lu

[2021-09-22 12:09] oliversalzburg opened #3279 "Support using ISM (instead of ILM) for index state management"
## Requirement - what kind of business use case are you trying to solve?

I'm trying to deploy Jaeger on AWS. The AWS managed ES does not support ILM, instead they offer ISM.

The existing ES rollover mechanism is prone to error during initialization and use, which is why using ILM/ISM should be strongly preferred.

## Problem - what in Jaeger blocks you from solving the requirement?

Currently, u

[2021-09-22 14:26] yurishkuro commented on #3276
What trace-id dependencies are you referring to? Our internal domain model uses a custom type for ids but it does not affect how they are represented in proto - array of bytes. You may need to remove gogo annotations from proto.

[2021-09-22 14:44] lucasponce commented on #3276
That's what I did in the example, but if you look the code, some dependency on the model is necessary:
https://github.com/lucasponce/jaeger-proto-client/blob/main/jaeger-client.go#L35

In short, the proto is not enough to access to the API, and the client needs to recreate - at least - the helpers to manipulate the ids.

[2021-09-22 15:09] yurishkuro commented on #3276
Do you mean this call to `model.TraceIDFromString`?
[code]
I wouldn't consider it as a necessary dependency - all this function is doing is converting hex string to bytes.

[2021-09-22 15:20] lucasponce commented on #3276
Thanks, I'm still working on it. When I have tested the scenario I can add a list of potential helper that would be nice to have them in jaeger-lib.

[2021-09-22 17:07] aneeskA commented on #1415
@yurishkuro I am trying to figure out this exact same problem using opentracing-go package. My strategy is this 1. create a parent span when the message is first read in the chain of consumers. Finish the parent span immediately after. (not exactly what I want, but this is good enough for now) 2. pass this parent span along with the message. 3. when any consumer reads the message, if a parent span

[2021-09-22 17:30] yurishkuro commented on #1415
Spans are not designed to represent work across service boundaries, each span must be started and finished in the same process. What you're doing already is the recommended approach.

I don't have any insights about Elastic APM.

[2021-09-22 17:49] aneeskA commented on #1415
@yurishkuro Thank you for your quick response.  Looks like I am doing everything right; which is confirmed by Jaeger UI. Let me see if the elastic documentation has some helpful pointers.

[2021-09-23 05:13] shashikdm opened #3280 "jaeger-collector with SPAN_STORAGE_TYPE=badger creates a 2GB values file in Windows 10"
**Describe the bug**
This command
[code]
creates a large file in `C:/Users/tmp/badger/ValueDir` in Windows only. This is not seen in Mac
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Run command
[code]
2.  Observe file size in C:/Users/tmp/badger/ValueDir

**Expected behavior**
It should not create a large file but a small `~1 MB` file like in MacOS.

**Screenshots**
Not applicable

[2021-09-23 14:27] aneeskA commented on #1415
For anyone stumbling on this issue, Elastic APM added support for Jaeger tracing from v7.6 onwards. And my setup was using v7.5; thus the issue. Using the latest version of elastic stack on my local setup (using docker), I was able to see the same relationship as shown by Jaeger stack.

[2021-09-23 16:17] esnible commented on #2956
I also tried to follow the mixin docs and failed.  I can give you my detailed notes.  I don't want to attempt a PR yet because I never did get it running.  I did make progress.

`go get github.com/google/go-jsonnet/cmd/jsonnet` gives the warning "installing executables with 'go get' in module mode is deprecated."  I am using Go 1.17; I assume with Go 1.18 it won't work at all.  See https://golang.

[2021-09-23 17:18] jdileonardo commented on #3165
Are your clients configured to respect remote sampling?

[2021-09-24 12:51] aravindvs opened #3281 "Jaeger Kubernetes Operator should allow some components to be skipped for installation"
## Requirement

Flexibility of Jaeger components installation with k8s operator

## Problem

When using Jaeger Kubernetes Operator, there is no option to skip a component from being installed

## Proposal

Have the ability to skip installing a component; For example update the component installation (https://www.jaegertracing.io/docs/1.26/operator/#production-strategy) to have an option like below

[2021-09-24 13:17] aravindvs commented on #3281
Opening this on the operator instead: https://github.com/jaegertracing/jaeger-operator/issues/1558

[2021-09-24 13:17] #3281 closed

[2021-09-28 10:27] stevedunne commented on #2517
I have also seen this issue in the logs - enough times to warrant some investigation!

The problem is the model.Span Duration property is a time.Duration - which is an int64. The dbModel. span is a uint64. So the issue occurs when for some reason the model.Spans duration property is negative (why a duration would be negative is a whole other issue). When the WriteSpan (plugin\storage\es\spanstore\

[2021-09-28 10:36] stevedunne commented on #2517
To be clear - the simple fix mentioned above is a workaround. The proper solution here is to update the ES models duration to either an int64 or a uint32 and update the conversion logic accordingly. I am happy to submit a MR for this if people see value in a fix.

[2021-09-28 14:04] yurishkuro commented on #2517
@stevedunne +1

A unit test would be good to illustrate.

[2021-09-28 15:39] stevedunne commented on #2517
Added a test here to show the issue. The duration in the model span is set to -5000. Following the conversion the value is 18446744073709551611.

@yurishkuro

https://github.com/stevedunne/jaeger/commit/2a82a52e615a509d2a1f66ef391606edf6f22173

[2021-09-28 16:03] yurishkuro commented on #2517
If the issue is always with negative duration, I agree that we should just have a sanitizer in the pipeline (above ES storage) that  resets it to something else and adds a warning or tag to the span.

[2021-09-28 16:04] yurishkuro commented on #2517
This way the issue will be surfaced to the users and they can go & figure out why their instrumentation is sending these values in the first place.

[2021-09-28 16:24] stevedunne commented on #2517
@yurishkuro I agree, the source of the issue is bad data.

Here is a commit with the span pre processor that i included in cmd\collector\app\span_handler_builder.go for anyone else having this issue.

https://github.com/stevedunne/jaeger/commit/017db7bc8ad2d165fa582778078548248769469f

[2021-09-29 08:21] pavolloffay commented on #3270
Could you please increase `es.max-span-age` flag to match the oldest index creation time? The oldest index that is in the read alias.

[2021-09-29 11:02] oliversalzburg commented on #3270
I feel like I'm suffering from the same issue. For a few days now, I've repeatedly looked up trace IDs in our Jaeger and they were not found:
[code]

I was just looking for trace `42e188da40198293` and it wasn't found. Then I checked a search to see which traces were even recorded at all. The trace in question is found:
![image](https://user-images.githubusercontent.com/1658949/135255533-decac1aa-

[2021-09-29 14:47] Jaans opened #3295 "Elasticsearch index *jaeger-service-* data not being sent by jaeger-collector after first report"
**Describe the bug**
Deployment is a Elasticsearch backend with ILM based rollover, populated by `jaeger-collector` that receives GRPC based tracing data from `jaeger-agent`.

The problem appears to be that `jaeger-collector` only ever sends the "service" index data to the backend store once. For "span" index data all are sent to backend.

Using Elasticsearch ILM index rollover (with short time fr

[2021-09-29 18:29] cspwizard commented on #3270
it's already 168h (7days), after 7days the index will be removed by ILM policy. And as I mentioned it is reproducible right after fresh deploy (no pre-existing indexes and so on).

[2021-10-01 02:10] shashikdm commented on #3280
Update, in MacOS, this doesn't happen because I'm able to gracefully shutdown `jaeger-collector` as `ps -ef | grep jaeger-collector | grep -v grep | awk '{print $2}' | xargs kill`. But wondering how I can gracefully shutdown in Windows. `taskkill /IM jaeger-collector-1.25.0.exe` doesn't help

[2021-10-04 08:33] odeke-em opened #3301 "plugin/storage/badger/spanstore: BenchmarkServiceIndexLimitFetch crashes"
**Describe the bug**
A clear and concise description of what the bug is.
I tried to continuously benchmark Jaeger using Orijtech Inc's continuous benchmarking product ["Bencher"](https://bencher.orijtech.com/) per https://dashboard.github.orijtech.com/?repo=orijtech/jaeger but it failed each time
![Screen Shot 2021-10-04 at 1 32 34 AM](https://user-images.githubusercontent.com/4898263/135819139-af

[2021-10-04 19:25] #3270 closed

[2021-10-05 08:55] mohammadjalali commented on #3229
Hi @jpkrohling @yurishkuro. I understand that you want to implement a compression algorithm but I cannot understand what the problem exactly is. If you don't mind please explain a little more to me. I find this project interesting and I like to participate in. Please notify me if I can be a participant.

[2021-10-05 09:14] jpkrohling commented on #3301
Our badger implementation could really make use of some love. Are you interested in contributing a PR to get it better? Continuous benchmarking also sounds interesting :-)

[2021-10-05 18:46] yurishkuro commented on #3229
@mohammadjalali we do not need to implement a compression algorithm, Go already supports gzip. I updated #2850 with the remaining step that needs implementation.

[2021-10-05 19:12] yurishkuro opened #3305 "Storage backends for adaptive sampling"
Since v1.27 adaptive sampling is supported in the backend, but it only works with Cassandra as the backing store. We need to implement it for other types of stores, e.g.
  * memory-only (for all-in-one)
  * Badger
  * Elasticsearch / OpenSearch

[2021-10-07 16:36] shashikdm commented on #3280
Found a way to terminate Windows application gracefully using `SIGBREAK` using windows kill https://github.com/ElyDotDev/windows-kill. So I'm closing this issue as it seems to be an expected behaviour from jaeger in badgerDB mode. Hope this helps other people who faced same issue.

[2021-10-08 11:13] Jaans commented on #3295
@pavolloffay Thank you for your response.
That would certainly explain the behaviour I'm seeing.

I'm not sure of the use case for others, but for us, we have our Elasticsearch configured such that _only_ the `jaeger-span-*` indexes are rolled over (at 5GB intervals which turns out to be about every 3-4 hours).

We have however disabled ILM based rollover of the `jaeger-service-*` indexes because

[2021-10-08 17:52] Git-Jiro commented on #1300
Hi @jpkrohling,
I would like to do that docs update.

One question though:
The link https://github.com/jaegertracing/documentation/blob/master/content/docs/next-release/deployment.md#cassandra points to the doc source. The examples start a docker container and provide some env vars to the container.
Is the assumption correct that the CASSANDRA_SERVERS env variable somehow ends up as the parameter

[2021-10-09 15:04] Git-Jiro commented on #2470
As far as I can see the base for the Jaeger docker images is Alpine Linux. The Alpine Linux image seems to have a root-ca-bundle at /etc/ssl/certs/ca-certificates.crt

[2021-10-10 16:59] Git-Jiro commented on #2679
Hi!
How big of an issue is this flaky test?

I made some changes to the code and tested with:

What I saw so far:
The test case "TestBuilderWithCollectors/with_collector_connection_status_ready" is the only one where a real TCP connection is established. And it usually failed on my machine when the vast amount of test repetition caused some temporary resource issues in the systems TCP stack.

[2021-10-11 08:05] jpkrohling commented on #1300
Every parameter can be specified both as CLI parameter and as env var (except the span storage type one). We list only env vars in the docs page, though.

[2021-10-12 08:29] slon opened #3321 "Backpressure between collector and agent"
## Requirement - what kind of business use case are you trying to solve?

We experience frequent span "drops" in our internal deployment. That drops are caused by automatic resharding inside our database. During resharding, some partitions become unavailable for write for a couple of minutes. While partitions are unavailable, collectors keep accepting spans from the clients and eventually drop the

[2021-10-12 11:21] zziawan opened #3322 "trace data delay by about 10m"
jaeger-all-in-one
 version 1.24
 storage  badger.
 after a service processed some  requests , the service and opertion can be see on the ui, but trace data can not show in the first 10 min .  the data did write to disk, and the file size changed.   why this happen, can some give me a clue ? dose it need some more time to process ? thanks!

[2021-10-13 04:47] Git-Jiro commented on #1300
@jpkrohling anything else that needs to be documented before this issue can be closed?

[2021-10-13 09:11] jpkrohling commented on #2956
Yes, I have this on my queue.

[2021-10-14 20:30] #3301 closed

[2021-10-15 09:46] pavolloffay commented on #3321
My understanding was that Jaeger will start dropping spans if the collector queue is full. I am not sure if we want to implement backpressure and let agent or clients know. There is no caching in the agent/SDK and they do not control the traffic either.

as @albertteoh mentioned the supported architecture to deal with traffic spikes is to put kafka in front of the storage.

[2021-10-17 04:41] lonewolf3739 commented on #3305
I wanted to try out this feature but realised not supported for different backends. I can take a stab at this if nobody is already working on it.

[2021-10-19 10:27] kshcherban opened #3330 "app/span_processor.go:146","msg":"Failed to save span","error":"Key with size 508199 exceeded 65000 limit."
There's a bug in a badger backend that saves **value** into **key**.

Badger has a limitation of 65000 bytes for key size: https://github.com/dgraph-io/badger/blob/3279e18/txn.go#L361

Jaeger for an unknown reason stores value inside key: https://github.com/jaegertracing/jaeger/blob/8c4133bf2d9463404b339eac14a1f442f2f1d541/plugin/storage/badger/spanstore/writer.go#L132

Because of such Jaeger beha

[2021-10-19 12:14] odidev opened #3332 "Include testing of Linux/ARM64 Docker Images"
Hi Team,

I am working with Jaeger on the Linux/ARM64 platform.

We know that Jaeger already supports Linux/ARM64 platform, and releasing the ARM64 binaries and docker images as well.

But I can see that the images `all-in-one` and `hotrod` are also tested for Linux/AMD64, as can be seen below:

- **all-in-one:** https://github.com/jaegertracing/jaeger/blob/master/scripts/build-all-in-one-image.sh

[2021-10-20 09:19] jpkrohling commented on #2956
I submitted a PR to get this fixed. Would anyone be interested in trying it out and giving me feedback?

[2021-10-20 09:53] #3321 closed, assigned to nobody

[2021-10-21 04:55] crombus opened #3334 "Multiple storage backend not accepting jaeger."
here is the log output:
`2021/10/21 04:42:00 maxprocs: Updating GOMAXPROCS=2: determined from CPU quota
WARNING: multiple span storage types have been specified. Only the first type (elasticsearch ) will be used for reading and archiving.

2021/10/21 04:42:00 Cannot initialize storage factory: unknown storage type elasticsearch . Valid types are [cassandra elasticsearch memory kafka badger grpc-pl

[2021-10-21 13:11] yurishkuro commented on #3334
what do you expect to happen with this configuration? ES can be specified only once.

[2021-10-22 03:12] crombus commented on #3334
That means in multiple backend storage only two storage can be specified (ES and cassandra).
What if I two different cluster with ES installed. I want to write data on both.

Is such scenario possible?

[2021-10-25 03:17] #3334 closed, assigned to nobody

[2021-10-26 04:05] th3M1ke opened #3340 "Authorization header does not propagate to `/api/metrics/*` endpoints"
**Describe the bug**
Jaeger query doesn't propagate auth token on the `/api/metrics/*` endpoints.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start jaeger-query with QUERY_BEARER_TOKEN_PROPAGATION=true
2. make a GET request to `/api/metrics/latencies?service=jaeger-query&endTs=1635219714184&...` with an authorization token
3. inspect jaeger-query request headers

**Expected behaviour**

[2021-10-26 13:01] #2986 closed, assigned to nobody

[2021-10-27 11:44] Sniper91 opened #3342 "BoundedQueue.Produce may panic after BoundedQueue.Stop is called"
**Describe the bug**
BoundedQueue.Produce may panic because of sending on closed channel after BoundedQueue.Stop is called.

When q.stopped.Store(1)  is called in method BoundedQueue.Stop,  some producers may run in code below concurrently.

https://github.com/jaegertracing/jaeger/blob/c5642b708be9e2577cc1c494889ae97946ccc78a/pkg/queue/bounded_queue.go#L124-L131

That means BounedQueue.Stop method

[2021-10-28 10:56] rockwool73 opened #3344 "NumberFormatExcepiton 13-ea"
**Describe the bug**
When starting up spring boot application we are getting this error.

"13-ea"
at java.base/java.lang.NumberFormatException.forInputString(NumberFormatException.java:68)
at java.base/java.lang.Integer.parseInt(Integer.java:658)
at java.base/java.lang.Integer.parseInt(Integer.java:776)
at io.jaegertracing.internal.clock.SystemClock.getJavaVersion(SystemClock.java:34)
at io.jaeger

[2021-10-28 11:01] #3344 closed, assigned to nobody

[2021-10-28 19:12] rbroggi opened #3347 "Outdated CONTRIBUTING.md"
**Describe the bug**
After [PR2560](https://github.com/jaegertracing/jaeger/pull/2560) the file `./scripts/cover.sh` no longer exist making the session `### Combining code coverage` outdated. This session should be removed altogether.

[2021-10-28 19:34] rbroggi opened #3349 "Enable test shuffle for more robust test suite"
## Requirement - what kind of business use case are you trying to solve?

Go 1.17 introduced the `-shuffle` flag to avoid deterministic test execution order. The goal of using `-shuffle` is to make sure that the test suite is stable and each test is well isolated from the other.

I suggest we introduce `-shuffle` in the `test` target

[2021-10-28 20:46] #3347 closed, assigned to nobody

[2021-10-28 23:11] Aaronontheweb opened #3351 "`agent.tags` parsing error for Elastic Cloud"
**Describe the bug**
While following the instructions for exporting spans from Jaeger Agents to Elastic Cloud https://github.com/elastic/apm/issues/212, I've not been able to get the recommended `agent.tags` format for the given agent to parse correctly using CLI arguments or the `JAEGER_TAGS` environment variable for the client.

[code]

The agent starts up fine, but I get the following error whe

[2021-10-31 05:34] albertteoh commented on #1221
What do folks think about implementing this as a BadgerDB-backed GRPC storage plugin? I thought since we've got the logic for reading/writing spans to Badger in the Jaeger codebase, it should help reduce the effort involved.

This also unlocks a better local dev experience, not having to start cassandra/ES, which are a little heavy-weight.

[2021-10-31 10:55] hdost opened #3359 "Authenticator Name Option Cassandra"
## Requirement - what kind of business use case are you trying to solve?

Using scylladb and supporting alternative authentication methods.

## Problem - what in Jaeger blocks you from solving the requirement?

In jaeger with certain authentication methods it doesn't work with Scylla DB. I know there's no official support yet but it can get most of the way there with a simple patch.

## Proposal -

[2021-10-31 13:07] yurishkuro commented on #1221
I don't think it would work since badger is still single process even via grpc plugin. What we need is a fully remote storage.

[2021-10-31 13:50] yurishkuro commented on #3359
I think it would be fine, but is a bit difficult to judge as there isn't much detail you provided on the changes. Can you link to a pr or commit from that branch that illustrates the change?

[2021-10-31 14:25] sharninder commented on #832
I'm not sure this is completely correct. Or there is a bug in this code path. I'm setting sampler type to remote and leaving the param yet, the param value is being set to 1 by default even when the remote actually has a param of 0.5. Seems like a bug to me.

[2021-11-01 00:09] guodongli-google opened #3361 "Report a coding bug about unused result"
**Describe the bug**
At https://github.com/jaegertracing/jaeger/blob/514e72bae2abfaa1d96f26abfdc4d1bb22b8c13f/plugin/storage/cassandra/spanstore/writer.go#L242
the result of function `s.logError` is not used while while function [`logError`](https://github.com/jaegertracing/jaeger/blob/514e72bae2abfaa1d96f26abfdc4d1bb22b8c13f/plugin/storage/cassandra/spanstore/writer.go#L279-L285) returns a format

[2021-11-01 02:49] yurishkuro opened #3362 "🌇 Sunsetting Jaeger clients 🏁"
The Jaeger clients have faithfully served our community for several years. We pioneered many new features like remotely controlled samplers and per-operation / adaptive sampling, which were critical to the success of tracing deployments at large organizations. However, now that the larger community in OpenTelemetry has caught up with the Jaeger clients in terms of feature parity and there is full

[2021-11-01 12:11] pavolloffay commented on #3362
+1

[2021-11-01 12:20] rbroggi commented on #3362
In light of this announcement, is the `all-in-one` code already reflecting the recommended direction? Would it be already (or potentially) a `getting started` guide to this migration for the `go` community?

[2021-11-01 12:37] yurishkuro commented on #3362
Good point, we could dogfood the upgrade ourselves this way. Also in the hotrod example.

[2021-11-01 13:32] Aaronontheweb commented on #3351
FWIW I did try that as well; same outcome. I'll report an issue on the Elastic APM tracker.

[2021-11-01 13:44] yurishkuro commented on #3362
Added
* upgrade HotROD example
* upgrade internal use of Jaeger client

@rbroggi are you interested in giving one of these a try?

[2021-11-01 14:13] rbroggi commented on #3362
Would love to :slightly_smiling_face:

[2021-11-01 16:22] rbroggi commented on #3362
After studying the APIs it seems that there is no native way of representing the `jaeger-client` `config.Metric` and `config.Logger`. My understanding is that we would loose in the `all-in-one` and `HotROD` the functionalities carried by those two parameters. Is my assessment right? If it's wrong would you please point me to resources/ideas/documents that show how to reach same features in open te

[2021-11-01 16:44] yurishkuro commented on #3362
Can you elaborate (or point to code)?  I am not sure what dependency on the logger we would have as logging from the SDK itself is not that interesting. For metrics - yes, I can see that might create some challenge, I don't really know if OTEL SDK exposes the same indicators about its performance as Jaeger SDK did. It's not that we have specific dependencies on those indicators though (they should

[2021-11-01 17:19] joe-elliott commented on #3362
+1

We will personally not be able to move to OTEL clients until they support remote sampling, but I think starting this migration is the right choice.

[2021-11-01 18:46] rakyll commented on #3362
Exciting news. Is there any timeline to keep accepting the security fixes? Are there any long-term plans to communicate the deprecation from the SDKs themselves, such as logging that SDKs are deprecated/sunset?

[2021-11-01 19:12] yurishkuro commented on #3362
@rakyll good points. Do you have any thoughts on those timelines? I would prefer to go no longer than 6m, because keeping up with dependencies upgrades is also a sizeable effort (especially for doing releases after those upgrades).

[2021-11-02 07:45] jkandasa opened #3368 "ES rollover lookback: do not throw exception on no indices to remove from alias"
**Describe the bug**
ES rollover lookback pod crashes on no indices to remove from alias

**Expected behavior**
Should print the message and exist as normal

**Version (please complete the following information):**
 - OS: linux, OCP 4.9
 - Jaeger version: 1.26
 - Deployment: OpenShift 4.9

#### Config
[code]

#### error:
[code]

[code]

[2021-11-02 15:05] armanzor opened #3370 "jaeger-es-rollover doesn't have --replicas and --shards flags for rollover command"
**Describe the bug**
I can init rollover with needed number of replicas and shards, for example 1 replica and 1 shard, but when I do rollover, there's no flags --replicas and --shards and indices have been creating with 1 replica and 5 shards by default

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run --rm jaegertracing/jaeger-es-rollover:latest init http://<opensearch_instance>:9

[2021-11-02 16:28] #3340 closed

[2021-11-02 19:14] StefanBratanov opened #3371 "Failed to save span over HTTP Zipkin (Key with size 80347 exceeded 65000 limit)"
**Describe the bug**
Hi, I am trying to send Zipkin spans to HTTP (9411 port) using jaegertracing/all-in-one docker image. It works well, but when I try to add a tag which has more data, the jaeger process fails:

`{"level":"error","ts":1635879234.551175,"caller":"app/span_processor.go:149","msg":"Failed to save span","error":"Key with size 80347 exceeded 65000 limit. Key:\n00000000`

I can see in

[2021-11-02 21:56] StefanBratanov commented on #3371
I guess this issue is equivalent to https://github.com/jaegertracing/jaeger/issues/3330? However, I am not sure what the appropriate fix/workaround is?

[2021-11-03 00:26] sanjaygopinath89 commented on #3227
@jpkrohling Faced same issue. It will be better to mention this along with the trace cleaning https://www.jaegertracing.io/docs/1.27/deployment/#remove-old-data  ( implementation that we do for specific retention). Those who are new to Jaeger may think that whatever trace available will be searchable. In my case once I implement retention I thought the trace within that will be searchable, didn't

[2021-11-03 09:10] hdost commented on #3359
@yurishkuro https://github.com/mycroft/jaeger/commit/10a69be93384aca25f23d9465d888e3111ef6539 is the relevant change. I can work on a PR.

[2021-11-03 09:19] jkandasa opened #3374 "es index deletion failed with too_long_frame_exception"
**Describe the bug**
Index deletion process failed when the delete request contains more than 4096 chars

#### Config:
[code]

**Expected behavior**
should be deleted the requested indices

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please complete the following information):**
 - OS: Linux
 - Jaeger version: 1.26.0
 - Deployment: OCP 4.9

#### Error:

[2021-11-03 14:08] #3368 closed

[2021-11-03 22:42] nbari commented on #2976
I have this issue with version `1.27.0` and OpenSearch, is there any flag that can be passed to the collector or the UI to initialize elk/OpenSearch?

[2021-11-04 12:36] tttoad opened #3376 "support set go-plugin/client.config.stderr"
## Requirement - what kind of business use case are you trying to solve?

Go-plugin has a panic, but no error message is visible

## Problem - what in Jaeger blocks you from solving the requirement?

no support go-plugin/client.config.stderr

## Proposal - what do you suggest to solve the problem or improve the existing situation?

plugin/storage/grpc/config/config.go line 52
	client := plugin.New

[2021-11-05 09:54] igplanet commented on #2016
How did you get it working please? @sandeepopenstack

[2021-11-05 20:42] cevian opened #3377 "Add the ability to use the gRPC storage plugin with a remote endpoint"
## Requirement - what kind of business use case are you trying to solve?

Ability to have the gRPC storage API be implemented on a remote endpoint (not only locally over a socket).

**I'm happy to submit a PR if the community is open to this.**

## Problem - what in Jaeger blocks you from solving the requirement?

Right now the [gRPC storage plugin](https://github.com/jaegertracing/jaeger/tree/mas

[2021-11-05 22:20] yurishkuro commented on #3377
Yes, that would be awesome, we talked about it many times, because one thing this would allow us to do is to use in-memory storage as a remote storage, which would allow different deployments of collector/query instead of all-in-one.

[2021-11-06 00:24] albertteoh commented on #3377
I second that, this would be great! I think this would help with addressing #1221, which in turn addresses the recent flaky cross-dock CI jobs due to slow ES startup.

[2021-11-08 15:53] yurishkuro commented on #3362
Deprecation notices in all client repos (except C#) are made. Documentation is updated: https://www.jaegertracing.io/docs/latest/client-libraries/#deprecating-jaeger-clients

[2021-11-08 15:59] yurishkuro opened #3380 "Upgrade HotROD example to use OpenTelemetry SDK"
Per #3362

* [x] replace Jaeger SDK with OTEL SDK using an OT Bridge
* [x] replace OT instrumentation with OpenTelemetry
* [x] Remove references to OpenTracing API
  * [x] from HotROD code
  * [x] from HotROD tests `examples/hotrod/pkg/tracing/rpcmetrics/`
  * [x] from README #4790
* [x] Remove Jaeger exporter, leave only OTLP, and update README and docker-compose

[2021-11-08 16:00] yurishkuro opened #3381 "Upgrade internal use of tracing to OpenTelemetry"
This is aimed as an intern project for the LFX Mentorship. Please refer to https://github.com/jaegertracing/jaeger/issues/4453. [Apply here](https://mentorship.lfx.linuxfoundation.org/project/b8009398-1252-4f63-82fe-363846ccc11d).

Historically, the Jaeger backend used the OpenTracing API, with Jaeger's own Go SDK `jaeger-client-go`, for instrumenting its own internals for distributed tracing. Sin

[2021-11-08 19:21] rbroggi commented on #3380
Will try to work on that during the next weekend.

[2021-11-08 22:22] bradyma1 opened #3382 "jaeger-collector does not support username and password to elasticsearch"
**Describe the bug**
similar to problem #1327
I am currently authenticating from jeager successfully with certs and tls.to elasticsearch.  I have a  need to set usernames and paswords with roles to in elasticsearch.  This new (username and password and roles ) is currently working with kibana, logstash, and filebeat.  I do not seem to able to get with to work with my docker compose configuration w

[2021-11-08 22:44] albertteoh commented on #3382
@bradyma1 please format the docker-compose yaml in a code block (with correct indentation) to make it easier to read and for folks to reproduce.

[2021-11-08 23:34] bradyma1 commented on #3382
will do......but this is almost a direct copy from the docker-compose.yml   If you open in edit mode, you will see the dashes as opposed to the  . for each parameter; but tomorrow first thing I will double check and edit/indent each parameter accordingly.  Thanks for your response.

[2021-11-09 05:57] Falco20019 commented on #3362
Sorry, you seem to missed some when tagging the maintainers in the initial post. I will deprecate C# later today once I'm in the office.

[2021-11-09 15:55] bradyma1 commented on #3382
configuration updated per your request.  Thanks  for your help

[2021-11-10 21:00] albertteoh commented on #3382
@bradyma1 the yaml provided in the description had some indentation, syntax and general config issues. I made some fixes and this seemed to work for me (I haven't cleaned everything up, prioritised getting it to work):

[code]

[2021-11-10 21:30] bradyma1 commented on #3382
so...important difference is ES_SERVER_URLS=https:  as was in the original problem.  Thanks for responding and looking into this

[2021-11-11 11:46] rbroggi commented on #3380
Before jumping right into the code I have been studying the opentelemetry golang API. Given that the notion  of logs is not complete in opentelemetry yet but is something used in Jaeger, I wanted to make sure we have a strategy to migrate what is currently 'logged' in HotROD to what in opentelemetry is called an 'Event'. Is this a good understanding? The only other option in open telemetry is to u

[2021-11-11 13:22] yurishkuro commented on #3380
Let me clarify - at this time our intention is not to upgrade everything to OTEL API, but keep OT instrumentation and use OT-to-OTEL bridge to replace Jaeger SDK with OTEL SDK. Therefore your question is not relevant because that decision will be made by the bridge.

[2021-11-11 13:54] rbroggi commented on #3380
Copy that! I'm glad I asked the question! :smile:

[2021-11-11 15:40] jpkrohling commented on #1678
Just as a status update, I'm able to reproduce this. Reading some source code from gRPC Go, I was expecting the DNS resolution to happen every 30s, adding the new backends to the list and making them available as subchannels, but looks like it's not happening. I'll check a couple of things, and if they don't work, I'll give the `MaxConnectionAge` suggestion a try.

The following screenshot shows a

[2021-11-12 02:25] JMCFTW commented on #1678
@jpkrohling,

It's good to hear the status update from you!

FYI, I found a [thread](https://github.com/grpc/grpc/issues/12295) that peoples are talking about DNS name re-resolution in grpc repository, and it's very helpful to me to get more understanding about this issue.

[2021-11-12 09:27] albertteoh commented on #3382
Closing this for now, feel free to reopen if you're still having issues.

[2021-11-12 09:27] #3382 closed

[2021-11-12 09:49] #3374 closed

[2021-11-15 11:29] albertteoh opened #3392 "Investigate missing operation from jaeger-query metrics reader"
**Describe the bug**

Context: https://github.com/jaegertracing/jaeger-ui/pull/815#issuecomment-968717141

**To Reproduce**
Steps to reproduce the behavior:
1. `cd docker-compose/monitor/`
2. `docker-compose up`
3. `/api/metrics/latencies?service=driver&endTs=1636969517360&groupByOperation=true&lookback=7200000&quantile=0.95&ratePer=3600000&step=60000`
4. (Need to confirm) only receiving metrics f

[2021-11-18 08:32] ichasco-heytrade commented on #3228
Hi,

This is still failing. The PR hasn't been merged. Is there any reason?

Thanks!

[2021-11-18 08:35] devendrapal-ag commented on #3322
Hi Team,

I am also facing the issue with S3 storage. trace data delay around 10m.
Any luck here ?

[2021-11-19 20:15] yurishkuro opened #3401 "Debug image building fails in the main branch"
Example run: https://github.com/jaegertracing/jaeger/runs/4268563186?check_suite_focus=true

The critical error seems to be this one:
[code]

cc @Ashmita152

[2021-11-19 22:06] #3401 closed

[2021-11-20 07:31] monegim opened #3402 "All-in-one container crashes and never recover"
**Describe the bug**
After deploying jaegertracing/all-in-on:1.28 image on the Kubernetes and filling the container memory, it is expected the OOM killed container be recovered when it is restarted, but the container could start with the following logs:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  Deploy  jaegertracing/all-in-one:1.28
2. Put it under some loads

**Expected behavio

[2021-11-20 12:33] yurishkuro commented on #3402
You're not using memory-only version, you're running with Badger which writes to files. Something may be getting corrupted when it OOMs. You need to configure data purging for Badger to be stable.

[2021-11-21 17:15] Ashmita152 commented on #3392
The prometheus query executed while hitting `/api/metrics/latencies` has label filter as `span_kind =~ "SPAN_KIND_SERVER"` while the operation `HTTP GET` has label `span_kind = "SPAN_KIND_CLIENT"`. Hence it gets filtered out.

[2021-11-21 18:56] #2749 closed

[2021-11-21 18:57] yurishkuro commented on #2085
Hasn't been happening lately, closing

[2021-11-21 18:57] #2085 closed

[2021-11-21 22:22] frittentheke commented on #2143
@AhHa45 yes. I refactored my change to add ES alias / rollover support to Jaeger - check out: https://github.com/jaegertracing/jaeger/pull/2144

[2021-11-22 09:01] jpkrohling commented on #3402
Are you sure it doesn't eventually come up again? I've seen something similar before where badger would take a really long time to recover after a crash.

[2021-11-22 09:27] Stono opened #3403 "Using ES_TAGS_AS_FIELDS_INCLUDE writes a giant blob of tags as well as the fields"
**Describe the bug**
I'm not entirely sure from the documentation if this is intended, or a bug...

I'm trying to use `ES_TAGS_AS_FIELDS_INCLUDE` to decide which tags get written as fields to Elasticsearch.  This works quite nicely, however as well as writing my desired fields I also get a blob called `tags` which contains the raw data.

The purpose of me using `ES_TAGS_AS_FIELDS_INCLUDE` is to re

[2021-11-22 16:49] alexsuraykin opened #3404 "Request with "parent+children" spans to the zipkin collector service fails with error: index out of range"
If we send parent and children spans in request, jaeger will be failed with error: "runtime error: index out of range"

**Steps to reproduce:**
1.  Run jaeger.
2.  Send POST request to the "<jaeger_address>: <zipkin_collector_port>/api/v1/spans" with next json in the body:
[code]
**Expected result:** 202 Accepted
**Actual result:** 500 Internal Server Error

 - Jaeger version: 1.28.0, master
 - De

[2021-11-23 03:02] zziawan commented on #2703
@jpkrohling  jaeger-all-in-one(1.24.0+) still not clean the log data.  is it possible to set all the configurations of badger by CLI flages?
opts.LevelOneSize = 32 << 20
opts.TableLoadingMode = options.FileIO
opts.ValueLogLoadingMode = options.FileIO
opts.MaxTableSize = 4 << 20
opts.NumLevelZeroTables = 1
opts.NumLevelZeroTablesStall = 2
opts.NumMemtables = 1
opts.NumVersionsToKeep = 0
opts.ValueL

[2021-11-23 09:44] pavolloffay commented on #3403
This sounds like a bug.

@Stono would you like to fix it?

[2021-11-23 09:45] pavolloffay commented on #3404
@alexsuraykin thanks for reporting this. Would you like to work on a fix?

[2021-11-23 09:49] Stono commented on #3403
No thanks, I already commit a lot of my spare time to other open source work and I don't have capacity for more.

[2021-11-23 09:53] pavolloffay commented on #3403
thanks is fine, thanks for reporting anyways.

[2021-11-24 09:04] zziawan commented on #3322
this problem  cased by time, the span reporter time not the same as the query timestamp...   @devendrapal-ag  check to see if you reporter time  fall  behind .

[2021-11-24 09:05] #3322 closed

[2021-11-24 11:59] albertteoh commented on #3392
Ah, thanks for investigating, @Ashmita152!

Yes, it's all coming back to me now; we filter on `SPAN_KIND_SERVER` because we want to aggregate on ingress rather than egress requests (the latter wouldn't make sense IMO).

I'll close this ticket since it's expected (although potentially confusing) behaviour. I'll include this note in the documentation task for ATM.

[2021-11-24 11:59] #3392 closed

[2021-11-25 18:01] Avers90 commented on #3402
I have this issue, too. For recover jaeger, I deleted deployment and apply the yaml file again:
`kubectl apply -f istio_jaeger.yaml`

Yaml like this https://raw.githubusercontent.com/istio/istio/release-1.12/samples/addons/jaeger.yaml
But I have changed image to:
`image: "docker.io/jaegertracing/all-in-one:1.28"`
add increased requests for image:
[code]
But I still have the same problem as describ

[2021-11-25 18:05] Avers90 commented on #3402
@yurishkuro You said: You need to configure data purging for Badger to be stable.
Can you help me and tell how can I do that for my config?

[2021-11-25 19:59] yurishkuro commented on #3402
I am not an expert on Badger, but there is a TTL flag we expose: https://www.jaegertracing.io/docs/1.28/cli/#jaeger-all-in-one-badger

[2021-11-25 20:15] yurishkuro opened #3411 "OpenSearch integration test often fails in CI"
I've noticed that the integration with OpenSearch spuriously fails quite often ([latest example](https://github.com/jaegertracing/jaeger/runs/4327831762?check_suite_focus=true)). It also cancels all other ES tests so it's hard to say if the failure is specific to OpenSearch.
[code]

[2021-11-25 21:18] Avers90 commented on #3402
@yurishkuro thx. I will try decrease --badger.span-store-ttl from "72h0m0s" to "48h0m0s" adding to yaml BADGER_SPAN_STORE_TTL:
[code]

[2021-11-29 06:27] zziawan commented on #1869
@jpkrohling  we also has the problem. jaeger restaring  neeed very long time (40m) to reading data.  version 1.24.0

[https://discuss.dgraph.io/t/jaeger-can-not-start-badger-deleting-file-very-slow-jaeger-can-not-init-storage/16150](url)

[2021-11-29 08:13] pocki opened #3414 "Product/File version in Windows executables"
## Requirement - what kind of business use case are you trying to solve?
Actual the windows executables (jaeger-agent.exe, jaeger-collector.exe, ...) don't have a version set. It is hard to identify the current used version and check if the actual used version is outdated.

![image](https://user-images.githubusercontent.com/2448303/143830707-153c3f71-a84d-42db-a0db-5b95b2525351.png)

## Problem -

[2021-11-29 13:18] yurishkuro commented on #3414
Jaeger binaries support "version" subcommand, is that not enough?

[2021-11-29 16:18] pocki commented on #3414
Thanks for the information. It's a little bit hidden.
Normally the services are always running and you just want to check the version.
On Windows users are more likely to check it the properties page instead of extra typing in a command (also when the parameter for version nearly every app uses different)

[2021-11-29 18:01] pocki commented on #3414
Sorry, I am not familiar with Go and Go compiler.

[2021-11-29 19:24] esnible opened #3417 "Idea: support gRPC reflection"
## Requirement - what kind of business use case are you trying to solve?

I was running a Jaeger, but didn't know if it supported v3 Query API or not.

## Problem - what in Jaeger blocks you from solving the requirement?

It is difficult to know the query API.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

It takes one line of code to support `list`.  S

[2021-11-29 19:34] yurishkuro commented on #3417
+1

[2021-11-29 20:38] pavolloffay commented on #3417
I wonder if there is any perf impact, if there is we should probably enable it via a flag.

[2021-11-29 21:00] esnible commented on #3417
The performance impact should be close to zero.  Adding reflection means increasing the gRPC method hash table from about 10 to about 12 entries and calling code from a module we already include.

[2021-12-02 13:08] jpkrohling commented on #1678
I got some time to do some extra experiments, and I agree that setting the MaxConnectionAge would be a good solution. The OpenTelemetry Collector was able to send all the spans to Jaeger Collector, despite the scaling events:

[code]

With the MaxConnectionAge, here's how the rate of spans per instance looks like:
![image](https://user-images.githubusercontent.com/13387/144427660-653f9b1c-fd06-447

[2021-12-02 14:20] #1678 closed

[2021-12-03 02:23] JMCFTW commented on #1678
Hi @jpkrohling , thanks!

So according to [RELEASE.md](https://github.com/jaegertracing/jaeger/blob/main/RELEASE.md#release-managers), this change will be released at 5 January 2022 right?

[2021-12-03 08:09] jpkrohling commented on #1678
Correct. If you want to test this change before that, I can tag and generate a container image based on the current main.

[2021-12-03 11:16] xuanyingcool opened #3424 "jaeger operator installation"
the link open 404
[](https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/crds/jaegertracing.io_jaegers_crd.yaml)

The next few links are also 404

[2021-12-03 11:17] xuanyingcool commented on #3424
https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/crds/jaegertracing.io_jaegers_crd.yaml

[2021-12-03 11:19] albertteoh commented on #3424
Relates to: https://github.com/jaegertracing/documentation/issues/325