[2020-11-13 13:45] jpkrohling commented on #1778
This is really, really odd. We should indeed work on de-duplicating the tags, but there has to be something else going on...

[2020-11-13 14:30] joe-elliott commented on #2627
Yup, I'll give this a shot today.  Will discuss in the bi-weekly.

[2020-11-16 14:47] #2627 closed

[2020-11-16 17:46] yurishkuro opened #2631 "Flaky test TestTBufferedServer_Metrics"
it strikes again https://travis-ci.com/github/yurishkuro/jaeger/jobs/440719322#L679
[code]

[2020-11-16 18:09] Mario-Hofstaetter commented on #1609
This issue is 100% reproducible with jaeger `1.21` on Windows 10 `Version 20H2` and makes badger local storage unusable on windows.

If anyone is still interested I'd be glad to help @burmanm @pavolloffay

I tried shutting it down ("gracefully")[https://superuser.com/a/959365] by using `taskkill /PID 3456` -> `Error, must use force flag`.
When using the force kill, badger storage is broken.

Tried

[2020-11-16 19:59] Mario-Hofstaetter commented on #2459
I believe I am having the same issue at a very low span ingest rate of about **20 spans / s**, running jaeger `1.21`

**Is there anything I can do at the moment?** This is a showstopper for us atm.

I am able to reproduce the behavior in a short period of time using a simple `ASP .NET Core` application using [opentelemetry-dotnet](https://github.com/open-telemetry/opentelemetry-dotnet). I can prov

[2020-11-17 15:27] objectiser commented on #1916
Closing as should be resolved by https://github.com/jaegertracing/jaeger/pull/2613.

If the problem still occurs please reopen.

[2020-11-17 15:27] #1916 closed

[2020-11-17 17:30] #2556 closed

[2020-11-17 22:38] Mario-Hofstaetter commented on #365
Any update on this feature? There are many merged pull-requests. Will this be finished?
Or will this be obsolete / superseeded by work done in the new opentelemetry collector?

[2020-11-18 17:00] yurishkuro commented on #2600
I think I migrated all repos, but we also need to change their branch protections to require .com builds instead of .org.

And we need to update build badges in the READMEs: https://github.com/search?q=org%3Ajaegertracing+travis-ci.org&type=code

[2020-11-18 20:52] CSP197 opened #2633 "Amazon S3 as a storage backend"
Update 2021-04-20: there is a plugin https://github.com/muhammadn/jaeger-s3/

Is it feasible to add Amazon S3 as a storage backend for Jaeger?

Related to #638

[2020-11-18 22:06] yurishkuro commented on #2633
Currently what Jaeger defines as "storage backend" must support (a) trace lookup by ID, and (b) indexing & searching. The former is relatively easy to do with S3 (you may even be able to use Grafana Tempo directly for that), but indexing/searching is not.

[2020-11-18 22:21] CSP197 commented on #2633
Yeah, I was also looking at Grafana Labs' Tempo storage option for S3, which is why I wanted to ask if such an equivalent existed for Jaeger.
It looks like Tempo has decoupled the trace lookup by ID function into its [Compactor](https://grafana.com/docs/tempo/latest/configuration/#compactorhttpsgithubcomgrafanatempoblobmastermodulescompactorconfiggo)

[2020-11-18 22:26] joe-elliott commented on #2633
In Tempo the querier is responsible for inspecting the backend to find the trace, but if you have questions about it it would make more sense to discuss in that repo.

[2020-11-18 22:33] philicious commented on #622
thx @mikelduke ! , your post helped me solve this weird error that was, at least for me, likely caused by the ES being recreated but collectors werent reset/restarted. and me then spending few hours to debug until I stumbled over your precious hint ❤️  and noticed the index templates were missing !!
I restored them based on https://github.com/jaegertracing/jaeger/tree/master/plugin/storage/es/mapp

[2020-11-20 22:59] Mario-Hofstaetter opened #2638 "jaeger-agent reproducible memory leak in 1.21.0"
**Describe the bug**
I am observing very high and rapidly increasing memory usage of `jaeger-agent` which may be a memory leak.
Eventually the agent (container) may run out of memory and crash.

**I am able to reproduce the behavior reliably.
It is happening at very low span rates of <= 30 or 50 Spans/sec according to `jaeger_collector_spans_received_total`**

I am using a dev setup running Demo A

[2020-11-22 15:19] dimitarvdimitrov commented on #2264
I'd like to try doing this one. Is it still relevant, @yurishkuro, @Stono?

I managed to have a quick look but will need some guidance since I haven't worked on Jaeger before:
* My understanding is that we want a way to detect _when_ and _if_ invalid spans are sent, but not necessarily _who_ is sending them. Is this correct, @Stono?
* From what I saw we can achieve this in three ways; option iv. l

[2020-11-22 19:23] yurishkuro commented on #2264
If we do not have any metrics on the HTTP endpoints, this is where I would start, i.e. emit a classic RED set where E(rrors) are labeled by the HTTP status code.

The OP does not ask for metrics by the originating service, and I think that's OK.

[2020-11-23 00:09] dimitarvdimitrov commented on #2264
Thanks. OP wrote just about the collector's endpoints. Should I add these
onto the query & agent's endpoints as well?

On Sun, Nov 22, 2020 at 8:23 PM Yuri Shkuro <notifications@github.com>
wrote:

[2020-11-23 01:02] yurishkuro commented on #2264
query & agent do not have HTTP endpoints receiving spans. The UDP endpoint in the agent already emit metrics.

[2020-11-23 07:00] albertteoh opened #2640 "Jaeger collector not reporting "bind address already in use" error"
**Describe the bug**
While the gRPC port 14250 is taken, jaeger-collector still starts without reporting the error.

**To Reproduce**
Steps to reproduce the behavior:
1. Start [jaeger all-in-one](https://www.jaegertracing.io/docs/latest/getting-started/#all-in-one)
2. Start jaeger-collector: `SPAN_STORAGE_TYPE=memory go run ./cmd/collector/main.go`
3. The collector runs without exiting nor error l

[2020-11-23 11:01] jpkrohling commented on #2638
Thanks for the detailed report, @Mario-Hofstaetter! I'll try to reproduce this, but I'm not sure I'll be able to build/run a dotnet example on Linux. Would you be able to capture the payload the opentelemetry-dotnet library is sending? This would make it easier to reproduce/fix this.

[2020-11-23 11:12] jpkrohling commented on #1609
In general, we do need help when it comes to Windows support. I don't think any of the maintainers and current contributors have knowledge about nor access to Windows machines/VMs.

@Mario-Hofstaetter: not sure I follow your last comment with the update. Did you mean that there's still a problem when starting the all-in-one with badger while redirecting the output? Starting the process again witho

[2020-11-23 11:13] jpkrohling commented on #2459
Related to #2638.

[2020-11-23 11:14] jpkrohling commented on #2638
This *might* be a duplicate of #2459.

[2020-11-23 11:26] Mario-Hofstaetter commented on #2638
@jpkrohling I guess in my case, this here was the cause and **not** badger. The original author of #2459 (lichenglin) did not state which instrumentation library he is using.
I have yet to retry badger local storage with the opentelemetry-dotnet fix mentioned above in first post.

I'm pretty sure I can provide a small solution that will run on linux (it's .net core after all), at least a docker-co

[2020-11-23 11:34] jpkrohling commented on #2638
That would be awesome!

Yes, something like that. If you are using plain HTTP for the communication, instead of gRPC, it would be even easier as I could just use the HTTP payload with cURL.

[2020-11-23 11:35] Mario-Hofstaetter commented on #1609
Yes, redirecting output in powershell will cause the issue and break badger after restarting. I'll edit previous post to make it more clear.

Correct, I tried several restarts and it seemed to be ok.

My case differs from @Lercher as I am using powershell and he is using `batch` script. Since I try to avoid .bat if possible I'm not sure if it is behaving different than powershell.
I did not try as

[2020-11-23 13:53] Stono commented on #2264
Hello!
Yes it's still relevant.  As the requests are going to be "bad" - you're not going to be able to parse them to get any app information, so you wouldn't be able to get that as a dimension anyway.

At the moment - spans which contain invalid data are rejected with a 400 bad request, but there is no associated metric we can monitor and alert off.   We're simply looking for that basic metric to

[2020-11-23 15:42] objectiser commented on #2563
I'm closing this, as based on the current ideas we won't be supporting the previous concept of CLI flags.

[2020-11-23 15:42] #2563 closed

[2020-11-23 18:04] Lercher commented on #1609
TL;DR: fixed the original problem, but there is a new panic now.

Hi all, considerable time has passed since June, I downloaded 1.21.0 and this is the situation on my PC right now (sorry for the long logs):

[code]

pressing `Ctrl-C` here and instead of terminating the process, apparently the shutdown handler begins logging, which is definitly quite an improvement over the behavior in June:

[code

[2020-11-23 18:15] Lercher commented on #1609
And on redirecting stderr (shortened):

[code]

redirecting stdout (I don't see why, however):

[code]

Here I'm not postive on Powershell's behaviour, b/c I don't understand how piping and COM/.Net comandlets interact. Esp. what `Ctrl-C` does precisely here, i.e. how much processes run in the pipe and which of them is/are sig-INT-ed by `Ctrl-C`.

[2020-11-23 18:29] yurishkuro opened #2642 "Badger storage factory panics during Close"
**Describe the bug**

The Badger storage factory has a inverted dependency that causes the factory to be closed twice, which leads to
[code]

**To Reproduce**

1. Run `$ SPAN_STORAGE_TYPE=badger go run ./cmd/all-in-one`
2. Once it starts, kill process with Ctrl-C

**Expected behavior**
Process should exit cleanly.

**Version (please complete the following information):**
 - OS: MacOS
 - Jaeger ver

[2020-11-23 18:29] yurishkuro commented on #1609
`panic: close of closed channel` is happening in Jaeger code, I booked a bug #2642.

[2020-11-23 18:47] Lercher commented on #1609
PS for the records: I've just added some spans to the locally running all-in-one server with badger persistence, shut it down with `Ctrl-C` and restarted it. All the spans survived the restart and were accessible via the UI. As it should be, of course. For me it's OK right now.

[2020-11-24 01:18] yurishkuro opened #2644 "Flaky test pkg/config/tlscfg/TestReload (cert_watcher_test.go)"
https://travis-ci.com/github/jaegertracing/jaeger/jobs/445878517#L2150

[code]

[2020-11-24 01:23] yurishkuro opened #2645 "Migrate from Travis to GitHub actions"
We hit the limit of "credits" that Travis provides. Even though the OSS credits are supposed to renew on Nov-23, it's a sign that we need to move away from Travis.

Checklist for migration to GH Actions:
- [x] Unit Test + Coverage
- [x] Protogen Test
- [x] All-In-One
- [x] Crossdock
- [x] Crossdock OpenTelemetry
- [x] Docker Build + Deploy #2740
- [x] ES Integration Tests
- [x] ES OpenTelemetry In

[2020-11-24 05:26] Ashmita152 commented on #2645
Sure I can pick this work but I am new to GitHub Actions, so it will take some time to get it working. Maybe we can have parallel builds for Travis and GitHub Actions for sometime and once we are satisfied, we can shutdown travis builds.

[2020-11-24 05:27] albertteoh commented on #2644
This is on me.

[2020-11-24 08:00] yurishkuro commented on #2645
We do continue using Travis builds, but for some reason they ran out of credits which are not refreshing.

The approach here is to take steps in the Travis matrix one at a time and convert each to GH actions. GH actions are, in the end, just like shell scrips, similar to .travis.yaml. This is a good example: https://github.com/open-telemetry/opentelemetry-specification/blob/master/.github/workflow

[2020-11-25 14:16] rsvoboda commented on #2498
@jpkrohling / @aebirim could be this effort refreshed please, I see PR is staled for ~1 month.

Asking because we are suffering by dockerhub rate limit apocalypse when running MicroProfile OpenTracing related tests.
We are able to propagate pull secret on OpenShift 4 to overcome this trouble, but on OCP 3.11 the same solution can't be applied.

We are looking at image alternatives available on Qua

[2020-11-25 14:25] jpkrohling commented on #2498
@rsvoboda is there a specific version that you are using? I could push them to quay manually for the time being.

[2020-11-25 14:32] cwsolee commented on #2600
Just fyi, Travis post some updates here too https://blog.travis-ci.com/oss-announcement

[2020-11-25 15:00] rsvoboda commented on #2498
Hi Juca. No rush atm, we had applied workaround for current release, we will have new testing during January.
It would be ideal to have quay mirror by that time. If not, I would ask you for adhoc push ;)

[2020-11-25 15:33] Ashmita152 commented on #2645
As part of this issue, we need to migrate following jobs from Travis to Github Actions.

- [ ] Unit Test + Coverage
- [ ] Protogen Test
- [ ] All-In-One
- [ ] Crossdock
- [ ] Crossdock OpenTelemetry
- [ ] Docker Build + Deploy
- [ ] ES Integration Tests
- [ ] ES OpenTelemetry Integration Tests
- [ ] Kafka Integration Tests
- [ ] Cassandra Integration Tests
- [ ] Memory + Badge Integration Tests
-

[2020-11-25 16:48] #2640 closed

[2020-11-25 20:21] #2642 closed

[2020-11-26 02:00] levonet commented on #1438
We have been testing the Clickhouse plugin for almost 2 months.
So far, the load on each cluster is not very large ~ 1 billion spans per day.
For such a configuration as here in the example, it is not noticeable at all.
Maybe someone else will be interested to test Jaeger with Clickhoause https://github.com/levonet/docker-jaeger

I really want the Clickhouse plugin to finally be released in the Ja

[2020-11-26 09:06] jpkrohling commented on #1438
It is unlikely that we'll add any other storage mechanism to the core repository in the near future. What will probably happen is that we'll change the architecture of how this works for Jaeger v2, making it easier to plug your own storage plugin.

[2020-11-26 09:55] yurishkuro commented on #2644
@albertteoh it still fails https://github.com/jaegertracing/jaeger/runs/1458096624?check_suite_focus=true#step:5:1881

[2020-11-26 10:03] gauravgill95 commented on #2122
Hey I am also getting the same error . Is the issue resolved ?

[2020-11-26 10:15] gauravgill95 commented on #2122
Did you found any fix ?

[2020-11-26 10:57] Betula-L opened #2653 "Jaeger collector crashed accidentally due to samara return `nil` error"
**Describe the bug**
Collector panic when print error log since `e.Err` is `nil`.
https://github.com/jaegertracing/jaeger/blob/b8ccf7342ee81a41cc93af6462af7a781530cb38/plugin/storage/kafka/writer.go#L60

It may be caused by sarama bug which return unexpected `nil` to error channel. It's hard to track the root cause of sarama sdk.

https://github.com/Shopify/sarama/blob/0616f68815691527d3b6ab4d95a2

[2020-11-26 11:45] albertteoh commented on #2644
Thanks for the heads up @yurishkuro. It looks like the watcher isn't picking deterministically picking up every state transition of the cert file. In this case, it didn't detect the cert loading failure due to mismatching private & public keys, but only loaded it after both matching private and public keys were added to the cert, hence both updates were successful; which was not observed locally :

[2020-11-26 12:48] WalkerWang731 opened #2656 "Add metrics on the agent that can show connections status between agent with collection"
## Requirement - what kind of business use case are you trying to solve?

Add metrics on the agent that can show connections status between the agent with collections.
We need monitoring of agent connection status in the production environment to ensure the agent connected.
But, so far, we can't get these metrics via `http://jaeger-agent:14271/metrics`, especially when the agent disconnected colle

[2020-11-26 18:51] #2653 closed

[2020-11-26 23:31] levonet commented on #1438
@jpkrohling How long to wait for Jaeger v2?
And will a separate organization or repository be created for the community?

[2020-11-27 00:55] #2631 closed

[2020-11-27 04:24] Betula-L commented on #1778
@jpkrohling I can take this issue.

[2020-11-27 06:24] Ashmita152 opened #2659 "Badger Integration Test Failures"
**Describe the bug**
We cleaned up the badger factory close() as part of this https://github.com/jaegertracing/jaeger/pull/2643 but we forgot to update the integration tests accordingly since travis is broken.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. make mem-and-badger-storage-integration-test

**Expected behavior**
Tests should pass.

[2020-11-27 06:59] yurishkuro commented on #2659
Good catch - we need to restore the CI asap, it would've caught this.

[2020-11-27 14:24] jpkrohling commented on #1438
Jaeger v2 is at least a few months away, in the best case scenario.

Not sure I understand. Do you mean for the externally contributed storage mechanisms? That's a great question, although a bit early to ask :-)

[2020-11-27 17:45] yurishkuro commented on #2645
We need to decide on the naming pattern for jobs. GitHub is annoyingly inconsistent, showing `workflow/job` in the Checks, but only `job` in the settings:
![image](https://user-images.githubusercontent.com/3523016/100474289-51d09900-30ae-11eb-8dd5-443ca0baf6da.png)

E.g. wth is `build`? Turns out it's FOSSA (I am going to rename it as I did in the Go client repo).

[2020-11-27 18:59] yurishkuro commented on #1438
I would be -1 on creating such a repo under Jaeger org, because it creates an expectation that project maintainers are responsible for it. There's nothing wrong with having a plugin repo elsewhere, under the org of the real authors/maintainers, as is the case with InfluxDB and Logz.io plugins. If such repo is well-maintained, we can link to it from the official docs.

[2020-11-27 19:09] #2659 closed

[2020-11-28 02:25] Ashmita152 commented on #2638
I think we can make use of `/debug/pprof/heap` url at jaeger-agent's admin host-port endpoint to get the live heap and see what is taking the heap so much.

[2020-11-28 17:03] yurishkuro commented on #2645
Found another annoyance with GH naming - when looking at Checks tab, it only shows workflow names. So we have identically named rows:
![image](https://user-images.githubusercontent.com/3523016/100521399-6a55b780-3171-11eb-9232-4de97d6aa07f.png)

I suggest the following naming:
  * CI Cassandra / ci_cassandra
  * CI Elasticsearch / ci_elasticsearch
  * CI Elasticsearch OTEL / ci_elasticsearch_otel

[2020-11-29 09:11] Ashmita152 commented on #2645
Do you think we should use https://github.com/actions/cache for caching go modules. I feel it will improve the build times.

[2020-11-29 09:18] Ashmita152 opened #2665 "Run CI Jobs for Windows"
## Requirement - what kind of business use case are you trying to solve?

Better testing of windows binaries before releasing them.

## Problem - what in Jaeger blocks you from solving the requirement?

We do official releases of windows binaries, but we cross compile them. This hides some runtime related bugs like https://github.com/jaegertracing/jaeger/issues/2550

## Proposal - what do you sugg

[2020-11-29 21:41] yurishkuro commented on #2645
We'd need to see the data on how much it speeds up the build. I have a feeling that this is not going to be a significant portion of the overall time, but if it saves 2min our of 12min then it could be worth it.

[2020-11-30 03:01] Ashmita152 commented on #2645
One more question: I noticed that `ES OpenTelemetry Integration Tests` runs the same script as `ES Integration Tests` in Travis CI. Wondering if we need to do that in Github Actions too or we can safely skip that.

[2020-11-30 03:09] yurishkuro commented on #2645
It is the same script, but the script checks for `if [ "$ES_OTEL_INTEGRATION_TEST" == true ]; then`

[2020-11-30 03:14] Ashmita152 commented on #2645
Ah I see, thank you for bringing it to my notice.

[2020-11-30 03:19] yurishkuro commented on #2645
you may want to change that script to take an explicit parameter (`default` vs. `otel`) instead of silent dependency on env var.

[2020-11-30 03:24] Ashmita152 commented on #2645
Agree. Sure I will update the script. I feel we have too much redundant shell scripts with actions based on env variables which can easily be missed if undefined. In long term, I think we might want to discuss how we want to go ahead.

[2020-11-30 04:09] yurishkuro commented on #2645
It's probably just laziness. Ideally script behavior should be defined by the arguments, not by env vars, at least not by optional vars (required vars that fail the script if not defined are a compromise). Writing arg parsing with getops is not more complicated though, so perhaps worth it.

[2020-11-30 09:03] Mario-Hofstaetter commented on #2638
Is this url available by default or does it need to be enabled?

I've not yet had time to prepare the demo solution ...

[2020-11-30 09:19] jpkrohling commented on #2645
This shouldn't be needed. GitHub sets a GOPROXY, which gets the modules from a "local" resource. I did enable caching for the Jaeger Operator but that didn't have a noticeable effect.

[2020-11-30 09:35] Ashmita152 commented on #2638
Hi @Mario-Hofstaetter

It will be very useful to have that to debug more. I am new to golang but I can give it a try. Someone will definitely be able to help.

[2020-11-30 13:27] jpkrohling commented on #2665
Thanks for opening this issue! I wanted to discuss this during our last bi-weekly meeting ([agenda](https://docs.google.com/document/d/1ZuBAwTJvQN7xkWVvEFXj5WU9_JmS5TPiNbxCJSvPqX0/edit#heading=h.reli0pq8oegb)), especially in the context of #2611: we might potentially be releasing images for platforms that we don't ourselves use or test, and as a result, can't fix issues.

[2020-11-30 13:28] jpkrohling commented on #2665
I'm labeling this first as "question", so that we can discuss whether we want to test on multiple platforms at all. If we decide positively, I'll change the label to "enhancement".

[2020-11-30 13:43] jpkrohling commented on #2638
@Mario-Hofstaetter, you can open http://localhost:14269/debug/pprof/  in your browser, and navigate over the raw data. You might also want to try this:

[code]

This should open your web browser with the current heap as an image. You can try the same for the other profiles (see the first URL for the available profiles).

[2020-11-30 18:54] #2264 closed

[2020-12-01 05:07] albertteoh opened #2674 "Flaky test pkg/discovery/grpcresolver/TestGRPCResolverRoundRobin (grpc_resolver_test.go)"
**Describe the bug**
https://github.com/jaegertracing/jaeger/runs/1478025515?check_suite_focus=true

[code]

[2020-12-01 05:29] yurishkuro commented on #2674
hmm, it waits for 10sec total, so doubtful that it's just the scheduling hiccup

[2020-12-01 13:41] #1058 closed

[2020-12-01 16:47] yurishkuro opened #2676 "Flaky test cmd/collector/app/TestSpanProcessorCountSpan"
[code]

https://github.com/jaegertracing/jaeger/runs/1481177070?check_suite_focus=true#step:5:547

[2020-12-02 17:23] yurishkuro opened #2679 "Flaky test cmd/agent/app/reporter/grpc/TestBuilderWithCollectors/with_collector_connection_status_ready"
https://github.com/jaegertracing/jaeger/pull/2657/checks?check_run_id=1486634709#step:5:346

[code]

[2020-12-02 17:26] yurishkuro commented on #2679
Probably introduced in #2423 - cc @BernardTolosajr @jpkrohling

[2020-12-02 17:27] yurishkuro commented on #2679
But could've been dormant even earlier.

[2020-12-03 19:05] #2593 closed

[2020-12-04 09:57] jpkrohling commented on #2638
@Mario-Hofstaetter do you have any news on this? Are you able to provide with a dotnet application that runs on Linux, so that I can reproduce it?

[2020-12-04 10:45] Mario-Hofstaetter commented on #2638
@jpkrohling Apologies for the long delay, will schedule this for the weekend to do.

[2020-12-05 07:26] yurishkuro commented on #2645
Relevant blog post https://aws.amazon.com/blogs/opensource/migrating-cortex-ci-cd-workflows-to-github-actions/

[2020-12-07 04:03] #1778 closed

[2020-12-07 05:16] bhavin192 commented on #1316
Did not came across this issue after switching to a different storage backend. Closing as it is duplicate of #787

[2020-12-07 05:16] #1316 closed

[2020-12-07 09:00] bhiravabhatla commented on #2138
Can we update the documentation until this is fixed. As its causing confusion. Basically, we still do need max span age configured when using aliases.

[2020-12-08 08:21] zhufeizzz opened #2682 "Jaeger UI hanged on "Find Traces" button"
OS Version: SUSE Linux Enterprise Server 12 SP5  (x86_64)
Jaeger Version: 1.18.0  all-in-one
Storage Type : elasticsearch

It aways loading like this, and never response.
![image](https://user-images.githubusercontent.com/4591255/101457058-f2a53b00-396f-11eb-91ad-551ab60b8319.png)

Server Logs:

{"level":"info","ts":1607410996.354466,"caller":"flags/service.go:116","msg":"Mounting metrics handler

[2020-12-08 08:28] albertteoh commented on #2682
@zhufeizzz can you please provide the command you used to start jaeger all-in-one?

[2020-12-08 08:46] zhufeizzz commented on #2682
[code]

[2020-12-08 14:07] mberginbh commented on #2638
This fairly reliably reproduces it for me:

### ConsoleApp1.csproj
[code]

### Program.cs
[code]

[2020-12-08 14:21] jpkrohling commented on #2638
How can I run this on Linux?

[2020-12-08 14:53] mberginbh commented on #2638
Just copy these two files somwhere and do `dotnet run`, after installing .NET 5: https://dotnet.microsoft.com/download

[2020-12-08 20:12] Mario-Hofstaetter commented on #2638
@jpkrohling If you don't feel like installing .NET, I have pushed the sample app to https://github.com/Mario-Hofstaetter/jaegertracing-jaeger-issue-2638 including a Dockerfile and was able to reproduce on https://labs.play-with-docker.com . Thanks @mberginbh for the tiny example.

You can point the app to any agent adress/port and change the `loopCount` to change the load.

### Steps to reproduce

[2020-12-09 10:07] jpkrohling commented on #2638
Thank you to both of you! I'll give it a try soon.

[2020-12-09 12:29] albertteoh commented on #2682
@zhufeizzz I can't reproduce it locally:
[code]

A few questions:
- Can you reliably reproduce this error?
- Did you check whether if there was an existing process listening on port `14250` prior to starting `all-in-one`? The error message `desc = "transport: Error while dialing reading server HTTP response: unexpected EOF` suggests the response was incompatible with what it expected.

[2020-12-09 14:54] Lupus commented on #129
#180 introduces support for Zipkin HTTP only to collector, but agent is still not capable of Zipkin http endpoint as it seems?

[2020-12-09 15:15] jpkrohling commented on #129
No, the agent supports only UDP packets. The payload of those packets might contain Jaeger Thrift (binary/compact) or Zipkin data.

[2020-12-09 15:32] jpkrohling commented on #2638
Quick status update: I was able to reproduce this issue, and I'm convinced it's the same as #2452. The code where this is mostly observable is here:

https://github.com/apache/thrift/blob/b75e88a33d67ae05ef9b5fa001d2a63a2effe377/lib/go/thrift/compact_protocol.go#L557-L576

I'm sure the root cause is elsewhere, and I'm still investigating, but wanted to share some findings in case someone has an id

[2020-12-09 17:30] yurishkuro commented on #2638
Isn't this the root cause? It sounds like a malformed payload.

[2020-12-09 17:34] jpkrohling commented on #2638
The payload itself was within bounds (4083). While the payload was indeed malformed, we shouldn't just explode in memory consumption when receiving bad data.

[2020-12-09 17:37] yurishkuro commented on #2638
I agree, but this sounds like a bug(ish) in the Thrift library, if it just blindly allocates that much memory based on a malformed value from the payload.

[2020-12-10 03:13] Ashmita152 commented on #2682
Not sure, but I think you may need to whitelist port 14250 (and maybe other jaeger related ports) in your machine's firewall. Google says SUSE has YaST firewall.

[2020-12-10 05:45] albertteoh commented on #2138
@bhiravabhatla @fischerman

Just catching up on this issue and want to confirm my understanding; is the problem essentially a documentation issue and the fix is to remove the `Note that  es.max-span-age is not taken into the account and has to be substituted  by external component managing read alias.`? IIUC, it looks like `es.max-span-age` is not _required_, but it's certainly taken into account

[2020-12-10 06:21] zhufeizzz commented on #2682
@albertteoh You reminded me. I found the problem.
Because I set http_proxy in /etc/profile, and foget to set no_proxy to skip local http request.

Thanks!

[2020-12-10 06:37] #2682 closed

[2020-12-10 10:47] mx-psi opened #2685 "[pkg/queue] Provide factory for consumers"
## Requirement - what kind of business use case are you trying to solve?

As stated in open-telemetry/opentelemetry-collector#2254 for performance reasons we want to be able to keep state for each consumer of a bounded queue so that we can reuse a certain struct.

## Problem - what in Jaeger blocks you from solving the requirement?

It's not currently possible to define a state for each consumer o

[2020-12-10 11:15] jpkrohling commented on #2685
Can you give some concrete examples of what you need to accomplish? It's a bit too abstract for me to understand if this would be suitable to other consumers of this package.

[2020-12-10 11:39] mx-psi commented on #2685
Sure! I can try to explain our current use case if that helps.

When we process traces in the Datadog exporter we use a struct called `SublayerCalculator` to get some information about each trace. This struct has a `ComputeSublayers` method that resets the struct (fills a bunch of bytes slices with zeros) and then computes some info about traces. We need to do this computation for every trace, and

[2020-12-10 13:16] jpkrohling commented on #2638
Alright, I created https://issues.apache.org/jira/browse/THRIFT-5322 to track this there, but I still need to make sure it's indeed in the Thrift library.

[2020-12-10 15:29] jpkrohling commented on #2638
Status update: I got a reproducer that touches far less code, so, might be easier to isolate and fix the issue:

[code]

The payload is based on what the reproducer from @mberginbh generated.

[2020-12-10 15:51] yurishkuro commented on #2685
I think I understand what you want to do wrt to the queue itself, but why do you need to make changes in Jaeger?

[2020-12-10 16:06] mx-psi commented on #2685
@yurishkuro This package is used in [the OpenTelemetry project](https://opentelemetry.io/) (in particular in the [OpenTelemetry Collector](github.com/open-telemetry/opentelemetry-collector)). I am sorry I did not give more context in my second message, @jpkrohling also contributes to this project so I skipped over some details.

[2020-12-10 16:18] js8080 opened #2686 "protoc failing when attempting to generate bindings for gRPC storage plugin"
I am attempting to create a C#-based gRPC Storage Plugin and I am getting stuck on the very first step of generating the bindings using `protoc`.

The [documentation ](https://github.com/jaegertracing/jaeger/tree/master/plugin/storage/grpc) says:

I'm running WSL 1 with Ubuntu and first I cloned the jaegertracing repo:
[code]

Then I tried to run protoc on `plugin/storage/grpc/proto/storage.proto`

[2020-12-10 16:44] yurishkuro commented on #2685
To clarify, my concern is that this creates a twice-removed dependency on an implementation detail in Jaeger. OTEL collector is once-removed, and from the ticket they don't need this enhancement, so it's only DD exporter which needs it, and as I understand it's not a core component in OTEL Collector, thus twice-removed. The /pkg does not extend any stability guarantees outside of Jaeger projects,

[2020-12-10 16:55] mx-psi commented on #2685
Ah, I wasn't aware about that, thanks for the clarification. I assumed since OTEL was using it it was fine to use outside of Jaeger. If you are okay with keeping the dependency, I would be willing to open a PR for this. Once released our intent would be then to use this in the OTEl Collector directly if a change is accepted there and otherwise use it only in the Datadog exporter.

[2020-12-10 18:16] yurishkuro commented on #2685
@jaegertracing/jaeger-maintainers PTAL

[2020-12-10 18:20] yurishkuro commented on #2686
You should try using https://github.com/jaegertracing/docker-protobuf/ instead of plain `protoc` (see Makefile in this repo for examples).

[2020-12-10 20:36] js8080 commented on #2686
I don't know what I'm doing wrong but it is not working for me. I run this for a simple test:
[code]

My docker downloads the image but it does not print out anything.

If I run this which I based on the [Makefile](https://github.com/jaegertracing/jaeger/blob/master/Makefile), the command is not interpreted correctly:
[code]

Errors with:
[code]

The fact that it breaks up the `github` and `.com`

[2020-12-10 20:41] yurishkuro commented on #2686
did you initialize git submodule? Looks like your idl dir is empty.

[2020-12-10 20:50] js8080 commented on #2686
No, that is not mentioned anywhere in the documentation:
https://github.com/jaegertracing/jaeger/tree/master/plugin/storage/grpc

[2020-12-10 20:51] yurishkuro commented on #2686
Please help us improve it, including adding example of generating proto if you make it work

[2020-12-10 20:52] yurishkuro commented on #2686
when you clone Jaeger repo, run `git submodule init && git submodule update`.

[2020-12-10 20:53] yurishkuro commented on #2686
The general instructions to mention it: https://github.com/jaegertracing/jaeger/blob/master/CONTRIBUTING.md#pre-requisites

[2020-12-10 21:01] js8080 commented on #2686
OK I got some code to generate!

[code]

I will create pull request to update the documentation with this info.

[2020-12-10 21:06] yurishkuro commented on #2686
I wonder if we could customize the Makefile, which already generates all this code for Go, to also do other languages. Really, the only difference in your example should be this `--csharp_out=` part, we could have it as an optional param, and then just have users run `make proto PROTO_EXTRA="--csharp_out=..."`

[2020-12-10 21:09] js8080 commented on #2686
I'm OK with that approach but we should also document that capability on the README here:
https://github.com/jaegertracing/jaeger/tree/master/plugin/storage/grpc/README.md

Also, sorry I'm a noob at this. I can't seem to create a branch to make a PR. I'm guessing that's restricted maybe...

[2020-12-10 21:11] yurishkuro commented on #2686
you cannot push a branch to this repo, you need to fork it and push a branch to your fork, then you can create a PR from it. E.g. I have this setup:
[code]

[2020-12-10 21:58] joe-elliott commented on #2685
I generally think it's fine as long as @mx-psi is fine with the taking on the risk of depending on this package.  In practice it probably won't change much, but we know how that goes.  Perhaps it would be easier to fork the queue if there will be more changes to come?  It's not a ton of code and if you need a lot of specialized behavior that could be easier in the long run.

This particular change

[2020-12-11 01:42] js8080 commented on #2686
OK, I think I did it right :)
https://github.com/jaegertracing/jaeger/pull/2687

[2020-12-11 01:48] #2361 closed

[2020-12-11 04:18] #2686 closed

[2020-12-11 09:15] jpkrohling commented on #2638
Related PR: https://github.com/apache/thrift/pull/2292

[2020-12-11 09:37] albertteoh opened #2688 "Flaky span counts caused by flaky elasticsearch span queries"
**TLDR;**
Indeterministic behaviour from ES span query results leading to flaky span counts (and span sets) for traces. This appears to happen when `ES_MAX_DOC_COUNT * num_index_shards < num_spans_in_trace`. Has anybody seen this before and know if there is an easy fix for it, perhaps in ES configuration? @pavolloffay

**Observations**
The following gif demonstrates the symptom resulting from the

[2020-12-11 09:51] objectiser commented on #2685
One thing we need to consider is the changes that will occur for jaeger v2 - so better if it wasn't dependent upon this pkg.

[2020-12-11 10:03] mx-psi commented on #2685
I think we are fine with that, we don't plan on making further changes and if the Jaeger project needs to make significant breaking changes on this package we can always fork later.

@objectiser note that this package is *already* a dependency of the OpenTelemetry Collector (see [here](https://github.com/open-telemetry/opentelemetry-collector/blob/e1a6806fe796b5f96a7f7b3e2356d720382a15c0/exporter/

[2020-12-11 10:53] jpkrohling commented on #2685
IMO, if we have something as part of `pkg`, Go conventions "dictate" that others can consume and expect semver compatibility. I wouldn't have added a dependency just because of this queue, but it's out there already.

For v2, we should place things like this in an `internal` package, preventing go mod from adding such dependency.

[2020-12-11 17:05] yurishkuro commented on #2685
The main reason we have avoided using `internal` packages is that Uber's internal builds are cherry-picking quite a lot of different components, and I definitely ran into issues trying to move some stuff under `internal`. So we kind of opened that can of worms.

[2020-12-11 23:10] bobrik commented on #1438
Good to know about v2 plans with regards to plugins.. I'll revisit a more official place for the Clickhouse plugin when v2 is ready, but for now if anyone wants to use the current implementation, feel free to apply patches from my branch:

* https://github.com/bobrik/jaeger/tree/ivan/clickhouse/plugin/storage/clickhouse

We're using it internally at Cloudflare.

[2020-12-11 23:17] yurishkuro commented on #1438
@bobrik to clarify, you implemented CH storage provider as a built-in component in a fork, not as gRPC plugin that can be attached at runtime, correct?

[2020-12-11 23:27] bobrik commented on #1438
@yurishkuro correct.

[2020-12-13 07:35] bhiravabhatla commented on #2138
@albertteoh Personally, for me the documentation is misleading.

https://www.jaegertracing.io/docs/1.21/deployment/#rolling-over-to-a-new-index
https://www.jaegertracing.io/docs/1.19/cli/

We used aliases and dint configure es.max-span-age. As we understood, with aliases - all the indices using jaeger-span-read alias would be taken into account while searching traces, but it turns out thats not th

[2020-12-13 19:07] yurishkuro commented on #2645
@Ashmita152 to confirm, is the current status correctly reflected in the checkboxes in issue description? I.e. just two more workflows remaining.

[2020-12-13 19:44] yurishkuro opened #2691 "[meta] Migrate from Travis to GitHub actions"
Split from https://github.com/jaegertracing/jaeger/issues/2645 to track the work in other repos:

  * [x] jaeger-lib https://github.com/jaegertracing/jaeger-lib/issues/85
  * [x] jaeged-idl https://github.com/jaegertracing/jaeger-idl/pull/68
  * [x] jaeger-operator
  * [x] jaeger-client-java https://github.com/jaegertracing/jaeger-client-java/issues/765
  * [x] jaeger-client-go https://github.com/

[2020-12-14 02:41] quinluong commented on #2452
Hi @zigmund
Thank you so much because of this issue. I'm facing to the same problem. I'm also using jukylin/jaeger-php for my project. After a long day for debugging, I figure out that the reason is about my data. It isn't all data, just only malformed data - where percentage is very small. So it is really difficult to debug if you are on production.
You can read this comment https://github.com/ja

[2020-12-14 02:44] quinluong commented on #2452
Hi @zigmund
Thank you so much because of this issue. I'm facing to the same problem. I'm also using jukylin/jaeger-php for my project. After a long day for debugging, I figure out that the reason is about my data. It isn't all data, just only malformed data - where percentage is very small. So it is really difficult to debug if you are on production environment.
You can read this comment #2638 (co

[2020-12-14 08:18] Ashmita152 commented on #2645
Hi @yurishkuro

Sorry for the delay on my side. Yes those are the only two workflows remaining. I will pick them this week.

[2020-12-15 17:25] #2138 closed

[2020-12-16 15:22] wiardvanrij opened #2693 "Unstable performance Jaeger UI (query) and lacking insights on the 'why'."
**Describe the bug**

In Jaeger UI, select a random service and just press "find traces".
Personally I experience the following:

- First time query often results in a long page load (10 seconds or higher)
- Sometimes changing to a different service to query, this often also takes long to load, at first.
- At random, most services, after hitting a few services, start to load faster.
- So to follow

[2020-12-17 07:08] albertteoh commented on #2693
I hear you @wiardvanrij, I have the same wish :). I can take a look at enabling logging of ES queries.

As for the slow Jaeger UI queries, if I'm not mistaken, Jaeger UI will download all trace data (include spans) when "Find Traces" is clicked, so it can take some time.

How far are you looking back? I believe ES may take a little longer when querying across multiple indices.

Can you also please

[2020-12-17 07:29] yurishkuro commented on #2693
query service could use some enhanced tracing instrumentation

[2020-12-17 07:36] albertteoh commented on #2693
BTW, this doesn't reflect all the ES queries made, it's just the first query to fetch traces. Jaeger will then make follow-up requests to fetch spans, which is probably the more time-consuming, but a little hard to do manually (this is where logging the ES query would be useful); but the above query does give some indication of the number of traces we're trying to fetch.

It's also worth noting th

[2020-12-17 11:10] wiardvanrij commented on #2693
Well, this gives some insights lol.
[code]

[2020-12-17 11:28] albertteoh commented on #2693
Jaeger will look back [`--es.max-span-age`](https://www.jaegertracing.io/docs/1.21/cli/) on read aliases, so it won't query across all indices.

[2020-12-17 17:18] mmohamadi opened #2694 "Lookback value does not affect the x-axis properly"
I set the lookback value to last 2 hours, but the x-axis didn't get affected properly and showed the tracing data of the last minute.
I also, set a custom range but the same problem occurred.

**Expected behavior**
Expected to see the tracing information of the last 2 hours

**Screenshots**
![Screenshot_20201217_203307](https://user-images.githubusercontent.com/35332133/102519210-72858080-40a7-11e

[2020-12-17 19:05] yurishkuro commented on #2694
I suspect the x-axis is bounded to the actual data points retrieved from the search. Just because you set 2hr look back does not mean that all points in the last 2hrs were retrieved (the number of traces is subject to the LIMIT parameter).

[2020-12-18 09:15] nfsp3k opened #2695 "Sampling strategies are not applied to the image 'jaeger:all-in-one'"
**Describe the bug**
Sampling strategies are not applied to jaeger all-in-one.
Even though I set the default sampling rate to 0.05, the Jaeger samples every trace.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Kubernetes cluster and run an application in the cluster
2. Create jaeger:all-in-one pod with the sampling strategies argument in the cluster
3. Send traffic to the cluster

[2020-12-18 09:15] nfsp3k opened #2696 "Sampling strategies are not applied to the image 'jaeger:all-in-one'"
**Describe the bug**
Sampling strategies are not applied to jaeger all-in-one.
Even though I set the default sampling rate to 0.05, the Jaeger samples every trace.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Kubernetes cluster and run an application in the cluster
2. Create jaeger:all-in-one pod with the sampling strategies argument in the cluster
3. Send traffic to the cluster

[2020-12-18 09:39] jpkrohling commented on #2696
Sorry for the noise, I thought this was about the operator.

[2020-12-18 09:39] #2696 closed

[2020-12-19 08:50] #2380 closed

[2020-12-19 08:50] #2360 closed

[2020-12-19 08:50] #2332 closed

[2020-12-19 08:50] #2069 closed

[2020-12-19 08:50] #2298 closed

[2020-12-21 14:04] rsvoboda commented on #2498
Hi @jpkrohling, any update on quay.io effort? If no, I will look into the image versions I would like to pull from quay.io. Thanks.

[2020-12-21 15:58] foggy-glasses opened #2699 "Jaeger query not picking up from Elasticsearch"
Hello..
I'm trying to setup Jaeger (production strategy) on an EKS cluster which has multiple services in multiple namespaces. I've followed the guide here https://www.jaegertracing.io/docs/next-release/operator/ and hooked it up to an elasticsearch storage that's running on the same VPC but on an EC2 machine. I've configured the jaegery-query basepath as /trace and hooked the setup to an nginx in

[2020-12-21 16:02] foggy-glasses commented on #2699
I had incorrectly stated this as a bug. And I'm unable to change the label either. I'll attempt to raise a new one with the proper label.

[2020-12-21 16:10] foggy-glasses commented on #2699
I can't find a way to raise an issue as a question as opposed to a bug nor can I find a way to relabel my issue. Hence, I'm reopening this. I'll be glad if this can re-labelled as a question rather than a bug.

[2020-12-21 17:07] #2699 closed

[2020-12-21 21:11] jpkrohling commented on #2498
I don't have news at the moment. There is a PR that would make it possible to send the same image to other repositories, but it hasn't been merged either. For now, do let me know which images you'd need there and I'll push them manually.

[2020-12-22 12:42] dennisjac opened #2700 "Jaeger misinterprets a span status code of 1 (UNSET) as error"
When a span does not have its status code explicitly set in open-telemetry is defaults to 1 which is `UNSET` but Jaeger then reports this as an error in the UI which is not correct. There exists an explicit status code of 2 that indicates an actual error so Jaeger should only report an error is the status code is 2.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a span that has a sta

[2020-12-22 16:38] yurishkuro commented on #2700
Jaeger does not accept opentelemetry data model natively, the conversion happens somewhere upstream, either in OTEL SDK or in the OTEL collector. Please describe your setup in more details.

[2020-12-23 03:08] lichuan6 opened #2701 "Apache Pulsar as alternative to Kafka"
Hi,
As I saw [many can be used as storage backends](https://github.com/jaegertracing/jaeger/issues/638), is there any plan to add pulsar as storage backend(an intermediary buffer)?

Thanks

https://pulsar.apache.org/

[2020-12-23 04:57] yurishkuro commented on #2701
We have no plans to support Pulsar.

[2020-12-23 11:50] dennisjac commented on #2700
I'm new to tracing and not entirely sure yet how all of the pieces fit together. With you comment above I looked at the OTEL Jaeger exporter and found that it does the correct thing:
https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-exporter-jaeger/src/transform.ts#L60

Then I found that this was fixed only six days ago here:
https://github.com/open-telemetry/op

[2020-12-23 11:50] #2700 closed

[2020-12-23 13:18] rsvoboda commented on #2498
We use `jaegertracing/all-in-one`, we do not specify concrete version though, just pulling the latest.
We can depend on concrete version for now, for example `1.21.0`. Hope this issue gets resolved soon.

Did some searching on quay.io (https://quay.io/search?q=jaegertracing) and some people do their own "mirrors".

[2020-12-23 13:33] jpkrohling commented on #2498
`quay.io/jaegertracing/all-in-one:1.21.0` is now available now

[2020-12-24 01:45] dk-lockdown opened #2703 "Badger still not cleaning data in jaegertracing/all-in-one:1.21.0"
Closing as should be resolved by https://github.com/jaegertracing/jaeger/pull/2613.

If the problem still occurs please reopen.

_Originally posted by @objectiser in https://github.com/jaegertracing/jaeger/issues/1916#issuecomment-729003390_

[2020-12-25 02:17] #285 closed

[2020-12-28 06:34] a1300 commented on #1488
FYI this is also documented in the [FAQ](https://www.jaegertracing.io/docs/1.21/faq/) on the documentation website

[2020-12-29 10:49] mx-psi commented on #2685
Hi, I am not sure what the outcome of this discussion is in the end. Are Jaeger maintainers okay with a PR for this issue? Should the OpenTelemetry Collector fork the queue package and I can discuss the changes there?

[2020-12-29 12:11] zigmund commented on #2638
Hi there,

I see that https://github.com/apache/thrift/pull/2292 is merged. Is it necessary to wait for new apache/thrift release to catch the fix in Jaeger?

[2020-12-29 16:23] yurishkuro commented on #2638
Yes, we need a numbered thrift release.

[2020-12-29 16:27] yurishkuro commented on #2685
Feel free to post a PR, I don't think it makes things worse given that we already have the dependency.

[2020-12-29 21:25] rsvoboda commented on #2498
https://quay.io/jaegertracing/all-in-one gives 403 Unauthorized, isn't the repository set to private?

[2021-01-03 11:12] nolash opened #2710 "make expects a command "esc" that I do not have"
nor do I know what it's supposed to be. any hints?

[code]

I'm on

* jaeger 1.21.0 (72b9a062e57afa466f30ebe0f547d34a9b57ea26)
* go version go1.15.6 linux/amd64
* archlinux 5.9.14-arch1-1

[2021-01-03 11:18] albertteoh commented on #2710
@nolash it looks like you'll need to run `make install-tools` as outlined in: https://github.com/jaegertracing/jaeger/blob/master/CONTRIBUTING.md.

[2021-01-03 11:25] nolash commented on #2710
That was it. Thanks @albertteoh

[2021-01-03 11:25] #2710 closed

[2021-01-03 13:37] Kasheeew commented on #931
Does it still work for somebody?
The Query and agent are in Restart state forever.
`2021/01/03 13:33:11 maxprocs: Leaving GOMAXPROCS=12: CPU quota undefined
{"level":"info","ts":1609680791.2230227,"caller":"flags/service.go:117","msg":"Mounting metrics handler on admin server","route":"/metrics"}
{"level":"info","ts":1609680791.223084,"caller":"flags/service.go:123","msg":"Mounting expvar handler

[2021-01-03 15:19] afishler commented on #2509
As we are looking deeper into that (I am from Logz.io as well), A question came up. We have the backend pretty much handled - the way @jkowall explained it.
On our model, users in one account can pretty much access data sets on various tenants - this is configurable as we set the different tracing tenants.

Question is, how should the UI be treated? In this use case/scenario when searching from an

[2021-01-03 18:01] yurishkuro commented on #931
Please do not recycle old tickets for different problems.

There is an error in your logs, but you did not show what command you run.

[2021-01-04 08:04] rsvoboda commented on #2498
I can access ^^^ now, thanks

[2021-01-04 11:54] albertteoh opened #2711 "Flaky test: TestHotReloadUIConfigTempFile"
**Describe the bug**
The `TestHotReloadUIConfigTempFile` test appears to fail due to timeout after not detecting the config changes.

**To Reproduce**
Steps to reproduce the behavior:
1. `go clean -testcache && go test  -test.count=50 ./cmd/query/app -v -run TestHotReloadUIConfigTempFile`
2. Resulting failure (note the first succeeds, next attempt fails):
[code]

**Version (please complete the fol

[2021-01-05 12:30] nickebbitt opened #2715 "collector.queue-size-memory option doesn't account for all of the memory used by enqueued trace spans"
**Describe the bug**
The [documentation](https://www.jaegertracing.io/docs/1.21/performance-tuning/#adjust-queue-size) related to constraining the memory used by the queue is unclear.

We have attempted to use the `collector.queue-size-memory` option (on k8s so via the env variable `COLLECTOR_QUEUE_SIZE_MEMORY`) but our expectations based on the docs was different to how it actually works.

From a

[2021-01-05 17:16] yurishkuro commented on #2715
`queue-size-memory` is certainly not the total memory limit, that would be quite difficult to enforce. However, aside from some maps that store metrics (and hopefully those should be relatively small), the queue should be the only place where memory is actually held for data in the pipeline. Conversions like `zipkin.toDomain` allocate objects that will eventually be held in that queue, so it's not

[2021-01-05 17:32] nickebbitt commented on #2715
Hey, understood re: total memory limit although, as a user, this means that using a number such as 80MB to constrain the queue doesn't feel like it makes much sense.

Here are a couple of graphs that show how memory is affected with a full queue based on 80MB and 1Gb memory request, the queue being full results in ~75% of the available memory being consumed, and the memory consistently stays at th

[2021-01-05 17:51] yurishkuro commented on #2715
I've always been suspicious about trying to limit actual mem size of the queue :-) Sounds like the calculations used are not accurate. In fact, we might be using the Size() function provided by Proto classes, which likely only refers to on-the-wire size, not in-memory size; the latter can be larger due to alignments, etc.

[2021-01-05 17:52] yurishkuro commented on #2715
cc @jpkrohling

[2021-01-07 06:16] #2711 closed

[2021-01-07 16:44] #2685 closed

[2021-01-08 20:30] yurishkuro opened #2717 "Rethink stale bot integration"
I would like to apply stalebot to PRs automatically without the need for an extra label (currently we require `needs-info`), because most old PRs are pending due to authors not following up, not because maintainers did not review them.

Side Q: why is this issue #2465 not being closed by the bot? It's supposed to close after 7 days, the last update was 21 days ago.

cc @jpkrohling

[2021-01-08 20:46] aug70 opened #2718 "Jaeger Query throws Error 400 (Bad Request): all shards failed [type=search_phase_execution_exception]"
**Describe the bug**
Jaeger UI throws ```Error 400 (Bad Request): all shards failed [type=search_phase_execution_exception]``` while all indices are GREEN. Collectors keep adding records but UI doesn't work or be able to show any traces.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
Jaeger UI should work as expected.

**Screenshots**
If applicable, add screensh

[2021-01-08 21:49] albertteoh commented on #2688
Closing given no responses for some time. Have moved this question to Elasticsearch Issues so it's not lost: https://github.com/elastic/elasticsearch/issues/67215.

[2021-01-08 21:49] #2688 closed

[2021-01-08 22:47] bobrik opened #2719 "Jaeger all-in-one complaints about missing parent spans"
**Describe the bug**

I have an issue when jaeger-all-in-one incorrectly complains about missing parent spans:

Here's an example:

[code]

The error says "invalid parent span IDs=ce8562a5c9781762", but `ce8562a5c9781762` is right there in the JSON.

**To Reproduce**

Steps to reproduce the behavior:

1. Run jaeger all-in-one
2. Start producing a trace
3. Open the trace before it's full produced
4

[2021-01-08 23:14] yurishkuro commented on #2719
good catch, the memory storage should return cloned data so that the caller is free to do whatever with it, similar to how remote storage backends work

[2021-01-09 03:04] aug70 commented on #2718
Collectors log ```2021-01-09T02:08:20.952331746Z {"level":"debug","ts":1610158100.9485595,"caller":"app/span_processor.go:149","msg":"Span written to the storage by the collector","trace-id":"245aec81734c311e","span-id":"2b1dc897b7e5c9e4"}``` which looks like trace data is successfully written.

But trace data is failed at ES with ```
{"type": "server", "timestamp": "2021-01-09T02:40:31,248Z", "le

[2021-01-09 16:28] #2719 closed

[2021-01-10 20:45] #1027 closed

[2021-01-10 20:55] yurishkuro commented on #1552
now duplicate of https://github.com/jaegertracing/jaeger-ui/issues/435

[2021-01-10 20:55] #1552 closed

[2021-01-10 20:59] #2694 closed

[2021-01-10 21:05] yurishkuro commented on #2607
I think you've already identified the issue: `Ports are not available`. It's not an issue with Jaeger, but with your environment.

[2021-01-10 21:05] #2607 closed

[2021-01-10 21:06] yurishkuro commented on #2600
Superseded by #2645 - migrating to GitHub Actions.

[2021-01-10 21:06] #2600 closed

[2021-01-11 15:18] jpkrohling commented on #2717
We can add another more appropriate label, like 'waiting-on-author'. My main issue with simply closing PRs automatically without a filter is that we might get a false-positive in there, and I think it's really rude with the author to close their issue/PR without a human getting in touch first. It's also really bad if we threaten to close a PR/issue if it's pending on something on our side.

I'm no

[2021-01-11 15:51] aug70 commented on #2718
Query doesn't work when I create templates for service and span:

[code]

[code]

[2021-01-11 16:26] yurishkuro commented on #2717
There are many ways to prevent a PR from closing after the bot warns that it became stale - we or the author can comment back to extend it, or we can even put a special "hold" tag on it. Whereas the current situation is that the majority of PRs are reviewed, but the authors do not follow up, and we have to explicitly go and tag them to make them eligible for stale bot - that's an unnecessary frict

[2021-01-11 18:12] yurishkuro commented on #2674
Duplicate of #2085

[2021-01-11 18:12] #2674 closed

[2021-01-11 19:10] bboreham commented on #1986
First, let me mention the other workaround of setting `enableServiceLinks: false` in your Kubernetes manifests.

Now I would like to nit-pick:

It happens when you have a Kubernetes Service named `jaeger-agent` _in the same namespace_.

[2021-01-12 06:15] WalkerWang731 opened #2722 "Not support Kafka SASL/PLAIN authentication of SCRAM-SHA-256 or SCRAM-SHA-512 mechanism"
**Describe the bug**
In the current version, Kafka authentication only supports `PLAIN` mode, not support `SCRAM-SHA-256` or `SCRAM-SHA-512`. For this issue. I have already added support and commit a new PR later.

**To Reproduce**
Steps to reproduce the behavior:
1. Set Kafka configuration `server.properties`, like this:
[code]
For the details can refer: [kafka-documentation](https://kafka.apache

[2021-01-12 06:57] yurishkuro commented on #2722
Duplicate of #2046

[2021-01-12 07:00] WalkerWang731 commented on #2722
but this PR did not merge to the current version.

[2021-01-12 07:02] yurishkuro commented on #2722
Yes, the PR was not finished, but the issue is a duplicate.

[2021-01-12 07:05] WalkerWang731 commented on #2722
ok I see, I will create a new PR for this one and previous #2046

[2021-01-12 07:13] yurishkuro commented on #2722
There is already a PR #2110, but it's not finished (unit tests are failing). I recommend picking up from where it left off.

[2021-01-12 07:13] #2722 closed

[2021-01-12 07:13] yurishkuro commented on #2722
closing as a duplicate

[2021-01-12 08:38] jpkrohling commented on #2717
We can try it, even though I'd prefer to have us review/discuss the open PRs periodically and ping the authors directly. I think we moved a bit in this direction in the past by assigning PRs to maintainers, but that didn't help much.

[2021-01-12 09:47] jpkrohling commented on #2509
Supporting results from multiple sources is what I meant here:

[2021-01-12 15:07] jpkrohling commented on #2715
I can take a look at this one, but before moving forward, do you have a positive confirmation that this setting is indeed taking place? There should be both an entry in the logs and a Gauge in the metrics endpoint.

[2021-01-12 15:36] nickebbitt commented on #2715
Here's an example log message, we are now configuring the queue at 15MB
[code]

And I can see the following metric, if that's the one you're referring to

<img width="2531" alt="Screenshot 2021-01-12 at 15 34 54" src="https://user-images.githubusercontent.com/5111725/104335974-d1de8100-54eb-11eb-8999-03800ccd17c4.png">

[2021-01-12 18:07] yurishkuro commented on #2717
I don't think this manual approach scales. Most maintainers don't have time for that, and just pinging the author can be automated, humans don't add much to that process imo (I don't want to play the role of todoist). I think the bot already does a ping by asking "is anything blocking you..." etc.

[2021-01-13 03:36] reidlai opened #2725 "Golang-based persistence"
## Requirement - what kind of business use case are you trying to solve?

Would like to explore golang-based persistence instead of using java-based elasticsearch, kafka, and cassandra

## Problem - what in Jaeger blocks you from solving the requirement?

Because java based deployment footprint consumed too much memory/cpu compared with golang and jaeger is golang based solution, would like to see

[2021-01-13 05:47] yurishkuro commented on #2725
we already have plugin architecture: https://github.com/jaegertracing/jaeger/tree/master/plugin/storage/grpc

[2021-01-13 06:36] Betula-L commented on #207
**If applicable, what company/organization do you represent? How many software engineers?**

Bilibili;

**How are you using Jaeger? E.g. full production deployment, considering, experimenting, or "I am not using Jaeger" etc.**

We are using Jaeger in production for most of our applications on Kubernetes, as well as few of applications deployed on machine.
We use Jaeger Agent and Jaeger Collector w

[2021-01-13 10:37] ehsavoie commented on #2498
could a latest be defined so we don't have to specify the version ?

[2021-01-13 11:57] yoave23 opened #2726 "Allow setting multiple index prefixes and choose from them in the UI"
## Requirement - what kind of business use case are you trying to solve?
this is a slim version of https://github.com/jaegertracing/jaeger/issues/2509
We'd like to allow the user to query different (pre-configured) data sources

## Problem - what in Jaeger blocks you from solving the requirement?
Currently, jaeger does not have a solution for querying from different data sources (es indices in our

[2021-01-13 15:15] jpkrohling commented on #2717
Alright, we can try it :-)

[2021-01-13 15:20] jpkrohling commented on #2725
Closing, as I think this was addressed by @yurishkuro , but feel free to reopen if that's not the case.

[2021-01-13 15:20] #2725 closed

[2021-01-13 16:08] jpkrohling commented on #2498
Done. Note that until we have a proper publishing mechanism for quay, there's a risk that `latest` won't necessarily match the latest we have in Docker Hub

[2021-01-13 17:19] sagaranand015 commented on #2027
@jpkrohling: I was going through this issue and tried a few approaches.
As I understand, the idea is to make the API paginated. To introduce pagination, say in case of **api/traces** API, can we not use the TraceQueryParams? We already have a **limit** queryString, adding support for an **offset** queryString would allow the offset data being passed to the appropriate storage layer implementation

[2021-01-13 17:31] yurishkuro commented on #2027
1. Offsets are a poor way of implementing pagination (there's an unnecessary long blog post that explains why: https://tusharsharma.dev/posts/api-pagination-the-right-way#offset-pagination)
2. Our storage backends (Cassandra & ES) currently do not organize the data in a way that would allow for consistent result ordering to implement pagination

[2021-01-13 19:09] yurishkuro opened #2727 "Downsampling in query service?"
It seems we have the wrong scope of these flags, what meaning do they have for the query service?
[code]

[2021-01-13 19:12] yurishkuro commented on #2726
I have conceptual problems with this approach:
  * ES indices is an implementation detail of the storage backend, not a concept that the UI users need to be aware of
  * ES indices is just one of implementations, whereas "tenancy" could just as well apply to Cassandra backend, e.g. by using different namespaces

I don't think we can achieve the desired result via this shortcut. The UI needs a prop

[2021-01-13 21:11] #2656 closed

[2021-01-14 06:49] albertteoh commented on #2718
@aug70 please provide the steps to reproduce this locally. FWIW, the integer type `flags` mapping has been around for 17 months so it's not obvious to me how this error came about.

[2021-01-14 08:49] jpkrohling commented on #2727
I can schedule some time to track this down.

[2021-01-14 09:40] flf2ko commented on #2718
hi @aug70.
I have the same issue as yours recently.
I found the reason is that we have two different versions jaeger collector at the same time, and I guessed the index mapping was created by older version of jaeger.
In my case, I upgrade all jaeger collectors then remove all previous indices, then it works.

[2021-01-14 14:21] jpkrohling commented on #2718
That sounds odd. Would it happen during a regular upgrade from the older version to the new one as well? Would you need to delete indexes to use the newer collector? It should *not* be the case.

[2021-01-14 14:42] jkowall commented on #2726
This can get really complex especially without using a database to manage configs which we wanted to avoid I am sure. Also have dynamic names for the dimensions becomes difficult from a UI perspective. I do think having tenants and environments would give a lot of flexibility and likely meet 95% of the requirements that come up. We could have the environment selector in the search which would prov

[2021-01-14 15:55] #2046 closed

[2021-01-14 16:02] yurishkuro commented on #2726
I think in the first implementation the tenancy should be described in a config file, not a database.

[2021-01-14 18:28] jkowall commented on #2726
Just wouldn't work for us since we have thousands or tens of thousands of tenants and we'd have to dynamically change the config files on the fly which is not ideal. I'll let @albertteoh chime in when he's back at the keys.

[2021-01-14 18:37] yurishkuro commented on #2726
So then you *do* need a database for tenants :-) Not sure how to interpret your previous https://github.com/jaegertracing/jaeger/issues/2726#issuecomment-760239683

I think either way, we'd need an API on the query service for accessing this data, which can be backed by a set of configs or by a database.

[2021-01-15 10:34] jpkrohling commented on #2726
If they are all configured following a pattern, the multi-tenancy proposal would cover this by applying a generic configuration that uses the tenant value from the bearer token. Like this:

[code]

[2021-01-15 18:57] robross0606 commented on #638
What about Apache Solr?

[2021-01-15 19:37] robross0606 commented on #638
With the [recent changes to ElasticSearch licensing](https://anonymoushash.vmbrasseur.com/2021/01/14/elasticsearch-and-kibana-are-now-business-risks), this just because *SUPER* important.

[2021-01-19 10:40] jpkrohling commented on #638
The ES changes do look worrying, but not sure this justifies supporting Solr. It does help the case of advancing with *some* other storage.

[2021-01-19 12:30] maxekman commented on #1895
It would be awesome to have a working Postgres storage driver. @jozef-slezak What is the current status of the driver? Do you think it's usable (-ish) in production?

[2021-01-19 16:30] yurishkuro opened #2734 "When to release 1.22"
* [x] #2048 Add support for Elasticsearch ILM Polices
  * [x] #2738 Remove deprecated CLI flags
  * [x] #2645 & #2810 GitHub Actions for release process
  * [x] #2337 TLS support for HTTP API of Query server
  * [ ] ~~#2781 Remove temporary usage of a personal Thrift fork~~

[2021-01-19 16:33] yurishkuro commented on #2734
The only two open PRs that might be interesting to add are these:
  * #2454 Add support for Elasticsearch ILM Polices
  * #2337 TLS support for HTTP API of Query server  (approved)

[2021-01-20 12:39] omerfsen commented on #2465
I see it is created on helm-charts

[code]

[2021-01-20 12:39] #2465 closed

[2021-01-20 15:02] jpkrohling commented on #2734
I was kinda expecting to release a version bump fixing the Thrift issue for the agent. Do you think it would be worth forking Thrift for the time being, so that we can tag our fork to be able to use the fix?

[2021-01-20 15:03] jpkrohling commented on #2734
Also, we have a couple of things in the milestone: https://github.com/jaegertracing/jaeger/milestone/16

[2021-01-20 19:18] yurishkuro commented on #2734
perhaps. Not sure how much work it is.

[2021-01-20 20:15] jpkrohling commented on #2734
I might be wrong, but I think it's just a matter of forking/tagging for the Go library. I can try to schedule some time to experiment with this.

[2021-01-21 08:44] albertteoh opened #2736 "Create a metrics query endpoint"
## Requirement - what kind of business use case are you trying to solve?

To integrate (operational R.E.D) metrics into Jaeger, which opens up potential use cases such as:
- Building an operational homepage.
- Enriching DAG feature with call count, latency and error data.
- Sort services/operations in Jaeger UI search by relevancy such as highest latency/errors first instead of alphabetical sortin

[2021-01-21 09:24] jpkrohling commented on #2736
I think this isn't something that belongs to the Jaeger core. We already have quite a few things to do in the tracing front and there are capable UIs out there serving as metrics dashboards. For instance, when used with Istio, Kiali can get this kind of information:

![kiali-example](https://miro.medium.com/max/700/1*2w0ZcMJ1BRuLjTSjGCIkkA.png "example from Kiali")

Instead of having to use a metr

[2021-01-21 11:12] deem0n commented on #1895
We just completed the original code by jozef-slezak and made some fixes. We can see Web UI working with spans stored in the PostgreSQL DB. Please check out our fork at https://github.com/luxms/jaeger-postgresql

[2021-01-21 11:24] albertteoh commented on #2736
@jpkrohling thanks for your thoughts. In fact, the proposal is to use our trace information to provide this kind of information. This is described in more detail in the linked [proposal document](https://docs.google.com/document/d/1JVW-Mjn4QCqYJKeyCVIWNbXRdeGbqJjghKuIcIBqHKo/edit?ts=60078e31#). Sorry it wasn't clear in this issue description, I've updated it.

The idea is the OTEL collector will a

[2021-01-21 11:29] anayrat commented on #1895
I can't help you by review database schema, query and indexes.

[2021-01-21 12:27] jpkrohling commented on #2736
Nice proposal, sorry for not properly reading it first. I think I need some time to process it, as my initial reaction is the same: we might be going on a path that would deviate us from our main purpose (tracing). If we were to derive this information from the storage that we already use, I'd be fine with it, but getting this data from a metrics backend sounds weird, especially as the source of i

[2021-01-21 12:47] kevinearls commented on #2736
@jpkrohling to be honest, I don't really know enough about IOx yet to say either way.

[2021-01-21 13:33] deem0n commented on #1895
Thanks @anayrat!

Probably we can discuss that on https://github.com/luxms/jaeger-postgresql, just make Issue. BTW, we have plans to use TimescaleDB at some point.

[2021-01-21 13:56] maxekman commented on #1895
Really cool, I'll hopefully be able to test this in our staging env next week.

[2021-01-21 14:56] yurishkuro commented on #2736
I don't view this as "metrics" solution, but as a way to navigate to interesting traces through aggregate views. Most of these aggregates naturally take form of time series, hence the need for a storage backend that can store time series.

[2021-01-21 15:06] jpkrohling commented on #2736
This is actually why I asked above about IOx. If our own storage can answer this, we don't need to require people to convert traces to data points only to come back to Jaeger later.

[2021-01-21 15:43] jpkrohling commented on #2736
Not sure about the other arguments, but you are right about the sampling. I think we'll talk about storage tomorrow, so, we can discuss more about this after that. But I think this is looking good.

[2021-01-22 01:30] yurishkuro opened #2738 "Remove deprecated CLI flags"
We've accumulated a lot of deprecated flags, it would be good to remove them. Need to verify some of these, but I think all of them are past their expiration date.

We **should not** clean them in a single PR since they usually require code changes, better to do one PR per flag.

* [x] admin flags #2752
* [x] collector raw ports #2751
* [x] agent tags #2753
* [x] queryPortWarning & queryHOSTPortWa

[2021-01-22 05:25] yurishkuro commented on #638
AWS announced an Apache-2 licensed fork of ES, logz.io also said something similar (could be the same effort). So I don't think there's reason to panic.

I don't think Elastic changed the terms for the Go driver which we started using in OTEL-based collector, but we'd need to watch for that.

[2021-01-22 08:21] jpkrohling commented on #638
Absolutely, especially because they can't change the license for something that was released already. So, folks currently using ES don't have a reason to change immediately. If they need to update for some reason, like due to a security problem or general bug fix, then it might become problematic.

While I appreciate the work that logz.io is doing in this front, having multiple sources of ES doesn

[2021-01-22 13:10] jkowall commented on #638
We are working with several organizations including AWS on an open source version of ES and Kibana which will be Apache licensed and hopefully part of the ASF. I will know more in the coming days.

I've had a hard time getting RedHat engaged (they have canceled twice now) so if you can help with that @jpkrohling then we'd love it :)

Anyone interested in contributing or taking part in the communit

[2021-01-22 14:27] RashmiRam commented on #1739
@pavolloffay This problem is more visible when viewing a single trace having more than 10k spans. The view is totally distorted if few of the key parent spans were missed during fetching. Shall we employ this tiebreaker approach if request is coming for GetTrace API where single trace is requested to be seen? Won't that perf problem be diluted when viewing a single trace? Please let me know what d

[2021-01-22 14:53] yurishkuro commented on #1739
Why would they be missing, because of 10k limit on the result size? Why not just increase the limit?

[2021-01-22 15:39] RashmiRam commented on #1739
Yes. It is missing because of the 10k limit. There are cases where there are more than 50k spans per trace 😅. _(I understand that 50k spans per trace is not ideal to have. But, We have multiple consumers for a single producer and one request could produce multiple events which in turn will be consumed by every consumer. Each of the consumers can add their own share of spans. Hence more span count

[2021-01-22 16:53] yurishkuro commented on #1739
Unless we do a fundamental re-architecture of how ES backend stores spans, I don't see what else can be done other than increasing the limit. It's not unheard of to have >50K span, pretty common, actually. If you legitimately have these large traces, and you have a limit below that size, I don't think there's any reasonable query scheme that will not result in broken traces (I just don't think it'

[2021-01-22 17:48] RashmiRam commented on #1739
Thanks @yurishkuro for the detailed response. Yes. We can try increasing the size and test to see how ES is handling this.

[2021-01-23 18:25] pradeepnnv commented on #2738
I'd like to submit a PR for removing `healthCheckHTTPPortWarning`.

[2021-01-25 09:18] omerfsen commented on #1691
With using above permissions I am getting error

[code]

[code]

So added **monitor** to the Privileges.

[code]

[2021-01-26 15:40] yurishkuro commented on #2734
Added #2645

[2021-01-26 19:15] davidcmitchell commented on #2249
Hey @rjs211 are you also working on the Client to Collector TLS support as well?

[2021-01-26 21:08] jkowall commented on #367
@yurishkuro You can close this out I believe.

[2021-01-26 21:15] yurishkuro commented on #367
Well, the code is not in a usable state yet. Closing means we're not going to do it imo.

[2021-01-27 02:13] addisonj commented on #2701
@yurishkuro a few questions for you:

1. Do all these backends need to live inside jaegar core? From what I can see at the moment, it looks like they are all in core but was curious if alternatives exist for "external" storage backends or if you have plans for such a mechanism in the future
2. Supposing that members of the pulsar community were interested in helping to develop and maintain a pulsa

[2021-01-27 02:21] yurishkuro commented on #2701
Pulsar is not a (storage) backend, it can only be used as a queue. For storage backends we have a grpc plugin framework, so that the plugins can be developed outside of Jaeger core and don't have to be in Go. We do not have similar plugin framework for Kafka, it is integrated directly in the core. We prefer not to add anything more to the core due to maintenance burden.

Basically, we're limited b

[2021-01-27 02:21] #2701 closed

[2021-01-27 11:43] rjs211 commented on #2249
@davidcmitchell Thank you.  I havent started working on Client to collector side of things yet.  If it isnt of great urgency, i can start working on it from Monday. Would that be alright?

[2021-01-27 11:43] rjs211 commented on #2249
@davidcmitchell Thank you.  I havent started working on Client to collector side of things yet.  If it isnt of great urgency, i can start working on it from Monday. Would that be alright?

[2021-01-27 18:30] davidcmitchell commented on #2249
That’s great, thanks!

On Wednesday, January 27, 2021, rjs211 <notifications@github.com> wrote:

[2021-01-27 19:35] kaz-zahed opened #2744 "Kerberos authentication for KDCs like Active Directory that do not support FAST negotiation"
## Requirement - what kind of business use case are you trying to solve?

Kerberos authentication for KDCs like Active Directory that do not support FAST negotiation.

## Problem - what in Jaeger blocks you from solving the requirement?

Jaeger does not expose the configuration property that allows disabling FAST negotiation for Kerberos authentication.

## Proposal - what do you suggest to solve

[2021-01-29 16:50] yurishkuro opened #2748 "Try building with upcoming Go 1.16"
There are some changes to default handling of modules in Go 1.16 (https://tip.golang.org/doc/go1.16), we need to verify that out build still works.

[2021-01-29 16:51] yurishkuro opened #2749 "Replace the use of "esc" with standard "embed" package"
We're currently using `github.com/mjibson/esc` to embed certain files (like UI assets) into binaries.

Upcoming Go 1.16 supports this with a new standard package [embed](https://tip.golang.org/pkg/embed/) and `//go:embed` directive.

* [x] investigate what it would take to switch to `embed` #2835
* [x] embed HotROD assets #2835
* [x] embed Elasticsearch mappings #2822
* [x] embed UI assets (NB: we

[2021-01-29 17:00] yurishkuro commented on #2749
A blog post that might be useful (I did not read it yet): https://lakefs.io/working-with-embed-in-go/

[2021-01-30 06:35] BernardTolosajr commented on #2738
Let me work on removing adminHTTPPortWarning. Thanks

[2021-01-30 06:54] BernardTolosajr commented on #2679
I will check the issue. thanks

[2021-01-30 12:15] lonewolf3739 commented on #2749
@yurishkuro I would like to work on this.

[2021-01-30 15:44] yurishkuro commented on #2749
+1

[2021-01-31 04:40] LostLaser commented on #2738
I can pick up ```collectorHTTPPortWarning```

[2021-01-31 17:43] #2645 closed

[2021-02-01 04:56] yurishkuro commented on #2738
@rjs211 I just noticed that you had to juggle various permutations of the old settings, but according to the deprecation timestamp, both `-query.port` and `-query.host-port` are due to be removed. Since we're doing this clean-up for the next release anyway, would you like to remove them as part of this ticket, and possibly simplify the logic (as well as the CHANGELOG)?

[2021-02-01 05:09] #2457 closed

[2021-02-01 18:42] gsagula commented on #2748
Can I take this one?

[2021-02-01 19:02] yurishkuro commented on #2748
go for it

[2021-02-01 21:29] meshpaul commented on #1438
@bobrik Did you get to run this on a real CH cluster?  I would imagine if the sharding is done on a CH cluster the search and ingestion performance should have been improved.

[2021-02-01 21:41] bobrik commented on #1438
Yes, we run it on a 3 node cluster with 3x replication these days.

[2021-02-01 22:54] meshpaul commented on #1438
So how does this then compare to ElasticSearch equivalent.  In terms of infrastructure need for back-ends `ClickHouse` vs `ElasticSearch`

- cluster size
- data ingestion size
- queries

Ex you mentioned previously you were comparing `Search performance is roughly the same, but I'm comparing single Clickhouse node to 48 Elasticsearch nodes`  And I would like to clarify that as per your statement 1

[2021-02-02 01:17] rjs211 commented on #2738
@yurishkuro  Sure.  Will do this first.  I'll move to #2249 after this.

[2021-02-02 10:14] jpkrohling opened #2760 "Flaky test TestKafkaStorage/GetTrace"
Seen here: https://github.com/jaegertracing/jaeger/pull/2759/checks?check_run_id=1813633773. The mentioned PR does not touch Kafka at all.

[code]

[2021-02-02 13:22] joe-elliott commented on #2727
The query service adds storageFactory flags here:

https://github.com/jaegertracing/jaeger/blob/e677384baeb9a39a8ec1bf7ec55ed1afc1d35323/cmd/query/main.go#L144

which adds the downsampling flags here:

https://github.com/jaegertracing/jaeger/blob/e677384baeb9a39a8ec1bf7ec55ed1afc1d35323/plugin/storage/factory.go#L170

A quick git blame suggests it has been this way for years.  We could split these

[2021-02-02 17:43] yurishkuro commented on #2727
+1

However, when archive storage is configured query can also write

[2021-02-02 20:21] yurishkuro opened #2771 "Upgrade google.golang.org/grpc to 1.35.0"
The dependabot PR #2765 ran into compatibility issue, needs manual upgrade

[2021-02-02 20:27] jpkrohling commented on #2717
It might be easier to migrate to the [actions/stale](https://github.com/actions/stale). I've seen reliability issues with the "legacy" stale bot before.

[2021-02-02 22:31] devrimdemiroz commented on #2736
As an end-user, for a period of time, I am trying to have an aggregated statistics / metrics of the very same data presented under "Trace Statistics" of a trace. Also tried over Grafana. I checked the metrics provided under name prometheus, did not exist.  Cheked opentelemety metrics both in javaagent metrics exporter and otel collector exposed ones... no luck. In that sense, I value the motivatio

[2021-02-02 22:43] achandras commented on #2498
Hi, we're also getting 403 on https://quay.io/jaegertracing/jaeger-agent, could that be opened up too? Thanks

[2021-02-03 01:25] LostLaser commented on #2760
I'd like to give this one a shot

[2021-02-03 01:54] yurishkuro commented on #2760
+1

[2021-02-03 06:33] #2748 closed

[2021-02-03 07:49] mcspring commented on #1438
@bobrik Are you still working on this issue? I find some issues with you forked version, and I have some commits to fix them. Should I submit a PR to you?

[2021-02-03 08:43] jpkrohling commented on #2498
That one doesn't actually exist. Which version do you need there? I can try to do a manual push.

@Ashmita152, do you think it's easy now to add this to the CI? I know you've done some work around this lately.

[2021-02-03 10:44] jpkrohling opened #2781 "Remove temporary usage of a Thrift fork"
The PR #2780 introduced the usage of a personal fork for Apache Thrift Go libraries to address a memory problem with the agent. Once a new version of Thrift is released that includes the fix, we need to revert that and use the official library again.

[2021-02-03 12:21] jkowall commented on #1438
@bobrik Very nice, much more efficient, but there isn't a scale-out mechanism really for ClickHouse which is a big concern for us. You also wouldn't have Kibana to query it, which is pretty useful for dashboarding and analytics. Here is a dashboard we use from Kibana (this is demo data).

![image](https://user-images.githubusercontent.com/1859948/106746276-4fc81080-65f0-11eb-93ee-d608fcc3d516.png)

[2021-02-03 12:47] Slach commented on #1438
@jkowall why you think ClickHouse doesn't have scale-out? It near-linear scalability available in ClickHouse itself by design

just add shard with hosts to `<remote_servers>` in /etc/clickhouse-server/config.d/remote_servers.xml
and run `CREATE TABLE ... Engine=Distributed(cluster_name, db.table, sharding_key_expression) ON CLUSTER ... ;`

after it you can insert into any host and data will spread

[2021-02-03 14:24] achandras commented on #2498
Thanks for the quick response @jpkrohling, we would like to use 1.21.0 from the quay repo if possible

[2021-02-03 16:08] yurishkuro commented on #2771
We may also want to include github.com/golang/protobuf -> 1.4.3 which also failed in #2774 due to deprecation. It will require regenerating proto types, which probably requires upgrading https://github.com/jaegertracing/docker-protobuf

[2021-02-03 16:12] jkowall commented on #1438
@Slach yes I saw that, but if you have hundreds of nodes it can be an issue I would assume. We run thousands of nodes of ES. Bigger issue would be supporting ClickHouse in Kibana, but that's for another project :)

[2021-02-03 20:54] bobrik commented on #1438
@mcspring I'm not actively working on it at the moment, since it doesn't require any maintenance from me. Feel free to submit a PR and I'll get to it eventually.

[2021-02-04 00:51] Ashmita152 commented on #2498
Sure, I will work on it. Yes, it should be easy.

[2021-02-04 02:26] #2727 closed

[2021-02-04 15:30] Slach commented on #1438
@jkowall try to use https://github.com/Altinity/clickhouse-operator/

[2021-02-04 15:35] #2452 closed

[2021-02-04 17:58] #2550 closed

[2021-02-05 06:34] yurishkuro commented on #2738
Thanks everyone, this was a fun collective effort.

[2021-02-05 06:34] #2738 closed

[2021-02-06 19:51] LostLaser commented on #2760
If anyone is following this, I have been able to get a consistent reproduction of this behavior by running the described test in quick succession. I haven't found a specific root cause that would explain the behavior as of yet but I hope to soon.

[2021-02-06 19:52] yurishkuro commented on #2760
nice!

[2021-02-07 01:48] Ashmita152 commented on #365
Hi @yurishkuro

I don't know if my skillset is good enough to solve this ticket but I would like to take a stab at it. I would like to ask you if you can summarise the work which is remaining here. My understanding from looking at the two PRs is that we just need to invoke the adaptive sampling processor from collector/main.go.

Thank you.

[2021-02-07 02:22] yurishkuro commented on #365
@Ashmita152 you're correct, I think pretty much all of the code is already in the repo, it just needs hooking up in the collector and exposing configuration parameters via flags. It would be fantastic if we can get this in, this last piece was outstanding for over 2yrs.

[2021-02-07 02:26] Ashmita152 commented on #365
Sure Yuri, I will give it a try. Thank you.

[2021-02-08 13:54] koalalorenzo commented on #1986
I am running into the same issue right now. Renaming seems very much like a temporary solution. Any other ideas?

[2021-02-08 14:21] jpkrohling commented on #1986
The naming clash will happen given the "right'' conditions. I don't think we ever received a PR to simply ignore the value of the env var in case it's not a valid number. If you are open to sending this PR, we can certainly consider incorporating it in the next minor version.

That said, the workaround is to override the env var with your own value, like `6831` or set [`enableServiceLinks: false`]

[2021-02-08 14:23] koalalorenzo commented on #1986
There is no option for `enableServiceLinks` in the Helm Chart :( https://github.com/jaegertracing/helm-charts/blob/master/charts/jaeger/values.yaml

[2021-02-08 14:27] jpkrohling commented on #1986
You should then really open an issue in that repository, hopefully followed by a PR ;-)

[2021-02-08 14:33] koalalorenzo commented on #1986
That is a good idea! I will do so, but I opened PRs there that never got merged reviewed 😢
Will you help reviewing or will I waste time again if I open a PR?

[2021-02-08 15:20] koalalorenzo commented on #1986
@jpkrohling PR added, now we wait 🤞

[2021-02-08 16:07] aug70 commented on #2718
@flf2ko it might be the case, because I had HotRod and my app creating indexes at the same time. I'm suspecting that's what caused this error. Unfortunately I have no access to the collectors, I had to have somebody to stop them so I could delete the indexes and restarted collectors. Problem solved after starting fresh. But it was an inconvenience.

[2021-02-08 16:21] jpkrohling commented on #1986
This shouldn't happen. Ping me if it get stuck again, no matter the PR.

Helm charts aren't my specialty, but I can bug people to review your PR :-)

[2021-02-08 19:00] davidcmitchell commented on #2249
@yurishkuro @rjs211 I know #2798 is to support TLS for the HTTP endpoint on the Collector server. Is there a plan to support mTLS for Client -> Collector? Happy to assist if you need additional help.

[2021-02-09 09:00] albertteoh commented on #2771
Had a look at this. The following test fails upon upgrading google.golang.org/grpc to 1.35.0:
[code]

I _think_ the panic is due to lack of support for marshalling structs like [`model.TraceID`](https://github.com/jaegertracing/jaeger/blob/master/model/ids.go#L35) to bytes. That is, the type switch determines our [target type is `bytes`](https://github.com/protocolbuffers/protobuf-go/blob/master/i

[2021-02-09 11:16] jpkrohling commented on #2771
@pavolloffay and I had similar problems in the past when trying to upgrade to 1.30, and I reckon Pavol did have a solution, but I can't remember exactly what it was. A change here would also imply a change to the protobuf image that we use to generate the IDL code. See:

https://github.com/jaegertracing/jaeger/issues/2443
https://github.com/jaegertracing/docker-protobuf/issues/17

From what I reme

[2021-02-09 15:41] yurishkuro commented on #2771
We're able to use custom types because of gogo. Unless gogo stopped supporting grpc completely, it probably requires simultaneous upgrade, because it looks like grpc serialization goes into normal proto instead of gogo.

[2021-02-10 14:44] jpkrohling commented on #2498
Sorry for the delay, I missed the notification. The linked PR should make publishing happen automatically to both docker.io and quay.io. For 1.21.0, I just pushed the following images there: jaeger-agent, jaeger-collector, jaeger-ingester, jaeger-query, all-in-one

[2021-02-11 15:54] yurishkuro commented on #2498
We probably need to pre-create all the repositories on quay:
[code]

[2021-02-11 16:07] jpkrohling commented on #2498
The account had permissions to push only to the jaeger-operator repository. I just changed it to be able to push to all repos.

[2021-02-11 16:21] yurishkuro commented on #2498
Doesn't help, I think repos must be manually created on quay first before the bot can push to them.

[2021-02-11 16:32] jpkrohling commented on #2498
Typically not, but for the robot account, it does seem to be the case.

[2021-02-11 16:44] jpkrohling commented on #2498
I'm creating the missing repos, but won't be done until probably tomorrow.

[2021-02-11 17:44] Ashmita152 opened #2810 "Release Process Broken in GHA"
**Describe the bug**
Hi @jpkrohling  @yurishkuro

I was testing releases process with my fork and I think I found two problems with docker images part of release process.

- The release version tagged docker images are built by the CI/CD runs for the PR "Preparing release <version>" In travis, dockerhub password was accessible even in the CI/CD triggered by that PR but in GitHub Actions, they aren

[2021-02-11 18:19] yurishkuro commented on #2810
Hi @Ashmita152

I am not sure I follow this one. The secrets are never available in PRs, neither in Travis nor in GHA, because making them available to PRs means someone can always put a PR that simply prints them to logs. The only time secrets are available is when the PR is merged to the main branch, which is also the only time when we want to publish the images to the official repos.

[2021-02-11 18:44] Ashmita152 commented on #2810
Hi Yuri,

I see. Then probably the way BRANCH value was populated in Travis maybe different than that of GHA.

Our script checks for BRANCH var to match regex for release branch which will only happen when CI is triggered from the PR. The CI run after PR merge will have BRANCH as "master".

Eg. https://github.com/Ashmita152/jaeger/runs/1881177338 run triggered by the PR (BRANCH=v1.22.0) but https:

[2021-02-11 19:08] yurishkuro commented on #2810
Yeah, sounds a bit off, but again, the settings in a PR run are not important since we don't deploy from them. Are you trying to get to the value of 1.22.0? It should not be in the run for the PR merge, but rather for the following run where the tag is applied (by doing a release).

[2021-02-11 22:16] joe-elliott commented on #2771
I was able to update the jaeger proto build image to use the latest gogo proto gen (v1.3.2), but I'm still running into this issue after regenerating all the proto.

I will continue to hack on this as I have time.

[2021-02-12 00:21] Ashmita152 commented on #2810
Thank you Yuri. Ah that's right. Sorry my mistake. I was looking at the wrong place. I also created that release with tag and here is the ci-release.yml run: https://github.com/Ashmita152/jaeger/runs/1880765044?check_suite_focus=true
This means there is only one problem: "docker push image" should just push all tags for images which isn't happening right now.

[2021-02-12 04:34] LostLaser commented on #2760
As mentioned a few days ago, I was able to reproduce the same error message mentioned in this issue by running this test case in quick succession given these conditions:
1. The docker container that hosts the Kafka/Zookeeper instance persists between runs (variance from the test suite that stops the docker process after each run)
2. The test case is ran, and then ran again at most approximately 15

[2021-02-12 05:39] yurishkuro commented on #2760
Thanks a lot for the details. This is above and beyond.

Do we have the same setup that multiple tests run against a Kafka broken that starts only once? Or do we only run the test once? In case of only-once test, the common problem in integrations is not ensuring that the dependency is ready. I am not sure if sarama has an API to do something like a "ping" to the broken to validate connection.

Re

[2021-02-12 14:20] jpkrohling commented on #2498
Done, looks like the build now works.

[2021-02-12 17:02] joe-elliott commented on #2771
So I can get tests to pass, but that's about the end of the good news.  There appears to be some incompatibilities between gogo proto, and `github.com/golang/protobuf` 1.4.x that are causing our problems.  Here are a few threads that reference similar issues:

https://github.com/gogo/protobuf/issues/686
https://github.com/gogo/protobuf/issues/678

So I can get tests to pass by forcing GRPC to use

[2021-02-12 18:14] yurishkuro commented on #2771
Wow, bad news about gogo. I tend to agree with your proposal that we need to move off of it.

The two biggest benefits we got from gogo are:

1. Custom type mapping for IDs. In thrift the IDs were explicitly encoded as ints for efficiency, resulting in somewhat ugly traceIdLow/High fields. In proto the IDs are bytes, but byte slices require extra allocations. By using custom types we were able to

[2021-02-12 20:23] #2810 closed

[2021-02-13 09:07] bhiravabhatla opened #2813 "Refactor Elasticsearch mapping code to implement cleaner design"
## Requirement - what kind of business use case are you trying to solve?
From @yurishkuro  comment - https://github.com/jaegertracing/jaeger/pull/2796#discussion_r571714232

* Create a struct SpanServiceMappingsBuilder and move all functions like GetSpanServiceMappings, FixMapping, LoadMapping to take that struct as receiver instead of passing a dozen parameters to them.
* This will also allow to

[2021-02-15 05:06] albertteoh opened #2814 "Error when `--es.use-ilm` is set without `--es.use-aliases`"
## Requirement - what kind of business use case are you trying to solve?

`--es.use-ilm` must always be used in conjunction with `--es.use-aliases` to ensure ES writers and readers refer to the single index mapping. Otherwise, ILM will not work as it does not have a rollover alias to work on.

As such, we should provide a useful error to users who mistakenly set `--es.use-ilm` without enabling `--

[2021-02-15 05:54] bhiravabhatla commented on #2814
Will pick this up

[2021-02-15 05:55] bhiravabhatla commented on #2814
Error message could be (from description) - "--es.use-ilm must always be used in conjunction with --es.use-aliases to ensure ES writers and readers refer to the single index mapping"?

[2021-02-15 06:38] yurishkuro commented on #2814
+1

[2021-02-15 07:14] LostLaser commented on #2760
I can give the RequiredAcks suggestion a shot as well as look into the Sarama ping! As for the test execution itself, I believe this is the only one that is running, but I’m not completely sure.

[2021-02-15 08:26] #2048 closed

[2021-02-15 09:05] jpkrohling commented on #2771
Do you still have the benchmark comparing the two cases?

[2021-02-15 15:22] yurishkuro commented on #2771
no, I don't recall committing it

[2021-02-15 15:39] jpkrohling commented on #2771
Would be good to create a benchmark for it then, as the advantages might not be enough to offset the dependency.

[2021-02-16 08:35] jpkrohling commented on #2781
Looks like Thrift 0.14 is now released: https://github.com/apache/thrift/releases/tag/v0.14.0

Any takers?

[2021-02-16 11:36] albertteoh commented on #2781
I can take a look at this.

[2021-02-17 06:29] albertteoh commented on #2781
@jpkrohling is there a way to confirm that this new thrift tag fixes issues #2638 and #2452? I also tried the reproducer in https://github.com/jaegertracing/jaeger/issues/2638#issuecomment-742592854 but I see the following output:
[code]
I was expecting some non-zero memory usage numbers and no error; but maybe I'm wrong?

@Mario-Hofstaetter, @zigmund: Were you able to confirm that changes in #278

[2021-02-17 07:46] zigmund commented on #2781
@albertteoh is there docker image containing https://github.com/jaegertracing/jaeger/pull/2780?
Or I should use `jaegertracing/jaeger-agent:latest`? Docker hub says it was pushed last time 2 days ago.

[2021-02-17 07:59] jpkrohling commented on #2781
`jaegertracing/jaeger-agent:latest` should indeed contain the fix.

[2021-02-17 08:04] jpkrohling commented on #2781
I would also expect something non-zero, but perhaps it's a rounding error? The message printed before that, about the failure to process the batch, is indicative that the problematic package was received and processing stopped. In unpatched versions, this would trigger the excessive memory consumption. In any case, you can also try the reproducer at https://github.com/Mario-Hofstaetter/jaegertraci

[2021-02-17 09:19] jpkrohling opened #2815 "[vote] Promote @albertteoh to maintainer"
@jaegertracing/jaeger-maintainers, I would like to nominate @albertteoh as our newest maintainer. Here are some stats:

* 30+ PRs merged across all repositories: https://github.com/search?q=org%3Ajaegertracing+is%3Apr+author%3Aalbertteoh+is%3Amerged
* 28 Reviews in the main repository: https://github.com/jaegertracing/jaeger/pulls?q=is%3Apr+reviewed-by%3Aalbertteoh

[2021-02-17 09:49] milon619 opened #2816 "Traces are not found when searching from the query UI"
**Describe the bug**
We are using Elasticsearch storage backend and the querier is able to discover the ES cluster and connect to it. I even tried an API request with a valid traceID which I found in the ES jaeger-span-* daily index, and its returning '[{"code":404,"msg":"trace not found"}]'

**To Reproduce**
Steps to reproduce the behavior:
1. Use ES as a storage backend
2. Traces are visible in

[2021-02-17 09:53] jpkrohling commented on #2816
@rubenvp8510, please take a look at this one as well. Seems similar to the problem you were investigating and couldn't reproduce.

[2021-02-17 09:56] jpkrohling commented on #2816
Might be related to jaegertracing/jaeger-ui#636

[2021-02-17 09:56] sschne opened #2817 "Unique Docker image tags for opentelemetry components"
## Requirement - what kind of business use case are you trying to solve?

We want to use unique docker image tags to always ensure image versions are consistent. This helps to avoid breaking changes to be automatically deployed to our infrastructure.

## Problem - what in Jaeger blocks you from solving the requirement?

The opentelemetry components are currently only being released with the `lates

[2021-02-17 09:59] jpkrohling commented on #2817
I'd recommend not using those images for the time being. We changed the strategy for using OpenTelemetry as the base for the new Jaeger, and the final solution is likely to be incompatible with these images.

See https://github.com/jaegertracing/jaeger/discussions/2779

[2021-02-17 10:15] objectiser commented on #2815
+1

[2021-02-17 10:28] milon619 commented on #2816
We are not even able to see today's traces.

[2021-02-17 10:36] albertteoh commented on #2816
@milon619 this is a long-shot, but can you please try dropping the leading `0` in the traceID? i.e. search on `13198...`

[2021-02-17 10:55] kevinearls commented on #2815
+1

[2021-02-17 11:08] milon619 commented on #2816
It's the same 404 error even after dropping the leading '0' in the traceID

[2021-02-17 11:45] albertteoh commented on #2816
Is this happening on _every_ traceID you've tried or only sporadically on some traceIDs?

Another check I would perform is to make the exact same ES query as jaeger-query on the ES cluster through curl/postman. I may have this query lying around somewhere and will share if I can find it.

[2021-02-17 12:10] zigmund commented on #2781
@jpkrohling running over hour on `jaegertracing/jaeger-agent:latest` without memory issues.

[2021-02-17 12:13] sschne commented on #2817
Hi, thanks for clarification. We decided to use the standard collector for the moment until Jaeger v2 is ready. Closing.

[2021-02-17 12:13] #2817 closed

[2021-02-17 12:39] milon619 commented on #2816
This is happening for all traceIDs. It would be great if you can share the query that jaeger-query is making to ES API. Or may be some debug logging in the jaeger-query which could give some clue about it.

[2021-02-17 13:49] pavolloffay commented on #2815
+1

[2021-02-17 14:05] joe-elliott commented on #2815
+1

[2021-02-17 14:50] aditya-wework commented on #521
"level":"info","ts":1613572937.3705058,"caller":"peerlistmgr/peer_list_mgr.go:176","msg":"Connected to peer","host:port":"[::]:14267"} ... getting this error on running ./scripts/jaeger-all-in-one.sh command.

[2021-02-17 15:16] yurishkuro commented on #2815
+1

[2021-02-17 15:24] aditya-wework commented on #1313
level":"info","ts":1613572937.3705058,"caller":"peerlistmgr/peer_list_mgr.go:176","msg":"Connected to peer","host:port":"[::]:14267"} ... getting this error on running ./scripts/jaeger-all-in-one.sh command.

[2021-02-17 15:31] yurishkuro commented on #2817
@jpkrohling perhaps we need to change the messaging we have in the docs about the first cut of OTEL-based images.

[2021-02-17 15:54] jpkrohling commented on #2815
We have a new maintainer! Welcome, @albertteoh!

[2021-02-17 16:41] yurishkuro commented on #2815
Need to add to README

[2021-02-17 16:45] #2815 closed

[2021-02-17 18:40] yurishkuro opened #2819 "Do we need to do something to address Docker limits?"
CNCF has a solution if we need it https://github.com/cncf/servicedesk#my-project-is-affected-by-the-docker-hub-rate-limits-policy-changes-what-can-i-do

What I am not clear on is how we can verify if Jaeger pulls are being rate limited. So far nobody complained, and our own CI jobs were not affected.

[2021-02-17 20:59] joe-elliott commented on #2771
It seems that moving to `protoc-gen-go` is going to be problematic in other ways.  Regenerating proto and just trying to run tests in `./model` is pretty grim.

[code]

Issues
- protoc-gen-go does not generate methods like `Compare()` or `Equal()`.  The standard proto package does have an equal method which will hopefully act as a drop in replacement.  We might have to write custom functionality f

[2021-02-17 21:17] yurishkuro commented on #2771
And it doesn't look like this will improve anytime soon: https://github.com/golang/protobuf/issues/1225

[2021-02-18 07:06] albertteoh commented on #2815
Thanks everyone :)

[2021-02-18 09:40] jpkrohling commented on #2819
Good question. Is this still the latest stand?

On Quay, we have more than 18k pulls per day for the es-index-cleaner image: https://quay.io/repository/jaegertracing/jaeger-es-index-cleaner . The second most pulled image seems to be the agent, with about 200 pulls per day, with one day having more than 400 pulls. Given that DockerHub is still the one we use by default everywhere (docs, examples, b

[2021-02-18 10:46] jpkrohling commented on #2781
@albertteoh if you don't mind, I'll take this one as I have some free cycles and we could really have a new release soon :-)

[2021-02-18 10:49] albertteoh commented on #2781
Please go ahead @jpkrohling :)

[2021-02-18 12:20] albertteoh commented on #2816
@milon619 I think this is an example of what jaeger-query sends to elasticsearch. Note: the endpoint I hit locally is `localhost:9200/jaeger-span-2021-02-18/_search`:

[code]

Note I used `jaeger-span-2021-02-18` because I'm not enabling aliases. Also try `jaeger-span-*` if you still can't find it due to aliases or incorrect dates.

If you use the `--es.use-aliases` flag, then this could also be a

[2021-02-18 12:47] jpkrohling commented on #2781
I'm blocked by https://issues.apache.org/jira/browse/THRIFT-5353. I think we should move forward with the release without this issue here.

[2021-02-18 12:49] jpkrohling commented on #2734
I think we are ready for the release. Following the tradition, the newly appointed maintainer is invited to perform the release ;-)

[2021-02-18 12:49] milon619 commented on #2816
Ok, let me try that using curl in our local setup and see what ES returns.

[2021-02-18 12:57] jpkrohling commented on #2127
We need information in order to reproduce and eventually fix this. I'm closing this, but feel free to reopen if you can provide the information or a fix.

[2021-02-18 12:57] #2127 closed

[2021-02-18 13:01] jpkrohling commented on #2459
@Mario-Hofstaetter, are you able to test the latest image? If the problem was the same as #2638, your problem should have been fixed already.

[2021-02-18 14:55] Mario-Hofstaetter commented on #2459
@jpkrohling Unfortunately I'm too busy atm to test this 😢  , we have switched our dev setup to elasticsearch backend in the meantime.
Maybe @lichenglin has time to test it.

Anyway we'll have to keep `MaxPayloadSizeInBytes = 65000;` in OpenTelemetry exporter as stated in #2638
until a jaeger release is published.

[2021-02-18 21:33] cptkng23 commented on #1830
Is there any update on how to remove this tag. Be it UI or collector?

[2021-02-19 01:51] albertteoh commented on #2734
I would be honoured, working on it now

[2021-02-19 03:47] albertteoh commented on #2734
I'm planning to tag a jaeger-ui release, but master builds are failing due to a license scan check. I'm looking into the license scan error, but unable to proceed identifying the problematic file as I'm not a maintainer it seems:

<img width="775" alt="Screen Shot 2021-02-19 at 2 41 22 pm" src="https://user-images.githubusercontent.com/26584478/108454644-d18e8e00-72c0-11eb-9172-f1a29525479e.png">

[2021-02-19 05:20] yurishkuro commented on #2734
Link? I can check access.

[2021-02-19 05:24] albertteoh commented on #2734
Thanks @yurishkuro. [Here's the link](https://app.fossa.com/projects/git%2Bgithub.com%2Fjaegertracing%2Fjaeger-ui/refs/branch/master/483d2286bfc4430025e1c11f98813fddf266f790).

For context, I got there by going to https://github.com/jaegertracing/jaeger-ui, and clicking on the red "X", then clicking on the license check failed build.

[2021-02-19 05:31] yurishkuro commented on #2734
I don't have access either!

[2021-02-19 05:34] yurishkuro commented on #2734
I sent email to FOSSA support.

I don't think this is a new issue though, we can probably ignore it. Most likely the warning is coming from some build-time dependencies.

[2021-02-19 05:55] albertteoh commented on #2498
I believe this issue is addressed in #2783; closing for now.

[2021-02-19 05:56] #2498 closed

[2021-02-19 06:45] yurishkuro commented on #2734
btw,  would prefer to do the UI release without merging all those dependabot upgrades, I think they need a round of sanity check testing of the UI (unfortunately, unit tests do not fully cover UI).

[2021-02-19 06:51] albertteoh commented on #2734
okay, noted; would you like me to revert those last two merges I did (a minutes ago) or just not merge dependabot upgrades going forward?

[2021-02-19 10:04] milon619 commented on #2816
@albertteoh Tried the above query using curl and its returning results
`$ curl -k -XGET --header 'Content-Type: application/json' -H "Authorization:Basic xxxxxxxxxxxxxxx" https://ES_HOST/jaeger-span-2021-02-19/_search -d '
{
    "query": {
        "bool": {
            "should": [
                {
                    "term": {
                        "traceID": {
                            "boos

[2021-02-19 10:56] jpkrohling commented on #2734
Let's hold it until next Tuesday morning (your timezone, @albertteoh). I can do some manual testing on Monday.

[2021-02-19 11:13] albertteoh commented on #2734
Sounds good, @jpkrohling, I'll wait till Tuesday. I did perform some (basic) manual testing and things seemed fine so far, though I'm sure there are a number of features that I'm not familiar with.

On a related note, if this is something we'll need to do each time before tagging a new UI release, do you think we ought to have a document outlining manual sanity testing steps until we have enough c

[2021-02-19 11:30] albertteoh commented on #2816
Okay, we can definitely rule out ES. What do the logs show in your jaeger-query instance? I think if you're seeing a "trace not found" error, it means jaeger-query was able to successfully connect to ES with the correct auth credentials, which you did mention in the issue description as well.

Can you see a list of services in Jaeger UI? Or is it showing a 0 count?

![Screen Shot 2021-02-19 at 10

[2021-02-19 11:48] milon619 commented on #2816
Yes, we can see the list of services in the Jaeger UI.

Jaeger instance logs
[code]

[2021-02-19 15:27] yurishkuro commented on #2816
@milon619 please use GitHub paste for large output like the json above, inline it makes this issue difficult to follow.

@albertteoh it seems it would be very useful to log the es query, not sure if the driver allows that

[2021-02-20 04:42] #2814 closed

[2021-02-20 19:25] albertteoh opened #2821 "Log ES queries"
## Requirement - what kind of business use case are you trying to solve?

Lack of visibility into Elasticsearch queries executed by readers.

See: https://github.com/jaegertracing/jaeger/issues/2816#issuecomment-782147138

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Add a package-level helper function that can be used when logging service, operation a

[2021-02-20 19:33] albertteoh commented on #2816
@milon619 cool, please browse to a trace, get its traceID from the URL (e.g. http://localhost:16686/trace/3f51eb33d32f57d9) and enter it into the traceID Search bar to see if that works:

<img width="995" alt="Screen Shot 2021-02-21 at 6 29 08 am" src="https://user-images.githubusercontent.com/26584478/108606494-71a5fd80-740e-11eb-8eec-671bc91bbcb9.png">

@yurishkuro #2821: the client interface ha

[2021-02-22 06:01] milon619 commented on #2816
@albertteoh it's not working either

![image](https://user-images.githubusercontent.com/8054751/108668560-6384d980-7501-11eb-9e75-723f643645b8.png)

![image](https://user-images.githubusercontent.com/8054751/108668480-510aa000-7501-11eb-9963-096bc5248c1a.png)

![Uploading image.png…]()

[2021-02-22 06:06] milon619 commented on #2816
Hi @albertteoh , one question. How can I find the version of Jaeger Query instance ? The UI looks very different in our setup than the one in your screenshot.

[2021-02-22 10:16] albertteoh commented on #2816
@milon619 sorry I wasn't clear. I did not mean browse to a trace in Kibana, but browse to a trace using Jaeger UI:
- Select a service like "Routing"
- Click "Find Traces"
![Screen Shot 2021-02-22 at 9 12 37 pm](https://user-images.githubusercontent.com/26584478/108694223-e41ff600-7552-11eb-95b6-e76c71012e22.png)
- Click on a trace:
![Screen Shot 2021-02-22 at 9 14 33 pm](https://user-images.github

[2021-02-22 10:38] milon619 commented on #2816
@albertteoh what you have asked for is what is not working for us and that's why we opened this issue. Sorry if I misunderstood you.

[2021-02-22 10:40] milon619 commented on #2816
![image](https://user-images.githubusercontent.com/8054751/108697110-6d6e0300-7528-11eb-93bb-c8c228ee1a11.png)

[2021-02-22 12:28] arnitolog opened #2824 "zstd compression support for Kafka storage"
**Describe the bug**
I started to see the error below as soon as I enabled zstd compression on the collector side.
We are on jaeger 1.19.2 and Kafka 2.5.0

{"level":"error","ts":1613990679.9162657,"caller":"kafka/writer.go:58","msg":"zstd compression requires building with cgo enabled","stacktrace":"github.com/jaegertracing/jaeger/plugin/storage/kafka.NewSpanWriter.func2\n\tgithub.com/jaegertracin

[2021-02-22 13:00] jpkrohling commented on #2734
Absolutely, I was thinking about recording a BDD-style set of tests as I go through it this morning, but I might not have enough time. Feel free to suggest an initial set of tests, I can certainly help to review it!

[2021-02-22 13:07] jpkrohling commented on #2824
If it requires cgo, we will probably remove support for this feature.

[2021-02-22 13:22] arnitolog commented on #2824
as far as I can see sarama has switched from cgo to pure Go implementation for zstd in 1.24.0: https://github.com/Shopify/sarama/blob/master/CHANGELOG.md#version-1240-2019-10-09
https://github.com/Shopify/sarama/pull/1477

[2021-02-22 13:30] jpkrohling commented on #2734
I just tried the latest master branches (d9453e08a9683cca90e198db62768fe78dd1f9af and jaegertracing/jaeger-ui@35cc879f816eec15efa16e1981b542555db3c057) and it looks fine to me. One thing that I would like to get in before the release is the jaegertracing/jaeger-ui#702, as it fixes a CVE that was reported to me last week.

[2021-02-22 13:30] jpkrohling commented on #2824
In which case, we might want to bump the dependency. Would you like to give it a try?

[2021-02-22 13:38] arnitolog commented on #2824
yeah, will try to build it locally and see how it works

[2021-02-22 18:52] albertteoh commented on #2734
Thanks @jpkrohling, I noticed https://github.com/jaegertracing/jaeger-ui/pull/702 is merged now so I'll go head with tagging jaeger-ui, then create the PR for jaeger release v1.22.0.

[2021-02-23 04:40] obscurerichard commented on #1823
For what it's worth, I was able to build Jaeger for `armv7` just now using an amd64 Ubuntu 20.04 userland, go 1.6, and the latest d9453e08a9683cca90e198db62768fe78dd1f9af revision of `master`.

[code]
I then ran it on a 32-bit armv7 Raspberry Pi 2 system running Raspberry Pi OS (Debian Buster):
[code]
It started up fine on that system, but I haven't tested it further yet.

[2021-02-23 10:12] albertteoh commented on #2734
Cool, I've created an issue for this: https://github.com/jaegertracing/jaeger-ui/issues/708.

[2021-02-23 12:05] albertteoh commented on #2816
It's odd that you're seeing Services and Operations but no trace data. It's possible there's not data for `routing`.

Have you tried changing "Service" to `header-papi` (I noticed in your kibana screenshot) and increase the "Lookback" to a couple of days?

FWIW, here's the query that is sent from jaeger-query to Elasticsearch when you click on "Find Traces". I tested it out and looks to be returni

[2021-02-23 12:29] jpkrohling commented on #2816
@milon619 how critical is your tracing data? Would you be OK with sharing a dump of your ES privately with me, so that I can try to debug your problem further?

[2021-02-23 21:30] #2734 closed

[2021-02-24 05:34] milon619 commented on #2816
@albertteoh / @jpkrohling it turned out that we were running an old version of Jaeger querier image in our deployment and after updating it to 1.21 we are able to see again the traces in the UI. However, the strange thing is with the old version everything was working fine and suddenly one day it stopped working. @albertteoh maybe that explains why in the UI we're seeing Services and Operations bu

[2021-02-24 08:40] albertteoh commented on #2736
@jaegertracing/jaeger-maintainers and community, I wanted to checkin to see if we're okay to go ahead with this proposal or if there are any outstanding questions/concerns that still need addressing?

[2021-02-24 10:18] #2816 closed

[2021-02-24 10:18] milon619 commented on #2816
Closing this issue

[2021-02-24 14:51] W3D3 opened #2832 "jaeger-query reports http.url in incorrect format"
**Describe the bug**
The jaeger-query itself reports traces. These traces do not adhere the [semantic specification for open tracing](https://github.com/opentracing/specification/blob/master/semantic_conventions.md#standard-span-tags-and-log-fields):

The **http.url** should be specified in standard URI format (e.g. "https://domain.net/path/to?resource=here") but only contains the path in this cas

[2021-02-24 15:35] yurishkuro commented on #2736
+1

[2021-02-24 15:50] yurishkuro commented on #2832
Full url makes sense in the client spans. Server spans may not have access to scheme/host/port.

[2021-02-25 09:18] jpkrohling opened #2837 "Organize the code repository to accommodate v2"
We talked before about reorganizing the code repository so that we can have both the current code plus the current contents of jaeger-otelcol in one place.

This task is to track the proposal and implementation for this.

[2021-02-25 09:18] jpkrohling commented on #2837
@joe-elliott Did you volunteer for this in the past? Are you still interested in working on this?

[2021-02-25 09:21] jpkrohling opened #2838 "Wrap the Query and UI as an OpenTelemetry Collector extension"
For v2, the Query and the UI are going to be packaged in two ways:

- Wrapped as part of an otelcol extension, to be used with the all-in-one distribution
- On its own binary, like today

The business code is pretty much the same, as the extension would just use the same HTTP handlers.

[2021-02-25 09:36] jpkrohling opened #2839 "Define the list of receivers, processors, and exporters for each binary"
We talked briefly in the past about the components we want for each binary, and this issue here is to track the state of our agreement. I'm writing from memory, and the final state will evolve based on your comments.

## Agent

Extensions:
- zpages
- Health Check
- pprof
- Remote sampling configuration (client)
- Remote sampling configuration (server)

Receivers:
- Jaeger Thrift via UDP
- Zipkin T

[2021-02-25 10:49] jpkrohling commented on #2816
I can't think of a reason for this to happen. @albertteoh any ideas?

[2021-02-25 11:21] jpkrohling commented on #2736
go go go!

[2021-02-25 11:40] albertteoh commented on #2816
Neither can I, I haven't come across a situation where services/operations are queryable but spans not; though technically possible because they reside in separate indices (`jaeger-service-*` and `jaeger-span-*`).

In this case, the `jaeger-span-*` index may have been corrupted, and updating jaeger may have, _somehow_ (I can't think of how), fixed the index. However, I would have thought version 1

[2021-02-25 12:38] W3D3 commented on #2832
I get the issue, but his makes it kind of inconsistent to work with automation software relying on this field being filled with a valid URI, but this is now more or less an issue with the standard and not Jaeger.
I guess this will be no issue when the standard will be changed to OpenTelemetry, as it differentiates between _http.url_ and _http.target_?

[2021-02-25 15:22] yurishkuro commented on #2832
hopefully OpenTelemetry Go implementation will have instrumentation that follows the standard that we could use.

[2021-02-25 15:22] #2832 closed

[2021-02-25 15:26] yurishkuro commented on #2839
missing sampling configuration servers

[2021-02-25 15:29] jpkrohling commented on #2839
Added "Remote sampling configuration (client)" and "Remote sampling configuration (server)" to the respective places.

[2021-02-25 17:07] joe-elliott commented on #2837
Yup, I can spend some time on this.  I was thinking:

[code]

Each processor/exporter/receiver would have a go.mod allowing it to be referenced by the otelcol-builder.  Then we could add makefile entries for calling the otelcol-builder like we have in jaeger-otelcol.

[2021-02-25 17:15] jpkrohling commented on #2837
For a v2 branch, if we decide to go this way, we could have something like this instead:

[code]

Each "final'' package (pkg/boundedqueue/, pkg/spi/storage/, exporter/badger/) would be a go module.

[2021-02-25 18:00] yurishkuro commented on #2837
fwiw, I strongly prefer organizing code by business functions, not implementation details.
  * `extension -> query` is the inverse of that, I don't care _how_ query is implemented, as extension or not.
  * processor & receiver are ok
  * `exporter -> badger` is a bit iffy, I'd say "storage" is a more important aspect of badger than "exporter" (however, in reality I would expect `exporter -> storag

[2021-02-25 19:57] jpkrohling commented on #2837
True. From otelcol's perspective, `extension`, `exporter`, ... are part of its business if we consider it as an ingestion pipeline. For Jaeger, the business isn't just ingesting the data, so, it does make sense to organize it differently.

But then, what about `pkg`?

[2021-02-25 20:05] yurishkuro commented on #2837
hehe, https://github.com/golang-standards/project-layout/issues/10

I would keep `pkg` the same as it is in Jaeger today, a collection of _standalone utils that could be theoretically moved out of the project_. NOT storage APIs.

Also, in retrospect I think the current Jaeger structure could've been better if storage was all under `storage/`, instead of only APIs being there, but the impls being u

[2021-02-25 20:18] yurishkuro opened #2843 "Remove dependency on github.com/grpc-ecosystem/grpc-gateway"
As far as I can tell, we are not using it today. The motivation for it was to have a canonical proto-based JSON API that would be used by the UI as well as a public API. But there are issues with proto-based JSON (e.g. IDs are represented in base64 instead of hex)
and updating the UI is a large task that we don't have the cycles for. I suggest we remove this dependency altogether until the time we

[2021-02-25 21:44] joe-elliott commented on #2771
So I've gone down the path of attempting to modify the codebase to handle the new proto and it is turning into an enormous undertaking.  There are field name changes, value to pointer types, lack of Equal/Compare methods, loss of custom gogo types (timestamp, descriptor, duration), and probably a bunch of things I haven't found yet.

I think the only paths forward are:
- Be patient and see if gogo

[2021-02-25 21:54] yurishkuro commented on #2771
Another alternative I was thinking of - doesn't OTEL Collector also solve this problem somehow? Afaik their internal domain model avoids pointers too.

[2021-02-25 22:14] joe-elliott commented on #2771
They do use gogofaster:

https://github.com/open-telemetry/opentelemetry-collector/blob/e6319ac4c6fce274b8ba2d0e3b8e5eb0fd0d6142/Makefile#L313

but  they don't use the "non-nullable" types:

https://github.com/open-telemetry/opentelemetry-collector/blob/e6319ac4c6fce274b8ba2d0e3b8e5eb0fd0d6142/internal/data/protogen/trace/v1/trace.pb.go#L382

Whether or not the code generated by gogoprotobuf works

[2021-02-25 22:33] yurishkuro commented on #2771
What does "forcing the codec" do? If it solves the problem that it looks fine to me.

[2021-02-25 23:07] yurishkuro commented on #1224
metrics are already self-describing

[2021-02-25 23:07] #1224 closed

[2021-02-26 04:01] bogdandrutu commented on #2771
Yes

We do use non-nullable for bunch of places see https://github.com/open-telemetry/opentelemetry-collector/blob/e6319ac4c6fce274b8ba2d0e3b8e5eb0fd0d6142/proto_patch.sed

Alternative solution is to make a custom grpc marshaler if you have troubles, but you should not have problems because that interface did not change

[2021-02-26 05:31] yurishkuro commented on #2771
@bogdandrutu what are your thoughts about this ticket? Is OTEL planning to stay with gogo, despite gogo being unsupported?

[2021-02-26 05:41] bogdandrutu commented on #2771
@yurishkuro one of the reason we actually don't expose gogo public and rather developed our own internal format `pdata` was that will allow us to change the proto compiler, and maybe one day to write our own "lazy" marshaler/unmarshaler that will parse and write directly to the data stream.

We will stick with gogo for at least the next 6+ months as our internal representation (behind the `pdata`)

[2021-02-26 05:46] yurishkuro commented on #2771
Thanks. We also do not expose gogo (well, almost, it does leak into grpc-plugin API), but right now it seems we're unable to upgrade to newer gRPC versions (unless I misunderstood Joe's comment about the custom codec).

[2021-02-26 05:58] bogdandrutu commented on #2771
I remember that you are very behind with the generated `protos` https://github.com/jaegertracing/jaeger/blob/master/model/model.pb.go#L31 this looks like you are using a very old protoc and gogo library in your docker. We are on a newer version still behind https://github.com/open-telemetry/opentelemetry-collector/blob/main/internal/data/protogen/trace/v1/trace.pb.go#L30 (the official proto)

[2021-02-26 10:46] albertteoh opened #2853 "Fix archive default values reported for ES and Cassandra"
**Describe the bug**
Noticed when @mehta-ankit_gitlab raised the following question in Gitter:

--es-archive.max-doc-count is set to 0 and --es-archive.max-span-age is set to 0s as default.
Does someone know, if these defaults mean age of the span (inside the archive index) is ignored when querying it.

When checking the `--help` docs, the default values are missing or incorrect for the `*-archive

[2021-02-26 14:02] jeffy-mathew commented on #2843
Hi, I would like to take this one

[2021-02-26 14:03] jeffy-mathew commented on #2843
/assign

[2021-02-26 16:25] yurishkuro opened #2855 "codecov.io routinely not returning success to the checks"
It posts a comment with code coverage summary, but does not post the checks

![image](https://user-images.githubusercontent.com/3523016/109326480-40ba3400-7825-11eb-8a40-292da5eee744.png)

@jaegertracing/jaeger-maintainers does anyone have any insights?

[2021-02-26 17:30] joe-elliott commented on #2771
Latest GRPC/protobuf is seemingly incompatible with only some features of gogoproto.  The one that we stumbled upon was custom marshalling/unmarshalling, but in this comment I link to a few others:

https://github.com/jaegertracing/jaeger/issues/2771#issuecomment-778316901

We run into these issues whether we use the Jaeger proto builder or the latest otel builder.  The below branch uses the lates

[2021-02-26 17:58] Ashmita152 commented on #2855
Hi @yurishkuro

I was reading this thread: https://community.codecov.io/t/codecov-status-stuck-at-waiting-for-status-to-be-reported-on-github/341/38

And found that probably its a bug with `uses: actions/checkout@v2` Changing it to `uses: actions/checkout@v1` may fix the issue

Example: https://github.com/contao/contao/pull/1605/files

[2021-02-26 18:47] yurishkuro commented on #2855
Thanks for digging this up. They don't say in which version it was fixed. We could trying pinning to 2.3.4 to see if that solves the problem. But we could also just check if logs contain the exact version of the checkout action being executed, it's most likely already the latest, yet doesn't solve the issue.

[2021-02-26 22:51] #2813 closed

[2021-02-27 03:30] yurishkuro commented on #2843
@jeffy-mathew it's yours

[2021-02-28 21:21] mehta-ankit commented on #2853
Thanks for creating this issue @albertteoh

[2021-02-28 21:54] mehta-ankit commented on #2853
Wanted to add a couple of other things to this issue:

- It does not sound right, but if someone wants archive option, how would they decide on the `--es-archive.max-span-age` value. Any value they set would mean that once past that value they cannot query the archived span. Doesn't it defeat the purpose of archiving a span ?? 🤔
- Since I was confused about the default values, i did a test. I manu

[2021-03-01 02:37] albertteoh commented on #2853
Fair questions, @mehta-ankit. Short answer is, `--es-archive.max-span-age` is not used when fetching archived traces.

Here's what jaeger-query does when fetching a specific trace by ID:

1. Try to find it in the current index (e.g. `jaeger-span-2021-02-26`):
[code]
2. If not found, [search in the `jaeger-span-archive` index](https://github.com/jaegertracing/jaeger/blob/5062366157fff65a052dc6ac677

[2021-03-01 13:07] mehta-ankit commented on #2853
Thanks for answering my question @albertteoh .
Based on your own answer, don't you think this (what you said in the issue description) is not the correct solution then ?
`I confirmed the defaults should be the same as the non-archive equivalents as these are the values used for archive flags internally if unset; i.e. this bug only impacts --help documentation.`

I feel if `--es-archive.max-span-ag

[2021-03-01 13:50] jpkrohling commented on #2837
Something like this then?

[code]

Just to confirm: you don't mean the current set packages, just the general concept, right? Quite a few of those packages would probably not be useful for v2.

Also, did we settle in using a v2 branch vs. v2 directory in the main branch?

[2021-03-01 16:15] yurishkuro commented on #2837
Is each binary going to have its own go.mod? That approach really bothers me. I've worked with monorepos before, and they always had a single set of dependencies, which is kind of one of the main points of the monorepo.

Yes, I am referring to the concept.

My preference is to keep everything in the main branch, refactor it as needed.

[2021-03-01 20:26] albertteoh commented on #2853
I agree, however, this only applies to `--es-archive.max-span-age` (as far as I know); `--es-archive.max-doc-count`'s default of `10000` is still used in the query and so showing `0` in documentation is misleading. As such, I still think the correct defaults should be shown in documentation.

I'll see if there's a way to selectively override the help documentation for `archive` namespaces. Current

[2021-03-01 20:39] yurishkuro commented on #2853
I thought we had code that would apply primary defaults to archive defaults, but I may be just confusing it with how we reused config files at Uber.

[2021-03-02 00:42] albertteoh commented on #2853
Yup, we have the means to apply primary defaults to archive defaults, but the primary default isn't passed into archive defaults, leading to the config's zero-values being adopted: https://github.com/jaegertracing/jaeger/blob/bf1cb8aecad50668f5cf8c51a4fc6f2e1ce62bec/plugin/storage/es/options.go#L114

We can see this reflected in the CLI help docs:

<img width="756" alt="Screen Shot 2021-03-02 at 1

[2021-03-02 01:25] yurishkuro commented on #2853
no good reason afaik. More like complicated code to allow both CLI-based and struct-based configuration (where structs are populated from configs)

[2021-03-02 01:34] albertteoh commented on #2853
Maybe that's why there's the `TODO` comment to use Cobra.

[2021-03-02 06:27] albertteoh commented on #2853
@mehta-ankit another option is to default `--es-archive.max-span-age` to the maximum allowable duration in Go (290 years) which is effectively the same as omitting the "lookback" time filter in the ES query. I think this is better than `0s` and the default `72h` which I think are both misleading, even in the presence of updating the documentation to indicate it is not used.

What do you think?

[2021-03-02 09:51] jpkrohling commented on #2837
Each OpenTelemetry Collector component needs to be its own go mod. In the current proposal, the following would be otelcol components:

* v2/agent/jaegerthriftudp/
* v2/collector/jaegerproto/
* v2/collector/jaegerthrifthttp/
* v2/query/extension/
* v2/remotesampling/extension
* v2/storage/badger/
* v2/storage/cassandra/
* v2/storage/elasticsearch/
* v2/storage/grpcplugin/

The otelcol-contrib is i

[2021-03-02 09:52] jpkrohling commented on #2837
Actually, it might be possible to change the builder to not require a go module... Let me scratch something.

[2021-03-02 16:22] mehta-ankit commented on #2853
I feel ideal solution is to not show the flag that is not used in code (as overwriting it has no impact).

But if we cannot do it (if it's not trivial) I agree that a large enough values makes it clear what time limit would be used for search and hence what spans might be returned. (which is all 😄 ). So i agree this is better than showing `0s` or `72h`

[2021-03-03 03:00] jeffy-mathew commented on #2843
@yurishkuro I need some help in generating proto files, how to remove the dependency from generated proto files?

[2021-03-03 03:07] yurishkuro commented on #2843
oh, you may need to make a change to jaeger-idl repo and remove the respective annotations from these files:
[code]

[2021-03-03 03:49] jeffy-mathew commented on #2843
about the changes in submodule `jaeger-idl`, do I need to raise a separate PR in that repo?

[2021-03-03 03:53] yurishkuro commented on #2843
Yes, a PR there and after it's merged update the submodule in this repo.

[2021-03-03 09:05] jpkrohling opened #2859 "Publish test report"
One feature I always missed from Jenkins was the ability to easily view the test report for a specific run, and apparently, there's a good candidate for this feature being proposed for the otelcol repository:

https://github.com/open-telemetry/opentelemetry-collector/pull/2531
https://github.com/EnricoMi/publish-unit-test-result-action

We should try it out in this repository as well.

[2021-03-03 14:14] pavolloffay commented on #2736
+1, This is great functionality and addition to the Jaeger project. Doing it at the collector with tail-based sampling makes a lot of sense.

The data itself can live in any (query compatible) storage, I see this as a pluggable feature like a dependency diagram (calculated by Spark).

[2021-03-03 15:49] yurishkuro commented on #2859
+1

[2021-03-03 18:41] bogdandrutu opened #2860 "Consider to upgrade thrift to 0.14.1"
See https://github.com/jaegertracing/jaeger-client-java/issues/769

[2021-03-03 19:01] yurishkuro commented on #2335
no longer needed

[2021-03-03 19:01] #2335 closed

[2021-03-03 19:01] yurishkuro commented on #1951
I assume this has been answered.

[2021-03-03 19:01] #1951 closed

[2021-03-03 19:05] yurishkuro commented on #2781
Thrift 0.14.1 was released, presumably fixing https://issues.apache.org/jira/browse/THRIFT-5353. We need to try to upgrade to it.

[2021-03-03 19:05] yurishkuro commented on #2860
Duplicate of #2781

[2021-03-03 19:05] #2860 closed

[2021-03-03 20:46] dekimsey commented on #2821
FWIW, the logging configuration itself is not being set on `es.client`, so log levels being set by jaeger don't affect the es client library. It would be helpful if those logging messages were populated when addressing ES issues.

I ran into this when my ES was throwing access errors. All that's currently logged is (in effect):
[code]

Looks like the client exposes a number of helpers that could s

[2021-03-04 16:40] #2781 closed

[2021-03-05 08:10] vchirikov commented on #2638
I faced with the same issue that was described in https://github.com/open-telemetry/opentelemetry-dotnet/issues/1372 on jaeger 1.22.0.

And yes, `MaxPayloadSizeInBytes = 65000` in `OpenTelemetry.Exporter.Jaeger` settings fixes the issue.
cc: @yurishkuro / @jpkrohling

[2021-03-05 08:14] albertteoh commented on #2821
Nice! Thanks for the tip @dekimsey, I think this is better than the initial proposal. I just tried out setting trace level logs and could see the query logged out, along with the results. I'll have a go at putting together a PR based on your suggestion.

[2021-03-05 09:32] albertteoh opened #2863 "Remove unused NewOptionsFromConfig"
[`NewOptionsFromConfig`](https://github.com/jaegertracing/jaeger/blob/bf1cb8aecad50668f5cf8c51a4fc6f2e1ce62bec/plugin/storage/es/options.go#L121) was introduced in #2262 relating to OTEL, which has since been removed.

[A search on `NewOptionsFromConfig`](https://github.com/jaegertracing/jaeger/search?q=NewOptionsFromConfig) in jaeger indicates it is unused.

[2021-03-05 13:11] uqix opened #2864 "COLLECTOR_ZIPKIN_HTTP_PORT does not work for jaegertracing/jaeger-collector 1.22.0"
**Describe the bug**

With env var `COLLECTOR_ZIPKIN_HTTP_PORT=9411`,  jaeger-collector 1.22.0 prints `Not listening for Zipkin HTTP traffic, port not configured`.

**To Reproduce**

Steps to reproduce the behavior:
1. Run jaeger-collector 1.22.0 with `COLLECTOR_ZIPKIN_HTTP_PORT=9411`
2. See logs

**Expected behavior**

`Listening for Zipkin HTTP traffic","zipkin host-port":":9411` as in v1.21.0

[2021-03-05 14:06] airen29 commented on #2864
I have the same issue and for now I did not find any solution.

[2021-03-05 14:26] albertteoh commented on #2864
@uqix Jaeger v1.22.0 has removed `COLLECTOR_ZIPKIN_HTTP_PORT` which was deprecated in an earlier release. Please use `COLLECTOR_ZIPKIN_HOST_PORT` instead:

[code]

For more details on flags that have been removed due to an expired deprecation notice, please refer to: https://github.com/jaegertracing/jaeger/releases/tag/v1.22.0.

[2021-03-05 14:30] airen29 commented on #2864
@albertteoh We are installing it via `helm chart` option (https://github.com/jaegertracing/helm-charts/blob/main/charts/jaeger/values.yaml) and there is still the same value.

So I guess change in helm chart is also needed.

[2021-03-05 15:18] yurishkuro commented on #2864
I was going to transfer the issue, but I see a new one was opened in helm-charts, so closing this.

[2021-03-05 15:18] #2864 closed

[2021-03-05 15:26] #2863 closed

[2021-03-05 15:30] sheetalsingala commented on #2859
Can I give this a try?

[2021-03-05 15:32] yurishkuro commented on #2859
go for it

[2021-03-06 14:00] #2843 closed

[2021-03-07 09:30] ChinYing-Li commented on #2676
Hi @yurishkuro , I could not reproduce this failure in jaeger at `bcda38b16283a72f5e2dbc2d3a7d938337a2eec9`:

[code]

[2021-03-08 10:00] jpkrohling commented on #2638
I'll try @Mario-Hofstaetter's reproducer against the released binary and see if I can reproduce it.

[2021-03-09 06:12] lujiajing1126 opened #2869 "Support trace propagation for gRPC plugin"
## Requirement - what kind of business use case are you trying to solve?

Support trace propagation for gRPC plugin

## Problem - what in Jaeger blocks you from solving the requirement?

Currently, the trace context is not propagated while using gRPC plugin system. Thus, for example, traces from query API called by UI app and those from actual gRPC plugin are separated. But, they are expected to w

[2021-03-09 07:24] LostLaser commented on #2760
It has been a while (longer than I had hoped) so I figure I might give an update on my findings. Currently, I am quite confident that the flaky behavior mentioned in this issue is caused by a race between the setup time of the Kafka cluster and the amount of time that the mentioned test is waiting for messages to be available to the consumer. While the solution does feel lackluster, I think increa

[2021-03-09 08:48] jpkrohling commented on #2760
I think we can try increasing the interval, especially as a temporary measure before a proper solution.

[2021-03-09 09:40] jpkrohling commented on #2837
I just confirmed that it is possible to build a distribution with multiple components coming from the same module.

[2021-03-09 10:13] albertteoh opened #2871 "Update documentation after switch from Gitter -> Slack"
This issue tracks the changes required as part of switching over from gitter to slack:

- [x] https://github.com/jaegertracing/jaeger/search?q=gitter - [PR](#2868)
- [x] https://github.com/jaegertracing/documentation/search?q=gitter - [Issue](https://github.com/jaegertracing/documentation/issues/478) | [PR](https://github.com/jaegertracing/documentation/pull/487)
- [x] https://github.com/jaegertra

[2021-03-09 15:19] yurishkuro commented on #2869
Did you consider proposing a PR to hashicorp/go-plugin? On the surface it sounds like a simple patch, and they have been merging PRs and doing new releases.

[2021-03-09 15:25] lujiajing1126 commented on #2869
Sure, I have made some progress and could have a try first.

[2021-03-10 02:21] Creator1024 opened #2872 "es-index-cleaner "ES_TLS_SKIP_HOST_VERIFY" does not work"
**Describe the bug**
I deploy jaeger in kubernetes with jaeger operator.
The storage is elasticsearch which expose a tls port with self-signed certificate.
I have set skip-host-verify options in jaeger:
[code]

And show cronjob I see  `ES_TLS_SKIP_HOST_VERIFY` env has been set "true"
[code]

jaeger-collector can successfully connect to elasticsearch but es-index-cleaner throw exception:

[code]

*

[2021-03-10 02:40] #2853 closed

[2021-03-10 03:41] Creator1024 commented on #2872
It seemds that skipHostVerify does not work if a ca is set for ssl context?

https://github.com/jaegertracing/jaeger/blob/6072ef2e6c00ca5a4ad6fc2515869405cd4704b8/plugin/storage/es/esCleaner.py#L102

[2021-03-10 12:37] lujiajing1126 commented on #2869
Track PR https://github.com/hashicorp/go-plugin/pull/168

[2021-03-10 17:48] #2821 closed

[2021-03-11 05:53] xaclincoln commented on #2638
I got the same issue , have tried 1.21 and 1.22 versions , both  agent memory > 10G occasionally.

[2021-03-11 07:57] Mario-Hofstaetter commented on #2638
I currently have no spare time for detailled tests 😢
I just did a quick run on play with docker (as described in https://github.com/jaegertracing/jaeger/issues/2638#issuecomment-740962869 ),
with docker images `latest` and `1.22.0`,
I did not see memory exploding to gigabytes, but I got it to a few hundert megabytes, and just then noticed that the agent container has already crashed a few times, m

[2021-03-11 14:54] jpkrohling commented on #2638
Looks like I could get to this with the original reproducer in our master:

[code]

[2021-03-11 14:58] jpkrohling commented on #2638
@fishy, does this ring a bell? I'll continue investigating but looks like THRIFT-5322 might not be fixed after all...

[2021-03-11 15:33] yurishkuro commented on #2760
Let's hope #2873 will solve the flakiness

[2021-03-11 15:33] #2760 closed

[2021-03-11 17:49] fishy commented on #2638
Note that the thrift fix does not "prevent all memory allocations". It only prevents the blindly allocation according to a malformed/malicious string header.

If you have malicious/malformed message with large string header claiming that this string has N bytes, in the old code it allocates N bytes upfront. In the fix it uses [`bytes.Buffer`](https://pkg.go.dev/bytes#Buffer), read **at most** N by

[2021-03-11 19:57] jpkrohling commented on #2638
@fishy, I agree with everything you said and I was about to argue something very similar in my previous message, but then I tried to add more pressure in the reproducer and came up with the scenario I've shown earlier: in under 10s, the memory consumption went from near zero to more than 11GB for the `github.com/jaegertracing/jaeger/thrift-gen/jaeger.(*Span).ReadField10`, in a path that accepts da

[2021-03-11 20:34] fishy commented on #2638
Since it's udp only, can you try to use `&TConfiguration{MaxMessageSize: 100*1024}` (I used something larger than 65KB because it could be zipped payload), and see how's the memory usage?

[2021-03-11 20:37] fishy commented on #2638
Also since you mentioned `ReadField10`, which thrift struct is it and what's the type of the field with numeric id 10?

[2021-03-11 21:53] jpkrohling commented on #2638
It's a list: https://github.com/jaegertracing/jaeger/blob/78019b6849133bdedebe35d2a28fe00cce875958/thrift-gen/jaeger/jaeger.go#L1147-L1156

I'll try your suggestion with the custom TConfiguration tomorrow. Thanks for your support!

[2021-03-11 22:02] fishy commented on #2638
Containers (list/set/map) are not in that fix, and `TConfiguration` won't help them either (but I do think you should still apply the `TConfiguration` fix anyways). So this is actually a different issue (but kinda related to THRIFT-5322)

In some other thrift language packages (java I believe) we do have a sanity check on container size before doing the allocations. we do not have the in go librar

[2021-03-11 22:11] jpkrohling commented on #2638
@fishy not sure I understand that. Should this check be done in our business code, or should I change the generated code? I believe that it shouldn't be possible at all to allocate 11GB for a payload of under 65KB, no matter what data type is used in the payload, no?

[2021-03-11 22:28] fishy commented on #2638
The sanity check on container header should be done in thrift go library (`github.com/apache/thrift/lib/go/thrift`)

If you want to avoid allocation of the containers upfront after it passed the header sanity check, then that needs to be don in thrift compiler (in generated go code)

[2021-03-11 23:36] albertteoh opened #2875 "Remove deprecated --span-storage.type flag"
The deprecation notice was [first made on 8th Jan 2018](https://github.com/jaegertracing/jaeger/commit/8db7a11f21abc7433715741bdfdd5b873f866cd9#diff-caefdd9a976b1f008470978057e0b48f4d15e0dfdc8ae1fa7a0d7023ff68f888R61), which exceeds both the [3 month and N+2 release](https://github.com/jaegertracing/jaeger/issues/2113) deprecation expiry policy.

[2021-03-11 23:52] yurishkuro commented on #2875
This one is tricky, since the respective env var is not deprecated and is the only other way to set the storage type. I would suggest leaving this alone until v2.

[2021-03-12 03:04] albertteoh commented on #2875
Ah of course, I'll close this issue for now, thanks.

[2021-03-12 03:04] #2875 closed

[2021-03-12 06:10] alphavector commented on #649
Still no news?
Similar functionality was implemented by DataDog and logz.io
https://docs.datadoghq.com/tracing/connect_logs_and_traces
https://docs.logz.io/user-guide/distributed-tracing/correlate-traces

[2021-03-12 08:42] jpkrohling commented on #2638
Thanks for the clarification! I just opened https://issues.apache.org/jira/browse/THRIFT-5369 to address this.

[2021-03-12 09:56] jpkrohling commented on #649
Not yet, but if you have free cycles to contribute code for this feature, feel free to send a draft PR with a PoC based on @yurishkuro's proposal.

[2021-03-15 07:40] raz08 opened #2879 "Jaeger Agent - collector.host value from configmap not updating dynamically"
I have a configmap and I'm passing these configmap values as ENV variables in Jaeger agent daemon set deployment file. But when i update collector.host in configmap , it is not getting reflected in Jaeger agent.

Configmap
[code]

Daemonset

[code]

How to make this works dynamically? If I update configmap it should load/reload configuration and start connecting to updated collector.host . Help is

[2021-03-15 08:00] Ashmita152 commented on #2879
I think what you're asking is a k8s limitation: https://github.com/kubernetes/kubernetes/issues/22368

You need to trigger the deployment of jaeger-agent again once you update the configmap. You can find few workarounds mentioned in the above thread.

[2021-03-15 08:07] jpkrohling commented on #2879
In the v2 of the operator, we should be able to perform an automatic rollout whenever the configmap is updated. See https://github.com/open-telemetry/opentelemetry-operator/issues/197

cc @rubenvp8510

[2021-03-15 09:07] raz08 commented on #2879
Thanks @jpkrohling , @Ashmita152

Is there a way we can update the config without pod restart or rolling update. Lets say in Prometheus we have /-/reload API to reload the configuration which is mounted through configmap.

But here I see only way is to restart the pod because we setting config through ENVIROMENT variable. Is my understanding correct?

[2021-03-15 09:16] jpkrohling commented on #2879
Jaeger doesn't actually have a hot reload functionality for its main config file/options, so, even if we had hot-reload of env vars at Kubernetes level, it wouldn't help us that much. But any reasons to avoid a rollout? Given that Jaeger is quite lightweight, I don't see any disadvantages in that. Quite the opposite: if the new config has an error, the rollout would not kill the old pod with the w

[2021-03-15 16:30] jpkrohling commented on #2717
Might I assign this to you, @Ashmita152?

[2021-03-15 16:31] jpkrohling commented on #2568
Closing as it's not relevant anymore.

[2021-03-15 16:31] #2568 closed

[2021-03-15 19:48] #2837 closed

[2021-03-16 00:50] Ashmita152 commented on #2717
sure @jpkrohling

[2021-03-16 03:24] #1883 closed

[2021-03-16 08:14] jpkrohling opened #2881 "Build the in-memory storage"
As part of the v2, we need to implement the in-memory storage exporter based on our current in-memory storage.

[2021-03-16 10:32] jpkrohling opened #2883 "Setup CI for v2"
## Requirement - what kind of business use case are you trying to solve?

We need to set up a custom CI infra for the v2, as there are things from v1 that we might not need, do differently, or that don't exist yet.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

- [ ] Set the current CI to ignore PRs that include only changes to v2
- [ ] Create a new Mak

[2021-03-16 14:20] yurishkuro commented on #2883
It sounds like we are trying the "boil the ocean" approach. Are we saying that we're not going to reuse any of the existing code? I hope not. But if we only do the refactoring to support both v1 and v2 then there will be changes that must be tested for both versions.

[2021-03-16 14:30] jpkrohling commented on #2883
We are definitely going to reuse all of the "business'' code, but there are things that we need only for v2, and things we need only for v1, hence the split. Common things can be placed at the main workflow dir, and other things are so simple that we can simply duplicate without fear. My current idea is to get something building as part of v2 alone, and then later iterate and see what we can/shoul

[2021-03-16 14:34] yurishkuro commented on #2883
Any duplication is undesirable imo. Even the in-memory exporter needs to share code with v1, so it's unavoidable problem that we need to solve.

[2021-03-16 14:37] jpkrohling commented on #2883
Why is that? There are fundamental disparities between the otelcol code base and Jaeger, like in the handling of their own metrics. To keep current consumers of the v1 code working, I would simply copy the v1 code to v2, and change it there to fit the new code base. Whenever possible, we can share code, but making v1 a dependency of v2 is only going to give us headaches in the future.

[2021-03-16 16:43] yurishkuro commented on #2883
Copying code means we're going to have two copies to maintain, fix bugs in two places, duplicate new features being added, over several months at least. Not to mention that if prod-quality v1 is copied and modified, the confidence in the copy being prod-quality falls dramatically.

Pavol was able to implement the first iteration of OTEL binaries without duplicating code, with some refactoring. It'

[2021-03-16 16:54] jpkrohling commented on #2883
Agree that we'd have to fix bugs in two places, but we are not going to implement features for v1 only because we are adding a feature for v2.

Not sure I get this part. Care to expand?

Indeed, but we are not only having OpenTelemetry binaries, we are also having a major version change. We just can't have v2 depend on v1, it doesn't make any sense :-) We decided to go for a v2 also because, despi

[2021-03-16 17:05] nsphung commented on #2864
Please update the documentation https://www.jaegertracing.io/docs/1.22/getting-started/#all-in-one to reflect this deprecation.

[2021-03-16 17:09] yurishkuro commented on #2883
A code that is used in production - hi confidence. The same code that's copied & modified & not used in production - low confidence.

I am not getting your arguments in favor of copying. The situation with dependencies was due to a circular dependency where OTEL directly imports Jaeger packages for some receivers while we also depend on OTEL for framework. I am still not clear how we plan to addre

[2021-03-16 17:24] yurishkuro commented on #2864
@nsphung good call out, thanks. https://github.com/jaegertracing/documentation/pull/479

[2021-03-16 20:05] jpkrohling commented on #2883
Makes sense, thanks.

Removing otel a bit from the picture, what I'm saying is that it might be easier to evolve the code base if v2 is independent of v1. You might be right, it might be possible to have v2 depend on v1 and get away with it, and I'm willing to give it a try.

The current idea is to remove Jaeger from the open-telemetry/opentelemetry-collector repository while keeping it in the mai

[2021-03-16 20:30] yurishkuro commented on #2883
I agree about separate CI scripts, since we're generating a whole set of binaries that need to be tested.

I thought it was never there, they were importing directly from our repo.

[2021-03-17 07:55] raz08 commented on #2879
Yes agree jpkrohlin,

Does Jaeger has plans to support hot reload functionality? (i.e. config reload API).

And what is the plan in Jaeger operator? How are we solving this issue ? Is it with stakater/reloader or have something inhouse similar to that? And when can we expect this to be released in Jaeger operator?

[2021-03-17 08:05] jpkrohling commented on #2883
That's part of the confusion: they have OpenTelemetry components (receivers, exporters) that consume our code. The proposal is to move the actual components to our repo as well, along with the "translators". Concretely, these:

https://github.com/open-telemetry/opentelemetry-collector/tree/main/translator/trace/jaeger
https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/jae

[2021-03-17 08:09] jpkrohling commented on #2879
No, nor even for v2, I'm afraid.

Jaeger v2 will be based on OpenTelemetry Collector, and the Operator v2 will be based on the OpenTelemetry Operator, which has recently added support for issuing a new rollout when the config map backing the instance changes: https://github.com/open-telemetry/opentelemetry-operator/issues/197

[2021-03-17 10:00] jpkrohling opened #2884 "Add test facility to load traces from JSON files"
Context: https://github.com/jaegertracing/jaeger/pull/2882#discussion_r595217825

For v2, it would be good to have a facility that converts traces in JSON to OpenTelemetry Collector's `pdata.Traces`, to use as part of our tests.

[2021-03-17 14:25] yurishkuro commented on #2884
Standard protobuf has json serialization.

[2021-03-17 14:28] jpkrohling commented on #2884
pdata isn't protobuf, from what I remember. There should be some translation facility as part of OpenTelemetry Core though.

[2021-03-17 14:34] yurishkuro commented on #2883
I see, that makes sense. But if that move happens, are they still going to import these components statically, or only using the builder config? The latter would avoid direct go.mod circular dependency.

[2021-03-17 14:37] jpkrohling commented on #2883
I think they are building the binaries with something similar to the builder, but I think nobody is 100% sure at this point.

[2021-03-18 13:18] jpkrohling commented on #2883
I just sent a PR for this issue, taking into consideration what we have discussed here. I still have a bad feeling about having shared code between v1 and v2 and thought of some cases where it'll be tricky to manage. My main reference about Go modules for v2 is this: https://blog.golang.org/v2-go-modules, which does recommend copying the whole codebase to a new v2 directory.

As discussed in this

[2021-03-18 14:39] carlyn12 opened #2887 "Jaeger Showing 2 Traces With Same MessageId"
**Describe the bug**
I have two simple spring boot apps that communicate over jms and implement
opentelemetry auto tracing with jaeger. When sending the traces to my local jaeger instance, I see two different traces showing where one is correctly showing both spans end-to-end and the other appears to be a duplicate that has the same messageId as the consumer.

**To Reproduce**
Steps to reproduce t

[2021-03-18 14:56] jpkrohling commented on #2887
I'm afraid this is the wrong repository for this issue. Please, report it against the OpenTelemetry Java instrumentation, which is where you get the instrumentation libraries. In your case, Jaeger is only responsible for the backend.

[2021-03-18 14:56] #2887 closed

[2021-03-19 13:50] abhivaidya07 opened #2889 "Jaeger UI not able to show ingress-controller"
- I have created one ingress-controller over which grafana and prometheus is deployed. Then i deployed jaeger on top of nginx.
- I'm able to see jaeger-query in the service dropdown list but not the nginx-ingress controller that i have deployed.

- This is the configmap of my ingress-controller
[code]

### Please suggest how can i resolve this issue ??

[2021-03-22 05:22] abhivaidya07 commented on #2889
- Dockerfile that i'm using for building opentracing image
[code]
- abhishekvaidya/nginx-ingress:v1 is my own ingress controller image build from ingress-nginx helm chart.

[2021-03-22 07:34] #2872 closed

[2021-03-22 09:01] jpkrohling commented on #2872
Did you close this issue because it's not an issue?

[2021-03-22 09:04] jpkrohling commented on #2889
I think this isn't an issue for this repository. You might want to try getting help from the folks at nginx.

[2021-03-23 01:12] Creator1024 commented on #2872
Thanks, it's not an issue, I have solve this problem by setting index clean policy in elasticsearch.

[2021-03-24 10:33] albertteoh opened #2893 "Error/warn if TLS flags are used when tls.enabled=false"
## Requirement - what kind of business use case are you trying to solve?

Motivated by [this comment in Slack](https://cloud-native.slack.com/archives/CGG7NFUJ3/p1616518570051700):

## Problem - what in Jaeger blocks you from solving the requirement?

The user was, rightfully, confused when the `--es.tls.skip-host-verify` was set but wasn't working.

## Proposal - what do you suggest to solve the

[2021-03-24 13:16] yurishkuro commented on #2893
+1 to crash

[2021-03-25 08:55] jpkrohling opened #2896 "Comparative analysis: Jaeger clients vs. OpenTelemetry SDKs"
The Jaeger clients were built as implementations of the OpenTracing APIs for different languages, like Java, Go, among others. OpenTracing is eventually going to be retired, in favor of OpenTelemetry, and the natural path for the Jaeger Clients is to eventually be also retired.

Before we can recommend our users to use the OpenTelemetry SDKs instead of Jaeger Clients, we need to make sure that:

-

[2021-03-26 08:25] dsy3502 opened #2902 "Fix typo in CHANGELOG.md"
Fix typo in CHANGELOG.md line :345  "startegies" -> "strategies"

[2021-03-26 14:00] forestsword commented on #2638
I'm not sure if this is the same issue, but I hope so. I see very large allocations as well but on the `TraceIdHigh` here:

![prof](https://user-images.githubusercontent.com/31450008/112642551-b674e800-8e43-11eb-8ff6-fbcb7c29b736.png)

Which is an int64:

https://github.com/jaegertracing/jaeger/blob/78019b6849133bdedebe35d2a28fe00cce875958/thrift-gen/jaeger/jaeger.go#L1060-L1070

[2021-03-26 14:27] #2902 closed

[2021-03-26 17:52] #2824 closed

[2021-03-26 17:54] otisg commented on #1438
@jpkrohling is this still the case?
https://github.com/jaegertracing/jaeger/issues/638 is still open.  Are you saying this should really be closed because a completely different approach is being pursued?

I tried finding an issue for this, but could not find it.  Is there an issue for this?  Thanks!

[2021-03-26 18:03] yurishkuro commented on #1438
@otisg don't know about the issue, but the approach is that we're rebuilding Jaeger backend on top of OpenTelemetry collector, which has a mechanism of combining various packages (even from different repos) at build time without explicit code dependencies in the core. That means the storage implementations can directly implement storage interface and don't have to go through much less efficient gr

[2021-03-27 21:30] LostLaser commented on #2893
I would like to pick this one up. Is there a consensus that this incorrect configuration should be fatal?

[2021-03-28 08:36] albertteoh commented on #2893
@LostLaser I think an incorrect configuration should be fatal rather than just being logged and my understanding is @yurishkuro is on the same page (but please correct me if I'm wrong).

[2021-03-28 15:35] yurishkuro commented on #2893
Agreed

[2021-03-29 14:18] #2113 closed

[2021-03-29 14:49] aug70 commented on #2718
Running into this again! Just upgraded to Helm Jaeger version 0.43.3 and jaeger 1.22.0
[code]

[2021-03-29 17:01] aug70 commented on #2718
@jpkrohling I don't know what other info I can provide you? Please remove the `needs-info` tag because there isn't anything else I can provide here...

[2021-03-30 19:54] jpkrohling commented on #2718
@aug70 are you able to consistently reproduce this? If I just install Jaeger 1.22.0 using the current Helm charts on a minikube instance, will I face this issue?

[2021-03-30 20:00] jpkrohling commented on #1438
I don't think we have an issue tracking this specific feature, but we know it will be there for v2, which is being tracked here: https://github.com/jaegertracing/jaeger/milestone/15

[2021-03-30 20:08] jpkrohling commented on #2638
@forestsword are you able to consistently reproduce this? I was able to get a situation or two very quickly using @Mario-Hofstaetter's reproducer, but if you have a payload or client call that reproduces it with increased frequency, I could use it to verify whether the proposed Thrift fix will address this. See https://github.com/apache/thrift/pull/2359

[2021-03-30 20:09] jpkrohling commented on #2893
@LostLaser it's yours :-)

[2021-04-01 12:05] altexdim commented on #366
Hey everyone
What's the best library to use with Jaeger for PHP?

[2021-04-01 12:20] altexdim commented on #211
Hey everyone
What's the best library to use with Jaeger for PHP?
I didn't quite understand if we should use opentracing or opentelemetry api for the most recent jaeger backend, because it looks like even all-in-one build is based in opentracing, and opentelemetry is deprecated.

[2021-04-01 13:48] saktib commented on #211
Hi @altexdim , I would recommend using the official opentelemetry library https://github.com/open-telemetry/opentelemetry-php as there is a couple of reason behind it.

- As you can see on https://opentracing.io/ , now Opentracing and OpenCensus have merged to form Opentelemetry so you can use one single library to have your traces and metrics collected.

- Currently seeing the active development

[2021-04-01 19:43] altexdim commented on #211
@saktib Thank you very much for the quick reply

Actually I completely agree with you, and I was going to try open telemetry with jaeger recently. The idea was to set up the all-in-one jaeger docker container, and install open-telemetry php library, and make it work with very basic setup, just for the proof of concept. But when I opened up the latest documentation regarding jaeger they say that th

[2021-04-01 19:53] harinreddy opened #2915 "Unit test: Socket.testFailBind fails when run as "root""
** Description of the bug **
The following unit test fails when run as a privileged user ( “root”)
Socket.testFailBind

** How to reproduce **
As a “root” perform one of the following:
1)	mkdir build
cd build
cmake ../
make  -j 16

make test
The following message show the failure:
[ RUN      ] Socket.testFailBind
…./jaegertracing/jaeger-client-cpp/src/jaegertracing/net/SocketTest.cpp:84: Failure
E

[2021-04-01 20:02] yurishkuro commented on #2915
If this works, please propose a PR.

Out of curiosity, what is your motivation for running tests as root?

[2021-04-03 16:50] D-wenhao opened #2920 "Agent can't transfer data to controller!!!"
**Describe the bug**
jaeger agent report error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Jaeger using the Jaeger Operator
2. Create a POD application and inject Jaeger
3. Report the data through a Python script
[code]
4. Check the POD internal Jaeger-Agent container log

**Expected behavior**
After running the Python script, the client reports the data to the jaeger-agen

[2021-04-03 17:08] D-wenhao commented on #2920
The follow is jaeger-agent containers manifets yaml:
[code]

[2021-04-05 09:36] arjuncreativo opened #2922 "Our k8s provider mandates the use of backoffLimit <=3."
How can I set backoffLimit for storage type elasticsearch under esIndexCleaner and dependencies
time="2021-04-05T08:05:30Z" level=error msg="failed to apply the changes" error="admission webhook \"xxxxxx.webhook\" denied the request: Job spec in CronJob must set 'backoffLimit' <= 3" execution="2021-04-05 08:05:30.031265563 +0000 UTC" instance=jaeger-tracing-prd namespace=xxxxxxxxx

[2021-04-05 13:09] sshah90 commented on #2468
Hi, do we have any update on this?

We are planning to deploy Jaeger into our Azure stack but we don't have expertise in Cassandra.

[2021-04-05 13:43] lastchiliarch commented on #2567
Seems out of  date, I have checked the master branch that  cmd/opentelemetry had been removed. Maybe we could close this issue. @jpkrohling

[2021-04-05 14:19] #2567 closed

[2021-04-06 08:16] sivatarunp opened #2923 "Use of `startTimeMillis` for findTraces API , when es-aliases are used"
## Requirement - what kind of business use case are you trying to solve?

Improve the query performance in Jaeger, for Elasticsearch storage, when --es.use-aliases is set to true

## Problem - what in Jaeger blocks you from solving the requirement?

Currently, when we use aliases for Elasticsearch storage, the findTraces API  queries all indices present under jaeger-span-read alias (irrespective o

[2021-04-06 10:18] logeable opened #2924 "The response ContentType of HealthCheck.Handler is not application/json"
**Describe the bug**
The response ContentType of  HealthCheck.Handler is not application/json

**To Reproduce**
Steps to reproduce the behavior:
1. run an agent server
2. run ```curl -s -D - http://target-agent-server:14271/```
3. check the ContentType of http response header

**Expected behavior**
The response ContentType should be *application/json*

**Screenshots**
![image](https://user-images.

[2021-04-06 14:11] forestsword commented on #2638
@jpkrohling no I can't reproduce it myself. I run it as a service and somebody is probably sending something bad. But it is consistently getting oom killed. Any tips on how to track down the spans at a collector level? I can only think of building a fork with some more logging.

Or if you can point me to branch with the https://github.com/apache/thrift/pull/2359 I can build and verify that it fixe

[2021-04-06 16:38] fishy commented on #2638
@forestsword You can run `go mod edit --replace=github.com/apache/thrift=github.com/fishy/thrift@1bc6892 && go mod tidy` to use the code from the PR. You do need to pass in a [`TConfiguration`](https://pkg.go.dev/github.com/apache/thrift/lib/go/thrift#TConfiguration) with a reasonable `MaxMessageSize` set to actually limit the memory usage.

The PR actually also contains compiler changes and `go m

[2021-04-06 16:38] #2924 closed

[2021-04-07 07:01] judyQD opened #2927 "How to speed up consumer action in Jaeger ingester"
**Describe the bug**
I am using tracegen --> collector -->> kafka -->ingester --> ES.
And I found that it's kind of slow for ingester to pull spans in Kafka.
![image](https://user-images.githubusercontent.com/40418782/113823716-8fa6a200-97b1-11eb-992a-540539129fc4.png)

Ingester configuration is as below:

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/40418782/11382371

[2021-04-07 07:36] judyQD commented on #2927
help wanted

[2021-04-07 07:49] judyQD opened #2928 "Span lost in tracegen"
**Describe the bug**
I am using tracegen to do the performance testing.
When I set the duration with 600s, it generated spans: 14831883. But the flushed span is only 473153.
I also enlarge the max_queue_size, and short the flush interval. But the gap is still huge

Below is the log of tracegen:
[root@pl-038-control-01 tragegen]# kubectl logs tracegen-6d77458c88-4f4xj -f
2021-04-07T07:12:04.927Z

[2021-04-07 09:10] jpkrohling commented on #2638
If we provide you with a proposed fix, would you be able to determine whether the fix works? Are you constantly getting OOM Killed (multiple times a day, for example)?

I should be working soon on this one and I can prepare a container image with @fishy's and my own changes.

[2021-04-07 09:18] jpkrohling commented on #211
Where did you see this? We might need to change our docs, as the backend has nothing to do with OpenTracing API.

This page might also need some rewording, as it might be causing some confusion. Jaeger client libraries are implementing the OpenTracing APIs, but there are certainly other clients that folks might use to send data to a Jaeger Collector.

An alternative might be to have an OpenTelemet

[2021-04-07 09:31] jpkrohling opened #2930 "Bump github.com/go-openapi/strfmt"
The PR #2913 opened by dependabot brought a new version of github.com/go-openapi/strfmt, which seems to have a few API incompatibilities with the previous version. This ticket is about making the necessary changes so that we can upgrade to a newer version.

[2021-04-07 09:47] jpkrohling opened #2931 "Bump go.opentelemetry.io/collector"
The PR #2892 attempted to bump the otelcol dependency to 0.23, but a breaking change from that version would cause a test failure:

[code]

An [issue was opened](https://github.com/open-telemetry/opentelemetry-collector/issues/2783) requesting instructions on how to deal with this change, which resulted in this (see https://github.com/open-telemetry/opentelemetry-collector/pull/2793):

  - Users o

[2021-04-07 10:04] altexdim commented on #211
I have a couple of links for you

the documentation with OTEL support 1.21 - https://www.jaegertracing.io/docs/1.21/opentelemetry/

```At the moment Jaeger OpenTelemetry binaries are experimental and the configuration or behavior can change. The current progress can be tracked via issues tagged as area/otel.```

the latest documentation doesnt even has OTEL section https://www.jaegertracing.io/doc

[2021-04-07 10:05] albertteoh commented on #2923
@sivatarunp that's an interesting find; did you get a chance to test this out to see how much of an improvement this change would make to the FindTraces query?

[2021-04-07 11:01] saktib commented on #211
@altexdim ,
I tried using jaegertracing all-in-one which runs all Jaeger backend components and UI as well so that we don't have to run any sidecar, this is my jaeger container setup on my docker-compose.yml

[code]

To use the opentelemetry client library, you can go through the examples https://github.com/open-telemetry/opentelemetry-php/tree/main/examples , specifically the AlwaysOnJaegerExampl

[2021-04-07 11:04] jpkrohling commented on #211
I see the confusion. The mentions to OpenTelemetry are related to the backend component, collector. We removed the documentation for it because the previous work on making Jaeger based on OpenTelemetry Collector has changed.

The mentions to OpenTracing are about the client APIs. The Jaeger Client libraries implement the OpenTracing interfaces so that applications instrumented using the OpenTracin

[2021-04-07 11:18] forestsword commented on #2638
Thanks @fishy that helped. @jpkrohling I was able to create a build with the thrift fix and had it run overnight to see if it fixed it and it most certainly did. The 1.22 version collectors oom multiple times an hour, the build hasn't been killed and runs with a stable memory usage, whereas the others would have 8-15gb spikes and be killed off. I'm happy to verify again with whatever you give me.

[2021-04-07 11:20] jpkrohling commented on #2928
How many spans are seen by the collector? Take a look at the /metrics endpoint in the admin port (14269 for all-in-one) and report what you see as part of the metric `jaeger_spans_received_total`

[2021-04-07 11:21] jpkrohling commented on #2638
Wonderful news! Are you able to open a PR with the changes you had to make? You might want to leave the dependency changes aside, as we'll bump it properly once @fishy's PR is merged and available in a release.

[2021-04-07 11:26] jpkrohling commented on #2927
Are you able to provide the metrics from both the ingester and from the collector components?

[2021-04-07 11:37] forestsword commented on #2638
I didn't need to change any code I only included @fishy's PR. I suppose that means it used the default of 100mb as `MaxMessageSize`.

[2021-04-07 11:43] jpkrohling commented on #2638
Looks like it then. How's the memory usage, are you able to share some numbers?

[2021-04-07 13:11] forestsword commented on #2638
So I made it hard for myself to get those numbers. It was previously running to get a 4th of the traffic. I've cut-over now to only use the build for all of the traffic here, which isn't much here (~300 spans per second). I had multiple containers previously to try and offset the oom kills. I'm back to 1 collector with this build with 4Gb limit.

Maybe not the most helpful shot but it gives you th

[2021-04-07 13:21] jpkrohling commented on #2638
Looks nice, thanks for sharing!

[2021-04-07 22:26] fishy commented on #2638
Good to hear that it helped!

A release would be half year away (we plan to do 0.15.0 release around September and there's no plan to do 0.14.2 release at this time, and this bug alone is unlikely to change that). You probably want to use the master branch version once that PR is merged (go mod actually makes that easy, but I also totally understand it if you only want to use tagged releases).

Al

[2021-04-08 02:24] judyQD commented on #2927
[metricsdata.zip](https://github.com/jaegertracing/jaeger/files/6275600/metricsdata.zip)

[2021-04-08 02:25] judyQD commented on #2927
not sure which metrics data you would like to check. Share you all the data in zip file. Thanks

[2021-04-08 03:02] judyQD commented on #2928
I did the test again, result is shown as below:
jaeger_collector_spans_received_total{debug="false",format="jaeger",svc="replica1_600_1",transport="http"} 526593

Tracegen log:
2021-04-08T02:44:47.274Z        INFO    command-line-arguments/main.go:62       Initialized global tracer
2021-04-08T02:44:47.280Z        INFO    tracegen/config.go:55   Duration has been set, traces will be forced to 0
202

[2021-04-08 03:08] yurishkuro commented on #2928
You may be generating spans faster than the SDK is able to send them out. The SDK has similar metrics for the number of spans created, finished, reported, dropped (although I am not sure tracegen enables those metrics).

Also, if you're reporting spans over UDP and the collector is not able to process them, some UDP packets will get lost.

[2021-04-08 05:44] judyQD commented on #2928
Thanks for your info. All the spans are reported over HTTP.
The main issue I am talking about the span is lost inside of tracegen. The generated spans are much more than the span reported to Collector.

[2021-04-08 06:51] jpkrohling commented on #2638
We can probably use what we did before 0.14.0, in that we forked the Thrift repository and tagged `v1.13.0-patch1` with your first fix. References:

https://github.com/jaegertracing/thrift
https://github.com/jaegertracing/jaeger/pull/2780

Will do, thanks! In theory, this could be the same as the max size of a UDP packet, right? I would set it to a couple of MiBs just to be on the safe side.

[2021-04-08 09:07] jpkrohling commented on #2928
Checking the metrics on the collector side would confirm that your counter is accurate. As @yurishkuro mentioned, the Jaeger Client for Go goes drop spans if more data is generated than it can flush, which would explain what you are seeing. Unfortunately, tracegen isn't exposing the client metrics, so that we can't confirm this is the case. I just opened a PR that exposes those metrics using the P

[2021-04-08 14:13] fishy commented on #2638
Also, since your tests shown that the library change alone is enough to fix your problems, I'm going to revert the compiler change from my PR, because that would have negative performance impacts for everyone. I can add that back later if it's proven necessary.

[2021-04-08 14:26] jpkrohling commented on #2638
Sounds good!

[2021-04-09 01:31] aug70 commented on #2718
@jpkrohling Yes I'm consistently reproducing this.

[2021-04-09 12:39] naseemkullah commented on #2121
The message should probably distinguish between invalid and missing span

[2021-04-09 14:24] MarianZoll commented on #2468
@sshah90 I did not had time to proceed with the implementation, so feel free to take over.

[2021-04-09 21:16] #2871 closed

[2021-04-11 13:46] KrishnaSindhur commented on #2930
can I look into it

[2021-04-12 07:47] flf2ko commented on #2718
I may found the solution.
I created a mapping for elasticsearch index pattern `jaeger-service-*`
The mapping is changed from
[code]
to
[code]
, then it worked.
It could be caused by using a wildcard query on a `text` type field instead `keyword` type field.
In original mapping, we need to query on `operationName.keyword` instead of `operationName` key.

[2021-04-12 10:51] flf2ko commented on #2718
hmm..I found this error would happen when do a (wildcard) query on a `text` type field instead of `keyword` type.
I found that my elasticsearch used mapping from dynamic mapping, so it is not the same as
 https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/es/mappings/jaeger-span-7.json

The mapping would be something like following format, via dynamic mapping.
[code]
In this case,

[2021-04-12 10:52] jpkrohling commented on #2930
It's yours, @KrishnaSindhur

[2021-04-12 10:53] jpkrohling commented on #2121
What would be an invalid span?

[2021-04-12 22:49] aug70 commented on #2718
I think the Jaeger version between collectors and the rest of the system caused this error. I put a PR to upgrade collectors and problem is now solved.

[2021-04-12 22:49] #2718 closed

[2021-04-13 01:53] naseemkullah commented on #2121
I did not think it through tbh.

If you have to ask I guess there are only missing spans and no invalid, in which case `missing parent span` is probably a better message in all cases.

Though at time of writing I was thinking e.g. a span with any of these invalid props:

[code]

[2021-04-13 08:52] judyQD commented on #2927
@jpkrohling Any finding and suggestion? Thx

[2021-04-13 08:55] judyQD commented on #2928
@jpkrohling @yurishkuro Thanks for your help. Yes, you are right, Jaeger Client drops spans.
Could you explain more, after creating the span, where are the spans stored in? Is there any ways to decrease the drop number? Thx.

[2021-04-13 09:03] jpkrohling commented on #2928
Spans are placed in an internal queue and picked up by workers. If the queue gets full, spans get dropped, which is what typically happens when your workers are too slow. This seems to be your case, as the network seems to be the bottleneck.

The typical way of sending spans from clients to Jaeger is via UDP to the agent, so that items are processed quickly in the client. The agent will batch the

[2021-04-13 09:11] judyQD commented on #2928
You are right I am using tracegen send spans to collector directly via HTTP transport.
1. could you point out the internal queue stores spans. I want to enlarge the queue and have a try.
2. cfg JAEGER_REPORTER_MAX_QUEUE_SIZE has been set to 30000, still many spans are dropped
3. I also set the flush interval: JAEGER_REPORTER_FLUSH_INTERVAL to 5ms, still many spans are dropped

[2021-04-13 09:11] jpkrohling commented on #2121
Spans with invalid data wouldn't be persisted, which would match the "missing'' case. The message could probably be changed to be "missing parent span (xyz)" instead, in my opinion.

[2021-04-13 09:14] jpkrohling commented on #2928
This would be the relevant reporter:

https://github.com/jaegertracing/jaeger-client-go/blob/99ac6dc786f933252951f55baf6b0d73db17c4dc/reporter.go#L194-L205

[2021-04-13 09:16] jpkrohling commented on #2927
No, sorry, not yet. @albertteoh, you also have some experience with the ingester, right? Are you able to take a look?

[2021-04-13 10:51] WalkerWang731 opened #2933 "ES index rotation mode can choice with day and hour"
## Requirement - what kind of business use case are you trying to solve?

As our Jaeger span count increasing, more and more large ES index size, the large size index will be caused more performance issues for the ES side. To avoid this issue, an hourly rotate index is the most convenient option when in systems with large amounts of data.
I think can provide a parameter for the user choice, the de

[2021-04-13 11:05] heruv1m opened #2934 "Can't receive spans with otlp protocol"
There is no mention in jaeger's documentation about otlp support in the last version, but it was in [previous version](https://www.jaegertracing.io/docs/1.21/opentelemetry/)
Also I found an unofficial [example](https://rehansaeed.com/exporting-open-telemetry-data-to-jaeger/) but it doestn't work too.
Is otlp still supported by jaeger?
How can I configure jaeger to receive spans(traces)?

[2021-04-13 11:13] jpkrohling commented on #2934
A preview component in a previous version was able to ingest OTLP spans. The main binaries were never able to ingest that. We decided to change our approach to OpenTelemetry, making it our new base for v2, and we are probably going to be able to ingest OTLP by then. I wasn't aware of this example, and it looks like it does use the experimental component (`jaegertracing/opentelemetry-all-in-one`).

[2021-04-13 11:13] #2934 closed

[2021-04-13 11:42] naseemkullah commented on #2121
Ah ok I think this goes back to my original suggestion (if feasible): if the span has invalid data, the err message would mention that the span was invalid, whereas if it were simply never sent to jaeger, it would say missing.

[2021-04-13 22:19] JaneJeon commented on #1895
Ooh, super cool. Do we know if we use pg>8 features (mainly for RedShift compatibility) in the implementation?

[2021-04-14 20:04] wiardvanrij opened #2936 "Implement edns0 for rollover, init and cleaner jobs"
## Requirement - what kind of business use case are you trying to solve?

- When using Jaeger with Elasticsearch (ES)
- When the ES endpoint is a DNS entry containing all the data nodes
- When the number of data nodes > 'large' (i.e. ~20ish)
-- And therefore have a DNS request with a response > 512bytes

DNS requests will fail on the components:
- Rollover job
- Init jobs
- Cleanup jobs

This is b

[2021-04-14 20:09] wiardvanrij commented on #2172
I forgot to update this issue, but I could pin-point it to 'cloud provider' healthchecks on k8s nodes. As this relates to grpc, I've made an issue here: https://github.com/grpc/grpc-go/issues/4234 - When this gets resolved, the package could be updated in Jaeger.

[2021-04-15 08:05] muhammadn commented on #638
This is the only issue that is not closed. #2633 is closed so i am announcing my work to support s3 for jaeger as a plugin. We needed a cheap way to store data and elasticsearch is expensive for us (whether managed or self-managed)

I took the work done by the amazing team at Grafana for their loki code and use that to write an s3 plugin. It's still a WIP and it stores indexes locally and syncs ch

[2021-04-15 11:20] albertteoh commented on #2927
Unfortunately, I have very little practical prod experience with the ingester so I can't promise quality help here.

Having said that, taking a cursory look at the metrics provided shows some fairly large offset lags:
[code]

I'm not entirely sure why some lags are 0 and some are so large, maybe because the ingesters are only consuming from one partition? If that's the case then perhaps these metr

[2021-04-15 12:05] jkowall commented on #638
Interesting idea, good luck with the work @muhammadn. Remember, you'll have to figure out how to support querying for the data. My understanding of loki is that you can't do a free text search easily since the data is not all indexed. How will you support the querying of data with this new storage support?

[2021-04-15 14:26] muhammadn commented on #638
Thanks @jkowall ! Conversations like this is what motivates me. 🙌.

I've managed to pull out the data from s3 through cortex by querying it using promql (basically logql which is based on promql) - You're right that the data indexed only are the time and labels and i can make a search using the labels.

![Screenshot 2021-04-15 at 10 24 14 PM](https://user-images.githubusercontent.com/3349747/11488

[2021-04-15 14:39] jkowall commented on #638
The creator of Tempo @joe-elliott is a maintainer here at Jaeger and is also an engineer with Grafana Labs. We had this discussion, but right now Tempo cannot support the types of queries the Jaeger UI does today. I know that may change, at which point Tempo would be a good Jaeger backend, but today it cannot do everything necessary.

This is the compromise with something that doesn't do full text

[2021-04-16 09:25] albertteoh opened #2940 "Add requirements.txt for esRollover/Cleaner scripts"
## Requirement - what kind of business use case are you trying to solve?

Run `esRollover.py` or `esCleaner.py` just to see help docs.

## Problem - what in Jaeger blocks you from solving the requirement?

Results in the following error if dependencies aren't installed which is not a great user experience:
[code]

## Proposal - what do you suggest to solve the problem or improve the existing situa

[2021-04-16 09:30] albertteoh commented on #2936
Not knowing much about edns0, would it be a relatively straightforward change to adopt it?
Are you aware of any shortcomings using it?

[2021-04-16 09:43] wiardvanrij commented on #2936
I'm not that known with python but the implementation would simply be adding an extra argument; https://www.dnspython.org/docs/1.14.0/dns.resolver.Resolver-class.html#use_edns

edns is defined in https://tools.ietf.org/html/rfc6891

The shortcoming might be that some odd and old resolver cannot handle it. edns should be backwards compatible though. I've checked the code in for example Thanos and i

[2021-04-16 13:22] sivatarunp commented on #2923
@albertteoh . We have couple of things here.
1. Changing the timefield to startTimeMillis.
2. Adding a time range query with startTimeMillis field in the msearch query used to fetch individual trace data, in the findTraces page.
We observed a huge difference, in query times. It's more predominantly seen, when we have the hot and warm nodes setup. Same query got timed out without the above changes

[2021-04-16 13:58] sivatarunp opened #2941 "Improve Query Performance of GetTrace API for ES data source"
## Requirement - what kind of business use case are you trying to solve?

Improve the query performance of getTrace API in Jaeger, for Elasticsearch storage.

## Problem - what in Jaeger blocks you from solving the requirement?

Currently, for Elasticsearch storage, the GetTrace API  queries from max-span-age using search_after query. It's actually important or needed to do so because trace data c

[2021-04-16 16:54] yurishkuro commented on #2940
Don't we already have requirements.txt **somewhere**?

If it's somehow derived from ES distribution then perhaps we shouldn't tempt users to run the .py directly, but use a container image that we publish.

[2021-04-16 19:45] sshah90 commented on #2468
I made changes as mentioned here in my customize local `jaeger-cassandra-schema` image, but still getting the following error when I run the image.

[code]
Any Suggestions?

[2021-04-16 22:32] sohan commented on #465
For anyone else who stumbles on this issue, I was able to get IAM auth + signed requests working with Jaeger! I followed the hint from [this comment](https://github.com/jaegertracing/jaeger/pull/1036#issuecomment-622134869):
1. Deploy [aws-es-proxy](https://github.com/abutaha/aws-es-proxy) in the same VPC as Jaeger + AWS elasticsearch. Point it at your AWS elasticsearch VPC endpoint. Configure IAM

[2021-04-17 02:51] albertteoh commented on #2940
Nope. Not that I can see in this repo at least.

Ah yes, I should have looked around a bit more before creating this issue; I'd forgotten we have a docker image for ES rollover/cleanup.

Turns out the dependencies are installed when building the docker image:
https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/es/Dockerfile.rollover#L6

Thanks, Yuri. Closing this issue.

[2021-04-17 02:51] #2940 closed

[2021-04-17 20:07] JWebDev opened #2943 "jaegertracing/opentelemetry-all-in-on: ES_TLS_SKIP_HOST_VERIFY/es.tls.skip-host-verify - does not work with self signed certificate,"
**Describe the bug**
I am trying to redirect/save opentelemetry spans to an elasticsearch which is signet with self made certificate. I can confirm that the "skip check certificate" works for example with grafana and fluentd. In the case of opentelemetry container is not working.

**To Reproduce**
Just run this docker-compose and try to connect to the https://elasticsearch:9200
[code]
[code]

**Ve

[2021-04-18 07:01] wucao opened #2944 "Prometheus 'Label value is not valid UTF-8' cause API timeout"
**Describe the bug**
Prometheus 'Label value is not valid UTF-8' cause API request timeout.

**To Reproduce**
Steps to reproduce the behavior:
1. docker run -d -e COLLECTOR_ZIPKIN_HOST_PORT=:9411   -p 5775:5775/udp   -p 6831:6831/udp   -p 6832:6832/udp   -p 5778:5778   -p 16686:16686   -p 14268:14268   -p 14250:14250   -p 9411:9411   jaegertracing/all-in-one:1.22
2. curl http://localhost:9411/%C0%

[2021-04-18 19:42] yurishkuro commented on #2944
We need to make the name sanitizing more strict. Right now it only swaps a couple of characters, but perhaps we should flip that and only allow a fixed set of characters (like alpha-num + forward-slash) and override everything else.

https://github.com/jaegertracing/jaeger-lib/blob/06ab55c11590042246ad0c7925b3b39d73a13d4a/metrics/prometheus/factory.go#L109

[2021-04-18 19:51] yurishkuro commented on #2944
Alternatively, we could avoid calling prom_client methods that panic and instead call those that return errors, in this case `hist.GetMetricWithLabelValues` instead of `hist.WithLabelValues`. Then use some kind of fallback. Even better if our own API was returning errors, but that would be breaking change.

https://github.com/prometheus/client_golang/blob/0400fc44d42dd0bca7fb16e87ea0313bb2eb8c53/p

[2021-04-19 03:27] albertteoh commented on #2923
@sivatarunp are you able to quantify the query time improvement by providing some numbers from your tests?

[2021-04-19 04:59] sivatarunp commented on #2923
@albertteoh Here is a panel I could build from grafana community dashboards. The current query took more than 4m and even timed out, where as with above changes results were under 1 min, for the same data set[](url)
<img width="1425" alt="Screenshot 2021-04-19 at 10 24 25 AM" src="https://user-images.githubusercontent.com/41666755/115183677-e25d5380-a0f9-11eb-967b-b8482b77995f.png">

[2021-04-20 02:53] albertteoh commented on #2923
Thanks for that, @sivatarunp. Your proposal sounds reasonable to me. It's not entirely clear to me why the [`startTime` field](https://github.com/jaegertracing/jaeger/blob/c5642b708be9e2577cc1c494889ae97946ccc78a/plugin/storage/es/spanstore/dbmodel/model.go#L58) to hold the microsecond unix epoch was created, perhaps for higher precision for sorting ES results and internal use. @pavolloffay?

Are

[2021-04-20 07:12] muhammadn commented on #638
@jkowall I've stabilised the code without any crashes now and I can query/see the data from Jaeger UI. 🎉  So moving forward i will test it out on production (using k8s) and see how it goes from then on. Thanks @jkowall  for your answers! 🙌  Also thanks to @yurishkuro for adding plugin support as without it, it would not be possible for me to write the code for s3 support.

Discussions on jaeger-s3

[2021-04-20 12:46] jpkrohling commented on #2944
Sanitizing would fix the issue at hand, calling methods that return errors would be a good solution for the unknown issues. Question: is this causing the collector to panic, or are we recovering somehow?

[2021-04-20 13:03] jkowall commented on #638
Cool! Nice job @muhammadn I'm curious how the performance is with a search using S3 in that manner. Are you planning on deploying or using this setup?

[2021-04-20 16:15] yurishkuro commented on #2633
Reopening this to link to @muhammadn 's work mentioned in https://github.com/jaegertracing/jaeger/issues/638#issuecomment-820213986

[2021-04-20 16:17] yurishkuro commented on #638
@muhammadn I re-opened #2633 and linked your repo at the top. Suggest moving discussions/updates there.

[2021-04-21 13:36] blame19 commented on #1824
Any update on the issue?

[2021-04-21 17:50] muhammadn commented on #2633
@jkowall So far for testing on my local machine on a 100Mbit connection to S3 for Jaeger UI is slow but bearable since we don't look into the trace data frequently.

We also had implemented Thanos on our infrastructure which we used to ingest the telemetric data and store on S3 and read again from S3 to Grafana so we had expected this on Jaeger-S3 plugin to Jaeger-UI.

We can live with it since th

[2021-04-21 18:38] joe-elliott commented on #2633
Very cool! If you are looking for a trace id do you pull each db independently and search them?  Are you coordinating parallelism somehow or do you do it one at a time?

[2021-04-21 20:36] sshah90 commented on #1940
Hi @yurishkuro

is this issue resolved?

I am seeing the same error in UI although I can see `dependencies_v2` table in Cassandra.

![Screen Shot 2021-04-21 at 4 35 16 PM](https://user-images.githubusercontent.com/26821376/115617598-90fec100-a2bf-11eb-99fb-6c94f2245b8c.png)

Do I have to run Spark job at least one time?

**Info:
Jaeger Version: 1.22.0
Deployed using Jaeger helm chart.**

[2021-04-22 04:07] muhammadn commented on #2633
Hey @joe-elliott! Thanks! Watched your Tempo video on Youtube FOSDEM and great that you're making progress!

I have not gone through the internals of cortex on how it manages the data on object storage but from what i understand is that the indexes are stored locally and the data (in chunks) is stored in the object storage.

Despite that i am seeing indexes being stored on s3 as well but the boltd

[2021-04-22 07:14] shubhmah57 opened #2949 "How to corelate 2 traces ?"
We have a problem, in which backend microservices (preferably written in spring boot)are called from a java based application, and we are using Jaeger to trace.

When Jaeger is used to tracing, the trace which is generated from the application which is used to call the Backend services isn't getting correlated with the traces generated for backend services.

Can there be any possible solution to t

[2021-04-22 08:41] jpkrohling commented on #2949
Could you please rephrase your question? I'm not sure I understood it. If possible, add screenshots to demonstrate the problem you are facing.

[2021-04-22 08:44] pavolloffay commented on #2933
Did you consider to use the rollover configuration?

[2021-04-22 11:31] jkowall commented on #2949
@shubhmah57 also please explain the instrumentation library or agent you are using to report the trace data to Jaeger. This sounds like a propagation issue, which is likely due to the trace context not being passed across other non-instrumented components.

[2021-04-22 12:40] sshah90 commented on #432
Hi @jpkrohling

I am seeing a similar kind of error on the ingester side.

[code]

I have checked [Cassandra schema scripts](https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/cassandra/schema/v003.cql.tmpl#L93) and I don't see any table name `operation_names`, not sure why ingester trying to insert data in that table.

**Info:
Jaeger Version: 1.22.0
Deployed using Jaeger helm char

[2021-04-22 15:36] sshah90 commented on #1940
well, I have run spark job still seeing the same issue.

logs from spark job

[code]

[2021-04-22 16:59] wenhx8 opened #2950 "same arg,2.12-2.2.0 kafka is ok,but 2.11-0.11.0.0 fail"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please complete the following information):**
 - OS: [e.g. Linux]
 - Jaeger version: [e.g.

[2021-04-23 04:06] albertteoh commented on #432
@sshah90 did you execute the cassandra schema scripts to bootstrap your tables? Did that execute successfully? From the [source code](https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/cassandra/spanstore/operation_names.go#L108-L111) and what you've described, it looks like neither `operation_names` nor `operation_names_v2` tables exist; can you confirm?

[2021-04-23 06:58] larsrnielsen opened #2953 "Support fine-grained IAM roles for service accounts"
Please support IAM roles for service accounts. Use case:

*background:*
- jaeger running in AWS EKS with AWS ES as backend.
- AWS ES domain is configured with a VPC endpoint.
- To control access to AWS ES there are the following options: AWS Security Group (IP address restriction), AWS ES access policy (IAM based access control), AWS Cognito, and/or fine-grained ES access control with ES users, gr

[2021-04-23 10:22] jpkrohling commented on #1940
@sshah90, are you able to reproduce this error consistently? If so, would you be able to give us the steps?

[2021-04-23 13:33] sshah90 commented on #1940
@jpkrohling

I just deployed it using helm chart and whenever I click on `system architecture` tab, I received errors then I ran spark job still it was the same, then from slack channel, Joe recommended restarting pods which solves the problem for me.

[2021-04-23 13:44] sshah90 commented on #432
@albertteoh

yes, I executed the Cassandra schema (deploying using helm chart) job to create schema and I see both tables [here](https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/cassandra/spanstore/operation_names.go#L65).

Well, I restarted ingester pods which resolved the issue but not sure why it was holding `v1` table name in the initial run.